{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Home{% endblock %}


{% block tab_content %}
        {% include 'account/referrer/header-with-global-stats.html.twig' %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="/js/referrer-campaign-income.js"></script>

    <script>var referrerCampaignIncome = new ReferrerCampaignIncome();</script>

    {% for item in userShops %}
        <script>referrerCampaignIncome.addShop('{{ item.userShop.shop.id }}');</script>
    {% endfor %}

    <script>
        var startDate = moment().startOf('month');
        var endDate = moment().endOf('month');
        var interval;
        var minDate = moment("{{ app.user.createdAt | date('Y-m-d') }}").startOf('month').format('YYYY-MM-DD');

        var renderShopList = function (startDate, endDate) {
            referrerCampaignIncome.renderShopsList(startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'))
        };

        $('[name=includeShop]').change(function () {
            $(this).parent().find('span').text($(this).is(':checked') ? 'Included' : 'Not included');
        });

        $('[name=includeShop]').change(function (e) {
            referrerCampaignIncome = new ReferrerCampaignIncome();

            clearInterval(interval);
            interval = setTimeout(function () {
                $.each($('input[name=includeShop]:checked'), function (i,item) {
                    referrerCampaignIncome.addShop($(item).val());
                });
                renderShopList(startDate, endDate)
            }, 1000);

        });

        var showDateDetails = function (date) {
            $('.current-month').html(startDate.format('MMMM'));
            $('.current-year').html(startDate.format('YYYY'));
        };

        var handleCalendarButtons = function () {
            if (minDate >= startDate.format('YYYY-MM-DD')) {
                $('#calendarPrev').addClass('inactive-element')
            } else {
                $('#calendarPrev').removeClass('inactive-element')
            }
            if (endDate.format('YYYY-MM-DD') >= moment().format('YYYY-MM-DD')) {
                $('#calendarNext').addClass('inactive-element')
            } else {
                $('#calendarNext').removeClass('inactive-element')
            }
        };

        $('#calendarPrev').click(function (e) {
            e.preventDefault();
            startDate.add(-1, 'month');
            endDate.add(-1, 'month');
            showDateDetails(startDate);
            renderShopList(startDate, endDate);
            handleCalendarButtons();
        });

        $('#calendarNext').click(function (e) {
            e.preventDefault();
            startDate.add(1, 'month');
            endDate.add(1, 'month');
            showDateDetails(startDate);
            renderShopList(startDate, endDate);
            handleCalendarButtons();
        });

        handleCalendarButtons();
        showDateDetails(startDate);
        renderShopList(startDate, endDate);
    </script>
{% endblock %}
