{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">

        <company-sidebar
            v-bind="{
                activeElement: 'Home'
            }"
        ></company-sidebar>

        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50 pl-0 pr-0">
                <div class="page-title income-title">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>{{ app.user.shop.name }}</h3>
                        </div>
                        <shop-stats-summary></shop-stats-summary>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}