<template>
    <div class="container setcards_page--container">
        <div class="setcards_page">
            <loading :active.sync="isLoading"
                     :can-cancel="true"
                     :is-full-page="true"></loading>

            <set-cards-header :datecreated="datecreated"/>
            <set-cards-layout-options/>
            <set-cards-filtering ref="filtering"/>
            <set-cards-content :coupon="coupon"/>
            <set-cards-footer/>
        </div>
        <modal name="setcards-generate-code-error" class="setCards_modal">
            <h4>You can not generate the set code before saving the cards</h4>
        </modal>
    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import SetCardsHeader from './SetCardsHeader';
    import SetCardsLayoutOptions from './SetCardsLayoutOptions';
    import SetCardsFiltering from './SetCardsFiltering';
    import SetCardsContent from './SetCardsContent';
    import SetCardsFooter from './SetCardsFooter';

    import Loading from 'vue-loading-overlay';

    export default {
        mixins: [Request],
        props: ['cardsetid', 'datecreated'],
        components: {
            SetCardsHeader,
            SetCardsLayoutOptions,
            SetCardsFiltering,
            SetCardsContent,
            SetCardsFooter,
            Loading
        },
        data() {
            return {
                setCardId: '',
                setCardName: '',
                containerWidth: 0,
                columnsNum: 2,
                cardsSize: 0,
                cardsList: [],
                activeCard: null,
                page: 0,
                isLoading: false,
                saved: false,
                setOfCardsCode: '',
                cardChangedByClick: false,
                currentReferrerLinkId: null,
                copyText: 'Copy to clipboard',
                copiedClass: false,
                coupon: null,
                marginTop: 0,
                marginRight: 0,
                marginBottom: 0,
                marginLeft: 0,
                currentCompanyId: 0
            }
        },
        mounted: function () {
            this.loadCouponInfo();
            if(location.hash === '#iframe') {
                this.iframe = true;
            } else {
                if(this.cardsetid){
                    this.isLoading = true;
                    let createCardSet = this.makeRequest(
                        'GET',
                        `/account/referrer/card-set/${this.cardsetid}`
                    );

                    createCardSet.then((res) => {
                        this.setCardId = res.data.id;
                        this.cardsList = res.data.cards.map((x) => {
                            return {
                                articleLink: x.article_url,
                                linkName: 'Article link',
                                description: x.description,
                                id: x.id,
                                referrerLink: x.referrer_link,
                                title: x.title,
                                saved: true,
                                img: '/media/' + x.background.media.file_name,
                                posLeft: x.background.position_left,
                                posTop: x.background.position_top,
                                imgWidth: x.background.width,
                                imgHeight: 0,
                                imgRatio: 0,
                                shareableLink: location.origin + '/' + x.referrer_link.shareable_link,
                                choosenLinkCard: null
                            }
                        });
                        this.cardsSize = res.data.cards_width <= this.cardsSize ? res.data.cards_width : this.cardsSize;
                        this.columnsNum = res.data.columns_count;
                        this.setCardName = res.data.name;

                        this.saved = true;

                        this.fillEmptyFields();

                        this.isLoading = false;
                    }).catch(() => {
                        this.isLoading = false;
                    });
                } else {
                    for(let i=this.columnsNum; i > 0; i--){
                        this.cardsList.push(this.getEmptyCard());
                    }
                }
            }
        },
        watch: {
            columnsNum: function () {
                this.fillEmptyFields();
            }
        },
        methods: {
            loadCouponInfo() {
                this.makeRequest('GET', `/account/referrer/card-set/coupon?shop_id=${this.currentCompanyId}`)
                    .then(response => {
                        this.coupon = response.data;
                    })
            },
            chooseCard: function (target) {
                this.activeCard = target;
            },
            getEmptyCard: function () {
                return {
                    id: Math.floor(Math.random() * 9999999) + 999999,
                        title: 'Enter Article Title Text',
                        img: '',
                        articleLink: 'Enter Article Link',
                        description: 'Enter Product Description',
                        saved: false,
                        posLeft: 0,
                        posTop: 0,
                        imgWidth: 0,
                        imgHeight: 0,
                        imgRatio: 0,
                        companyLink: null,
                        linkName: 'Article url',
                        shareableLink: '',
                        referrerLink: { id: '' },
                        choosenLinkCard: null
                }
            },
            generateSetOfCards: function () {
                if(this.saved == false || this.setCardId == ''){
                    // this.$modal.show('setcards-generate-code-error');

                    toastr.error('You can not generate the set code before saving the cards');

                    // setTimeout(() => {
                    //     this.$modal.hide('setcards-generate-code-error');
                    // }, 2000);

                    return false;
                }
                this.setOfCardsCode = `<div style="position: relative; margin-top: ${this.marginTop}px; margin-right: ${this.marginRight}px; margin-bottom: ${this.marginBottom}px; margin-left: ${this.marginLeft}px;" id="iframeContainer"><style>@media screen and (max-width: 996px) {#iframeContainer{margin: 0!important}}<\/style><script>window.addEventListener("message", event => {if (event.origin.startsWith("http://marfil.junior.dev.dige.com.pl")) {document.querySelector("#iframeContainer").style.height = event.data}})<\/script>`;

                this.setOfCardsCode += '<iframe id="marfilSetCard-'+this.setCardId+'" scrolling="no" style="width:100%; height:100%; border:none; outline:none; margin-top: 10px" src="'+location.origin+'/card-set/'+this.setCardId+'"></iframe></div>';
            },
            notifyWhenCopied: function () {
                this.copyText = 'Copied to clipboard';
                this.copiedClass = true;
            },

            fillEmptyFields: function () {
                let currentValNum = this.cardsList.length;
                let currentRowsNum = Math.ceil(this.cardsList.length / this.columnsNum);
                let expectedValNum = currentRowsNum * this.columnsNum;
                let missingVals = expectedValNum - currentValNum;

                if(missingVals > 0){
                    for(let i=missingVals; i>0; i--){
                        this.cardsList.push(this.getEmptyCard());
                    }
                }
            }
        }
    }
</script>
