<template>
    <div class="col-md-12 options_section card">
        <h3 class="card-title">General settings</h3>
        <div class="options_section_content section" style="flex-wrap: wrap">
            <div class="form-group col-md-4 card">
                <span class="section_header">Specify number of columns</span>
                <label for="2_cols"><input type="radio" name="num_cols" value="2" id="2_cols" :checked="$parent.columnsNum === 2" v-model="$parent.columnsNum"> 2 Columns</label>
                <label for="3_cols"><input type="radio" name="num_cols" value="3" id="3_cols" :checked="$parent.columnsNum === 3" v-model="$parent.columnsNum"> 3 Columns</label>
            </div>
            <div class="card_size col-md-4 card">
                <span class="section_header">Specify Size of Cards</span>
                <vue-slider :min="600" :max="$parent.containerWidth" v-model="$parent.cardsSize" @change="$parent.onCardSizeChange"></vue-slider>
                <div>{{$parent.cardsSize}}px</div>
            </div>
            <div class="row_buttons col-md-4 card">
                <span class="section_header">Add Multiple Rows</span>
                <div class="row_buttons_sub">
                    <button class="btn btn-outline-primary" @click="addRow">Add Row</button>
                    <button class="btn btn-outline-danger" @click="deleteRow">Delete Row</button>
                </div>
            </div>
            <div class="card_size col-md-4 card" style="height: auto">
                <span class="section_header">Set margin</span>
                <div>
                    <vue-slider :min="0" :max="100" v-model="$parent.marginTop"></vue-slider>
                    <div>{{$parent.marginTop}} px margin top</div>
                </div>
                <div>
                    <vue-slider :min="0" :max="100" v-model="$parent.marginBottom"></vue-slider>
                    <div>{{$parent.marginBottom}} px margin bottom</div>
                </div>
            </div>
            <div class="card_size col-md-4 card" style="height: auto">
                <span class="section_header">Set margin</span>
                <div>
                    <vue-slider :min="0" :max="100" v-model="$parent.marginLeft"></vue-slider>
                    <div>{{$parent.marginLeft}} px margin left</div>
                </div>
                <div>
                    <vue-slider :min="0" :max="100" v-model="$parent.marginRight"></vue-slider>
                    <div>{{$parent.marginRight}} px margin right</div>
                </div>
            </div>
            <div class="card_size col-md-4 card" style="height: auto">
                <span class="section_header">Set margin from your Set of Cards.<br>Scroll and verify on live preview</span>
            </div>
        </div>
        <modal name="min-cards-info" class="setCards_modal">
            <h4>You can not set less than one row</h4>
        </modal>
        <modal name="max-cards-info" class="setCards_modal">
            <h4>You can not set more than three rows</h4>
        </modal>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component';
    import Request from "../../../Mixins/Request";

    export default {
        components: {
            VueSlider
        },
        mixins: [Request],
        name: "SetCardsLayoutOptions",
        methods: {
            addRow: function () {
                if(this.$parent.cardsList.length < (this.$parent.columnsNum * 3)){
                    for(let i=this.$parent.columnsNum; i > 0; i--){
                        this.$parent.cardsList.push(this.$parent.getEmptyCard());
                    }
                } else {
                    // this.$modal.show('max-cards-info');
                    //
                    // setTimeout(() => {
                    //     this.$modal.hide('max-cards-info');
                    // }, 2000);

                    toastr.error('You can not set more than three rows');
                }
            },
            deleteRow: function () {
                if(this.$parent.cardsList.length > this.$parent.columnsNum){
                    for(let i=this.$parent.columnsNum; i > 0; i--){
                        let cardToRemove = this.$parent.cardsList.pop();
                        if(cardToRemove.saved == true){
                            this.$parent.isLoading = true;
                            let removeCard = this.makeRequest(
                                'DELETE',
                                `/account/referrer/card-set/${this.$parent.setCardId}/card/${cardToRemove.id}`
                            );

                            removeCard.then((res) => {
                                this.$parent.isLoading = false;
                            }).catch(() => {
                                this.$parent.isLoading = false;
                            });
                        }
                    }
                } else {
                    // this.$modal.show('min-cards-info');
                    // setTimeout(() => {
                    //     this.$modal.hide('min-cards-info');
                    // }, 2000);

                    toastr.error('You can not set less than one row');
                }
            }
        }
    }
</script>

<style scoped>

</style>
