<template>
    <div class="col-md-12 header_section section">
        <div class="header_section--card-name">
            <h3>Card name</h3>
            <input type="text" class="form-control" v-model="$parent.setCardName">
        </div>
        <div v-if="datecreated" class="header_section--date-generated">
            <span>Generated at: {{datecreated}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SetCardsHeader",
        props: ['datecreated']
    }
</script>