<template>
    <div class="card_body" :class="{ 'col-md-6 col-sm-6 col-xs-12': $parent.$parent.columnsNum == 2, 'col-md-4 col-sm-4 col-xs-12': $parent.$parent.columnsNum == 3 }">
        <p class="card_body--shareable-link">
            <!--<strong v-if="card.shareableLink || shareableLinkGenerate">-->
            <!--<a :href="card.shareableLink || shareableLinkGenerate" v-if="card.shareableLink || shareableLinkGenerate">{{ card.shareableLink ? card.shareableLink.replace(/http:\/\/.{+}\//g, '') : shareableLinkGenerate }}</a>-->
            <!--</strong>-->

            <strong v-if="shareableLinkGenerate">
                <a :href="getUrlOrigin + '/' + shareableLinkGenerate" v-if="shareableLinkGenerate">{{ shareableLinkGenerate }}</a>
            </strong>
            <strong v-if="!shareableLinkGenerate">
                <a style="color: red">Choose link to save</a>
            </strong>
        </p>
        <div class="card" :class="{ 'active': $parent.$parent.activeCard == card.id, 'disabled': card.saved == false && (!card.companyLink && !card.referrerLink.id) && $parent.$parent.$refs.filtering.currentCompanyLink.referrerLinkId }" @click="chooseCard" :data-ref="card.id">
            <div class="card_box">
                <a href="#changeImg" class="mystore--referrable-links__builder__preview__img-container__change-img-button" @click="$refs.fileInput.click()"><i class="fas fa-image"></i></a>
                <div v-if="coupon && coupon.code" style="    position: absolute;right: 10px;bottom: 20px;color: #1976D2;z-index: 9;border: 1px solid #1976D2;padding: 2px 15px;background: white; border-radius: 10px;line-height: 1.3;font-size: 12px;text-align: center;">{{ coupon.discount }}{{ coupon.discount_type === 'percent' ? '%' : '€' }} OFF</div>
                <FreeTransform :x="card.posLeft"
                               :y="card.posTop"
                               :scale-x="1"
                               :scale-y="1"
                               :width="card.imgWidth"
                               :height="card.imgHeight"
                               :angle="0"
                               :offset-x="0"
                               :offset-y="0"
                               :disable-scale="false"
                               @update="onPositionChange"
                               @dblclick=""
                               v-if="card.img && card.img.indexOf('sample_img') == -1"
                >
                    <div class="img-container" :style="{ 'width': card.imgWidth + 'px', 'height': card.imgHeight + 'px' }" v-if="showImg">
                        <img class="card-img-top" :src="card.img" :alt="card.name" :data-image-id="card.img">
                    </div>
                </FreeTransform>
                <div class="img-container sample_img" v-else :style="{ 'width': card.imgWidth + 'px', 'height': card.imgHeight + 'px' }">
                    <img class="card-img-top" :src="card.img" :alt="card.name">
                </div>
                <vue-slider :min="10" :max="1200" v-model="card.imgWidth" @change="onSizeChange" v-if="showImg"></vue-slider>
                <input style="display: none" ref="fileInput" type="file" @change="fileSelected"
                       enctype="multipart/form-data">
            </div>
            <div class="card-body">

                <!--<div v-click-outside="hideLink">-->
                <!--<p v-if="!linkEdit" class="card-link" @click="showField('link')">{{card.articleLink || 'Enter Article Link'}}</p>-->
                <!--<input v-else ref="linkInput" v-model="card.articleLink" @keyup.enter="linkEdit = false" placeholder="Enter Article Link">-->
                <!--<p v-if="!linkNameEdit" class="card-link-name" @click="showField('linkName')">{{card.linkName}}</p>-->
                <!--<input v-else ref="linkName" class="card-link-name" v-model="card.linkName" @keyup.enter="linkNameEdit = false">-->
                <!--</div>-->

                <div>
                    <!--                                <h3 v-if="!titleEdit" class="card-title" @click="showField('title')">{{card.title || 'Enter Article Title'}}</h3>-->
                    <textarea ref="titleInput" v-model="card.title" placeholder="Enter Article Title" maxlength="95" class="user-success" @input="setTextareaHeight()"></textarea>
                </div>


                <!--<div>
                    <p class="card-link">Enter Discount Text</p>
                </div>-->

                <!--<div v-click-outside="hideDescription">-->
                <!--<p v-if="!descriptionEdit" class="card-text" @click="showField('description')">{{card.description || 'Enter Article Description'}}</p>-->
                <!--<input ref="descriptionInput" v-else v-model="card.description" @keyup.enter="descriptionEdit = false" placeholder="Enter Article Description">-->
                <!--</div>-->
            </div>
        </div>
        <button class="btn btn-primary card-save-button" :class="{ 'disabled': card.saved == false && (!card.companyLink && !card.referrerLink.id) && !this.$parent.$parent.$refs.filtering.currentCompanyLink.referrerLinkId }" @click="checkAndSave">Save</button>
    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import FreeTransform from 'vue-free-transform'
    import VueSlider from 'vue-slider-component';
    import ClickOutside from 'vue-click-outside'

    export default {
        props: ['card', 'coupon'],
        mixins: [Request],
        name: "SetCardsContent",
        components: {
            FreeTransform,
            VueSlider
        },
        directives: {
            ClickOutside
        },
        computed: {
            showImg () {
                return this.card.img == '' ? false : true;
            },
            shareableLinkGenerate () {

                let $this = this;

                if(this.card){
                    let currentLink = this.$parent.$parent.$refs.filtering.filters.filter(function (el) {
                        return el.id == $this.card.referrerLink.id;
                    });

                    if(currentLink[0]){
                        return currentLink[0].shareable_link;
                    }
                }

                return null;
            },
            getUrlOrigin () {
                return window.location.origin;
            }
        },
        data: function () {
            return {
                titleEdit: false,
                linkEdit: false,
                linkNameEdit: false,
                descriptionEdit: false,
                highestTextareaHeight: 0
            }
        },
        mounted: function () {
            if(!this.card.img || this.card.img == ''){
                this.card.img = '/images/sample_img.png';
            }

            document.querySelectorAll('.card-body textarea').forEach((textarea) => {
                this.highestTextareaHeight = textarea.scrollHeight > this.highestTextareaHeight ? textarea.scrollHeight : this.highestTextareaHeight
            });

            this.$refs.titleInput.style.height = this.highestTextareaHeight + 'px';

            let img = new Image();
            let $this = this;
            img.onload = function(){
                if(!$this.card.imgWidth || $this.card.imgWidth == 0){
                    $this.card.imgWidth = this.width <= 1500 ? this.width : 1500;
                }
                $this.card.imgRatio = this.width/this.height;
                $this.card.imgHeight = $this.card.imgWidth/$this.card.imgRatio;

                if($this.card.img == '/images/sample_img.png'){
                    $this.card.posLeft = ($this.$el.querySelector('.card_box').offsetWidth - $this.card.imgWidth) / 2;
                    $this.card.posTop = ($this.$el.querySelector('.card_box').offsetHeight - $this.card.imgHeight) / 2;
                }
            };

            if(this.card.img){
                img.src = this.card.img;
            }
        },
        methods: {
            setTextareaHeight() {
                let rowNumber = 1;
                let rowClass = ''
                document.querySelectorAll('.card-body textarea').forEach((textarea, index) => {
                    let isThirdIteration = index % this.$parent.$parent.columnsNum === 0;
                    if (isThirdIteration) {
                        rowNumber += 1
                    }
                    rowClass = `textarea-${rowNumber}`
                    textarea.dataset.row = rowClass
                })
                this.highestTextareaHeight = 0
                document.querySelectorAll('.card-body textarea').forEach((textarea) => {
                    if (textarea.dataset.row === this.$refs.titleInput.dataset.row) {
                        textarea.style.height = 'auto';
                        textarea.style.height = textarea.scrollHeight
                    }
                });
                document.querySelectorAll('.card-body textarea').forEach((textarea) => {
                    if (textarea.dataset.row === this.$refs.titleInput.dataset.row) {
                        this.highestTextareaHeight = textarea.scrollHeight > this.highestTextareaHeight ? textarea.scrollHeight : this.highestTextareaHeight
                    }
                });
                document.querySelectorAll('.card-body textarea').forEach((textarea) => {
                    if (textarea.scrollHeight <= this.highestTextareaHeight) {
                        if (textarea.dataset.row === this.$refs.titleInput.dataset.row) {
                            textarea.style.height = this.highestTextareaHeight + 'px'
                        }
                    }
                });
                this.$refs.titleInput.style.height = this.highestTextareaHeight + 'px';
            },

            chooseCard () {
                this.$parent.$parent.activeCard = this.$el.querySelector('.card').dataset.ref;
                this.$parent.$parent.cardChangedByClick = true;

                if(!this.card || !this.card.referrerLink.id){
                    this.$parent.$parent.$refs.filtering.currentCompanyName = 'Choose company';
                    this.$parent.$parent.$refs.filtering.currentCompanyLink = 'Choose link';
                    this.$parent.$parent.$refs.filtering.currentCompanyCard = 'Choose card';
                }
            },
            onPositionChange (val) {
                this.card.posLeft = val.x;
                this.card.posTop = val.y;
            },
            onSizeChange (width) {
                this.card.imgHeight = width / this.card.imgRatio;
            },
            saveCard () {
                //let referrerId = this.card.referrerLink && this.card.referrerLink.id ? this.card.referrerLink.id : this.card.referrerLink;

                let referrerId = this.$parent.$parent.currentReferrerLinkId;

                if(this.card.saved){
                    let cardLink = this.card.articleLink || this.card.link;

                    let _data = new FormData();
                    _data.append('title', this.card.title);
                    _data.append('description', this.card.description);
                    _data.append('referrerLink', referrerId);
                    _data.append('articleUrl', cardLink);
                    _data.append('articleUrlName', this.card.linkName);
                    _data.append('background[positionLeft]', this.card.posLeft || 0);
                    _data.append('background[positionTop]', this.card.posTop || 0);
                    _data.append('background[width]', this.card.imgWidth || 0);
                    _data.append('_method', 'PATCH');

                    if(this.card.imageUploaded){
                        _data.append('background[media][file]', this.$refs.fileInput.files[0]);
                    } else {
                        _data.append('background[url]', window.location.origin + this.card.img);
                    }

                    this.$parent.$parent.isLoading = true;

                    let updateCard = this.makeRequest(
                        'POST',
                        `/account/referrer/card-set/${this.$parent.$parent.setCardId}/card/${this.card.id}`,
                        _data
                    );

                    updateCard.then((res) => {
                        this.$parent.$parent.isLoading = false;
                        toastr.success('Card saved');
                    }).catch(err => {
                        this.$parent.$parent.isLoading = false;

                        if(err.message == 'Request failed with status code 400'){
                            toastr.error('Please mark the card before you press save');
                        } else {
                            toastr.error('Save error. Please try again');
                        }
                    });
                } else {
                    let cardLink = this.card.articleLink || this.card.link;

                    let _data = new FormData();

                    if(this.card.imageUploaded){
                        _data.append('background[media][file]', this.$refs.fileInput.files[0]);
                    } else {
                        _data.append('background[url]', window.location.origin + this.card.img);
                    }

                    _data.append('title', this.card.title);
                    _data.append('description', this.card.description);
                    _data.append('referrerLink', referrerId);
                    _data.append('articleUrl', cardLink);
                    _data.append('articleUrlName', this.card.linkName);
                    _data.append('background[positionLeft]', this.card.posLeft || 0);
                    _data.append('background[positionTop]', this.card.posTop || 0);
                    _data.append('background[width]', this.card.imgWidth || 0);

                    this.$parent.$parent.isLoading = true;

                    let createCard = this.makeRequest(
                        'POST',
                        `/account/referrer/card-set/${this.$parent.$parent.setCardId}/card`,
                        _data
                    );

                    createCard.then((res) => {
                        this.card.saved = true;
                        this.card.id = res.data.id;

                        this.$parent.$parent.isLoading = false;
                        toastr.success('Card saved');
                    }).catch(err => {
                        this.$parent.$parent.isLoading = false;

                        if(err.message == 'Request failed with status code 400'){
                            toastr.error('Please mark the card before you press save');
                        } else {
                            toastr.error('Save error. Please try again');
                        }
                    });
                }
            },
            checkAndSave () {

                if(!this.$parent.$parent.setCardName){
                    // this.$modal.show('setcards-name');
                    toastr.error('Set of Cards Name is Required');

                    // let $this = this;
                    // setTimeout(() => {
                    //     $this.$modal.hide('setcards-name');
                    // }, 2000);

                    return false;
                }

                this.$parent.$parent.isLoading = true;

                if(this.$parent.$parent.saved){
                    let _data = new FormData();
                    _data.append('name', this.$parent.$parent.setCardName);
                    _data.append('columnsCount', this.$parent.$parent.columnsNum);
                    _data.append('cardsWidth', this.$parent.$parent.cardsSize);
                    _data.append('_method', 'PATCH');

                    let createSetOfCards = this.makeRequest(
                        'POST',
                        `/account/referrer/card-set/${this.$parent.$parent.setCardId}`,
                        _data
                    );

                    createSetOfCards.then((res) => {
                        this.saveCard();
                    }).catch(() => {
                        this.$parent.$parent.isLoading = false;
                    });
                } else {
                    let _data = new FormData();
                    _data.append('name', this.$parent.$parent.setCardName);
                    _data.append('columnsCount', this.$parent.$parent.columnsNum);
                    _data.append('cardsWidth', this.$parent.$parent.cardsSize);

                    let createSetOfCards = this.makeRequest(
                        'POST',
                        `/account/referrer/card-set`,
                        _data
                    );

                    createSetOfCards.then((res) => {
                        this.$parent.$parent.setCardId = res.data.id;
                        this.$parent.$parent.saved = true;
                        this.saveCard();
                    }).catch(() => {
                        this.$parent.$parent.isLoading = false;
                    });
                }
            },
            setImageUrl(image) {
                this.file = null;
                this.fileUrl = image;
                this.previewImage = image;
            },

            setImageFile(file) {
                this.file = file;
                this.fileUrl = null;
                this.previewImage = this.fileToUrl(file)

                let $this = this;

                let reader = new FileReader();
                let base64data;
                reader.readAsDataURL(file);
                reader.onloadend = function() {
                    base64data = reader.result;

                    let i = new Image()
                    i.onload = function(){
                        $this.card.img = i.src;
                        $this.card.imgWidth = i.width <= 1500 ? i.width : 1500;
                        $this.card.imgHeight = i.height;
                        $this.card.posLeft = 0;
                        $this.card.posTop = 0;
                        $this.card.imgRatio = i.width/i.height;
                        $this.card.imageUploaded = $this.$refs.fileInput.files[0]
                    };
                    i.src = base64data;
                }
            },
            fixBinary (bin) {
                var length = bin.length;
                var buf = new ArrayBuffer(length);
                var arr = new Uint8Array(buf);
                for (var i = 0; i < length; i++) {
                    arr[i] = bin.charCodeAt(i);
                }
                return buf;
            },
            fileToUrl(file) {
                return URL.createObjectURL(file);
            },
            fileSelected (e) {
                this.previewImage = this.fileToUrl(e.target.files[0]);
                this.setImageFile(e.target.files[0]);
            },
            showField (field) {
                if(field == 'title'){
                    this.titleEdit = true;
                    setTimeout(() => {
                        this.$refs.titleInput.focus();
                    });
                } else if (field == 'link'){
                    this.linkEdit = true;
                    setTimeout(() => {
                        this.$refs.linkInput.focus();
                    });
                } else if (field == 'discount'){
                    this.discountEdit = true;
                    setTimeout(() => {
                        this.$refs.discountInput.focus();
                    });
                } else if (field == 'linkName'){
                    this.linkNameEdit = true;
                    setTimeout(() => {
                        this.$refs.linkNameInput.focus();
                    });
                } else if (field == 'description'){
                    this.descriptionEdit = true;
                    setTimeout(() => {
                        this.$refs.descriptionInput.focus();
                    });
                }
            },
            hideTitle (evt) {
                if(!evt.target.classList.contains('card-title')){
                    this.titleEdit = false;
                }
            },
            hideLink (evt) {
                if(!evt.target.classList.contains('card-link')){
                    this.linkEdit = false;
                }
            },
            hideDescription (evt) {
                if(!evt.target.classList.contains('card-text')){
                    this.descriptionEdit = false;
                }
            }
        }
    }
</script>

<style scoped>

</style>
