<template>
    <div class="col-md-12 cards_section section card" v-if="$parent.cardsList && $parent.cardsList.length">
        <div class="col-md-12 cards_content section" :style="{ 'width': $parent.cardsSize + 'px' }">
            <set-cards-card v-for="card in $parent.cardsList" :coupon="coupon" :key="card.id" :card="card"/>
        </div>
        <modal name="setcards-name" class="setCards_modal">
            <h4>Card Name is Required</h4>
        </modal>
    </div>
    <div v-else role="alert" class="alert alert-info">There are no cards.</div>
</template>

<script>
    import SetCardsCard from './SetCardsCard';

    export default {
        name: "SetCardsContent",
        components: {
            SetCardsCard
        },
        props: ['coupon'],
        mounted () {
            this.$parent.containerWidth = this.$el.offsetWidth;
            this.$parent.cardsSize = this.$el.offsetWidth;
        }
    }
</script>

<style scoped>

</style>
