<template>
    <div class="col-md-12 col-xs-12 footer_section section">
        <div class="form-group" v-if="$parent.setOfCardsCode">
            <label for="embeded_code">Set of Cards Code</label>
            <textarea name="embeded_code" id="embeded_code" class="form-control" v-model="$parent.setOfCardsCode"></textarea>
        </div>
        <div>
            <button v-if="!$parent.setOfCardsCode" class="btn btn-success" @click="$parent.generateSetOfCards">Generate set of cards code</button>
            <button v-else v-bind:class="['btn', 'btn-four', {'clicked': $parent.copiedClass}]" @click="$parent.notifyWhenCopied" v-clipboard="$parent.setOfCardsCode">{{$parent.copyText}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SetCardsFooter"
    }
</script>

<style scoped>

</style>