<template>
    <div class="col-md-12 filtering_section section card">
        <h3>Configure set of cards</h3>
        <div class="col-md-12 card_filtering">
            <div class="card_filtering_content">
                <div class="filter-select-container">
                    <v-select id="companyName" :options="companyNames" v-model="currentCompanyName" :value="currentCardCompanyName" @change="companyNameChange" @click="openOption" placeholder="Company name" :disabled="!$parent.activeCard"></v-select>
                </div>
                <div class="filter-select-container">
                    <v-select id="companyLinks" :options="linksForCurrentCompany" v-model="currentCompanyLink" @click="openOption" placeholder="Company links" :disabled="!$parent.activeCard"></v-select>
                </div>
                <div class="filter-select-container">
                    <v-select id="companyCards" :options="currentCompanyName !== null && currentCompanyLink !== null ? cardsForCurrentCompany : [{ 'label': 'No cards', 'value': null }]" v-model="currentCompanyCard" @click="openOption" placeholder="Company cards" :disabled="!$parent.activeCard"></v-select>
                </div>
                <p class="filtering_section--comment">Click on the card area you want to edit and the select the company / link / card</p>
            </div>
        </div>

        <modal name="select-company-name" class="setCards_modal">
            <h4>First, please select Company Name</h4>
        </modal>

        <modal name="select-card" class="setCards_modal">
            <h4>First, please select target card</h4>
        </modal>

        <modal name="select-link" class="setCards_modal">
            <h4>First, please select Company Link</h4>
        </modal>

    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import uniq from 'lodash/uniq';
    import vSelect from 'vue-select';

    export default {
        name: "SetCardsFiltering",
        mixins: [Request],
        computed: {
            companyNames () {
                return uniq(this.filters.map(p => p.shop.name));
            },
            cardsForLink () {
                let $this = this;

                this.$parent.currentReferrerLinkId = this.currentCompanyLink.referrerLinkId;

                let currentLink = this.linksForCurrentCompany.filter(function (el) {
                    return el.referrerLinkId == $this.currentCompanyLink.referrerLinkId;
                });

                if(currentLink[0]){
                    return currentLink[0].value;
                } else {
                    return false;
                }
            },
            linksForCurrentCompany () {
                let companyName = this.currentCompanyName;

                let linksList = this.filters.filter(function (el) {
                    return el.shop.name === companyName;
                });

                let linksArray = [{ label: "Choose link", cardName: null, value: null, referrerLinkId: null }];
                linksList.forEach((elem) => {
                    if(elem.card && elem.card.title && elem.card.id){
                        linksArray.push({ /*label: elem.card.title,*/ label: elem.shareable_link, cardName:elem.card.title, value: elem.card.id, referrerLinkId: elem.id });
                    } else {
                        linksArray.push({ label: elem.shareable_link, value: null, referrerLinkId: elem.id });
                    }
                });

                return linksArray;
            },
            cardsForCurrentCompany () {
                let companyName = this.currentCompanyName;
                let currentCompanyLink = this.currentCompanyLink.label;

                let cardsList = this.filters.filter(function (el) {
                    return el.shareable_link === currentCompanyLink && el.shop.name === companyName
                });

                let cardsArray = [{ label: "Choose card", value: null }];
                cardsList.forEach((elem) => {
                    elem.card && cardsArray.push({ label: elem.card.title, value: elem.card.id, cardLinkId: elem.id });
                });

                return cardsArray;
            },
            cardsForCurrentLink () {
                this.currentCompanyCard = 'Choose card';

                return this.currentCompanyLink;
            },
            currentCardCompanyName () {

                if(this.$parent.activeCard){
                    let $this = this;
                    let currentCard = this.$parent.cardsList.filter(function (el) {
                        return el.id ==  $this.$parent.activeCard;
                    });

                    if(currentCard[0] && currentCard[0].referrerLink){

                        let currentReferrerLink = currentCard[0].referrerLink.id;

                        let currentFilter = this.filters.filter(function(el){
                            return el.id == currentReferrerLink;
                        });

                        if(currentFilter[0]) {
                            this.currentCompanyName = currentFilter[0].shop.name;

                            if(currentFilter[0].card){
                                this.currentCompanyLink = {
                                    //label: currentFilter[0].card.title,
                                    label: currentFilter[0].shareable_link,
                                    cardName: currentFilter[0].card.title,
                                    value: currentFilter[0].card.id,
                                    referrerLinkId: currentFilter[0].id
                                }
                            } else {
                                this.currentCompanyLink = {
                                    label: currentFilter[0].shareable_link,
                                    value: '',
                                    referrerLinkId: currentFilter[0].id
                                }
                            }
                            this.$parent.referrerLink = {id: currentFilter[0].id};
                        } else {

                            if(!this.currentCompanyLink.label){
                                this.currentCompanyName = null;
                                this.currentCompanyLink = {
                                    label: 'Choose link',
                                    value: null,
                                    referrerLinkId: null
                                }
                            }
                        }
                    } else {
                        this.currentCompanyName = null;
                        this.currentCompanyLink = {
                            label: null,
                            value: null,
                            referrerLinkId: null
                        }
                    }
                }
                return null;
            }
        },
        components: {
            vSelect
        },
        mounted: function () {
            let createCardSet = this.makeRequest(
                'GET',
                `/account/referrer/card-set/referrer-links`
            );

            createCardSet.then((res) => {
                this.filters = res.data;
            }).catch(() => {
            });
        },
        data: function () {
            return {
                activeOption: null,
                currentCompanyName: '',
                currentCompanyLink: '',
                currentCompanyCard: '',
                beforeFirstClick: true,
                filters: [],
                currentCompanyId: 0
            }
        },
        watch: {
            currentCompanyLink: function () {
                this.$parent.currentReferrerLinkId = this.currentCompanyLink.referrerLinkId;

                this.setLinkDataToCard();
            },
            currentCompanyCard: function () {
                this.onCardSelectChange();
                this.setCardDataToCard();
            }
        },
        methods: {
            companyNameChange (e) {
                const data = uniq(this.filters.map(p => p.shop));
                let found = false
                data.forEach((el) => {
                    if (!found && el.name === e) {
                        found = true
                        this.$parent.currentCompanyId = el.id
                        this.$parent.loadCouponInfo()
                    }
                })
            },

            openOption (evt) {
                if(evt.target.id === 'companyLinks' && !this.currentCompanyName){
                    // this.$modal.show('select-company-name');

                    toastr.error('First, please select Company Name');

                    // let $this = this;
                    // setTimeout(() => {
                    //     $this.$modal.hide('select-company-name');
                    // }, 2000);

                    return false;
                }

                if(evt.target.id === 'companyName' && !this.$parent.activeCard){
                    // this.$modal.show('select-card');
                    //
                    // let $this = this;
                    // setTimeout(() => {
                    //     $this.$modal.hide('select-card');
                    // }, 2000);

                    toastr.error('First, please select target card');

                    return false;
                }

                this.activeOption = evt.target.id;
            },
            setLinkDataToCard () {
                let $this = this;

                let currentCard = this.filters.filter(function (el) {
                    return el.shop.name === $this.currentCompanyName && el.card && el.card.id ===  $this.currentCompanyLink.value;
                });

                let currentLink = this.filters.filter(function (el) {
                    return el.shop.name === $this.currentCompanyName && el.id ===  $this.currentCompanyLink.referrerLinkId;
                });

                let activeCard = this.$parent.activeCard;
                let activeCardObj = this.$parent.cardsList.find(function (el) {
                    return el.id == activeCard;
                });

                if(activeCardObj && this.$parent.cardChangedByClick == false){
                    activeCardObj.companyLink = $this.currentCompanyLink.referrrerLinkId;

                    if(currentCard[0] && activeCardObj){
                        activeCardObj.link = currentCard[0].destination_url;
                        activeCardObj.title = currentCard[0].card.title;
                        activeCardObj.description = currentCard[0].card.subtitle;
                        activeCardObj.referrerId = $this.currentCompanyLink.referrerLinkId;
                        activeCardObj.referrerLink.id = $this.currentCompanyLink.referrerLinkId;
                        // activeCardObj.img = '/images/sample_img.png';
                        // activeCardObj.imgHeight = 151;
                        // activeCardObj.imgWidth = 201;
                        // activeCardObj.imgRatio = 1.3311258278145695;
                    } else {
                        if(currentLink[0]){
                            activeCardObj.link = currentLink[0].destination_url;
                            activeCardObj.title = 'Enter Article Title Text';
                            activeCardObj.description = 'Enter Product Description';
                            activeCardObj.referrerId = currentLink[0].id;
                            activeCardObj.referrerLink.id = currentLink[0].id;
                        }
                    }

                }

                if(activeCardObj && activeCardObj.choosenLinkCard && activeCardObj.choosenLinkCard == true){
                    this.currentCompanyCard = {
                        label:  this.currentCompanyLink.cardName,
                        value: this.currentCompanyLink.value
                    };
                } else {
                    this.currentCompanyCard = 'Choose card';
                }

                this.$parent.cardChangedByClick = false;
            },
            setCardDataToCard () {
                let $this = this;
                let currentCard = this.filters.filter(function (el) {
                    return el.card && el.id ===  $this.currentCompanyLink.referrerLinkId;
                });

                let activeCard = this.$parent.activeCard;
                let activeCardObj = this.$parent.cardsList.find(function (el) {
                    return el.id == activeCard;
                });

                if(currentCard[0] && this.currentCompanyCard.value != null && (this.currentCompanyCard.value != 'Choose card' && this.currentCompanyCard.value != 'No cards')){
                    let chosenImg = document.createElement("img")
                    chosenImg.src = '/media/' + currentCard[0].card.background_file_name

                    activeCardObj.choosenLinkCard = true;
                    activeCardObj.img = '/media/' + currentCard[0].card.background_file_name;
                    activeCardObj.posLeft = 0;
                    activeCardObj.posTop = 0;
                    activeCardObj.imgHeight = chosenImg.naturalHeight;
                    activeCardObj.imgWidth = chosenImg.naturalWidth;
                    activeCardObj.imgRatio = chosenImg.naturalWidth / chosenImg.naturalHeight;
                } else {
                    activeCardObj.choosenLinkCard = null;

                    if(!this.beforeFirstClick && this.currentCompanyCard != 'Choose card'){
                        activeCardObj.img = '/images/sample_img.png';
                        activeCardObj.imgHeight = 151;
                        activeCardObj.imgWidth = 201;
                        activeCardObj.imgRatio = 1.3311258278145695;
                        activeCardObj.posLeft = 0;
                        activeCardObj.posTop = 0;
                    }

                    this.beforeFirstClick = false;
                }

                this.$parent.cardChangedByClick = false;
            },
            onCardSelectChange () {

                let $this = this;
                let currentCompanyCard = this.currentCompanyCard.cardLinkId;

                if(currentCompanyCard){
                    let currentLink = this.linksForCurrentCompany.filter(function (el) {
                        return el.referrerLinkId == currentCompanyCard;
                    });

                    this.currentCompanyLink = {
                        cardName: currentLink[0].cardName,
                        label: currentLink[0].label,
                        referrerLinkId: currentLink[0].referrerLinkId,
                        value: currentLink[0].value,
                        changedByCard: true
                    }

                    let currentCard = this.filters.filter(function (el) {
                        return el.shop.name === $this.currentCompanyName && el.card && el.card.id ===  $this.currentCompanyLink.value;
                    });


                    let activeCard = this.$parent.activeCard;
                    let activeCardObj = this.$parent.cardsList.find(function (el) {
                        return el.id == activeCard;
                    });

                    if(activeCardObj && this.$parent.cardChangedByClick == false){
                        activeCardObj.companyLink = $this.currentCompanyLink.referrrerLinkId;

                        if(currentCard[0] && activeCardObj){
                            activeCardObj.link = currentCard[0].destination_url;
                            activeCardObj.title = currentCard[0].card.title;
                            activeCardObj.description = currentCard[0].card.subtitle;
                            activeCardObj.referrerId = currentCard[0].id;
                            activeCardObj.referrerLink.id = currentCard[0].id;
                        } else {
                            if(currentLink[0]){
                                activeCardObj.link = currentLink[0].destination_url;
                                activeCardObj.title = 'Enter Article Title Text';
                                activeCardObj.description = 'Enter Product Description';
                                activeCardObj.referrerId = currentLink[0].id;
                                activeCardObj.referrerLink.id = currentLink[0].id;
                            }
                        }

                    }

                }
            }
        }
    }
</script>

<style scoped>

</style>
