<template>
  <div class="signup-form">
    <div class="signup-form__top">
      <a class="navbar-brand" href="/"><i class="fa fa-hashtag"></i></a>
      <img width="40px" height="40px" :src="company_logo" alt="logo">
    </div>
    <h4 class="signup-title" style="text-align: center">
      <b class="signup-title__first">Sign up &</b> <br>
      <b class="signup-title__second">join {{ company_name }} partner program</b>
    </h4>
    <form :action="form_action" method="post" novalidate="novalidate" role="signup">
      <input type="hidden" name="register_referrer[_token]" :value="csrf_token">
      <div class="signup-form__content">

        <div class="form-group">
          <label>First Name</label>
          <input id="first-name" class="form-control" name="register_referrer[name]" type="text">
        </div>
        <div class="form-group">
          <label>last Name</label>
          <input id="last-name" class="form-control" name="register_referrer[surname]" type="text">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input id="email" class="form-control" name="register_referrer[email]" type="text">
        </div>
        <div class="form-group" :class="{'has-error': isError}">
          <label>Password</label>
          <input v-model="newPass" id="password" class="form-control" name="register_referrer[plainPassword][first]" type="password">
        </div>
        <div class="form-group" :class="{'has-error': isErrorConfirm}">
          <label>Confirm password</label>
          <input id="confirm-password" v-model="confirmPassword" class="form-control" name="register_referrer[plainPassword][second]" type="password">
        </div>
        <div class="act-protection">
          <div class="act-protection__top">
            <b>Data Protection Act</b>
            <p>The controller of your personal data is ValueLink, with a registered  office at {City}, <br>
              Please see more comprehensive informatiuon <a href="#">here</a></p>
          </div>
          <div class="act-protection__bottom">
            <label for="agreement">
              <input name="register_referrer[termsAndCondition]" type="checkbox" id="agreement" class="agreement" v-model="agreement"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, nam.</label>

          </div>
        </div>

        <button style="width: 100%" class="btn btn-primary btn-primary-outline mt-10" :disabled="!agreement" type="submit">SIGN UP</button>
      </div>
    </form>
    <div class="signup-form__footer text-center">
      <small>
        ValueLink © 2021 All rights reserved</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "SignUp",
  data: () => ({
    agreement: false,
    isError: false,
    isErrorConfirm: false,
    newPass: '',
    confirmPassword: ''
  }),
  props:{
    company_name:{
      type: String,
      default: ""
    },
    company_logo:{
      type: String,
      default: ""
    },
    form_action:{
      type: String,
      default: ""
    },
    csrf_token:{
      type: String,
      default: ""
    }
  },
  watch: {
    newPass(newVal) {
      const regex = '(?=.{6,})'
      this.isError = !newVal.match(regex)
    },
    confirmPassword(newVal) {
      this.isErrorConfirm = newVal !== this.newPass
    }
  }
}
</script>

<style scoped>
.signup-form__top {
  display: flex;
  margin-bottom: 20px;
}
.signup-form__title {
  max-width: 300px;
  margin-bottom: 20px;
}

.signup-form__title .signup-title__first {
  font-size: 26px;
  color: #1976D2;
}

.signup-form__title .signup-title__second {
  font-size: 20px;
  color: #6ad300;
}

.signup-form__content {
  max-width: 400px;
}

.form-group {
  border: 1px solid #1976D2;
}

.agreement {
  text-align: center;
  font-size: 12px;
  color: #1976D2;
}

.btn.btn-primary {
  width: 100%;
}
</style>