<template>
    <div>
        <button v-if="saving === false" @click.prevent="showAcceptModal" type="button" class="btn btn-xs btn-success">
            Accept
        </button>
        <button v-else type="button" class="btn btn-xs btn-success" disabled>Saving...</button>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['id', 'createdAt', 'purchaseValue', 'referrerProfit'],
        data() {
            return {
                saving: false,
                status: 2 // 2 = accepted
            }
        },
        mounted() {

        },
        methods: {
            showAcceptModal() {
                Swal.fire({
                    html: `Are you sure you want to accept this transaction?<br/>Created At: ${this.createdAt}<br/>Purchase Value: €${this.purchaseValue}<br/>Referrer Profit: €${this.referrerProfit}`,
                    title: 'Accept transaction',
                    showCancelButton: true,
                    type: 'success',
                    confirmButtonText: 'Yes, accept transaction'
                })
                .then((result) => {
                    if (result.value !== undefined) {
                        this.accept(result.value)
                    }
                })
            },
            accept() {
                this.saving = true;
                this.makeRequest('post', `/ajax/company/conversion/${this.id}/status`, {'status': this.status})
                    .then(() => {
                        location.reload();
                        this.saving = false;
                    })
            }
        }
    }
</script>
