<template>
    <div>
        <button v-if="saving === false" @click.prevent="showRejectModal" type="button" class="btn btn-xs btn-danger">
            Reject
        </button>
        <button v-else type="button" class="btn btn-xs btn-danger" disabled>Saving...</button>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['id', 'createdAt', 'purchaseValue', 'referrerProfit'],
        data() {
            return {
                saving: false,
                status: 3 // 3 = rejected
            }
        },
        mounted() {

        },
        methods: {
            showRejectModal() {
                Swal.fire({
                    html: `Are you sure you want to reject this transaction?<br/>Created At: ${this.createdAt}<br/>Purchase Value: €${this.purchaseValue}<br/>Referrer Profit: €${this.referrerProfit}`,
                    title: 'Reject transaction',
                    input: 'textarea',
                    inputPlaceholder: 'Type your rejection reason here...',
                    showCancelButton: true,
                    type: 'error',
                    confirmButtonText: 'Yes, reject transaction',
                    inputValidator: (value) => {
                        return !value && 'You must provide a reason'
                    }
                })
                .then((result) => {
                    if (result.value !== undefined) {
                        this.reject(result.value)
                    }
                })
            },
            reject(reason) {
                this.saving = true;
                this.makeRequest('post', `/ajax/company/conversion/${this.id}/status`, {'status': this.status, 'reason': reason})
                    .then(() => {
                        location.reload();
                        this.saving = false;
                    })
            }
        }
    }
</script>
