{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Referral Sales{% endblock %}

{% block tab_content %}
    <shop-purchase min-date="{{ app.user.createdAt | date('Y-m-d') }}" v-bind="{
        isReferrer: true,
        inviteCoupons: {{ inviteCoupons|json_encode }},
        referrerCoupons: {{ referrerCoupons|json_encode }},
    }"></shop-purchase>
{% endblock %}