<div class="referrer-cards">
    <div class="referrer-cards__header">
        <div class="referrer-cards__row">
            <div class="referrer-cards__row__url">
                Reward URL
            </div>

            <div class="referrer-cards__row__offer-title">
                Offer Title
            </div>

            <div class="referrer-cards__row__action">
                Action
            </div>
        </div>
    </div>
    <div class="referrer-cards__body">
        {% for card in referrerCards %}
            <div class="referrer-cards__row--wrapper">
                <div class="referrer-cards__row">
                    <div class="referrer-cards__row__url">
                        {{ card.url }}
                    </div>

                    <div class="referrer-cards__row__offer-title">
                        {{ card.offerTitle }}
                    </div>

                    <div class="referrer-cards__row__action">
                        <a href="#" class="btn btn-primary btn-sm">Card preview</a>
                    </div>
                </div>
                <div class="referrer-cards__builder">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="referrer-cards__builder__preview">
                                <h3>Preview</h3>
                                <div class="card-preview">
                                    <div class="card-body">
                                        {% include '../card/card-content.nunjucks' %}
                                    </div>
                                </div>
                                <div class="referrer-cards__builder__customize__zoom">
                                    <button class="btn btn-sm btn-default" id="zoomIn">+</button>
                                    <button class="btn btn-sm btn-default" id="zoomOut">-</button>
                                    <button class="btn btn-sm btn-default" id="reset">reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ov-scroll">
                            <div class="referrer-cards__builder__customize">
                                <h3>Customize</h3>
                                <form action="">
                                    <div>
                                        <label>Card width</label>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size"> 100px
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size"> 200px
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size" checked> <input type="number" class="form-control" value="500" id="sizeChange">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Card height</label>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size"> 100px
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size"> 200px
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="size"> <input type="text" class="form-control">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="referrer-cards__builder__customize__social">
                                        <label>Social Media Icons</label>
                                        <div class="form-group">
                                            <span>Facebook</span>
                                            <label class="switch"><input type="checkbox" class="cpl-switch" />    <div></div>
                                            </label>
                                            <input type="text" class="form-control" placeholder="www.facebook.com/?">
                                        </div>
                                        <div class="form-group">
                                            <span>Twitter</span>
                                            <label class="switch"><input type="checkbox" class="cpl-switch" />    <div></div>
                                            </label>
                                            <input type="text" class="form-control" placeholder="www.twitter.com/?">
                                        </div>
                                        <div class="form-group">
                                            <span>Google+</span>
                                            <label class="switch"><input type="checkbox" class="cpl-switch" />    <div></div>
                                            </label>
                                            <input type="text" class="form-control" placeholder="www.googleplus.com/?">
                                        </div>
                                        <div class="form-group">
                                            <span>Instagram</span>
                                            <label class="switch"><input type="checkbox" class="cpl-switch" />    <div></div>
                                            </label>
                                            <input type="text" class="form-control" placeholder="www.instagram.com/?">
                                        </div>
                                    </div>
                                    <div class="mb-20">
                                        <label>Background image</label>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="image"> Image 1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="image"> Image 2
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="radio" name="image"> Image 3
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        or<br>
                                        <button class="btn btn-primary btn-sm">Upload your own</button>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label>Slogan 1</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Slogan 2</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="referrer-cards__builder__code">
                            <h3>Code</h3>
                            <textarea class="form-control" disabled></textarea>
                            <br>
                            <button class="btn btn-primary btn-sm">Copy to clipboard</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/jquery-ui.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let card = {
      width: 100,
      height: 100,
      socials: {
        facebook: {
          url: "http://facebook.com/test",
          visible: false,
          x: 0,
          y: 0
        },
        twitter: {
          url: "http://twitter.com/test",
          visible: true,
          x: 0,
          y: 0
        },
        googlePlus: {
          url: "http://plus.google.com/test",
          visible: true,
          x: 0,
          y: 0
        }
      },
      backgroundImage: "https://via.placeholder.com/120x50.png?text=Logo",
      slogan1: {
        text: "",
        x: 0,
        y: 0,
        width: 0,
        size: 0
      },
      slogan2: {
        text: "",
        x: 0,
        y: 0,
        width: 0,
        size: 0
      },
      logo: {
        position: {
          x: 0,
          y: 0
        }
      }
    };



    $( function() {
      let defaultSize = 1;
      $( ".draggable" ).draggable({
        containment: "parent"
      });

      $('#sizeChange').on('keyup', function(){
        $('.card-body').css('width', $(this).val());
      });

      $('#zoomIn').on('click touch', function(){
        console.log('click');
        var card = $('.card-body');
        defaultSize += 0.2;
        card.css('transform', 'scale(' +  defaultSize + ')');
      });

      $('#zoomOut').on('click touch', function(){
        var card = $('.card-body');
        defaultSize -= 0.2;
        card.css('transform', 'scale(' +  defaultSize + ')');
      });
      $('#reset').on('click touch', function(){
        var card = $('.card-body');
        defaultSize = 1;
        card.css('transform', 'scale(' +  defaultSize + ')');
      });

    } );

</script>
