<div class="pull-right">
<a href="referrer-my-store-settings.html"><div class="btn btn-danger">Edit</div></a>
</div>
<div class="text-center">
    Your Personal Store:<br>
    www.ValueLink.com/JohnDoe
</div>
<div class="row">
    <div class="col-md-12">
        <b>I like</b>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="text-align: center;">
                Nike Shoes
            </div>
            <div class="col-md-6 col-sm-12" style="text-align: center;">
               Apple Watches
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <b>I recommend</b>
        <div class="referrable-links">
            <div class="referrable-links__header">
                <div class="referrable-links__row">
                    <div class="referrable-links__row__link">

                    </div>
                    <div class="referrable-links__row__dap">
                        
                    </div>
                </div>
            </div>
            <div class="referrable-links__body">
                {% for el in referrableLinks %}
                    <div class="referrable-links__row--wrapper">
                        <div class="referrable-links__row">
                            <div class="referrable-links__row__link">
                                {{ el.link }}
                            </div>
                            <div class="referrable-links__row__dap">

                            </div>
                        </div>
                        {% if el.checked %}
                            <div class="referrable-links__builder">
                                <div class="referrable-links__builder__preview col-md-8">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <img src="https://via.placeholder.com/300x200.png?text=Image" alt="">
                                        </div>
                                        <div class="col-md-5">
                                            <h4>Mac Book Pro Retina 15'</h4>
                                            <p>Description of some sort</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="referrable-links__builder__form col-md-4">
                                    
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
