<div class="row companylinks">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" style="display: flex;flex-direction: column;text-align: left">
            <li class="active"><a data-toggle="pill" href="#home">Basic Apple Reward</a></li>
            <li><a data-toggle="pill" href="#menu1">Specific Apple Reward</a></li>
        </ul>
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="tab-content" style="overflow: hidden;">
            <div id="home" class="tab-pane fade in active">
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped  table-rewards" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th rowspan="2" scope="colgroup">Reward<br/>Name</th>
                                <th rowspan="2" scope="colgroup" style="width:150px">Reward<br/>Description</th>
                                <th rowspan="2" scope="colgroup" style="width: 400px;">Reward<br/>URL</th>
                                <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward<br/>CPS</th>
                                <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward<br/>CPL</th>
                            </tr>
                            <tr>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">€</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">€</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reward in rewards.basic %}
                                <tr>
                                    <td>
                                        <span class="mobile_table_header">Reward Name: </span>{{ reward.name }}
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward Description: </span>{{ reward.description }}
                                    </td>
                                    <td width="30%" class="rewardlink">
                                        <span class="mobile_table_header">Reward Url: </span><span>{{ reward.url }}</span>
                                        <div class="btn btn-primary btn-xs" data-clipboard-text="{{ reward.url }}">Copy</div>
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward CPS: </span>{% if reward.cps.money > 0 %}
                                        {{ reward.cps.money }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward CPS: </span>{% if reward.cps.percentage > 0 %}
                                        {{ reward.cps.percentage }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward CPL: </span>{% if reward.cpl.money > 0 %}
                                        {{ reward.cpl.money }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward CPL: </span>{% if reward.cpl.percentage > 0 %}
                                        {{ reward.cpl.percentage }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="companylink__entry" style="border-top: 0">
                        <h3>Your Personal Store</h3>
                        <h4>www.ValueLink.com/JohnDoe</h4>
                        <div class="btn btn-primary newLinkBtn">Generate Link to Share</div>
                    </div>
                    <div class="linkgenerator-cont">
                        <div id="linkgenerator" class="linkgenerator">
                            <div class="form-group">
                                <label>Shareable link</label>
                                <div class="input-group is-long">
                                    <span class="input-group-addon">ValueLink.com/Apple/JohnDoe</span>
                                    <input type="text" name="Name" class="form-control sharelink"
                                           placeholder="Super-iPhone-6" value="">
                                </div>
                                <span style="    margin-left: auto;
    text-align: right;
    margin-top: 5px;">Create your own link pattern</span>
                            </div>
                            <div class="form-group flex noborder">
                                <label>Destination URL</label>
                                <input type="text" name="Name" class="form-control destlink" placeholder="Reward URL"
                                       value="">
                                <span>Copy & Paste Reward URL</span>
                            </div>
                            <div class="linkgenerator__buttons">
                                <div>
                                    <div class="btn btn-success">Save</div>
                                    <div class="btn btn-danger">Delete</div>
                                </div>
                                <div>
                                    <div class="btn btn-outline-primary">Add to My Store</div>
                                    <div class="btn btn-danger">Delete from My Store</div>
                                </div>
                                <div class="linkgenerator__social">
                                    <div><i style="color: #1778f2; cursor: pointer" class="fa fa-facebook-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #1da1f2; cursor: pointer" class="fa fa-twitter-square" aria-hidden="true"></i></div>
                                    <div><i style="color: #3b5998; cursor: pointer" class="fa fa-linkedin-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #25D366; cursor: pointer" class="fa fa-whatsapp" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-md-12" style="background: white">
                    <table class="table table-striped table-rewards">
                        <thead>
                        <tr>
                            <th rowspan="2" scope="colgroup">Reward Name</th>
                            <th rowspan="2" scope="colgroup">Reward Description</th>
                            <th rowspan="2" scope="colgroup" style="width: 200px;">Reward URL</th>
                            <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward
                                CPS</th>
                        </tr>
                        <tr>
                            <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">€</th>
                            <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reward in rewards.specific %}
                            <tr>
                                <td>
                                    {{ reward.name }}
                                </td>
                                <td>
                                    {{ reward.description }}
                                </td>
                                <td width="30%" class="rewardlink">
                                    <span>{{ reward.url }}</span>
                                    <div class="btn btn-primary btn-xs" data-clipboard-text="{{ reward.url }}">Copy</div>
                                </td>
                                <td>
                                    {% if reward.money > 0 %}
                                        {{ reward.money }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reward.percentage > 0 %}
                                        {{ reward.percentage }}
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="companylink__entry">
                        <h3>Your Personal Store</h3>
                        <h4>www.ValueLink.com/JohnDoe</h4>
                        <div class="btn btn-primary newLinkBtn">Generate Link to Share</div>
                    </div>
                    <div class="linkgenerator-cont">
                        <div id="linkgenerator" class="linkgenerator">
                            <div class="form-group">
                                <label>Shareable link</label>
                                <div class="input-group is-long">
                                    <span class="input-group-addon">ValueLink.com/Apple/JohnDoe</span>
                                    <input type="text" name="Name" class="form-control sharelink"
                                           placeholder="Super-iPhone-6" value="">
                                </div>
                                <span style="    margin-left: auto;
    text-align: right;
    margin-top: 5px;">Create your own link pattern</span>
                            </div>
                            <div class="form-group flex noborder">
                                <label>Destination URL</label>
                                <input type="text" name="Name" class="form-control destlink" placeholder="Reward URL"
                                       value="">
                                <span>Copy & Paste Reward URL</span>
                            </div>
                            <div class="linkgenerator__buttons">
                                <div>
                                    <div class="btn btn-success">Save</div>
                                    <div class="btn btn-danger">Delete</div>
                                </div>
                                <div>
                                    <div class="btn btn-outline-primary">Add to My Store</div>
                                    <div class="btn btn-danger">Delete from My Store</div>
                                </div>
                                <div class="linkgenerator__social">
                                    <div><i style="color: #1778f2; cursor: pointer" class="fa fa-facebook-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #1da1f2; cursor: pointer" class="fa fa-twitter-square" aria-hidden="true"></i></div>
                                    <div><i style="color: #3b5998; cursor: pointer" class="fa fa-linkedin-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #25D366; cursor: pointer" class="fa fa-whatsapp" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<script>
    (function () {
        new ClipboardJS('.rewardlink .btn');

        const linkGenerator = $("#linkgenerator").clone().prop('outerHTML');

        $(".newLinkBtn").each(function () {
            $(this).click(function () {
                $(this).parent().parent().find(".linkgenerator-cont").prepend(linkGenerator);
            });
        });

    })();
</script>
