@import '../modules/variables';

.error-404 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin:auto;
  height:430px;

  @media #{$small-and-down}{
    top: 0;
    margin: initial;
    position: relative;
  }

  h1 {
    margin-top: 74px;
    font-family: 'Gill Sans';
    font-size: 120px;
    text-align: center;
    font-weight:bold;
    color:#1976D2;

    @media #{$small-and-down}{
      margin-top:16px;
      padding-top:74px;
      font-size:95px;
      line-height:146px;
    }
  }

  h2 {
    text-align:center;
    font-family: 'Gill Sans';
    margin-top:23px;
  }

  &__bg-effect {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: -1;

    @media #{$small-and-down}{
      width:100%;
    }

    &__block {
      @mixin bgEffectBlock() {
        height:30px;
        background:rgba(0,0,0,0.05);
        border-radius:20px;
        margin-bottom:10px;
      }

      &--90 {
        width:90%;
        @include bgEffectBlock();
      }
      &--60 {
        width:60%;
        margin-left:10%;
        @include bgEffectBlock();
      }
      &--30 {
        width:30%;
        margin-left:40%;
        @include bgEffectBlock();
      }
      &--50 {
        width:50%;
        margin-left:20%;
        @include bgEffectBlock();
      }
      &--10 {
        width:10%;
        margin-left:-20%;
        @include bgEffectBlock();
      }
      &--80 {
        width:80%;
        margin-left:20%;
        @include bgEffectBlock();
      }
      &--70 {
        width:70%;
        @include bgEffectBlock();
      }
      &--20 {
        width:20%;
        margin-left:35%;
        @include bgEffectBlock();
      }
      &--blank {
        @include bgEffectBlock();
        background:none;
      }
    }
  }
  &__buttons {
    text-align: center;
    margin-top: 85px;
  }
}