.company{
  &__calendar{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    .fc-toolbar{
      .fc-left{
        width: 100%;
        text-align: center;
        h2{
          width: 100%;
          float: none;
          font-size: 40px;
        }
      }
    }
  }
}
