.su-landing {
    font-family:proxima-nova,sans-serif;
    background:#f8f8f8;

    &__header {
      padding: 0 40px;
      display: flex;
      align-items: center;
      color: #fff;
      z-index: 200;
      height: 95px;
      position:fixed;
      left:0;
      right:0;
      background-color:#f8f8f8;
      box-shadow:0 0 0 1px rgba(0,0,0,0.1);

      &__second-row{
        margin-top: 80px;
      }

      @media #{$medium-and-down}{
        padding:0 20px;
        height:60px;
      }

      .navbar-brand {
        align-items: center;
        display: flex;
        font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform:uppercase;
        font-weight:bold;
        font-size:17px;

         i {
           margin-right:9px;
         }
      }

      @media #{$medium-and-down}{
        &-nav-trigger {
          position: absolute;
          height: 50px;
          width: 50px;
          top: 0;
          right: 10px;
          z-index: 20;

          @media #{$medium-and-down}{
            top:7px;
          }
        }

        &-nav-trigger-menu-line {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -1px;
          margin-left: -9px;
          width: 20px;
          height: 2px;
          background-color: #131928;
          transition: all 300ms ease;
          border-radius: 2px;

          &:before, &:after {
            content: '';
            top: 50%;
            left: 50%;
            margin-left: -10px;
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: #131928;
            transition: all 300ms ease;
            border-radius: 2px;
          }

          &:before {
            margin-top: 6px;
          }

          &:after {
            margin-top: -8px;
          }
        }
      }
    }

    &__nav {
      flex: 1;
      height:25px;

      &-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        @media #{$medium-and-down}{
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          width: 300px;
          padding-top: 70px;
          background: #131928;
          transform: rotateY(90deg);
          transform-origin: right;
          transition: all 300ms ease;
          z-index: 10;
          overflow: auto;
          display:flex;
          flex-direction:column;
          justify-content: flex-start;
          padding-left:0;

          &.open {
            transform:rotateY(0);

            & + label {
              span {
                &::before {
                  margin-top: 0;
                  transform: rotate(-45deg);
                  background-color: #fff;
                }

                &::after {
                  margin-top: 0;
                  transform: rotate(45deg);
                  background-color: #fff;
                }
              }
            }

            //& + label span::before {
            //  margin-top: 0;
            //  transform: rotate(-45deg);
            //  background-color: #fff;
            //}
            //
            //& + label span::after {
            //  margin-top: 0;
            //  transform: rotate(45deg);
            //  background-color: #fff;
            //}
          }
        }
      }

      &-list {
        order: 1;

        @media #{$medium-and-down}{
          order:2;
        }
      }

      &-right {
        order: 2;

        @media #{$medium-and-down}{
          order:1;
        }

        a {
          &:last-of-type {
            margin-right: 5px;
            margin-top:-4px;
            margin-left:5px;
            text-transform: uppercase;

            @media #{$medium-and-down}{
              margin-right:0;
            }
          }

          &.btn {
            @media #{$medium-and-down}{
              margin-bottom:15px;
            }
          }
        }
      }

      &-list, &-right {
        display: flex;
        justify-content: space-between;
        margin-bottom:0;
        height: 26px;
        list-style:none;
        padding-left:0;

        @media #{$medium-and-down}{
          width: 100%;
          height: auto;
          flex-direction: column-reverse;
          padding-left: 0;
          text-align: center;
        }
      }

      &-link {
        position: relative;
        text-transform: uppercase;
        padding: 15px 5px;
        color: #18355B;
        font-size: 14px;
        transition: all 300ms ease;

        @media #{$medium-and-down}{
          display: block;
          color: #fff;
          padding: 5px 40px;
        }

        &::after {
          content: '';
          position: absolute;
          left: 10px;
          right: 10px;
          bottom: 11px;
          background: #6ad300;
          height: 2px;
          border-radius: 2px;
          transform: rotateY(90deg);
          transform-origin: center;
          transition: all 300ms ease;
        }

        &:hover {
          color: #6ad300 !important;
          &::after {
            transform: rotateY(0);
          }
        }
      }
  }

    &__slogan {
      position: relative;
      text-align: center;
      padding: 60px 0;

      &-title {
        font-family: "Nunito",Arial,sans-serif;
        font-size: 34px;
        color: #1976D2;

        @media #{$small-and-down}{
          font-size:25px;
        }
      }

      &-subtitle {
        font-size: 22px;
        margin: 10px 0 0;
        font-weight: normal;

        &-button {
          background-color: #1976D2;
          padding: 4px 10px;
          //box-shadow: 0 2px 0 rgba(19,25,40,0.1);
          border-radius: 7px;
          color: #f5f5f5;
          font-size: 18px;
          cursor: pointer;
          color: #f5f5f5;
          white-space:pre;

          @media #{$small-and-down}{
            display:block;
            margin-top:15px;
          }

          &:hover {
            background-color:#FFC107;
            color:#fff !important;
          }
        }
      }

      &--border {
        &::after {
          content: '';
          position: absolute;
          margin-left: -10px;
          left: 50%;
          bottom: 40px;
          width: 30px;
          height: 3px;
          border-radius: 3px;
          background-color: rgba(0,0,0,0.1);
        }
      }
    }

    &__content {
      padding-top:95px;

      &--block {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
        padding: 0 20px;
      }

      &--flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
        padding: 0 20px;
        list-style: none;

        @media #{$medium-and-down}{
          flex-direction:column;
        }
      }
    }

  &__section {
    background-image:url('../images/landing_bg1.png');
    padding: 100px 0 80px;
    background-position: 50% 30px;
    background-repeat: no-repeat;
    background-size: 1390px;

    @media #{$medium-and-down}{
      text-align:center;
    }

    @media #{$medium-and-down}{
      padding:20px 0 20px;
    }

    &-content {
      display: flex;
      width: 100%;
      padding-top: 40px;
      order: 99;
      list-style:none;

      @media #{$medium-and-down}{
        flex-direction:column;
        padding-left:0;
      }
    }

    &:nth-of-type(even) {
      .su-landing__section-header {
        order: 2;
      }

      .su-landing__section-header {
        padding-right: 0;
        padding-left: 100px;

        @media #{$medium-and-down}{
          padding-left:0;
        }
      }

      .c-homepage__section-img {
        order: 1;
      }
    }

    &-header {
      width: 45%;
      padding-right: 80px;

      @media #{$medium-and-down}{
        width:100%;
        padding-right:0;
      }
    }

    &-icon {
      display:block;
      width: 50px;

      @media #{$medium-and-down}{
        display:inline-block;
      }

      svg {
        width: 100%;
      }
    }

    &-title {
      font-family: "Nunito",Arial,sans-serif;
      font-size: 30px;
      color: #6ad300;
      margin: 40px 0;

      @media #{$small-and-down}{
        margin-bottom:0;
        font-size:21px;
      }
    }

    &-subtitle {
      margin: 10px 0 0;
      font-size: 20px;
    }

    &-img {
      display: block;
      width: 55%;
      padding-left: 20px;

      @media #{$medium-and-down}{
        width:100%;
        padding-left:0;
      }

      &-container {
        position: relative;
        margin: 15px 0 80px;
        width: 100%;

        @media #{$medium-and-down}{
          margin-bottom:15px;
        }

        &::before {
          content: "";
          display: block;
          padding-top: 60%;

          @media #{$medium-and-down}{
            padding-top:0;
          }
        }
      }
    }
    &-content {
      &-p {
        position: relative;
        padding-top: 15px;
        font-size: 20px;

        @media #{$medium-and-down}{
          width: 100% !important;
          margin-bottom: 30px;
          padding-right:0 !important;
        }

        &:nth-of-type(1) {
          width: 45%;
          padding-right: 80px;
          transition: 500ms 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:nth-of-type(2) {
          width: 33%;
          padding-right: 40px;
          transition: 500ms 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:nth-of-type(3) {
          width: 22%;
          transition: 500ms 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:not(:empty):before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 3px;
          background-color: #6ad300;
          border-radius: 3px;

          @media #{$medium-and-down}{
            right:0;
            margin:auto;
          }
        }
      }
    }

    &--highter-padding {
      padding: 40px 0 40px;
    }

    &--white {
      background-color: #fff;
    }

    &-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0;
      list-style:none;

      @media #{$small-and-down}{
        padding-left:0;
      }

      &-logo {
        position: relative;
        flex-shrink: 0;
        width: 12%;
        background-color: #f5f5f5;
        border-radius: 50%;

        @media #{$small-and-down}{
          width:46%;
          margin-bottom:20px;
        }

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }

      &-svg {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
      }

      svg {
        max-width: 70%;
        max-height: 40%;
      }
    }
  }

  &-img {
    display: block;
    //width: 55%;
    padding-left: 20px;

    @media #{$medium-and-down} {
      padding-left:0;
    }

    &__main-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @media #{$medium-and-down}{
        position:static;
      }
    }

    &__img {
      //width: 100%;
      //height: 100%;
      //object-fit: cover;
      //object-position: 0 50%;
      //border-radius: 0 0 5px 5px;
      //image-rendering: -webkit-optimize-contrast;
      //image-rendering: optimizeQuality;
      max-width:100%;
      height:auto;
    }

    &__sub-img {
      position: absolute;
      width: 150px;
      height: 150px;
      border: 4px solid #6ad300;
      border-radius: 100%;
      overflow: hidden;
      box-shadow: 2px 4px 0 rgba(19,25,40,0.1);
      z-index: 5;

      &--top {
        top: -80px;
        right: 40px;
        transition: 800ms 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @media #{$medium-and-down}{
          display:none;
        }
      }

      &--bottom {
        left: -20px;
        bottom: -80px;
        transition: 800ms 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @media #{$medium-and-down}{
          display:none;
        }
      }

      &--left {
        top: 20px;
        left: -35px;
        transition: 800ms 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @media #{$medium-and-down}{
          display:none;
        }
      }
    }
  }

  &__features {
    &-content--flex {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      display:flex;
      padding-bottom: 70px;

      //@media #{$medium-and-down}{
      //  flex-direction:column;
      //}

      @media #{$small-and-down}{
        flex-wrap: wrap;
        padding:0 20px 20px 20px;
        justify-content: space-between;
      }
    }

    &-feature {
      margin:20px 20px 0;

      @media #{$small-and-down}{
        margin: 0;
        width: 46%;
        margin-bottom:20px;
      }

      &-icon {
        margin-bottom: 20px;
      }

      &-title {
        font-size: 17px;
        text-align: center;
        font-weight: normal;
      }
    }
  }

  &__demo {
    background-color: #fff;
    padding: 100px 20px;
    text-align: center;

    @media #{$small-and-down}{
      padding:30px 20px;
    }

    &-desc {
      font-size: 32px;
      color: #1976D2;
      line-height: 40px;
      margin-bottom: 40px;

      @media #{$small-and-down}{
        font-size:22px;
        line-height:25px;
      }
    }

    .btn {
      font-size: 20px;
      text-transform:uppercase;
    }
  }

  &__testimonials {
    padding:50px 0;

    &-label {
      &-span {
        color:#1976D2;
        font-size:18px;
      }

      svg {
        width:40%;
      }

      blockquote {
        border:none;
      }
    }

    blockquote {
      border:none;
    }

    &-blockquote-content {
      color: #1976D2;
      font-size: 20px;
      font-weight: bold;
    }

    &-footer {
      font-size: 18px;
      color: #1976D2;

      &:before {
        display:block;
      }

      p {
        display: inline-block;
      }

      figure {
        float:right;
      }
    }

    .slick-dots {
        list-style:none;
        padding-left:25px;

        li {
          display: inline-block;
          cursor: pointer;
          width: 9px;
          height: 9px;
          border: 2px solid #1976D2;
          border-radius: 50%;
          margin-right: 5px;
          background-color: transparent;
          opacity: .7;
          transition: all 300ms ease;

          &.slick-active {
            background-color: #1976D2 !important;
          }

          button {
            display:none;
          }
        }
    }
  }

  &__content-wide {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__pricing {
    background-color: #fff;
    padding: 0 0 100px 0;
    text-align: center;

    @media #{$small-and-down}{
      padding:30px 0;
    }

    &__header{
      margin-bottom: 80px;
    }

    &-title {
      font-size: 32px;
      color: #1976D2;
      line-height: 40px;
      font-weight: normal;
      margin-bottom: 10px;
      padding: 0 20px;

      @media #{$small-and-down}{
        font-size:24px;
      }
    }

    &-btn {
      &:hover {
        background-color:#FFC107 !important;
        border-color:#FFC107 !important;
      }
    }

    &-subtitle {
      font-size: 20px;
      color: #1976D2;
      margin-bottom: 40px;
      padding: 0 20px;
    }

    &-content {
      .c-homepage__boxes {
        margin-bottom: 45px;
      }

      > a {
        font-size:20px;
      }
    }

    &-price {
      font-size: 90px;
      margin-top: 10px;
      margin-bottom: 30px !important;

      &-sup {
        font-size: 26px;
        top: -1.4em;
      }
    }

    &-small {
      font-size: 14px;
      margin-top: 15px;
      &.important{
        margin-top: 0;
        color: #FFC107;
      }
    }

    &-info {
      color: gray;
      display: block;
      margin-bottom: 30px;
    }
  }

  &__box {
    position: relative;
    display: block;
    border-radius: 14px;
    font-size: 36px;
    font-family: "Nunito",Arial,sans-serif;
    color: #fff;
    margin: 0 auto 10px;
    max-width: 370px;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &--default {
      background-color: #1976D2;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .btn {
        background: #6ad300;
        border-color:#6ad300;
        color: #fff;
        font-size: 20px;
      }

      span {
        margin-bottom: 35px;
      }
    }
  }

  &__platforms {
    background-color: #fff;
    padding-bottom: 100px;
    text-align: center;

    @media #{$small-and-down}{
      padding-bottom:0;
    }

    &-title {
      font-size: 32px;
      color: #52BAAF;
      line-height: 40px;
      font-weight: normal;
      margin-bottom: 40px;
      padding: 0 20px;
    }

    &-content {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media #{$small-and-down}{
        flex-wrap:wrap;
      }
    }

    header {
      width:100%;
    }
  }

  &__platform {
    position: relative;
    width: 20%;
    text-align: center;

    @media #{$small-and-down}{
      width:46%;
      margin-bottom:40px;
    }

    &--soon {
      .su-landing__platform-title {
        color:#ccc;
      }

      &:before {
        content: 'soon';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        font-size: 14px;
        color: #ccc;
      }

      svg {
        fill:#ccc;
      }
    }

    svg {
      max-height: 60px;
      margin-bottom: 10px;
    }
  }

  &__blog {
    background-color: #fff;
    padding-bottom: 15px;
    overflow:hidden;

    & > * > header {
      padding:0 20px;
    }

    &-link, &-title {
      font-size: 20px;
      font-weight: normal;
      color: #52BAAF;
      margin-bottom: 20px;
    }

    &-link {
      float:right;
      color:#ccc;

      @media #{$small-and-down}{
        width:100%;
      }
    }

    &-article {
      &-date {
        display: block;
        font-family: "Nunito",Arial,sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
      }

      &-title {
        font-weight: normal;
        font-size: 36px;
        color:#fff;
        transition:0.5s ease all;
      }

      &-footer {
        font-family: "Nunito",Arial,sans-serif;
        font-size: 18px;
      }

      a:hover {
        .su-landing__blog-article-title {
          color:#FFF;
        }
      }
    }
  }

  &__content-wide {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &-flex-row {
    width: 100%;
    display: flex;
    overflow:hidden;

    @media #{$small-and-down}{
      flex-direction: column;
      text-align: center;
    }
  }

  &__box {
    position: relative;
    display: block;
    border-radius: 14px;
    font-size: 36px;
    font-family: "Centrale Sans Rounded Bold",Arial,sans-serif;
    color: #fff;
    margin: 0 auto 10px;
    max-width: 370px;

    &:before {
      content: "";
      display: block;
      padding-top: 350px;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 25px;

      &--spacebetween {
        justify-content: space-between;
        padding: 30px;
      }
    }

    &--blue {
      background-color:#1976D2;
      &:hover{
        background-color: #FFC107;
        color: #fff !important;
      }
    }
  }

  &-footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    font-size: 14px;
    color: gray;
    overflow:hidden;

    .navbar-brand{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .navbar-brand {
      @media #{$small-and-down}{
        padding-left:0;
      }
    }

    &__content {
      width: 100%;
      max-width: 1230px;
      margin: 0 auto;
      padding: 0 20px;
    }

    &__address {
      font-style: normal;
      padding-left: 15px;
      margin-top: 25px;
      float: left;

      @media #{$small-and-down}{
        padding-left:0;
      }
    }

    &__rights {
      margin-bottom: 20px;
      a{
        color: gray;
      }
    }

    &__link {
      display: block;
      color: #8f8f8f!important;
      transition: all 300ms ease;
      text-transform: capitalize;
      @media screen and (max-width: 425px) {
        font-size: 12px;
      }
    }

    &__download {
      margin-bottom: 20px;
    }

    &__social-link {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-bottom: 5px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom:0;

      li {
        display: inline-block;
        width: 20%;
      }
    }

    &__newsletter li {
      width: 49% !important;

      span {
        color:gray;
      }

      svg {
        width: 13px;
        vertical-align: middle;
        fill: gray;
      }
    }

    &__social {
      text-align: right;

      @media #{$small-and-down}{
        text-align: left;
        margin-top: 25px;
        float: left;
      }

      > div {
        @media #{$small-and-down}{
          display:inline-block;
        }
      }

      a {
        svg {
          fill:gray;
        }
      }
    }
  }
}

.mobile_flex{
  @media screen and (max-width: 425px) {
    display: flex
  }
}

.footer-mobile-margin{
  @media screen and (max-width: 425px) {
    padding-bottom: 0;
  }
}