.payouts{
  &__info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
    p{
      color: grey;
      text-align: center;
      line-height: 17px;
    }
    @media #{$small-and-down}{
      flex-wrap: wrap;
      p{
        width: 100%;
      }
    }
  }
}
