.sign{
  &-text{
    .register-divider {
      @media (max-width: 768px){
        display: none;
      }
    }
    h4 {
      @media (max-width: 768px){
        display: none;
      }
    }
    p {
      @media (max-width: 768px){
        display: none;
      }
    }
  }
}

