.signup-form {
  padding: 20px;
  &__top {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
  &__footer {
    padding-top: 30px;
  }
}

.signup-title{
  text-align: center;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  &__first {
    font-size: 26px;
    color: #1976D2;
  }
  &__second {
    font-size: 20px;
    color: #6ad300;
  }
}
.form-group {
  & input {
    border: 1px solid #1976D2;
  }
}

.act-protection {
  background-color: aliceblue;
  &__top {
    background-color: #128ebd57;
    margin: 5px;
    padding: 0 30px 5px 30px;
    & b {
      font-size: 9px;
    }
    & p {
      line-height: 1.6;
      font-size: 9px;
      margin-bottom: 0;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    & label {
      font-size: 9px;
      text-align: center;
      max-width: 230px;
      color: #1976D2;
      line-height: 1.4;
    }
  }
}

.agreement {
  text-align: center;
  font-size: 12px;
  color: #1976D2;
}
.btn.btn-primary {
  width: 100%;
}