{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Income{% endblock %}

{% block tab_content %}
    <referrer-income v-bind='{
        shops: {{ shops|json_encode|raw }},
        minDate: "{{ app.user.createdAt | date('Y-m-d') }}",
    }'></referrer-income>
{% endblock %}
