<template>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group widgetRewardsCampaignName">
          <label for="campaignName" class="required">Campaign Name:</label>
          <input
              type="text"
              id="campaignName"
              class="form-control"
              placeholder="Enter campaign name..."
              v-model="campaignName" />
        </div>
      </div>
      <div class="col-md-12">
        <h3 class="widget__rewards__header--bigger mt-1">
          Specify your link validity time frame in Referral Widget
        </h3>
        <div style="border: 1px solid lightgray; padding: 5px 15px 0 15px; margin: 10px 0 25px 0;">
          <div class="widget__rewards__validity">
            <div v-for="(referrerLinkMode, index) in referrerLinkValidityModes"
                 :key="referrerLinkMode.value"
                 :class="{
                   radio: true,
                   widgetRewardsSettingLabel: referrerLinkMode.value === '2'
                 }"
            >
              <label :for="`widget_reward_settings_referrerLinkValidityMode_${ index }`" class="required widgetRewardsSettingLabel">
                <input type="radio"
                       :id="`widget_reward_settings_referrerLinkValidityMode_${ index }`"
                       name="widget_reward_settings[referrerLinkValidityMode]"
                       required="required"
                       :value="referrerLinkMode.value"
                       v-model="validityMode"
                >
                <template v-if="referrerLinkMode.value === '1'">
                  Referral links will be valid until campaign is active
                </template>

<!--              //Disable CAMPAIGN VALIDITY: Valid Number of Days-->
<!--                  <template v-else-if="referrerLinkMode.value === '2'">
                    Referral links will be valid <div class="ml-10 mr-10">
                      <select
                          name="widget_reward_settings[referrerLinkValidityDays]"
                          class="form-control user-success"
                          :disabled="validityMode !== '2'"
                          v-model="validityDays"
                      >
                        <option
                          v-for="key in (referrerLinkValidityDays.max || 30)"
                          v-if="key >= referrerLinkValidityDays.min"
                          :key="key"
                          :value="key"
                          :selected="key === 0"
                        >{{ `${key} ${key > 1 ? 'Days' : 'Day'}` }}</option>
                      </select>
                    </div> days from link generation by Referral Partner
                   </template>-->
                <template v-else-if="referrerLinkMode.value === '2'">
                  Referral links will be valid till
                </template>
              </label>
              <datepicker v-if="referrerLinkMode.value === '2'"
                v-model="validTillDate"
                :monday-first="true"
                :disabled="validityMode !== '2'"
                :disabled-dates="{
                    to: new Date(Date.now())
                  }"
                name="widget_reward_settings[referrerLinkValidityDate][month|day|year]"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-primary setRewardsButton" type="button" @click="toggleNextStep" :disabled="!canNextStep">
          {{ campaign ? 'Set' : 'Edit' }} Rewards <i class="fa fa-arrow-right"></i>
        </button>
      </div>


      <div class="col-md-12" v-if="nextStep">
        <h3 class="widget__rewards__header--bigger" style="margin-top: 55px">Referral Partner Reward</h3>
        <div class="widget__rewards__reward--coupon">
          <div class="widget__rewards__reward__label--left">
            <strong>Coupon Rewards Active</strong>
            <label class="switch" style="margin: 0; vertical-align: middle">
              <input v-model="widgetCouponRewardActive" @click="isActiveQponR" type="checkbox" value="1">
              <div></div>
            </label>
          </div>

          <div v-if="referrerRewardCouponPackages.length > 0 && widgetCouponRewardActive" class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block; border-radius: 5px">
            <div class="form-group col-md-12">
              <label class="control-label required" style="color: grey;">
                What type of coupon will the Referral Partner get?
              </label>
              <div id="widget_rewards_coupon_type" style="margin-top: -10px; margin-bottom: -10px;">
                <div class="form-group">
                  <div id="widget_reward_settings_referrerRewardCouponDiscountType" class="discount-type-switcher">
                    <div class="radio">
                      <label for="widget_reward_settings_referrerRewardCouponDiscountType_fixed" class="required">
                        <input type="radio" id="widget_reward_settings_referrerRewardCouponDiscountType_fixed" required="required" value="fixed" v-model="couponType"> fixed
                      </label>
                    </div>
                    <div class="radio">
                      <label for="widget_reward_settings_referrerRewardCouponDiscountType_percent" class="required">
                        <input type="radio" id="widget_reward_settings_referrerRewardCouponDiscountType_percent" required="required" value="percent" v-model="couponType"> percent
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 widget-rewards-referral-margin" style="margin-top: 5px; margin-bottom: 0px;">
              <label class="control-label required inline" style="color: grey;">
                Referral Partner will get a coupon rewards
              </label>
              <div class="widget__rewards__coupon_percentage_reward">
                <select class="form-control" :disabled="isPercentCouponType" v-model="couponPackage">
                  <option
                      v-for="(cp, index) in referrerRewardCouponPackagesFilter"
                      v-if="filterReferrerCoupons"
                      :key="index"
                      :value="cp.value || null"
                      :class="isPercentCouponType && 'hidden'"
                      :disabled="isPercentCouponType"
                  >{{ cp.label || unknown }}</option>
                </select>
              </div>
              <label class="control-label required inline" style="color: grey;">off</label>
            </div>
            <div class="form-group col-md-12" style="margin-bottom: 10px;">
             <div class="radio" style="margin-bottom: 20px;">
<!--                <label for="widget_reward_settings_referrerGetCouponRewardFlag_0" class="required">
                  <input type="radio" id="widget_reward_settings_referrerGetCouponRewardFlag_0" name="widget_reward_settings[referrerGetCouponRewardFlag]" required="required" :value="referrerGetCouponRewardFlags[0].value" class="widget__rewards__coupon&#45;&#45;reward_condition" v-model="rewardFlag">
                  Immediately after referring to a friend
                </label>-->
              </div>
              <div class="radio" style="margin-bottom: 20px;">
                <label for="widget_reward_settings_referrerGetCouponRewardFlag_1" class="required">
                  <input type="radio" id="widget_reward_settings_referrerGetCouponRewardFlag_1" name="widget_reward_settings[referrerGetCouponRewardFlag]" required="required" :value="referrerGetCouponRewardFlags[1].value" class="widget__rewards__coupon--reward_condition" v-model="rewardFlag">
                  Referral Partner will get the reward after Invitee will be redirected to the page of your company "{{ shop.name || 'Unknown' }}"
                </label>
              </div>
              <div class="radio">
                <label for="widget_reward_settings_referrerGetCouponRewardFlag_2" class="required">
                  <input type="radio" id="widget_reward_settings_referrerGetCouponRewardFlag_2" name="widget_reward_settings[referrerGetCouponRewardFlag]" required="required" :value="referrerGetCouponRewardFlags[2].value" class="widget__rewards__coupon--reward_condition" v-model="rewardFlag">
                  Referral Partner will get the coupon reward when purchase order value is min €
                  <input type="number" step="0.01" min="0.01" v-model="minPurchase" class="form-control" :disabled="isMinPurchaseDisabled" id="widget_reward_settings_referrerRewardCouponDiscountMinPurchase" name="widget_reward_settings[referrerRewardCouponDiscountMinPurchase]">
                  <span tabindex="0" v-tooltip="'Purchase value is a brutto value substracted by the coupon discount'">
                    <span class="fa fa-info-circle" style="color: rgb(25, 118, 210);"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div v-if="referrerRewardCouponPackages.length == 0 && widgetCouponRewardActive" class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block; background:#FCAABF; border-radius: 5px">
            <span style="color:white; font-weight: bold;">Coupons for Referral Partner must be provided</span>
          </div>

        </div>

        <div class="widget__rewards__reward--cash">
          <div class="widget__rewards__reward__label--left">
            <strong>Cash Rewards Active</strong>
            <label class="switch" style="margin: 0; vertical-align: middle">
              <input v-model="widgetCashRewardActive" @click="isActiveCashR" type="checkbox" value="1">
              <div></div>
            </label>
          </div>
          <div v-if="hasBalance && widgetCashRewardActive" class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block;">
            <div class="form-group col-md-12">
              <label class="control-label required" style="color: grey; margin-bottom: 15px;">
                CashRewards will be payed out when:
              </label>
              <div id="widget_rewards_cash_type" style="margin-top: -10px; margin-bottom: -10px;">
                <div class="form-group">
                  <div class="discount-type-switcher">
                    <div class="radio">
                      <label for="widget_reward_settings_referrerRewardCashDiscountType_fixed" class="required">
                        <input type="radio" id="widget_reward_settings_referrerRewardCashDiscountType_fixed" required="required" value="1" v-model="cashType"> Referral Partner will always get cash reward when purchase order will take place
                      </label>
                    </div>
                    <div class="radio">
                      <label for="widget_reward_settings_referrerRewardCashDiscountType_percent" class="required" style="display: flex; align-items: center;">
                        <input type="radio" id="widget_reward_settings_referrerRewardCashDiscountType_percent" required="required" value="2" v-model="cashType" style="margin: 0 0 0 -20px;"> <span>Referral Partner will get the cash reward when purchase order value is min €</span>
                        <input type="number" step="0.01" min="0.01" v-model="minCashPurchase" class="form-control" :disabled="isCashTypeDisabled" id="widget_reward_settings_referrerRewardCashDiscountMinPurchase" name="widget_reward_settings[referrerRewardCouponDiscountMinPurchase]" style="width: 70px; margin: 0px 5px;">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12 widget-rewards-referral-margin" style="margin-top: 15px; margin-bottom: -10px;">
              <label class="note">
                Note: Referral Partners will be rewarded only for the 1st (first) purchase
                <br>  generated by the referral link.
              </label>

            </div>
<!--            <div class="form-group col-md-12" style="margin-bottom: 0;">
              <div class="radio" style="margin-bottom: 20px;">
                <label for="cashrewards" class="required">
                  <input type="radio" id="cashrewards" name="widget_reward_settings[cashrewards]" required="required" value="1" class="widget__rewards__coupon&#45;&#45;reward_condition" v-model="cashRewards">
                  Referral Partner can be rewarded for any number of purchase orders
                </label>
              </div>
              <div class="radio">
                <label for="cashrewards2" class="required" style="display: flex; align-items: center;">
                  <input type="radio" id="cashrewards2" name="widget_reward_settings[cashrewards]" style="margin-top: 0" required="required" value="2" class="widget__rewards__coupon&#45;&#45;reward_condition" v-model="cashRewards">
                  Referral Partner can be rewarded for max
                  <input type="number" step="1" min="1" v-model="cashRewardsMaxOrders" class="form-control" :disabled="isCashMinPurchaseDisabled" style="width: 50px; margin: 0 5px;">
                  numbers of purchase orders
                </label>
              </div>
            </div>-->
            <span>Cash Rewards can be set and modified <a href="/account/company/edit/offer?forceBeId=true">here</a></span>
          </div>

          <div v-if="!hasBalance && widgetCashRewardActive" class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block; background:#FCAABF; border-radius:5px">
            <span style="color:white; font-weight: bold;"> Campaign Budget must be set.<br>Provide Campain Budget for Cash Rewards</span><br>
            <span style="font-weight: bold;">Cash Rewards can be set and modified <a href="/account/company/edit/offer?forceBeId=true">here</a></span>
          </div>
        </div>



        <h3 class="widget__rewards__header--bigger" style="margin-top: 40px;">Invitee Reward</h3>
        <div v-if="inviteeRewardCouponPackages.length > 0 && ( widgetCouponRewardActive || widgetCashRewardActive )"  class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block;">
          <div class="form-group col-md-12">
            <label class="control-label required" style="color: grey;">
              What type of Coupon will the Invitee get?
            </label>
            <div id="widget_invitee_type" style="margin-top: -10px; margin-bottom: -10px;">
              <div class="form-group">
                <div id="widget_reward_settings_referrerInviteeDiscountType" class="discount-type-switcher">
                  <div class="radio">
                    <label for="widget_reward_settings_referrerInviteeDiscountType_fixed" class="required">
                      <input type="radio" id="widget_reward_settings_referrerInviteeDiscountType_fixed" required="required" value="fixed" v-model="inviteeType"> fixed
                    </label>
                  </div>
                  <div class="radio">
                    <label for="widget_reward_settings_referrerInviteeDiscountType_percent" class="required">
                      <input type="radio" id="widget_reward_settings_referrerInviteeDiscountType_percent" required="required" value="percent" v-model="inviteeType"> percent
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12 widget-rewards-referral-margin" style="margin-top: 15px; margin-bottom: 15px;">
            <label class="control-label required inline" style="color: grey;">
              Invitee will get a Coupon reward
            </label>
            <div class="widget__rewards__coupon_percentage_reward">
              <select class="form-control" :disabled="isPercentInviteeType" v-model="invitePackage">
                <option
                    v-for="(cp, index) in inviteeRewardCouponPackagesFilter"
                    v-if="filterInviteeCoupons"
                    :key="index"
                    :value="cp.value || null"
                    :class="isPercentInviteeType && 'hidden'"
                    :disabled="isPercentInviteeType"
                >{{ cp.label || unknown }}</option>
              </select>
            </div>
            <label class="control-label required inline" style="color: grey;">off</label>
          </div>
        </div>
        <div v-if="inviteeRewardCouponPackages.length == 0 && ( widgetCouponRewardActive || widgetCashRewardActive )" class="widget__rewards__reward__container" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 0; display: block; background:#FCAABF; border-radius: 5px">
          <span style="color:white; font-weight: bold;">Coupons for Invitee must be provided</span>
        </div>
        <button type="button" class="btn btn-primary" @click="saveCampaign" :disabled="isLoading">{{ isLoading ? 'Loading...' : 'Save' }}</button>
      </div>
    </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import RewardStatusSwitcher from "../../../../Shop/Widgets/RewardStatusSwitcher";
  export default {
    components: {
      Datepicker,
      RewardStatusSwitcher
    },
    props: {
      campaigns: {
        type: Array,
        default: () => ([])
      },
      isLoading: {
        type: Boolean,
        default: false
      },
      isEdit: {
        type: Boolean,
        default: false
      },
      csrfToken: {
        type: String,
        required: true
      },
      referrerLinkValidityModes: {
        type: Array,
        default: () => ([])
      },
      referrerGetCouponRewardFlags: {
        type: Array,
        default: () => ([])
      },
      referrerRewardCouponPackages: {
        type: Array,
        default: () => ([])
      },
      inviteeRewardCouponPackages: {
        type: Array,
        default: () => ([])
      },
      referrerRewardCouponPackagesFilter: {
        type: Array,
        default: () => ([])
      },
      inviteeRewardCouponPackagesFilter: {
        type: Array,
        default: () => ([])
      },
      referrerLinkValidityDays: {
        type: Object,
        default: () => ({})
      },
      campaign: {
        type: Object || null,
        default: null
      },
      shop: {
        type: Object,
        default: () => ({})
      },
    },
    data() {
        return {
          validTillDate: new Date(Date.now()),
          validityMode: '1',
          validityDays: null,
          campaignName: '',
          nextStep: false,
          widgetCouponRewardActive: false,
          widgetCashRewardActive: false,
          couponType: 'fixed',
          inviteeType: 'fixed',
          cashType: '1',
          cashRewards: '1',
          couponPackage: null,
          invitePackage: null,
          rewardFlag: '1',
          minPurchase: null,
          minCashPurchase: null,
          cashRewardsMaxOrders: 1,
          inviteCouponFixed: [],
          inviteCouponPercent: [],
          referrerCouponFixed: [],
          referrerCouponPercent: [],
        };
    },
    mounted() {
      this.widgetCashRewardActive = true;
      this.widgetCouponRewardActive = true;
    },
    methods: {

      cashRewardsValid() {
        if (this.widgetCashRewardActive && this.hasBalance  && this.inviteeRewardCouponPackages.length > 0){
          return true;
        }
        return false;
      },

      couponRewardsValid() {
        if (this.widgetCouponRewardActive && this.referrerRewardCouponPackages.length > 0 && this.inviteeRewardCouponPackages.length > 0 ){
          return true;
        }
        return  false;
      },

      toggleNextStep() {
        this.nextStep = !this.nextStep;
      },

      filterCouponsbyCampaingEdit() {
        this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;
        this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
        this.$emit('restore-selopt', {
          _token: this.csrfToken,
          inviteeRewardCouponPackages: this.referrerRewardCouponPackages,
          referrerRewardCouponPackages: this.referrerRewardCouponPackages,
        })
        if(this.campaign){
          let refSetting =  this.campaign.setting
          for (let [key, value] of Object.entries(this.referrerRewardCouponPackages)) {
            if (refSetting.referrerRewardCouponPackage == value.value) {
              this.referrerRewardCouponPackagesFilter = [];
              this.referrerRewardCouponPackagesFilter.push(this.referrerRewardCouponPackages[key]);
              break;
            }
          }
          for (let [key, value] of Object.entries(this.inviteeRewardCouponPackages)) {
            if (refSetting.inviteeRewardCouponPackage == value.value) {
              this.inviteeRewardCouponPackagesFilter = [];
              this.inviteeRewardCouponPackagesFilter.push(this.inviteeRewardCouponPackages[key]);
              break;
            }
          }
        }
      },
      saveCampaign() {
        this.$toasted.clear();

        if (!this.widgetCouponRewardActive && !this.widgetCashRewardActive ) {
          this.$toasted.error('Error: Coupon or Cash reward must be active')
          return;
        }

        if (this.widgetCouponRewardActive && !this.couponRewardsValid() && this.widgetCashRewardActive && !this.cashRewardsValid()) {
           this.$toasted.error('Error: Saving Cash & Coupon Campaign. Check Your settings')
          return;
        }

        if (!this.couponRewardsValid() && this.widgetCouponRewardActive) {
          this.$toasted.error('Error: Saving Coupon Campaign. Check Your settings')
          return;
        }

        if (!this.cashRewardsValid() && this.widgetCashRewardActive) {
          this.$toasted.error('Error: Saving Cash Campaign. Check Your settings')
          return;
        }

        const newMonth = this.validTillDate.getMonth()+1
        this.$emit('save-campaign', {
          _token: this.csrfToken,
          id: (this.campaign && this.campaign.id) || null,
          campaign_name: this.campaignName,
          setting: {
            referrerLinkValidityMode: this.validityMode,
            referrerLinkValidityDays: this.validityDays,
            referrerLinkValidityDate: `${this.validTillDate.getFullYear()}-${newMonth < 10 ? `0${newMonth}` : newMonth}-${this.validTillDate.getDate()}`,
            referrerRewardCouponEnabled: this.widgetCouponRewardActive ? '1' : null,
            referrerRewardCouponDiscountType: this.couponType,
            referrerRewardCouponPackage: this.couponPackage,
            referrerGetCouponRewardFlag: (this.rewardFlag == 0) ? '' : this.rewardFlag,
            referrerRewardCashEnabled: this.widgetCashRewardActive ? '1' : null,
            inviteeRewardCouponDiscountType: this.inviteeType,
            inviteeRewardCouponPackage: this.invitePackage,
            referrerRewardCouponDiscountMinPurchase: this.minPurchase,
            minCashPurchase: this.minCashPurchase,
            cashRewardsMaxOrders: this.cashRewardsMaxOrders,
            cashType: this.cashType,
            cashRewards: this.cashRewards
          }
        });
        this.$emit('restore-selopt', {
          _token: this.csrfToken,
          inviteeRewardCouponPackages: this.referrerRewardCouponPackages,
          referrerRewardCouponPackages: this.referrerRewardCouponPackages,
        }),

            this.validityMode = '1',
            this.validityDays = null,
            this.campaignName = '',
            this.nextStep = false,
            this.widgetCouponRewardActive =  false,
            this.widgetCashRewardActive = false,
            this.couponType = 'fixed',
            this.inviteeType = 'fixed',
            this.cashType = '1',
            this.cashRewards ='1',
            this.couponPackage = null,
            this.invitePackage = null,
            this.rewardFlag = '1',
            this.minPurchase = null,
            this.minCashPurchase = null,
            this.cashRewardsMaxOrders = 1
/*         this.this.validityMode = null;
         this.this.validityDays = null;
         */
        },
    },
    watch: {
      campaign: {
        handler(){
          if (this.campaign)
          {
            this.campaignName = this.campaign.name || '';
            this.validityMode = (this.campaign.setting && this.campaign.setting.referrerLinkValidityMode.toString()) || this.referrerLinkValidityModes[0].value.toString();
            this.validityDays = this.campaign.setting ? this.campaign.setting.referrerLinkValidityDays : null;
            this.validTillDate = (this.campaign.setting && this.campaign.setting.referrerLinkValidityDate)
                ? new Date(this.campaign.setting.referrerLinkValidityDate)
                : new Date(Date.now());
           /* this.widgetCouponRewardActive = (this.campaign.setting && this.campaign.setting.referrerRewardCouponEnabled)
                ? this.campaign.setting.referrerRewardCouponEnabled.toString() : null;*/
            this.widgetCouponRewardActive = this.isActiveQponR;

            this.couponType = (this.campaign.setting && this.campaign.setting.referrerRewardCouponDiscountType) || 'fixed';
            this.couponPackage = (this.campaign.setting && this.campaign.setting.referrerRewardCouponPackage)
                ? this.campaign.setting.referrerRewardCouponPackage.toString()
                : this.referrerRewardCouponPackages[0].value.toString();

            this.rewardFlag = (this.campaign.setting && this.campaign.setting.referrerGetCouponRewardFlag.toString()) || this.referrerGetCouponRewardFlags[0].value.toString();
           /* this.widgetCashRewardActive = (this.campaign.setting && this.campaign.setting.referrerRewardCashEnabled)
                ? this.campaign.setting.referrerRewardCashEnabled.toString() : null;*/
            this.widgetCashRewardActive = this.isActiveCashR;
            this.inviteeType = (this.campaign.setting && this.campaign.setting.inviteeRewardCouponDiscountType) || 'fixed';
            this.invitePackage = (this.campaign.setting && this.campaign.setting.inviteeRewardCouponPackage)
                ? this.campaign.setting.inviteeRewardCouponPackage.toString()
                : this.inviteeRewardCouponPackages[0].value.toString();
            this.minPurchase = (this.campaign.setting && this.campaign.setting.referrerRewardCouponDiscountMinPurchase) || null;
            this.minCashPurchase = (this.campaign.setting && this.campaign.setting.minCashPurchase) || null;
            this.cashRewardsMaxOrders = (this.campaign.setting && this.campaign.setting.cashRewardsMaxOrders) || null;
            this.cashType = (this.campaign.setting && this.campaign.setting.cashType) ? this.campaign.setting.cashType.toString() : null;
            this.cashRewards = (this.campaign.setting && this.campaign.setting.cashRewards) ? this.campaign.setting.cashRewards.toString() : null;
          } else
          {
            this.campaignName = '';
            this.validityMode = this.referrerLinkValidityModes[0].value;
            this.validityDays = null;
            this.validTillDate = new Date(Date.now());
            this.widgetCouponRewardActive = null;
            this.couponType = 'fixed';
            this.couponPackage = this.referrerRewardCouponPackages[0].value.toString();
            this.rewardFlag = this.referrerGetCouponRewardFlags[0].value.toString();
            this.widgetCashRewardActive = null;
            this.inviteeType = 'fixed';
            this.invitePackage = this.inviteeRewardCouponPackages[0].value.toString();
            this.minPurchase = null;
            this.minCashPurchase = null;
            this.cashRewardsMaxOrders = 1;
            this.cashType = '1';
            this.cashRewards = '1';
          }

          this.nextStep = false;
        },
        deep: true
      }
    },
    computed: {
      hasBalance() {
        if (parseInt(this.shop.balance) > 0 ) {
          return true;
        }else{
          return false;
        }
      },

      isActiveQponR() {
        if (this.campaign){
          return this.campaign.setting && this.campaign.setting.referrerRewardCouponEnabled
              ? this.campaign.setting.referrerRewardCouponEnabled.toString() : this.widgetCouponRewardActive
        }else{
          return true;
        }

      },

    widgetCouponRewardActive: {
        get() {
          return this.defaultState
        },
        set(newValue) {
          this.widgetCouponRewardActive = newValue;
        }
      },

      isActiveCashR() {
        if (this.campaign){
              return this.campaign.setting && this.campaign.setting.referrerRewardCashEnabled
            ? this.campaign.setting.referrerRewardCashEnabled.toString() : this.widgetCashRewardActive
        }else {
          return true;
        }
      },

      widgetCashRewardActive: {
        get() {
          return this.defaultState
        },
        set(newValue) {
          this.widgetCashRewardActive = newValue;
        }
      },

      canNextStep() {
        if ((this.campaignName && this.campaignName !== '') && (['1', '2', '3'].indexOf(this.validityMode) >= 0)) {
          return true;
        }
        this.nextStep = false;
        return false;
      },
      isCashTypeDisabled() {
        if (this.cashType !== '2') {
          this.minCashPurchase = null;
          return true;
        }
        if(!this.minCashPurchase) {
          this.minCashPurchase = 0.01;
        }
        return false;
      },
      isMinPurchaseDisabled() {
        if (this.rewardFlag !== '2') {
          this.minPurchase = null;
          return true;
        }
        if (!this.minPurchase) {
          this.minPurchase = 0.01;
        }
        return false;
      },
      isCashMinPurchaseDisabled() {
        if (this.cashRewards !== '2') {
          this.cashRewardsMaxOrders = null;
          return true;
        }
        if (!this.cashRewardsMaxOrders) {
          this.cashRewardsMaxOrders = 1;
        }
        return false;
      },
      isPercentCouponType() {
        if (this.isEdit){
          return true;
        }
        return false;
      },

      isPercentInviteeType() {
        if (this.isEdit){
          return true;
        }
        return false;
      },

      filterInviteeCoupons(options) {
        this.filterCouponsbyCampaingEdit();
        this.referrerCouponFixed = [];
        this.referrerCouponPercent = [];
        if (options.inviteeRewardCouponPackagesFilter && options.inviteeRewardCouponPackagesFilter.length > 0 ) {
          for (const [ key, value] of Object.entries(options.inviteeRewardCouponPackagesFilter)) {
            if (Object.values(value).toString().includes("%") ) {
              if(!this.inviteCouponPercent.includes(options.inviteeRewardCouponPackagesFilter[key]) ){
                this.inviteCouponPercent.push(options.inviteeRewardCouponPackagesFilter[key]);
              }
            }
            if (!Object.values(value).toString().includes("%") ) {
              if (!this.inviteCouponFixed.includes(options.inviteeRewardCouponPackagesFilter[key])){
                this.inviteCouponFixed.push(options.inviteeRewardCouponPackagesFilter[key]);
              }
            }
          }
          if (this.inviteeType == "percent"){
            options.inviteeRewardCouponPackagesFilter = this.inviteCouponPercent;
          }
          if (this.inviteeType == "fixed"){
            options.inviteeRewardCouponPackagesFilter = this.inviteCouponFixed;
          }
          if (options.inviteeRewardCouponPackagesFilter && options.inviteeRewardCouponPackagesFilter.length > 0) {
            return true;
          }
        }
      },
      filterReferrerCoupons(options) {
        this.filterCouponsbyCampaingEdit();
        this.referrerCouponFixed = [];
        this.referrerCouponPercent = [];
        if (options.referrerRewardCouponPackagesFilter && options.referrerRewardCouponPackagesFilter.length > 0 ) {
          for (const [ key, value] of Object.entries(options.referrerRewardCouponPackagesFilter)) {
            if (Object.values(value).toString().includes("%") ) {
              if(!this.referrerCouponPercent.includes(options.referrerRewardCouponPackagesFilter[key]) ){
                this.referrerCouponPercent.push(options.referrerRewardCouponPackagesFilter[key]);
              }
            }
            if (!Object.values(value).toString().includes("%") ) {
              if (!this.referrerCouponFixed.includes(options.referrerRewardCouponPackagesFilter[key])){
                this.referrerCouponFixed.push(options.referrerRewardCouponPackagesFilter[key]);
              }
            }
          }
          if (this.couponType == "percent"){
            options.referrerRewardCouponPackagesFilter = this.referrerCouponPercent;
          }
          if (this.couponType == "fixed"){
            options.referrerRewardCouponPackagesFilter = this.referrerCouponFixed;
          }
          if (options.referrerRewardCouponPackagesFilter && options.referrerRewardCouponPackagesFilter.length > 0) {
            return true;
          }
        }
      }
    }
  }
</script>