<template>
    <div>
      <campaigns-list
        :campaigns="loadedCampaigns"
        :is-loading="isLoading"
        @create-campaign-open="handleCreateCampaignOpen"
        @edit-campaign-open="handleEditCampaignOpen"
        @delete-campaign-open="handleDeleteCampaign"
        @deactivate-campaign="handleDeactivateCampaign"
        @activate-campaign="handleActivateCampaign"
      ></campaigns-list>

      <div :class="!openFirstStep && 'hidden'">
        <section-title title="Specify and Activate Your Rewards"></section-title>
        <first-form
            :is-loading="isLoading"
            :referrer-link-validity-modes="referrerLinkValidityModes"
            :referrer-link-validity-days="referrerLinkValidityDays"
            :referrer-get-coupon-reward-flags="referrerGetCouponRewardFlags"
            :referrer-reward-coupon-packages="referrerRewardCouponPackages"
            :invitee-reward-coupon-packages="inviteeRewardCouponPackages"
            :referrer-reward-coupon-packages-filter="referrerRewardCouponPackagesFilter"
            :invitee-reward-coupon-packages-filter="inviteeRewardCouponPackagesFilter"
            :campaign="currentCampaign"
            :shop="shop"
            :csrf-token="csrfToken"
            :isEdit="isEdit"
            @save-campaign="saveCampaign"
            @restore-selopt="restoreSelectOptions"
        ></first-form>
      </div>

      <div class="text-center submit-wizard-section" v-if="loadedCampaigns.length > 0">
        <a href="/account/shop/widget/email" class="btn btn-success">Go to Widget Email</a>
      </div>
    </div>
</template>

<script>
    import Request from "../../../../../Mixins/Request";
    import SectionTitle from "../../../SectionTitle";
    import FirstForm from "./FirstForm";
    import CampaignsList from "./CampaignsList";

    export default {
      mixins: [Request],
      components: {
        SectionTitle,
        FirstForm,
        CampaignsList
      },
      props: {
        csrfToken: {
          type: String,
          required: true
        },
        campaigns: {
          type: Array,
          default: () => ([])
        },
        referrerLinkValidityModes: {
          type: Array,
          default: () => ([])
        },
        referrerGetCouponRewardFlags: {
          type: Array,
          default: () => ([])
        },
        referrerRewardCouponPackages: {
          type: Array,
          default: () => ([])
        },
        inviteeRewardCouponPackages: {
          type: Array,
          default: () => ([])
        },
        referrerRewardCouponPackagesFilter: {
          type: Array,
          default: () => ([])
        },
        inviteeRewardCouponPackagesFilter: {
          type: Array,
          default: () => ([])
        },
        referrerLinkValidityDays: {
          type: Object,
          default: () => ({})
        },
        shop: {
          type: Object,
          default: () => ({})
        },
      },
      data() {
          return {
            isEdit: null,
            campaignsLimit: null,
            isCreateAvlRefC: null,
            isCreateAvlInvC: null,
            isLoading: false,
            loadedCampaigns: [],
            openFirstStep: false,
            editedItemIndex: null,
            currentCampaign: null,
          };
      },
      mounted() {
        this.loadedCampaigns = [...this.campaigns]
        this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
        this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;
      },
      methods: {
        filterCouponsbyCampaingCreate() {
          this.isCreateAvlRefC = true;
          this.isCreateAvlInvC = true;
          this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
          this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;

          for(let  i = 0; i < this.loadedCampaigns.length; i++) {
            let refSetting = this.loadedCampaigns[i].setting;
            for (let [key, value] of Object.entries(this.referrerRewardCouponPackages)) {
              if (refSetting.referrerRewardCouponPackage == value.value) {
                this.referrerRewardCouponPackagesFilter.splice(parseInt(key), 1);
              }
            }
            for (const [key, value] of Object.entries(this.inviteeRewardCouponPackages)) {
              if (refSetting.inviteeRewardCouponPackage == value.value) {
                this.inviteeRewardCouponPackagesFilter.splice(parseInt(key), 1);
              }
            }
          }
          if (this.referrerRewardCouponPackagesFilter.length == 0 && this.shop.rewardsMode == 1) {
            this.isCreateAvlRefC = false;
          }

          if (this.inviteeRewardCouponPackagesFilter.length == 0 && this.shop.rewardsMode == 1) {
            this.isCreateAvlInvC = false;
          }

          if (this.isCreateAvlRefC == false && this.isCreateAvlInvC == false){
            setTimeout(()=> this.$toasted.success("Campaign can not be created! - Upload new coupons: Referrral & Invitee partner"),500);
          }

          if (this.isCreateAvlRefC == false && this.isCreateAvlInvC == true){
            setTimeout(()=> this.$toasted.success("Campaign can not be created! - Upload new coupons: Referrral partner"),500);
          }

          if (this.isCreateAvlInvC == false && this.isCreateAvlRefC == true){
            setTimeout(()=> this.$toasted.success("Campaign can not be created! - Upload new coupons: Invitee partner"),2500);
          }

        },

        filterCouponsbyCampaingEdit() {
          if(this.currentCampaign){
            let refSetting =  this.currentCampaign.setting
            this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;
            this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
            for (let [key, value] of Object.entries(this.referrerRewardCouponPackagesFilter)) {
              if (refSetting.referrerRewardCouponPackage != value.value) {
                this.referrerRewardCouponPackagesFilter.splice(parseInt(key), 1);
              }
            }
            for (let [key, value] of Object.entries(this.inviteeRewardCouponPackagesFilter)) {
              if (refSetting.inviteeRewardCouponPackage != value.value) {
                this.inviteeRewardCouponPackagesFilter.splice(parseInt(key), 1);
              }
            }
          }
          else {
            this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;
            this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
          }
        },

        handleCreateCampaignOpen() {
          this.isEdit = false;
          this.filterCouponsbyCampaingCreate();
          this.currentCampaign = null;
          if (this.openFirstStep && this.editedItemIndex === null) {
            this.openFirstStep = false;
          } else if (this.openFirstStep && this.editedItemIndex !== null) {
            this.editedItemIndex = null;
          } else {
            this.openFirstStep = !this.openFirstStep
          }
        },
        handleEditCampaignOpen(index) {
          this.referrerRewardCouponPackagesFilter = this.referrerRewardCouponPackages;
          this.inviteeRewardCouponPackagesFilter = this.inviteeRewardCouponPackages;
          this.editedItemIndex = index;
          this.currentCampaign = this.loadedCampaigns[index] || null;
          this.openFirstStep = true;
          this.isEdit = true;
      /*    this.filterCouponsbyCampaingEdit();*/
        },
        handleDeleteCampaign(data) {
          this.$confirm(
            {
              title: 'Are you sure?',
              message: `Are you sure you want to remove campaign ${data.campaign.name || `Campaign ${data.index}`}?`,
              button: {
                no: 'No',
                yes: 'Yes'
              },
              /**
               * Callback Function
               * @param {Boolean} confirm
               */
              callback: confirm => {
                if (confirm) {
                  this.deleteCampaign(data.index)
                  this.loadedCampaigns.splice(data.index, 1)
                }
              }
            }
          )
        },
        handleActivateCampaign(data) {
          this.$confirm(
            {
              title: 'Are you sure?',
              message: `Are you sure you want to activate campaign ${data.campaign.name || `Campaign ${data.index}`}?\nThis operation deactivates an active campaign.`,
              button: {
                no: 'No',
                yes: 'Yes'
              },
              /**
               * Callback Function
               * @param {Boolean} confirm
               */
              callback: confirm => {
                if (confirm) {
                  this.activateCampaign(data.index)
                }
              }
            }
          )
        },
        handleDeactivateCampaign(data) {
          this.$confirm(
            {
              title: 'Are you sure?',
              message: `Are you sure you want to deactivate campaign ${data.campaign.name || `Campaign ${data.index}`}?.`,
              button: {
                no: 'No',
                yes: 'Yes'
              },
              /**
               * Callback Function
               * @param {Boolean} confirm
               */
              callback: confirm => {
                if (confirm) {
                  this.deactivateCampaign()
                }
              }
            }
          )
        },

        saveCampaign(data) {
          this.isLoading = true;
          this.makeRequest('POST', `${window.location.origin}/ajax/widget/rewards`, data)
              .then(response => {
                if (response && response.data && response.data.message) {
                  this.$toasted.success(response.data.message);
                  this.loadedCampaigns = response.data.campaigns;
                  this.campaignsLimit = response.data.campaignsLimit;
                  this.editedItemIndex = null;
                  this.openFirstStep = null;
                } else if (response.data && response.data.errors) {
                  setTimeout(function () {
                    this.$toasted.error(this.errorsLoop(response.data.errors))
                  }, 1500)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                this.isLoading = false
              }, err => {
                if (err && err.response && err.response.data) {
                  this.errorsLoop(err.response.data.errors || err.response.data)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                this.isLoading = false
              });
          setTimeout(function () {
            window.location.reload();
          }, 500);
        },
        deleteCampaign(index) {
          const campaign = this.loadedCampaigns[index]
          if (!campaign) {
            this.$toasted.error('Not found campaign to remove.');
            return;
          }
          this.isLoading = true;
          this.makeRequest('POST', `${window.location.origin}/ajax/widget/rewards/remove/${campaign.id}`, {})
              .then(response => {
                if (response && response.data && response.data.message) {
                  this.$toasted.success(response.data.message);
                } else if (response.data && response.data.errors) {
                  this.errorsLoop(response.data.errors);
                } else {
                  this.$toasted.error('Unknown error.')
                }
                this.isLoading = false
              }, err => {
                if (err && err.response && err.response.data) {
                  this.errorsLoop(err.response.data.errors || err.response.data)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                console.error(err);
                this.isLoading = false
              });
        },
        activateCampaign(index) {
          const campaign = this.loadedCampaigns[index]
          if (!campaign) {
            this.$toasted.error('Not found campaign to activate.');
            return;
          }
          this.isLoading = true;
          this.makeRequest('POST', `${window.location.origin}/ajax/widget/rewards/activate/${campaign.id}`, {})
              .then(response => {
                if (response && response.data && response.data.message) {
                  this.loadedCampaigns = response.data.campaigns;
                  this.$toasted.success(response.data.message);
                  this.$forceUpdate();
                } else if (response.data && response.data.errors) {
                  this.errorsLoop(response.data.errors);
                } else {
                  this.$toasted.error('Unknown error.')
                }
                this.isLoading = false
              }, err => {
                if (err && err.response && err.response.data) {
                  this.errorsLoop(err.response.data.errors || err.response.data)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                console.error(err);
                this.isLoading = false
              });
        },
        deactivateCampaign() {
          this.isLoading = true;
          this.makeRequest('POST', `${window.location.origin}/ajax/widget/rewards/deactivate`, {})
              .then(response => {
                if (response && response.data && response.data.message) {
                  this.loadedCampaigns = response.data.campaigns;
                  this.$toasted.success(response.data.message);
                  this.$forceUpdate();
                } else if (response.data && response.data.errors) {
                  this.errorsLoop(response.data.errors);
                } else {
                  this.$toasted.error('Unknown error.')
                }
                this.isLoading = false
              }, err => {
                if (err && err.response && err.response.data) {
                  this.errorsLoop(err.response.data.errors || err.response.data)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                console.error(err);
                this.isLoading = false
              });
        },
        errorsLoop(errors) {
          if (typeof errors === 'object') {
            Object.keys(errors).forEach(name => {
              if (typeof errors[name] === 'string') {
                this.$toasted.error(errors[name]);
              } else {
                this.errorsLoop(errors[name])
              }
            });
          }
        },
       restoreSelectOptions(data) {
          console.log(data);
         this.referrerRewardCouponPackages = data.referrerRewardCouponPackages;
         this.inveiteeRewardCouponPackages = data.inveiteeRewardCouponPackages;
       },
      }
    }
</script>
