<template>
  <custom-modal :title="link ? 'Edit your short link' : `Create ${type} short link`" :is-open="isOpen" :full-width="true" @close-modal="closeModal">
    <el-row :gutter="20">
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <div class="form-group">
          <label for="link_short" class="control-label required">Rename your short link</label>
          <el-input class="input-with-select" placeholder="Enter slug here..." id="link_short" required="required" v-model="short">
            <el-select v-model="usedCustomDomain" slot="prepend" placeholder="vlgo.io/">
              <el-option label="vlgo.io/" :value="null"></el-option>
              <el-option v-for="cd in loadedDomains"
                         :key="cd.id"
                         :label="`${cd.name}/`"
                         :value="cd.id"
              ></el-option>
            </el-select>
          </el-input>
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <div class="form-group">
          <label for="link_original" class="control-label required">Destination URL</label>
          <el-input v-model="original" id="link_original" required="required" @input="loadMetaData" :disabled="isLoading" :readonly="isAffiliate"></el-input>
          <small class="mystore-input-helper mt-1" v-if="timeToLoad > 0">Update in {{ timeToLoad }} second(s)</small>
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <div class="form-group">
          <label for="link_own_description" class="control-label required">Your own description</label>
          <textarea v-model="description" id="link_own_description" required="required" class="sharelink form-control" rows="3" />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <div class="form-group">
          <label>Choose Pixel</label>
          <el-checkbox-group v-model="enabledPixels">
            <el-checkbox v-for="pixel in pixels" v-bind:label="pixel" v-bind:key="pixel" border :disabled="!userPixels[`${pixel}_pixel`]">
              {{ (enabledPixels.indexOf(pixel) >= 0) ? '' : 'add' }} <i class="fa" :class="`fa-${pixel}`"></i> {{ (enabledPixels.indexOf(pixel) >= 0) ? 'added' : '' }}
            </el-checkbox>
          </el-checkbox-group>
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" v-show="!responseEnd" style="min-height: 10px;"></el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" v-show="responseEnd">
        <label>Preview link</label>
        <alert-bag
            v-if="infoMessage.length > 0"
            v-bind="{
            isHidden : true,
            messageList: infoMessage,
            type: 'warning',
            showAll: true
          }"
        ></alert-bag>
        <el-checkbox v-model="showVideo" v-if="hasImageVideo">Show video</el-checkbox>
        <div class="my-card-editor mb-25" v-show="dataFromLink.title || dataFromLink.description || dataFromLink.image || dataFromLink.iframe">
          <div class="my-card-editor__preview-container">
            <a
                id="custom-banner"
                :href="original"
                class="my-card-editor__preview"
                @click="e => e.preventDefault()"
            >
              <div class="my-card-editor__preview-content col">
                <div class="image-wrapper" style="max-width: 100%;" v-if="dataFromLink.image || dataFromLink.iframe">
                  <img v-if="!dataFromLink.iframe" :src='dataFromLink.image' alt=''/>
                  <div class="my-card-editor__video" v-if="dataFromLink.iframe" v-html="dataFromLink.iframe"></div>
                </div>
                <div class="my-card-editor__text" style="text-align: left; width: 100%;">
                  <h1 v-show="dataFromLink.title">{{ dataFromLink.title }}</h1>
                  <p v-html="(setDescription && dataFromLink.description) ? dataFromLink.description.replace(/(?:\r\n|\r|\n)/g, '<br>') : dataFromLink.description" style="max-height: 100px; overflow-y: auto;" v-show="dataFromLink.description"></p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="form-group" v-if="setTitle">
          <label for="short_meta_title">Link title</label>
          <input type="text" v-model="dataFromLink.title" id="short_meta_title" class="form-control" />
        </div>
        <div class="form-group" v-if="setDescription">
          <label for="short_meta_desc">Link description</label>
          <textarea v-model="dataFromLink.description" id="short_meta_desc" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group" v-if="setImage">
          <label for="short_meta_img">Link image</label>
          <button class="btn btn-outline-danger form-control" v-if="dataFromLink.image" @click="removeBase64Image">Remove image</button>
          <input type="file" accept="image/*" id="short_meta_img" class="form-control" @change="loadBase64Image" v-show="!dataFromLink.image" ref="shortMetaImg" />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <el-card class="box-card mb-25">
          <div slot="header" class="clearfix">
            <h4>UTM Settings</h4>
          </div>
          <el-row :gutter="10">
            <el-col :span="12">
              <div class="form-group">
                <label class="block">UTM Source</label>
                <el-select
                    v-if="taxes && taxes.utm_source"
                    v-model="utmSource"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose UTM source...">
                  <el-option
                      v-for="item in taxes.utm_source"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="form-group">
                <label class="block">UTM Medium</label>
                <el-select
                    v-if="taxes && taxes.utm_medium"
                    v-model="utmMedium"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose UTM medium...">
                  <el-option
                      v-for="item in taxes.utm_medium"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="form-group">
                <label class="block">UTM Campaign</label>
                <el-select
                    v-if="taxes && taxes.utm_campaign"
                    v-model="utmCampaign"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose UTM campaign...">
                  <el-option
                      v-for="item in taxes.utm_campaign"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="form-group">
                <label class="block">UTM Content</label>
                <el-select
                    v-if="taxes && taxes.utm_content"
                    v-model="utmContent"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose UTM content...">
                  <el-option
                      v-for="item in taxes.utm_content"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="form-group">
                <label class="block">UTM Keyword</label>
                <el-select
                    v-if="taxes && taxes.utm_keyword"
                    v-model="utmKeyword"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose UTM keyword...">
                  <el-option
                      v-for="item in taxes.utm_keyword"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
          </el-row>
        </el-card>
        <el-card class="box-card mb-25">
          <div slot="header" class="clearfix">
            <h4>Group link</h4>
          </div>
          <el-row :gutter="10">
            <el-col :span="24">
              <div class="form-group">
                <label class="block">Group by folders</label>
                <el-select
                    v-if="taxes && taxes.folders"
                    v-model="folders"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose folders...">
                  <el-option
                      v-for="item in taxes.folders"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="24">
              <div class="form-group">
                <label class="block">Group by tags</label>
                <el-select
                    v-if="taxes && taxes.tags"
                    v-model="tags"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Insert or choose tags...">
                  <el-option
                      v-for="item in taxes.tags"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                  </el-option>
                </el-select>
              </div>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
      <el-col :span="24">
        <el-row :gutter="20" class="reverse-col-sm">
          <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" style="min-height: 1px;">
            <el-row :gutter="10" v-if="addDomainOpen">
              <el-col :span="24">
                <el-card class="box-card mb-25">
                  <div slot="header" class="clearfix">
                    <h4><i class="el-icon-question"></i>&nbsp;Add new branded domain</h4>
                  </div>
                  <el-row :gutter="10">
                    <el-col :span="24">
                      <div class="form-group">
                        <label>Domain name</label>
                        <el-input placeholder="Please input" v-model="domainName">
                          <el-button slot="append" icon="el-icon-circle-plus-outline" @click="addDomain">Add New</el-button>
                        </el-input>
                        <small>Example: smart.your-domain.com, smart.valuelink.io</small>
                      </div>
                    </el-col>
                    <el-col :span="24">
                      <div class="form-group">
                        <label>Your custom domains list</label>
                        <el-table
                            v-loading="isLoading"
                            :data="loadedDomains"
                            style="width: 100%">
                          <el-table-column
                              prop="name"
                              label="Domain name">
                          </el-table-column>
                          <el-table-column
                              prop="actions"
                              label="Actions"
                              width="100"
                              class="text-center"
                          >
                            <template slot-scope="scope">
                              <div class="shortLinks__custom-actions">
                                <el-popconfirm
                                    confirmButtonText='OK'
                                    cancelButtonText='No, Thanks'
                                    icon="el-icon-info"
                                    iconColor="red"
                                    @onConfirm="removeDomain(scope.$index)"
                                    title="Are you sure to delete this?"
                                >
                                  <el-button type="danger" icon="el-icon-delete" circle size="mini" slot="reference"></el-button>
                                </el-popconfirm>
                              </div>
                            </template>
                          </el-table-column>
                        </el-table>
                      </div>
                    </el-col>
                  </el-row>
                </el-card>
              </el-col>
            </el-row>
          </el-col>
          <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
            <el-card class="box-card mb-25">
              <div slot="header" class="clearfix">
                <h4>Custom Domain</h4>
              </div>
              <el-row :gutter="10">
                <el-col :span="24">
                  <div class="form-group" style="margin-bottom: 20px;">
                    <el-button @click="toggleAddDomainInfoOpen" type="info" plain icon="el-icon-question" style="width: 100%;text-align: left;">
                      How to add custom domain name
                    </el-button>
                  </div>
                  <div class="form-group">
                    <el-button @click="toggleAddDomainOpen" type="primary" plain icon="el-icon-circle-plus-outline" style="width: 100%;text-align: left;">
                      Add new branded domain
                    </el-button>
                  </div>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="24">
        <el-row :gutter="10" v-show="addDomainInfoOpen">
          <el-col :span="24">
            <el-card class="box-card mb-25">
              <div slot="header" class="clearfix">
                <h4><i class="el-icon-question"></i>&nbsp;How to add custom domain name</h4>
              </div>
              <el-row :gutter="10">
                <el-col :span="24">
                  <div class="form-group domain-provider">
                    <label class="block">Choose Domain Provider</label>
                    <el-select
                        v-if="domainProviders && domainProviders.length > 0"
                        v-model="domainProvider"
                        filterable
                        default-first-option
                        placeholder="Choose Domain Provider...">
                      <el-option
                          v-for="domain in domainProviders"
                          :key="domain"
                          :label="domain"
                          :value="domain">
                      </el-option>
                    </el-select>
                  </div>
                </el-col>
                <el-col :span="24">
                  <div v-if="domainProvider">
                    <ol>
                      <li>Login to your domain provider <b>{{ domainProvider }}</b></li>
                      <li>Click on, Select...</li>
                      <li>
                        On DNS settings , add new entry posting to valiuelink.io
                        <el-table
                            :data="[{
                              type: 'CNAME',
                              host: 'smart',
                              pointsTo: 'valuelink.io',
                              ttl: '1H'
                            }]"
                            style="width: 100%">
                          <el-table-column
                              prop="type"
                              label="Type">
                          </el-table-column>
                          <el-table-column
                              prop="host"
                              label="Host">
                          </el-table-column>
                          <el-table-column
                              prop="pointsTo"
                              label="Points to">
                          </el-table-column>
                          <el-table-column
                              prop="ttl"
                              label="TTL">
                          </el-table-column>
                        </el-table>
                      </li>
                      <li>Add Your new custom domain: example: smart.your-company-name.com  to  "Add new branded domain"</li>
                      <li>DNS propagation can take from 24h up to 48h.  After this period redirect from your new domain will be active</li>
                    </ol>
                  </div>
                  <el-alert v-else
                    title="Choose any domain provider to show instruction"
                    type="info"
                    center
                    show-icon>
                  </el-alert>
                </el-col>
              </el-row>
            </el-card>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="24" class="button-container">
        <el-button type="success" @click="saveShortLink" style="font-size: 20px;">{{ link ? 'Update short link' : 'Shorten your link' }}</el-button>
      </el-col>
    </el-row>
  </custom-modal>
</template>

<script>
import CustomModal from "../../Account/CustomModal";
import AlertBag from "../../Account/AlertBag";
import Request from "../../../Mixins/Request";

export default {
  mixins: [Request],
  components: {
    CustomModal,
    AlertBag
  },
  props: {
    type: {
      type: String,
      default: 'custom'
    },
    customDomains: {
      type: Array,
      default: () => ([])
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    link: {
      type: Object,
      default: () => ({})
    },
    userPixels: {
      type: Object,
      required: true
    },
    taxes: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      isLoading: true,
      responseEnd: false,
      setTitle: false,
      setDescription: false,
      setImage: false,
      hasImageVideo: false,
      showVideo: false,
      timeToLoad: 0,
      timeToUpdateMeta: 2, // in seconds
      stepTimeout: null,
      metaTimer: null,
      short: '',
      original: '',
      description: '',
      pixels: ['facebook', 'twitter', 'pinterest', 'linkedin', 'google', 'quora'],
      enabledPixels: [],
      utmSource: [],
      utmMedium: [],
      utmCampaign: [],
      utmContent: [],
      utmKeyword: [],
      folders: [],
      tags: [],
      dataFromLink: {
        title: '',
        description: '',
        image: '',
        iframe: '',
        url: '',
      },
      infoMessage: [],
      infoLabels: {
        title: 'title',
        description: 'description',
        image: 'image or iframe',
        url: 'url',
      },
      domainProvider: null,
      addDomainOpen: false,
      addDomainInfoOpen: false,
      domainProviders: [
        'GoDaddy',
        'Namecheap',
        'HostGator'
      ],
      domainName: '',
      loadedDomains: [],
      usedCustomDomain: null,
    }
  },
  mounted() {
    this.loadedDomains = this.customDomains
    this.isLoading = false
  },
  watch: {
    isOpen(val) {
      if (!val) return this.resetData()
      if (!this.link || !this.link.id) return (this.short = this.generateShort(7))
    },
    dataFromLink() {
      this.infoHandle()
    },
    link: {
      deep: true,
      handler(link) {
        if (link) {
          link.short && (this.short = link.short)
          this.original = link.original
          if (this.original) this.responseEnd = true
          this.description = link.description
          this.usedCustomDomain = (link.customDomainId || null)

          this.enabledPixels = []
          if (link.facebookPixel) this.enabledPixels.push('facebook')
          if (link.twitterPixel) this.enabledPixels.push('twitter')
          if (link.pinterestPixel) this.enabledPixels.push('pinterest')
          if (link.linkedinPixel) this.enabledPixels.push('linkedin')
          if (link.googlePixel) this.enabledPixels.push('google')
          if (link.quoraPixel) this.enabledPixels.push('quora')

          this.dataFromLink = {
            title: link.metaTitle,
            description: link.metaDesc,
            image: link.metaImage,
            iframe: link.metaIframe,
            url: link.original
          }
          link.original && this.loadMetaData()

          this.tags = link.tags && link.tags.split(', ')
          this.folders = link.folders && link.folders.split(', ')
          this.utmSource = link.utm_source && link.utm_source.split(', ')
          this.utmMedium = link.utm_medium && link.utm_medium.split(', ')
          this.utmCampaign = link.utm_campaign && link.utm_campaign.split(', ')
          this.utmContent = link.utm_content && link.utm_content.split(', ')
          this.utmKeyword = link.utm_keyword && link.utm_keyword.split(', ')
        }
      }
    }
  },
  computed: {
    isAffiliate() {
      return this.type === 'affiliate'
    }
  },
  methods: {
    addDomain() {
      if (!this.domainName || this.domainName.length < 3) {
        return this.$toasted.error('Domain name must contain at least 3 characters.')
      }
      this.domainName = this.domainName.replace(/(http|https):\/\//, '')

      this.isLoading = true
      this.makeRequest('post', '/account/custom-domains', {
        name: this.domainName
      })
      .then(response => {
        if (response && response.data && response.data.customDomains) {
          this.loadedDomains = []
          this.loadedDomains = (typeof response.data.customDomains === 'object') ? Object.values(response.data.customDomains) : response.data.customDomains
          this.$toasted.success(response.data.message || 'Custom domain has been saved successfully.')
        }

        this.isLoading = false
        this.domainName = ''
      }, err => {
        if (err && err.response && err.response.data && err.response.data.errors) {
          this.errorsLoop(err.response.data.errors)
        } else if (err && err.response && err.response.data && (['object', 'array'].indexOf(typeof err.response.data) >= 0)) {
          this.errorsLoop(err.response.data)
        } else {
          this.$toasted.error((err && err.response && err.response.data) ? err.response.data : 'Unknown error.')
        }
        console.error(err)
        this.isLoading = false
      })
    },
    removeDomain(index) {
      const customDomain = this.loadedDomains[index]
      if (customDomain) {
        this.isLoading = true
        this.makeRequest('post', `/account/custom-domains/${customDomain.id}/delete`, {})
        .then(response => {
          if (response && response.data && response.data.customDomains) {
            this.loadedDomains = []
            this.loadedDomains = (typeof response.data.customDomains === 'object') ? Object.values(response.data.customDomains) : response.data.customDomains
            this.$toasted.success(response.data.message || 'Custom domain has been removed successfully.')
          }

          this.isLoading = false
          this.domainName = ''
        }, err => {
          if (err && err.response && err.response.data && err.response.data.errors) {
            this.errorsLoop(err.response.data.errors)
          } else if (err && err.response && err.response.data && (['object', 'array'].indexOf(typeof err.response.data) >= 0)) {
            this.errorsLoop(err.response.data)
          } else {
            this.$toasted.error((err && err.response && err.response.data) ? err.response.data : 'Unknown error.')
          }
          console.error(err)
          this.isLoading = false
        })
      }
    },
    toggleAddDomainInfoOpen() {
      this.domainProvider = null
      this.addDomainInfoOpen = !this.addDomainInfoOpen
    },
    toggleAddDomainOpen() {
      this.domainName = ''
      this.addDomainOpen = !this.addDomainOpen
    },
    generateShort(length) {
      let result = '';
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      for ( let i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * characters.length));
      }
      return result;
    },
    loadBase64Image(e) {
      if (e && e.target && e.target.files && e.target.files[0]) {
        this.isLoading = true
        const reader = new FileReader()
        reader.onload = e => {
          this.isLoading = false
          this.dataFromLink.image = e.target.result
        }
        reader.readAsDataURL(e.target.files[0])
      }
    },
    removeBase64Image() {
      const el = this.$refs.shortMetaImg
      el.type = 'text'
      el.type = 'file'
      this.dataFromLink.image = null
    },
    loadStep(step) {
      this.timeToLoad = step
      if (this.stepTimeout) clearTimeout(this.stepTimeout)
      this.stepTimeout = setTimeout(() => {
        if (this.timeToLoad > 0) this.loadStep(this.timeToLoad - 1)
      }, 1000)
    },
    closeModal() {
      this.addDomainOpen = false
      this.addDomainInfoOpen = false
      this.$emit('close-modal')
    },
    resetData() {
      this.short = ''
      this.original = ''
      this.description = ''
      this.usedCustomDomain = ''
      this.enabledPixels = []
      this.resetDataFromLink()
    },
    resetDataFromLink() {
      this.responseEnd = false
      this.setTitle = false
      this.setDescription = false
      this.setImage = false
      this.hasImageVideo = false
      this.showVideo = false
      this.dataFromLink = {
        title: '',
        description: '',
        image: '',
        iframe: '',
        url: '',
      }
    },
    saveShortLink() {
      if (!this.isLoading) {
        this.makeRequest('post', `/account/referrer/short-links/${this.type}`, {
          id: this.link ? this.link.id : null,
          short: this.short,
          original: this.original,
          customDomainId: this.usedCustomDomain,
          description: this.description,
          referrerLinkId: this.link.referrerLinkId || null,
          facebook_pixel: this.enabledPixels.indexOf('facebook') >= 0 ? 1 : 0,
          twitter_pixel: this.enabledPixels.indexOf('twitter') >= 0 ? 1 : 0,
          pinterest_pixel: this.enabledPixels.indexOf('pinterest') >= 0 ? 1 : 0,
          linkedin_pixel: this.enabledPixels.indexOf('linkedin') >= 0 ? 1 : 0,
          google_pixel: this.enabledPixels.indexOf('google') >= 0 ? 1 : 0,
          quora_pixel: this.enabledPixels.indexOf('quora') >= 0 ? 1 : 0,
          meta_title: this.dataFromLink.title || null,
          meta_desc: this.dataFromLink.description || null,
          meta_image: this.dataFromLink.image || null,
          meta_iframe: this.dataFromLink.iframe || null,
          tag: this.tags,
          folder: this.folders,
          utm_source: this.utmSource,
          utm_medium: this.utmMedium,
          utm_campaign: this.utmCampaign,
          utm_content: this.utmContent,
          utm_keyword: this.utmKeyword
        })
        .then(response => {
          this.$toasted.success(response.data || 'Link has been saved successfully..')

          this.isLoading = false
          this.closeModal()
        }, err => {
          if (err && err.response && err.response.data && err.response.data.errors) {
            this.errorsLoop(err.response.data.errors)
          } else if (err && err.response && err.response.data && (['object', 'array'].indexOf(typeof err.response.data) >= 0)) {
            this.errorsLoop(err.response.data)
          } else {
            this.$toasted.error((err && err.response && err.response.data) ? err.response.data : 'Unknown error.')
          }
          console.error(err)
          this.isLoading = false
        })
      }
    },
    infoHandle() {
      this.infoMessage = []
      for (const [key, value] of Object.entries(this.dataFromLink)) {
        if ((['image', 'iframe'].indexOf(key) === -1) && (!value || value.length === 0) && this.infoLabels[key]) {
          this.infoMessage.push(`This link hasn't ${this.infoLabels[key]}.`)
        }
      }

      if (!this.dataFromLink.title) this.setTitle = true
      if (!this.dataFromLink.description) this.setDescription = true
      if (!this.dataFromLink.iframe) this.showVideo = false
      if (!this.dataFromLink.image && !this.dataFromLink.iframe) {
        this.hasImageVideo = false
        this.setImage = true
        this.infoMessage.push(`This link hasn't ${this.infoLabels.image}`)
      } else this.hasImageVideo = !!(this.dataFromLink.image && this.dataFromLink.video);
    },
    loadMetaData() {
      if (!this.isLoading && this.original) {
        this.loadStep(this.timeToUpdateMeta)
        clearTimeout(this.metaTimer)
        this.metaTimer = setTimeout(() => {
          if (this.original && this.original.substr(0, 4) !== 'http') {
            this.original = (this.original.substr(0, 2) === '//')
                ? window.location.protocol+this.original
                : window.location.protocol+'//'+this.original
          }
          this.isLoading = true
          this.responseEnd = false
          this.makeRequest('get', '/api/v1/meta', {
            link: this.original
          })
          .then(response => {
            this.loadStep(0)
            if (response && response.data) {
              const {
                title,
                description,
                image,
                iframe,
                url
              } = response.data

              this.resetDataFromLink()

              if (title && title !== url) this.dataFromLink.title = title
              if (description) {
                this.dataFromLink.description = description
                this.description = description
              }
              if (image) this.dataFromLink.image = image
              if (iframe) this.dataFromLink.iframe = iframe
              if (url) this.dataFromLink.url = url
            } else {
              this.$toasted.error('Unknown error.')
            }

            this.responseEnd = true
            this.isLoading = false
            this.infoHandle()
          }, err => {
            if (err && err.response && err.response.data && err.response.data.errors) {
              this.errorsLoop(err.response.data.errors)
            } else if (err && err.response && err.response.data && (['object', 'array'].indexOf(typeof err.response.data) >= 0)) {
              this.errorsLoop(err.response.data)
            } else {
              this.$toasted.error((err && err.response && err.response.data) ? err.response.data : 'Unknown error.')
            }

            console.error(err)
            this.responseEnd = true
            this.isLoading = false
            this.infoHandle()
          })
        }, (this.timeToUpdateMeta * 1000))
      }
    },
    errorsLoop(errors, parentName) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(`${parentName || name.replace(/_/g, ' ')}: ${errors[name]}`)
          } else {
            this.errorsLoop(errors[name], name.replace(/_/g, ' '))
          }
        });
      }
    },
  }
}
</script>