<template>
  <div class="row shortLinks__custom">
    <div class="col-xs-12">
      <el-row class="mb-10">
        <el-col class="first-button">
            <el-select
              v-if="type === 'affiliate'"
              v-model="currentShops"
              :placeholder="(firstButton.shops && firstButton.shops.length > 0) ? firstButton.title : 'You don\'t have any partner programs!'"
              multiple="multiple"
              :disabled="(!firstButton.shops || firstButton.shops.length === 0)"
            >
              <el-option
                  v-if="firstButton.shops"
                  v-for="item in firstButton.shops"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
              </el-option>
            </el-select>
            <el-button v-if="type !== 'affiliate'" type="primary" @click="firstButton.method">{{ firstButton.title }}</el-button>
        </el-col>
      </el-row>
      <el-row class="mb-10">
        <strong class="shortLinks__custom-title">Hide Columns</strong>
      </el-row>
      <el-row class="mb-10" :gutter="20">
        <el-col>
          <el-select v-model="hiddenColumns" placeholder="select tags" multiple collapse-tags>
            <el-option v-for="(col, index) in columns" :label="col.label" :value="col.prop" :key="index"></el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row style="margin-bottom: 10px">
        <strong class="shortLinks__custom-title">Filters</strong>
      </el-row>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="12" :md="4" style="margin-bottom: 10px">
          <el-select
              v-if="taxes && taxes.tags"
              v-model="filters[0].value"
              style="width: 100%;"
              placeholder="tags"
              multiple="multiple"
          >
            <el-option
                v-for="item in taxes.tags"
                :key="item.name"
                :label="item.name"
                :value="item.name">
            </el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="12" :md="4" style="margin-bottom: 10px">
          <el-select
              v-if="taxes && taxes.folders"
              v-model="filters[1].value"
              style="width: 100%;"
              placeholder="folders"
              multiple="multiple"
          >
            <el-option
                v-for="item in taxes.folders"
                :key="item.name"
                :label="item.name"
                :value="item.name">
            </el-option>
          </el-select>
        </el-col>
        <el-col :sm="24" :md="12" :lg="10" style="margin-bottom: 10px">
          <el-date-picker
              v-model="filters[2].value"
              style="width: 100%;"
              type="datetimerange"
              format="yyyy-MM-dd HH:mm:ss"
              value-format="yyyy-MM-dd HH:mm:ss"
              start-placeholder="Start date"
              end-placeholder="End date">
          </el-date-picker>
        </el-col>
      </el-row>
      <el-row style="margin-bottom: 10px">
        <strong class="shortLinks__custom-title">Actions</strong>
      </el-row>
      <el-row style="margin-bottom: 10px" :gutter="20">
        <el-col :xs="24" :sm="12" :md="4" style="margin-bottom: 10px">
          <el-button style="width: 100%;" @click="() => openStatsLink()">Total summary</el-button>
        </el-col>
        <el-col :xs="24" :sm="12" :md="4" style="margin-bottom: 10px">
          <el-tooltip class="item" :content="clipboard" placement="bottom">
            <el-button ref="copyLinksButton" style="width: 100%;" @click="copyLinks()">Copy Links</el-button>
          </el-tooltip>
        </el-col>
      </el-row>
      <data-tables-server stripe border v-loading="isLoading" :current-page.sync="page" :page-size.sync="pageSize" :filters="filters" :data="data" :total="total" @query-change="loadData" :pagination-props="{ pageSizes: [5, 10, 15, 20, 50, 100] }">
        <div slot="empty">{{ (type === 'affiliate') ? 'No data for these companies' : 'No Data' }}</div>
        <el-table-column
            v-for="col in columns"
            v-if="col.prop !== 'actions' && col.prop !== 'pixelsCount' && col.prop !== 'shorten_btn' && !col.isHide" :prop="col.prop"
            :label="col.label"
            min-width="120px"
            :key="col.label"
            sortable
        >
          <template slot-scope="scope">
            <el-tooltip class="item" :content="scope.row[col.prop]" placement="top-start" v-if="col.prop !== 'clicks'">
              <span class="shortLinks__custom-desc" v-if="scope.row[col.prop] && scope.row[col.prop].length > 0">{{ scope.row[col.prop] }}</span>
            </el-tooltip>
            <span v-else>{{ scope.row[col.prop] }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="col.label" min-width="120px" v-else-if="col.prop === 'shorten_btn' && !col.isHide" sortable>
          <template slot-scope="scope">
            <span v-if="scope.row.short && scope.row.short.length > 0">{{ scope.row.short }}</span>
            <el-button v-else @click="openEditLink(scope.row)">Shorten Link</el-button>
          </template>
        </el-table-column>
        <el-table-column label="Pixels" align="center" min-width="140px" v-else-if="col.prop === 'pixelsCount' && !col.isHide" sortable>
          <template slot-scope="scope">
            <div class="shortLinks__custom-icons">
              <div class="btn btn-default inline-field" v-if="scope.row.facebookPixel">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="btn btn-default inline-field" v-if="scope.row.googlePixel">
                <i class="fa fa-google"></i>
              </div>
              <div class="btn btn-default inline-field" v-if="scope.row.twitterPixel">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="btn btn-default inline-field" v-if="scope.row.linkedinPixel">
                <i class="fa fa-linkedin"></i>
              </div>
              <div class="btn btn-default inline-field" v-if="scope.row.pinterestPixel">
                <i class="fa fa-pinterest"></i>
              </div>
              <div class="btn btn-default inline-field" v-if="scope.row.quoraPixel">
                <i class="fa fa-quora"></i>
              </div>
              <div class="btn btn-default inline-field reset" v-if="!checkPixels(scope.row)">
                Add pixel
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Actions" align="center" min-width="120px" v-else-if="!col.isHide">
          <template slot-scope="scope">
            <div class="shortLinks__custom-actions" v-if="scope.row.id">
              <el-button type="primary" icon="el-icon-edit" circle size="mini" @click="openEditLink(scope.row)"></el-button>
              <el-button type="success" icon="el-icon-s-data" circle size="mini" @click="openStatsLink(scope.row)"></el-button>
              <el-tooltip class="item" :content="clipboard" placement="top">
                <el-button type="info" icon="el-icon-document-copy" circle size="mini" @click="e => copyToClipboard(e.target, scope.row.short)"></el-button>
              </el-tooltip>
              <el-popconfirm v-if="scope.row.id"
                  confirmButtonText='OK'
                  cancelButtonText='No, Thanks'
                  icon="el-icon-info"
                  iconColor="red"
                  @onConfirm="removeRow(scope.row.id)"
                  title="Are you sure to delete this?"
              >
                <el-button type="danger" icon="el-icon-delete" circle size="mini" slot="reference"></el-button>
              </el-popconfirm>
            </div>
            <div class="shortLinks__custom-actions" v-else>-</div>
          </template>
        </el-table-column>
      </data-tables-server>
    </div>
  </div>
</template>

<script>
import Request from "../../../Mixins/Request";
import {dateTimeFactory} from "../../../Objects/DateTime";

export default {
  mixins: [
    Request
  ],
  props: {
    type: {
      type: String,
      default: 'custom'
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    firstButton: {
      type: Object,
      default: () => ({
        title: '',
        method: () => {}
      })
    },
    url: {
      type: String,
      default: ''
    },
    deleteUrl: {
      type: String,
      default: ''
    },
    columns: {
      type: Array,
      required: true
    },
    taxes: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      page: 1,
      pageSize: 20,
      currentShops: null,
      separator: ', ',
      data: [],
      clipboard: 'Copy',
      loading: false,
      total: 0,
      filters: [
        {
          value: '',
          search_prop: 'tags'
        },
        {
          value: '',
          search_prop: 'folders'
        },
        {
          value: [
            dateTimeFactory().subDays(90).toDateTimeString(),
            dateTimeFactory().toDateTimeString()
          ],
          search_prop: 'date_range'
        }
      ],
      hiddenColumns: [],
      links: ''
    }
  },
  created() {
    this.hiddenColumns = window.localStorage.getItem(`${this.type}_hiddenColumns`)
        ? JSON.parse(window.localStorage.getItem(`${this.type}_hiddenColumns`))
        : ['utm_source', 'utm_medium', 'utm_campaign', 'utm_content', 'utm_keyword']
  },
  watch: {
    hiddenColumns() {
      this.columnsHandler()
    },
    isLoading(val) {
      !val && this.loadData()
    },
    filters: {
      deep: true,
      handler(val) {
        this.$emit('update-filters', [...val])
      }
    },
    currentShops: {
      deep: true,
      handler() {
        this.loadData()
      }
    }
  },
  methods: {
    loadData(queryInfo) {
      let threeMonthAgo = new Date(Date.now() - (90 * 24 * 60 * 60 * 1000) + (30 * 1000));
      threeMonthAgo = `${threeMonthAgo.getFullYear()}-${('0' + (threeMonthAgo.getMonth() + 1)).slice(-2)}-${('0' + (threeMonthAgo.getDate() + 1)).slice(-2)} ${('0' + (threeMonthAgo.getHours() + 1)).slice(-2)}:${('0' + (threeMonthAgo.getMinutes() + 1)).slice(-2)}:${('0' + (threeMonthAgo.getSeconds() + 1)).slice(-2)}`
      const data = {
        page: (queryInfo && queryInfo.page) || this.page,
        pageSize: (queryInfo && queryInfo.pageSize) || this.pageSize,
        sort: (queryInfo && queryInfo.sort) || null,
        from: threeMonthAgo
      };

      if (queryInfo && queryInfo.filters) {
        queryInfo.filters.forEach(item => {
          switch (item.search_prop) {
            case 'tags':
              data.tags = ((item.value && item.value.join(this.separator)) || null)
              break;
            case 'folders':
              data.folders = ((item.value && item.value.join(this.separator)) || null)
              break;
            case 'date_range':
              data.from = ((item.value && item.value[0]) || threeMonthAgo)
              data.to = ((item.value && item.value[1]) || null)
              break;
          }
        })
      } else if(this.filters) {
        this.filters.forEach(item => {
          switch (item.search_prop) {
            case 'tags':
              data.tags = ((item.value && item.value.join(this.separator)) || null)
              break;
            case 'folders':
              data.folders = ((item.value && item.value.join(this.separator)) || null)
              break;
            case 'date_range':
              data.from = (item.value[0] || threeMonthAgo)
              data.to = (item.value[1] || null)
              break;
          }
        })
      }

      if (this.currentShops) {
        data.companies = this.currentShops.join(this.separator)
      }

      return this.makeRequest('GET', this.url, data)
          .then(response => {
            if (response.data) {
              this.total = parseInt(response.data.total)
              this.data = response.data.items
            }else {
              this.$toasted.error('Unknown error.')
            }
          }, err => {
            if (err && err.response && err.response.data && err.response.data.errors) {
              this.errorsLoop(err.response.data.errors)
            } else {
              this.$toasted.error((err && err.response && err.response.data) || 'Unknown error.')
            }
            console.error(err)
          })
    },
    removeRow(id) {
      let deleteLink
      if (this.deleteUrl.includes('{customShortLink}')) {
        deleteLink = this.deleteUrl.replace('{customShortLink}', id)
      } else if (this.deleteUrl.includes('{affiliateShortLink}')) {
        deleteLink = this.deleteUrl.replace('{affiliateShortLink}', id)
      }
      this.makeRequest('POST', deleteLink)
      .then(() => {
        this.loadData();
        this.$toasted.success('Link has been deleted successfully.')
      }, err => {
        if (err && err.response && err.response.data && err.response.data.errors) {
          this.errorsLoop(err.response.data.errors)
        } else {
          this.$toasted.error((err && err.response && err.response.data) || 'Unknown error.')
        }
        console.error(err)
      })
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    columnsHandler() {
      if (this.hiddenColumns.length > 0) {
        this.columns.forEach((th) => {
          this.hiddenColumns.includes(th.prop) ? th.isHide = true : th.isHide = false
        })
        window.localStorage.setItem(`${this.type}_hiddenColumns`, JSON.stringify(this.hiddenColumns))
      } else {
        window.localStorage.setItem(`${this.type}_hiddenColumns`, JSON.stringify([]))
        this.columns.forEach(th => {
          th.isHide = false
        })
      }
    },
    checkPixels(pixels) {
      return pixels && pixels.facebookPixel || pixels.googlePixel || pixels.twitterPixel || pixels.linkedinPixel || pixels.pinterestPixel || pixels.quoraPixel
    },
    copyToClipboard(target, text) {
      const textArea = document.createElement("textarea")
      textArea.value = text;

      // Avoid scrolling to bottom
      textArea.style.opacity = "0";
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        if (document.execCommand('copy')) {
          if (target !== undefined) {
            this.clipboard = 'Copied!'
            target.focus();
            target.onmouseleave = () => this.resetClipboardText()
          } else {
            this.clipboard = 'Links copied: ' + this.total
            this.$refs.copyLinksButton.$el.focus();
            this.$refs.copyLinksButton.$el.onmouseleave = () => this.resetClipboardText()
          }
        }
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }

      document.body.removeChild(textArea);
    },
    resetClipboardText() {
      setTimeout(() => this.clipboard = 'Copy', 500)
    },
    copyLinks() {
      this.link = ''
      if (this.data.length > 0) {
        this.data.forEach(item => {
          if (!item || !item.short || item.short.length < 1) return false;
          this.link = this.link + item.short + '\n'
        })  
        this.copyToClipboard(undefined, this.link)
      }
    },
    openEditLink(link) {
      this.$emit('open-edit', link)
    },
    openStatsLink(link) {
      this.$emit('open-stats', link)
    }
  }
}
</script>
