<template>
  <div class="row shortLinks">
    <div class="col-xs-12 text-center">
      <h4>Shorten any link & start retargeting campaign at</h4>
      <ul class="shortLinks__icons">
        <li>
          <i class="fa fa-facebook"></i>
        </li>
        <li>
          <i class="fa fa-twitter"></i>
        </li>
        <li>
          <i class="fa fa-pinterest"></i>
        </li>
        <li>
          <i class="fa fa-linkedin"></i>
        </li>
        <li>
          <i class="fa fa-google"></i>
        </li>
        <li>
          <i class="fa fa-quora"></i>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 shortLinks__buttons">
      <div class="row">
        <div class="col-md-12">
          <a href="/account/referrer/short-links/custom" class="btn btn-default btn-block">
            <div class="stats-content">
              <div class="title">Shorten Custom Link</div>
            </div>
          </a>
        </div>
        <div class="col-md-12">
          <a href="/account/referrer/short-links/affiliate" class="btn btn-default btn-block">
            <div class="stats-content">
              <div class="title">Shorten Partner Link</div>
            </div>
          </a>
        </div>
        <pixels-modal
            :is-loading="isLoading"
            :pixels="loadedPixels"
            @save-pixels="handleSavePixels"
        ></pixels-modal>
      </div>
    </div>
  </div>
</template>

<script>
import PixelsModal from "./PixelsModal";
import Request from "../../../Mixins/Request";

export default {
  mixins: [
    Request
  ],
  components: {
    PixelsModal
  },
  props: {
    pixels: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isLoading: false,
      loadedPixels: {},
      toastConf: {
        "positionClass": "toast-bottom-right",
        "containerId": "uiwefuienrf123",
        "timeOut": 2000
      },
    }
  },
  mounted() {
    this.loadedPixels = this.pixels;
  },
  computed: {
    isAllPixels() {
      return Object.values(this.loadedPixels).filter(val => !!val).length >= 6
    }
  },
  methods: {
    handleSavePixels(pixels) {
      this.isLoading = true
      this.makeRequest('POST', '/account/referrer/update-pixels', pixels)
          .then((response) => {
            toastr.options = this.toastConf;
            if (response && response.data) {
              toastr.success(
                  response.data.toString() || 'Pixels have been updated successfully!'
              );
              this.loadedPixels = pixels;
            } else if (response.data && response.data.errors) {
              this.loadedPixels = this.pixels;
              this.errorsLoop(response.data.errors);
            } else {
              this.loadedPixels = this.pixels;
              toastr.error('Unknown error');
            }
            this.isLoading = false
          })
          .catch(err => {
            if (err && err.response && err.response.data && err.response.data.errors) {
              this.errorsLoop(err.response.data.errors)
            }else if (err && err.response && err.response.data) {
              this.errorsLoop(err.response.data)
            } else {
              this.$toasted.error('Unknown error.')
            }
            console.error(err)
            this.loadedPixels = this.pixels;
            this.isLoading = false
          });
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            toastr.error(errors[name]);
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
  }
}
</script>
