<template>
  <div v-if="!firstLoading">
    <datatable
        :type="'affiliate'"
        :is-loading="isLoading"
        :url="url"
        :deleteUrl="deleteUrl"
        :taxes="taxes"
        :firstButton="{
          shops: shops,
          title: buttonTitle,
        }"
        :columns="columns"
        @open-edit="openEditLink"
        @open-stats="openStatsModal"
        @update-filters="updateFilters"
    ></datatable>
    <create-custom-modal
        :type="'affiliate'"
        :custom-domains="customDomains"
        :taxes="taxes"
        :is-open="createModalIsOpen"
        :user-pixels="pixels"
        :link="currentEditLink"
        @close-modal="closeCreateModal"
    ></create-custom-modal>
    <stats-modal
        :url="statsUrl"
        :taxes="taxes"
        :data-filters="dataFilters"
        :is-open="statsModalIsOpen"
        :link="currentStatsLink"
        @close-modal="closeStatsModal"
    ></stats-modal>
  </div>
</template>

<script>
import Request from "../../../Mixins/Request";
import Datatable from "./Datatable";
import CreateCustomModal from "./CreateCustomModal";
import StatsModal from "./StatsModal";
import { dateTimeFactory } from "../../../Objects/DateTime";

export default {
  mixins: [Request],
  components: {
    Datatable,
    CreateCustomModal,
    StatsModal
  },
  props: {
    customDomains: {
      type: Array,
      default: () => ([])
    },
    pixels: {
      type: Object,
      required: true
    },
    shops: {
      type: Array,
      default: () => ([])
    }
  },
  mounted() {
    this.loading = this.$loading({
      lock: true,
      text: 'Loading',
      spinner: 'el-icon-loading',
      background: 'rgba(255, 255, 255, 0.7)',
      fullscreen: true
    });
    this.loadTaxes()
  },
  watch: {
    isLoading(val) {
      if (val) {
        this.loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(255, 255, 255, 0.7)',
          fullscreen: true
        });
      } else {
        this.loading.close()
      }
    }
  },
  data() {
    return {
      isLoading: true,
      firstLoading: true,
      createModalIsOpen: false,
      statsModalIsOpen: false,
      currentEditLink: null,
      currentStatsLink: null,
      url: '/account/referrer/short-links/affiliate',
      deleteUrl: '/account/referrer/short-links/affiliate/{affiliateShortLink}/delete',
      statsUrl: '/account/referrer/short-links/affiliate/stats',
      buttonTitle: 'Select affiliate links by companies',
      dataFilters: [
        {
          value: '',
          search_prop: 'tags'
        },
        {
          value: '',
          search_prop: 'folders'
        },
        {
          value: [
            dateTimeFactory().subDays(90).toDateTimeString(),
            dateTimeFactory().toDateTimeString()
          ],
          search_prop: 'date_range'
        }
      ],
      columns: [
        {
          prop: "shorten_btn",
          label: "Short URL",
          isHide: false
        },
        {
          prop: "original",
          label: "Target URL",
          isHide: false
        },
        {
          prop: "description",
          label: "Description",
          isHide: false
        },
        {
          prop: "pixelsCount",
          label: "Pixels",
          isHide: false
        },
        {
          prop: "clicks",
          label: "Clicks",
          isHide: false
        },
        {
          prop: "actions",
          label: "Actions",
          isHide: false
        },
        {
          prop: "utm_source",
          label: "Source",
          isHide: true
        },
        {
          prop: "utm_medium",
          label: "Medium",
          isHide: true
        },
        {
          prop: "utm_campaign",
          label: "Campaign",
          isHide: true
        },
        {
          prop: "utm_content",
          label: "Content",
          isHide: true
        },
        {
          prop: "utm_keyword",
          label: "Keyword",
          isHide: true
        }
      ],
      taxes: {}
    }
  },
  methods: {
    loadTaxes() {
      if (!this.isLoading || this.firstLoading) {
        this.isLoading = true
        this.makeRequest('get', '/account/referrer/short-links/affiliate/tax')
            .then(response => {
              if (response && response.data) {
                this.taxes = response.data
              } else {
                this.$toasted.error('Unknown error.')
              }

              this.isLoading = false
              this.firstLoading = false
            }, err => {
              if (err && err.response && err.response.data && err.response.data.errors) {
                this.errorsLoop(err.response.data.errors)
              } else {
                this.$toasted.error((err && err.response && err.response.data) ? err.response.data : 'Unknown error.')
              }
              console.error(err)
              this.isLoading = false
            })
      }
    },
    closeCreateModal() {
      this.currentEditLink = null
      this.createModalIsOpen = false
      this.loadTaxes()
    },
    openEditLink(link) {
      this.currentEditLink = link || null
      this.createModalIsOpen = true
    },
    openStatsModal(link) {
      this.currentStatsLink = link || null
      this.statsModalIsOpen = true
    },
    closeStatsModal() {
      this.isLoading = true
      this.currentStatsLink = null
      this.statsModalIsOpen = false
      setTimeout(() => (this.isLoading = false), 300)
    },
    updateFilters(val) {
      this.dataFilters = val
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
  }
}
</script>
