<template>
  <div>
    <div class="col-md-12" v-if="!isAllPixels">
      <button type="button" class="btn btn-default btn-block" @click="openModal" :disabled="isLoading">
        <div class="stats-content">
          <div class="title">Create/Add Pixel</div>
        </div>
      </button>
    </div>
    <div class="col-md-12">
      <div class="shortLinks__icons shortLinks__icons--block">
        <button v-if="loadedPixels.facebook_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-facebook"></i>
        </button>
        <button v-if="loadedPixels.twitter_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-twitter"></i>
        </button>
        <button v-if="loadedPixels.pinterest_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-pinterest"></i>
        </button>
        <button v-if="loadedPixels.linkedin_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-linkedin"></i>
        </button>
        <button v-if="loadedPixels.google_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-google"></i>
        </button>
        <button v-if="loadedPixels.quora_pixel"
                @click="openModal"
                :disabled="isLoading"
                type="button"
                class="btn btn-default inline-field"
        >
          <i class="fa fa-quora"></i>
        </button>
      </div>
    </div>
    <Modal
        title="Create/Add Pixels"
        :isOpen="isModalOpen"
        @close="closeModal"
    >
      <template v-slot:saveButton>
        <save-button @save-click="savePixels" :is-disabled="isLoading"></save-button>
      </template>
      <div class="mystore__modal-inputs">
        <div class="mystore__modal-input-container">
          <label for="facebook-pixel"><i class="fa fa-facebook"></i></label>
          <input type="text" id="facebook-pixel" v-model="loadedPixels.facebook_pixel" placeholder="Enter facebook pixel..." :disabled="isLoading">
        </div>
        <div class="mystore__modal-input-container">
          <label for="twitter-pixel"><i class="fa fa-twitter"></i></label>
          <input type="text" id="twitter-pixel" v-model="loadedPixels.twitter_pixel" placeholder="Enter twitter pixel..." :disabled="isLoading">
        </div>
        <div class="mystore__modal-input-container">
          <label for="pinterest-pixel"><i class="fa fa-pinterest"></i></label>
          <input type="text" id="pinterest-pixel" v-model="loadedPixels.pinterest_pixel" placeholder="Enter pinterest pixel..." :disabled="isLoading">
        </div>
        <div class="mystore__modal-input-container">
          <label for="linkedin-pixel"><i class="fa fa-linkedin"></i></label>
          <input type="text" id="linkedin-pixel" v-model="loadedPixels.linkedin_pixel" placeholder="Enter linkedin pixel..." :disabled="isLoading">
        </div>
        <div class="mystore__modal-input-container">
          <label for="google-pixel"><i class="fa fa-google"></i></label>
          <input type="text" id="google-pixel" v-model="loadedPixels.google_pixel" placeholder="Enter google pixel..." :disabled="isLoading">
        </div>
        <div class="mystore__modal-input-container">
          <label for="quora-pixel"><i class="fa fa-quora"></i></label>
          <input type="text" id="quora-pixel" v-model="loadedPixels.quora_pixel" placeholder="Enter quora pixel..." :disabled="isLoading">
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Modal from "../MyStore/Modal";
import SaveButton from "../MyStore/Common/SaveButton";

export default {
  components: {
    Modal,
    SaveButton
  },
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    pixels: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      loadedPixels: {},
      isModalOpen: false,
    }
  },
  mounted() {
    this.loadedPixels = this.pixels;
  },
  computed: {
    isAllPixels() {
      return Object.values(this.loadedPixels).filter(val => !!val).length >= 6
    },
  },
  watch: {
    pixels: {
      handler(val) {
        this.loadedPixels = val
      },
      deep: true
    }
  },
  methods: {
    openModal() {
      this.isModalOpen = true;
    },
    closeModal() {
      this.isModalOpen = false;
    },
    savePixels() {
      this.$emit('save-pixels', this.loadedPixels)
      this.closeModal()
    }
  }
}
</script>
