<template>
  <custom-modal title="Short Link Stats" :is-open="isOpen" :full-width="true" @close-modal="closeModal">
    <el-container class="shortLinks__stats">
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-row style="margin-bottom: 10px">
            <strong class="shortLinks__custom-title">Filters</strong>
          </el-row>
          <el-row :gutter="20" v-if="filters">
            <el-col :xs="24" :sm="12" :md="4" class="mb-10">
              <el-select v-model="filters[0].value" style="width: 100%;" placeholder="tags" multiple="multiple">
                <el-option label="qwe" value="qwe"></el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="12" :md="4" class="mb-10">
              <el-select v-model="filters[1].value" style="width: 100%;" placeholder="folders" multiple="multiple">
                <el-option label="asd" value="qwe"></el-option>
              </el-select>
            </el-col>
            <el-col :sm="24" :md="12" :lg="10" style="margin-bottom: 10px">
              <el-date-picker
                  v-model="filters[2].value"
                  style="width: 100%;"
                  type="datetimerange"
                  format="yyyy-MM-dd HH:mm:ss"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  start-placeholder="Start date"
                  end-placeholder="End date">
              </el-date-picker>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="24" v-if="!isLoading">
          <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="mt-20 mb-10 p-10 text-center">
              <label>Clicks Total: {{ (stats && stats.total) || 0 }}</label>
              <chart :data="clicksChart.data" :options="clicksChart.options" :height="250"></chart>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="mt-20 mb-10">
              <el-row :gutter="20">
                <el-col :span="12" class="p-10 text-center">
                  <label>Operating Systems</label>
                  <pie-chart
                    v-if="systemsClicks && systemsClicks.length > 0"
                    :height="240"
                    :data="{
                      labels: systemsLabels,
                      datasets: [
                        {
                          backgroundColor: backgroundColors,
                          data: systemsClicks
                        }
                      ]
                    }"
                    :options="{
                      responsive: true,
                      maintainAspectRatio: false,
                      tooltips: {
                        callbacks: {
                          label: function(tooltipItem, mData) {
                            return `${mData['labels'][tooltipItem['index']]}: ${mData['datasets'][0]['data'][tooltipItem['index']]}%`
                          }
                        }
                      }
                    }"
                  ></pie-chart>
                  <p v-else>no data available</p>
                </el-col>
                <el-col :span="12" class="p-10 text-center">
                  <label>Browser Type</label>
                  <pie-chart
                      v-if="browsersClicks && browsersClicks.length > 0"
                      :height="240"
                      :data="{
                        labels: browsersLabels,
                        datasets: [
                          {
                            backgroundColor: [...backgroundColors].reverse(),
                            data: browsersClicks
                          }
                        ]
                      }"
                      :options="{
                        responsive: true,
                        maintainAspectRatio: false,
                        tooltips: {
                          callbacks: {
                            label: function(tooltipItem, mData) {
                              return `${mData['labels'][tooltipItem['index']]}: ${mData['datasets'][0]['data'][tooltipItem['index']]}%`
                            }
                          }
                        }
                      }"
                  ></pie-chart>
                  <p v-else>no data available</p>
                </el-col>
              </el-row>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="254" :xl="24" class="mt-20 mb-10 p-10 text-center">
              <label>Country Stats</label>
              <MapChart
                  :countryData="countryStats"
                  highColor="#00ff00"
                  lowColor="#ff00ff"
                  countryStrokeColor="#aaaaaa"
                  defaultCountryFillColor="#f5f5f5"
              />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-container>
  </custom-modal>
</template>

<script>
import MapChart from 'vue-map-chart';
import { dateTimeFactory } from "../../../Objects/DateTime";
import CustomModal from "../../Account/CustomModal";
import Request from "../../../Mixins/Request";
import Chart from "../../Chart/Bar";
import PieChart from "../../Chart/Circle";

export default {
  mixins: [Request],
  components: {
    CustomModal,
    Chart,
    PieChart,
    MapChart
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    url: {
      type: String,
      required: true
    },
    link: {
      type: Object,
      default: () => ({})
    },
    dataFilters: {
      type: Array,
      default: () => ([])
    },
    taxes: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      isLoading: false,
      loading: null,
      maxDailyClicks: 0,
      stats: {
        daily: []
      },
      filters: [
        {
          value: '',
          search_prop: 'stats_tags'
        },
        {
          value: '',
          search_prop: 'stats_folders'
        },
        {
          value: [
            dateTimeFactory().subDays(90).toDateTimeString(),
            dateTimeFactory().toDateTimeString()
          ],
          search_prop: 'stats_date_range'
        }
      ],
      backgroundColors: [
        '#00D8FF',
        '#DD1B16',
        '#41B883',
        '#E46651',
        '#e0d040',
        '#40e0d0',
        '#d040e0',
        '#a0e040',
        '#e08040',
        '#00D8FF',
        '#DD1B16',
        '#41B883',
        '#E46651',
        '#e0d040',
        '#40e0d0',
        '#d040e0',
        '#a0e040',
        '#e08040',
        '#00D8FF',
        '#DD1B16',
        '#41B883',
        '#E46651',
        '#e0d040',
        '#40e0d0',
        '#d040e0',
        '#a0e040',
        '#e08040'
      ]
    }
  },
  watch: {
    isLoading(val) {
      if (val) {
        this.loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(255, 255, 255, 0.7)',
          fullscreen: true
        });
      } else {
        this.loading.close()
        this.loading = null
      }
    },
    isOpen(val) {
      (!val) ? this.resetData() : this.loadStats()
    },
    dataFilters: {
      deep: true,
      handler(val) {
        val && (this.filters = val.map(item => ({
          value: item.value,
          search_prop: `stats_${item}`
        })))
      }
    }
  },
  methods: {
    resetData() {
      this.stats = {
        daily: []
      }
    },
    closeModal() {
      this.$emit('close-modal')
    },
    loadStats() {
      if (!this.isLoading && this.isOpen) {
        this.isLoading = true
        this.makeRequest('get', this.url, {
          from: this.filters[2].value[0] || dateTimeFactory().subDays(90).toDateTimeString(),
          to: this.filters[2].value[1] || dateTimeFactory().toDateTimeString(),
          tags: this.filters[0].value,
          folders: this.filters[1].value,
          id: (this.link && this.link.id) || null
        })
        .then(response => {
          if (response && response.data) {
            this.stats = response.data
          } else {
            this.$toasted.error('Unknown error.')
          }

          this.isLoading = false
        }, err => {
          if (err && err.response && err.response.data && err.response.data.errors) {
            this.errorsLoop(err.response.data.errors)
          } else {
            this.$toasted.error('Unknown error.')
          }
          console.error(err)
          this.isLoading = false
        })
      }
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    convertDateString(date) {
      return `Date: ${date}`
    }
  },
  computed: {
    browsersLabels() {
      return this.stats && this.stats.browser && this.stats.browser.map(el => el.browser || 'Unknown') || []
    },
    systemsLabels() {
      return this.stats && this.stats.system && this.stats.system.map(el => el.system || 'Unknown') || []
    },
    browsersMaxClicks() {
      return this.stats && this.stats.browser && this.stats.browser.reduce((a, b) => (parseInt(a.clicks) + parseInt(b.clicks))) || 0
    },
    systemsMaxClicks() {
      return this.stats && this.stats.system && this.stats.system.reduce((a, b) => (parseInt(a.clicks) + parseInt(b.clicks))) || 0
    },
    browsersClicks() {
      return this.stats && this.stats.browser && this.stats.browser.map(el => (el.clicks*100/this.browsersMaxClicks) || 'Unknown') || []
    },
    systemsClicks() {
      return this.stats && this.stats.system && this.stats.system.map(el => ((el.clicks*100)/this.systemsMaxClicks) || 'Unknown') || []
    },
    countryStats() {
      if (this.stats && this.stats.country) {
        return Object.fromEntries(this.stats.country.map(item => [
            item.country, item.clicks
        ]))
      }
      return {}
    },
    daysBetweenDates() {
      if (this.filters && this.filters[2] && this.filters[2].value) {
        return Math.abs(dateTimeFactory(new Date(this.filters[2].value[0])).diff(dateTimeFactory(new Date(this.filters[2].value[1])), 'days'))
      }
      return 0
    },
    dailyClicksObjects() {
      if (this.filters && this.filters[2] && this.filters[2].value) {
        const dates = (this.stats && this.stats.daily.map(item => item && item.day)) || []
        const from = dateTimeFactory(new Date(this.filters[2].value[0]))
        return new Array(this.daysBetweenDates).fill(null).map(() => {
          const mDate = from.addDays(1).format('YYYY-MM-DD')
          const index = dates.indexOf(mDate)
          const clicks = parseInt(this.stats.daily[index] && this.stats.daily[index].clicks) || 0;
          if (clicks > this.maxDailyClicks) this.maxDailyClicks = clicks
          return {
            day: mDate || 'Unknown',
            clicks: clicks
          }
        })
      }
      return []
    },
    dailyClicks() {
      return this.dailyClicksObjects.map(item => (item.clicks || 0))
    },
    clicksChart() {
      return {
        data: {
          labels: this.dailyClicksObjects.map(item => `Date: ${(item && item.day) || 'Unknown'}`),
          datasets: [{
            label: 'Clicks',
            data: this.dailyClicks,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              gridLines: {
                display:false
              },
              ticks: {
                min: 0,
                max: this.maxDailyClicks > 2 ? this.maxDailyClicks : 1,
                stepSize: Math.ceil(this.maxDailyClicks/2),
                reverse: false,
                beginAtZero: true
              }
            }],
            xAxes: [{
              gridLines: {
                display:false
              },
              ticks: {
                min: 0,
                max: this.dailyClicksObjects.length,
                stepSize: 10,
                reverse: false,
                beginAtZero: true,
                callback: (value, index) => (((index % 4) === 0) ? value.replace('Date: ', '') : '')
              }
            }]
          },
          responsive: true,
          maintainAspectRatio: false,
          aspectRatio: 3
        }
      }
    }
  }
}
</script>