{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Retargeting{% endblock %}

{% block tab_content %}
    <custom-short-links v-bind="{
        customDomains: {{ customDomains|json_encode }},
        pixels: {{ pixels|json_encode }}
    }"></custom-short-links>
{% endblock %}