{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Retargeting{% endblock %}

{% block tab_content %}
    <short-links-home v-bind="{
        'pixels': {{ pixels|json_encode }}
    }"></short-links-home>
{% endblock %}