{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Retargeting{% endblock %}

{% block tab_content %}
    <partner-short-links v-bind="{
        customDomains: {{ customDomains|json_encode }},
        pixels: {{ pixels|json_encode }},
        shops: {{ shops|json_encode }}
    }"></partner-short-links>
{% endblock %}