{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}user{% endblock %}

{% block tab_content %}
<div class="row">
    {{ form_start(form) }}
     
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.role) }}
        <div class="text-right">
            <input type="submit" class="btn btn-third" value="Save">
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}