{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}users{% endblock %}

{% block tab_content %}
<div class="row">
    <div class="table-responsive table-admin-users">
        <table class="table table-hover table-condensed" style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Registered</th>
                <th>Company Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>
                {% if user.fullName %}
                    {{ user.fullName }}
                {% else %}
                    <i class="fa fa-times-circle"></i>
                {% endif %}
            </td>
            <td>
                {% if user.phone %}
                    <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                {% else %}
                    <i class="fa fa-times-circle"></i>
                {% endif %}
            </td>
            <td>
                {% if user.email %}
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                {% else %}
                    <i class="fa fa-times-circle"></i>
                {% endif %}
            </td>
            <td>{{ user.createdAt | date("Y-m-d H:i:s") }}</td>
            <td>
                {% if user.shop %}
                    {{ user.shop.id }}
                {% else %}
                    <i class="fa fa-times-circle"></i>
                {% endif %}
            </td>
            <td class="text-right">
                {% if not user.isAdmin() %}
                <a href="{{ path('logged', {'_switch_user': user.email}) }}" class="btn btn-primary">Impresonate</a>
                {% else %}
                    <i class="fa fa-times-circle"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
</div>
{% endblock %}