<template>
    <div>
        <button @click="showModal" class="btn btn-primary">{{ buttonText }}<slot></slot></button>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';

    export default {
        props: ['desc', 'buttonText'],
        methods: {
            showModal() {
                Swal.fire({
                    html: `<p style="text-align: left;">${this.desc}</p>`,
                    showCloseButton: true,
                    showCancelButton: false,
                    showConfirmButton: false
                })
            }
        }
    }
</script>
