<ul class="nav nav-tabs" role="tablist">
    <li class="{{ active == 'income' ? 'active' : '' }}">
        <a href="{{ path('account_shop_income') }}#income">Income</a>
    </li>
    <li class="{{ active == 'purchases' ? 'active' : '' }}">
        <a href="{{ path('account_shop_purchases') }}">Referral Sales</a>
    </li>
    <li class="{{ active == 'payout' ? 'active' : '' }}">
        <a href="{{ path('account_shop_payout') }}">Payout</a>
    </li>
    <li class="{{ active == 'transaction' ? 'active' : '' }}">
        <a href="{{ path('account_shop_transactions') }}#stats">Transactions</a>
    </li>
    <li class="{{ active == 'partner' ? 'active' : '' }}">
        <a href="{{ path('account_shop_partners') }}#stats">Partners</a>
    </li>
{#    <li class="{{ active == 'coupon' ? 'active' : '' }}">#}
{#        <a href="{{ path('account_shop_coupon') }}">Coupons</a>#}
{#    </li>#}
</ul>