{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}products{% endblock %}

{% block tab_content %}
    {% if shop.isEcommerce %}
        <alert-bag
            v-bind="{
                messageList: ['This step is optional, so you can skip it by clicking on the button \'Preview\'.']
            }"
        ></alert-bag>
        <section-title title="Special Offers" desc="Fill in your company details"></section-title>
        <div class="offer-table offer-table--custom">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" scope="colgroup">Offer Name</th>
                    <th rowspan="2" scope="colgroup">Offer Description</th>
                    <th colspan="2" scope="colgroup">Offer
                        CPS
                    </th>
                    <th rowspan="2" scope="colgroup">Action</th>

                </tr>
                <tr>
                    <th colspan="1" scope="col">
                        €
                    </th>
                    <th colspan="1" scope="col">%
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for product in shop.products %}
                    <tr class="table-secondary">
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            {% if (product.cpsOffer.commissionType == 'fixed') %}
                                {{ product.cpsOffer.commission }}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if (product.cpsOffer.commissionType == 'percent') %}
                                {{ product.cpsOffer.commission }}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a
                                class="btn btn-danger btn-xs remove-product"
                                href="{{ path('shop_product_delete', {product_id: product.id}) }}"
                            >
                                Remove
                            </a>
                            <a href="{{ path('shop_product_edit', {product_id: product.id}) }}">
                                <div class="btn btn-primary btn-xs">Edit</div>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <a href="{{ path('shop_product_create') }}">
                            <div class="btn btn-primary btn-xs">Add new</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <alert-bag
            v-bind="{
                messageList: ['This step is available only for E-commerce, so you can skip it by clicking on the button \'Preview\'.']
            }"
        ></alert-bag>
    {% endif %}

    <submit-button value="Next Step: 4. Budget" href="{{ path('account_shop_edit_budget') }}"></submit-button>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.remove-product').click(function (e) {
                e.preventDefault();
                axios.delete($(e.currentTarget).attr('href')).then(response => {
                    location.reload();
                })
            });
        });
    </script>
{% endblock %}