{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}test-connection{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#testConnection').click(function (e) {
                e.preventDefault();
                $('#testconn-error').html('').hide();
                $('#testconn-success').html('').hide();
                axios.get($(e.currentTarget).data('url')).then(response => {
                    $(e.currentTarget).find('.fa-spinner').toggleClass('hidden');
    /*                var testWindow = window.open(response.data.shop_url, "myWindow", 'width=100,height=100', '_blank');*/
                    var testWindow = window.open(response.data.shop_url, '_blank')
                    var testsCount = 0;
                    const interval = setInterval(function () {
                        axios.get(response.data.check_url, {started_at: response.data.now}).then(response => {
                            testsCount++;
                            if (response.data.message) {
                                clearInterval(interval);
                                $('#testconn-success').html(response.data.message).attr('style', 'display: inline-block;');
                                $(e.currentTarget).find('.fa-spinner').toggleClass('hidden');
                                if (testWindow) testWindow.close();
                            } else if (testsCount >= 5) {
                                clearInterval(interval);
                                $('#testconn-error').html('Something went wrong.<br>Check https vs http<br>Unblock popups.<br>Try again.').attr('style', 'display: inline-block;');
                                $(e.currentTarget).find('.fa-spinner').toggleClass('hidden');
                                if (testWindow) testWindow.close();
                            }
                        });
                    }, 3000);
                }).catch(error => {
                    $('#testconn-error').html(error.response.data.message).show();
                })
            });
        });
        if (localStorage.getItem('rewards') === "1") {
            if ( document.getElementById("nextStep")){
                document.getElementById("nextStep").innerText = "Next Step: 10. Finish Registration"
                document.getElementById("nextStep").className = "btn btn-success"
            }
        }
    </script>

{% endblock %}

{% block tab_content %}
    <section-title title="Test connection" desc="Fill in your company details" onclick="alert('click event occurred')"></section-title>

    <form action="">
        <div class="flex noborder form-group text-connection--wrapper">
            <div class="w100p text-center">
                <div class="row">
                    <button data-url="{{ path('ajax_shop_event_test_connection_start', {'shop_id': shop.id}) }}"
                            id="testConnection" type="submit" class="btn btn-primary btn-primary-outline">
                        <i class="fa fa-spinner fa-spin hidden"></i> Test Connection
                    </button>
                </div>
                <div class="row">
                    <span id="testconn-error" class="testconn label label-danger label-block text-center" style="display: none;">Something went wrong.<br>Check https vs http<br>Unblock popups.<br>Try again.</span>
                    <span id="testconn-success" class="testconn label label-success label-block text-center" style="display: none;">Thank you. Snippet has been verified.</span>
                </div>
            </div>
            <span class="form-info test-connection-info" style="margin: 10px 0;">Lorem ipsum dolor sit amet</span>
        </div>

        <div class="flex-box-grid form-group" id="finishRegister" style="display: none;">
            <submit-button href="wizard6.html" value="Finish Registration"></submit-button>
        </div>
    </form>
    {% if testEventEntries %}
        <table class="table table-bordered" style="width: 100%; text-align: center;">
            <thead>
            <tr>
                <th scope="colgroup">Received</th>
                <th scope="colgroup">Type</th>
                <th scope="colgroup">Message</th>
                <th scope="colgroup">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for eventEntry in testEventEntries %}
                <tr class="table-secondary">
                    <td width="10%">{{ eventEntry.createdAt | date("Y-m-d H:i:s") }}</td>
                    <td width="10%">{{ eventEntry.type.name == 'purchase' ? 'purchase-cookie' : eventEntry.type.name }}</td>
                    <td width="30%">
                        {% if eventEntry.errors %}
                            {{ eventEntry.errors | json_encode }}
                        {% else %}
                            <i class="fa fa-check-circle" style="color: #6ad300"></i>
                        {% endif %}
                    </td>
                    <td width="30%">
                        {% if eventEntry.type.name == 'purchase' or eventEntry.type.name == 'purchase-coupon' %}
                            {% if eventEntry.payload %}
                                {% for key, value in eventEntry.payload %}
                                    {{ key | replace({'product': 'offer id'}) }}: {{ value }}<br/>
                                {% endfor %}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        {% else %}
                            No Data Needed
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="text-center submit-wizard-section">
        <form method="post" action="{{ path('account_shop_edit_test_connection') }}">
            <button class="btn btn-success" type="submit" id="nextStep" >Next Step: 9. Configure Your Subdomain</button>
        </form>
    </div>
{% endblock %}
