{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}subdomain{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>
    <script>
        const formBeforeLeave = new FormBeforeLeave(new Form($('form')), '.page-content');
        formBeforeLeave.attachTo($('.shop-details__menu__item a'));
        formBeforeLeave.init();
    </script>
{% endblock %}

{% block tab_content %}
    {{ form_start(form, {'action': path('account_shop_edit_subdomain'), 'method': 'PATCH'}) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <section-title title="Subdomain" desc="Fill in your company subdomain details"></section-title>

    <custom-input
        class="custom__input-subdomains"
        v-bind="{
            label:`{{ form_label(form.urlName)|escape }}`,
            widget: `{{ form_widget(form.urlName)|escape }}`,
            additionalCode:`<span class=\'input-group-addon\'>.{{ app_domain }}</span>`,
            description: `Absolute URL of your company that referrers may use as destination URL.`,
            errors: `{{ form_errors(form.urlName)|escape }}`
        }"
    ></custom-input>



    <button class="btn btn-success" id="subDom">{% if (shop.products | length > 0) %}Next Step: 10. Offer ID settings{% else %}Finish registration{% endif %} </button>

    {% if shop.snippetConnectedAt is null %}
        <script>
            btn = document.getElementById("subDom");
            if ( btn ) {
            btn.style.cursor = 'not-allowed'
            btn.style.marginLeft = "40%"
            btn.disabled = true
            }
        </script>
    {% else %}
        <script>
            btn = document.getElementById("subDom");
            if ( btn ) {
                btn.style.marginLeft = "40%"
            }
        </script>
    {% endif %}



    {{ form_end(form, {render_rest: false}) }}
{% endblock %}