{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}share{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('#clickCopy');
</script>
{% endblock %}

{% block tab_content %}
<div class="section-title-entry">
        <h3>Share your page</h3>
        <p>Fill in your company details</p>
    </div>
    <form action="">
        <div class="form-group flex-box-grid">
            <!-- <label class="col-md-12" style="margin-bottom:0;">Snipset settings</label> -->

            <div class="col-md-12" style="margin-bottom: 0">
                <div class="form-group flex noborder">
                    <label>Share Your Landing Page URL</label>
                    <div class="input-group">
                        <input type="text" name="Name" class="form-control disabled"
                               disabled="disabled" readonly="readonly" placeholder="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" />
                        <div class="btn btn-secondary btn-secondary-outline text-right" style="float: right; margin-top: 10px;" value="Copy to Clipboard" id="clickCopy" data-clipboard-text='{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}'>
                            Copy to clipboard</div>
                    </div>

                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="form-group flex noborder">
                    <label>Share by Email</label>
                    <div class="input-group">
                        <a href="mailto:?subject={{ shop.name }}%2C%20check%20my%20new%20page&body=hi%2C%20this%20is%20{{ shop.user.name }}%20from%20{{ shop.name }}.%20Please%20check%20my%20new%20page...%0A{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">
                            <div class="btn btn-primary btn-primary-outline" style="float: right;" id="modalShareEmail">Share
                                by Email</div>
                        </a>
                    </div>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="form-group flex noborder">
                    <label>Social media share</label>
                    <div class="input-group social-share">
                        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">
                            <i style="color: #1778f2" class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" class="pin-it-button" count-layout="horizontal">
                            <i style="color: red" class="fa fa-pinterest-square" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/share?url={{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">
                            <i style="color: #1da1f2" class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a target="_blank" href="https://plus.google.com/share?url={{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">
                            <i style="color: #ea4335" class="fa fa-google-plus-square" aria-hidden="true"></i>
                        </a>
                    </div>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center submit-wizard-section">
        <a href="{{ path('account_shop_edit_product_number') }}" class="btn btn-success">Next Step: 10. Offer ID settings</a>
    </div>
{% endblock %}
