{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}company{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        const $website = $('#website-group');
        const $authority = $website.find('[name=websiteAuthority]');
        const $protocol = $website.find('[name=websiteProtocol]');
        const websiteParts = $website.data('website').split('://');
        if (websiteParts.length === 2) {
            $protocol.val(websiteParts[0]);
            $authority.val(websiteParts[1]);
        }
        const updateWebsite = function () {
            $('#edit_shop_website').val($protocol.val() + '://' + $authority.val().replace(/(^\w+:|^)\/\//, ''))
        };

        $protocol.change(updateWebsite);
        $authority.change(updateWebsite);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>

    <script>
        $(document).ready(function () {

            const formBeforeLeave = new FormBeforeLeave(new Form($('form')), '.page-content');
            formBeforeLeave.attachTo($('.shop-details__menu__item a'));
            formBeforeLeave.init();

            $('.remove-logo').click(function (e) {
                e.preventDefault();
                axios.post($(e.currentTarget).attr('href')).then(response => {
                    toastr.options = {
                        "positionClass": "toast-top-center",
                        "containerId": "uiwefuienrf123"
                    };
                    toastr.success(response.data.message);
                    $(e.currentTarget).remove();
                    $('.fileupload-preview').find('img').remove()
                })
            });

            $("#choose-color").click(function () {
                $(".pcr-button").click()
            })
            const $colorInput = $('[name="edit_shop[color]"]');
            const pickr = Pickr.create({
                el: '.color-picker',
                useAsButton: false,
                default: $colorInput.val(),

                // User has changed the color
                onSave(hsva) {
                    $colorInput.val(hsva.toHEX().toString());
                },

                components: {

                    // Main components
                    preview: true,
                    opacity: true,
                    hue: true,

                    // Input / output Options
                    interaction: {
                        hex: true,
                        rgba: true,
                        cmyk: true,
                        input: true,
                        clear: true,
                        save: true
                    }
                }
            });

            if (!$colorInput.val()) {
                $('.pcr-button').addClass('clear');
            }
        });
    </script>
{% endblock %}

{% block tab_content %}
    {{ form_start(form) }}

    {{ form_row(form._token) }}
    {{ form_errors(form) }}
    <section-title title="Company details"></section-title>

   <custom-input
        v-bind="{
            label: `{{ form_label(form.name)|escape }}`,
            description: `This name will be displayed on top of Marketplace offer, next to your company's logo`,
            widget: `{{ form_widget(form.name)|escape }}`,
            errors: `{{ form_errors(form.name)|escape }}`
        }"
    ></custom-input>

    <custom-input
        data-website="{{ form.vars.value.website }}"
        id="website-group"
        v-bind="{
            label: `{{ form_label(form.website)|escape }}`,
            description: `Absolute URL of your company that referrers may use as destination URL.`,
            widget: `{{ form_widget(form.website)|escape }}`,
            errors: `{{ form_errors(form.website)|escape }}`,
            additionalCode: `
          <!--  <div class='display-flex'>
                <div id='selectProtocol'>
                    <select name='websiteProtocol' class='form-control user-success'>
                        <option value='https'>https</option>
                        <option value='http'>http</option>
                    </select>
                </div>
               <input type='text' id='websiteAuthority' name='websiteAuthority' required='required' placeholder='e.g. www.companyname.com' class='form-control user-success'>
            </div>-->`
        }"
    ></custom-input>

    <custom-input
        v-bind="{
            label: `{{ form_label(form.user.phone)|escape }}`,
            description: `Lorem ipsum dolor site amte`,
            widget: `{{ form_widget(form.user.phone)|escape }}`,
            errors: `{{ form_errors(form.user.phone)|escape }}`
        }"
    ></custom-input>

    <div class="wizard-logo-color-section">
        <choose-input
            v-bind="{
                label: `<label>Logo</label>`,
                widget: `{{ form_widget(form.user.phone)|escape }}`,
                errors: `{{ form_errors(form.user.phone)|escape }}`,
                additionalCode: `<div class='fileupload fileupload-new' data-provides='fileupload'>
                    <div class='fileupload-preview thumbnail'>
                        {% if shop.logo %}
                            <img src='{{ shop.logo|escape }}' />
                        {% endif %}
                    </div>
                    <div class='fileupload-right'>
                        <span>Logo will be visible next to your Company's Name on top of Marketplace offer.</span>
                        <div class='btn btn-file btn-outline-primary'>
                            <span class='fileupload-new'>Select File</span>
                            <div class='fileupload-exists'>Change</div>
                            <input type='file' name='edit_shop[logoFile]'>
                        </div>
                        {% if shop.logo %}
                            <a href='{{ path('account_shop_logo_delete') }}'
                               class='btn btn-outline-danger remove-logo'>Delete logo</a>
                        {% endif %}
                    </div>
                </div>
                {% if form.logoFile is defined %}
                    {{ form_errors(form.logoFile)|escape }}
                {% endif %}`
            }"
        ></choose-input>
        <choose-input
                v-bind="{
                    label: `<label>Choose Background Color</label>`,
                    widget: `{{ form_widget(form.color, {attr: {style: 'display:none;'}})|escape }}`,
                    errors: `{{ form_errors(form.color)|escape }}`,
                    additionalCode: `<div class='color-picker'></div>
                        <div class='color-picker-right'>
                            <span>Choose your main color</span>
                            <div class='btn btn-outline-primary' id='choose-color'>Choose color</div>
                        </div>`
                }"
        ></choose-input>
    </div>



    <custom-input
        v-bind="{
            label: `{{ form_label(form.description)|escape }}`,
            description: `200 characters max. Short description of your business. Will be displayed on referral page.`,
            widget: `{{ form_widget(form.description)|escape }}`,
            errors: `{{ form_errors(form.description)|escape }}`
        }"
    ></custom-input>

    <custom-input
        v-bind="{
            label: `{{ form_label(form.service)|escape }}`,
            description: `5 items max. Will be displayed on Marketplace tile.`,
            widget: `{{ form_widget(form.service)|escape }}`,
            errors: `{{ form_errors(form.service)|escape }}`
        }"
    ></custom-input>

    <submit-button value="Next Step: 2. Choose Rewards"></submit-button>

    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
