{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}main_offer{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% include 'account/shop/product/scripts.html.twig' %}
    <script>
        let checkedValue = '{{ form.vars.value.rewardsMode }}';
        let chooseRewardTypeValue = (value, dispatchChangeEvent = true) => {
            let selectedWidgetOption = document.querySelectorAll('input[name="shop_offer[rewardsMode]"][value="' + value + '"]')[0];
            selectedWidgetOption.checked = true;
            dispatchChangeEvent && selectedWidgetOption.dispatchEvent(new Event('change'));
        };

        let widgetOptionHandle = (el) => {
            checkedValue = el.value;
            document.checkedValue = checkedValue;
            if (checkedValue === "1") {
                if (el.classList.contains('unavailable')) {
                    document.querySelectorAll('.entry__value').forEach((el) => {
                        el.style.display = 'none'
                    });
                    document.querySelector('.entry__value--unavailable').style.display = 'block';
                    localStorage.setItem('rewards', checkedValue);
                    let oldValue = localStorage.getItem('rewards');
                    if (oldValue) {
                        chooseRewardTypeValue(oldValue, false);
                    }
                    return;
                }
                document.querySelectorAll('.entry__value').forEach((el) => {
                    el.style.display = 'none'
                });
                document.querySelector('.entry__value-1').style.display = 'block';
                document.querySelector('.main-offer__form').style.display = 'none';
                localStorage.setItem('rewards', checkedValue);

                menuItemsHighlighting(true)
                document.querySelector('.nextStepButton a, .nextStepButton button').textContent = 'Next Step: 7. Snippet Settings'
            } else if (checkedValue === "2") {
                document.querySelectorAll('.entry__value').forEach((el) => {
                    el.style.display = 'none'
                });
                document.querySelector('.entry__value-2').style.display = 'block';
                document.querySelector('.main-offer__form').style.display = 'block';
                localStorage.setItem('rewards', checkedValue);
                document.getElementById('toast-container').style.display = 'block';
                document.querySelector('.entry__value--unavailable').style.display = 'none';

                menuItemsHighlighting(true)
                document.querySelector('.nextStepButton a, .nextStepButton button').textContent = 'Next Step: 3. Special Offers'
            } else if (checkedValue === "3") {
                document.querySelectorAll('.entry__value').forEach((el) => {
                    el.style.display = 'none'
                });
                document.querySelector('.entry__value-3').style.display = 'block';
                document.querySelector('.main-offer__form').style.display = 'block';
                localStorage.setItem('rewards', checkedValue);
                document.getElementById('toast-container').style.display = 'block';
                document.querySelector('.entry__value--unavailable').style.display = 'none';

                menuItemsHighlighting(true)
                document.querySelector('.nextStepButton a, .nextStepButton button').textContent = 'Next Step: 3. Special Offers'
            }

            const getToastErrors = () => {
                $.ajax({
                    url: `/account/company/notification?rewards_mode=${checkedValue}`
                }).done(r => {
                    let parser = new DOMParser();
                    let htmlDoc = parser.parseFromString(r, 'text/html');
                    document.querySelector('#toast-container').innerHTML = htmlDoc.querySelector('#toast-container').innerHTML
                    showAndHideErrorsHandler()
                    greenNotifyShowHideHandler()
                })
            };
            getToastErrors();

            let unnecessaryJoin = document.querySelectorAll('.errorMessages span:not([style="display: none;"])')
            if (unnecessaryJoin && unnecessaryJoin[0] && unnecessaryJoin[0].classList.contains('join')) {
                unnecessaryJoin[0].style.display = 'none'
            }
        };

        document.querySelectorAll('input[name="shop_offer[rewardsMode]"]').forEach((el) => {
            el.addEventListener('change', () => {
                widgetOptionHandle(el)
            })
        });

        if (checkedValue) {
            chooseRewardTypeValue(checkedValue)
        }
    </script>
{% endblock %}

{% block tab_content %}
    {% if joinedUsersCount > 0 %}
        {% include 'account/shop/product/referrals-confirmation.html.twig' with {'joinedUsersCount': joinedUsersCount} %}
    {% endif %}

    {% include 'account/shop/parts/success-message-block.html.twig' with { messageList: app.flashes('company_details_success')} %}

    <section-title title="Choose Rewards" desc="As rewards I will use:"></section-title>

    {{ form_start(form) }}

    {{ form_row(form._token) }}

    {{ form_errors(form) }}

    {% set hasFunds = app.user.hasAnyFunds('EUR') %}
    <div>
        <div class="radio__container">
            <custom-radio
                    desc="Coupon codes only"
                    v-bind="{
                        inputName: 'shop_offer[rewardsMode]',
                        additionalClass: `{{ hasFunds ? 'unavailable' : '' }}`,
                        inputValue: `{{ constant('App\\Entity\\Shop::REWARD_MODE_COUPON_CODES') }}`
                    }"
            ></custom-radio>

            <custom-radio
                    desc="Cash rewards only"
                    v-bind="{
                        inputName: 'shop_offer[rewardsMode]',
                        inputValue: `{{ constant('App\\Entity\\Shop::REWARD_MODE_CASH') }}`
                    }"
            ></custom-radio>

            <custom-radio
                    desc="Cash rewards with coupon codes"
                    v-bind="{
                        inputName: 'shop_offer[rewardsMode]',
                        inputValue: `{{ constant('App\\Entity\\Shop::REWARD_MODE_COUPON_CODES_AND_CASH') }}`
                    }"
            ></custom-radio>
        </div>

        {{ form_errors(form.rewardsMode) }}

        <div class="lh-1x2">
            <div class="entry__value--unavailable" style="display: none">
                <alert-bag
                    v-bind="{
                        isHidden: true,
                        messageList: [`Coupon rewards cannot be selected<br>There is already active campaign {% if hasFunds %}(Balance: {{ app.user.getCurrencyBalance('EUR').amount }} EUR){% endif %}<br>For using coupons, please consider <strong>cash rewards with coupon codes</strong> as an option.`],
                        type: 'danger'
                    }"
                ></alert-bag>
            </div>

            <div class="entry__value entry__value-1" style="display: none">
                <alert-bag
                    v-bind="{
                        isHidden: true,
                        messageList: [`<strong>Cash rewards</strong> can be activated at any time<br>You can add <strong>coupon codes</strong> in referral widget tab<br>Your <strong>Affiliate Landing Page</strong> will not be generated without cash rewards specification`]
                    }"
                ></alert-bag>
            </div>

            <div class="entry__value entry__value-2" style="display: none">
                <alert-bag
                    v-bind="{
                        isHidden: true,
                        messageList: [`Coupon rewards and can be activated at any time in <strong>Referral Widget</strong> tab<br>Please specify Your main, special offer and the campaign budget`]
                    }"
                ></alert-bag>
            </div>

            <div class="entry__value entry__value-3" style="display: none">
                <alert-bag
                    v-bind="{
                        isHidden: true,
                        messageList: [`Please specify Your main and special offer and the campaign budget.<br>Coupon codes can be added in the <strong>Referral Widget</strong> tab.`]
                    }"
                ></alert-bag>
            </div>

            <div class="main-offer__form">
                <section-title title="Edit Offer"></section-title>

                <amount-input
                    v-bind="{
                        isRadio: true,
                        mainLabel: 'Global CPS',
                        desc: 'Choose between fixed fee or percentage for sale.<br>Remember these values apply to all your products unless<br>you assign different values per group or products (below).<br><br>Important note. Once referrer join your program you won\'t<br>be able to change these values.',
                        inputs: [
                            {
                                label: 'Fixed value',
                                inputName:'shop_offer[cpsOffer][fixed_commission]',
                                inputValue: '{{ form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType and form.vars.value.cpsOffer.commissionType.name == 'fixed' ? form.vars.value.cpsOffer.commission : '' }}',
                                checked: {% if form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType and form.vars.value.cpsOffer.commissionType.name == 'fixed' %} true {% else %} false {% endif %}
                            },
                            {
                                label: 'Percentage amount',
                                inputName:'shop_offer[cpsOffer][percent_commission]',
                                inputValue: '{{ form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType and form.vars.value.cpsOffer.commissionType.name == 'percent' ? form.vars.value.cpsOffer.commission : '' }}',
                                currency: '%',
                                checked: {% if form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType and form.vars.value.cpsOffer.commissionType.name == 'percent' %} true {% else %} false {% endif %}
                            }
                        ],
                        errors: `{{ form_errors(form.cpsOffer.commission)|escape }}`
                    }"
                ></amount-input>


<!--              Disable CPL offer
                  <div class="form-group">
                    <custom-switch
                        label="Global CPL (optional)"
                        {% if form.vars.value.cplOffer %}
                            checked="checked"
                        {% endif %}

                    ></custom-switch>

                    <ammount-input
                        class="form-group flex cpl-content {{ form.vars.value.cplOffer ? 'open' : '' }}"
                        v-bind="{
                            isRadio: true,
                            desc: 'Choose between fixed fee or percentage for sale.<br>Remember these values apply to all your products unless<br>you assign different values per group or products (below).<br><br>Important note. Once referrer join your program you won\'t<br>be able to change these values.',
                            inputs: [
                                {
                                    label: 'Fixed value',
                                    inputName:'shop_offer[cplOffer][fixed_commission]',
                                    inputValue: '{{ form.vars.value.cplOffer and form.vars.value.cplOffer.commissionType and form.vars.value.cplOffer.commissionType.name == 'fixed' ? form.vars.value.cplOffer.commission : '' }}',
                                    checked: {% if form.vars.value.cplOffer and form.vars.value.cplOffer.commissionType and form.vars.value.cplOffer.commissionType.name == 'fixed' %} true {% else %} false {% endif %},
                                }
                            ],
                            errors: `{{ form_errors(form.cplOffer.commission) }}`
                        }"
                    ></ammount-input>
                </div>-->
            </div>
        </div>
    </div>

    <submit-button class="nextStepButton" value="Next Step: 3. Special Offers"></submit-button>

    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
