{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}product-number{% endblock %}

{% block tab_content %}
    <div class="section-title-entry">
        <h3>Offer ID settings</h3>
        <p>Fill in your company details</p>
    </div>
    <div class="flex-box-grid offer-table">
        {% if shop.products | length > 0 %}
            <table class="table table-bordered offer-table offer-table-input" style="width: 100%; text-align: center;">
                <thead>
                <tr>
                    <th rowspan="2" scole="colgroup">ID</th>
                    <th rowspan="2" scope="colgroup">Offer Name</th>
                    <th rowspan="2" scope="colgroup">Offer Description</th>
                    <th colspan="2" scope="colgroup" style="width: 120px; border-bottom: 0;">Offer
                        CPS
                    </th>
                    <th rowspan="2" scope="colgroup" style="width: 120px;">Action</th>

                </tr>
                <tr>
                    <th colspan="1" scope="col" style="border-top: 0;border-right: 0;padding-top: 0;padding-bottom: 0;">
                        €
                    </th>
                    <th colspan="1" scope="col" style="border-top: 0;border-left: 0;padding-top: 0;padding-bottom: 0;">%
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for product in shop.products %}
                    <tr class="table-secondary">
                        <td>
                            <form action="{{ path('account_shop_product_number_update', {product: product.id}) }}"
                                  method="post">
                                <input type="text" class="form-control" style="max-width: 55px;"
                                       name="product_number[number]" value="{{ product.number }}" required>
                                <input type="hidden" name="product_number[_token]"
                                       value="{{ csrf_token('product_number') }}">
                                <input type="hidden" name="_method" value="PATCH">
                            </form>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            {% if (product.cpsOffer.commissionType == 'fixed') %}
                                <span></span>{{ product.cpsOffer.commission }}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if (product.cpsOffer.commissionType == 'percent') %}
                                {{ product.cpsOffer.commission }}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs save-product">Save</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if shop.isEcommerce %}
            <div class="alert alert-warning" role="alert">
                No special offers. You can create them in <strong><a
                            href="{{ path('account_shop_edit_products') }}">Special
                        Offers</a></strong> section.
            </div>
            {% else %}
                <div class="alert alert-info" role="alert">This step is available only for E-commerce, so you can skip it by clicking on the button
                    'Finish registration'.
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if shop.completion.allBeforeCompleted('Finish') %}
    <div class="text-center submit-wizard-section">
        <a href="{{ path('account_shop_edit_finish') }}" class="btn btn-success">Finish registration</a>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.save-product').click(function (e) {
                e.preventDefault();
                $(this).parents('tr').find('form').submit();
            });

            var formBeforeLeave = [];
            $('form').each(function (v,i) {
                formBeforeLeave[i] = new FormBeforeLeave(new Form($('form')), '.page-content');
                formBeforeLeave[i].attachTo($('.shop-details__menu__item a'));
                formBeforeLeave[i].init();
            })
        });
    </script>
{% endblock %}
