{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}preview{% endblock %}

{% block tab_content %}
    <section-title title="Preview" desc="Fill in your company details"></section-title>
    <div class="wizard-preview-page-buttons text-center">
        <h4>Click button to preview your page</h4>
        <a
            href="{{ path('account_shop_preview_show') }}"
            class="btn btn-primary btn-primary-outline mt-10"
        >
            Preview your page
        </a>
        <submit-button
            class="wizard-preview-page-buttons"
            href="{{ path('account_shop_edit_cookie') }}"
            value="Next Step: 6. Cookie lifespan"
        ></submit-button>
    </div>
{% endblock %}