{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}entry{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
    let checkedValue;
    let widgetOptionHandle = (el) => {
        checkedValue = el.value;
        if (checkedValue === "1") {
            document.querySelectorAll('.entry__value').forEach((el) => {
                el.style.display = 'none'
            });
            document.querySelector('.entry__value-1').style.display = 'block';
        } else if (checkedValue === "2") {
            document.querySelectorAll('.entry__value').forEach((el) => {
                el.style.display = 'none'
            });
            document.querySelector('.entry__value-2').style.display = 'block';
        } else if (checkedValue === "3") {
            document.querySelectorAll('.entry__value').forEach((el) => {
                el.style.display = 'none'
            });
            document.querySelector('.entry__value-3').style.display = 'block';
        }
    };

    document.querySelectorAll('input[name="widget__option"]').forEach((el) => {
        el.addEventListener('change', () => {
            widgetOptionHandle(el)
        })
    })

    document.querySelector('.save__rewards').addEventListener('click', () => {
        localStorage.setItem('rewards', checkedValue)
    })

</script>
{% endblock %}

{% block tab_content %}
    <div class="section-title-entry">
        <h3>Company Details</h3>
        <p>Fill in your company details</p>
    </div>

    <div>
        As rewards I will use:
        <div style="display: flex; flex-direction: column; margin: 0 auto;align-items: center; margin-bottom: 10px">
            <label style="width: 100%;margin: 0;padding: 5px;border: 1px solid lightgray;margin-bottom: 5px;"><input type="radio" name="widget__option" value="1"><span style="margin-left: 5px">Coupon codes only</span></label>
            <label style="width: 100%;margin: 0;padding: 5px;border: 1px solid lightgray;margin-bottom: 5px;"><input type="radio" name="widget__option" value="2"><span style="margin-left: 5px">Cash rewards only</span></label>
            <label style="width: 100%;margin: 0;padding: 5px;border: 1px solid lightgray;margin-bottom: 5px;"><input type="radio" name="widget__option" value="3"><span style="margin-left: 5px">Cash rewards with coupon codes</span></label>
        </div>
        <div style="line-height: 1.2">
            <div class="entry__value entry__value-1" style="display: none">
                <div role="alert" class="alert alert-info">
                    1. Cash rewards can be activated at any time.
                    You can add coupon codes in referral widget tab.
                    Your Affiliate Landing Page will not be generated without cash rewards specification<br>
                </div>
            </div>
            <div class="entry__value entry__value-2"  style="display: none">
                <div role="alert" class="alert alert-info">
                    2. Coupon rewards and can be activated at any time in referral widget tab
                    Please specify Your main&special offer and the campaign budget.<br>
                </div>
            </div>
            <div class="entry__value entry__value-3"  style="display: none">
                <div role="alert" class="alert alert-info">
                    3. Please specify Your main&special offer and the campaign budget.
                    Coupon codes can be added in the referral widget tab.
                </div>
            </div>
        </div>
        <div>
            <div class="btn btn-primary save__rewards">Save</div>
        </div>
    </div>
{% endblock %}
