{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}snipset{% endblock %}

{% block tab_content %}
    <section-title title="Snippet settings" desc="Fill in your company details"></section-title>

    <form action="" class="snipset-form">

        <div class="form-group flex-box-grid">

            <custom-input
                v-bind="{
                    label: `<label>Unique Public Partner ID</label>`,
                    description: `Lorem ipsum dolor sit amet<`,
                    widget: `<input value='{{ shop.partnerNumber }}' type='text' name='Name' class='form-control' placeholder='XXX666xxxxxXXXXYYYY' disabled/>`,
                }"
            ></custom-input>

            <custom-input
                v-bind="{
                    label: `<label>Script</label>`,
                    description: `Lorem ipsum dolor sit amet<`,
                    widget: `<textarea class='form-control' rows='5' readonly='readonly' onclick='this.select()'><script src='{{ absolute_url('/snippet/ValueLink.js') }}'></script><script>const ValueLinkID = '{{ shop.partnerNumber }}';</script></textarea>`
                }"
            ></custom-input>

            <div class="field__desc col-lg-6 col-xs-12 text-right">
                <div
                    class="btn btn-secondary btn-secondary-outline"
                    value="Copy to Clipboard"
                    id="clickCopy"
                    data-clipboard-text='<script src="{{ absolute_url('/snippet/ValueLink.js') }}"></script><script>const ValueLinkID = "{{ shop.partnerNumber }}";</script>'
                >
                    Copy to clipboard
                </div>
            </div>
        </div>
        <div class="form-group">
            <h3 class="text-center font-bold">You are not a Developer or Technical?</h3>
            <h4 class="text-center mb-30">That's ok.</h4>

            <div class="input-group">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <contact-box
                        v-bind="{
                            email: '{{ app_shop_developer_email }}',
                            partnerNumber: '{{ shop.partnerNumber }}',
                            shopName: '{{ shop.name }}',
                            button: {
                                text: 'Ask a developer',
                                id: 'informDeveloper'
                            },
                            boxContent: 'Invite Your site admin to help integrate with ValueLink.'
                        }"
                    ></contact-box>
                </div>
                <div class="col-md-6">
                    <contact-box
                        v-bind="{
                            partnerNumber: '{{ shop.partnerNumber }}',
                            shopName: '{{ shop.name }}',
                            button: {
                                text: 'Contact us',
                                id: 'siteamOpen'
                            },
                            boxContent: 'Contact ValueLink Team to integrate.'
                        }"
                    ></contact-box>
                </div>
            </div>
        </div>

        <div class="flex-box-grid form-group hide" id="finishRegister">
            <submit-button href="wizard6.html" value="Finish Registration"></submit-button>
        </div>
    </form>

    <custom-modal title="Contact ValueLink team">
        <div class="login-form">
            {{ form_start(contactRequestForm, {'attr': {'role': 'login', 'id': 'contact-form'}}) }}
            {{ form_errors(contactRequestForm) }}
            {{ form_row(contactRequestForm._token) }}
            <!-- TeamViewer Logo (generated at https://www.teamviewer.com) -->
            <div>
                <a href="https://www.teamviewer.com/link/?url=505374&id=2088377463">
                    <img src="https://www.teamviewer.com/link/?url=979936&id=2088377463" alt="TeamViewer for Remote Support" title="TeamViewer for Remote Support" border="0" width="120" height="60" />
                    <span class="teamViewer__btn">
                                        Download TeamViewer
                                    </span>
                </a>
            </div>

            <div class="form-group">
                <label>Set date and time for meeting</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" id="contact_request_contactAt" name="contact_request[contactAt]" required="required" class="form-control">
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            {{ form_row(contactRequestForm.skype) }}

            <button class="btn btn-primary btn-block" type="submit">Invite</button>

            {{ form_end(contactRequestForm, {render_rest: false}) }}
        </div>
    </custom-modal>

    <submit-button href="{{ path('account_shop_edit_test_connection') }}" value="Next Step: 8. Test connection"></submit-button>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        new ClipboardJS('#clickCopy');
        document.getElementById('clickCopy').addEventListener('click', () => {
            console.log('click');
            toastr.options = {"positionClass": "toast-top-center", "containerId": "uiwefuienrf123", "timeOut": 2000};
            toastr.success('Snippet copied to clipboard!');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#siteamOpen, .modal-siteam__overlay, .modal-siteam__close, #siTeamBtn').on('click touch', function (e) {
                e.preventDefault();
                $('.modal-siteam').toggleClass('open');
            });

            $('#datetimepicker1').datetimepicker({
                format: 'YYYY/MM/DD HH:MM'
            });

            if ($('#contact-form').find('.has-error').length) {
                $('.modal-siteam').toggleClass('open')
            }
        });
    </script>
{% endblock %}