{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}cookies{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        const formBeforeLeave = new FormBeforeLeave(new Form($('form')), '.page-content');
        formBeforeLeave.attachTo($('.shop-details__menu__item a'));
        formBeforeLeave.init();
    </script>
    <script>
        $(document).ready(function () {
            $('[name="edit_shop_cookie[cookie_lifetime]"]').change(function () {
                $('[name="edit_shop_cookie[custom_cookie_lifetime]"]').val('');
            });
            $('[name="edit_shop_cookie[custom_cookie_lifetime]"]').focusin(function () {
                $(this).parent().find('[type=radio]').prop('checked', 'checked')
            });
            $('[name="edit_shop_cookie[banner_cookie_lifetime]"]').change(function () {
                $('[name="edit_shop_cookie[custom_banner_cookie_lifetime]"]').val('');
            });
            $('[name="edit_shop_cookie[custom_banner_cookie_lifetime]"]').focusin(function () {
                $(this).parent().find('[type=radio]').prop('checked', 'checked')
            });
        });
    </script>
{% endblock %}

{% block tab_content %}
    {{ form_start(form) }}
    {{ form_row(form._token) }}

   <section-title title="Cookie settings" desc="Fill in your company details"></section-title>


    <choose-radio
        label="Cookie lifespan"
        v-bind="{
                itemsToChoose: [30, 60, 90],
                cookiesLifeTime: {{ shop.cookieLifetime ? shop.cookieLifetime: 30 }},
                inputsName: {
                    first: 'edit_shop_cookie[cookie_lifetime]',
                    second: 'edit_shop_cookie[custom_cookie_lifetime]'
                    },
                errors: '{{ form_errors(form.cookie_lifetime) }}'
                }"
    ></choose-radio>


    <choose-radio
            label="Cookie lifespan for banners"
            v-bind="{
                itemsToChoose: [30, 60, 90],
                cookiesLifeTime: {{ shop.bannerCookieLifetime ? shop.bannerCookieLifetime: 30 }},
                inputsName: {
                    first: 'edit_shop_cookie[banner_cookie_lifetime]',
                    second: 'edit_shop_cookie[custom_banner_cookie_lifetime]'
                },
                errors: '{{ form_errors(form.banner_cookie_lifetime) }}'
            }"
    ></choose-radio>


    <submit-button value="Next Step: 7. Snippet settings"></submit-button>

    {{ form_end(form, {render_rest: false}) }}
{% endblock %}