{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}finish{% endblock %}

{% block tab_content %}
    <div class="text-center" style=" float: none; margin-bottom: 25px;">
        <h4 class="text-center">Congratulation!</h4>
        <p class="text-center" style="line-height: 1.2">Thank you for registration. We will review your account and
            update you once activated!</p>
    </div>
{% endblock %}