<div class="companyMenu">
    <div class="container">
        <div class="companyMenu__heading">
            <p class="companyMenu__heading__left">Active Products</p>
            <div class="companyMenu__heading__btn__cont">
                <div class="companyMenu__heading__btn companyMenu__heading__btn__affiliate">Affiliate Landing Page</div>
                <div class="companyMenu__heading__btn companyMenu__heading__btn__affiliate">Branded Affiliate Links</div>
            </div>
            <div class="companyMenu__heading__btn__cont">
                <div class="companyMenu__heading__btn companyMenu__heading__btn__referral">Referral Widget</div>
                <div class="companyMenu__heading__btn companyMenu__heading__btn__referral">Referral Page</div>
            </div>
            <div class="companyMenu__heading__right"></div>
        </div>

        <div class="companyMenu__boxes">
            <div class="companyMenu__boxes__box companyMenu__boxes__box__company">
                <p>
                    {% if shop.completion.completionPercent | number_format != 100 %}
                        Register your company
                    {% else %}
                        Preview your company
                    {% endif %}
                </p>
                <div>
                    <p>Provide Your company details (page url, logo, etc...)</p>
                    <p>Define Your rewards (cash, coupons)</p>
                    <p>Define Your monthly affiliate campaign budget (automatic billing)</p>
                    <p>Integrate ValueLink to Your page (via snippet)</p>
                </div>
                <div>
                    <a href="{{ path('account_shop_edit') }}" class="companyMenu__boxes__box__btn companyMenu__boxes__box__btn__company">Start</a>
                </div>
            </div>

            <div class="companyMenu__boxes__box companyMenu__boxes__box__referral">
                <p>Activate referral widget & referral page</p>
                <div>
                    <p>Define widget layout</p>
                    <p>Upload Your coupons (CSV or TXT file)</p>
                    <p>Define Your rewards, style, widget icon</p>
                    <p>Preview Your referral widget & Referral Page live</p>
                </div>
                <div>
                    <a class="companyMenu__boxes__box__btn companyMenu__boxes__box__btn__referral"
                        {% if shop.snippetConnectedAt is null %}
                            data-toggle="tooltip" data-placement="top"
                            data-html="true"
                            title="<span style='font-size: 13px; font-weight:bold'>Integrate your page with <br> valuelink.io</span>."

                            id="disabled-refferal-link"
                            href="/account/company/edit/test-connection"
                        {% else %}
                            href="/account/shop/widget/header"
                        {% endif %}
                    >
                        {% if shop.snippetConnectedAt is null %}
                         <span style='font-size: 13px; font-weight:bold'>Integrate</span>
                        {% else %}
                            Start
                        {% endif %}
                    </a>
                </div>
            </div>

        </div>

<!--
        <div class="companyMenu__boxes__box companyMenu__boxes__box__company">
            <p>
                {% if shop.completion.completionPercent | number_format != 100 %}
                    Register your company
                {% else %}
                    Preview your company
                {% endif %}
            </p>
            <div>
                <p>Provide Your company details (page url, logo, etc...)</p>
                <p>Define Your rewards (cash, coupons)</p>
                <p>Define Your monthly affiliate campaign budget (automatic billing)</p>
                <p>Integrate ValueLink to Your page (via snippet)</p>
            </div>
            <div>
                <a href="{{ path('account_shop_edit') }}" class="companyMenu__boxes__box__btn companyMenu__boxes__box__btn__company">Start</a>
            </div>
        </div>
-->

    </div>
</div>
