{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
        <page-title
                title="{{ (shop.completion.completionPercent | number_format != 100) ? 'Back to main view' : 'Back to main view' }}"
                v-bind="{
                backLink: '/account'
            }"
        ></page-title>

        <account-header-banner
            title='Register your Company'
            v-bind="{
                content: 'Registration process consists of 10 required steps which can be taken in random order.\nInformation provided in each section will be stored separately so you could edit it\nlater when you join our program.\nOnce you fill in the form, it will be reviewed by our team.'
            }"
        ></account-header-banner>

        <progress-bar v-bind="{
            completionPercent: {{ shop.completion.completionPercent|default(0) }}
        }"></progress-bar>

        <div class="wizard-content-fullwidth">
            <div class="container">
                <div class="content wizard">
                    <div class="row">
                        <company-sidebar-menu v-bind="{
                            pathinfo: '{{ app.request.pathinfo }}',
                            completionResults: {
                                BasicData: {{ shop.completion.getResult('BasicData').getScore() }},
                                MainOffer: {{ shop.completion.getResult('MainOffer').getScore() }},
                                OptionalOffer: {{ shop.completion.getResult('OptionalOffer').getScore() }},
                                Budget: {{ shop.completion.getResult('Budget').getScore() }},
                                Preview: {{ shop.completion.getResult('Preview').getScore() }},
                                CookieLifespan: {{ shop.completion.getResult('CookieLifespan').getScore() }},
                                Snipset: {{ shop.completion.getResult('Snipset').getScore() }},
                                TestConnection: {{ shop.completion.getResult('TestConnection').getScore() }},
                                Subdomain: {{ shop.completion.getResult('Subdomain').getScore() }},
                                ProductNumber: {{ (shop.products | length > 0) ? shop.completion.getResult('ProductNumber').getScore() : 'undefined' }},
                                Finish: {{ shop.completion.getResult('Finish').getScore() }}
                            }
                        }"></company-sidebar-menu>
                        <div class="col-md-9 col-xs-12">
                            <div class="page-content">
                                <alert-bag v-bind="{
                                    type: 'success',
                                    messageList: {{ app.flashes('success')|json_encode }}
                                }"></alert-bag>
                                {% block tab_content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/js/form.js') }}"></script>
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>
{% endblock %}
