{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}budget{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>
    <script>
        const formBeforeLeave = new FormBeforeLeave(new Form($('form')), '.page-content');
        formBeforeLeave.attachTo($('.shop-details__menu__item a'));
        formBeforeLeave.init();

        var tempSubscriptionFeeInputVal = $('input#edit_shop_budget_subscriptionfee').val();
        var tempDeclaredBudgetInputVal = $('input#edit_shop_budget_declaredBudget').val();

        $('input[name="edit_shop_budget[amount]"]').on('input', function(){
            var budgetValue = $('input[name="edit_shop_budget[amount]"]').val();
            var declaredBudget = $('input#edit_shop_budget_declaredBudget');

            $(declaredBudget).val(tempDeclaredBudgetInputVal + ' ' + budgetValue);

            $('#edit_shop_budget_declaredBudget_text').text(tempDeclaredBudgetInputVal + ' ' + budgetValue);
        });

        $('input[name="edit_shop_budget[amount]"]').trigger('input');
    </script>
{% endblock %}

{% block tab_content %}
    {{ form_start(form, {'action': path('account_shop_edit_budget'), 'method': 'POST'}) }}

    {{ form_errors(form) }}
    {{ form_row(form._token) }}
    <section-title title="Budget" desc="Fill in your company details"></section-title>

    <amount-input
        v-bind="{
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.',
            inputs: [
                {
                    label: 'Campaign Budget:',
                    inputName:'edit_shop_budget[amount]',
                    inputValue: '{{ form.vars.value.amount }}'
                }
            ],
            errors: `{{ form_errors(form.amount)|escape }}`
        }"
    ></amount-input>
    <div class="form-group flex cpl-content">
        <custom-switch
            label="Notify Us (optional)"
            id="edit_shop_budget_declared"
            name="edit_shop_budget[declared]"
            value="1"
        ></custom-switch>
    </div>

    <section-title title="Payment & Transfer data" desc="Must be provide separate subscription & budget payment"></section-title>

    <div class="budget-payment-container">
        <copy-input
            label="Bank Account"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_companyBankAccount',
                    name: 'companyNameId',
                    value: '{{ app_company.wire.iban }}',
                },
                ibanID: 'edit_shop_budget_companyBankAccount_text',
                button: {
                    id: 'copy_companyName_to_clipboard',
                    event: ['edit_shop_budget_companyBankAccount_text', 'ttbank'],
                },
                spanID: 'ttbank'
            }"

        ></copy-input>
        <copy-input
            label="Recipient Name"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_reciptientName',
                    name: 'edit_shop_budget_reciptientName',
                    value: '{{ app_company.wire.recipient }}',
                },
                ibanID: 'edit_shop_budget_reciptientName_text',
                button: {
                    id: 'copy_accountNumber_to_clipboard',
                    event: () => clipboard('edit_shop_budget_reciptientName_text', 'ttrec'),
                },
                spanID: 'ttrec'
            }"
        ></copy-input>

        <copy-input
            label="Recipient Address"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_reciptientAddress',
                    name: 'edit_shop_budget_reciptientAddress',
                    value: '{{ app_company.wire.address }}',
                },
                ibanID: 'edit_shop_budget_reciptientAddress_text',
                button: {
                    id: 'copy_accountNumber_to_clipboard',
                    event: () => clipboard('edit_shop_budget_reciptientAddress_text', 'ttrecadr'),
                },
                spanID: 'ttrecadr'
            }"
        ></copy-input>

        <copy-input
            label="Zip Code; City"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_reciptientzipcodeCity',
                    name: 'edit_shop_budget_reciptientzipcodeCity',
                    value: '{{ app_company.wire.zip_code }} {{ app_company.wire.city }}',
                },
                ibanID: 'edit_shop_budget_reciptientzipcodeCity_text',
                button: {
                    id: 'copy_accountNumber_to_clipboard',
                    event: () => clipboard('edit_shop_budget_zipcodeCity_text', 'ttreczip'),
                },
                spanID: 'ttreczip'
            }"
        ></copy-input>

        <copy-input
            label="Swift Code"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_swiftcode',
                    name: 'edit_shop_budget_swiftcode',
                    value: '{{ app_company.wire.switf }}',
                },
                ibanID: 'edit_shop_budget_swiftcode_text',
                button: {
                    id: 'copy_accountNumber_to_clipboard',
                    event: () => clipboard('edit_shop_budget_swiftcode_text', 'ttrecswift'),
                },
                spanID: 'ttrecswift'
            }"
        ></copy-input>

        {% if app.user.currentPlan %}
            <copy-input
                label="Subscription Fee"
                v-bind="{
                    input: {
                        id: 'edit_shop_budget_subscriptionfee',
                        name: 'edit_shop_budget_subscriptionfee',
                        value: '{{ shop.name }}-Sub.Fee {{ app.user.currentPlan.plan.price }}',
                    },
                    ibanID: 'edit_shop_budget_subscriptionfee_text',
                    button: {
                        id: 'copy_accountNumber_to_clipboard',
                        event: () => clipboard('edit_shop_budget_subscriptionfee_text', 'ttsubfee'),
                    },
                    spanID: 'ttsubfee',
                    formInfo: 'PLEASE DO NOT CHANGE THE TITLE!'
                }"
            ></copy-input>
        {% endif %}

        <copy-input
            class="mb-0 pb-0"
            label="Declared Budget Fee"
            v-bind="{
                input: {
                    id: 'edit_shop_budget_declaredBudget',
                    name: 'edit_shop_budget_declaredBudget',
                    value: '{{ shop.name }}-Declared Budget',
                },
                ibanID: 'edit_shop_budget_declaredBudget_text',
                button: {
                    id: 'copy_accountNumber_to_clipboard',
                    event: () => clipboard('edit_shop_budget_declaredBudget_text', 'ttdecbud'),
                },
                spanID: 'ttdecbud',
                formInfo: 'PLEASE DO NOT CHANGE THE TITLE!'
            }"
        ></copy-input>
    </div>

    <submit-button value="Next Step: 5. Preview Page"></submit-button>

    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
