{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
        {% include 'account/shop/edit_base-menu.html.twig' %}
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}
