{{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="form-group flex">
        <label>{{ title }}</label>
        <div class="form-cps-cpl">
            <span class="big">€</span>
            <input type="text" name="{{ type }}[fixed_commission]" class="form-control cps" placeholder="" value="{{ form.vars.value.commissionType and form.vars.value.commissionType.name == 'fixed' ? form.vars.value.commission : '' }}"/>
            <span style="margin: 0 25px;">or</span>
            <input type="text" name="{{ type }}[percent_commission]" class="form-control cps" placeholder="" value="{{ form.vars.value.commissionType and form.vars.value.commissionType.name == 'percent' ? form.vars.value.commission : '' }}" />
            <span class="big">%</span>
        </div>
        <span class="form-info">{{ description }}</span>
        <div class="text-center submit-wizard-section">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </div>
{{ form_end(form, {render_rest: false}) }}