{% extends 'account/referrer/base.html.twig' %}

{% block content %}
    {% include 'shop/profile.html.twig' with {
        'shop': shop,
        'settings': {
            backUrl: path('account_shop_edit_preview'),
            backUrlInfo: 'Back to Campaign Configuration',
            isJoinEnabled: false,
        }
    } %}
{% endblock %}

{% block modals %}
    {% include 'shop/common/offer-modal.html.twig' with {'shop': shop} %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#itemDetails, .modal-offer__close, .item-box__offer__button').on('click touch', function (e) {
                e.preventDefault();
                $('.modal-offer').toggleClass('open');
            });
            $('.marketplace__details-page--single-wrap > .content-top').show();
        });

        toastr.options = {
            "positionClass": "toast-bottom-left"
        };
        toastr.options.timeOut = 5000;
        toastr.options.extendedTimeOut = 5000;

        let toastArray = []

        var req = new XMLHttpRequest();
        req.open('GET', `{{ app_url }}/ajax/push-notifications?shop_id=${ {{ shop.getId() }} }`, true);
        req.onreadystatechange = function (aEvt) {
            if (req.readyState == 4) {
                if(req.status == 200) {
                    JSON.parse(req.responseText).forEach((el) => {
                        if (el.type === "landingpage") {
                            toastArray.push(el)
                        }
                    })
                    setTimeout( function() {
                        for (let i=0; i<toastArray.length; i++) {
                            setTimeout( function timer(){
                                console.log('toast')
                                toastr.success(`<img src="${toastArray[i].icon}">${toastArray[i].text}<span>Confirmed by <strong>ValueLink</strong></span>`)
                            }, i*15000 );
                        }
                    }, 10000)
                }
            }
        };
        req.send(null);
    </script>
    <style>
        #toast-container > .toast {
            background-image: none !important;
        }
        .toast-success{
            background-color: white;
        }
        .toast-message{
            color: black!important;
            margin-left: 15px;
            text-align: left;
            line-height: 1.2;
            padding-bottom: 5px
        }
        .toast-message img{
            position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
        }
        .toast-message span{
            position: absolute; right: 10px; bottom: 5px; font-size: 8px; width: 150px; text-align: right;
        }
    </style>
{% endblock %}
