{% set content = include('widget-page/index.html.twig') %}
{% set breadcrumb = include('shop/parts/breadcrumb.html.twig', {
    'shop': shop,
    'settings': {
        backUrl: path('account_shop_widget_refferal'),
        backUrlInfo: 'Back to Widget Configuration',
        isJoinEnabled: false,
    }
}) %}
{{ content|replace({
    '<body': '<body id="single" class="preview"',
    '<breadcrumb></breadcrumb>': breadcrumb
})|raw }}