{% include 'layouts/global.html.twig' %}
{% block scripts %}
    <script>
        document.querySelector('#couponCodeInput input').style.cursor = 'pointer'
    </script>
{% endblock %}
{% block global %}
    <div class="couponCompany" style="position: relative;margin-top: 150px;background: white">
        <div><p style="font-weight: 500; font-size: 22px; text-align: center;color: grey;">Get Your Discount</p></div>
        <div>
            <div style="position: relative;font-size: 20px">
                <input maxlength="3" minlength="2" type="text" value="25%"
                       readonly
                       style="width: 120px; margin: 10px auto 0px; background: #5cb85c; line-height: 1.2; border-radius: 10px; font-weight: 500; text-align: left; padding-left: 15px; color: white"
                       class="user-success">
                <span style="position: absolute; top: -2px; left: calc(50% + 5px); font-weight: 500; color: white">OFF</span>
            </div>
        </div>
{#        <div style="display: flex; align-items: center; justify-content: center; margin-top: 35px; font-size: 16px; line-height: 1.5; {% if user.name %} visibility: visible; {% else %} visibility: hidden; {% endif %}">#}
{#            <span style="width: 100%; text-align: center;font-size: 12px; color: grey;">Here is a gift from#}
{#                <span style="width: auto; text-align: left; margin-left: 5px; color: goldenrod; font-weight: bold;">{{ user.name }}</span>#}
{#            </span>#}
{#        </div>#}

        <div style="line-height: 1.5;">
            <p style="text-align: center;font-size: 12px; color: grey;">
                Get <span id="couponValueSpan">25%</span> OFF for any product at<br>{{ shop.name }}
            </p>
        </div>
{#        <div id="copiedToast"#}
{#             style="text-align: center;visibility: hidden;line-height: 1.2;font-size: 10px;color: green;margin-top: 15px;">#}
{#            Coupon copied to clipboard!#}
{#        </div>#}
        <div id="couponCodeInput" style="position: relative;">
            <input type="text" readonly
                   value="{% if selfReferring %}No self referrals.{% else %}QPON{% endif %}"
                   style="background-color: white;width: 150px; margin: 10px auto 0px; border-radius: 10px; font-weight: 500; border: 1px solid lightgray; {% if selfReferring %}filter: blur(0px); {% else %}filter: blur(2px);{% endif %}line-height: 1.2;padding: 5px;{% if selfReferring %}    font-size: 12px;
                           color: grey;cursor: pointer;{% else %}font-size: 16px;{% endif %}height: 36px;">
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <a href="{{ shop.website }}">
                <div class="btn btn-primary" id="btnWebsite">Visit {{ shop.name }}</div>
            </a>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 15px; font-size: 10px; margin-bottom: -20px; color: grey;white-space: nowrap">
            <span>*According to terms and conditions offer valid till:</span>
            <input type="date" value="Enter Date"
                   readonly
                   disabled
                   style="opacity:1;width: auto;text-align: left;margin-left: 5px;margin-right: -50px;color: green;font-weight: bold;-webkit-appearance: none; -webkit-border-radius: 0; -webkit-text-fill-color: green;"
                   class="user-success">
        </div>
        <div style="font-size: 9px;margin-bottom: -15px;text-align: right;margin-top: 10px;">
            Powered by <strong><a
                        href="https://valuelink.io/">ValueLink</a></strong>
        </div>
    </div>
{% endblock %}
