ma{% extends 'layouts/base_w-o_header.html.twig' %}

{% block og_tags %}
    <meta property="og:title" content="{{ referrer.name }} {{ referrer.surname }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% block content %}
    <section class="section single-wrap">
        <div class="content nopadtop" style="border-bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="publicprofile">

                            <div class="tab-content" style="padding:20px 0 0;">
                                <div role="tabpanel" class="tab-pane active" id="following">
                                    <div class="row mystore--referrer-header">
                                        <div class="col-md-12">
                                            <div class="mystore--referrer-header__data col-md-12">
                                                {% if referrer.name is defined and referrer.name is not null %}
                                                    <span class="mystore--name">{{ referrer.name }}</span>
                                                {% endif %}
                                                {% if referrer.surname is defined and referrer.surname is not null %}
                                                    <span class="mystore--surname">{{ referrer.surname }}</span>
                                                {% endif %}
                                                {% if referrer.shop is defined and referrer.shop is not null %}
                                                    <span class="shopname">{{ referrer.shop }}</span>
                                                {% endif %}
                                            </div>
                                            {% if nonReferableLinks|length > 0 %}
                                                <div class="text_center col-md-12">
                                                    {% for link in nonReferableLinks %}
                                                        <div class="nonReferableLink">
                                                            <a href="{{ link.destinationUrl }}">
                                                                {{ link.destinationUrl.url }}
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>


                                    {% if myStoreReferrerLinks|length > 0 %}
                                        <div class="row">
                                            <div class="col-md-12 text-center mystore--referrable-links__header">
                                                <span class="col-md-12">My recommendations for You</span>
                                                <span class="col-md-12">Tap any photo & visit the link</span>
                                            </div>
                                            <div class="mystore--referrable-links__row--container">
                                                <div class="mystore--referrable-links">
                                                    <div class="mystore--referrable-links__body">
                                                        {% for link in myStoreReferrerLinks %}

                                                            {% if link.showInMyStoreAsCard and link.storeCard %}
                                                                <div class="mystore--referrable-links__row--wrapper">
                                                                    <div class="mystore--referrable-links__builder preview_page">
                                                                        <div class="mystore--referrable-links__builder__preview col-md-12">
                                                                            <div class="row">
                                                                                <a href="{{ url('home_reflink_mystore', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                                                                    <div class="col-md-4 mystore--referrable-links__builder__preview__img-container">
                                                                                        <div>

                                                                                            {% if link.storeCard.image.fileName is defined %}
                                                                                                <img style="width: {{ link.storeCard.imageWidth }}px; height: {{ link.storeCard.imageHeight }}px; position: absolute; left: {{ link.storeCard.imagePosition.x }}px; top: {{ link.storeCard.imagePosition.y }}px;"
                                                                                                     src="{{ '/media/' ~ link.storeCard.image.fileName }}"
                                                                                                     alt="">
                                                                                            {% else %}
                                                                                                <img style="width: 100%" src="https://via.placeholder.com/400x400.png?text=ValueLink"
                                                                                                     alt="">
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                </a>

                                                                                <a href="{{ url('home_reflink_mystore', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                                                                    <div class="col-md-8 mystore--referrable-links__builder__preview__content">
                                                                                        {% set referrerCoupon = referrer.getReferrerCouponByShop(link.shop) %}

                                                                                        {% if referrerCoupon and referrerCoupon.myStoreEnabledAndNotExpired %}
                                                                                            <div class="couponBox">{{ referrerCoupon.valueWithType }} OFF</div>
                                                                                        {% endif %}
                                                                                        {% if link.storeCard.title is defined and link.storeCard.title is not null %}
                                                                                            <h4>{{ link.storeCard.title }}</h4>
                                                                                        {% endif %}
                                                                                        {% if link.storeCard.description is defined and link.storeCard.description is not null %}
                                                                                            <p>{{ link.storeCard.description }}</p>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </a>
                                                                                <a href="{{ url('home_reflink_mystore', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                                                                    <div class="mystore--referrable-links__builder__preview__footer col-md-8">
                                                                                        {% if link.destinationUrl is defined and link.destinationUrl is not null %}
                                                                                            <span class="mystore--referrable-links__builder__preview__footer__target-link">
                                                                                                {{ link.destinationUrl.url|split('/')[0] }}
                                                                                            </span>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
            </div><!-- end row -->
        </div><!-- end content -->
    </section>
{% endblock %}

{% block scripts %}
    <script>
        toastr.options = {
            "positionClass": "toast-bottom-left"
        };
        toastr.options.timeOut = 5000;
        toastr.options.extendedTimeOut = 5000;

        let toastArray = []

        var req = new XMLHttpRequest();
        req.open('GET', '{{ app_url }}/ajax/push-notifications', true);
        req.onreadystatechange = function (aEvt) {
            if (req.readyState == 4) {
                if(req.status == 200) {
                    JSON.parse(req.responseText).forEach((el) => {
                        if (el.type === "landingpage") {
                            toastArray.push(el)
                        }
                    })
                    setTimeout( function() {
                        for (let i=0; i<toastArray.length; i++) {
                            setTimeout( function timer(){
                                console.log('toast')
                                toastr.success(`<img src="${toastArray[i].icon}">${toastArray[i].text}<span>Confirmed by <strong>ValueLink</strong></span>`)
                            }, i*15000 );
                        }
                    }, 10000)
                }
            }
        };
        req.send(null);
    </script>
    <style>
        #toast-container > .toast {
            background-image: none !important;
        }
        .toast-success{
            background-color: white;
        }
        .toast-message{
            color: black!important;
            margin-left: 15px;
            text-align: left;
            line-height: 1.2;
            padding-bottom: 5px
        }
        .toast-message img{
            position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
        }
        .toast-message span{
            position: absolute; right: 10px; bottom: 5px; font-size: 8px; width: 150px; text-align: right;
        }
    </style>
{% endblock %}
