{% extends 'account/referrer/base_w-o_footer.html.twig' %}

{% block tab_name %}My Store{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ referrer.name }} {{ referrer.surname }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% block tab_content %}
    <div class="page-title income-title clear">
        <div class="col-md-12" id="storeEditor">
            {% include 'referrer/tab.html.twig' %}
        </div>
    </div>
{% endblock %}
