<div class="tab-content">
    <my-store-referrer
        v-bind="{
            referrer: {
                name: {% if referrer.name is defined and referrer.name is not null %}'{{ referrer.name }}'{% else %}''{% endif %},
                surname: {% if referrer.surname is defined and referrer.surname is not null %}'{{ referrer.surname }}'{% else %}''{% endif %},
                shop: {% if referrer.shop is defined and referrer.shop is not null %}'{{ referrer.shop }}'{% else %}''{% endif %}
            },
            myStore: {{ referrerMyStore|json_encode }},
            myStoreReferrerLinksArray: {{ myStoreReferrerLinksArray|json_encode }},
            companies: {{ companies|json_encode }},
            nonReferableLinks: {{ nonReferableLinksArray|json_encode }}
        }"
    ></my-store-referrer>
</div>
