{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">
        <company-sidebar
            v-bind="{
                activeElement: 'Transactions'
            }"
        ></company-sidebar>
        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container" style="padding-left:0; padding-right:0;">
                <div class="page-title income-title">
                    <div class="row">
                        <div class="calendar-content" style="padding: 20px 0px;" id="stats">
                            {% set now = currentPeriod.start.copy() %}
                            {% set prev = currentPeriod.start.copy().subDay() %}
                            {% set next = currentPeriod.end.copy().addDay() %}
                            <a class="calendar-i-prev {% if prev < app.user.createdAt %}inactive-element{% endif %}"
                               href="{{ path('account_shop_transactions', {year: prev.year, month: prev.month, orderBy: app.request.get('orderBy')}) }}#stats">
                                <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
                            </a>
                            <div class="calendar-month">
                                <span class="current-month">{{ now.format('F') }}</span> <span
                                        class="current-year">{{ now.year }}</span>
                            </div>
                            <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}"
                               href="{{ path('account_shop_transactions', {year: next.year, month: next.month, orderBy: app.request.get('orderBy')}) }}#stats">
                                <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="transactions">
                            {% if conversions|length > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-hover"
                                           style="font-size: 14px; text-align: center;">
                                        <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Price</th>
                                            <th>Amount</th>
                                            <th>Purchase Value {% include 'sort.html.twig' with {field: 'purchaseValue'} %}</th>
                                            <th>Reward</th>
                                            <th>Revenue {% include 'sort.html.twig' with {field: 'revenue'} %}</th>
                                            <th>Referrer profit {% include 'sort.html.twig' with {field: 'referrerProfit'} %}</th>
                                            <th>Created At {% include 'sort.html.twig' with {field: 'createdAt'} %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for conversion in conversions %}
                                            <tr>
                                                <td>
                                                    <span class="mobile_table_header">Status: </span>{% if conversion.status.name == 'unverified' %}
                                                    <shop-transactions-reject
                                                            id="{{ conversion.id }}"
                                                            created-at="{{ conversion.createdAt|date('Y-m-d H:i') }}"
                                                            purchase-value="{{ conversion.total is defined ? conversion.total : 0 }}"
                                                            referrer-profit="{{ conversion.referrerProfit }}"
                                                    ></shop-transactions-reject>
                                                    {% else %}
                                                        {{ conversion.status.name }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <span class="mobile_table_header">Price: </span>{% if conversion.price is defined and conversion.price %}
                                                    €{{ conversion.price }}
                                                {% else %}
                                                    <i class="fa fa-times-circle"></i>
                                                    {% endif %}
                                                </td>
                                                <td><span class="mobile_table_header">Amount: </span>{{ conversion.amount ?? 1 }}</td>
                                                <td>
                                                    <span class="mobile_table_header">Purchase value: </span>{% if conversion.total is defined and conversion.total %}
                                                    €{{ conversion.total }}
                                                {% else %}
                                                    <i class="fa fa-times-circle"></i>
                                                    {% endif %}
                                                </td>
                                                <td><span class="mobile_table_header">Reward: </span>€{{ conversion.commission }}{% if conversion.commissionType.name == 'percent' %}%{% endif %} ({{ conversion.offerType.name }})</td>
                                                <td>
                                                    <span class="mobile_table_header">Revenue: </span>{% if conversion.revenue is defined and conversion.revenue %}
                                                    €{{ conversion.revenue }}
                                                {% else %}
                                                    <i class="fa fa-times-circle"></i>
                                                    {% endif %}
                                                </td>
                                                <td><span class="mobile_table_header">Referrer profit: </span>€{{ conversion.referrerProfit }}</td>
                                                <td><span class="mobile_table_header">Created at: </span>{{ conversion.createdAt|date('Y-m-d H:i') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            {% else %}
                                <div class="alert alert-info" role="alert">
                                    There are no transactions to show.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
