{% if app.user and app.user.currentPlan %}
    {% if app.user.currentPlan.isOnExpiredTrial %}
        <strong class="pricing--header-description">Your Trail period has been already used. To continue using ValueLink You need to provide subscription fee.</strong>
    {% elseif not app.user.currentPlan.isActiveButNotOnTrial %}
        <strong class="pricing--header-description">Your current subscription plan has expired, please choose one</strong>
    {% endif %}
{% else %}
    <strong class="pricing--header-description">All plans include free 30 days trial</strong>
{% endif %}