{% extends 'layouts/base_w-o_header.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://use.typekit.net/ihi3awm.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous" />
{% endblock %}

{% block content %}

    <header class="header {% if app.user == null %}new-heading header--not-logged{% endif %} {% if app.user is defined and app.user is not null and app.user.isAdmin() %}header--admin{% endif %}">
        {% include 'layouts/partials/global/new-heading.html.twig' %}
        <div class="container-menu {% if app.user is defined and app.user is not null and app.user.isAdmin() %}new-heading{% endif %} {% if app.user == null or app.user.isAdmin %}smaller-header{% endif %} {% if not app.user == null and not app.user.isAdmin() %}hidden-bar{% endif %}">
            {% if app.user == null or (not app.user == null and app.user.isAdmin()) %}
                <nav class="navbar navbar-default yamm">
                    <div class="container">
                        <div class="navbar-table">
                            <div class="navbar-cell">
                                <div class="navbar-header">
                                    {% if not app.user or app.user.isAdmin() %}
                                        <a class="navbar-brand" href="{{ path('home_index') }}"><i class="fa fa-hashtag"></i>ValueLink</a>
                                    {% endif %}
                                    <div class="open-menu">
                                        {% if hideRightNavbar is not defined or hideRightNavbar == false %}
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                    data-target="#bs-example-navbar-collapse-2">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="fa fa-bars"></span>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div><!-- end navbar-header -->
                            </div><!-- end navbar-cell -->
                            <div class="navbar-cell stretch">
                                <div class="collapse navbar-collapse {% if shops is not defined or (shops is defined and not shops|length > 0) %}marketplace-navbar{% endif %}" id="bs-example-navbar-collapse-2">
                                    <div class="navbar-cell">
                                        {% if app.user and not app.user.isAdmin %}
                                            <div class="col-md-6 pull-left new-heading__plan-expiry-date-container mobile">
                                                {% if app.user.currentPlan %}
                                                    <div class="new-heading__plan-expiry-date">
                                                        <strong>Plan expiry date: </strong>
                                                        <span>25.10.2019</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="new-heading--account-details mobile">
                                                {% if app.user %}
                                                    <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span> {{ app.user.email }} </span>
                    </span>
                                                {% endif %}
                                                <span>
                    <i class="fas fa-id-badge"></i>
                    <strong>Account:</strong> SaaS
                </span>
                                                <span>
                    <i class="fas fa-file-contract"></i>
                    <strong>Plan:</strong> SaaS monthly
                </span>
                                                <span>
                    <i class="fas fa-wallet"></i>
                    <strong>Balance:</strong> 200$
                </span>
                                            </div>
                                        {% endif %}
                                        <ul class="nav navbar-nav navbar-center"></ul>
                                        {% if hideRightNavbar is not defined or hideRightNavbar == false %}
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="{{ path('shop_index') }}" title="">Market Place</a></li>
                                                <li><a href="#pricing" title="">Pricing</a></li>
                                                <li>
                                                    <a href="{{ path('home_index') }}" title="">Features</a>
                                                    <ul>
                                                        <li class="light-green"><a href="{{ path('home_index') }}" title="">Referral Widget</a></li>
                                                        <li class="light-green"><a href="{{ path('home_index') }}" title="">Customised Landing Page</a></li>
                                                        <li class="light-blue"><a href="{{ path('home_index') }}" title="">Personalized Affiliate Links</a></li>
                                                        <li class="light-blue"><a href="{{ path('home_index') }}" title="">Personalized Affiliate Store</a></li>
                                                        <li class="light-blue"><a href="{{ path('home_index') }}" title="">Affiliate Cards Creator</a></li>
                                                    </ul>
                                                </li>
                                                {% if app.user == null %}
                                                    <li><a href="{{ path('login') }}" title="">Login</a></li>
                                                    <li><a href="{{ path('register_referrer') }}" title="">Signup</a></li>
                                                {% elseif app.user is defined %}
                                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </div><!-- end navbar-cell -->
                                </div><!-- /.navbar-collapse -->
                            </div><!-- end navbar cell -->
                        </div><!-- end navbar-table -->
                    </div><!-- end container fluid -->
                </nav><!-- end navbar -->
            {% endif %}
        </div><!-- end container -->
    </header>


    <div class="su-landing">
        {#<header class="su-landing__header">#}
        {#<a href="/" class="navbar-brand"><i class="fa fa-hashtag"></i> Super#}
        {#Interface</a>#}
        {#<nav class="su-landing__nav">#}
        {#<div class="su-landing__nav-container">#}
        {#<ul class="su-landing__nav-list">#}
        {#<li>#}
        {#<a href="#section1" title="Affiliate program" class="su-landing__nav-link">Affiliate program</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="#section2" title="Widget" class="su-landing__nav-link">Referral Widget</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="#section3" title="Market Place" class="su-landing__nav-link">Market Place</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="#section4" title="Pricing" class="su-landing__nav-link">Pricing</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="#section4" title="Pricing" class="su-landing__nav-link">Features</a>#}
        {#</li>#}
        {#</ul>#}
        {#<ul class="su-landing__nav-right">#}
        {#<li>#}
        {#<a href="{{ path('login') }}" title="Login" class="su-landing__nav-link">Login</a>#}
        {#</li>#}
        {#<li>#}
        {#<a href="{{ path('register_shop') }}" title="SignUp" class="su-landing__nav-link">SignUp</a>#}
        {#</li>#}
        {#<li>#}
        {#<a id="su-landing__demo-button" href="#" title="Test ride" class="btn btn-primary btn-medium">Test ride</a>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}

        {#<label for="nav" class="su-landing__header-nav-trigger">#}
        {#<span class="su-landing__header-nav-trigger-menu-line"></span>#}
        {#</label>#}
        {#</nav>#}
        {#</header>#}
        <main class="su-landing__content">
            <header class="su-landing__slogan su-landing__slogan--border">
                <div class="su-landing__content--block">
                    <div class="su-landing__slogan-title">Lorem ipsum dolor sit amet</div>
                    <h3 class="su-landing__slogan-subtitle">consectetur adipiscing /
                        <a class="su-landing__slogan-subtitle-button" href="#">Lorem ipsum</a>
                    </h3>
                </div>
            </header>
            <section class="su-landing__section" id="section1">
                <div class="su-landing__content--flex">
                    <header class="su-landing__section-header">
                        <span class="su-landing__section-icon">
                            <svg width="100%" height="100%" viewBox="0 0 82 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><path d="M78.93,40.714c0,21.106 -17.11,38.216 -38.216,38.216c-21.106,0 -38.214,-17.11 -38.214,-38.216c0,-21.106 17.108,-38.214 38.214,-38.214c21.106,0 38.216,17.108 38.216,38.214Z" style="fill:none;stroke:#18355b;stroke-width:5px;"></path><path d="M40.714,16.136l0,26.64l13.162,12.368" style="fill:none;stroke:#18355b;stroke-width:5px;"></path></svg>
                        </span>
                        <h3 class="su-landing__section-title">ValueLink</h3>
                        <p class="su-landing__section-subtitle">consectetur adipiscing elit</p>
                    </header>
                    <ul class="su-landing__content--flex mt-50">
                        <li class="su-landing__section-content-p">Mauris quis sodales felis.</li>
                        <li class="su-landing__section-content-p">Mauris imperdiet ligula vel leo luctus ornare.</li>
                        <li class="su-landing__section-content-p">Vestibulum vitae laoreet arcu, varius suscipit nibh.</li>
                    </ul>
                </div>
            </section>
            <section class="su-landing__section su-landing__section--white su-landing__section--highter-padding" id="section2">
                <div class="su-landing__content--flex">
                    <header class="su-landing__section-header">
                        <span class="su-landing__section-icon">
                            <svg width="100%" height="100%" viewBox="0 0 83 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><rect x="2.5" y="26.818" width="20.036" height="54.098" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect><rect x="31.378" y="43.75" width="20.036" height="37.166" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect><rect x="60.254" y="2.5" width="20.036" height="78.416" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect></svg>
                        </span>
                        <h3 class="su-landing__section-title">Morbi vulputate purus quis ante tincidunt tempor</h3>
                        <p class="su-landing__section-subtitle">Sed eu ipsum in justo sagittis scelerisque</p>
                    </header>
                    <div class="su-landing__section-img"></div>
                    <ul class="su-landing__section-content">
                        <li class="su-landing__section-content-p">Sed nisi felis, molestie et <br/>felis vitae, bibendum cursus libero.</li>
                        <li class="su-landing__section-content-p">Cras porttitor est sit amet hendrerit ultricies.</li>
                        <li class="su-landing__section-content-p">Nullam a tristique nibh.</li>
                        <li class="su-landing__section-content-p"></li>
                    </ul>
                </div>
            </section>
            <section class="su-landing__section su-landing__section--white" id="section3">
                <div class="su-landing__content--flex">
                    <header class="su-landing__section-header">
                        <span class="su-landing__section-icon">
                            <svg width="100%" height="100%" viewBox="0 0 83 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><rect x="2.5" y="26.818" width="20.036" height="54.098" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect><rect x="31.378" y="43.75" width="20.036" height="37.166" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect><rect x="60.254" y="2.5" width="20.036" height="78.416" style="fill:none;stroke:#18355b;stroke-width:5px;"></rect></svg>
                        </span>
                        <h3 class="su-landing__section-title">Cras porttitor est sit amet hendrerit ultricies</h3>
                        <p class="su-landing__section-subtitle">Nullam a tristique nibh</p>
                    </header>
                    <div class="su-landing__section-img"></div>
                    <ul class="su-landing__section-content">
                        <li class="su-landing__section-content-p">Nulla vel ligula massa.</li>
                        <li class="su-landing__section-content-p">Etiam non neque sem.</li>
                        <li class="su-landing__section-content-p">Vestibulum quis orci</li>
                    </ul>
                </div>
            </section>
            <section class="su-landing__section su-landing__section--highter-padding" id="section4">
                <div class="su-landing__content--flex">
                    <header class="su-landing__section-header">
                        <span class="su-landing__section-icon">
                            <svg width="100%" height="100%" viewBox="0 0 88 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><path d="M17.372,70.579l8.03,14.872l3.638,-3.336l1.188,-14.552l14.552,-14.552l12.012,31.746l6.916,-8.07l-1.712,-40.166l19.818,-19.818c2.642,-2.642 5.42,-9.466 2.16,-12.726c-3.26,-3.26 -10.086,-0.482 -12.726,2.16l-19.818,19.818l-40.168,-1.712l-8.068,6.916l31.746,12.01l-14.552,14.554l-14.552,1.188l-3.336,3.638l14.872,8.03Z" style="fill:none;stroke:#18355b;stroke-width:5px;"></path></svg>
                        </span>
                        <h3 class="su-landing__section-title">Morbi eget sem at justo dignissim tristique</h3>
                        <p class="su-landing__section-subtitle">Ut nec aliquet turpis</p>
                    </header>
                    <div class="su-landing__section-img"></div>
                    <ul class="su-landing__section-content">
                        <li class="su-landing__section-content-p">Nullam imperdiet nibh</li>
                        <li class="su-landing__section-content-p">enim, sit amet lacinia</li>
                        <li class="su-landing__section-content-p">dui ornare et.</li>
                    </ul>
                </div>
            </section>
            <section class="su-landing__section su-landing__section--white">
                <div class="su-landing__content--flex">
                    <header class="su-landing__section-header">
                        <span class="su-landing__section-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405.03 376.46"><defs></defs><title>Zasób 1</title><g id="Warstwa_2" data-name="Warstwa 2"><g id="Warstwa_1-2" data-name="Warstwa 1"><path class="cls-1" d="M330.74,370.67A74.29,74.29,0,1,1,405,296.38,74.37,74.37,0,0,1,330.74,370.67Zm0-128.57A54.29,54.29,0,1,0,385,296.38,54.35,54.35,0,0,0,330.74,242.1Z"></path><path class="cls-1" d="M74.29,370.67a74.29,74.29,0,1,1,74.29-74.29A74.37,74.37,0,0,1,74.29,370.67Zm0-128.57a54.29,54.29,0,1,0,54.29,54.29A54.35,54.35,0,0,0,74.29,242.1Z"></path><path class="cls-1" d="M202.51,148.57A74.29,74.29,0,1,1,276.8,74.29,74.37,74.37,0,0,1,202.51,148.57Zm0-128.57A54.29,54.29,0,1,0,256.8,74.29,54.35,54.35,0,0,0,202.51,20Z"></path><path class="cls-1" d="M339.92,219.06q0,1.81,0,3.61A73.69,73.69,0,0,1,359.66,228c.16-2.95.26-5.91.26-8.89A157.54,157.54,0,0,0,276.54,80.19,73.73,73.73,0,0,1,272,100.56,137.47,137.47,0,0,1,339.92,219.06Z"></path><path class="cls-1" d="M65.16,222.68q0-1.8,0-3.61A137.47,137.47,0,0,1,133,100.56a73.73,73.73,0,0,1-4.56-20.37A157.54,157.54,0,0,0,45.11,219.06c0,3,.09,5.95.26,8.89A73.69,73.69,0,0,1,65.16,222.68Z"></path><path class="cls-1" d="M269.82,338.81a137.14,137.14,0,0,1-134.6,0,74.9,74.9,0,0,1-13.91,15,157.12,157.12,0,0,0,162.42,0A74.9,74.9,0,0,1,269.82,338.81Z"></path></g></g></svg>
                        </span>
                        <h3 class="su-landing__section-title">Maecenas consectetur faucibus est eget facilisis</h3>
                    </header>
                    <div class="su-landing__section-img"></div>
                    <ul class="su-landing__section-logos">
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 180 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g id="g4088"><rect id="path3938" x="80.126" y="16.754" width="10.63" height="50.249" style="fill:#036;fill-rule:nonzero;"></rect><path id="path3950" d="M108.431,26.251l12.364,0c3.082,0 4.764,1.708 4.764,4.626l0,4.543c0,2.919 -1.682,6.301 -4.764,6.301l-12.364,0l0,-15.47l0,0Zm20.688,40.886l11.609,0l-12.277,-17.332c4.013,-1.492 6.501,-5.952 6.501,-10.521l0,-12.806c0,-5.77 -3.849,-9.62 -9.62,-9.62l-16.348,0l-11.05,0l0,50.279l10.497,0l0,-16.576l9.99,0l10.698,16.576Z" style="fill:#036;fill-rule:nonzero;"></path><path id="path3954" d="M179.981,67.003l-14.918,-50.249l-3.867,0l-6.63,0l-3.868,0l-14.918,50.249l10.498,0l11.603,-39.1l5.865,19.774l-5.865,0l-4.076,9.019l12.563,0l3.115,10.307l10.498,0Z" style="fill:#036;fill-rule:nonzero;"></path><path id="path3958" d="M72.396,56.363l0,-39.609l-10.308,0l0,37.274c0,5.878 -2.744,6.306 -3.453,6.582c-1.292,0.502 -3.478,0.8 -3.478,0.8l2.471,8.928c16.605,-0.441 14.768,-13.975 14.768,-13.975" style="fill:#036;fill-rule:nonzero;"></path><path id="path3962" d="M0.002,16.996c0,0 -0.484,10.247 14.71,25.165c15.194,14.918 16.921,20.977 16.092,25.164l11.05,0c0,0 1.004,-17.311 -16.123,-29.466c0,0 -11.791,-10.486 -13.712,-18.812c0,0 -5.804,-0.003 -9.843,-3.251c0,0 -2.177,-1.306 -2.174,1.2" style="fill:#036;fill-rule:nonzero;"></path><path id="path3966" d="M23.521,40.665c3.051,2.165 5.517,4.496 7.526,6.864c1.465,-1.563 3.105,-3.24 4.947,-5.048c15.193,-14.918 14.71,-25.484 14.71,-25.484c0.003,-2.507 -2.175,-1.121 -2.175,-1.121c-4.038,3.248 -9.842,3.331 -9.842,3.331c-1.921,8.326 -13.712,18.972 -13.712,18.972c-0.798,0.566 -1.545,1.148 -2.266,1.736c0.511,0.481 0.812,0.75 0.812,0.75" style="fill:#036;fill-rule:nonzero;"></path><path id="path3970" d="M23.375,56.85c-1.961,-2.535 -4.576,-5.503 -8.035,-9.039c-7.055,10.14 -6.489,20.159 -6.489,20.159l11.05,0c-0.49,-2.577 -0.084,-5.838 3.474,-11.12" style="fill:#036;fill-rule:nonzero;"></path><path id="path3974" d="M19.788,19.975l10.948,0c0,0 1.431,-0.201 1.082,1.693c-0.496,2.693 -6.406,8.151 -6.406,8.151c0,0 -4.322,-4.012 -6.246,-7.782c0,0 -0.778,-2.062 0.622,-2.062" style="fill:#036;fill-rule:nonzero;"></path><path id="path3978" d="M44.559,8.652c0,2.642 -2.142,4.785 -4.784,4.785c-2.642,0 -4.784,-2.143 -4.784,-4.785c0,-2.642 2.142,-4.784 4.784,-4.784c2.642,0 4.784,2.142 4.784,4.784" style="fill:#036;fill-rule:nonzero;"></path><path id="path3982" d="M16.382,8.652c0,2.642 -2.142,4.785 -4.785,4.785c-2.642,0 -4.784,-2.143 -4.784,-4.785c0,-2.642 2.142,-4.784 4.784,-4.784c2.643,0 4.785,2.142 4.785,4.784" style="fill:#036;fill-rule:nonzero;"></path><path id="path3986" d="M30.747,4.785c0,2.642 -2.142,4.784 -4.785,4.784c-2.642,0 -4.784,-2.142 -4.784,-4.784c0,-2.643 2.142,-4.785 4.784,-4.785c2.643,0 4.785,2.142 4.785,4.785" style="fill:#036;fill-rule:nonzero;"></path></g>

                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 836 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g id="Logo"><path id="Type" d="M673.294,177.59c-12.771,5.203 -22.849,23.181 -38.176,33.399c-0.95,0.633 -1.9,0.95 -2.534,0.95c-1.267,0 -2.851,-1.267 -2.851,-6.969c0,-19.642 6.336,-29.146 11.721,-43.085c18.692,-48.471 50.688,-89.971 79.2,-135.274c2.218,-3.485 3.485,-7.286 3.485,-11.405c0,-3.484 -1.267,-6.336 -2.851,-9.82c-1.267,-2.852 -6.97,-5.386 -13.306,-5.386c-3.484,0 -6.652,0.317 -10.771,0.317c-14.889,0 -18.057,21.859 -21.542,27.561c-23.76,40.234 -51.005,89.972 -64.944,125.136c-3.057,7.883 -6.359,15.767 -8.868,23.857c-13.775,3.989 -24.095,23.357 -40.236,34.118c-0.951,0.633 -1.901,0.95 -2.535,0.95c-1.267,0 -2.851,-1.267 -2.851,-6.969c0,-19.642 6.336,-29.146 11.722,-43.085c18.691,-48.471 50.688,-89.971 79.2,-135.274c2.217,-3.485 3.485,-7.286 3.485,-11.405c0,-3.484 -1.268,-6.336 -2.852,-9.82c-1.267,-2.852 -6.969,-5.386 -13.305,-5.386c-3.485,0 -6.653,0.317 -10.771,0.317c-14.89,0 -18.058,21.859 -21.543,27.561c-23.76,40.234 -51.005,89.972 -64.944,125.136c-1.108,2.858 -2.248,5.716 -3.372,8.584c-0.346,0.185 -0.701,0.386 -1.063,0.604c-16.157,9.504 -29.779,26.294 -49.421,37.699c-3.801,2.217 -15.523,10.454 -25.027,10.454c-2.218,0 -4.118,-0.633 -6.019,-1.584c-2.851,-1.267 -5.703,-7.286 -5.703,-9.187c0,-1.584 0.317,-1.901 3.485,-3.802c27.879,-16.79 50.688,-40.867 70.33,-64.944c7.286,-8.87 16.79,-26.294 16.79,-38.966c0,-8.237 -2.851,-17.741 -12.672,-21.226c-6.969,-2.534 -14.889,-3.801 -21.225,-3.801c-16.791,0 -29.146,7.603 -36.116,14.889c-7.095,7.575 -13.958,15.353 -20.335,23.405c-6.662,-5.752 -16.059,-8.198 -24.967,-8.198c-10.454,0 -30.096,12.989 -40.234,20.592c-1.584,1.267 -2.534,1.901 -3.168,1.901c-0.316,0 -0.633,-0.317 -0.633,-0.951c0,-0.317 0.633,-3.168 0.633,-8.237c0,-4.435 -0.95,-10.137 -5.068,-17.107c-0.951,-1.584 -6.653,-5.069 -13.623,-5.069c-8.553,0 -16.473,4.119 -16.473,8.554c0,3.168 2.851,4.435 2.851,7.286c0,1.584 -1.267,8.871 -3.168,15.84c-5.386,20.276 -12.039,40.234 -19.008,60.192c-3.802,11.088 -16.474,20.909 -16.474,32.948c0,3.801 2.535,8.87 6.019,12.672c5.703,6.336 9.188,8.553 14.256,8.553c2.218,0 4.752,-0.633 6.97,-2.534c4.752,-4.119 7.286,-8.237 8.554,-13.939c8.236,-37.383 31.996,-62.727 58.291,-79.517c8.87,-5.703 20.909,-11.722 22.493,-11.722c1.624,0 4.164,0.75 6.724,1.48c-7.35,11.989 -13.306,24.632 -17.179,38.12c-1.267,4.435 -1.901,8.554 -1.901,12.989c0,7.286 1.584,14.89 4.119,22.176c3.485,10.138 9.187,19.008 17.107,23.126c14.573,7.604 25.027,11.722 34.531,11.722c5.386,0 9.504,-0.95 13.939,-3.485c20.823,-11.781 33.589,-20.719 42.807,-28.657c0.253,8.049 1.84,12.508 7.565,18.52c5.702,6.019 14.572,11.404 26.294,13.939c1.901,0.317 3.802,0.633 5.702,0.633c13.411,0 26.318,-10.9 36.27,-21.706c1.152,2.358 2.827,4.609 5.231,7.134c5.703,6.019 14.573,11.404 26.295,13.939c1.9,0.317 3.801,0.633 5.702,0.633c15.71,0 30.727,-14.957 41.114,-27.199c3.462,7.161 13.137,14.24 24.78,19.913c3.168,1.584 6.97,2.534 10.455,2.534c13.622,0 23.443,-11.088 31.046,-19.324c19.642,-21.543 30.413,-48.154 38.65,-81.735c0.633,-2.534 1.584,-3.485 2.851,-3.485c3.168,0 7.286,0 11.722,-0.633c8.553,-1.267 15.206,-4.119 23.126,-5.386c4.752,-0.95 4.118,-2.534 8.554,-4.118c3.168,-1.267 5.702,-2.535 5.702,-5.703c0,-5.385 -9.821,-11.088 -24.71,-11.088c-11.722,0 -18.692,0.951 -23.444,0.951c-7.286,0 -9.187,-2.218 -13.939,-14.573c0,0 4.752,12.355 0,0c-0.95,-2.534 -1.901,-3.802 -4.752,-6.336c-6.653,-5.702 -14.889,-7.603 -21.542,-7.603c-15.84,0 -29.463,16.157 -38.967,29.779c-2.217,3.168 -5.385,5.702 -7.603,9.187c-13.05,19.575 -25.544,41.649 -27.085,65.443Zm-405.03,-107.894c7.92,0 12.355,-0.634 13.306,-0.634c0.95,0 1.584,0.317 1.584,1.268c0,0.633 -0.317,1.584 -2.535,6.336c-19.325,41.5 -32.63,83.635 -44.352,130.204c-0.317,1.268 -1.267,6.02 -1.267,10.772c0,4.435 1.267,9.187 5.702,11.721c8.554,5.069 15.524,7.287 20.276,7.287c6.969,0 10.454,-4.436 10.454,-11.722c0,-6.336 0.317,-12.989 1.267,-18.058c8.871,-46.569 22.176,-83.001 42.768,-121.017c9.821,-18.058 11.088,-19.008 11.088,-20.592c0,-0.634 -0.317,-1.584 -0.95,-2.535c12.672,-2.851 27.878,-4.752 41.817,-4.752c1.584,0 7.92,2.218 8.871,3.168c2.217,2.218 4.435,4.436 8.237,4.436c3.168,0 8.553,-2.218 10.454,-3.485c4.435,-3.168 6.653,-6.653 6.653,-12.355c0,-5.386 -19.959,-18.692 -33.898,-18.692c-17.107,0 -32.63,2.218 -47.203,5.069c-6.336,1.267 -29.146,4.752 -45.619,4.752c-15.84,0 -14.89,-2.217 -21.543,-2.217c-3.801,0 -5.702,1.9 -7.286,3.484c-1.584,1.584 -2.534,7.92 -2.534,13.623c0,2.851 0,5.069 1.584,6.969c4.752,5.703 13.939,6.97 23.126,6.97c0,0 -9.187,0 0,0Zm234.749,25.661c0,2.851 -0.951,4.752 -4.752,10.771c-3.802,6.019 -2.218,6.019 -6.97,12.355c-9.187,12.355 -20.592,24.711 -35.481,38.333c-4.119,3.802 -4.752,3.802 -5.386,3.802c-0.317,0 -0.95,-0.317 -0.95,-0.951c0,-0.95 0.316,-2.217 3.484,-8.87c9.821,-20.592 21.86,-34.215 35.165,-47.52c7.287,-7.287 11.722,-9.821 13.306,-9.821c0.95,0 1.584,0.317 1.584,1.901c0,0 0,-1.584 0,0Zm243.619,8.237c0.317,0 0.634,0.316 0.95,0.95c0.317,0.95 0.951,1.901 2.535,3.168c1.267,0.95 1.267,5.386 1.267,8.87c0,30.73 -17.424,56.074 -34.531,81.735c-3.802,5.702 -6.019,6.653 -7.92,6.653c-1.584,0 -4.119,-4.119 -5.069,-6.653c-1.267,-3.485 -1.584,-7.603 -1.584,-9.187c0,-24.711 23.443,-61.46 38.966,-81.735c2.535,-3.485 4.436,-3.801 5.386,-3.801c0,0 -0.95,0 0,0Z" style="fill:url(#_Linear1);"></path><g id="Mark"><path id="Board" d="M200,60c0,-13.798 -11.202,-25 -25,-25l-150,0c-13.798,0 -25,11.202 -25,25l0,150c0,13.798 11.202,25 25,25l150,0c13.798,0 25,-11.202 25,-25l0,-150Z" style="fill:url(#_Linear2);"></path><path id="Right.-List" d="M174,73c0,-6.623 -5.377,-12 -12,-12l-37,0c-6.623,0 -12,5.377 -12,12l0,63.5c0,6.623 5.377,12 12,12l37,0c6.623,0 12,-5.377 12,-12l0,-63.5Z" style="fill:#fff;"></path><path id="Left.-List" d="M87,73c0,-6.623 -5.377,-12 -12,-12l-37,0c-6.623,0 -12,5.377 -12,12l0,113.5c0,6.623 5.377,12 12,12l37,0c6.623,0 12,-5.377 12,-12l0,-113.5Z" style="fill:#fff;"></path></g></g><defs><linearGradient id="_Linear1" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.451e-14,236.966,-236.966,1.451e-14,535.168,0)"><stop offset="0" style="stop-color:#0091e6;stop-opacity:1"></stop><stop offset="1" style="stop-color:#0079bf;stop-opacity:1"></stop></linearGradient><linearGradient id="_Linear2" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.22465e-14,200,-200,1.22465e-14,100,35)"><stop offset="0" style="stop-color:#0091e6;stop-opacity:1"></stop><stop offset="1" style="stop-color:#0079bf;stop-opacity:1"></stop></linearGradient></defs>
                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 256 261" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <path d="M186.583,106.506c-12.077,-32.849 -48.505,-49.511 -81.27,-37.49l-0.978,0.559l0.559,1.146c5.563,15.069 -2.153,31.787 -17.222,37.351c-6.821,2.516 -13.95,2.18 -20.268,-0.168c-4.585,13.307 -4.809,28.264 0.447,42.522c12.105,32.793 48.505,49.595 81.298,37.49c32.766,-12.133 49.54,-48.589 37.434,-81.41" style="fill:#fa930d;fill-rule:nonzero;"></path><path d="M116.552,99.517c-15.936,5.954 -24.099,23.679 -18.228,39.475c5.899,15.963 23.595,24.126 39.559,18.227c15.935,-5.871 24.098,-23.595 18.2,-39.558c-5.843,-15.824 -23.596,-23.987 -39.531,-18.144m139.448,-49.763c0,-2.88 -1.09,-5.312 -3.019,-7.241c-1.957,-1.929 -4.529,-2.964 -7.269,-2.964c-2.74,0.028 -5.312,1.091 -7.241,3.02l-15.795,15.823l-4.222,-5.284l15.181,-15.46c1.929,-1.817 2.963,-4.473 2.963,-7.24c0,-2.74 -1.09,-5.256 -3.019,-7.241c-1.939,-1.896 -4.557,-2.944 -7.269,-2.908c-2.74,0 -5.312,1.09 -7.241,2.936l-14.985,15.152l-5.367,-4.221l15.488,-15.656c1.929,-1.957 2.963,-4.529 2.963,-7.269c0,-2.879 -1.09,-5.312 -3.019,-7.297c-1.954,-1.874 -4.562,-2.917 -7.269,-2.907c-2.709,-0.007 -5.314,1.058 -7.241,2.963l-18.759,18.983c-28.404,-14.565 -62.427,-17.585 -94.689,-5.703l-8.891,3.83l-59.464,-8.723l29.355,28.74l-6.905,6.989l-29.327,-28.795l9.505,57.954c-13.335,27.817 -15.879,60.918 -4.333,92.173c1.733,4.837 3.914,9.422 6.206,13.727l-19.374,19.542c-1.901,1.985 -2.963,4.529 -2.963,7.297c0,2.852 1.062,5.284 3.019,7.297c1.957,1.845 4.529,2.907 7.241,2.907c2.768,0 5.312,-1.09 7.241,-2.963l16.103,-16.187l4.417,5.228l-15.656,15.739c-1.929,1.873 -2.991,4.501 -2.963,7.297c0,2.712 1.09,5.256 3.019,7.213c1.957,1.901 4.501,2.963 7.241,2.963c2.708,-0.052 5.298,-1.132 7.241,-3.019l15.907,-16.019l5.368,4.249l-16.411,16.578c-1.929,1.935 -3.007,4.564 -2.991,7.297c0.028,2.824 1.09,5.256 3.047,7.269c1.957,1.845 4.501,2.907 7.241,2.907c2.768,0 5.312,-1.09 7.241,-2.935l20.157,-20.381c27.789,13.28 60.638,15.712 91.754,4.11c8.555,-3.103 16.466,-7.297 23.763,-12.105l7.436,5.284c1.426,1.118 1.985,5.451 -0.503,8.638l-2.739,3.579c-1.706,2.068 -2.433,4.836 -2.125,7.576c0.335,2.74 1.705,5.144 3.83,6.766c2.181,1.733 4.864,2.46 7.548,2.096c2.74,-0.391 5.172,-1.733 6.85,-3.886l3.522,-4.445c8.779,-11.071 4.306,-26.95 -5.284,-34.359l-3.802,-2.6c8.275,-7.576 15.348,-16.047 21.136,-25.384l3.103,1.873c1.425,1.146 1.985,5.395 -0.503,8.722l-2.74,3.495c-1.706,2.125 -2.432,4.808 -2.125,7.576c0.336,2.74 1.705,5.228 3.858,6.766c2.153,1.733 4.809,2.432 7.548,2.096c2.687,-0.354 5.134,-1.738 6.822,-3.858l3.522,-4.417c8.779,-11.183 4.278,-26.894 -5.284,-34.414l-5.842,-4.11c11.294,-26.727 12.971,-57.647 2.124,-87.002l-4.668,-10.903l19.346,-19.569c1.957,-1.874 2.991,-4.446 2.991,-7.185m-201.652,105.648c-14.873,-40.201 5.731,-84.821 45.961,-99.666c40.23,-14.845 84.905,5.676 99.778,46.017c14.845,40.202 -5.732,84.905 -45.989,99.778c-40.202,14.621 -84.877,-5.899 -99.75,-46.129" style="fill:#136ba2;fill-rule:nonzero;"></path>
                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="256px" height="194px" viewBox="0 0 256 194" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                                    <defs>
                                        <linearGradient x1="0.00388991071%" y1="49.997619%" x2="100.032232%" y2="49.997619%" id="linearGradient-1">
                                            <stop stop-color="#000000" stop-opacity="0.1" offset="0%"></stop>
                                            <stop stop-color="#000000" stop-opacity="0.2" offset="100%"></stop>
                                        </linearGradient>
                                    </defs>
                                    <g>
                                        <path d="M238.833923,193.595007 L16.1542195,193.595007 C7.51970044,193.595007 0.248526454,186.551057 0.248526454,177.689314 L0.248526454,16.8145898 C0.248526454,8.18007073 7.29247625,0.908896748 16.1542195,0.908896748 L238.833923,0.908896748 C247.468442,0.908896748 254.739616,7.95284654 254.739616,16.8145898 L254.739616,177.689314 C254.739616,186.551057 247.695666,193.595007 238.833923,193.595007 L238.833923,193.595007 Z" fill="#E3E3E3"></path>
                                        <path d="M32.0599126,193.595007 L127.266847,117.020456 L127.94852,112.930421 L29.7876708,42.2636988 L29.5604466,190.186644 L32.0599126,193.595007 Z" opacity="0.1" fill="#231F20"></path>
                                        <path d="M16.1542195,193.595007 C7.29247625,193.595007 0.248526454,186.551057 0.248526454,177.689314 L0.248526454,16.5873656 C0.248526454,7.72562236 7.29247625,6.13505305 16.1542195,6.13505305 C25.0159628,6.13505305 32.0599126,7.95284654 32.0599126,16.5873656 L32.0599126,193.595007 L16.1542195,193.595007 L16.1542195,193.595007 Z" fill="#D54B3D"></path>
                                        <path d="M16.1542195,8.40729492 C27.5154289,8.40729492 29.7876708,11.8156577 29.7876708,16.5873656 L29.7876708,191.322765 L16.1542195,191.322765 C8.65582137,191.322765 2.52076832,185.187712 2.52076832,177.689314 L2.52076832,16.5873656 C2.52076832,11.5884335 4.79301019,8.40729492 16.1542195,8.40729492 L16.1542195,8.40729492 Z M16.1542195,6.13505305 C7.29247625,6.13505305 0.248526454,7.95284654 0.248526454,16.5873656 L0.248526454,177.689314 C0.248526454,186.551057 7.29247625,193.595007 16.1542195,193.595007 L32.0599126,193.595007 L32.0599126,16.5873656 C32.0599126,7.72562236 25.0159628,6.13505305 16.1542195,6.13505305 L16.1542195,6.13505305 L16.1542195,6.13505305 Z" fill="#D72B27"></path>
                                        <path d="M238.833923,193.595007 L222.92823,193.595007 L222.92823,16.1329173 C222.92823,7.27117398 229.972179,6.13505305 238.833923,6.13505305 C247.695666,6.13505305 254.739616,7.27117398 254.739616,16.1329173 L254.739616,177.916538 C254.739616,186.551057 247.695666,193.595007 238.833923,193.595007 L238.833923,193.595007 Z" fill="#D54B3D"></path>
                                        <path d="M238.833923,8.40729492 C249.059011,8.40729492 252.467374,10.4523126 252.467374,16.1329173 L252.467374,177.916538 C252.467374,185.414937 246.332321,191.54999 238.833923,191.54999 L225.200472,191.54999 L225.200472,16.1329173 C225.200472,10.2250884 228.608834,8.40729492 238.833923,8.40729492 L238.833923,8.40729492 Z M238.833923,6.13505305 C229.972179,6.13505305 222.92823,7.27117398 222.92823,16.1329173 L222.92823,193.822231 L238.833923,193.822231 C247.695666,193.822231 254.739616,186.778282 254.739616,177.916538 L254.739616,16.1329173 C254.739616,7.27117398 247.695666,6.13505305 238.833923,6.13505305 L238.833923,6.13505305 L238.833923,6.13505305 Z" fill="#D72B27"></path>
                                        <path d="M170.666667,193.595007 L1.57979906,23.1947544 L10.4736149,26.8124541 L128.175744,111.567076 L254.73962,18.7604631 L254.739616,177.916538 C254.739616,186.551057 247.695666,193.595007 238.833923,193.595007 L170.666667,193.595007 Z" fill="url(#linearGradient-1)"></path>
                                        <path d="M127.266847,117.020456 L7.06525206,29.7663685 C0.0213022675,24.5402122 -2.02371542,14.542348 3.20244088,7.49839817 C8.42859718,0.454448374 18.6536856,-1.13612093 25.9248596,4.09003537 L127.494071,77.9378961 L229.744955,3.18113862 C236.788905,-2.04501768 246.786769,-0.454448374 252.012926,6.81672561 C257.239082,13.8606754 255.648513,23.8585396 248.377339,29.0846959 L127.266847,117.020456 L127.266847,117.020456 Z" fill="#D54B3D"></path>
                                        <path d="M238.833923,2.27224187 L238.833923,2.27224187 C243.151182,2.27224187 247.241218,4.31725955 249.967908,7.95284654 C254.285167,14.0878996 252.921822,22.4951945 247.013993,27.0396782 L127.266847,114.293766 L8.42859718,27.948575 C2.29354414,23.4040913 0.702974828,14.7695722 5.02023438,8.86174329 C7.51970044,5.45338049 11.83696,3.18113862 16.3814437,3.18113862 C19.3353582,3.18113862 22.2892726,4.09003537 24.5615145,5.90782886 L125.903502,79.5284654 L127.266847,80.4373622 L128.630192,79.5284654 L230.653852,4.77170793 C233.153318,3.18113862 235.880008,2.27224187 238.833923,2.27224187 L238.833923,2.27224187 Z M238.833923,0 C235.652784,0 232.244421,0.908896748 229.517731,2.95391443 L127.266847,77.7106719 L25.6976354,3.86281118 C22.9709451,1.8177935 19.5625823,0.908896748 16.1542195,0.908896748 C11.1552874,0.908896748 6.15635532,3.18113862 2.9752167,7.49839817 C-2.02371542,14.542348 0.0213022675,24.5402122 7.06525206,29.7663685 L127.266847,117.24768 L248.150114,29.0846959 C255.194064,23.8585396 256.784634,14.0878996 251.785701,6.81672561 C248.604563,2.27224187 243.832855,0 238.833923,0 L238.833923,0 L238.833923,0 Z" fill="#D72B27"></path>
                                    </g>
                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 36 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g id="documents"><path id="file-type" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z" style="fill:#0089f9;"></path><clipPath id="_clip1"><path id="file-type1" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z"></path></clipPath><g clip-path="url(#_clip1)"><g id="fold"><use xlink:href="#_Image2" x="24" y="1.037" width="12px" height="12.463px" transform="matrix(0.999999,0,0,0.95869,0,0)"></use><rect x="24" y="0" width="12" height="12" style="fill:#7fc1f7;"></rect></g></g><path id="shape" d="M19.5,36l-13.5,0l0,-1.5l13.5,0l0,1.5Zm10.5,-4.5l-24,0l0,-1.5l24,0l0,1.5Zm0,-4.5l-24,0l0,-1.5l24,0l0,1.5Zm0,-4.5l-24,0l0,-1.5l24,0l0,1.5Z" style="fill:#fff;"></path></g><defs><image id="_Image2" width="12px" height="13px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAACdKY9CAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAfklEQVQokZXNrQ6BARSA4efzM7NprsQEySZooiZKZ5ob0TRJkRTBBNuZ7lZcA0k/39ufvUTuRU4V6+CAt8hdFfw7ity2AXASuWkDGpxFrqsAuriIXFUB9HEVuawCGOAmcl4FMMRd5KwKYISHyAk0Ir8FBB8sKod/Yzx7eLVAfmaTG8FmhDDRAAAAAElFTkSuQmCC"></image></defs>
                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 36 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g id="spreadsheet"><path id="file-type" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z" style="fill:#00a753;"></path><clipPath id="_clip1"><path id="file-type1" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z"></path></clipPath><g clip-path="url(#_clip1)"><g id="fold"><use xlink:href="#_Image2" x="24" y="1.037" width="12px" height="12.463px" transform="matrix(0.999999,0,0,0.95869,0,0)"></use><rect x="24" y="0" width="12" height="12" style="fill:#4fcd8d;"></rect></g></g><path id="shape" d="M6,36l0,-15l24,0l0,15l-24,0Zm22.5,-1.5l0,-3l-13.5,0l0,3l13.5,0Zm-13.5,-4.5l13.5,0l0,-3l-13.5,0l0,3Zm-1.5,-3l-6,0l0,3l6,0l0,-3Zm0,7.5l0,-3l-6,0l0,3l6,0Zm-6,-12l0,3l6,0l0,-3l-6,0Zm7.5,0l0,3l13.5,0l0,-3l-13.5,0Z" style="fill:#fff;"></path></g><defs><image id="_Image2" width="12px" height="13px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAACdKY9CAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAiUlEQVQokZXNL5LBARiA4cefHWNGcwBnkKT9CJqoiaLmAt8RNG3TFkkRjKDoLiFJTiDsJv37vf2ZtyNjazp6uz2eCrWxw13Gpgo+7WWsmwD4kbFqAlr4lbGsAujgIGNRBfCFo4x5FUAPJxnfVQB9nGVMqgAGuMgYQ0vGXwHBC7PK4dMQ1y5uDZB//C0Zs6OeG78AAAAASUVORK5CYII="></image></defs>
                                </svg>
                            </div>
                        </li>
                        <li class="su-landing__section-logos-logo">
                            <div class="su-landing__section-logos-svg">
                                <svg width="100%" height="100%" viewBox="0 0 36 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g id="presentation"><path id="file-type" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z" style="fill:#ffa900;"></path><clipPath id="_clip1"><path id="file-type1" d="M0,0l24,0l12,12l0,36l-36,0l0,-48Z"></path></clipPath><g clip-path="url(#_clip1)"><g id="fold"><use xlink:href="#_Image2" x="24" y="1.037" width="12px" height="12.463px" transform="matrix(0.999999,0,0,0.95869,0,0)"></use><rect x="24" y="0" width="12" height="12" style="fill:#ffd37e;"></rect></g></g><path id="shape" d="M15,36l0,-3.75l-9,0l0,-15l15,0l0,3.75l9,0l0,15l-15,0Zm4.5,-12.75l0,-2.25l0,-1.5l-12,0l0,10.5l12,0l0,-6.75Zm9,0l-7.5,0l0,9l-4.5,0l0,1.5l12,0l0,-10.5Z" style="fill:#fff;"></path></g><defs><image id="_Image2" width="12px" height="13px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAYAAACdKY9CAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAfklEQVQokZXNLRJBARSA0fP8jDGjWYkRJDOCJmqiqNnIbZqkSIpgBEXX7yqsgfT6fV8/88lwzDBXrIfAJ8OhCtpOGfZdAJwz7LqABpcM2yqAPq4ZNlUAQ9wyrKsARrhnWFYBjPHIsKgCmOCZYQZNhl8BwReryqFtitcA7w7IH+1VHqk+4P9gAAAAAElFTkSuQmCC"></image></defs>
                                </svg>
                            </div>
                        </li>
                    </ul>

                    <ul class="su-landing__section-content">
                        <li class="su-landing__section-content-p">Vivamus sit amet interdum ipsum, in semper ipsum.</li>
                        <li class="su-landing__section-content-p">Suspendisse sollicitudin elit diam, vel luctus sem tempus vel.</li>
                        <li class="su-landing__section-content-p">Nunc tincidunt aliquet magna, non tempus mi fermentum sit amet.</li>
                    </ul>
                </div>
            </section>
            <section class="su-landing__features">
                <header class="su-landing__slogan su-landing__slogan--border">
                    <div class="su-landing__content">
                        <div class="su-landing__slogan-title">Nunc posuere ut velit ut sagittis</div>
                        <h3 class="su-landing__slogan-subtitle">Fusce a lorem quis lorem lobortis tristique quis sollicitudin mi.</h3>
                    </div>
                </header>

                <div class="su-landing__features-content--flex">
                    <article class="su-landing__features-feature su-landing__features-feature--1">
                        <figure class="su-landing__features-feature-icon"><svg width="100%" height="100%" viewBox="0 0 118 115" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><path d="M114.269,57.134c0,31.555 -25.581,57.135 -57.135,57.135c-31.554,0 -57.134,-25.58 -57.134,-57.135c0,-31.554 25.58,-57.134 57.134,-57.134c31.554,0 57.135,25.58 57.135,57.134" style="fill:#fff;fill-rule:nonzero;"></path><path d="M64.467,37.146l13.924,-13.925l16.095,0" style="fill:none;stroke:#52baaf;stroke-width:1.5px;"></path><path d="M24.837,47.846l13.925,-13.924l16.095,0" style="fill:none;stroke:#52baaf;stroke-width:1.5px;"></path><path d="M47.122,77.123l13.924,13.924l16.095,0" style="fill:none;stroke:#52baaf;stroke-width:1.5px;"></path><rect x="59.593" y="27.394" width="14.683" height="57.164" style="fill:#3692d0;fill-rule:nonzero;"></rect><rect x="39.847" y="44.861" width="14.683" height="39.696" style="fill:#fbb03b;fill-rule:nonzero;"></rect><rect x="20.102" y="38.026" width="14.683" height="46.532" style="fill:#52baaf;fill-rule:nonzero;"></rect><rect x="79.477" y="38.026" width="14.683" height="46.532" style="fill:#6ccbc3;fill-rule:nonzero;"></rect></svg></figure>
                        <header>
                            <h3 class="su-landing__features-feature-title">Eleifend vel massa et</h3>
                        </header>
                    </article>
                    <article class="su-landing__features-feature su-landing__features-feature--2">
                        <figure class="su-landing__features-feature-icon"><svg width="100%" height="100%" viewBox="0 0 115 115" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M114.269,57.134c0,31.555 -25.581,57.135 -57.135,57.135c-31.554,0 -57.134,-25.58 -57.134,-57.135c0,-31.554 25.58,-57.134 57.134,-57.134c31.554,0 57.135,25.58 57.135,57.134" style="fill:#fff;fill-rule:nonzero;"></path><path d="M59.587,37.16l-4.906,0c-1.36,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.361 1.104,-2.464 2.464,-2.464l4.906,0c1.361,0 2.464,1.103 2.464,2.464l0,4.906c0,1.361 -1.103,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M72.535,37.16l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.103 2.464,2.464l0,4.906c0,1.361 -1.104,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M85.482,37.16l-4.906,0c-1.36,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.361 1.104,-2.464 2.464,-2.464l4.906,0c1.361,0 2.464,1.103 2.464,2.464l0,4.906c0,1.361 -1.103,2.464 -2.464,2.464" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M98.43,37.16l-4.907,0c-1.36,0 -2.463,-1.103 -2.463,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.463,-2.464l4.907,0c1.36,0 2.463,1.103 2.463,2.464l0,4.906c0,1.361 -1.103,2.464 -2.463,2.464" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M20.745,49.605l-4.906,0c-1.361,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.464,-2.463l4.906,0c1.36,0 2.464,1.103 2.464,2.463l0,4.907c0,1.361 -1.104,2.463 -2.464,2.463" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M33.693,49.605l-4.907,0c-1.36,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.104,-2.463 2.464,-2.463l4.907,0c1.36,0 2.463,1.103 2.463,2.463l0,4.907c0,1.361 -1.103,2.463 -2.463,2.463" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M46.64,49.605l-4.906,0c-1.361,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.464,-2.463l4.906,0c1.36,0 2.464,1.103 2.464,2.463l0,4.907c0,1.361 -1.104,2.463 -2.464,2.463" style="fill:#52baaf;fill-rule:nonzero;"></path><path d="M59.587,49.605l-4.906,0c-1.36,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.104,-2.463 2.464,-2.463l4.906,0c1.361,0 2.464,1.103 2.464,2.463l0,4.907c0,1.361 -1.103,2.463 -2.464,2.463" style="fill:#52baaf;fill-rule:nonzero;"></path><path d="M72.535,49.605l-4.906,0c-1.361,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.464,-2.463l4.906,0c1.36,0 2.464,1.103 2.464,2.463l0,4.907c0,1.361 -1.104,2.463 -2.464,2.463" style="fill:#52baaf;fill-rule:nonzero;"></path><path d="M85.482,49.605l-4.906,0c-1.36,0 -2.464,-1.102 -2.464,-2.463l0,-4.907c0,-1.36 1.104,-2.463 2.464,-2.463l4.906,0c1.361,0 2.464,1.103 2.464,2.463l0,4.907c0,1.361 -1.103,2.463 -2.464,2.463" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M98.43,49.605l-4.907,0c-1.36,0 -2.463,-1.102 -2.463,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.463,-2.463l4.907,0c1.36,0 2.463,1.103 2.463,2.463l0,4.907c0,1.361 -1.103,2.463 -2.463,2.463" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M20.745,62.051l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.36 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.104 2.464,2.464l0,4.906c0,1.361 -1.104,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M33.693,62.051l-4.907,0c-1.36,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.36 1.104,-2.464 2.464,-2.464l4.907,0c1.36,0 2.463,1.104 2.463,2.464l0,4.906c0,1.361 -1.103,2.464 -2.463,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M46.64,62.051l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.36 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.104 2.464,2.464l0,4.906c0,1.361 -1.104,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M59.587,62.051l-4.906,0c-1.36,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.36 1.104,-2.464 2.464,-2.464l4.906,0c1.361,0 2.464,1.104 2.464,2.464l0,4.906c0,1.361 -1.103,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M72.535,62.051l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.464l0,-4.906c0,-1.36 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.104 2.464,2.464l0,4.906c0,1.361 -1.104,2.464 -2.464,2.464" style="fill:#fbb03b;fill-rule:nonzero;"></path><path d="M80.576,61.374c-0.985,0 -1.787,-0.802 -1.787,-1.787l0,-4.906c0,-0.985 0.802,-1.786 1.787,-1.786l4.906,0c0.986,0 1.788,0.801 1.788,1.786l0,4.906c0,0.985 -0.802,1.787 -1.788,1.787l-4.906,0Z" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M85.482,52.218l-4.906,0c-1.36,0 -2.464,1.103 -2.464,2.463l0,4.907c0,1.36 1.104,2.463 2.464,2.463l4.906,0c1.361,0 2.464,-1.103 2.464,-2.463l0,-4.907c0,-1.36 -1.103,-2.463 -2.464,-2.463m0,1.353c0.612,0 1.11,0.498 1.11,1.11l0,4.907c0,0.611 -0.498,1.11 -1.11,1.11l-4.906,0c-0.612,0 -1.11,-0.499 -1.11,-1.11l0,-4.907c0,-0.612 0.498,-1.11 1.11,-1.11l4.906,0" style="fill:#fbb03b;fill-rule:nonzero;"></path><path d="M93.523,61.374c-0.984,0 -1.786,-0.802 -1.786,-1.787l0,-4.906c0,-0.985 0.802,-1.786 1.786,-1.786l4.907,0c0.985,0 1.787,0.801 1.787,1.786l0,4.906c0,0.985 -0.802,1.787 -1.787,1.787l-4.907,0Z" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M98.43,52.218l-4.907,0c-1.36,0 -2.463,1.103 -2.463,2.463l0,4.907c0,1.36 1.103,2.463 2.463,2.463l4.907,0c1.36,0 2.463,-1.103 2.463,-2.463l0,-4.907c0,-1.36 -1.103,-2.463 -2.463,-2.463m0,1.353c0.612,0 1.11,0.498 1.11,1.11l0,4.907c0,0.611 -0.498,1.11 -1.11,1.11l-4.907,0c-0.611,0 -1.11,-0.499 -1.11,-1.11l0,-4.907c0,-0.612 0.499,-1.11 1.11,-1.11l4.907,0" style="fill:#fbb03b;fill-rule:nonzero;"></path><path d="M20.745,74.497l-4.906,0c-1.361,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.103 2.464,2.464l0,4.906c0,1.36 -1.104,2.464 -2.464,2.464" style="fill:#3692d0;fill-rule:nonzero;"></path><path d="M33.693,74.497l-4.907,0c-1.36,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.104,-2.464 2.464,-2.464l4.907,0c1.36,0 2.463,1.103 2.463,2.464l0,4.906c0,1.36 -1.103,2.464 -2.463,2.464" style="fill:#3692d0;fill-rule:nonzero;"></path><path d="M46.64,74.497l-4.906,0c-1.361,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.103 2.464,2.464l0,4.906c0,1.36 -1.104,2.464 -2.464,2.464" style="fill:#3692d0;fill-rule:nonzero;"></path><path d="M59.587,74.497l-4.906,0c-1.36,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.104,-2.464 2.464,-2.464l4.906,0c1.361,0 2.464,1.103 2.464,2.464l0,4.906c0,1.36 -1.103,2.464 -2.464,2.464" style="fill:#3692d0;fill-rule:nonzero;"></path><path d="M72.535,74.497l-4.906,0c-1.361,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.464,-2.464l4.906,0c1.36,0 2.464,1.103 2.464,2.464l0,4.906c0,1.36 -1.104,2.464 -2.464,2.464" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M85.482,74.497l-4.906,0c-1.36,0 -2.464,-1.104 -2.464,-2.464l0,-4.906c0,-1.361 1.104,-2.464 2.464,-2.464l4.906,0c1.361,0 2.464,1.103 2.464,2.464l0,4.906c0,1.36 -1.103,2.464 -2.464,2.464" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M98.43,74.497l-4.907,0c-1.36,0 -2.463,-1.104 -2.463,-2.464l0,-4.906c0,-1.361 1.103,-2.464 2.463,-2.464l4.907,0c1.36,0 2.463,1.103 2.463,2.464l0,4.906c0,1.36 -1.103,2.464 -2.463,2.464" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M20.745,86.942l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.464,-2.463l4.906,0c1.36,0 2.464,1.103 2.464,2.463l0,4.907c0,1.36 -1.104,2.463 -2.464,2.463" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M33.693,86.942l-4.907,0c-1.36,0 -2.464,-1.103 -2.464,-2.463l0,-4.907c0,-1.36 1.104,-2.463 2.464,-2.463l4.907,0c1.36,0 2.463,1.103 2.463,2.463l0,4.907c0,1.36 -1.103,2.463 -2.463,2.463" style="fill:#e6e6e6;fill-rule:nonzero;"></path><path d="M46.64,86.942l-4.906,0c-1.361,0 -2.464,-1.103 -2.464,-2.463l0,-4.907c0,-1.36 1.103,-2.463 2.464,-2.463l4.906,0c1.36,0 2.464,1.103 2.464,2.463l0,4.907c0,1.36 -1.104,2.463 -2.464,2.463" style="fill:#e6e6e6;fill-rule:nonzero;"></path></svg></figure>
                        <header>
                            <h3 class="su-landing__features-feature-title">Iaculis ornare mauris</h3>
                        </header>
                    </article>
                    <article class="su-landing__features-feature su-landing__features-feature--3">
                        <figure class="su-landing__features-feature-icon"><svg width="100%" height="100%" viewBox="0 0 305 305" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><path d="M304.716,152.358c0,84.146 -68.214,152.358 -152.358,152.358c-84.146,0 -152.358,-68.212 -152.358,-152.358c0,-84.146 68.212,-152.358 152.358,-152.358c84.144,0 152.358,68.212 152.358,152.358" style="fill:#fff;fill-rule:nonzero;"></path><path d="M113.696,55.331c-7.108,0 -12.87,5.762 -12.87,12.872l0,167.758l104,0l0,-159.298l0,-8.46c0,-7.11 5.764,-12.872 12.872,-12.872l-104.002,0Z" style="fill:#f2f2f2;fill-rule:nonzero;"></path><path d="M191.989,248.713c7.138,0 12.844,-5.792 12.844,-12.9l-25.692,0c0,7.796 6.31,12.9 12.848,12.9" style="fill:#f2f2f2;fill-rule:nonzero;"></path><use xlink:href="#_Image1" x="204.827" y="55.222" width="25.868px" height="31.231px" transform="matrix(0.994923,0,0,0.975981,0,0)"></use><use xlink:href="#_Image2" x="75.084" y="206.022" width="116.977px" height="42.7px" transform="matrix(0.999803,0,0,0.993023,0,0)"></use><path d="M153.344,227.382l0,-8.46c0,-7.108 5.762,-12.87 12.87,-12.87l-104,0c-7.11,0 -12.872,5.762 -12.872,12.87l0,8.46l7.426,8.488l7.424,-8.488l7.426,8.488l7.426,-8.488l7.426,8.488l7.422,-8.488l7.426,8.488l7.424,-8.488l7.426,8.488l7.428,-8.488l7.422,8.488l7.43,-8.488l7.434,8.488l7.462,-8.488Z" style="fill:#f2f2f2;fill-rule:nonzero;"></path><path d="M122.209,170.078l62.848,0" style="fill:none;stroke:#52baaf;stroke-width:4px;"></path><path d="M161.825,183.679l21.584,0" style="fill:none;stroke:#52baaf;stroke-width:6px;"></path><path d="M161.825,156.103l21.584,0" style="fill:none;stroke:#52baaf;stroke-width:6px;"></path><path d="M161.825,142.315l21.584,0" style="fill:none;stroke:#52baaf;stroke-width:6px;"></path><path d="M161.825,128.527l21.584,0" style="fill:none;stroke:#52baaf;stroke-width:6px;"></path><defs><image id="_Image1" width="26px" height="32px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAgCAYAAAAMq2gFAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAByElEQVRIieWW246CMBCG/2k5BZXjhe//fsZEoASBdvZCIHJSyaoXu/9lZzrfnJqU8jzHA3HbtmjbFlprGGMGg2VZkFLCdV14ngcpJT0KRFmWLRrquuaqqiCEeHR/kO/7CIIARLQInIGMMayUAjO/DOklhEAcx3AcZwYbRTLGcFmWIKLNkO4+TqcTsixjZuY1EJdluTn4VEQEpRSKohidD6Dr9fpryL3yPEfTNENVAri1rGmat4KICJfLBX0LBfD+ano1TQOlFABAGGNYa/0REAAURQFm5u2rtVHMjLquIe5f+6dUVRXEJ9vWS2v9HZAx5jut01rj48sA3N7UV0AA/hjIGPPHKvoa6J9s3con5qmICJNvwqDZ1tm2jePxCNd1N4PSNEUYhqv2ASSEQJIkICKKoghSypcAzIwkSWDbNu12O/i+P/MZLUOaphBCUAelNE1famMURXBdt3ekMAzhOM68oj4jy7JGUaWUT2FdBVMH6iocgyYZjWTbNkVRtAjxPA9BECzaiIjiOB4+ocwMsZDRNCAdDofRmWVZ6BJYvSulpG7mN9AjSK/9fj8MWUqJrqVPB3jfEVrb/QXx+XxGEASzeT6TUop/AN2WtzYh3AR0AAAAAElFTkSuQmCC"></image><image id="_Image2" width="117px" height="43px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHUAAAArCAYAAABGgMc7AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAB8ElEQVR4nO3cUY+iMBiF4dNSFKJX6v//eV5hoglCTKHfXoxMstnRobUjne55bk3B+KZQEVTH41Hww8ZxRN/3P72b5IkItNYwxmC9XqOqKhhjVOz9mNgbpMeUUhARWGthrUXbttBaS1VV2G630FpHCaxjbITCOefQdR2apkHf91GOmoyaCOccLpcL2rZ9OSyjJqZt25dnLKMm6Hw+YxiG4LCMmiClFK7Xa/B4Rk1U3/dwzgXNVkZNWNd1QeMYNWHDMASNY9SEOeeCxjFqwjhTMzSOIwB4L5YYNWFKqaBDMKNmiFEzxKgZYtQMMWqGGDVDjJohRs0Qo2ZIF0Wx9HugyPRutwPD5kUbYxTD5kUDwBRWa55ic/BZ0Rij9vs9w2bgr4JTWKWiP95Bb/TPtDTGqMPhwLC/mBL5+of1YRikaRo8et1X6P02/7vNZoOiKLxm2MOoQPyw5C/kccenqyIeipd3v0/Jy7dL3SksV8W/x6xS/B67nPttol7nv9mVyrJk2AWICG63m9cYr0IMuwxrLeAxW73rMOwyfB6WCirDsO93/2+IWbM1uArDvt84jlPYp3GfXnyYw1orp9OJFyjeSERQ1/XDixIvRwUYdgnTZ22MQV3XAPAZOEpU4CNs0zRRtkXzOecgIlitVijLEkVR4A+lSMzzJQXCIwAAAABJRU5ErkJggg=="></image></defs></svg></figure>
                        <header>
                            <h3 class="su-landing__features-feature-title">Pellentesque interdum</h3>
                        </header>
                    </article>
                    <article class="su-landing__features-feature su-landing__features-feature--4">
                        <figure class="su-landing__features-feature-icon"><svg width="100%" height="100%" viewBox="0 0 115 115" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M114.268,57.134c0,31.555 -25.58,57.135 -57.134,57.135c-31.555,0 -57.134,-25.58 -57.134,-57.135c0,-31.554 25.579,-57.134 57.134,-57.134c31.554,0 57.134,25.58 57.134,57.134" style="fill:#fff;fill-rule:nonzero;"></path><path d="M97.76,86.343l-36.234,0c-1.714,0 -3.103,-1.389 -3.103,-3.103l0,-6.18c0,-1.715 1.389,-3.103 3.103,-3.103l36.234,0c1.713,0 3.103,1.388 3.103,3.103l0,6.18c0,1.714 -1.39,3.103 -3.103,3.103" style="fill:#6ccbc3;fill-rule:nonzero;"></path><path d="M97.76,57.348l-36.234,0c-1.714,0 -3.103,1.389 -3.103,3.103l0,6.181c0,1.713 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.39 3.103,-3.103l0,-6.181c0,-1.714 -1.39,-3.103 -3.103,-3.103m0,0.788c1.276,0 2.314,1.039 2.314,2.315l0,6.181c0,1.276 -1.038,2.314 -2.314,2.314l-36.234,0c-1.276,0 -2.315,-1.038 -2.315,-2.314l0,-6.181c0,-1.276 1.039,-2.315 2.315,-2.315l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M97.76,42.637l-36.234,0c-1.714,0 -3.103,1.389 -3.103,3.103l0,6.18c0,1.714 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.389 3.103,-3.103l0,-6.18c0,-1.714 -1.39,-3.103 -3.103,-3.103m0,0.788c1.276,0 2.314,1.039 2.314,2.315l0,6.18c0,1.276 -1.038,2.315 -2.314,2.315l-36.234,0c-1.276,0 -2.315,-1.039 -2.315,-2.315l0,-6.18c0,-1.276 1.039,-2.315 2.315,-2.315l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M97.76,27.925l-36.234,0c-1.714,0 -3.103,1.39 -3.103,3.103l0,6.181c0,1.713 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.39 3.103,-3.103l0,-6.181c0,-1.713 -1.39,-3.103 -3.103,-3.103m0,0.789c1.276,0 2.314,1.038 2.314,2.314l0,6.181c0,1.277 -1.038,2.314 -2.314,2.314l-36.234,0c-1.276,0 -2.315,-1.037 -2.315,-2.314l0,-6.181c0,-1.276 1.039,-2.314 2.315,-2.314l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M52.743,57.348l-36.234,0c-1.714,0 -3.103,1.389 -3.103,3.103l0,6.181c0,1.713 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.39 3.103,-3.103l0,-6.181c0,-1.714 -1.39,-3.103 -3.103,-3.103m0,0.788c1.276,0 2.314,1.039 2.314,2.315l0,6.181c0,1.276 -1.038,2.314 -2.314,2.314l-36.234,0c-1.276,0 -2.315,-1.038 -2.315,-2.314l0,-6.181c0,-1.276 1.039,-2.315 2.315,-2.315l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M52.743,42.637l-36.234,0c-1.714,0 -3.103,1.389 -3.103,3.103l0,6.18c0,1.714 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.389 3.103,-3.103l0,-6.18c0,-1.714 -1.39,-3.103 -3.103,-3.103m0,0.788c1.276,0 2.314,1.039 2.314,2.315l0,6.18c0,1.276 -1.038,2.315 -2.314,2.315l-36.234,0c-1.276,0 -2.315,-1.039 -2.315,-2.315l0,-6.18c0,-1.276 1.039,-2.315 2.315,-2.315l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M52.743,27.925l-36.234,0c-1.714,0 -3.103,1.39 -3.103,3.103l0,6.181c0,1.713 1.389,3.103 3.103,3.103l36.234,0c1.713,0 3.103,-1.39 3.103,-3.103l0,-6.181c0,-1.713 -1.39,-3.103 -3.103,-3.103m0,0.789c1.276,0 2.314,1.038 2.314,2.314l0,6.181c0,1.277 -1.038,2.314 -2.314,2.314l-36.234,0c-1.276,0 -2.315,-1.037 -2.315,-2.314l0,-6.181c0,-1.276 1.039,-2.314 2.315,-2.314l36.234,0" style="fill:#ccc;fill-rule:nonzero;"></path><path d="M99.699,101.987l-8.144,-8.144l-3.012,6.025l-8.9,-19.718l19.717,8.9l-6.024,3.013l8.128,8.159l-1.765,1.765Z" style="fill:#52baaf;fill-rule:nonzero;"></path></svg></figure>
                        <header>
                            <h3 class="su-landing__features-feature-title">Fringilla purus</h3>
                        </header>
                    </article>
                </div>
            </section>
            <section class="su-landing__demo">
                <div class="su-landing__demo-content">
                    <p class="su-landing__demo-desc">Donec hendrerit blandit tortor,<br/>eu dignissim tellus posuere vel.</p>
                    <a href="#" target="_blank" class="btn btn-large btn-primary">Test ride</a>
                </div>
            </section>
            <section class="su-landing__testimonials">
                <div class="su-landing__content--flex">
                    <div class="su-landing-flex-row">
                        <div class="su-landing__testimonials-label col-md-4">
                            <span class="su-landing__testimonials-label-span">Nunc pulvinar ornare metus:</span>
                            <svg width="220" height="200" viewBox="0 0 382 322" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M237.1,183.014l-219.876,0c-9.512,0 -17.224,-7.71 -17.224,-17.222l0,-148.57c0,-9.51 7.712,-17.222 17.224,-17.222l219.876,0c9.512,0 17.222,7.712 17.222,17.222l0,148.57c0,9.512 -7.71,17.222 -17.222,17.222" style="fill:#ed565c;fill-rule:nonzero;"></path><path d="M44.428,181.082l60.708,0.208c0,0 -4.032,56.666 -60.708,56.666l0,-56.874Z" style="fill:#ed565c;fill-rule:nonzero;"></path><path d="M144.384,266.086l219.876,0c9.512,0 17.224,-7.71 17.224,-17.222l0,-148.57c0,-9.51 -7.712,-17.222 -17.224,-17.222l-219.876,0c-9.512,0 -17.222,7.712 -17.222,17.222l0,148.57c0,9.512 7.71,17.222 17.222,17.222" style="fill:#ff897c;fill-rule:nonzero;"></path><path d="M337.056,264.155l-60.708,0.208c0,0 4.032,56.666 60.708,56.666l0,-56.874Z" style="fill:#ff897c;fill-rule:nonzero;"></path>
                            </svg>
                        </div>
                        <div class=" col-md-8">
                            <div class="su-landing__testimonials-slider-container">
                                <div class="su-landing__testimonials-slide">
                                    <blockquote class="su-landing__testimonials-blockquote">
                                        <div class="su-landing__testimonials-blockquote-content">
                                            <p>“Vivamus ac velit dictum, cursus sapien sit amet, scelerisque ante. Donec quis ante in lectus egestas auctor et condimentum massa.”</p>
                                        </div>
                                        <footer class="su-landing__testimonials-footer">
                                            <p><strong>Etiam venenatis,</strong><br>Velit vitae augue </p>
                                            <figure class="su-landing__testimonials-footer-logo">
                                                <img class="su-landing__testimonials-footer-logo-img" src="/images/landing_sample_company.png" alt="img">
                                            </figure>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="su-landing__testimonials-slide">
                                    <blockquote class="su-landing__testimonials-blockquote">
                                        <div class="su-landing__testimonials-blockquote-content">
                                            <p>“Vivamus ac velit dictum, cursus sapien sit amet, scelerisque ante. Donec quis ante in lectus egestas auctor et condimentum massa.”</p>
                                        </div>
                                        <footer class="su-landing__testimonials-footer">
                                            <p><strong>Etiam venenatis,</strong><br>Velit vitae augue </p>
                                            <figure class="su-landing__testimonials-footer-logo">
                                                <img class="su-landing__testimonials-footer-logo-img" src="/images/landing_sample_company.png" alt="img">
                                            </figure>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="su-landing__testimonials-slide">
                                    <blockquote class="su-landing__testimonials-blockquote">
                                        <div class="su-landing__testimonials-blockquote-content">
                                            <p>“Vivamus ac velit dictum, cursus sapien sit amet, scelerisque ante. Donec quis ante in lectus egestas auctor et condimentum massa.”</p>
                                        </div>
                                        <footer class="su-landing__testimonials-footer">
                                            <p><strong>Etiam venenatis,</strong><br>Velit vitae augue </p>
                                            <figure class="su-landing__testimonials-footer-logo">
                                                <img class="su-landing__testimonials-footer-logo-img" src="/images/landing_sample_company.png" alt="img">
                                            </figure>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="su-landing__testimonials-slide">
                                    <blockquote class="su-landing__testimonials-blockquote">
                                        <div class="su-landing__testimonials-blockquote-content">
                                            <p>“Vivamus ac velit dictum, cursus sapien sit amet, scelerisque ante. Donec quis ante in lectus egestas auctor et condimentum massa.”</p>
                                        </div>
                                        <footer class="su-landing__testimonials-footer">
                                            <p><strong>Etiam venenatis,</strong><br>Velit vitae augue </p>
                                            <figure class="su-landing__testimonials-footer-logo">
                                                <img class="su-landing__testimonials-footer-logo-img" src="/images/landing_sample_company.png" alt="img">
                                            </figure>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="su-landing__testimonials-slide">
                                    <blockquote class="su-landing__testimonials-blockquote">
                                        <div class="su-landing__testimonials-blockquote-content">
                                            <p>“Vivamus ac velit dictum, cursus sapien sit amet, scelerisque ante. Donec quis ante in lectus egestas auctor et condimentum massa.”</p>
                                        </div>
                                        <footer class="su-landing__testimonials-footer">
                                            <p><strong>Etiam venenatis,</strong><br>Velit vitae augue </p>
                                            <figure class="su-landing__testimonials-footer-logo">
                                                <img class="su-landing__testimonials-footer-logo-img" src="/images/landing_sample_company.png" alt="img">
                                            </figure>
                                        </footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="pricing" class="su-landing__pricing">
                <div class="pricing-page">
                    <div class="container">
                        <h1>Pricing & Plan</h1>
                        <div class="pricing-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#saas">SaaS</a></li>
                                <li><a href="#ecommerce">E-Commerce</a></li>
                            </ul>
                        </div>

                        <div id="saas_pricing" class="pricing active">

                            <h2>Pricing for SaaS</h2>

                            {% include 'home/header-info.html.twig' %}
                            <div class="pricing--plan--wrapper">
                                {% for key, plan in saasPlans %}
                                    <div class="pricing--plan{#{% if key == 1 %}__popular{% endif %}#}">
                                        <div class="pricing--plan--sub">
                                            <form action="{{ path('subscription_subscribe', {plan: plan.id}) }}" method="post">
                                                <div class="pricing--plan--name">
                                                    <h3>{{ plan.name }}</h3>
                                                </div>
                                                <div class="pricing--plan--price">
                                                    <strong>{% if plan.currency == 'EUR' %}<sup class="pricing--plan--price--currency-symbol">€</sup>{% else %}{{ plan.currency }}{% endif %} {{ plan.monthlyPrice }} <small>per month</small></strong>
                                                    <small class="pricing--plan--price--fee">+ 10% fee on partner payouts</small>
                                                    {% if not(key == 0) %}<small class="pricing--plan--price--save">You save {% if key == 1 %}10€{% elseif key == 2 %}20€{% endif %} monthly</small>{% endif %}
                                                    {% if key == 0 %}<small class="pricing--plan--price--save"></small>{% endif %}
                                                </div>
                                                {% if app.user and app.user.subscribesPlan(plan) %}
                                                    <subscription-cancel :plan="{{ plan.id }}"></subscription-cancel>
                                                {% else %}
                                                    <subscription-subscribe-button
                                                            has-other-plans="{{ app.user ? app.user.isSubscribed : false }}"
                                                            :plan="{{ plan.id }}"
                                                            button-text="{{ app.user and app.user.currentPlan and app.user.currentPlan.isEnded ? 'Purchase' : 'Try for free' }}"
                                                            auth="{{ app.user is not null }}"
                                                            title-text="Your Plan: <br> {{ plan.name }} for {{ plan.price }}€"
                                                    ></subscription-subscribe-button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pricing--plan--description">
                                <div class="row">
                                    <div class="pricing--plan--description__first">
                                        <ul>
                                            <li>Customized Landing Page</li>
                                            <li>Customized Rewards</li>
                                            <li>Unlimited Number of Recommendations</li>
                                        </ul>
                                    </div>
                                    <div class="pricing--plan--description__second">
                                        <ul>
                                            <li>Personalised Links</li>
                                            <li>Personalized Store (Instagram)</li>
                                            <li>Card Generation (Blogs)</li>
                                        </ul>
                                    </div>
                                </div>

                                <a href="#showDetails" class="btn btn-info showdetails-button">Show details</a>

                                <div class="row column hidden">
                                    <div class="pricing--plan--description__second">
                                        <ul>
                                            <li>Personalised Links</li>
                                            <li>Personalized Store (Instagram)</li>
                                            <li>Card Generation (Blogs)</li>
                                            <li>Customized Landing Page</li>
                                            <li>Customized Rewards</li>
                                            <li>Unlimited Number of Recommendations</li>
                                            <li>Personalised Links</li>
                                            <li>Personalized Store (Instagram)</li>
                                            <li>Card Generation (Blogs)</li>
                                            <li>Customized Landing Page</li>
                                            <li>Customized Rewards</li>
                                            <li>Unlimited Number of Recommendations</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ecommerce_pricing" class="pricing">

                            <h2>Pricing for E-Commerce</h2>

                            {% include 'home/header-info.html.twig' %}
                            <div class="pricing--plan--wrapper">
                                {% for key, plan in ecommercePlans %}
                                    <div class="pricing--plan{#{% if key == 1 %}__popular{% endif %}#}">
                                        <div class="pricing--plan--sub">
                                            <form action="{{ path('subscription_subscribe', {plan: plan.id}) }}" method="post">
                                                <div class="pricing--plan--name">
                                                    <h3>{{ plan.name }}</h3>
                                                </div>
                                                <div class="pricing--plan--price">
                                                    <strong>{% if plan.currency == 'EUR' %}<sup class="pricing--plan--price--currency-symbol">€</sup>{% else %}{{ plan.currency }}{% endif %} {{ plan.monthlyPrice }}<small>per month</small></strong>
                                                    <small class="pricing--plan--price--fee">+ monthly commision</small>
                                                    {% if not(key == 0) %}<small class="pricing--plan--price--save">You save {% if key == 1 %}5€{% elseif key == 2 %}10€{% endif %} monthly</small>{% endif %}
                                                    {% if key == 0 %}<small class="pricing--plan--price--save"></small>{% endif %}
                                                </div>
                                                {% if app.user and app.user.subscribesPlan(plan) %}
                                                    <subscription-cancel :plan="{{ plan.id }}"></subscription-cancel>
                                                {% else %}
                                                    <subscription-subscribe-button
                                                            has-other-plans="{{ app.user ? app.user.isSubscribed : false }}"
                                                            :plan="{{ plan.id }}"
                                                            button-text="{{ app.user and app.user.currentPlan and app.user.currentPlan.isEnded ? 'Purchase' : 'Try for free' }}"
                                                            auth="{{ app.user is not null }}"
                                                            title-text="Your Plan: <br> {{ plan.name }} for {{ plan.price }}€"
                                                    ></subscription-subscribe-button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="pricing--plan--description">
                                <div class="pricing--plan--description__second row column">
                                    <h3>Commission details based on referral sales</h3>
                                    <ul>
                                        <li>First 1K = 4%</li>
                                        <li>1-10K = 3%</li>
                                        <li>10k-50K = 2%</li>
                                        <li>Above 50K = 1%</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="su-landing__blog">
                <div class="su-landing__content-wide">
                    <header>
                        <a class="su-landing__blog-link" href="#" target="_blank" hreflang="en">Fusce tristique ›</a>
                        <h3 class="su-landing__blog-title">Lorem ipsum dolor sit amet:</h3>
                    </header>

                    <div class="su-landing-flex-row su-landing-blog__boxes">
                        <article class="su-landing__blog-article col-md-4">
                            <a href="#" title="The Importance of Time Management at Work" target="_blank" class="su-landing__box su-landing__box--blue">
                                <div class="su-landing__box-content su-landing__box-content--spacebetween">
                                    <header>
                                        <small class="su-landing__blog-article-date">21-02-2018</small>
                                        <h3 class="su-landing__blog-article-title">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <footer class="su-landing__blog-article-footer">
                                        <strong>Vestibulum ante</strong>
                                        <br>
                                    </footer>
                                </div>
                            </a>
                        </article>
                        <article class="su-landing__blog-article col-md-4">
                            <a href="#" title="The Importance of Time Management at Work" target="_blank" class="su-landing__box su-landing__box--blue">
                                <div class="su-landing__box-content su-landing__box-content--spacebetween">
                                    <header>
                                        <small class="su-landing__blog-article-date">21-02-2018</small>
                                        <h3 class="su-landing__blog-article-title">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <footer class="su-landing__blog-article-footer">
                                        <strong>Vestibulum ante</strong>
                                        <br>
                                    </footer>
                                </div>
                            </a>
                        </article>
                        <article class="su-landing__blog-article col-md-4">
                            <a href="#" title="The Importance of Time Management at Work" target="_blank" class="su-landing__box su-landing__box--blue">
                                <div class="su-landing__box-content su-landing__box-content--spacebetween">
                                    <header>
                                        <small class="su-landing__blog-article-date">21-02-2018</small>
                                        <h3 class="su-landing__blog-article-title">Lorem ipsum dolor sit amet</h3>
                                    </header>
                                    <footer class="su-landing__blog-article-footer">
                                        <strong>Vestibulum ante</strong>
                                        <br>
                                    </footer>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        {% include 'layouts/partials/global/footer.html.twig' %}
    </div>
{% endblock %}

{% block scripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>

    <script>
        $(function(){
            $('.su-landing__testimonials-slider-container').slick({
                dots: true,
                arrows:false
            });

            $('.su-landing__header-nav-trigger').on('click', function(){
                $('.su-landing__nav-container').toggleClass('open');

                return false;
            });

            $('.navbar-nav a').on('click', function(){
                if($(this).attr('href') === '#pricing'){
                    $('html, body').animate({ scrollTop: $($(this).attr('href')).position().top-50 }, 500, 'easeInQuint');
                    return false;
                }
            });

            $('#app .navbar a').on('click', function(){
                if($(window).width() <= 767 && $(this).siblings('ul').length){
                    $(this).siblings('ul').slideToggle();

                    return false;
                }
            });

            $('.su-landing__pricing .pricing-tabs a').on('click', function(){

                if($(this).attr('href') === '#saas'){
                    $('#ecommerce_pricing').removeClass('active');
                    $('#saas_pricing').addClass('active');
                } else if ($(this).attr('href') === '#ecommerce'){
                    $('#saas_pricing').removeClass('active');
                    $('#ecommerce_pricing').addClass('active');
                }

                $(this).parent().siblings('li').removeClass('active');
                $(this).parent().addClass('active');

                return false;

            });

            // toastr.options = {
            //     "positionClass": "toast-bottom-left"
            // };
            {#toastr.options.timeOut = 5000;#}
            {#toastr.options.extendedTimeOut = 5000;#}
            {#let toastArray = []#}
            {#var req = new XMLHttpRequest();#}
            {#req.open('GET', '{{ app_url }}/ajax/push-notifications', true);#}
            {#req.onreadystatechange = function (aEvt) {#}
            {#    if (req.readyState == 4) {#}
            {#        if(req.status == 200) {#}
            {#            JSON.parse(req.responseText).forEach((el) => {#}
            {#                if (el.type === "mainpage") {#}
            {#                    toastArray.push(el)#}
            {#                }#}
            {#            })#}
            {#            setTimeout( function() {#}
            {#                for (let i=0; i<toastArray.length; i++) {#}
            {#                    setTimeout( function timer(){#}
            {#                        console.log('toast')#}
            {#                        toastr.success(`<img src="${toastArray[i].icon}">${toastArray[i].text}<span>Confirmed by <strong>ValueLink</strong></span>`)#}
            {#                    }, i*15000 );#}
            {#                }#}
            {#            }, 10000)#}
            {#        }#}
            {#    }#}
            {#};
            req.send(null);#}



});
</script>
{% endblock %}

{% block body %}
<style>
#toast-container > .toast {
background-image: none !important;
}
.toast-success{
background-color: white;
}
.toast-message{
color: black!important;
margin-left: 15px;
text-align: left;
line-height: 1.2;
padding-bottom: 5px
}
.toast-message img{
position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
}
.toast-message span{
position: absolute; right: 10px; bottom: 5px; font-size: 8px; width: 150px; text-align: right;
}
</style>
<body class="front">
{% endblock %}
