{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="pricing-page">
        <div class="container">
            <h1>Pricing & Plan</h1>
            <div class="pricing-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/pricing/saas">SaaS</a></li>
                    {% if app.user == null or app.user.shop == null or (app.user.shop and app.user.shop.type != 'saas') %}<li><a href="/pricing/ecommerce">E-Commerce</a></li>{% endif %}
                </ul>
            </div>

            <div id="saas_pricing" class="pricing active">

                <h2>Pricing for SaaS</h2>

                {% include 'home/header-info.html.twig' %}

                {% for key, plan in plans %}
                    <div class="pricing--plan{#{% if key == 1 %}__popular{% endif %}#}">
                        <div class="pricing--plan--sub">
                            <form action="{{ path('subscription_subscribe', {plan: plan.id}) }}" method="post">
                                <div class="pricing--plan--name">
                                    <h3>{{ plan.name }}</h3>
                                </div>
                                <div class="pricing--plan--price">
                                    <strong>{% if plan.currency == 'EUR' %}<sup class="pricing--plan--price--currency-symbol">€</sup>{% else %}{{ plan.currency }}{% endif %} {{ plan.monthlyPrice }} <small>per month</small></strong>
                                    <small class="pricing--plan--price--fee">+ 10% fee on partner payouts</small>
                                    {% if not(key == 0) %}<small class="pricing--plan--price--save">You save {% if key == 1 %}10€{% elseif key == 2 %}20€{% endif %} monthly</small>{% endif %}
                                    {% if key == 0 %}<small class="pricing--plan--price--save"></small>{% endif %}
                                </div>
                                {% if app.user and app.user.subscribesPlan(plan) %}
                                    <subscription-cancel :plan="{{ plan.id }}"></subscription-cancel>
                                {% else %}
                                    <subscription-subscribe-button
                                            has-other-plans="{{ app.user ? app.user.isSubscribed : false }}"
                                            :plan="{{ plan.id }}"
                                            button-text="{{ app.user and app.user.currentPlan and app.user.currentPlan.isEnded ? 'Purchase' : 'Try for free' }}"
                                            auth="{{ app.user is not null }}"
                                            title-text="Your Plan: <br> {{ plan.name }} for {{ plan.price }}€"
                                    ></subscription-subscribe-button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}
                <div class="pricing--plan--description">
                    <div class="row">
                        <div class="pricing--plan--description__first">
                            <ul>
                                <li>Customized Landing Page</li>
                                <li>Customized Rewards</li>
                                <li>Unlimited Number of Recommendations</li>
                            </ul>
                        </div>
                        <div class="pricing--plan--description__second">
                            <ul>
                                <li>Personalised Links</li>
                                <li>Personalized Store (Instagram)</li>
                                <li>Card Generation (Blogs)</li>
                            </ul>
                        </div>
                    </div>

                    <a href="#showDetails" class="btn btn-info showdetails-button">Show details</a>

                    <div class="row column hidden">
                        <div class="pricing--plan--description__second">
                            <ul>
                                <li>Personalised Links</li>
                                <li>Personalized Store (Instagram)</li>
                                <li>Card Generation (Blogs)</li>
                                <li>Customized Landing Page</li>
                                <li>Customized Rewards</li>
                                <li>Unlimited Number of Recommendations</li>
                                <li>Personalised Links</li>
                                <li>Personalized Store (Instagram)</li>
                                <li>Card Generation (Blogs)</li>
                                <li>Customized Landing Page</li>
                                <li>Customized Rewards</li>
                                <li>Unlimited Number of Recommendations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
