{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="pricing-page">
        <div class="container">
            <h1>Pricing & Plan</h1>
            <div class="pricing-tabs">
                <ul class="nav nav-tabs">
                    {% if app.user == null or app.user.shop == null or (app.user.shop and app.user.shop.type != 'ecommerce') %}<li><a href="/pricing/saas">SaaS</a></li>{% endif %}
                    <li class="active"><a href="/pricing/ecommerce">E-Commerce</a></li>
                </ul>
            </div>

            <div id="ecommerce_pricing" class="pricing active">

                <h2>Pricing for E-Commerce</h2>

                {% include 'home/header-info.html.twig' %}

                {% for key, plan in plans %}
                    <div class="pricing--plan{#{% if key == 1 %}__popular{% endif %}#}">
                        <div class="pricing--plan--sub">
                            <form action="{{ path('subscription_subscribe', {plan: plan.id}) }}" method="post">
                                <div class="pricing--plan--name">
                                    <h3>{{ plan.name }}</h3>
                                </div>
                                <div class="pricing--plan--price">
                                    <strong>{% if plan.currency == 'EUR' %}<sup class="pricing--plan--price--currency-symbol">€</sup>{% else %}{{ plan.currency }}{% endif %} {{ plan.monthlyPrice }}<small>per month</small></strong>
                                    <small class="pricing--plan--price--fee">+ monthly commision</small>
                                    {% if not(key == 0) %}<small class="pricing--plan--price--save">You save {% if key == 1 %}5€{% elseif key == 2 %}10€{% endif %} monthly</small>{% endif %}
                                    {% if key == 0 %}<small class="pricing--plan--price--save"></small>{% endif %}
                                </div>
                                {% if app.user and app.user.subscribesPlan(plan) %}
                                    <subscription-cancel :plan="{{ plan.id }}"></subscription-cancel>
                                {% else %}
                                    <subscription-subscribe-button
                                            has-other-plans="{{ app.user ? app.user.isSubscribed : false }}"
                                            :plan="{{ plan.id }}"
                                            button-text="{{ app.user and app.user.currentPlan and app.user.currentPlan.isEnded ? 'Purchase' : 'Try for free' }}"
                                            auth="{{ app.user is not null }}"
                                            title-text="Your Plan: <br> {{ plan.name }} for {{ plan.price }}€"
                                    ></subscription-subscribe-button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}

                <div class="pricing--plan--description">
                    <div class="pricing--plan--description__second row column">
                        <h3>Commission details based on referral sales</h3>
                        <ul>
                            <li>First 1K = 4%</li>
                            <li>1-10K = 3%</li>
                            <li>10k-50K = 2%</li>
                            <li>Above 50K = 1%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
