<template>
  <button v-if="boxClick" class="form-actions" :class="additionalClass" @click="boxClick">
    <p v-for="(button, key) in buttons" :key="key">
      {{button.name}}
    </p>
  </button>
  <div v-else class="form-actions" :class="additionalClass">
    <button
      v-for="(button, index) in buttons"
      :key="index"
      class="btn btn-primary"
      :class="button.class && ''"
      v-on:click="button.clickEvent(button.funcArgs)"
    >
      {{ button.name }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    buttons: {
      type: Array,
      required: true
    },
    additionalClass: {
      default: ''
    },
    boxClick: {
      type: [Boolean, Function],
      default: false
    }
  }
}
</script>
