<template>
  <span class="help-block" v-if="errors">
    <ul class="list-unstyled">
      <li v-for="(err, index) in errors" :key="index" >
        <span class="glyphicon glyphicon-exclamation-sign"></span>{{err.replace('Powinna', 'Musi')}}
      </li>
    </ul>
  </span>
</template>

<script>
export default {
  name: 'FormError',
  props: ['errors']
}
</script>
