<template>
  <div class="form-group">
    <span v-if="label.length > 0">{{ label }}</span>
    <input
      :type="inputType"
      :required="isRequired"
      :ref="ref"
      class="form-control"
      :placeholder="placeHolder"
      :value="value"
      :readonly="readonly"
      @input="$emit('input', $event.target.value)"
    />
    <template v-if="errors !== null">
      <form-error :errors="errors" />
    </template>
    <template v-if="button !== null">
      <button v-on:click="button.click" class="btn btn-outline-primary">{{ button.text }}</button>
    </template>
  </div>
</template>

<script>
import FormError from './Error'

export default {
  components: {
    FormError
  },
  props: {
    inputType: {
      type: String,
      required: true
    },
    isRequired: {
      type: Boolean,
      default: false
    },
    placeHolder: {
      type: String,
      default: ''
    },
    errors: {
      default: null
    },
    button: {
      default: null
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    },
    ref: {
      type: String,
      default: ''
    }
  }
}
</script>
