{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}cards-set{% endblock %}

{% block header_boxes %}
    {% include 'account/referrer/header-with-global-stats.html.twig' %}
{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="following">
            <a href="/account/referrer/cards-set" class="setcards_page--back-button btn btn-primary"><i class="fa fa-angle-left"></i> Back to the list</a>
            <set-cards/>
        </div>
    </div>
{% endblock %}