{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Set of Cards{% endblock %}
{% block tab_content %}
    <div class="tab-content">
        <div class="calendar-content" style="padding: 20px 0px;" id="stats">
            {% set now = currentPeriod.start.copy() %}
            {% set prev = currentPeriod.start.copy().subDay() %}
            {% set next = currentPeriod.end.copy().addDay() %}
            <a class="calendar-i-prev {% if prev < app.user.createdAt %}inactive-element{% endif %}"
               href="{{ path('account_referrer_cards_set_index', {year: prev.year, month: prev.month}) }}#stats">
                <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
            </a>
            <div class="calendar-month">
                <span class="current-month">{{ now.format('F') }}</span> <span
                        class="current-year">{{ now.year }}</span>
            </div>
            <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}"
               href="{{ path('account_referrer_cards_set_index', {year: next.year, month: next.month}) }}#stats">
                <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
        </div>
        <a class="btn btn-primary setcards_page--create-set-button card-edit-button" href="/account/referrer/cards-set/create">Create new set</a>
        <form class="form-inline pull-right setcards_page--search" method="GET">
            <div class="form-group mx-sm-3 mb-2">
                <label for="card_name" class="sr-only">Card Name</label>
                <input name="name" type="text" class="form-control" id="card_name" placeholder="Card Name" value="{{ app.request.get('name') }}" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        {% if cardSets|length > 0 %}
            <table class="table table-striped table-offer">
                <thead>
                <tr>
                    <th rowspan="2" scope="colgroup">Creation Date</th>
                    <th rowspan="2" scope="colgroup">SetOfCards Description</th>
                    <th rowspan="2" scope="colgroup">Number of Cards in Set</th>
                    <th colspan="2" scope="colgroup">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for cardSet in cardSets %}
                    <tr>
                        <td>{{ cardSet.createdAt|date('Y-m-d H:i') }}</td>
                        <td>{{ cardSet.name }}</td>
                        <td>{{ cardSet.cards|length }}</td>
                        <td><a class="card-edit-button" onload="cardEditBtn()" href="/account/referrer/cards-set/{{ cardSet.id }}"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">There are no Set of Cards to show.</div>
        {% endif %}
    </div>
{% endblock %}
