<template>
    <div id="menuSideBarWidget" class="col-md-3 col-xs-12 shopDetailsMenu">
        <div class="sidebar-content" v-if="sections && sections.length">
            <div class="sidebar-content" v-for="(section, index) in sections" :key="index">
                <p>{{ section.title }}</p>
                <ul class="shop-details__menu is-creating" v-if="section.items">
                    <li
                        v-for="item in section.items" :key="item.step"
                        :data-step="item.step"
                        class="shop-details__menu__item"
                        :class="{
                            'is-filled': isFilled(item),
                            active: isActive(item)
                        }"
                    >
                        <a :href="item.href">
                            <span class="badge">{{ item.step }}</span>
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pathinfo: {
                type: String,
                default: ''
            },
            completionResults: {
                type: Object,
                default: {}
            }
        },
        data() {
            return {
                sections: [
                    {
                        title: 'Widget Settings',
                        items: [
                            {
                                step: 1,
                                title: 'Configure Layout',
                                href: '/account/shop/widget/header',
                                resultName: 'LayoutData'
                            }
                        ]
                    },
                    {
                      title: 'Widget Icon',
                      items: [
                        {
                          step: 2,
                          title: 'Widget Icon',
                          href: '/account/shop/widget/icon',
                          resultName: 'IconData'
                        }
                      ]
                    },
                    {
                        title: 'Widget Coupons',
                        items: [
                            {
                                step: 3,
                                title: 'Widget Coupons',
                                href: '/account/shop/widget/coupons',
                                resultName: 'CouponsData'
                            }
                        ]
                    },
                    {
                        title: 'Widget Rewards',
                        items: [
                            {
                                step: 4,
                                title: 'Widget Rewards',
                                href: '/account/shop/widget/rewards',
                                resultName: 'RewardsData'
                            }
                        ]
                    },
                    {
                        title: 'Widget Email',
                        items: [
                            {
                                step: 5,
                                title: 'Widget Email',
                                href: '/account/shop/widget/email',
                                resultName: 'EmailData'
                            }
                        ]
                    },
                    {
                        title: 'Refferal Page',
                        items: [
                            {
                                step: 6,
                                title: 'View Page',
                                href: '/account/shop/widget/refferal',
                                resultName: 'ActivateRefferalData'
                            }
                        ]
                    },
                    {
                        title: 'Finish',
                        items: [
                            {
                                step: 7,
                                title: 'Congratulations',
                                href: '/account/shop/widget/finish',
                                resultName: 'FinishData'
                            }
                        ]
                    },
                ],
            };
        },
        methods: {
            isActive(item) {
             return (item.href && this.pathinfo === item.href)
            },
            isFilled(item) {
              return (!this.isActive(item) && (parseInt(this.completionResults[item.resultName]) >= 100))
            }
        },
    }
</script>
