{% if settings.backUrlInfo is defined and settings.backUrl is defined %}
    <div class="content-top" style="background: #1976d1b3;padding: 1px 10px;margin-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bread marketplace-bread">
                        <ol class="breadcrumb">
                            <li class="back-icon">
                                <a href="{{ settings.backUrl }}">{{ settings.backUrlInfo }}</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
    </div>
{% endif %}