<template>
  <button class="widget__form--back" v-on:click="click">&lt; {{ text }}</button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    },
    click: {
      type: Function,
      required: true
    }
  }
}
</script>
