<template>
  <button
    :class="classes + (isActive ? ' active' : '')"
    v-on:click="click"
    :style="{cursor: data.cash_reward_enabled === true && data.coupon_reward_enabled === true ? 'pointer' : 'default'}"
  >
    <span>
      <span v-if="top">{{ top }}</span>
      <template v-if="!dataBottom">
        {{ data.reward_type !== 'percent' ? '€' : ''}}
        {{ rewardValue }}
        {{ data.reward_type === 'percent' ? '%' : ''}}
        {{ additional }}
      </template>
    </span>
    <span>
      <template v-if="dataBottom">
        {{ data.reward_type !== 'percent' ? '€' : ''}}
        {{ rewardValue }}
        {{ data.reward_type === 'percent' ? '%' : ''}}
        {{ additional }}
      </template>
      {{ bottom }}
    </span>
  </button>
</template>

<script>
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    dataBottom: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      required: true
    },
    classes: {
      type: String,
      default: ''
    },
    click: {
      type: Function,
      default: () => {}
    },
    top: {
      default: null
    },
    bottom: {
      default: null
    },
    additional: {
      default: null
    }
  },
  computed: {
    rewardValue () {
      return this.data.reward_value.replace('.00', '')
    }
  }
}
</script>
