<template>
  <div class="widget__share-buttons">
    <a
      v-for="(button, key) in buttons"
      :key=key
      :href="button.url"
      target="_blank"
    >
      <i :class='"fa " +  button.iconClass' aria-hidden='true'></i>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    buttons: {
      type: Array,
      required: true
    }
  }
}
</script>
