<template>
  <div class="form-group">
    <div class="form-switch-wrapper">
      <label class="switch">
        <input
          type="checkbox"
          :id="id"
          :name="name"
          class="cpl-switch"
          @change="change"
        />
        <div></div>
      </label>
      <label :for="name">{{ label }}</label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    change: {
      type: Function,
      required: true
    },
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
