{% extends 'layouts/sign.html.twig' %}

{% block sidebarContent %}
    <h4>Welcome back, your rewards are waiting for you!</h4>
    <p>Login to <span style="color:#1976D2"><strong>ValueLink</strong></span> and get exclusive
        rewards.</p>
    <p>Register at ValueLink and get <strong><span style="color:#1976D2">exclusive</span></strong>
        rewards</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus
        pharetra nulla ac diam. Quisque semper justo at risus.</p>
{% endblock %}

{% block content %}
    <div class="login-form">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        <form method="post" action="" role="login" novalidate>
            {{ form_errors(form) }}
            {{ form_row(form._token) }}
            <div>
                <div class="form-group">
                    <label>E-mail</label>
                    {{ form_widget(form.email) }}
                    <span class="fa fa-user"></span>
                    {{ form_errors(form.email) }}
                </div>
                <a href="{{ path('login') }}" style="display: block; font-size: 12px;
                margin-bottom: 15px;" class="text-right">Back to Login</a>
                <button type="submit" class="btn btn-third btn-block">Reset</button>
            </div>
        </form>
    </div><!-- end login-form -->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(".content.boxs > .row").addClass("remindContainer");
        });
    </script>
{% endblock %}

{% block body %}
<body class="no-bg">
{% endblock %}

{% block navbarRight %}
<p>test</p>
{% endblock %}

{% block notifications %}
{% endblock %}