{% extends 'layouts/sign.html.twig' %}

{% block sidebarContent %}
    <h4>Welcome back, your rewards are waiting for you!</h4>
    <p>Login to <span style="color:#1976D2"><strong>ValueLink</strong></span> and get exclusive
        rewards.</p>
    <p>Register at ValueLink and get <strong><span style="color:#1976D2">exclusive</span></strong>
        rewards</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus
        pharetra nulla ac diam. Quisque semper justo at risus.</p>
{% endblock %}

{% block content %}
    <div class="login-form">
        <form method="post" action="" role="login">
            {{ form_errors(form) }}
            {{ form_row(form._token) }}
            <div>
                <div class="form-group">
                    <label>Password</label>
                    {{ form_widget(form.plainPassword.first) }}
                    <span class="fa fa-lock"></span>
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    {{ form_widget(form.plainPassword.second) }}
                    <span class="fa fa-lock"></span>
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {# <a href="{{ path('login') }}" style="display: block; font-size: 12px;
                margin-bottom: 15px;" class="text-right">Login Password?</a> #}
                <button type="submit" class="btn btn-third btn-block">Reset</button>
            </div>
        </form>
    </div><!-- end login-form -->
{% endblock %}

{% block body %}
<body class="no-bg">
{% endblock %}
