{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}shop-budget{% endblock %}
{% block scripts %}
    <script>
        $('.edit-link').click(function () {
            $($(this).data('target')).toggle();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block tab_content %}
    <div class="row">
        {% if shops|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Company<br/>Name</th>
                        <th>Email</th>
                        <th class="text-center">Total<br/>Budget</th>
                        <th class="text-center">Declared<br/>Budget</th>
                        <th class="text-center">Subscription<br/>Type</th>
                        <th class="text-center">Subscription<br/>Provided</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shop in shops %}
                        <tr>
                            <td>{{ shop.name }}</td>
                            <td>
                                <a href="mailto:{{ shop.user.email }}">
                                    {{ shop.user.email }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% set userBalance = shop.user.getCurrencyBalance('EUR') %}
                                {% if userBalance %}
                                    {{ '€' ~ userBalance.amount }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if shop.budgets | length > 0 %}
                                    {% for budget in shop.budgets %}
                                        €{{ budget.amount }}
                                    {% endfor %}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if shop.user.currentPlan %}
                                    {{ shop.user.currentPlan.summaryName }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if shop.user.isSubscribed and shop.user.willContinueSubscriptionAfterTrial %}
                                    <i class="fa fa-check-circle" style="color: green;"></i> {% include 'admin/shop-budget/user-wants-cancel-subscription-span.html.twig' %}
                                {% else %}
                                    <i class="fa fa-times-circle" style="color: darkred;"></i> {% include 'admin/shop-budget/user-wants-cancel-subscription-span.html.twig' %}
                                {% endif %}
                            </td>
                            <td class="">
                                    {% if shop.user.subscriptions | length > 0 %}
                                    <button class="btn btn-primary edit-link" data-target="#edit-subscription-{{ shop.id }}">
                                        Provide<br/>Subscription<br/>Fee
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" disabled>Not<br/>Subscribed</button>
                                {% endif %}
                            </td>
                            <td class="">
                                <button class="btn btn-primary edit-link" data-target="#edit-{{ shop.id }}">
                                    Provide<br/>Campaign<br/>Budget
                                </button>
                            </td>
                        </tr>
                        <tr id="edit-subscription-{{ shop.id }}" style="display: none;">
                            <td colspan="9">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if shop.user.subscriptions|length > 0 %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Plan</th>
                                                    <th scope="col">Starts At</th>
                                                    <th scope="col">Ends At</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for subscription in shop.user.subscriptions %}
                                                    {% if subscription.isOnTrial or subscription.wasCanceledOnTrial %}
                                                        <tr>
                                                            <td>{{ subscription.plan.name }} - Trial</td>
                                                            <td>{{ subscription.createdAt|date('Y-m-d H:i') }}</td>
                                                            <td>{{ shop.user.currentPlan.trialEndsAt|date('Y-m-d H:i') }}</td>
                                                        </tr>
                                                    {% else %}
                                                        {% if subscription.isActiveButNotOnTrial %}
                                                        <tr>
                                                            <td>{{ subscription.plan.name }} - Trial</td>
                                                            <td>{{ subscription.createdAt|date('Y-m-d H:i') }}</td>
                                                            <td>{{ subscription.trialEndsAt|date('Y-m-d H:i') }}</td>
                                                        </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td>{{ subscription.plan.name }}</td>
                                                            <td>{% if subscription.startsAt %} {{ subscription.startsAt|date('Y-m-d H:i') }} {% else %} <i class="fa fa-times-circle"></i> {% endif %}</td>
                                                            <td>{% if subscription.endsAt %} {{ subscription.endsAt|date('Y-m-d H:i') }} {% else %} <i class="fa fa-times-circle"></i> {% endif %} {% if subscription.isCanceled %}<small style="color: darkred;"> (canceled)</small>{% endif %}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>No subscription info.</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% set isOnActiveTrial = shop.user.currentPlan and shop.user.currentPlan.isOnTrial and not shop.user.currentPlan.isEnded %}
                                        <admin-subscription-renew
                                            user="{{ shop.user.id }}"
                                            csrf="{{ csrf_token('user_subscription') }}"
                                            :subscriptions="{{ shop.user.subscriptionsToPay.toArray() | json_encode() }}"
                                            :on-trial="{{ isOnActiveTrial ? 1 : 0 }}"
                                        >
                                        </admin-subscription-renew>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr id="edit-{{ shop.id }}" style="display: none">
                            <td colspan="9">
                                <div class="row">
                                    <div class="col-md-6">

                                        {% if shop.user.transactions|length > 0 %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Created</th>
                                                <th scope="col">Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for transaction in shop.user.transactions|reverse %}
                                                {% if transaction.type.name == 'shop_deposit' %}
                                                <tr>
                                                    <td>{{ transaction.createdAt|date('Y-m-d H:i') }}</td>
                                                    <td style="color: {{ transaction.amount < 0 ? 'red' : 'green' }}">
                                                        <amount-value :amount="{{ transaction.amount }}" uuid="{{ transaction.uuid }}" />
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                            <p>No transactions.</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6" id="admin-shop-add-transaction-container">
                                        <admin-shop-add-transaction
                                                user="{{ shop.user.id }}"
                                                csrf="{{ csrf_token('user_transaction') }}"
                                                :enabled="{{ shop.hasCashRewards() ? 1 : 0 }}"
                                        >
                                        </admin-shop-add-transaction>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        {{ knp_pagination_render(shops) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no companies to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
