{% if not shop.user.wantContinueSubscription and shop.user.wantContinueSubscription is not null %}
    <span data-toggle="tooltip" data-placement="top" title="User wants to cancel his subscription plan" style="color: darkred"><small>Q</small></span>
{% endif %}