<header class="header marketplace">
    <div class="container-menu" style="padding: 5px 0;">
        <nav class="navbar navbar-default yamm">
            <div class="container">
                <div class="navbar-table">
                    <!-- <div class="navbar-cell">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html"><i class="fa fa-hashtag"></i> Super Interface</a>
                            <div class="open-menu">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="fa fa-bars"></span>
                                </button>
                            </div>
                        </div>
                    </div> -->
                    <div class="navbar-cell stretch">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <div class="navbar-cell" style="display: flex; flex-direction: row-reverse;align-items: center;">
                                <ul class="nav navbar-nav navbar-right col-md-4">
                                    <li style="float: right;"><a href="#" id="signup">Sign up</a></li>
                                    <li style="float: right;"><a href="#" id="login">Login</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right col-md-4 text-center">
                                    <li style="float: none; float: none;max-width: 180px;margin: 0 auto;"><a
                                                class="active" href="index.html" title="">Missing your brand <span
                                                    id="requestNewBrand" style="display: block; background: #1976D2; color: white; padding: 5px; cursor: pointer;border-radius:25px;">Request
                                                        New</span></a></li>
                                </ul>
                            </div><!-- end navbar-cell -->
                        </div><!-- /.navbar-collapse -->
                    </div><!-- end navbar cell -->
                </div><!-- end navbar-table -->
            </div><!-- end container fluid -->
        </nav><!-- end navbar -->
    </div><!-- end container -->
</header>
