<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>Super Interface Widget</title><link href=/vue-assets/css/app.fd714c3ef8fb46d3e07c414c1af6677d.css rel=stylesheet></head><body>{% if hasActiveCampaign is defined %}<breadcrumb></breadcrumb><div id=app></div><script>window.companyId = "{{ company_id }}";
      {% if paypalEmail is defined %}
        window.paypalEmail = "{{ paypalEmail }}";
      {% endif %}</script>{% else %}<p style="text-align: center; margin: 5px; color: red;">This widget doesn't have any active campaigns.</p>{% endif %}<script type=text/javascript src=/vue-assets/js/manifest.795bd398e044ec0a4210.js></script><script type=text/javascript src=/vue-assets/js/vendor.ad35dd3edbabdc211f68.js></script><script type=text/javascript src=/vue-assets/js/app.958b3dce4951dd3f8f0c.js></script></body></html>