{% extends 'layouts/global.html.twig' %}

{% block global %}
    {% include "layouts/partials/global/js.html.twig" %}
    {% block header %}
    {% include "layouts/partials/global/header.html.twig" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block modals %}
        {% include "layouts/partials/global/modals.html.twig" %}
    {% endblock %}
{% endblock %}
