{% extends 'layouts/global.html.twig' %}

{% block global %}
    {% include "layouts/partials/global/js.html.twig" %}
    {% block content %} {% endblock %}
    {% block modals %}
        {% include "layouts/partials/global/modals.html.twig" %}
    {% endblock %}
{% endblock %}
