<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>ValueLink</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="app_url" content={{ app_url }} />

    {% block og_tags %}{% endblock %}

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">

    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/override.css?v=2">

    <link rel="stylesheet" type="text/css" href="/css/toastr.min.css">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <![endif]-->

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>

    <link rel="stylesheeet" href="../node_modules/vue-slider-component/theme/default.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">


    {% if not is_granted('IS_AUTHENTICATED_FULLY') and (disableSnippet is not defined or not disableSnippet) %}
        <script src="http://marfil-app.local/snippet/ValueLink.js"></script>
        <script>const ValueLinkID = "90F25E273F5D546A6FB3";</script>
        {#    {% include('layouts/partials/global/snippet.html.twig') %}#}
    {% endif %}

    {% block head %}{% endblock %}
</head>
{% block body %}
<body>
{% endblock %}
<div id="app">
    {% block global %} {% endblock %}
    <vue-confirm-dialog></vue-confirm-dialog>
</div>
{% if app.user and app.user.shop %}
    {% include 'layouts/shop-notification.html.twig' with {shop: app.user.shop} %}
{% endif %}

{% include('layouts/partials/global/scripts.html.twig') %}

{% block scripts %}
    <script>
        const greenNotifyShowHideHandler = () => {
            if (document.querySelector('#subscription-success')) {
                document.querySelector('#subscription-success .fa-close').addEventListener('click', () => {
                    localStorage.hideGreenNotify = "true"
                    document.querySelector('#subscription-success').style.display = 'none'
                    document.querySelector('.notification-toggle-button').classList.remove('hidden')
                })
                document.querySelector('.notification-toggle-button').addEventListener('click', () => {
                    localStorage.hideGreenNotify = "false"
                    document.querySelector('#subscription-success').style.display = 'block'
                    document.querySelector('.notification-toggle-button').classList.add('hidden')
                })

                if (localStorage.hideGreenNotify === "true") {
                    document.querySelector('#subscription-success').style.display = 'none'
                    document.querySelector('.notification-toggle-button').classList.remove('hidden')
                } else {
                    document.querySelector('#subscription-success').style.display = 'block'
                    document.querySelector('.notification-toggle-button').classList.add('hidden')
                }
            }
        }
        greenNotifyShowHideHandler()

        const showAndHideErrorsHandler = () => {
            let isAnyVisible = false
            document.querySelectorAll('.errorMessages > *').forEach((el) => {
                if (!isAnyVisible) {
                    if (el.style.display === 'inline-block' || el.style.display === '') {
                        document.querySelector('.errorMessages').style.display = 'inline-block';
                        isAnyVisible = true
                    } else {
                        document.querySelector('.errorMessages').style.display = 'none'
                        isAnyVisible = false
                    }
                }
            })

            let minOneCashRewardVisible = false
            if (document.querySelectorAll('.errorMessages .cash-rewards').length === 0) {
                if (document.querySelector('.process-payment-info')) {
                    document.querySelector('.process-payment-info').style.display = "none"
                }
            }
            document.querySelectorAll('.errorMessages .cash-rewards').forEach(el => {
                if (!minOneCashRewardVisible) {
                    if (el.style.display === 'inline-block') {
                        if (document.querySelector('.process-payment-info')) {
                            document.querySelector('.process-payment-info').style.display = "inline-block"
                        }
                        minOneCashRewardVisible = true
                    } else {
                        if (document.querySelector('.process-payment-info')) {
                            document.querySelector('.process-payment-info').style.display = "none"
                        }
                    }
                }
            })

            if (document.querySelector('#subscription-info')) {
                if (document.querySelectorAll('#subscription-info *').length === 0) {
                    document.querySelector('#subscription-info').style.display = 'none'
                    return
                } else {
                    document.querySelector('#subscription-info').style.display = 'block'
                }

                if (document.querySelector('#subscription-info .errorMessages').style.display === 'none' && document.querySelector('#subscription-info .process-payment-info').style.display === 'none') {
                    document.querySelector('#subscription-info').style.display = 'none'
                } else {
                    document.querySelector('#subscription-info').style.display = 'block'
                }
            }
        }
        let unnecessaryJoin = document.querySelectorAll('.errorMessages span:not([style="display: none;"])')
        if (unnecessaryJoin && unnecessaryJoin[0] && unnecessaryJoin[0].classList.contains('join')) {
            unnecessaryJoin[0].style.display = 'none'
        }

    </script>
    {% if app.user and app.user.shop %}
        <script>
            $('#toast-container').show();
        </script>
    {% endif %}
    <script>
        if (screen.width < 768 && document.querySelector('.card-edit-button')) {
            document.querySelectorAll('.card-edit-button').forEach((btn) => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault()
                    alert('To Create or Edit go to Desktop')
                })
            })
        }

        let cardEditBtn = () => {
            if (screen.width < 768) {
                document.querySelectorAll('.card-edit-button').forEach((btn) => {
                    btn.addEventListener('click', (e) => {
                        e.preventDefault()
                        alert('To Create or Edit go to Desktop')
                    })
                })
            }
        }

        let whatsAppRedirectHandle = () => {
            document.querySelectorAll('.whatsapp-redirect').forEach((el) => {
                el.addEventListener('click', (e) => {
                    e.preventDefault()
                    const whatsAppReflink = el.getAttribute('whatsapp_reflink')
                    if (screen.width < 768) {
                        window.open(`whatsapp://send?text=${whatsAppReflink}`, '_blank')
                    } else {
                        window.open(` https://web.whatsapp.com/send?text=${whatsAppReflink}`, '_blank')
                    }
                })
            })
        }

        whatsAppRedirectHandle()
        const originalChosenRewardWhenEditing = localStorage.getItem('rewards')
        if (document.querySelector('.couponCompany')) {
            if (document.querySelector('#subscription-success')) {
                document.querySelector('#subscription-success').style.display = 'none'
            }
            if (document.querySelector('#toast-container')) {
                document.querySelector('#toast-container').style.display = 'none!important'
            }
        }

        let menuItemsHighlighting = (isEdit = false) => {
              if (document.getElementById("menuSideBarCompany")) {
                let currentChosenReward = localStorage.getItem('rewards')
                {% if app.user and app.user.shop %}
                currentChosenReward = '{{ app.user.shop.rewardsMode }}'
                {% endif %}
                let isOtherRewardThanOriginalSelected = currentChosenReward === originalChosenRewardWhenEditing
                let menuItems = document.querySelectorAll('.shop-details__menu__item');
                let menuItemsNotAvailableForCoupons = document.querySelectorAll('li[data-step="3"], li[data-step="4"], li[data-step="5"], li[data-step="6"]');
                let isCouponCodesOnly = localStorage.getItem('rewards') === "1";
                let currentActiveMenuItemIndex = 0;

                //Update current active index
                menuItems.forEach((el, index) => {
                    if (el.classList.contains('active')) {
                        currentActiveMenuItemIndex = index
                    }
                });

                let backendIndex = 0
                {% if app.user and app.user.shop %}
                backendIndex = parseInt({{ app.user.shop.wizardStep }})
                {% endif %}
                currentActiveMenuItemIndex = backendIndex

                const queryString = window.location.search
                const urlParams = new URLSearchParams(queryString);
                const forceBeId = urlParams.get('forceBeId')

                if (isEdit) {
                    if (forceBeId || isOtherRewardThanOriginalSelected ||
                        ((originalChosenRewardWhenEditing === '3' || originalChosenRewardWhenEditing === '2') && (currentChosenReward === '2' || currentChosenReward === '3'))) {
                        let backendIndex = 0
                        {% if app.user and app.user.shop %}
                        backendIndex = parseInt({{ app.user.shop.wizardStep }})
                        {% endif %}
                        currentActiveMenuItemIndex = backendIndex
                    } else {
                        let backendIndex = 0
                        {% if app.user and app.user.shop %}
                        backendIndex = parseInt({{ app.user.shop.wizardStep }})
                        {% endif %}
                        currentActiveMenuItemIndex = backendIndex
                    }
                }

                //Block menu items if `coupons only` option has been chose
                if (isCouponCodesOnly) {
                    menuItemsNotAvailableForCoupons.forEach((el) => {
                        el.querySelector('a').setAttribute('style', 'color: lightgray!important');
                        el.querySelector('a').style.pointerEvents = 'none'
                        el.style.cursor = 'not-allowed'
                        el.classList.remove('is-filled')
                        el.classList.add('blocked')
                    })
                } else {
                    menuItemsNotAvailableForCoupons.forEach((el, index) => {
                        el.querySelector('a').setAttribute('style', 'color: #afafaf');
                        if (el.classList.contains('active')) {
                            el.querySelector('a').setAttribute('style', 'color: #1976D2');
                        }
                        if (index < currentActiveMenuItemIndex) {
                            el.querySelector('a').style.pointerEvents = 'all'
                        }
                        el.classList.contains('blocked') && el.classList.remove('blocked')
                    })
                }

                //Set "Finish Node" to disabled when: No-Connection, No-Campaign
                {% if app.user.shop is defined and app.user.shop is not null %}
                     {% if app.user.shop.snippetConnectedAt is null %}
                        if ( document.querySelector('.shopDetailsMenu') ) {
                            let elem = document.querySelectorAll('li[data-step="10"]');
                            elem.forEach((el) => {
                                el.querySelector('a').setAttribute('style', 'color: lightgray!important');
                                el.querySelector('a').style.pointerEvents = 'none'
                                el.style.cursor = 'not-allowed'
                                el.classList.remove('is-filled')
                                el.classList.add('blocked')
                            })
                        }
                    {% endif %}
                {% endif %}
            }

            if (document.getElementById("menuSideBarWidget")) {
                //Set "Finish Node" to disabled when: No-Connection, No-Campaign
                {% if app.user.shop is defined and app.user.shop is not null %}
                {% if app.user.shop.urlName is null %}

                if ( document.querySelector('.shopDetailsMenu') ) {
                    let elem = document.querySelectorAll('li[data-step="6"]');
                    elem.forEach((el) => {
                        el.querySelector('a').setAttribute('style', 'color: lightgray!important');
                        el.querySelector('a').style.pointerEvents = 'none'
                        el.style.cursor = 'not-allowed'
                        el.classList.remove('is-filled')
                        el.title='Create subdomain first: Technical Settings - Step 9'
                    })
                }
                {% endif %}
                {% endif %}
            }
        };
        menuItemsHighlighting()
    </script>

    <script>
        if (document.querySelector('.btn-ready-to-start')) {
                document.querySelector('.btn-ready-to-start').addEventListener('click', (e) => { e.preventDefault()
                document.querySelector('form.join-program').submit()
            })
            {% if not app.user %}
                document.querySelector('.nav.navbar-nav.navbar-right').style.display = 'none'
                document.querySelector('.header').style.display = 'none'
            {% endif %}
            document.querySelector('.header').style.display = 'none'
            if (!document.querySelector('#singleOfferDetails' && document.querySelector('.boxes button.btn-join.btn.btn-outline-third.btn-block[disabled]'))) {
                document.querySelector('.boxes button.btn-join.btn.btn-outline-third.btn-block[disabled]').style.marginTop = 'auto'
            }
        }
    </script>
{% endblock %}



