<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    {% include('layouts/parts/head.html.twig') %}
    {% block head %}{% endblock %}
</head>
{% block body %}
<body>
{% endblock %}

    <div id="wrapper">
        {% include('layouts/parts/nav.html.twig') %}
        {% include('layouts/parts/header.html.twig') %}
        {% block content %}{% endblock %}
        {% include('layouts/parts/modal-login.html.twig') %}
        {% include('layouts/parts/modal-register.html.twig') %}
        {% include('layouts/parts/footer.html.twig') %}
    </div>
    {% include('layouts/parts/scripts.html.twig') %}
    {% block scripts %}{% endblock %}
</body>
</html>