{% set userPlanExpired = shop.user.currentPlan and shop.user.currentPlan.isEnded %}
{% set userBalance = shop.user.getCurrencyBalance('EUR') %}
{% set hasInviteeCoupons = shop.hasInviteeCouponPackages %}
{% set hasReferrerCoupons = shop.hasReferrerCouponPackages %}
{% set paymentRequired = false %}
{% set inviteeCouponsRequired = shop.hasCouponRewards and not hasInviteeCoupons %}
{% set referrerCouponsRequired = shop.hasCouponRewards and not hasReferrerCoupons %}
{% set shopBudgetRequired = shop.hasCashRewards and not shop.hasPositiveBudget('EUR') %}
{% set userBalanceEnded = shop.hasCashRewards and (userBalance.amount is not defined or userBalance.amount <= 0) %}

<div id="toast-container" class="toast-bottom-left notification info open" style="display:none;">

    {% if not userPlanExpired and shop.user.currentPlan %}
        <div class="notification-toggle-button info hidden" data-target="#subscription-success"></div>

        <div id="subscription-success" class="toast toast-success" aria-live="polite" style="display: block;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR…0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;background-color: green;">
            {% if shop.user.currentPlan.isOnTrial %}
                <p>Trial. No subscription fee is needed until: {{ shop.user.currentPlan.endsAt|date('Y-m-d H:i') }}</p>
            {% else %}
                <p> {{ shop.user.currentPlan.plan.name }} Plan. Expiry Date: {{ shop.user.currentPlan.expiryDate|date('Y-m-d H:i') }}</p>
            {% endif %}
            <span class="notification-close"><i class="fa fa-close"></i></span>
        </div>
    {% endif %}

    {% if userPlanExpired or inviteeCouponsRequired or referrerCouponsRequired or userBalanceEnded %}
        <div id="subscription-info" class="toast toast-error" aria-live="polite">
            {# Plan expired #}
            {% if userPlanExpired %}
                {% if shop.user.currentPlan.isOnTrial %}
                    <p>Trial period has expired on: {{ shop.user.currentPlan.trialEndsAt|date('Y-m-d H:i') }}</p>
                {% else %}
                    <p>{{ shop.user.currentPlan.plan.name }} subscription expired on: {{ shop.user.currentPlan.endsAt|date('Y-m-d H:i') }}</p>
                {% endif %}
            {% endif %}

            {% set errorMessage = [] %}

            {% if userBalanceEnded %}
                {% set paymentRequired = true %}
                {% set errorMessage = errorMessage | merge(['<span class="cash-reward">funds for Campaign Budget</span>']) %}
            {% endif %}

            {% if userPlanExpired %}
                {% set paymentRequired = true %}
                {% set errorMessage = errorMessage | merge(['<span class="cash-reward">Subscription Fee</span>']) %}
            {% endif %}

            {% if inviteeCouponsRequired %}
                {% set errorMessage = errorMessage | merge(['<span class="coupon-reward">Invitee Coupons</span>']) %}
            {% endif %}

            {% if referrerCouponsRequired %}
                {% set errorMessage = errorMessage | merge(['<span class="coupon-reward">Referrer Coupons</span>']) %}
            {% endif %}

            {% if errorMessage %}
                <p><strong class="errorMessages">Provide {{ errorMessage|join('<span class="join"> & </span>')|raw }}</strong></p>
            {% endif %}

            {% if paymentRequired %}
            <div>
                <span style="display: none; visibility: hidden"></span>
                <a class="btn btn-outline-primary btn-xs process-payment-info cash-reward" href="{{ path('account_shop_edit_budget') }}">Process Payment</a>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
