{% extends 'layouts/global.html.twig' %}

{% block global %}
    {% include "layouts/partials/global/registerstyles.html.twig" %}
    {% include "layouts/partials/global/js.html.twig" %}
    <section class="section single-wrap rl-section login-register-page">
        <div class="container">
            <div class="content boxs" style="background: white; box-shadow: none!important; border: 0!important;">
                <div class="row">
                    <div class="col-md-6 col-sm-12 register-left">
                        <div class="sign-text">
                            <h1>
                                <a href="/" class="navbar-brand">
                                    <i class="fa fa-hashtag"></i>
                                    ValueLink
                                </a>
                            </h1>
                            <h2>Boost your sales!</h2>
                            <div class="register-divider"></div>
                            {% block sidebarContent %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 register-right">
                        <div class="page-content">
                            {% block content %}{% endblock %}
                        </div>
                    </div><!-- end col -->
                </div>
            </div>
        </div>
    </section>
    {% block modals %}
        {% include "layouts/partials/global/modals.html.twig" %}
    {% endblock %}
    {% include "layouts/partials/sign/footer.html.twig" %}
{% endblock %}