<template>
  <div class="referrer-shop">
    <button class="btn btn-primary" @click="editModeHandler" :disabled="isLoading">Add custom link <i class="fa fa-plus" aria-hidden="true"></i></button>
    <table class="table table-classic cards-links-list-page referrer-shop__custom-links">
      <thead>
      <tr>
        <th>CUSTOM LINK</th>
        <th class="actions">
          <span class="head">ACTION</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="editMode" class="referrer-shop__custom-link-add">
        <td>
          <label class="referrer-shop__custom-link">
            <input v-model="newLinkValue" id="saveNewCustomLink" placeholder="Your custom links" autofocus />
          </label>
        </td>
        <td class="actions">
          <button class="btn referrer-shop__save-custom" @click="addLink">Save</button>
        </td>
      </tr>
      <tr v-for="(link, index) in links" v-if="links.length > 0">
        <td>
          <button v-if="!link.editMode" class="btn btn-link referrer-shop__each-edit-btn" @click="eachEditModeHandler(index)">{{ link.destinationUrl }}</button>
          <div v-else class="referrer-shop__custom-link">
            <input v-model="link.destinationUrl" id="editCustomLink" @focusin="setInitValue(index)" @focusout="closeEditWithoutSave(index)" :disabled="isLoading"/>
          </div>
        </td>
        <td class="referrer-shop__edit-link actions">
          <a v-if="!link.editMode" class="btn btn-four card-edit-button" :href="`/account/referrer/custom-card/${link.id}/edit`">Edit</a>
          <button v-else class="btn referrer-shop__save-custom" @click="saveEachEdit(index)" :disabled="isLoading">Save</button>
          <button @click="removeLink(index)" class="btn btn-link delete-btn">
            <img src="/images/icons/delete.svg">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <AlertBag
        v-if="!links || links.length === 0"
        v-bind="{
          isHidden : true,
          messageList: ['There are no CustomLink Links to show.']
        }"
    ></AlertBag>
  </div>
</template>

<script>
import AlertBag from "../../AlertBag";
import Request from "../../../../Mixins/Request";

export default {
  mixins: [Request],
  components: {
    AlertBag
  },
  props: {
    customLinks: {
      type: Array,
      default: []
    }
  },
  data: () => ({
      isLoading: true,
      initValue: '',
      editMode: true,
      newLinkValue: '',
      links: []
    }
  ),
  mounted() {
    if (this.hasCustomLinks) {
      this.customLinks.forEach(item => {
        if (item && item.destinationUrl) {
          this.links.push({
            ...item,
            editMode: false
          })
        }
      })
    }
    this.isLoading = false
  },
  computed: {
    hasCustomLinks() {
      return this.customLinks && this.customLinks.length
    }
  },
  methods: {
    removeLink(index) {
      if (!this.links[index]) {
        this.$toasted.error('Link not found.')
        return
      }
      this.$confirm(
          {
            title: 'Are you sure?',
            message: 'Are you sure you want to delete it?',
            button: {
              yes: 'Yes',
              no: 'Cancel'
            },
            callback: confirm => {
              if (confirm) {
                this.isLoading = true
                this.makeRequest('POST', `/ajax/non-referable-link/${this.links[index].id}`, {})
                .then(response => {
                  if (response && response.data && response.data.success) {
                    this.links = response.data.links;
                    this.$toasted.success('Link removed.')
                  } else if (response.data && response.data.errors) {
                    this.errorsLoop(response.data.errors);
                  } else {
                    this.$toasted.error('Unknown error.')
                  }
                  this.isLoading = false
                }, err => {
                  if (err && err.response && err.response.data && err.response.data.errors) {
                    this.errorsLoop(err.response.data.errors)
                  } else {
                    this.$toasted.error('Unknown error.')
                  }
                  console.error(err);
                  this.isLoading = false
                });
              }
            }
          }
      )
    },
    addLink() {
      this.focusElementById('saveNewCustomLink')
      if (this.newLinkValue.length > 0) {
        this.isLoading = true
        this.makeRequest('POST', '/ajax/non-referable-link', {
          title: this.newLinkValue,
          destinationUrl: this.newLinkValue,
          layout: 'text'
        })
        .then(response => {
          if (response && response.data && response.data.success) {
            this.links = response.data.links;
            this.newLinkValue = ''
            this.$toasted.success('Link saved.')
          } else if (response.data && response.data.errors) {
            this.errorsLoop(response.data.errors);
          } else {
            this.$toasted.error('Unknown error.')
          }
          this.isLoading = false
        }, err => {
          if (err && err.response && err.response.data && err.response.data.errors) {
            this.errorsLoop(err.response.data.errors)
          } else {
            this.$toasted.error('Unknown error.')
          }
          console.error(err);
          this.isLoading = false
        });
      }
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(errors[name]);
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    editModeHandler() {
      this.links.forEach(link => {link.editMode = false})
      this.editMode = !this.editMode
      this.editMode && this.focusElementById('saveNewCustomLink')
    },
    editModeWithoutSaveHandler() {
        this.newLinkValue = ''
    },
    setInitValue(index) {
      this.initValue = this.links[index].destinationUrl
    },
    closeEditWithoutSave(index) {
      setTimeout( () => {
        if (this.links[index].editMode) {
          this.links[index].editMode = false
          this.links[index].destinationUrl = this.initValue
          this.initValue = ''
        }
      }, 100)
    },
    eachEditModeHandler(index) {
      this.editMode = false
      this.links.forEach(link => {link.editMode = false})
      this.links[index].editMode = true
      this.focusElementById('editCustomLink')
    },
    saveEachEdit(index) {
      if (this.links[index]) {
        this.isLoading = true
        this.makeRequest('POST', '/ajax/non-referable-link', {
          ...this.links[index],
          editMode: undefined
        })
        .then(response => {
          if (response && response.data && response.data.success) {
            this.links = response.data.links;
            this.newLinkValue = ''
            this.$toasted.success('Link saved.')
          } else if (response.data && response.data.errors) {
            this.errorsLoop(response.data.errors);
          } else {
            this.$toasted.error('Unknown error.')
          }
          this.isLoading = false
        }, err => {
          if (err && err.response && err.response.data && err.response.data.errors) {
            this.errorsLoop(err.response.data.errors)
          } else {
            this.$toasted.error('Unknown error.')
          }
          console.error(err);
          this.isLoading = false
        });
        this.links.forEach(link => {link.editMode = false})
      } else {
        this.links.forEach(link => {link.editMode = false})
        this.$toasted.error('Link not found in list.')
      }
    },
    focusElementById(id) {
      const finder = setInterval(() => {
        if (document.getElementById(id)) {
          clearInterval(finder)
          document.getElementById(id).focus()
        } else {
          return false
        }
      }, 100)
    }
  }
}
</script>