<div class="calendar-view col-md-12">
    <div class="calendar-content" style="padding: 20px 0px;">
        <div class="calendar-i-prev" id="calendarPrev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span>Previous month</span>
        </div>
        <div class="calendar-month"></div>
        <div class="calendar-i-next" id="calendarNext">
            <span>Next month</span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="calendar-income-info">
        <div style="text-align: center;">
            <strong style="display: block">Total sell generated (Feb):</strong>
            <strong style="display: block;">CPS: 400$ CPL: 50$</strong>
        </div>
        <div style="text-align: center;"><strong style="display: block">Revenue:</strong><strong>250$</strong></div>
        <div style="text-align: center;"><strong style="display: block">SuperInterface Provision:</strong><strong>100$</strong></div>
    </div>
    <div id="calendar" class="company__calendar"></div>
    
    <div class="calendar-event-info">
        <table class="table table-nothbg" style="">
            <thead>
                <tr>
                    <th>Include for Calculation</th>
                    <th>Logo</th>
                    <th>Company name</th>
                    <th>Company description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" style="margin-right:5px;">Included
                        </label>
                    </td>
                    <td>
                        <img src="images/apple_logo.svg">
                    </td>
                    <td>
                        Apple
                    </td>
                    <td>This name will be displayed on top of Marketplace offer, next to your company's logo.</td>
                </tr>
                <tr>
                    <td>
                                                <label>
                            <input type="checkbox" style="margin-right:5px;">Included
                        </label>
                    </td>
                    <td>
                        <img src="images/apple_logo.svg">
                    </td>
                    <td>
                        Apple
                    </td>
                    <td>This name will be displayed on top of Marketplace offer, next to your company's logo.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="calendar-detailed-view col-md-12">
    <div class="table-responsive">
        <table class="table table-hover" style="font-size: 14px;text-align: center;" table-event-id="1">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Company Name</th>
                    <th>Total purchase Value Generated</th>
                    <th>Total SignUps Value generated</th>
                    <th>Total number of Clicks</th>
                    <th>My Total Income</th>
                </tr>
            </thead>
            <tbody>
                <tr class="level1">
                    <td>
                        <div class="table-link">Check Details</div>
                    </td>
                    <td>Apple</td>
                    <td>400</td>
                    <td>100</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
                <tr class="level1">
                    <td>
                        <div class="table-link" id="table-level-1">Check Details</div>
                    </td>
                    <td>Apple</td>
                    <td>400</td>
                    <td>100</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <th>Action</th>
                    <th colspan="3" class="text-left">Ref.Link Name</th>
                    <th>Num of. Clicks</th>
                    <th>Num of. SignUps</th>
                    <th>SignUps Value</th>
                    <th>Num of. Purchase</th>
                    <th>Purchase Value</th>
                    <th>Referrer Reward</th>
                    <th></th>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td>
                        <div class="table-link">Payout details</div>
                    </td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/SuperInterface/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td></td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td>
                        <div class="table-link">Payout details</div>
                    </td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/SuperInterface/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td></td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td>
                        <div class="table-link" id="table-level-2">Payout
                            details</div>
                    </td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/SuperInterface/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td></td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td></td>
                    <th class="text-left" colspan="3">Income</th>
                    <th colspan="1">Reward Value</th>
                    <th colspan="1">Purchase Value</th>
                    <th colspan="1">Number of Purchase</th>
                    <th></th>
                    <th colspan="3" class="text-left">Source Links</th>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">10*15=150$</td>
                    <td colspan="1">CPS 10%</td>
                    <td colspan="1">100$</td>
                    <td colspan="1">15</td>
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/shop/watch/apple-watch-hermes</td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">10*15=150$</td>
                    <td colspan="1">CPS 10%</td>
                    <td colspan="1">100$</td>
                    <td colspan="1">15</td>
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/shop/watch/apple-watch-hermes</td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">10*15=150$</td>
                    <td colspan="1">CPS 10%</td>
                    <td colspan="1">100$</td>
                    <td colspan="1">15</td>
                    <td></td>
                    <td colspan="3" class="table-word-break text-left">www.apple.com/shop/watch/apple-watch-hermes</td>
                </tr>
                <tr class="level1">
                    <td>
                        <div class="table-link">Check Details</div>
                    </td>
                    <td>Apple</td>
                    <td>400</td>
                    <td>100</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    
        $(".calendar-show > div").click(function () {
            $("#calendar").toggle();
            $("#calendar").fullCalendar('render');
        })

    $("#income2tabview").click(function () {
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    })

    $(".calendar-i-next").click(function () {
        $('#calendar').fullCalendar('next');
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    });

    $(".calendar-i-prev").click(function () {
        $('#calendar').fullCalendar('prev');
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    });
</script>