    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/farbtastic.js"></script>
    <script src="js/custom.js"></script>
