<div class="row companylinks">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" style="display: flex;flex-direction: column;text-align: left">
            <li class="active"><a data-toggle="pill" href="#home">Basic Apple Reward</a></li>
            <li><a data-toggle="pill" href="#menu1">Specific Apple Reward</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-rewards">
                            <thead>
                            <tr>
                                <th rowspan="2" scope="colgroup">Reward Name</th>
                                <th rowspan="2" scope="colgroup">Reward Description</th>
                                <th rowspan="2" scope="colgroup" style="width: 200px;">Reward URL</th>
                                <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward
                                    CPS</th>
                                <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward
                                    CPL</th>
                            </tr>
                            <tr>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">$</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">$</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                                <tr>
                                    <td>
                                        Basic reward
                                    </td>
                                    <td>
                                        Sportswear, Clothes, Men&#39;s Shoes
                                    </td>
                                    <td class="rewardlink">
                                        <span>https://www.apple.com/</span>
                                        <div class="btn btn-primary btn-xs" data-clipboard-text="https://www.apple.com/">Copy</div>
                                    </td>
                                    <td>
                                        
                                            120
                                        
                                    </td>
                                    <td>
                                        
                                            -
                                        
                                    </td>
                                    <td>
                                        
                                            -
                                        
                                    </td>
                                    <td>
                                        
                                            12
                                        
                                    </td>
                                </tr>

                            
                            </tbody>
                        </table>
                    </div>
                    <div class="companylink__entry">
                        <h3>Your Personal Store</h3>
                        <h4>www.superinterface.com/JohnDoe</h4>
                        <div class="btn btn-primary newLinkBtn">Generate Link to Share</div>
                    </div>
                    <div class="linkgenerator-cont">
                        <div id="linkgenerator" class="linkgenerator">
                            <div class="form-group">
                                <label>Shareable link</label>
                                <div class="input-group is-long">
                                    <span class="input-group-addon">SuperInterface.com/Apple/JohnDoe</span>
                                    <input type="text" name="Name" class="form-control sharelink"
                                           placeholder="Super-iPhone-6" value="">
                                </div>
                                <span>Create your own link pattern</span>
                            </div>
                            <div class="form-group flex noborder">
                                <label>Destination URL</label>
                                <input type="text" name="Name" class="form-control destlink" placeholder="Reward URL"
                                       value="">
                                <span>Copy & Paste Reward URL</span>
                            </div>
                            <div class="linkgenerator__buttons">
                                <div>
                                    <div class="btn btn-success">Save</div>
                                    <div class="btn btn-danger">Delete</div>
                                </div>
                                <div>
                                    <div class="btn btn-primary">Add to My Store</div>
                                    <div class="btn btn-danger">Delete from My Store</div>
                                </div>
                                <div class="linkgenerator__social">
                                    <div><i style="color: #3b5998" class="fa fa-facebook-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #1da1f2" class="fa fa-twitter-square" aria-hidden="true"></i></div>
                                    <div><i style="color: #ea4335" class="fa fa-google-plus-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: red" class="fa fa-pinterest-square" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-md-12">
                    <table class="table table-striped table-rewards">
                        <thead>
                            <tr>
                                <th rowspan="2" scope="colgroup">Reward Name</th>
                                <th rowspan="2" scope="colgroup">Reward Description</th>
                                <th rowspan="2" scope="colgroup" style="width: 200px;">Reward URL</th>
                                <th colspan="2" scope="colgroup" style="border-bottom: 0;padding-bottom:0">Reward
                                    CPS</th>
                            </tr>
                            <tr>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">$</th>
                                <th colspan="1" scope="col" style="padding-top: 0; border-top: 0;">%</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>
                                    Basic reward
                                </td>
                                <td>
                                    Sportswear, Clothes, Men&#39;s Shoes
                                </td>
                                <td class="rewardlink">
                                    <span>https://www.apple.com/</span>
                                    <div class="btn btn-primary btn-xs" data-clipboard-text="https://www.apple.com/">Copy</div>
                                </td>
                                <td>
                                    
                                        120
                                    
                                </td>
                                <td>
                                    
                                        -
                                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Reward 1
                                </td>
                                <td>
                                    Sportswear, Clothes, Men&#39;s Shoes
                                </td>
                                <td class="rewardlink">
                                    <span>https://www.apple.com/</span>
                                    <div class="btn btn-primary btn-xs" data-clipboard-text="https://www.apple.com/">Copy</div>
                                </td>
                                <td>
                                    
                                        -
                                    
                                </td>
                                <td>
                                    
                                        10
                                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Reward 123
                                </td>
                                <td>
                                    Sportswear, Clothes, Men&#39;s Shoes
                                </td>
                                <td class="rewardlink">
                                    <span>https://www.apple.com/</span>
                                    <div class="btn btn-primary btn-xs" data-clipboard-text="https://www.apple.com/">Copy</div>
                                </td>
                                <td>
                                    
                                        5
                                    
                                </td>
                                <td>
                                    
                                        -
                                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Awesome reward
                                </td>
                                <td>
                                    Sportswear, Clothes, Men&#39;s Shoes
                                </td>
                                <td class="rewardlink">
                                    <span>https://www.apple.com/</span>
                                    <div class="btn btn-primary btn-xs" data-clipboard-text="https://www.apple.com/">Copy</div>
                                </td>
                                <td>
                                    
                                        -
                                    
                                </td>
                                <td>
                                    
                                        5
                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="companylink__entry">
                        <h3>Your Personal Store</h3>
                        <h4>www.superinterface.com/JohnDoe</h4>
                        <div class="btn btn-primary newLinkBtn">Generate Link to Share</div>
                    </div>
                    <div class="linkgenerator-cont">
                        <div id="linkgenerator" class="linkgenerator">
                            <div class="form-group">
                                <label>Shareable link</label>
                                <div class="input-group is-long">
                                    <span class="input-group-addon">SuperInterface.com/Apple/JohnDoe</span>
                                    <input type="text" name="Name" class="form-control sharelink"
                                           placeholder="Super-iPhone-6" value="">
                                </div>
                                <span>Create your own link pattern</span>
                            </div>
                            <div class="form-group flex noborder">
                                <label>Destination URL</label>
                                <input type="text" name="Name" class="form-control destlink" placeholder="Reward URL"
                                       value="">
                                <span>Copy & Paste Reward URL</span>
                            </div>
                            <div class="linkgenerator__buttons">
                                <div>
                                    <div class="btn btn-success">Save</div>
                                    <div class="btn btn-danger">Delete</div>
                                </div>
                                <div>
                                    <div class="btn btn-primary">Add to My Store</div>
                                    <div class="btn btn-danger">Delete from My Store</div>
                                </div>
                                <div class="linkgenerator__social">
                                    <div><i style="color: #3b5998" class="fa fa-facebook-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: #1da1f2" class="fa fa-twitter-square" aria-hidden="true"></i></div>
                                    <div><i style="color: #ea4335" class="fa fa-google-plus-square"
                                            aria-hidden="true"></i></div>
                                    <div><i style="color: red" class="fa fa-pinterest-square" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<script>
  (function () {
    new ClipboardJS('.rewardlink .btn');

    const linkGenerator = $("#linkgenerator").clone().prop('outerHTML');

    $(".newLinkBtn").each(function () {
      $(this).click(function () {
        console.log("XD");
        $(this).parent().parent().find(".linkgenerator-cont").prepend(linkGenerator);
      });
    });

  })();
</script>
