<div class="modal-forgot">
    <div class="modal-forgot__overlay"></div>
    <div class="modal-forgot__box">
        <button class="btn modal-forgot__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Forgot password</h4>
                    </div><!-- end widget-title -->

                    <div class="login-form">

                        <form method="post" action="" role="login">
                            <div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" required class="form-control" placeholder="" />
                                    <span class="fa fa-user"></span>
                                </div>
                                <a href="shop-four.html" name="go" id="loginAccount" class="btn btn-third btn-block">Send
                                    me email</a>
                            </div>
                        </form>
                    </div><!-- end login-form -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</div>


<div class="modal-offer">
    <div class="modal-offer__overlay"></div>
    <div class="modal-offer__box">
        <button class="btn modal-offer__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h3>Main Offer</h3>
        <p>Recommend our products and get {% or value} from every sale.<br>Generate a lead to the {Company Name}
            page get {% or value} from every Sign Up.</p>
        <h3>Special Offer</h3>
        <table class="table table-striped table-offer" style="width: 100%">
            <thead>
            <tr>
                <th rowspan="2" scope="colgroup">Offer Name</th>
                <th rowspan="2" scope="colgroup">Offer Description</th>
                <th colspan="2" scope="colgroup" style="width: 120px; border-bottom: 0;">Offer
                    CPS</th>
            </tr>
            <tr>
                <th colspan="1" scope="col" style="border-top: 0;border-right: 0;padding-top: 0;padding-bottom: 0;">$</th>
                <th colspan="1" scope="col" style="border-top: 0;border-left: 0;padding-top: 0;padding-bottom: 0;">%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Offer 1</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Offer 2</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Offer 3</td>
                <td>Lorem ipsum dolor sit amet orem ipsum dolor sit amet orem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#itemDetails, .modal-offer__close, .item-box__offer__button').on('click touch', function (e) {
            e.preventDefault();
            $('.modal-offer').toggleClass('open');
        });

        $("#forgotPassword, .modal-forgot__close, .modal-forgot__close__button").on('click touch', function (e) {
            e.preventDefault();
            $('.modal-forgot').toggleClass('open');
        });
    });
</script>
