
    <div class="program row flex-box-grid">
        <div class="col-md-3 program-image">
            <img style="max-width: 100%;height: auto" src="https://picsum.photos/300/200/?random">
            <span class="program-image-color" style="background-color: #F8A155;"></span>
        </div>
        <div class="col-md-3 program-main-info">
            <h2>Apple</h2>
            <div class="program-tags">
                
                    <p>Sportswear</p>
                
                    <p>Men&#39;s and Women&#39;s</p>
                
                    <p>Classic Casual Comfort Shoes</p>
                
            </div>
        </div>
        <div class="col-md-3 program-stats">
            <div>
                <div class="ps-row">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>250$
                                                    Total Referrer Income</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-users" aria-hidden="true"></i><span>745 Total
                                                    Sale Generated $</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-user-plus" aria-hidden="true"></i><span>123
                        Total Number of Sales</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-globe" aria-hidden="true"></i><span>766 Total
                                                    Number of SignUps</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-hand-o-up" aria-hidden="true"></i><span>1990
                        Total Number of Clicks</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 program-actions">
            <a href="#">
                <div class="btn btn-success">See Details</div>
            </a>
        </div>
    </div>


    <div class="program row flex-box-grid">
        <div class="col-md-3 program-image">
            <img style="max-width: 100%;height: auto" src="https://picsum.photos/300/200/?random">
            <span class="program-image-color" style="background-color: #E060CF;"></span>
        </div>
        <div class="col-md-3 program-main-info">
            <h2>Apple</h2>
            <div class="program-tags">
                
                    <p>Sportswear</p>
                
                    <p>Men&#39;s and Women&#39;s</p>
                
                    <p>Classic Casual Comfort Shoes</p>
                
            </div>
        </div>
        <div class="col-md-3 program-stats">
            <div>
                <div class="ps-row">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>250$
                                                    Total Referrer Income</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-users" aria-hidden="true"></i><span>745 Total
                                                    Sale Generated $</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-user-plus" aria-hidden="true"></i><span>123
                        Total Number of Sales</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-globe" aria-hidden="true"></i><span>766 Total
                                                    Number of SignUps</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-hand-o-up" aria-hidden="true"></i><span>1990
                        Total Number of Clicks</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 program-actions">
            <a href="#">
                <div class="btn btn-success">See Details</div>
            </a>
        </div>
    </div>


    <div class="program row flex-box-grid">
        <div class="col-md-3 program-image">
            <img style="max-width: 100%;height: auto" src="https://picsum.photos/300/200/?random">
            <span class="program-image-color" style="background-color: #47BB69;"></span>
        </div>
        <div class="col-md-3 program-main-info">
            <h2>Apple</h2>
            <div class="program-tags">
                
                    <p>Sportswear</p>
                
                    <p>Men&#39;s and Women&#39;s</p>
                
                    <p>Classic Casual Comfort Shoes</p>
                
            </div>
        </div>
        <div class="col-md-3 program-stats">
            <div>
                <div class="ps-row">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>250$
                                                    Total Referrer Income</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-users" aria-hidden="true"></i><span>745 Total
                                                    Sale Generated $</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-user-plus" aria-hidden="true"></i><span>123
                        Total Number of Sales</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-globe" aria-hidden="true"></i><span>766 Total
                                                    Number of SignUps</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-hand-o-up" aria-hidden="true"></i><span>1990
                        Total Number of Clicks</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 program-actions">
            <a href="#">
                <div class="btn btn-success">See Details</div>
            </a>
        </div>
    </div>


    <div class="program row flex-box-grid">
        <div class="col-md-3 program-image">
            <img style="max-width: 100%;height: auto" src="https://picsum.photos/300/200/?random">
            <span class="program-image-color" style="background-color: #F8A155;"></span>
        </div>
        <div class="col-md-3 program-main-info">
            <h2>Apple</h2>
            <div class="program-tags">
                
                    <p>Sportswear</p>
                
                    <p>Men&#39;s and Women&#39;s</p>
                
                    <p>Classic Casual Comfort Shoes</p>
                
            </div>
        </div>
        <div class="col-md-3 program-stats">
            <div>
                <div class="ps-row">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>250$
                                                    Total Referrer Income</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-users" aria-hidden="true"></i><span>745 Total
                                                    Sale Generated $</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-user-plus" aria-hidden="true"></i><span>123
                        Total Number of Sales</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-globe" aria-hidden="true"></i><span>766 Total
                                                    Number of SignUps</span>
                </div>
                <div class="ps-row">
                    <i class="fa fa-hand-o-up" aria-hidden="true"></i><span>1990
                        Total Number of Clicks</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 program-actions">
            <a href="#">
                <div class="btn btn-success">See Details</div>
            </a>
        </div>
    </div>


