<div class="progress">
    <div class="progress-bar wizard" role="progressbar" data-transitiongoal="" style="width: %">
        <span class="speech-bubble-ds">%<div class="speech-bubble-ds-arrow"></div></span>
    </div>
</div>
