<div id="sidebar" class="col-md-3 col-xs-12">
    <div class="sidebar-content">
        <p>Non-Technical</p>
        <ul class="shop-details__menu">
            
            
            
            <li class="shop-details__menu__item">
                <a href="company-details.html">Company Details</a>
            </li>
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="main-offer.html">Main Offer</a>
            </li>
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="special-offer.html">Special Offers</a>
            </li>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="page-preview.html">Preview your page</a>
            </li>
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="share-your-page.html">Share your page</a>
            </li>
            
            
            
            
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="budget.html">Budget</a>
            </li>
            
            
            
        </ul>
    </div>
    <div class="sidebar-content">
        <p>Technical</p>
        <ul class="shop-details__menu">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="cookie-settings.html">Cookie lifespan</a>
            </li>
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="snippet-settings.html">Snippet settings</a>
            </li>
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="snippet-test.html">Test connection</a>
            </li>
            
            
            
            
            
            
            
            
            
            
            
            
            
            <li class="shop-details__menu__item">
                <a href="offer-id-settings.html">Offer ID settings</a>
            </li>
            
            
            
            
            
            
            
        </ul>
    </div>
</div><!-- end col -->