{% extends 'layouts/base_w-o_header.html.twig' %}

{% block tab_name %}card{% endblock %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/card-builder.css">
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="card">
            <div class="su-landing__content--flex">
                <div class="calendar-content create-card">
                    <link href="https://fonts.googleapis.com/css?family=Laila:400,700|Lato:400,400i,700,700i|Montserrat:400,400i,700,700i|Open+Sans:400,400i,700,700i|Oswald:400,700|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i|Srisakdi:400,700&amp;subset=latin-ext" rel="stylesheet">
                    <referrer-create-custom-card
                        v-bind="{
                            token: '{{ csrf_token('referrer_non_referable_link_card') }}',
                            registerToken: '{{ csrf_token('register_referrer') }}',
                            warnings: {{ (app.user and (is_granted('ROLE_SHOP') or is_granted('ROLE_ADMIN'))) ? ['Only referrers can create a card']|json_encode : '[]' }},
                            errors: {{ (app.request.get('error')) ? [app.request.get('error')]|json_encode : '[]' }},
                            success: '{{ app.request.get('success') ? app.request.get('success') : '' }}'
                        }"
                    ></referrer-create-custom-card>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="/js/farbtastic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>new ClipboardJS('.clipboard-copy');</script>
    <script>
        $("#referrer_link_card_background").change(function () {

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    $('.card-background-item--upload').css('background-image', 'url(' + e.target.result + ')');
                    $('.card-background-item--upload').parent().show();
                    $('.card-background-item--upload').click();
                };

            }
        });

        $('.position-inputs input').each(function () {
            $(this).removeAttr('required');
        });

        $('form[name=referrer_link_card]').submit(function (e) {
            let $banner = $('.card-editor-preview');
            let $logo = $banner.find('.shop-logo');
            let $title = $banner.find('.bigger-slogan');
            let $subtitle = $banner.find('.smaller-slogan');
            let $socials = $banner.find('.social-icons');

            if ($('.card-background-item-og').hasClass('active') === false) {
                $('#referrer_link_card_backgroundUrl').remove();
            }

            let cors = {
                getX: function (item) {
                    if (item && item.css('left')) {
                        return parseInt(item.css('left').slice(0, -2))
                    }
                },
                getY: function (item) {
                    if (item && item.css('top')) {
                        return parseInt(item.css('top').slice(0, -2))
                    }
                }
            };

            if ($title.data('color-hex')) {
                $('#referrer_link_card_titleColor').val($title.data('color-hex'));
            }
            if ($subtitle.data('color-hex')) {
                $('#referrer_link_card_subtitleColor').val($subtitle.data('color-hex'));
            }

            if ($title.attr('data-font-size')) {
                $('#referrer_link_card_titleSize').val(parseInt($title.attr('data-font-size')));
            }
            if ($subtitle.attr('data-font-size')) {
                $('#referrer_link_card_subtitleSize').val(parseInt($subtitle.attr('data-font-size')));
            }

            $('#referrer_link_card_logoPosition_x').val(cors.getX($logo));
            $('#referrer_link_card_logoPosition_y').val(cors.getY($logo));
            $('#referrer_link_card_titlePosition_x').val(cors.getX($title));
            $('#referrer_link_card_titlePosition_y').val(cors.getY($title));
            $('#referrer_link_card_subtitlePosition_x').val(cors.getX($subtitle));
            $('#referrer_link_card_subtitlePosition_y').val(cors.getY($subtitle));
            $('#referrer_link_card_socialMediaPosition_x').val(cors.getX($socials));
            $('#referrer_link_card_socialMediaPosition_y').val(cors.getY($socials));
        });
    </script>
{% endblock %}