{% extends 'layouts/base_w-o_header.html.twig' %}

{% block tab_name %}My Store{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ referrer.name }} {{ referrer.surname }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <my-store-referrer
            v-bind="{
                canEdit: false,
                referrer: {
                    name: {% if referrer.name is defined and referrer.name is not null %}'{{ referrer.name }}'{% else %}''{% endif %},
                    surname: {% if referrer.surname is defined and referrer.surname is not null %}'{{ referrer.surname }}'{% else %}''{% endif %},
                    shop: {% if referrer.shop is defined and referrer.shop is not null %}'{{ referrer.shop }}'{% else %}''{% endif %}
                },
                myStore: {{ referrerMyStore|json_encode }},
                myStoreReferrerLinksArray: {{ myStoreReferrerLinksArray|json_encode }},
                companies: {{ companies|json_encode }},
                nonReferableLinks: {{ nonReferableLinksArray|json_encode }}
            }"
        ></my-store-referrer>
    </div>
{% endblock %}
{% block modals %}{% endblock %}