{% extends 'layouts/base_w-o_header.html.twig' %}

{% block tab_name %}My Store{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Create your store"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% block content %}
    <div class="tab-content pt-50" id="storeEditor">
        <my-store-referrer-create
            v-bind="{
                link: '{{ link }}',
                registerToken: '{{ csrf_token('register_referrer') }}',
                warnings: {{ (app.user and (is_granted('ROLE_SHOP') or is_granted('ROLE_ADMIN'))) ? ['Only referrers can create a store']|json_encode : '[]' }},
                errors: {{ (app.request.get('error')) ? [app.request.get('error')]|json_encode : '[]' }},
                success: '{{ app.request.get('success') ? app.request.get('success') : '' }}'
            }"
        ></my-store-referrer-create>
    </div>
{% endblock %}
{% block modals %}{% endblock %}