<template>
  <div class="form">
    <div class="form-login" v-if="currentScene === FORM_LOGIN">
      <extra-info
        :content="`<b>Get ${data.reward_type !== 'percent' ? '€' : ''} ${rewardValue} ${data.reward_type === 'percent' ? '%' : ''} commission<br> when Your friend make 1st purchase.`"
        additionalClass="form__cash"
      />
      <widget-input
        v-show="!paypalUrl && !isLoading"
        inputType="email"
        :isRequired="true"
        :readonly="isValueLinkEmail"
        v-model="login_email"
        :placeHolder="lang.form_email"
      />
      <widget-input
        v-show="isValueLinkEmail && !isLoading"
        inputType="password"
        :isRequired="true"
        v-model="login_password"
        :placeHolder="lang.form_password"
      />
      <form-actions
        v-show="currentButton && !isLoading"
        :additionalClass="paypalUrl ? 'widget__login-buttons btn-primary paypal' : 'widget__login-buttons'"
        :buttons="currentButton.buttons"
        :boxClick="currentButton.boxClick"
      />
    </div>
<!--    <div class="form-register" v-if="currentScene === FORM_REGISTER">-->
<!--      -->
<!--    </div>-->
    <Spinner v-show="isLoading" />
  </div>
</template>

<script>
import FetchApi from '../../FetchApi'
import Spinner from '../Spinner'
import FormError from './partials/Error'
import ExtraInfo from '../Info/Extra'
import WidgetInput from './partials/Input'
import FormActions from './partials/Actions'

const FORM_EMAIL = 'FORM_EMAIL'
const FORM_REGISTER = 'FORM_REGISTER'

export default {
  name: 'FormCash',
  props: ['data', 'lang', 'goToSummary', 'goToVerify', 'chosenReward'],
  components: {
    Spinner,
    FormError,
    ExtraInfo,
    WidgetInput,
    FormActions
  },
  data () {
    return {
      FORM_LOGIN: FORM_EMAIL,
      FORM_REGISTER: FORM_REGISTER,
      currentScene: FORM_EMAIL,
      emailAccountType: null, // 'valuelink' || 'paypal' || 'notfound'
      login_email: null,
      login_password: null,
      register_email: null,
      register_first_name: null,
      register_last_name: null,
      register_password: null,
      register_password_repeat: null,
      isLoading: false,
      register_errors: null,
      paypalUrl: null
    }
  },
  beforeMount () {
    this.setErrors()
  },
  computed: {
    rewardValue () {
      console.log(this.data)
      return this.data && this.data.reward_value.replace('.00', '')
    },
    isValueLinkEmail () {
      return this.emailAccountType === 'valuelink'
    },
    isPaypalEmail () {
      return this.emailAccountType === 'paypal'
    },
    currentButton () {
      if (this.isValueLinkEmail) {
        return {
          boxClick: this.login,
          buttons: [
            {
              name: this.lang.form_button_login
            }
          ]
        }
      } else if (this.isPaypalEmail && this.paypalUrl) {
        return {
          boxClick: () => {
            window.open(this.paypalUrl, '_blank')
          },
          buttons: [
            {
              name: this.lang.form_button_paypal
            }
          ]
        }
      }

      return {
        boxClick: this.next,
        buttons: [
          {
            name: this.lang.send_gift
          },
          {
            name: this.lang.get_rewards
          }
        ]
      }
    }
  },
  methods: {
    setErrors (data) {
      if (data) {
        this.register_errors = data
      } else {
        this.register_errors = {
          email: null,
          name: null,
          surname: null,
          plainPassword: {
            first: null,
            second: null
          }
        }
      }
    },
    changeScene (scene) {
      this.currentScene = scene
    },
    next () {
      if (!this.login_email) {
        this.$toasted.show(this.lang.email_not_empty)
        return
      }
      this.isLoading = true
      let request = new FetchApi()
      request.checkEmail({email: this.login_email}).then(({ data }) => {
        if (data && data.accountType === 'notfound') {
          this.$toasted.show(this.lang.account_not_found)
          this.emailAccountType = null
          this.login_email = null
          this.paypalUrl = null
        } else if (data && data.accountType === 'paypal') {
          this.paypalUrl = data.paypalUrl
          this.emailAccountType = data.accountType
        } else {
          this.emailAccountType = data && data.accountType
          this.paypalUrl = null
        }
        this.isLoading = false
      }).catch((err) => {
        if (err && err.response && err.response.data && err.response.data.error) {
          this.$toasted.show(err.response.data.error)
        } else {
          this.$toasted.error((err && err.message) || this.lang.unknown_error)
        }
        this.emailAccountType = null
        this.isLoading = false
        console.error(err)
      })
    },
    login () {
      if (!this.login_email || !this.login_password) {
        this.$toasted.show(this.lang.fields_not_empty)
        return
      }
      this.isLoading = true
      let request = new FetchApi()
      request.login({email: this.login_email, password: this.login_password}).then(({ data }) => {
        sessionStorage.widgetLoginId = data && data.id
        this.isLoading = false
        this.goToSummary(this.chosenReward, this.login_email)
        localStorage.setItem('chosenReward', this.chosenReward)
        localStorage.setItem('referreremail', this.login_email)
        localStorage.setItem('step', '3')
      }).catch((e) => {
        if (e.response && e.response.data && e.response.data.error) {
          this.$toasted.show(e.response.data.error)
        } else {
          this.$toasted.show(this.lang.login_failed)
        }
        console.error(e)
        this.emailAccountType = null
        this.isLoading = false
      })
    },
    register () {
      if (!this.register_email || !this.register_first_name || !this.register_last_name || !this.register_password || !this.register_password_repeat) {
        this.$toasted.show(this.lang.all_fields_required)
        return
      } else if ((this.register_password !== this.register_password_repeat)) {
        this.$toasted.show(this.lang.password_no_match)
        return
      }
      this.isLoading = true
      this.setErrors()
      let request = new FetchApi()
      request.register({
        email: this.register_email,
        name: this.register_first_name,
        surname: this.register_last_name,
        password: this.register_password
      }).then((repsonse) => {
        this.goToVerify(this.register_email)
        this.isLoading = false
      }).catch((err) => {
        this.register_errors = {...this.register_errors, ...err.data}
        this.$toasted.show(this.lang.form_error)
        this.isLoading = false
      })
    }
  }
}
</script>
