<template>
  <div class="form">
    <extra-info
      :content="lang.your_coupon_codes_and_updates + '<br>' + lang.will_be_send_to_the_email"
    />
    <widget-input
      inputType="email"
      id="email"
      :isRequired="true"
      v-model="email"
      :placeHolder="lang.form_email"
      :errors="errors.email"
    />
    <extra-info
      :content="lang.form_coupon_optional"
    />
    <widget-input
      inputType="text"
      id="name"
      v-model="name"
      :placeHolder="lang.form_name"
      :errors="errors.name"
    />
    <form-actions
      v-show="!isLoading"
      additionalClass="widget__login-buttons"
      :boxClick="submit"
      :buttons="[
          {
            name: lang.send_gift
          },
          {
            name: lang.get_rewards
          }
        ]"
    />
    <Spinner v-show="isLoading"/>
  </div>
</template>

<script>
import FetchApi from '../../FetchApi'
import Spinner from '../Spinner'
import FormError from './partials/Error'
import ExtraInfo from '../Info/Extra'
import WidgetInput from './partials/Input'
import FormActions from './partials/Actions'

export default {
  name: 'FormCoupon',
  props: ['lang', 'goToSummary', 'chosenReward'],
  components: {
    Spinner,
    FormError,
    ExtraInfo,
    WidgetInput,
    FormActions
  },
  data () {
    return {
      email: null,
      name: null,
      errors: null,
      isLoading: false
    }
  },
  beforeMount () {
    this.setErrors()
  },
  methods: {
    setErrors (data) {
      if (data) {
        this.errors = data
      } else {
        this.errors = {
          email: null,
          name: null
        }
      }
    },
    submit () {
      if (!this.email) {
        this.$toasted.show(this.lang.email_not_empty)
        return
      }
      this.setErrors()
      this.isLoading = true
      let request = new FetchApi()
      request.registerLight({name: this.name, email: this.email}).then((repsonse) => {
        this.$root.referreremail = this.email
        this.isLoading = false
        this.goToSummary(this.chosenReward, this.email)
        localStorage.setItem('chosenReward', this.chosenReward)
        localStorage.setItem('referreremail', this.$root.referreremail)
        localStorage.setItem('step', '3')
      }).catch((err) => {
        this.isLoading = false
        this.setErrors(err.data)
        console.log(err)
      })
    }
  }
}
</script>
