<template>
  <div class="form">
    <div class="form-login" v-if="currentScene === FORM_LOGIN">
      <span class="form__extra-info" style="font-size: 11px;margin-bottom: 5px;margin-top: 5px;color: grey">
        {{lang.to_payout_your_cash}}<br>
        {{lang.you_need_to_have_an_account}}
      </span>
      <div class="form-group">
        <input
          type="email"
          required="required"
          class="form-control"
          v-model="login_email"
          :placeholder="lang.form_email"
          style="border-color: #1976D2; text-align: center"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          v-model="login_password"
          :placeholder="lang.form_password"
          style="border-color: #1976D2; text-align: center"
        />
      </div>
      <div class="form-actions" v-show="!isLoading">
        <button class="btn btn-primary" style="background-color: #FFC107!important; border-color: #FFC107!important" v-on:click="login()">{{lang.form_button_login}}</button>
        <button class="btn btn-primary" style="background-color: #FFC107!important; border-color: #FFC107!important" v-on:click="changeScene(FORM_REGISTER)">{{lang.form_button_register}}</button>
      </div>
    </div>
    <div class="form-register" v-if="currentScene === FORM_REGISTER">
      <div class="form-group">
        <input
          type="email"
          required="required"
          class="form-control"
          v-model="register_email"
          :placeholder="lang.form_email"
          style="border-color: #1976D2; text-align: center"
        />
        <FormError :errors="register_errors.email" />
      </div>
      <div class="form-group">
        <input
          type="text"
          required="required"
          class="form-control"
          v-model="register_first_name"
          :placeholder="lang.form_first_name"
          style="border-color: #1976D2; text-align: center"
        />
        <FormError :errors="register_errors.name" />
      </div>
      <div class="form-group">
        <input
          type="text"
          required="required"
          class="form-control"
          v-model="register_last_name"
          :placeholder="lang.form_last_name"
          style="border-color: #1976D2; text-align: center"
        />
        <FormError :errors="register_errors.surname" />
      </div>
      <div class="form-group">
        <input
          type="password"
          required="required"
          class="form-control"
          v-model="register_password"
          :placeholder="lang.form_password"
          style="border-color: #1976D2; text-align: center"
        />
        <FormError :errors="register_errors.plainPassword.first" />
      </div>
      <div class="form-group">
        <input
          type="password"
          required="required"
          class="form-control"
          v-model="register_password_repeat"
          :placeholder="lang.form_password_repeat"
          style="border-color: #1976D2; text-align: center"
        />
        <FormError :errors="register_errors.plainPassword.second" />
      </div>
      <div class="form-actions" v-show="!isLoading">
        <button class="btn btn-primary" style="background-color: #FFC107!important; border-color: #FFC107!important" v-on:click="changeScene(FORM_LOGIN)">{{lang.form_button_back_to_login}}</button>
        <button class="btn btn-primary" style="background-color: #FFC107!important; border-color: #FFC107!important" v-on:click="register()">{{lang.form_button_register}}</button>
      </div>
    </div>
    <div class="form-actions is-center" v-show="isLoading">
      <Spinner />
    </div>

  </div>
</template>

<script>
import FetchApi from '../../FetchApi'
import Spinner from '../Spinner'
import FormError from './FormError'

const FORM_LOGIN = 'FORM_LOGIN'
const FORM_REGISTER = 'FORM_REGISTER'

export default {
  name: 'FormCash',
  props: ['lang', 'goToSummary', 'goToVerify', 'chosenReward'],
  components: {
    Spinner,
    FormError
  },
  data () {
    return {
      FORM_LOGIN: FORM_LOGIN,
      FORM_REGISTER: FORM_REGISTER,
      currentScene: FORM_LOGIN,
      login_email: null,
      login_password: null,
      register_email: null,
      register_first_name: null,
      register_last_name: null,
      register_password: null,
      register_password_repeat: null,
      isLoading: false,
      register_errors: null
    }
  },
  beforeMount () {
    this.setErrors()
  },
  methods: {
    setErrors (data) {
      if (data) {
        this.register_errors = data
      } else {
        this.register_errors = {
          email: null,
          name: null,
          surname: null,
          plainPassword: {
            first: null,
            second: null
          }
        }
      }
    },
    changeScene (scene) {
      this.currentScene = scene
    },
    login () {
      if (!this.login_email || !this.login_password) {
        this.$toasted.show(this.lang.fields_not_empty)
        return
      }

      this.isLoading = true
      let request = new FetchApi()
      request.login({email: this.login_email, password: this.login_password}).then((repsonse) => {
        sessionStorage.widgetLoginId = repsonse.id
        this.isLoading = false
        this.goToSummary(this.chosenReward, this.login_email)
        localStorage.setItem('chosenReward', this.chosenReward)
        localStorage.setItem('referreremail', this.login_email)
        localStorage.setItem('step', '3')
      }).catch((e) => {
        if (e.response && e.response.data && e.response.data.error) {
          this.$toasted.show(e.response.data.error)
        } else {
          this.$toasted.show(this.lang.login_failed)
        }
        console.error(e)
        this.isLoading = false
      })
    },
    register () {
      if (!this.register_email || !this.register_first_name || !this.register_last_name || !this.register_password || !this.register_password_repeat) {
        this.$toasted.show(this.lang.all_fields_required)
        return
      } else if ((this.register_password !== this.register_password_repeat)) {
        this.$toasted.show(this.lang.password_no_match)
        return
      }
      this.isLoading = true
      this.setErrors()
      let request = new FetchApi()
      request.register({
        email: this.register_email,
        name: this.register_first_name,
        surname: this.register_last_name,
        password: this.register_password
      }).then((repsonse) => {
        this.goToVerify(this.register_email)
        this.isLoading = false
      }).catch((err) => {
        this.register_errors = {...this.register_errors, ...err.data}
        this.$toasted.show(this.lang.form_error)
        this.isLoading = false
      })
    }
  }
}
</script>
