<template>
  <div class="form">
    <span class="form__extra-info" style="font-size: 11px;margin-bottom: 5px;margin-top: 5px; color: grey">{{lang.your_coupon_codes_and_updates}}<br>{{lang.will_be_send_to_the_email}}</span>
    <div class="form-group">
      <input
        type="email"
        id="email"
        required="required"
        class="form-control"
        v-model="email"
        :placeholder="lang.form_email"
        style="border-color: #1976D2; text-align: center"
      />
      <FormError :errors="errors.email" />
    </div>
    <span class="form__extra-info" style="font-size: 11px; margin-top: 15px; margin-bottom: 5px; color: grey">{{lang.form_coupon_optional}}</span>
    <div class="form-group">
      <input
        type="text"
        id="name"
        class="form-control"
        v-model="name"
        :placeholder="lang.form_name"
        style="border-color: #1976D2; text-align: center"
      />
      <FormError :errors="errors.name" />
    </div>
    <div class="form-actions is-center">
      <div style="width: auto; text-align: center; background-color: #ffc107; color: #ffffff; cursor: pointer;margin-top: 25px; padding: 5px 25px; border-radius: 5px;"
           v-show="!isLoading"
           v-on:click="submit()">
        <p style="margin: 0;line-height: 1.2;font-size: 26px;font-weight: bold;">{{lang.send_gift}}</p>
        <p style="margin: 0;line-height: 1.2;font-size: 14px">{{lang.get_rewards}}</p>
      </div>
      <Spinner v-show="isLoading"/>
    </div>
  </div>
</template>

<script>
import FetchApi from '../../FetchApi'
import Spinner from '../Spinner'
import FormError from './FormError'

export default {
  name: 'FormCoupon',
  props: ['lang', 'goToSummary', 'chosenReward'],
  components: {
    Spinner,
    FormError
  },
  data () {
    return {
      email: null,
      name: null,
      errors: null,
      isLoading: false
    }
  },
  beforeMount () {
    this.setErrors()
  },
  methods: {
    setErrors (data) {
      if (data) {
        this.errors = data
      } else {
        this.errors = {
          email: null,
          name: null
        }
      }
    },
    submit () {
      if (!this.email) {
        this.$toasted.show(this.lang.email_not_empty)
        return
      }
      this.setErrors()
      this.isLoading = true
      let request = new FetchApi()
      request.registerLight({name: this.name, email: this.email}).then((repsonse) => {
        this.$root.referreremail = this.email
        this.isLoading = false
        this.goToSummary(this.chosenReward, this.email)
        localStorage.setItem('chosenReward', this.chosenReward)
        localStorage.setItem('referreremail', this.$root.referreremail)
        localStorage.setItem('step', '3')
      }).catch((err) => {
        this.isLoading = false
        this.setErrors(err.data)
        console.log(err)
      })
    }
  }
}
</script>
