<template>
  <div class="form">
    <div>
      <widget-input
        inputType="text"
        :isRequired="true"
        v-model="token"
        :placeHolder="lang.token"
        :errors="errors.token"
      />
      <form-actions
        v-show="!isLoading"
        :buttons="[
          {
            name: lang.form_button_activate,
            clickEvent: verifyRegister
          }
        ]"
      />
    </div>
    <Spinner v-show="isLoading" />

  </div>
</template>

<script>
import FetchApi from '../../FetchApi'
import Spinner from '../Spinner'
import FormError from './partials/Error'

export default {
  name: 'RegisterVerify',
  props: ['lang', 'goToSummary', 'registerEmail'],
  components: {
    Spinner,
    FormError
  },
  data () {
    return {
      user: '',
      token: '',
      errors: null,
      isLoading: false
    }
  },
  beforeMount () {
    this.setErrors()
  },
  methods: {
    setErrors (data) {
      if (data) {
        this.errors = data
      } else {
        this.errors = {
          user: null,
          token: null
        }
      }
    },
    verifyRegister () {
      let request = new FetchApi()
      this.isLoading = true
      request.registerVerify({user: this.registerEmail, token: this.token}).then(resp => {
        this.goToSummary('coupon', null, this.registerEmail)
        this.$root.referreremail = this.registerEmail
      }).catch((err) => {
        console.log(err)
        this.$toasted.show(this.lang.invalid_credentials)
      }).finally(() => {
        this.isLoading = false
      })
    }
  }
}
</script>
