{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">

        <company-sidebar
            v-bind="{
                activeElement: 'Referral Sales'
            }"
        ></company-sidebar>
        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50 pl-0 pr-0">
                <div class="page-title income-title">
                    <div class="row">
                        <shop-purchase v-bind="{
                            minDate: '{{ app.user.createdAt | date('d.m.Y') }}',
                            campaigns: {{ campaigns | json_encode }}
                        }"></shop-purchase>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
