{% extends 'layouts/base.html.twig' %}

{% block content %}
<section class="section single-wrap with-sidebar">
    <referrer-sidebar
        v-bind="{
            activeElement: '{% block tab_name %}{% endblock %}'
        }"
    ></referrer-sidebar>

    <div class="header-with-global-stats">
        <sidebar-button></sidebar-button>
        <div class="container pt-50">
            <div class="row">
                <div class="page-title income-title">
                    <div class="col-md-12">
                        {% block tab_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
