{% extends 'layouts/base_w-o_footer.html.twig' %}

{% block content %}
<section class="section single-wrap with-sidebar">
    <referrer-sidebar
        v-bind="{
            activeElement: '{% block tab_name %}{% endblock %}'
        }"
    ></referrer-sidebar>

    <div class="header-with-global-stats">
        <sidebar-button></sidebar-button>
        <div class="container">
            <div class="row">
                {% block tab_content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
