{% extends 'account/referrer/edit_base.html.twig' %}

{% block menu_tab_name %}billing{% endblock %}

{% block menu_tab_content %}
{{ form_start(form, {'attr': {'role': 'login'}}) }}
<div class="section-title-entry">
        <h3>Billing Details</h3>
        <p>Fill in your billing details</p>
    </div>
    {{ form_row(form.ibanNumber, { 'label': 'IBAN number' }) }}
    {{ form_row(form.swiftNumber, { 'label': 'SWIFT number' }) }}
    {{ form_row(form.paypalAccount) }}
            <div class="text-center submit-wizard-section">
            <button type="submit" name="go" class="btn btn-success">Save</button>
        <div>
{{ form_end(form) }}
{% endblock %}
