{% extends 'account/referrer/edit_base.html.twig' %}

{% block menu_tab_name %}account{% endblock %}

{% block menu_tab_content %}
    {{ form_start(form, {'attr': {'role': 'login'}}) }}
    <div class="section-title-entry">
        <h3>Account Details</h3>
        <p>Fill in your account details</p>
    </div>
    <div class="form-group">
        <label class="control-label">Nickname</label>
        <input class="form-control" value="{{ app.user.nickname}}" disabled>
    </div>
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    <div class="form-group">
        <label class="control-label required" for="edit_account_email">Email</label>
        <input class="form-control" value="{{ app.user.email }}" disabled>
    </div>
    {{ form_row(form.phone) }}
    {{ form_row(form.youtube) }}
    <div class="text-center submit-wizard-section">
        <button type="submit" name="go" class="btn btn-success">Save</button>
    <div>
    {{ form_end(form) }}
{% endblock %}