{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
        <div class="content-top" style="background: #1976d1b3;padding: 1px 10px;margin-top: 0;">
            <div class="container" style="padding-left:6px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bread">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('home_index') }}">Home</a></li>
                                <li class="active">{{ app.user.name }} Profile</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end content top -->
        </div>

        {% block header_boxes %}
            <div class="page-entry-bg edit-page">
                <div class="container" style="padding-left:0; padding-right:0;">
                    <div class="page-title income-title">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h3>{{ app.user.name }} {{ app.user.surname }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="content nopadtop" style="background: white;border-bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="publicprofile edit-page-content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="following">
                                    <div class="content boxs noborder" style="background: white;">
                                        <div class="row">
                                            <div class="wizard">
                                                <div id="sidebar" class="col-md-3 col-sm-4 col-xs-12">
                                                    <ul class="shop-details__menu is-creating">
                                                        <li class="shop-details__menu__item {% if block('menu_tab_name') == 'account' %}active{% endif %}">
                                                            <a href="{{ path('account_referrer_settings') }}"><span class="badge">1</span>Account</a>
                                                        </li>
                                                        <li class="shop-details__menu__item {% if block('menu_tab_name') == 'change_password' %}active{% endif %}">
                                                            <a href="{{ path('account_referrer_settings_password') }}"><span class="badge">2</span>Change password</a>
                                                        </li>
                                                        <li class="shop-details__menu__item {% if block('menu_tab_name') == 'billing' %}active{% endif %}">
                                                            <a href="{{ path('account_referrer_settings_billing') }}"><span class="badge">3</span>Billing data</a>
                                                        </li>
                                                    </ul>
                                                </div><!-- end col -->

                                                <div class="col-md-9 col-sm-8 col-xs-12">
                                                    <div class="page-content">
                                                        {% block menu_tab_content %}{% endblock %}
                                                    </div>
                                                </div><!-- end col -->
                                            </div>
                                        </div><!-- end row -->
                                    </div><!-- end content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}