{% extends 'account/referrer/edit_base.html.twig' %}

{% block menu_tab_name %}change_password{% endblock %}

{% block menu_tab_content %}
{{ form_start(form, {'attr': {'role': 'login'}}) }}
<div class="section-title-entry">
        <h3>Password Details</h3>
        <p>Fill in your password details</p>
    </div>
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
            <div class="text-center submit-wizard-section">
            <button type="submit" name="go" class="btn btn-success">Save</button>
        <div>
{{ form_end(form) }}
{% endblock %}