<div class="page-title income-title">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>{{ app.user.name }} {{ app.user.surname }}</h3>
        </div>
        <div class="col-xs-12 company-stats shop-stats">
            <div class="row" style="display: flex; justify-content: center; margin: 0">
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income1.svg">
                        <div class="stats-content">
                            <div class="title">€{{ (globalStats.shopPurchaseProfit + globalStats.shopSignUpProfit) | round(2) }}
                            </div>
                            <div class="stats-title">Total Program Income</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income2.svg">
                        <div class="stats-content">
                            <div class="title">€{{ globalStats.shopPurchaseTotal | round(2) }}</div>
                            <div class="stats-title">Total Sale Generated</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income3.svg">
                        <div class="stats-content">
                            <div class="title">{{ globalStats.shopPurchaseCount | number_format }}</div>
                            <div class="stats-title">Total Number of Sales</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income4.svg">
                        <div class="stats-content">
                            <div class="title">{{ globalStats.shopSignUpCount | number_format }}</div>
                            <div class="stats-title">Total Number of SignUps</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income5.svg">
                        <div class="stats-content">
                            <div class="title">{{ globalStats.viewsCount | number_format }}</div>
                            <div class="stats-title">Total Number of Clicks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
