{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}card{% endblock %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/card-builder.css">
{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="card">
            <a href="#" onclick="history.back()" class="btn btn-primary">Back to list</a>
            <div class="calendar-content">
                {% include 'account/referrer/card/custom-form.html.twig' with {
                    form: form,
                    referrerLink: referrerLink,
                    ogImage: ogImage
                } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="/js/farbtastic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>new ClipboardJS('.clipboard-copy');</script>
    <script>
        $("#referrer_link_card_background").change(function () {

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    $('.card-background-item--upload').css('background-image', 'url(' + e.target.result + ')');
                    $('.card-background-item--upload').parent().show();
                    $('.card-background-item--upload').click();
                };

            }
        });

        $('.position-inputs input').each(function () {
            $(this).removeAttr('required');
        });

        $('form[name=referrer_link_card]').submit(function (e) {
            let $banner = $('.card-editor-preview');
            let $logo = $banner.find('.shop-logo');
            let $title = $banner.find('.bigger-slogan');
            let $subtitle = $banner.find('.smaller-slogan');
            let $socials = $banner.find('.social-icons');

            if ($('.card-background-item-og').hasClass('active') === false) {
                $('#referrer_link_card_backgroundUrl').remove();
            }

            let cors = {
                getX: function (item) {
                    if (item && item.css('left')) {
                        return parseInt(item.css('left').slice(0, -2))
                    }
                },
                getY: function (item) {
                    if (item && item.css('top')) {
                        return parseInt(item.css('top').slice(0, -2))
                    }
                }
            };

            if ($title.data('color-hex')) {
                $('#referrer_link_card_titleColor').val($title.data('color-hex'));
            }
            if ($subtitle.data('color-hex')) {
                $('#referrer_link_card_subtitleColor').val($subtitle.data('color-hex'));
            }

            if ($title.attr('data-font-size')) {
                $('#referrer_link_card_titleSize').val(parseInt($title.attr('data-font-size')));
            }
            if ($subtitle.attr('data-font-size')) {
                $('#referrer_link_card_subtitleSize').val(parseInt($subtitle.attr('data-font-size')));
            }

            $('#referrer_link_card_logoPosition_x').val(cors.getX($logo));
            $('#referrer_link_card_logoPosition_y').val(cors.getY($logo));
            $('#referrer_link_card_titlePosition_x').val(cors.getX($title));
            $('#referrer_link_card_titlePosition_y').val(cors.getY($title));
            $('#referrer_link_card_subtitlePosition_x').val(cors.getX($subtitle));
            $('#referrer_link_card_subtitlePosition_y').val(cors.getY($subtitle));
            $('#referrer_link_card_socialMediaPosition_x').val(cors.getX($socials));
            $('#referrer_link_card_socialMediaPosition_y').val(cors.getY($socials));
        });
    </script>
{% endblock %}