<template>
    <div>
        <div v-if="!isJoined" @click="myStoreAdd" class="btn btn-outline-primary ">Add to My Store</div>
        <div v-if="isJoined" @click="myStoreRemove" class="btn btn-danger">Delete from My Store</div>
    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";

    export default {
        mixins: [Request],
        props: ['joined', 'shop', 'referrerLink', 'csrf'],
        data() {
            return {
                isJoined: 0,
            }
        },
        mounted() {
            this.isJoined = this.joined;
        },
        methods: {
            myStoreAdd() {
                this.toggleStore(1)
            },
            myStoreRemove() {
                this.toggleStore(0)
            },
            toggleStore(value) {
                this.makeRequest(
                    'POST',
                    `/account/referrer/company/${this.shop}/referrer-link/${this.referrerLink}/my-store`,
                     {'showInMyStore': value, '_token': this.csrf}
                )
                .then(response => {
                    this.isJoined = value;
                }, err => {
                    if (err && err.response && err.response.data && err.response.data.error) {
                      this.$toasted.error(err.response.data.error)
                    } else {
                      this.$toasted.error('Unknown error.')
                    }
                })
            }
        }
    }
</script>
