<template>
  <div class="static">
   <button v-if="editMode" class="btn btn-primary" @click="affiliateLinkModalHandler">Partner Links</button>
    <template v-if="affiliateLinks.length > 0">
      <div v-if="!editMode" class="mystore--referrable-links__row--container" :class="{
        empty: showedLinksCount === 0
      }">
        <div class="mystore--referrable-links">
          <div class="mystore--referrable-links__body" v-for="(link, index) in affiliateLinks" :key="index">
            <div class="mystore--referrable-links__row--wrapper" v-if="link.showInMyStoreAsCard && link.storeCard">
              <div class="mystore--referrable-links__builder preview_page">
                <div class="mystore--referrable-links__builder__preview">
                  <div class="row">
                    <a :href="link.url">
                      <div class="col-md-4 mystore--referrable-links__builder__preview__img-container">
                        <div>
                          <img v-if="link.storeCard && link.storeCard.image" :style="`width: ${link.storeCard.imageWidth || 250}px; height: ${link.storeCard.imageWidth || 250}px;`"
                               :src="link.storeCard.image"
                               :alt="link.storeCard.title"
                               class="ogImage"
                          />
                          <img v-else style="width: 624px; height: 576px; position: absolute; left: -167px; top: -54px;"
                               src="https://via.placeholder.com/400x400.png?text=ValueLink"
                               alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <a :href="link.url">
                      <div class="col-md-8 mystore--referrable-links__builder__preview__content">
                        <div v-if="link.referrerCoupon && link.referrerCoupon.myStoreEnabledAndNotExpired" class="couponBox">
                          {{ link.referrerCoupon.valueWithType }}
                          OFF
                        </div>
                        <h4 v-if="link.storeCard.title">{{ link.storeCard.title }}</h4>
                      </div>
                    </a>
                    <a :href="link.url">
                      <div class="mystore--referrable-links__builder__preview__footer col-md-8">
                          <span v-if="link.destinationUrl" class="mystore--referrable-links__builder__preview__footer__target-link">
                            {{ link.destinationUrl }}
                          </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="mystore--referrable-links__row--container">
        <div class="mystore--referrable-links">
          <draggable v-model="sortableLinks" group="storeReferrerLinks" @change="updateLinks">
            <div class="mystore--referrable-links__body" v-for="(link, index) in sortableLinks" :key="index">
              <div class="mystore--referrable-links__row--wrapper" v-if="link.showInMyStoreAsCard && link.storeCard">
                <div class="mystore--referrable-links__builder preview_page">
                  <div class="mystore--referrable-links__builder__preview">
                    <div class="row">
                      <a @click="yourLinkEditHandler(index)">
                        <div class="col-md-4 mystore--referrable-links__builder__preview__img-container">
                          <div>
                            <img v-if="link.storeCard && link.storeCard.image" :style="`width: ${link.storeCard.imageWidth || 250}px; height: ${link.storeCard.imageWidth || 250}px;`"
                                 :src="link.storeCard.image"
                                 :alt="link.storeCard.title"
                                 class="ogImage"
                            />
                            <img v-else style="width: 624px; height: 576px; position: absolute; left: -167px; top: -54px;"
                                 src="https://via.placeholder.com/400x400.png?text=ValueLink"
                                 alt=""
                            />
                          </div>
                        </div>
                      </a>
                      <a @click="yourLinkEditHandler(index)">
                        <div class="col-md-8 mystore--referrable-links__builder__preview__content">
                          <div v-if="link.referrerCoupon && link.referrerCoupon.myStoreEnabledAndNotExpired" class="couponBox">
                            {{ link.referrerCoupon.valueWithType }}
                            OFF
                          </div>
                          <h4 v-if="link.storeCard.title">{{ link.storeCard.title }}</h4>
                        </div>
                      </a>
                      <a @click="yourLinkEditHandler(index)">
                        <div class="mystore--referrable-links__builder__preview__footer col-md-8">
                            <span v-if="link.destinationUrl" class="mystore--referrable-links__builder__preview__footer__target-link">
                              {{ link.destinationUrl }}
                            </span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </draggable>
        </div>
      </div>
    </template>

    <Modal
        :title="isEdit ? 'Edit Your Affiliate Link' : 'Add Your Affiliate Link'"
        :isOpen="modalIsOpen"
        @close="affiliateLinkModalHandler"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveAffiliateLinkData"></save-button>
        <delete-button @delete-click="removeLink" v-if="isEdit"></delete-button>
      </template>
      <div class="mystore__modal-config">
        <div class="mystore__modal-input-container mystore__modal-input-container--select mystore__modal-affiliate-filters">
          <select name="affilate-pixel" id="affilate-pixel" v-model="selectedCompany" :title="selectedCompany">
            <option :value="null" disabled selected>
              Filter Link by Company
            </option>
            <option
                v-for="company in companies"
                :key="company.id"
                :value="company.id"
            >{{ company.name }}</option>
          </select>
          <select name="affilate-links" id="affilate-links" v-model="selectedUrl" @change="changeSelectedLink" :title="selectedLink && selectedLink.storeCard && selectedLink.storeCard.title">
            <option :value="null" disabled selected>
              {{ filteredLinks && filteredLinks.length > 0 ? 'Choose Your Link' : 'No links found to use' }}
            </option>
            <option
              v-for="(mLink, index) in filteredLinks"
              :key="index"
              :value="mLink.url"
            >{{ mLink.url }}</option>
          </select>
        </div>
      <div class="mystore__modal-config-text">
        ValueLink Affiliate Network
      </div>
        <template v-if="selectedLink && selectedWidth">
          <div class="mystore--referrable-links__row--container">
            <div class="mystore--referrable-links">
              <div class="mystore--referrable-links__body">
                <div class="mystore--referrable-links__builder preview_page" v-if="selectedLink.storeCard">
                  <vue-slider v-model="selectedWidth" :min="widthScope.min" :max="widthScope.max" :use-keyboard="false" />
                </div>
                <div class="mystore--referrable-links__row--wrapper" v-if="selectedLink.storeCard">
                  <div class="mystore--referrable-links__builder preview_page">
                    <div class="mystore--referrable-links__builder__preview">
                      <div class="row">
                        <a href="#">
                          <div class="col-md-4 mystore--referrable-links__builder__preview__img-container">
                            <div>
                              <img v-if="selectedLink.storeCard && selectedLink.storeCard.image" :style="`width: ${selectedWidth}px; height: ${selectedWidth}px;`"
                                   :src="selectedLink.storeCard.image"
                                   :alt="selectedLink.storeCard.title"
                                   class="ogImage"
                              />
                              <img v-else style="width: 624px; height: 576px; position: absolute; left: -167px; top: -54px;"
                                   src="https://via.placeholder.com/400x400.png?text=ValueLink"
                                   alt=""
                              />
                            </div>
                          </div>
                        </a>
                        <a :href="selectedLink.url">
                          <div class="col-md-8 mystore--referrable-links__builder__preview__content">
                            <div v-if="selectedLink.referrerCoupon && selectedLink.referrerCoupon.myStoreEnabledAndNotExpired" class="couponBox">
                              {{ selectedLink.referrerCoupon.valueWithType }}
                              OFF
                            </div>
                            <h4 v-if="selectedLink.storeCard.title">{{ selectedLink.storeCard.title }}</h4>
                          </div>
                        </a>
                        <a :href="selectedLink.url">
                          <div class="mystore--referrable-links__builder__preview__footer col-md-8">
                          <span v-if="selectedLink.destinationUrl" class="mystore--referrable-links__builder__preview__footer__target-link">
                            {{ selectedLink.destinationUrl }}
                          </span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </Modal>
  </div>
</template>

<script>
import Request from "../../../Mixins/Request";

import VueSlider from 'vue-slider-component';
import draggable from 'vuedraggable'
import Modal from "./Modal"
import SaveButton from "./Common/SaveButton";
import DeleteButton from "./Common/DeleteButton";

import 'vue-slider-component/theme/default.css'

export default {
  mixins: [Request],
  components: {
    draggable,
    VueSlider,
    Modal,
    SaveButton,
    DeleteButton
  },
  props: {
    affiliateLinks: {
      type: Array,
      required: true
    },
    editMode: {
      type: Boolean,
      required: true
    },
    toastConf: {
      type: Object,
      required: true
    },
    companies: {
      type: Array,
      default: () => []
    },
  },
  data: () => ({
    widthScope: {
      min: 100,
      max: 500
    },
    sortableLinks: [],
    modalIsOpen: false,
    affiliateLinkModalIndex: null,
    selectedCompany: null,
    selectedLink: null,
    selectedUrl: null,
    selectedWidth: 250
  }),
  mounted() {
    if (this.affiliateLinks) this.sortableLinks = [...this.affiliateLinks];
  },
  watch: {
    affiliateLinks(val) {
      this.sortableLinks = val
    }
  },
  computed: {
    isEdit() {
      return (typeof this.affiliateLinkModalIndex === 'number' && this.affiliateLinkModalIndex >= 0)
    },
    filteredLinks() {
      let res = [...this.affiliateLinks]
      res = res.filter(
          link => (
              !this.selectedCompany ||
              (link.shop.id === this.selectedCompany)
          ) && (
              !link.showInMyStoreAsCard ||
              ((link.url === this.selectedUrl) && this.affiliateLinkModalIndex >= 0)
          )
      )

      return res
    },
    showedLinksCount() {
      if (!this.affiliateLinks) return 0
      this.affiliateLinks.filter(
          link => (
              link.showInMyStoreAsCard && link.storeCard
          )
      ).length
    }
  },
  methods: {
    changeSelectedLink() {
      const BreakException = {};
      try {
        this.affiliateLinks.forEach(item => {
          if (this.selectedUrl === item.url) {
            this.selectedLink = Object.assign({}, item)
            this.selectedLink.showInMyStoreAsCard = false
            this.updateSelectedWidth()
            this.getAffiliateOpenGraphData()
            throw BreakException;
          }
        })
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    resetData() {
      this.affiliateLinkModalIndex = null
      this.selectedCompany = null
      this.selectedLink = null
      this.selectedUrl = null
    },
    updateLinks() {
      this.$emit('update-sort', this.sortableLinks)
    },
    affiliateLinkModalHandler() {
      this.modalIsOpen = !this.modalIsOpen
      this.resetData()
    },
    yourLinkEditHandler(index) {
      this.modalIsOpen = !this.modalIsOpen
      this.affiliateLinkModalIndex = index
      this.selectedLink = this.sortableLinks[index] ? {...this.sortableLinks[index]} : null
      this.selectedUrl = this.selectedLink && this.selectedLink.url
      this.updateSelectedWidth()
      this.getAffiliateOpenGraphData()
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            toastr.options = this.toastConf
            toastr.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    updateSelectedWidth() {
      const val = (this.selectedLink && this.selectedLink.storeCard && this.selectedLink.storeCard.imageWidth) || 250
      if (val < this.widthScope.min) {
        this.selectedWidth = this.widthScope.min
      } else if (val > this.widthScope.max) {
        this.selectedWidth = this.widthScope.max
      }
    },
    saveAffiliateLinkData() {
      this.$emit('save-data', {
        index: this.affiliateLinkModalIndex,
        data: {
          ...this.selectedLink,
          showInMyStoreAsCard: true,
          storeCard: {
            ...this.selectedLink.storeCard,
            imageWidth: this.selectedWidth
          }
        }
      })

      this.affiliateLinkModalHandler()
    },
    removeLink() {
      this.$emit('save-data', {
        index: this.affiliateLinkModalIndex,
        data: { ...this.selectedLink, showInMyStoreAsCard: false}
      })

      this.affiliateLinkModalHandler()
    },
    getAffiliateOpenGraphData() {
      let url = this.selectedLink && this.selectedLink.destinationUrl
      url = url && (url.substr(0, 4) === 'http') ? url : `${window.location.protocol}//${url}`
      this.makeRequest('GET', '/api/v1/meta/', {
        link: url
      })
      .then((response) => {
        if (response.data) {
          const $this = this;
          if (response.data.image) {
            let mImg = response.data.image
            if (mImg.substr(0, 4) !== 'http') {
              const slash = url.substr(-1) !== '/' ? '/' : ''
              console.log(url, slash)
              mImg = `${url}${slash}${mImg}`
            }

            const img = new Image();
            img.onload = function () {
              $this.selectedLink.storeCard.imageWidth = this.width <= 500 ? this.width : 250;
            };

            img.src = mImg;
            this.selectedLink.storeCard.image = mImg
          } else {
            this.selectedLink.storeCard.imageWidth = 250
            this.selectedLink.storeCard.image = null
          }

          if (response.data.title) {
            this.selectedLink.storeCard.title = response.data.title;
          } else {
            this.selectedLink.storeCard.title = url
          }
          if (response.data.description) {
            this.selectedLink.storeCard.description = response.data.description;
          }
        }
      })
      .catch(err => {
        this.selectedLink.storeCard.title = url
        toastr.options = this.toastConf
        toastr.error('Get open graph error')
        console.error(err)
      })
    },
  }
}
</script>