<template>
  <div class="static">
    <Modal
        title="Configure Your Profile & Layout"
        :isOpen="isOpen"
        @close="configModalHandler"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveConfigData"></save-button>
      </template>
      <div class="mystore__modal-config" id="config-modal">
        <div class="mystore__modal-input-container--with-text-label mystore__modal-dropdown colors">
          <button class="btn btn-primary mystore__modal-new-pixel" @click="e => handleDropdown('colors')">Color & Style</button>
          <div class="mystore__modal-config-color" :class="openedDropdown !== 'colors' && 'hide-slot'">
            <div class="mystore__modal-input-color" v-for="(color, index) in colors" :key="index">
              <input type="radio" :id="`config-${color}`" name="colors" :value="color" v-model="template" @change="saveTemplate" />
              <label class="color" :class="color" :for="`config-${color}`"></label>
            </div>
          </div>
        </div>
        <div class="mystore__modal-input-container mystore__modal-input-container--with-text-label mystore__modal-dropdown">
          <button class="btn btn-primary mystore__modal-new-pixel" for="config-link" @click="e => handleDropdown('rename')">Rename Link</button>
          <input v-on:keydown="fixedString" v-on:keyup="fixedString" type="text" id="config-link" class="mb-15" :class="openedDropdown !== 'rename' && 'hide-slot'" v-model="myStoreLink">
        </div>
        <div class="mystore__modal-input-container mystore__modal-input-container--with-text-label mystore__modal-dropdown">
          <button class="btn btn-primary mystore__modal-new-pixel" @click="e => handleDropdown('pixels')">Tracking Pixels</button>
          <div :class="openedDropdown !== 'pixels' && 'hide-slot'">
            <button class="btn btn-primary mystore__modal-new-pixel-add" @click="configPixelModalHandler('empty')">+Add</button>
            <div class="mystore__modal-pixels">
              <button v-if="config.pixels && config.pixels.facebook" class="btn" @click="configPixelModalHandler('facebook')"><i class="fab fa-facebook"></i></button>
              <button v-if="config.pixels && config.pixels.instagram" class="btn" @click="configPixelModalHandler('instagram')"><i class="fab fa-instagram"></i></button>
              <button v-if="config.pixels && config.pixels.twitter" class="btn" @click="configPixelModalHandler('twitter')"><i class="fab fa-twitter"></i></button>
              <button v-if="config.pixels && config.pixels.youtube" class="btn" @click="configPixelModalHandler('youtube')"><i class="fab fa-youtube"></i></button>
              <button v-if="config.pixels && config.pixels.linkedin" class="btn" @click="configPixelModalHandler('linkedin')"><i class="fab fa-linkedin"></i></button>
            </div>
          </div>
        </div>
      </div>
    </Modal>

    <Modal
        title="Enter Your Pixels"
        :isOpen="pixelModalIsOpen"
        @close="configPixelModalHandler"
        :haveParent="pixelModalHeight"
        :isHide="false"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveConfigPixelData"></save-button>
      </template>
      <div class="mystore__modal-config">
        <div class="mystore__modal-input-container mystore__modal-input-container--select">
          <v-select :options="pixelIcons" v-model="selectedPixel" name="select-pixel" id="select-pixel" label="icon" :clearable="false">
            <template slot="selected-option" slot-scope="pixelIcon">
              <i :class="pixelIcon.icon"></i>
            </template>
            <template v-slot:option="pixelIcon">
              <i :class="pixelIcon.icon"></i>
            </template>
          </v-select>
          <input type="text" id="pixel-id" v-model="currentPixel" placeholder="Pixel ID">
        </div>
        <div class="mystore__modal-input-container mystore__modal-input-container--with-text-label mystore__modal-input-container--helper-link gray">
          <span>How to get {{ selectedPixel && selectedPixel.name }} Pixel ID</span>
          <a :href="selectedPixel && selectedPixel.url" target="_blank" class="btn btn-link">Click here</a>
          <button type="button" class="btn btn-outline-primary btn-success mt-20" @click="savePixel">Save Pixel</button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Modal from "./Modal"
import SaveButton from "./Common/SaveButton";

export default {

  components: {
    Modal,
    SaveButton
  },
  props: {
    config: {
      type: Object,
      required: true
    },
    toastConf: {
      type: Object,
      required: true
    },
    editMode: {
      type: Boolean,
      required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    colors: [
        'whitesmoke', 'yellow_c', 'green_c', 'orange_c', 'purple_c', 'blue_c', 'grey_c', 'black_c',
                      'greenyellow_l', 'bluegreen_l', 'redyellow_l', 'purpleblue_l', 'yellowgreen_l', 'blackyellow_l',  'blackblue_l', 'blackwhite_l',
    ],
    pixelIcons: [
      {
        name: 'Facebook',
        pixel: 'facebook',
        icon: 'fab fa-facebook',
        url: 'https://www.facebook.com/business/help/314143995668266'
      },
      {
        name: 'Twitter',
        pixel: 'twitter',
        icon: 'fab fa-twitter',
        url: 'https://support.shareaholic.com/hc/en-us/articles/360000428363-How-do-I-find-my-Twitter-Pixel-ID-'
      },
      {
        name: 'Instagram',
        pixel: 'instagram',
        icon: 'fab fa-instagram',
        url: 'https://www.socialmediaexaminer.com/how-to-retarget-instagram-ads/'
      },
      {
        name: 'Youtube',
        pixel: 'youtube',
        icon: 'fab fa-youtube',
        url: '#'
      },
      {
        name: 'Linked In',
        pixel: 'linkedin',
        icon: 'fab fa-linkedin',
        url: 'https://support.shareaholic.com/hc/en-us/articles/360000428206-How-do-I-find-my-LinkedIn-Ads-Pixel-ID-Insight-Tag-'
      }
    ],
    pixelModalIsOpen: false,
    pixelModalHeight: null,
    selectedPixel: null,
    currentPixel: '',
    myStoreLink: null,
    openedDropdown: null,
    template: null,
    pixels: [],
    valuelink: {
      url: "http://marfil-app.local/store/",
    },
  }),
  watch: {
    isOpen() {
      this.template = this.config.template;
      this.myStoreLink = this.config.link;
      this.pixels = Object.assign({}, this.config.pixels);
    },
    selectedPixel() {
      if (this.selectedPixel && this.selectedPixel.name) {
        this.currentPixel = this.pixels[this.selectedPixel.pixel];
      } else {
        this.currentPixel = ''
      }
    }
  },
  computed: {},
  methods: {

    fixedString() {
      console.log(event);

      if(event.code === "Backspace"){
        event.target.selectionStart--;
      }
      if(event.target.selectionStart < this.valuelink.url.length){
        event.target.selectionStart = this.valuelink.url.length;
        event.preventDefault();
      }
    },

    saveTemplate() {
      if (document.getElementById('storeEditor')) {
        let color;
        let gradient;
        if (this.template.includes("_c")) {
           color = this.template.substring(0,this.template.length - 2);
          switch (color) {
            case 'greywhite':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(143,143,143,1) 83%)'
              break;
            case 'yellow':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,250,6,1) 85%)'
              break;
            case 'green':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(13,208,0,1) 100%)'
              break;
            case 'orange':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,107,4,1) 100%)'
              break;
            case 'purple':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,69,221,1) 100%)'
              break;
            case 'blue':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,136,255,1) 100%)'
              break;
            case 'grey':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(143,143,143,1) 83%)'
              break;
            case 'black':
              gradient = 'radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%)'
              break;
            default:
              gradient = `radial-gradient(circle, #f5f5f5 0%, ${color} 100%)`
              break;
        }

          document.getElementById('storeEditor').style.background = gradient;
        }
         else if (this.template.includes("_l"))  {
            color = this.template.substring(0,this.template.length - 2);
          switch (color) {
            case 'greenyellow':
              gradient = 'linear-gradient(90deg, rgba(9,121,45,1) 0%, rgba(241,255,46,1) 50%, rgba(9,121,45,1) 100%)';
              break;
            case 'bluegreen':
              gradient = 'linear-gradient(90deg, rgba(0,93,244,1) 0%, rgba(76,255,176,1) 50%, rgba(0,93,244,1) 100%)';
              break;
            case 'redyellow':
              gradient = 'linear-gradient(90deg, rgba(255,84,84,1) 0%, rgba(255,255,76,1) 50%, rgba(255,84,84,1) 100%)';
              break;
            case 'purpleblue':
              gradient = 'linear-gradient(90deg, rgba(251,49,255,1) 0%, rgba(95,255,241,1) 50%, rgba(251,49,255,1) 100%)';
              break;
            case 'yellowgreen':
              gradient = 'linear-gradient(90deg, rgba(252,255,49,1) 0%, rgba(116,255,95,1) 50%, rgba(252,255,49,1) 100%)';
              break;
            case 'blackyellow':
              gradient = 'linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(245,252,0,1) 50%, rgba(0,0,0,1) 100%)';
              break;
            case 'blackblue':
              gradient = 'linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(73,148,255,1) 50%, rgba(0,0,0,1) 100%)';
              break;
            case 'blackwhite':
              gradient = 'linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%)';
              break;
            default:
              break;
          }
            document.getElementById('storeEditor').style.background = gradient;
        }
        else if (this.template === "whitesmoke"){
            document.getElementById('storeEditor').style.background = `radial-gradient(circle, #f5f5f5 0%, ${this.template} 100%)`;
        }
      }
    },
    handleDropdown(target) {
      this.openedDropdown = target
    },
    configModalHandler() {
      this.$emit('close-modal')
    },
    saveConfigData() {
      this.$emit('save-data', {
        template: this.template,
        link: this.myStoreLink,
        pixels: this.pixels
      })
    },
    configPixelModalHandler(selectedPixel) {
      if (selectedPixel === 'empty') {
        Object.keys(this.pixels).forEach(pixel => {
          if (!this.pixels[pixel]) {
            this.currentPixel = '';
            this.pixelIcons.forEach((item, index) => {
              if (pixel === item.pixel) {
                this.selectedPixel = this.pixelIcons[index];
              }
            });
          }
        });
      } else if (selectedPixel) {
        this.currentPixel = this.pixels[selectedPixel] || '';
        this.pixelIcons.forEach((item, index) => {
          if (selectedPixel === item.pixel) {
            this.selectedPixel = this.pixelIcons[index];
          }
        });
      } else {
        this.currentPixel = '';
      }

      if (this.pixelModalIsOpen) {
        this.pixels = this.config.pixels;
      }

      this.pixelModalIsOpen = !this.pixelModalIsOpen
      this.pixelModalHeight = document.getElementById('config-modal').parentNode.parentNode.offsetHeight
    },
    saveConfigPixelData() {
      this.$emit('save-pixel-data', this.pixels)
      this.configPixelModalHandler()
    },
    savePixel() {
      if (this.selectedPixel) {
        const breakException = 'break';
        try {
          Object.keys(this.pixels).forEach(name => {
            if (name === this.selectedPixel.pixel) {
              this.pixels[name] = this.currentPixel;
              const pixelTime = setTimeout(() => {
                clearTimeout(pixelTime)
                this.pixelModalHeight = document.getElementById('config-modal').parentNode.parentNode.offsetHeight;
              }, 100);
              toastr.options = this.toastConf;
              toastr.success('Pixel saved.');
              throw breakException;
            }
          });
        } catch (e) {
          if (e !== breakException) throw e;
        }
      } else {
        toastr.options = this.toastConf;
        toastr.error('Selected pixel not found.')
      }
    },
  },
  mounted() {
    this.selectedPixel = this.pixelIcons[0]
  }
}
</script>