<template>
  <div class="static">
    <div v-if="!emptyContactUrls && !editMode" class="mystore__contact">
      <a v-if="itemExists('mail')" :href="'mailto:' + contactUrls.mail">
        <i class="fas fa-at"></i>
      </a>
      <a v-if="itemExists('whatsapp')" :href="`https://web.whatsapp.com/send?phone=${contactUrls.whatsapp}&text=${contactUrls.whatsapp_title}`">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a v-if="itemExists('fb_messenger')" :href="contactUrls.fb_messenger">
        <i class="fab fa-facebook-messenger"></i>
      </a>
      <a v-if="itemExists('skype')" :href="'skype: ' + contactUrls.skype">
        <i class="fab fa-skype"></i>
      </a>
    </div>
    <div v-if="!emptyContactUrls && editMode" class="mystore__contact">
      <a v-if="itemExists('mail')" @click="contactModalHandler" >
        <i class="fas fa-at"></i>
      </a>
      <a v-if="itemExists('whatsapp')" @click="contactModalHandler" >
        <i class="fab fa-whatsapp"></i>
      </a>
      <a v-if="itemExists('fb_messenger')" @click="contactModalHandler" >
        <i class="fab fa-facebook-messenger"></i>
      </a>
      <a v-if="itemExists('skype')" @click="contactModalHandler" >
        <i class="fab fa-skype"></i>
      </a>
    </div>
    <button v-if="emptyContactUrls && editMode" class="btn btn-primary" @click="contactModalHandler">
      Contact
    </button>

    <Modal
        title="Provide Your Contact Data"
        :isOpen="modalIsOpen"
        @close="contactModalHandler"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveContactData"></save-button>
      </template>
      <div class="mystore__modal-inputs">
        <div class="mystore__modal-input-container">
          <label for="contact-email"><i class="fas fa-at"></i></label>
          <input type="text" id="contact-email" v-model="editableData.mail" placeholder="Email address">
        </div>
        <div class="mystore__modal-input-container">
          <label for="fb-messenger"><i class="fab fa-facebook-messenger"></i></label>
          <input type="text" id="fb-messenger" v-model="editableData.fb_messenger" placeholder="Facebook messenger">
        </div>
        <div class="mystore__modal-input-container">
          <label for="contact-whatsapp"><i class="fab fa-whatsapp"></i></label>
          <input type="text" id="contact-whatsapp" v-model="editableData.whatsapp" placeholder="Whatsapp">
        </div>
        <div class="mystore__modal-input-container" v-if="isWhatsapp">
          <label for="contact-whatsapp_title"><i class="fab fa-whatsapp"></i></label>
          <input type="text" id="contact-whatsapp_title" v-model="editableData.whatsapp_title" placeholder="Whatsapp title">
        </div>
        <div class="mystore__modal-input-container">
          <label for="contact-skype"><i class="fab fa-skype"></i></label>
          <input type="text" id="contact-skype" v-model="editableData.skype" placeholder="Skype">
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Modal from "./Modal"
import SaveButton from "./Common/SaveButton";

export default {
  components: {
    Modal,
    SaveButton
  },
  props: {
    contactUrls: {
      type: Object,
      required: true
    },
    editMode: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    modalIsOpen: false,
    editableData: {
      mail: '',
      fb_messenger: '',
      whatsapp: '',
      whatsapp_title: '',
      skype: ''
    }
  }),
  watch: {
    contactUrls() {
      this.editableData = {
        mail: this.contactUrls.mail || '',
        fb_messenger: this.contactUrls.fb_messenger || '',
        whatsapp: this.contactUrls.whatsapp || '',
        whatsapp_title: this.contactUrls.whatsapp_title || '',
        skype: this.contactUrls.skype || '',
      }
    }
  },
  computed: {
    isWhatsapp() {
      return this.editableData && this.editableData.whatsapp
    },
    emptyContactUrls() {
      return (
          Object.keys(this.contactUrls).length === 0 ||
          Object.values(this.contactUrls).every(el => (el === '' || el === null))
      )
    }
  },
  methods: {
    itemExists(name) {
      return this.contactUrls[name] && this.contactUrls[name].length > 0
    },
    contactModalHandler() {
      this.modalIsOpen = !this.modalIsOpen
    },
    saveContactData() {
      this.contactModalHandler()

      this.$emit('save-data', this.editableData)
    },
  }
}
</script>