<template>
  <div class="mystore__edit-preview create">
    <div class="mystore-alerts">
      <AlertBag v-if="success.length > 0 && success !== 'login'"
                :type="'success'"
                :is-hidden="true"
                :message-list="[success]"
      ></AlertBag>
      <AlertBag v-if="warnings.length > 0"
                :type="'warning'"
                :is-hidden="true"
                :message-list="warnings"
      ></AlertBag>
      <AlertBag v-if="errors.length > 0"
                :type="'danger'"
                :is-hidden="true"
                :message-list="errors"
      ></AlertBag>
    </div>

    <template>
      <form class="mystore__activate-container mystore__btn-edit">
        <a href="//valuelink.io" class="vl-logo">
          <img src="/images/apple-touch-icon.png" alt="Value Link" />
        </a>
        <input id="myStoreUrl" type="text" :value="config.link" readonly />
        <button type="button" @click="copyUrl" class="copyButton">
          <img src="/images/icons/copy.svg" alt="copy">
        </button>
        <button v-on:click="e => {e.preventDefault(); saveData()}" type="submit" class="btn btn-primary">
          <img src="/images/icons/publish.svg" alt="publish" />
          <span>Publish</span>
        </button>
      </form>
      <button type="button" class="btn btn-link" @click="configModalHandler">Customize</button>
    </template>

    <configure-modals v-if="firstLoaded"
        :edit-mode="true"
        :config="config"
        :isOpen="configModalIsOpen"
        :toastConf="toastConf"
        @close-modal="configModalHandler"
        @save-data="saveConfigData"
        @save-pixel-data="savePixelData"
    ></configure-modals>

    <div class="mystore__content edit">
      <label class="mystore__logo-upload" :class="hasImage > 0 && 'mystore__logo-upload--uploaded'">
        <img src="/images/icons/delete.svg" v-if="hasImage" class="removeImage" @click="removeImage" alt="remove image" />
        <input ref="input" type="file" accept="image/*" v-on:change="e => loadFile(e)">
        <i v-if="!hasImage" class="fas fa-camera"></i>
        <img v-if="hasImage" :src="haveImage"/>
      </label>
      <div class="mystore--referrer-header__data">
        <label class="mystore__name-title">
          <textarea-autosize
            :readonly="false"
            :placeholder="'Title'"
            v-model="title"
            rows="1">
          </textarea-autosize>
        </label>
      </div>
      <label class="mystore__about-me">
        <textarea-autosize
            v-model="aboutMe"
            :readonly="false"
            :placeholder="'Subtitle'"
            rows="1">
        </textarea-autosize>
      </label>

      <contact-icons v-if="firstLoaded"
        :edit-mode="true"
        :contact-urls="contactUrls"
        @save-data="saveContactData"
      ></contact-icons>

      <your-links v-if="firstLoaded"
        :edit-mode="true"
        :your-links="yourLinks"
        :toastConf="toastConf"
        @save-data="saveYourLinkData"
        @update-sort="updateYourLinksSort"
        @remove-data="removeYourLinkData"
      ></your-links>

      <affiliate-links v-if="firstLoaded"
        :edit-mode="true"
        :companies="companies"
        :affiliate-links="affiliateLinks"
        :toastConf="toastConf"
        @save-data="saveAffiliateLinkData"
        @update-sort="updateAffiliateLinksSort"
      ></affiliate-links>

      <social-icons v-if="firstLoaded"
          :edit-mode="true"
          :socials="socials"
          @save-data="saveSocialsData"
      ></social-icons>
    </div>

    <auth-modal v-if="firstLoaded"
        :redirect-to="'/store'"
        :register-token="registerToken"
        :isOpen="authModalOpen"
        @close-modal="closeAuthModal"
    ></auth-modal>
  </div>
</template>

<script>
import AlertBag from "../../Account/AlertBag";
import AuthModal from "../../Account/Referrer/Card/AuthModal";
import draggable from 'vuedraggable'
import Request from "../../../Mixins/Request"
import Modal from "./Modal"
import ContactIcons from "./ContactIcons"
import SocialIcons from "./SocialIcons"
import ConfigureModals from "./ConfigureModals"
import YourLinks from "./YourLinks";
import AffiliateLinks from "./AffiliateLinks";

export default {
  components: {
    draggable,
    Modal,
    ContactIcons,
    SocialIcons,
    ConfigureModals,
    YourLinks,
    AffiliateLinks,
    AuthModal,
    AlertBag
  },
  mixins: [
    Request
  ],
  props: {
    link: {
      type: String,
      required: true
    },
    registerToken: {
      type: String,
      required: true
    },
    warnings: {
      type: Array,
      required: true
    },
    errors: {
      type: Array,
      required: true
    },
    success: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      toastConf: {
        "positionClass": "toast-bottom-right",
        "containerId": "uiwefuienrf123",
        "timeOut": 2000
      },
      firstLoaded: false,
      authModalOpen: false,
      editMode: true,
      binImage: null,
      haveImage: false,
      configModalIsOpen: false,
      title: null,
      aboutMe: null,
      companies: [],
      contactUrls: {
        mail: '',
        whatsapp: '',
        fb_messenger: '',
        skype: ''
      },
      socials: {
        facebook: '',
        instagram: '',
        twitter: '',
        youtube: '',
        linkedin: ''
      },
      yourLinks: [],
      affiliateLinks: [],
      config: {
        template: 'fff',
        link: '',
        pixels: {
          facebook: '',
          twitter: '',
          instagram: '',
          youtube: '',
          linkedin: ''
        }
      },
    }
  },
  methods: {
    buildFormData(formData, data, parentKey) {
      if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
        Object.keys(data).forEach(key => {
          this.buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
        });
      } else {
        const value = data == null ? '' : data;
        formData.append(parentKey, value);
      }
    },
    getFormData() {
      const myData = new FormData()
      this.buildFormData(myData, {
        title: this.title,
        subtitle: this.aboutMe,
        avatar: this.binImage || this.haveImage,
        contactUrls: this.contactUrls,
        config: this.config,
        socials: this.socials,
        yourLinks: this.yourLinks,
        affiliateLinks: this.affiliateLinks
      })
      return myData
    },
    saveData() {
      this.isLoading = true
      this.saveToLocalStorage()
      this.makeRequest('POST', '/referrer/me', this.getFormData(), {
        'Content-Type': 'multipart/form-data'
      })
      .then((response) => {
        if (response && response.data && response.data.success) {
          this.$toasted.success(response.data.message || 'Mystore created.')
          setTimeout(() => {
            window.location.href = '/store/me'
          }, 1500)
        } else if (typeof response.data === 'string') {
          this.authModalOpen = true
        } else {
          this.$toasted.error('Unknown error.')
        }
        this.isLoading = false
      }, err => {
        if (err && err.response && err.response.data && err.response.data.errors) {
          this.errorsLoop(err.response.data.errors)
        }else if (err && err.response && err.response.data) {
          this.errorsLoop(err.response.data)
        } else {
          this.$toasted.error('Unknown error.')
        }
        console.error(err)
        this.isLoading = false
      })
    },
    closeAuthModal() {
      this.authModalOpen = false
    },
    errorsLoop(errors, parentName = null) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            if (parentName)
              this.$toasted.error(parentName + ': ' + errors[name])
            else
              this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name], parentName || name)
          }
        });
      }
    },
    removeImage(e) {
      e.preventDefault();
      this.binImage = null;
      this.haveImage = false;
      this.$refs.input.value = '';
      this.$refs.input.type = '';
      this.$refs.input.type =  'file';
      return false;
    },
    loadFile: function(event) {
      this.binImage = event.target.files[0];
      this.haveImage = URL.createObjectURL(event.target.files[0]);
    },
    saveContactData(changedData) {
      this.contactUrls = changedData;
    },
    saveSocialsData(changedData) {
      this.socials = changedData;
    },
    saveYourLinkData(yourLink) {
      if (typeof yourLink.index === 'number' && yourLink.index >= 0) {
        this.yourLinks[yourLink.index] = yourLink.data
      } else {
        this.yourLinks.unshift(yourLink.data)
      }
    },
    updateYourLinksSort(links) {
      if (links && links.length > 0) {
        this.yourLinks = links;
      }
    },
    removeYourLinkData(index) {
      if (typeof index === 'number' && index >= 0) {
        this.yourLinks.splice(index, 1)
      }
    },
    configModalHandler() {
      this.configModalIsOpen = !this.configModalIsOpen
    },
    saveConfigData(config) {
      this.config = config
      this.configModalHandler();
    },
    savePixelData(pixels) {
      (typeof this.config === 'object') && (this.config.pixels = pixels);
    },
    saveAffiliateLinkData(affiliateLink) {
      if (typeof affiliateLink.index === 'number' && affiliateLink.index >= 0) {
        this.affiliateLinks[affiliateLink.index] = affiliateLink.data
      } else {
        this.affiliateLinks.forEach((link, index) => {
          if (link.url === affiliateLink.data.url) {
            this.affiliateLinks[index] = affiliateLink.data
          }
        })
      }
    },
    updateAffiliateLinksSort(links) {
      if (links && links.length > 0) {
        this.affiliateLinks = links;
      }
    },
    loadFromStorageObject() {
      const store = localStorage.getItem('newMyStore')
          ? JSON.parse(localStorage.getItem('newMyStore'))
          : null
      if (store) {
        this.title = store.title
        this.aboutMe = store.subtitle
        this.haveImage = store.avatar
        this.contactUrls = store.contactUrls
        this.socials = store.socials
        this.config = {
          ...store.config,
          link: this.link
        }
        this.yourLinks = store.yourLinks
        this.affiliateLinks = store.affiliateLinks
      }
      if (document.getElementById('storeEditor')) {
        document.getElementById('storeEditor').style.background = `radial-gradient(circle, #f5f5f5 0%, ${this.config.template} 100%)`;
      }
    },
    saveToLocalStorage() {
      localStorage.setItem('newMyStore', JSON.stringify({
        title: this.title,
        subtitle: this.aboutMe,
        avatar: this.binImage || this.haveImage,
        contactUrls: this.contactUrls,
        config: this.config,
        socials: this.socials,
        yourLinks: this.yourLinks,
        affiliateLinks: this.affiliateLinks
      }));
    },
    copyUrl () {
      let testingCodeToCopy = document.querySelector('#myStoreUrl')
      testingCodeToCopy.select()

      try {
        const successful = document.execCommand('copy');
        const msg = successful ? 'successful' : 'unsuccessful';
        toastr.options = this.toastConf;
        toastr.success(`My store url was copied ${msg}`);
      } catch (err) {
        toastr.options = this.toastConf;
        toastr.error('Oops, unable to copy');
      }

      window.getSelection().removeAllRanges()
    },
  },
  computed: {
    hasImage() {
      return this.haveImage && this.haveImage.length > 0
    }
  },
  mounted() {
    if ( window.location.href.split('?').length >= 2 ) {
      window.history.pushState({}, document.title, window.location.pathname);
    }
    this.config.link = this.link
    this.loadFromStorageObject()
    if (this.success === 'login' && this.firstResponseEnd) {
      this.saveData()
    }
    this.firstLoaded = true
  },
}
</script>