<template>
  <div class="mystore__edit-preview">

    <button v-if="!editMode && canEdit" v-on:click="editModeHandler" class="mystore__btn-edit btn btn-primary">
      Edit My Store
    </button>

    <template v-if="editMode && canEdit">
      <form class="mystore__activate-container mystore__btn-edit">
        <a href="//valuelink.io" class="vl-logo">
          <img src="/images/apple-touch-icon.png" alt="Value Link" />
        </a>
        <input id="myStoreUrl" type="text" :value="config.link" readonly />
        <button type="button" @click="copyUrl" class="copyButton">
          <img src="/images/icons/copy.svg" alt="copy">
        </button>
        <button v-on:click="e => {e.preventDefault(); editModeHandler()}" type="submit" class="btn btn-primary">
          <img src="/images/icons/publish.svg" alt="publish" />
          <span>Publish</span>
        </button>
      </form>

      <button type="button" class="btn btn-link" @click="configModalHandler">Customize</button>
    </template>

    <configure-modals
        :edit-mode="editMode"
        :config="config"
        :isOpen="configModalIsOpen"
        :toastConf="toastConf"
        @close-modal="configModalHandler"
        @save-data="saveConfigData"
        @save-pixel-data="savePixelData"
    ></configure-modals>

    <div class="mystore__content" :class="editMode && 'edit'">
      <label class="mystore__logo-upload" :class="hasImage > 0 && 'mystore__logo-upload--uploaded'"
        v-if="(!editMode && hasImage) || editMode"
      >
        <img src="/images/icons/delete.svg" v-if="editMode && hasImage" class="removeImage" @click="removeImage" alt="remove image" />
        <input type="file" accept="image/*" v-if="editMode" v-on:change="e => loadFile(e)" />
        <i v-if="!hasImage && editMode" class="fas fa-camera"></i>
        <img v-if="hasImage" :src="haveImage"/>
      </label>
      <div class="mystore--referrer-header__data" v-if="editMode || (!editMode && title)">
        <label class="mystore__name-title">
          <textarea-autosize
            :readonly="!editMode"
            :placeholder="editMode ? 'Title' : ''"
            v-model="title"
            rows="1">
          </textarea-autosize>
        </label>
      </div>
      <label class="mystore__about-me" v-if="editMode || (!editMode && aboutMe)">
        <textarea-autosize
            v-model="aboutMe"
            :readonly="!editMode"
            :placeholder="editMode ? 'Subtitle' : ''"
            rows="1">
        </textarea-autosize>
      </label>

      <contact-icons
        :edit-mode="editMode"
        :contact-urls="contactUrls"
        @save-data="saveContactData"
      ></contact-icons>

     <your-links
        :edit-mode="editMode"
        :your-links="yourLinks"
        :toastConf="toastConf"
        @save-data="saveYourLinkData"
        @update-sort="updateYourLinksSort"
        @remove-data="removeYourLinkData"
      ></your-links>

      <affiliate-links
        :edit-mode="editMode"
        :companies="companies"
        :affiliate-links="affiliateLinks"
        :toastConf="toastConf"
        @save-data="saveAffiliateLinkData"
        @update-sort="updateAffiliateLinksSort"
      ></affiliate-links>

      <social-icons
          :edit-mode="editMode"
          :socials="socials"
          @save-data="saveSocialsData"
      ></social-icons>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import Request from "../../../Mixins/Request"
import Modal from "./Modal"
import ContactIcons from "./ContactIcons"
import SocialIcons from "./SocialIcons"
import ConfigureModals from "./ConfigureModals"
import YourLinks from "./YourLinks";
import AffiliateLinks from "./AffiliateLinks";

export default {
  components: {
    draggable,
    Modal,
    ContactIcons,
    SocialIcons,
    ConfigureModals,
    YourLinks,
    AffiliateLinks
  },
  mixins: [
    Request
  ],
  props: {
    referrer: {
      name: {
        type: String,
        default: ''
      },
      surname: {
        type: String,
        default: ''
      },
      shop: {
        type: String,
        default: ''
      },
    },
    nonReferableLinks: {
      type: Array,
      default: () => []
    },
    myStoreReferrerLinksArray: {
      type: Array,
      default: () => []
    },
    companies: {
      type: Array,
      default: () => []
    },
    myStore: {
      type: Object,
      default: () => {}
    },
    canEdit: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      toastConf: {
        "positionClass": "toast-bottom-right",
        "containerId": "uiwefuienrf123",
        "timeOut": 2000
      },
      editMode: false,
      binImage: null,
      haveImage: false,
      configModalIsOpen: false,
      title: null,
      aboutMe: null,
      contactUrls: {
        mail: '',
        whatsapp: '',
        fb_messenger: '',
        skype: ''
      },
      socials: {
        facebook: '',
        instagram: '',
        twitter: '',
        youtube: '',
        linkedin: ''
      },
      yourLinks: [],
      affiliateLinks: [],
      config: {
        template: 'fff',
        link: 'https://valuelink/abC1#',
        pixels: {
          facebook: '',
          twitter: '',
          instagram: '',
          youtube: '',
          linkedin: ''
        }
      },
    }
  },
  methods: {
    buildFormData(formData, data, parentKey) {
      if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
        Object.keys(data).forEach(key => {
          this.buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
        });
      } else {
        const value = data == null ? '' : data;

        formData.append(parentKey, value);
      }
    },
    getFormData() {
      const myData = new FormData()
      this.buildFormData(myData, {
        title: this.title,
        subtitle: this.aboutMe,
        avatar: this.binImage || this.haveImage,
        contactUrls: this.contactUrls,
        config: this.config,
        socials: this.socials,
        yourLinks: this.yourLinks,
        affiliateLinks: this.affiliateLinks
      })
      return myData
    },
    saveData() {
      if (!this.canEdit) return false
      this.makeRequest('POST', '/referrer/me', this.getFormData(), {
        'Content-Type': 'multipart/form-data'
      })
      .then((response) => {
        if (response.data && response.data.success) {
          toastr.options = this.toastConf;
          toastr.success('Success message');
          this.loadDataFromMyStoreObject(response.data.referrerMyStore);
        } else if (response.data && response.data.errors) {
          toastr.options = this.toastConf;
          this.errorsLoop(response.data.errors);
        } else {
          toastr.options = this.toastConf;
          toastr.error('Unknown error');
        }
      })
      .catch((error) => {
        toastr.options = this.toastConf;
        toastr.error(error.message || error);
        console.error(error);
      });
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            toastr.error(errors[name]);
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    removeImage(e) {
      e.preventDefault();

      this.binImage = null;
      this.haveImage = false;

      return false;
    },
    editModeHandler() {
      if (!this.canEdit) return false
      if (this.editMode) {
        this.saveData()
      }
      this.editMode = !this.editMode
    },
    loadFile: function(event) {
      this.binImage = event.target.files[0];
      this.haveImage = URL.createObjectURL(event.target.files[0]);
    },
    saveContactData(changedData) {
      this.contactUrls = changedData;
    },
    saveSocialsData(changedData) {
      this.socials = changedData;
    },
    saveYourLinkData(yourLink) {
      if (typeof yourLink.index === 'number' && yourLink.index >= 0) {
        this.yourLinks[yourLink.index] = yourLink.data
      } else {
        this.yourLinks.unshift(yourLink.data)
      }
    },
    updateYourLinksSort(links) {
      if (links && links.length > 0) {
        this.yourLinks = links;
      }
    },
    removeYourLinkData(index) {
      if (typeof index === 'number' && index >= 0) {
        this.yourLinks.splice(index, 1)
      }
    },
    configModalHandler() {
      this.configModalIsOpen = !this.configModalIsOpen
    },
    saveConfigData(config) {
      this.config = config
      this.configModalHandler();
    },
    savePixelData(pixels) {
      (typeof this.config === 'object') && (this.config.pixels = pixels);
    },
    saveAffiliateLinkData(affiliateLink) {
      if (typeof affiliateLink.index === 'number' && affiliateLink.index >= 0) {
        this.affiliateLinks[affiliateLink.index] = affiliateLink.data
      } else {
        this.affiliateLinks.forEach((link, index) => {
          if (link.url === affiliateLink.data.url) {
            this.affiliateLinks[index] = affiliateLink.data
          }
        })
      }
    },
    updateAffiliateLinksSort(links) {
      if (links && links.length > 0) {
        this.affiliateLinks = links;
      }
    },
    loadDataFromMyStoreObject(store) {
      if (store) {
        this.title = store.title
        this.aboutMe = store.subtitle
        this.haveImage = store.avatar
        this.contactUrls = store.contactUrls
        this.socials = store.socials
        this.config = store.config

        if (document.getElementById('storeEditor')) {
          document.getElementById('storeEditor').style.background = `radial-gradient(circle, #f5f5f5 0%, ${this.config.template} 100%)`;
        }
      }
    },
    copyUrl () {
      let testingCodeToCopy = document.querySelector('#myStoreUrl')
      testingCodeToCopy.select()

      try {
        const successful = document.execCommand('copy');
        const msg = successful ? 'successful' : 'unsuccessful';
        toastr.options = this.toastConf;
        toastr.success(`My store url was copied ${msg}`);
      } catch (err) {
        toastr.options = this.toastConf;
        toastr.error('Oops, unable to copy');
      }

      window.getSelection().removeAllRanges()
    },
  },
  computed: {
    hasImage() {
      return this.haveImage && this.haveImage.length > 0
    }
  },
  mounted() {
    this.loadDataFromMyStoreObject(this.myStore)
    this.yourLinks = this.nonReferableLinks
    this.affiliateLinks = this.myStoreReferrerLinksArray
  },
}
</script>