<template>
  <div class="mystore__modal" :class="{
    open: isOpen
  }">
    <div class="mystore__modal-overlay" @click="closeModal"></div>
    <div class="mystore__modal-content" :style="haveParent && {height: haveParent + 'px'}" :class="{isChild: haveParent}">
      <div class="mystore__modal-box">
        <div class="mystore__modal-header">
          <div class="mystore__modal-title">
            <h4>{{ title }}</h4>
          </div>
          <slot name="saveButton"></slot>
          <button v-if="!isHide" class="btn mystore__modal-close" @click="closeModal">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    haveParent: {
      default: false
    },
    isHide: {
      type: Boolean,
      default: true
    },
  },
  methods: {
    closeModal() {
      this.$emit('close')
    }
  },
  watch:{
    isOpen(val) {
      if (val) {
        document.body.style.overflow = "hidden"
      } else {
        document.body.removeAttribute('style')
      }
    }
  }
}
</script>