<template>
    <form @submit.prevent="save">
        <div class="mystore--referrable-links__builder" :class="{ 'loaded': loaded }">
            <div class="mystore--referrable-links__builder__preview col-md-12">
                <div class="row" v-if="card">
                    <div class="col-md-4 mystore--referrable-links__builder__preview__img-container" ref="imgContainer">
                        <a href="#changeImg" @click="$refs.fileInput.click()"
                           class="mystore--referrable-links__builder__preview__img-container__change-img-button"><i
                                class="fas fa-image"></i></a>
                        <FreeTransform v-if="previewImage"
                                       :x="imgPosX"
                                       :y="imgPosY"
                                       :scale-x="1"
                                       :scale-y="1"
                                       :width="imgWidth"
                                       :height="imgHeight"
                                       :angle="0"
                                       :offset-x="0"
                                       :offset-y="0"
                                       :disable-scale="false"
                                       @update="onChangeImgPos($event)"
                                       @dblclick="$refs.fileInput.click()"
                        >
                            <div class="element" v-if="card.imageData"
                                 v-bind:style="{ width: imgWidth + 'px', height: imgHeight + 'px', left: imgPosX + 'px', top: imgPosY + 'px' }">
                                <img ref="image" :src="previewImage" alt="">
                            </div>
                        </FreeTransform>
                        <img v-else src="https://via.placeholder.com/300x300.png?text=Image"
                             alt="" @click="$refs.fileInput.click()" class="placeholder">

                        <input style="display: none" ref="fileInput" type="file" @change="fileSelected"
                               enctype="multipart/form-data">
                        <vue-slider v-if="previewImage && card.imageData" :min="0" :max="1200"
                                    v-model="card.imageData.width" @change="onSizeChange"></vue-slider>
                    </div>
                    <div class="col-md-8 mystore--referrable-links__builder__preview__content">
                        <div class="couponBox" style="position: absolute;right: 10px;bottom: 10px;" v-if="card.coupon && card.coupon.code">{{ card.coupon.discount }}{{ card.coupon.discount_type === 'percent' ? '%' : '€' }} OFF</div>
                        <h4>
                            <span @click="enableTitleEdition" v-if="card !== undefined" v-show="!titleEdition">
                                <span>{{ card.title && card.title.length ? card.title : 'Enter header text' }}</span>
                            </span>
                            <textarea ref="titleInput"
                                      @focusout="titleEdition = false"
                                      @change="card.title = card.title.trim()"
                                      v-show="titleEdition"
                                      v-model="card.title"
                                      type="text"
                                      class="form-control"
                                      style=" font-size: 21.2px; font-family: 'Gill Sans'; line-height: 22px; margin-left: -12px; margin-top: -6px; width: calc(100% + 20px); word-break:initial; overflow:hidden; border:none !important; outline:none !important; box-shadow:none !important; letter-spacing:0.2px;"
                                      maxlength="111"
                                      @input="resizeTextarea('titleInput')"
                            ></textarea>
                        </h4>
                        <span class="help-block" v-if="validationErrors.title">
                            <ul class="list-unstyled">
                                <li v-for="error in validationErrors.title"><span
                                        class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                            </ul>
                        </span>
                        <span @click="enableDescriptionEdition" v-if="card !== undefined" v-show="!descriptionEdition">
                                <span v-if="card.description && card.description.length" style="font-family: 'Gill Sans';letter-spacing: 0.1px;font-size: 19.4px;line-height: 21px;display: block;word-break: initial;max-height: 169px;overflow: hidden;padding-right: 3px;">
                                    <span v-html="card.description"></span>
                                </span>
                                <span v-else>Enter body text</span>
                            </span>
                        <textarea ref="descriptionInput"
                                  @focusout="descriptionFocusOut"
                                  @change="card.description = card.description.trim()"
                                  v-show="descriptionEdition"
                                  v-model="card.description"
                                  class="form-control"
                                  maxlength="340"
                                  style="width: calc(100% + 20px); min-height: 180px; resize: none; font-size: 19.4px; margin-left: -12px; margin-top: -6px; line-height: 21px; margin-right: -16px; word-break: initial; font-family: 'Gill Sans'; padding-right: 11px; border: none !important; outline: none !important; box-shadow: none !important; display: none; letter-spacing:0.1px"
                                  @input="resizeTextarea('descriptionInput')"
                        ></textarea>
                        <span class="help-block" v-if="validationErrors.description">
                            <ul class="list-unstyled">
                                <li v-for="error in validationErrors.description"><span
                                        class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="mystore--referrable-links__builder__preview__footer col-md-8">
                            <span class="mystore--referrable-links__builder__preview__footer__target-link">
                                {{ card.destinationUrl && card.destinationUrl.indexOf('//') > -1 ? card.destinationUrl.split('//')[1].indexOf('/') > -1 ? card.destinationUrl.split('//')[1].split('/')[0] : card.destinationUrl.split('//')[1] : card.destinationUrl && card.destinationUrl.indexOf('/') > -1 ? card.destinationUrl.split('/')[0] : card.destinationUrl }}
                            </span>
                    </div>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-12" style="margin-top: 10px; text-align:center;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import FreeTransform from 'vue-free-transform'
    import VueSlider from 'vue-slider-component';

    export default {
        mixins: [Request],
        props: ['referrerLink', 'shop'],
        components: {
            FreeTransform,
            VueSlider
        },
        data() {
            return {
                titleEdition: false,
                descriptionEdition: false,
                card: {},
                csrf: '',
                previewImage: null,
                ogImage: null,
                uploadFiles: [],
                file: null,
                fileUrl: null,
                validationErrors: {},
                loaded: false
            }
        },
        computed: {
            imgWidth() {
                return this.card.imageData ? this.card.imageData.width : 0;
            },
            imgHeight() {
                return this.card.imageData ? this.card.imageData.height : 0;
            },
            imgPosX() {
                return this.card.imageData ? this.card.imageData.position.x : 0;
            },
            imgPosY() {
                return this.card.imageData ? this.card.imageData.position.y : 0;
            }
        },
        mounted() {
            this.getStoreCard();
        },
        methods: {
            getStoreCard() {
                this.makeRequest('GET', this.getFormEndpoint())
                    .then((response) => {
                        this.card = {
                            destinationUrl: response.data.destination_url && response.data.destination_url.indexOf('www') > -1 ? response.data.destination_url.split('www.')[1] : response.data.destination_url,
                            title: response.data.title && response.data.title.length > 108 ? response.data.title.substring(0, 108) + '...' : response.data.title,
                            description: response.data.description && response.data.description.length > 337 ? response.data.description.substring(0, 337) + '...' : response.data.description,
                            imageData: {
                                position: response.data.image_position,
                                width: response.data.image_width || 300,
                                height: response.data.image_height || 300
                            },
                            coupon: response.data.coupon
                        };

                        this.card.imageData.ratio = this.card.imageData.width / this.card.imageData.height;

                        if (response.data.image.file_name) {
                            this.card.image = '/media/' + response.data.image.file_name;
                            this.setDefaultImageUrl();
                        }

                        if (!this.card.title || !this.card.description || !this.card.image) {
                            this.getOpenGraphData();
                        } else {
                            this.loaded = true;
                        }
                    })
            },
            save() {
                this.validationErrors = {};
                this.makeRequest('POST', this.getFormEndpoint(), this.getFormParams())
                    .then((response) => {
                        toastr.success(response.data.message);
                    })
                    .catch((err) => {
                        let errors = {};
                        _.each(err.response.data, function (msg, index) {
                            if (Number.isInteger(parseInt(index))) {
                                toastr.error(msg)
                            } else {
                                errors[index] = msg;
                            }
                        });
                        this.validationErrors = errors;
                    });
            },
            getOpenGraphData() {
                this.makeRequest('GET', `/ajax/referrer-link/${this.referrerLink}/open-graph`)
                    .then((response) => {
                        if (response.data.image) {
                            this.ogImage = response.data.image;

                            var $this = this;

                            if (this.ogImage && !this.card.image) {
                                var img = new Image();
                                img.onload = function () {
                                    $this.card.imageData.width = this.width <= 600 ? this.width : 600;
                                    let tempRatio = this.width / $this.card.imageData.width;
                                    $this.card.imageData.height = this.height / tempRatio;
                                    $this.card.imageData.ratio = this.width / this.height;

                                    $this.card.imageData.position.x = ($this.$refs.imgContainer.offsetWidth - $this.card.imageData.width) / 2;
                                    $this.card.imageData.position.y = ($this.$refs.imgContainer.offsetHeight - $this.card.imageData.height) / 2;
                                };
                                img.src = this.ogImage;

                                this.setImageUrl(this.ogImage);
                            }
                            if (response.data.title) {
                                this.card.title = response.data.title;
                            }
                            if (response.data.description) {
                                this.card.description = response.data.description;
                            }
                        }
                        this.loaded = true;
                    })
            },
            getFormParams() {
                let formData = new FormData();
                if (this.file) {
                    formData.append('image[file]', this.file);
                } else if (this.fileUrl) {
                    formData.append('imageUrl', this.fileUrl);
                }
                formData.append('title', this.card.title);
                formData.append('description', this.card.description);

                for (var key in this.card.imageData.position) {
                    formData.append('imagePosition[' + key + ']', this.card.imageData.position[key]);
                }

                formData.append('imageWidth', this.card.imageData.width);
                formData.append('imageHeight', this.card.imageData.height);

                // formData.append('_token', this.token);
                return formData;
            },
            getFormEndpoint() {
                return `/ajax/referrer-link/${this.referrerLink}/store-card`;
            },
            setImageUrl(image) {
                this.file = null;
                this.fileUrl = image;
                this.previewImage = image;
            },
            setImageFile(file) {
                this.file = file;
                this.fileUrl = null;
                this.previewImage = this.fileToUrl(file)

                let $this = this;

                let reader = new FileReader();
                let base64data;
                reader.readAsDataURL(file);
                reader.onloadend = function () {
                    base64data = reader.result;
                    let i = new Image()
                    i.onload = function () {
                        $this.card.imageData.width = i.width;
                        $this.card.imageData.height = i.height;
                        $this.card.imageData.position.x = 0;
                        $this.card.imageData.position.y = 0;
                        $this.card.imageData.ratio = i.width / i.height;
                    };
                    i.src = base64data;
                }
            },
            fileToUrl(file) {
                return URL.createObjectURL(file);
            },
            fileSelected(e) {
                this.previewImage = this.fileToUrl(e.target.files[0]);
                this.setImageFile(e.target.files[0]);
            },
            setDefaultImageUrl() {
                this.file = null;
                this.fileUrl = null;
                this.previewImage = this.card.image;
            },
            enableDescriptionEdition() {
                this.descriptionEdition = true;
                this.changeFocus(this.$refs.descriptionInput);

                this.card.description = this.card.description.replace(/<br\s*[\/]?>/gi, "\n")

                setTimeout(() => {
                    var event = new Event('input', {
                        'bubbles': true,
                        'cancelable': true
                    });

                    this.$refs.descriptionInput.dispatchEvent(event);
                }, 50);
            },
            enableTitleEdition() {
                this.titleEdition = true;
                this.changeFocus(this.$refs.titleInput);
                setTimeout(() => {
                    var event = new Event('input', {
                        'bubbles': true,
                        'cancelable': true
                    });

                    this.$refs.titleInput.dispatchEvent(event);
                }, 50);
            },
            changeFocus(elemnet) {
                this.$nextTick(function () {
                    elemnet.focus();
                })
            },
            onChangeImgPos($event) {
                this.card.imageData.position.x = $event.x;
                this.card.imageData.position.y = $event.y;
            },
            onSizeChange(value) {
                this.card.imageData.height = value / this.card.imageData.ratio;
                this.card.imageData.width = value;
            },
            descriptionFocusOut() {
                this.card.description = this.card.description.replace(/\n/g, '<br/>');
                this.descriptionEdition = false;
            },
            resizeTextarea(ref) {
                var $el = ref == 'titleInput' ? this.$refs.titleInput : this.$refs.descriptionInput;

                if ($el.innerHeight < $el.scrollHeight) {
                    $el.style.height = $el.scrollHeight + 'px';
                } else {
                    $el.style.height = 1 + 'px';
                    $el.style.height = $el.scrollHeight + 'px';
                }
            }
        }
    }
</script>
