<template>
	<sidebar
		:activeElement="activeElement"
		v-bind="{
            elements: [
                {
                    name: 'ValueLink Summary',
                    url: `/account/referrer/company/${shopID}/`,
                },
                {
                    name: 'ValueLink Links',
                    url: `/account/referrer/company/${shopID}/link`,
                },
                {
                    name: 'My Store',
                    url: '/account/store/me',
                },
                {
                    name: 'ValueLink Cards',
                    url: `/account/referrer/company/${shopID}/card`,
                },
                {
                    name: 'Set of Cards',
                    url: `/account/referrer/company/${shopID}/card-set`,
                }
            ]
        }"
	>

	</sidebar>
</template>

<script>
    import Sidebar from "../../Sidebar";
    export default {
        components: {Sidebar},
        props: {
            activeElement: {
                type: String,
                required: true
            },
            shopID: {
                type: String,
                required: true
            }
        }
    }
</script>