<template>
    <div class="mystore--referrable-links__row--wrapper" style="box-shadow: none; border: none">
        <div class="mystore--referrable-links__row">
            <div class="mystore--referrable-links__row__link">
                <div class="mystore--referrable-links__row__dap--label affiliate-link">
                    Affiliate link
                </div>
                {{ linkUrl }}
            </div>
            <div class="mystore--referrable-links__row__dap">
                <div class="mystore--referrable-links__row__dap--label">
                    Add picture & activate
                </div>
                OFF
                <label class="switch" style="margin: 0; vertical-align: middle">
                    <input v-model="showAsCard" type="checkbox" @change="toggleShowInMyStoreAsCard">
                    <div></div>
                </label>
                ON
            </div>
        </div>
        <my-store-referrable-link-edition v-if="showAsCard" :referrer-link="referrerLink" :shop="shop"></my-store-referrable-link-edition>
    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import MyStoreReferrableLinkEdition from './MyStoreReferrableLinkEdition';

    export default {
        mixins: [Request],
        props: ['checked', 'shop', 'referrerLink', 'csrf', 'linkUrl'],
        components: {
            MyStoreReferrableLinkEdition
        },
        data() {
            return {
                showAsCard: undefined,
            }
        },
        mounted() {
            this.showAsCard = this.checked;
        },
        methods: {
            toggleShowInMyStoreAsCard() {
                this.makeRequest(
                    'POST',
                    `/account/referrer/company/${this.shop}/referrer-link/${this.referrerLink}/my-store`,
                    { 'showInMyStoreAsCard': +this.showAsCard, '_token': this.csrf }
                )
                    .catch(() => {
                        this.showAsCard = !value;
                    })
            }
        }
    }
</script>