<template>
  <div class="static">
    <div class="mystore__contact mystore__social-icons" v-if="!emptySocialUrls && !editMode">
      <div class="mystore__social-icon" v-if="itemExists('facebook')">
        <a :href="socials.facebook"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('instagram')">
        <a :href="socials.instagram"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('twitter')">
        <a :href="socials.twitter"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('youtube')">
        <a :href="socials.youtube"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('linkedin')">
        <a :href="socials.linkedin"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="mystore__contact mystore__social-icons" v-if="!emptySocialUrls && editMode">
      <div class="mystore__social-icon" v-if="itemExists('facebook')">
        <a @click="socialsModalHandler"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('instagram')">
        <a @click="socialsModalHandler"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('twitter')">
        <a @click="socialsModalHandler"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('youtube')">
        <a @click="socialsModalHandler"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="mystore__social-icon" v-if="itemExists('linkedin')">
        <a @click="socialsModalHandler"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <button v-if="emptySocialUrls && editMode" class="btn btn-primary btn btn-primary
" @click="socialsModalHandler">
      Social Icons
    </button>

    <Modal
        title="Add Your Social Links"
        :isOpen="modalIsOpen"
        @close="socialsModalHandler"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveSocialsData"></save-button>
      </template>
      <div class="mystore__modal-inputs">
        <div class="mystore__modal-input-container">
          <label for="social-facebook"><i class="fab fa-facebook"></i></label>
          <input type="text" id="social-facebook" v-model="editableData.facebook" placeholder="Facebook">
        </div>
        <div class="mystore__modal-input-container">
          <label for="social-instagram"><i class="fab fa-instagram"></i></label>
          <input type="text" id="social-instagram" v-model="editableData.instagram" placeholder="Instagram">
        </div>
        <div class="mystore__modal-input-container">
          <label for="social-twitter"><i class="fab fa-twitter"></i></label>
          <input type="text" id="social-twitter" v-model="editableData.twitter" placeholder="Twitter">
        </div>
        <div class="mystore__modal-input-container">
          <label for="social-youtube"><i class="fab fa-youtube"></i></label>
          <input type="text" id="social-youtube" v-model="editableData.youtube" placeholder="YouTube">
        </div>
        <div class="mystore__modal-input-container">
          <label for="social-linkedin"><i class="fab fa-linkedin"></i></label>
          <input type="text" id="social-linkedin" v-model="editableData.linkedin" placeholder="Linkedin">
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Modal from "./Modal"
import SaveButton from "./Common/SaveButton";

export default {
  components: {
    Modal,
    SaveButton
  },
  props: {
    socials: {
      type: Object,
      required: true
    },
    editMode: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    modalIsOpen: false,
    editableData: {
      facebook: '',
      instagram: '',
      twitter: '',
      youtube: '',
      linkedin: ''
    }
  }),
  watch: {
    socials() {
      this.editableData = {
        facebook: this.socials.facebook || '',
        instagram: this.socials.instagram || '',
        twitter: this.socials.twitter || '',
        youtube: this.socials.youtube || '',
        linkedin: this.socials.linkedin || ''
      }
    }
  },
  computed: {
    emptySocialUrls() {
      return (
          Object.keys(this.socials).length === 0 ||
          Object.values(this.socials).every(el => (el === '' || el === null))
      )
    }
  },
  methods: {
    itemExists(name) {
      return this.socials[name] && this.socials[name].length > 0
    },
    socialsModalHandler() {
      this.modalIsOpen = !this.modalIsOpen
    },
    saveSocialsData() {
      this.socialsModalHandler()

      this.$emit('save-data', this.editableData)
    },
  }
}
</script>