<template>
  <div class="static">
    <button v-if="editMode" class="btn btn-primary" @click="yourLinkModalHandler">Custom Links</button>
    <div class="mystore__og-tags" v-if="yourLinks.length > 0 && !editMode">
      <a :href="link.destinationUrl" class="mystore__og-preview " :class="link.layout && 'mystore__og-preview--;' + (link.layout || 'text')" v-for="link in yourLinks">
        <img v-if="(link.image && !link.video) || (link.image && link.video && !link.showVideo)" :src="link.image" alt="" @load="checkImgDimensions"/>
        <div class="ytEmbed" v-if="(link.video && !link.image) || (link.image && link.video && link.showVideo)" v-html="link.video"></div>
        <p>{{ link.title || link.customTitle || link.destinationUrl }}</p>
      </a>
    </div>
    <div class="mystore__og-tags" v-if="yourLinks.length > 0 && editMode">
      <draggable v-model="sortableLinks" group="yourLinks" @change="updateLinks">
        <a @click="yourLinkEditHandler(index)" class="mystore__og-preview " :class="link.layout && 'mystore__og-preview--' + (link.layout || 'text')" v-for="(link, index) in yourLinks" :key="index">
          <img v-if="(link.image && !link.video) || (link.image && link.video && !link.showVideo)" :src="link.image" alt="" @load="checkImgDimensions" />
          <div class="ytEmbed" v-if="(link.video && !link.image) || (link.image && link.video && link.showVideo)" v-html="link.video"></div>
          <p>{{ link.title || link.customTitle || link.destinationUrl }}</p>
        </a>
      </draggable>
    </div>

    <Modal
        :title="isEdit ? 'Edit Your Link' : 'Add Your Link'"
        :isOpen="modalIsOpen"
        @close="yourLinkModalHandler"
    >
      <template v-slot:saveButton>
        <save-button @save-click="saveYourLinkData" :disabled="!canSaveLink || hasErrors"></save-button>
        <delete-button @delete-click="removeLink" v-if="isEdit"></delete-button>
      </template>
      <div class="mystore__modal-inputs">

        <label class="mystore__modal-input-container">
          <input type="text" id="edit-your-link" placeholder="Enter link..." v-model="editableLink" @input="updateMeta" :disabled="isLoading" />
        </label>

        <small class="mystore-input-helper" v-if="timeToLoad > 0">Update in {{ timeToLoad }} second(s)</small>
        <label class="mystore__modal-input-container" v-if="!isLoading && !editableTitle && hasMetaLoaded && !hasErrors">
          <input type="text" id="edit-your-link-title" placeholder="Your link title" v-model="editableCustomTitle" />
        </label>

        <div class="my-card-editor__checkbox alert alert-warning" v-if="hasBothMedia && this.editableLayout != 'text' ">
          <input type="checkbox" id="addShowVideo" :value="false" :checked="haveShowVideo" @change="changeHaveShowVideo">
          <label for="addShowVideo">Show video</label>
        </div>

        <div class="mystore__modal-choose">
          <div class="mystore__modal-choose-checkbox">
            <input type="radio" id="edit-og-text" name="edit-layout" value="text" v-model="editableLayout" />
            <label class="preview" for="edit-og-text">
              <text-icon></text-icon>
            </label>
          </div>
          <div class="mystore__modal-choose-checkbox">
            <input type="radio" id="edit-og-line" name="edit-layout" value="line" v-model="editableLayout" :disabled="!editableImage || editableVideo" />
            <label class="preview" for="edit-og-line">
              <left-icon></left-icon>
            </label>
          </div>
          <div class="mystore__modal-choose-checkbox">
            <input type="radio" id="edit-og-default" name="edit-layout" value="default" v-model="editableLayout" :disabled="!editableImage" />
            <label class="preview" for="edit-og-default">
              <top-icon></top-icon>
            </label>
          </div>
        </div>
        <div class="mystore__modal-your-link-preview" v-if="isLoading">
          <div class="mystore__og-tags">
            <img src="/images/loading.gif" alt="Loader" />
          </div>
        </div>
        <div class="mystore__modal-your-link-preview" v-if="showPreview && !isLoading">
          <div class="mystore__og-tags">
            <a class="mystore__og-preview" :class="editableLayout && 'mystore__og-preview--' + (editableLayout || 'text')">
              <img v-if="(editableImage && !editableVideo) || (hasBothMedia && !haveShowVideo) " :src="editableImage" alt="" @load="checkImgDimensions" />
              <div class="ytEmbed" v-if="(editableVideo && !editableImage) || (hasBothMedia && haveShowVideo)" v-html="editableVideo"></div>
              <p>{{ editableTitle || editableCustomTitle || editableLink }}</p>
            </a>
          </div>
        </div>
        <div class="mystore__modal-your-link-preview" v-if="!isLoading && !showPreview && !hasMetaLoaded">
          <div class="mystore__og-tags">
            <a class="mystore__og-preview" :class="editableLayout && 'mystore__og-preview--' + (editableLayout || 'text')">
              <p>Enter Your Link</p>
            </a>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Request from "../../../Mixins/Request";

import draggable from 'vuedraggable'
import ToggleButton from 'vue-js-toggle-button'
import Modal from "./Modal"
import SaveButton from "./Common/SaveButton";
import DeleteButton from "./Common/DeleteButton";
import TextIcon from "../../../Icons/TextIcon";
import LeftIcon from "../../../Icons/LeftIcon";
import TopIcon from "../../../Icons/TopIcon";

export default {
  mixins: [Request],
  components: {
    ToggleButton,
    draggable,
    TextIcon,
    LeftIcon,
    TopIcon,
    Modal,
    SaveButton,
    DeleteButton
  },
  props: {
    state: Boolean,
    yourLinks: {
      type: Array,
      required: true
    },
    toastConf: {
      type: Object,
      required: true
    },
    editMode: {
      type: Boolean,
      required: true
    },
  },
  data: () => ({
    haveShowVideo: null,
    hasMetaLoaded: false,
    timeToUpdateMeta: 2, // in seconds
    timeToLoad: 0,
    stepTimeout: null,
    sortableLinks: [],
    isLoading: true,
    metaTimer: null,
    modalIsOpen: false,
    yourLinkModalIndex: null,
    editableLink: null,
    editableTitle: null,
    editableImage: null,
    editableVideo: null,
    editableLayout: null,
    editableCustomTitle: null,
    errors: null,
    toggle: null
  }),
  mounted() {
    this.resetData()
    if (this.yourLinks) this.sortableLinks = [...this.yourLinks];
  },
  watch: {
    editableImage(val) {
      if (!val) {
        this.editableLayout = 'text';
      }
    },
    yourLinks(val) {
      this.sortableLinks = val
    }
  },
  computed: {
    isEdit() {
      return (typeof this.yourLinkModalIndex === 'number' && this.yourLinkModalIndex >= 0)
    },
    showPreview() {
      return (this.editableTitle || this.editableCustomTitle || this.editableLink)
    },
    canSaveLink() {
      return (!this.isLoading && this.hasMetaLoaded && this.showPreview)
    },
    hasBothMedia() {
      return (this.editableImage && this.editableVideo);
    },
    hasErrors() {
      return this.errors;
    }
  },
  methods: {
    reset () {
      this.state = false
    },
    checkImgDimensions(e) {
      if (e.target.naturalHeight < e.target.naturalWidth) {
        e.target.classList.add('mystore__og-preview--cover')
      } else {
        e.target.classList.remove('mystore__og-preview--cover')
      }
    },
    loadStep(step) {
      this.hasMetaLoaded = false
      this.timeToLoad = step
      if (this.stepTimeout) clearTimeout(this.stepTimeout)
      this.stepTimeout = setTimeout(() => {
        if (this.timeToLoad > 0) this.loadStep(this.timeToLoad - 1)
      }, 1000)
    },
    resetData() {
      this.haveShowVideo = false
      this.hasMetaLoaded = false
      this.editableLink = null
      this.editableTitle =  null
      this.editableImage = null
      this.editableVideo = null
      this.editableLayout = 'text'
      this.editableCustomTitle = null
      this.isLoading = false
    },
    updateLinks() {
      this.$emit('update-sort', this.sortableLinks)
    },

    getEventBoolVal(e) {
      return !!(e && e.target && e.target.checked)
    },

    changeHaveShowVideo(e) {
      this.$emit('showVideo', this.yourLinkModalIndex)
      this.haveShowVideo = this.getEventBoolVal(e);
    },

    updateMeta() {

      this.errors = false
      if (this.editableLink && !this.isLoading) {
        this.loadStep(this.timeToUpdateMeta)
        clearTimeout(this.metaTimer)
        this.metaTimer = setTimeout(() => {
          this.isLoading = true
          if (this.editableLink.substr(0 ,4) !== 'http') {
            this.editableLink = `http://${this.editableLink}`
          }
          this.makeRequest('GET', '/api/v1/meta/', {
            link: this.editableLink
          })
              .then(response => {
                this.loadStep(0)
                if (response && response.data) {
                  if (!response.data.title) {
                    this.editableCustomTitle = null
                    this.editableTitle = null
                    this.editableImage = null
                    this.editableVideo = null
                  } else {
                    this.editableTitle = response.data.title || null
                    this.editableImage = response.data.image || null
                    if (response.data.iframe) {
                      this.editableVideo = response.data.iframe
                      this.editableLayout = 'default'
                    } else {
                      this.editableVideo = null
                    }
                    if (response.data.iframe && response.data.image) this.haveShowVideo = true
                  }
                } else {
                  toastr.options = this.toastConf
                  toastr.error('Unknown error - get meta tags')
                }
                this.isLoading = false
                this.hasMetaLoaded = true
              }, error => {
                this.loadStep(0)
                if (error && error.response && error.response.data && error.response.data.errors) {
                  this.errorsLoop(error.response.data.errors)
                  this.errors = error.response.data.errors
                } else {
                  this.errors = error.message
                  toastr.options = this.toastConf
                  toastr.error(error.message || error)
                }
                this.editableCustomTitle = null
                this.editableTitle = null
                this.editableImage = null
                this.editableVideo = null
                this.isLoading = false
                this.hasMetaLoaded = true
              })
        }, (this.timeToUpdateMeta * 1000))
      }
    },
    yourLinkModalHandler() {
      this.modalIsOpen = !this.modalIsOpen;
      this.yourLinkModalIndex = null;
      this.resetData();
    },
    yourLinkEditHandler(index) {
      this.isLoading = true;
      this.modalIsOpen = !this.modalIsOpen;
      this.yourLinkModalIndex = index;
      if (this.yourLinks[index]) {
        this.editableLink   = this.yourLinks[index].destinationUrl || null
        this.editableTitle  = this.yourLinks[index].title || null
        this.editableImage  = this.yourLinks[index].image || null
        this.editableVideo  = this.yourLinks[index].video || null
        this.editableLayout = this.yourLinks[index].layout || (this.editableImage ? 'line' : 'text')
        this.haveShowVideo  = this.yourLinks[index].showVideo
        this.editableCustomTitle = null
        this.hasMetaLoaded = true
      } else {
        this.resetData()
      }

      this.makeRequest('GET', `/api/v1/meta/`, {
        link: this.editableLink
      })
          .then(response => {
            if (response && response.data) {
              if (!response.data.title) {
                this.editableCustomTitle = this.editableTitle
                this.editableTitle = null
                this.editableImage = null
                this.editableVideo = null
              } else {
                this.editableTitle = response.data.title || null
                this.editableImage = response.data.image || null
                if (response.data.iframe) {
                  this.editableVideo = response.data.iframe
                  this.editableLayout = 'default'
                } else {
                  this.editableVideo = null
                }
              }
            } else {
              toastr.options = this.toastConf
              toastr.error('Unknown error - get meta tags')
            }
            this.isLoading = false
            this.hasMetaLoaded = true
          }, error => {
            if (error && error.response && error.response.data && error.response.data.errors) {
              this.errorsLoop(error.response.data.errors)
            } else {
              toastr.error(error.message || error)
            }
            this.resetData()
            this.hasMetaLoaded = true
          })
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            toastr.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    saveYourLinkData() {
      this.$emit('save-data', {
        index: this.yourLinkModalIndex,
        data: {
          destinationUrl: this.editableLink,
          title: this.editableTitle,
          image: this.editableImage,
          video: this.editableVideo,
          layout: this.editableLayout,
          customTitle: this.editableCustomTitle,
          showVideo: this.haveShowVideo,
          hasBothMedia: this.hasBothMedia,
        }
      })
      this.yourLinkModalHandler()
    },
    removeLink() {
      this.$emit('remove-data', this.yourLinkModalIndex)
      this.yourLinkModalHandler()
    },
  }
}
</script>


