<template>
  <div class="row widget-rewards-list mb-10">
    <div class="item-parent col-md-4 col-sm-6 col-xs-12" v-if="!isLoading">
      <div class="item new" @click="handleCreateCampaignOpen">
        <i class="fa fa-plus"></i>
        <p>Add New Campaign</p>
      </div>
    </div>
    <div class="item-parent col-md-4 col-sm-6 col-xs-12" v-for="(campaign, index) in campaigns" :key="index" v-if="!isLoading">
      <item
        :campaign="campaign"
        :index="index"
        @create-campaign-open="handleCreateCampaignOpen"
        @edit-campaign-open="handleEditCampaignOpen"
        @delete-campaign-open="handleDeleteCampaign"
        @deactivate-campaign="handleDeactivateCampaign"
        @activate-campaign="handleActivateCampaign"
      ></item>
    </div>
  </div>
</template>

<script>
    import Item from "./Item";

    export default {
      components: {
        Item
      },
      props: {
        campaigns: {
          type: Array,
          default: () => ([])
        },
        isLoading: {
          type: Boolean,
          required: true
        },
      },
      methods: {
        handleCreateCampaignOpen() {
          this.$emit('create-campaign-open')
        },
        handleEditCampaignOpen(index) {
          this.$emit('edit-campaign-open', index)
        },
        handleDeleteCampaign(data) {
          this.$emit('delete-campaign-open', data)
        },
        handleDeactivateCampaign(data) {
          this.$emit('deactivate-campaign', data)
        },
        handleActivateCampaign(data) {
          this.$emit('activate-campaign', data)
        },
      }
    }
</script>
