<template>
  <div class="item">
    <div class="top-actions">
      <button type="button" class="btn btn-link" @click="handleEditCampaignOpen(index)">
        <i class="fa fa-pencil-square-o"></i>
      </button>
      <button v-if="!campaign.activatedAt" type="button" class="btn btn-link danger" @click="handleDeleteCampaign(campaign, index)">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <h4>{{ campaign.name || `Campaign ${index}` }}</h4>
    <table class="table">
      <tr>
        <td>Created&nbsp;at:</td>
        <td><strong>{{ campaign.createdAt || 'Unknown' }}</strong></td>
      </tr>
      <tr>
        <td>Link&nbsp;Validity:</td>
        <td><strong>{{ linkValidityText(campaign) }}</strong></td>
      </tr>
      <tr class="star" v-if="campaign.activatedAt">
        <td>Activated&nbsp;at:</td>
        <td><strong>{{ campaign.activatedAt }}</strong></td>
      </tr>
    </table>
    <div class="actions">
      <button type="button"
              class="btn btn-link danger"
              v-if="campaign.activatedAt"
              @click="handleDeactivateCampaign(campaign, index)"
      >Stop</button>
      <button type="button"
              class="btn btn-link"
              v-else
              @click="handleActivateCampaign(campaign, index)"
      >Activate</button>
    </div>
  </div>
</template>

<script>
    export default {
      props: {
        campaign: {
          type: Object,
          required: true
        },
        index: {
          type: Number,
          required: true
        }
      },
      methods: {
        handleCreateCampaignOpen() {
          this.$emit('create-campaign-open')
        },
        handleEditCampaignOpen(index) {
          this.$emit('edit-campaign-open', index)
        },
        handleDeleteCampaign(campaign, index) {
          this.$emit('delete-campaign-open', {
            campaign, index
          })

        },
        handleDeactivateCampaign(campaign, index) {
          this.$emit('deactivate-campaign', {
            campaign, index
          })
          this.$forceUpdate();
        },
        handleActivateCampaign(campaign, index) {
          this.$emit('activate-campaign', {
            campaign, index
          })
          this.$forceUpdate()
        },
        linkValidityText(campaign) {
          if (campaign && campaign.setting) {
            switch (campaign.setting.referrerLinkValidityMode.toString()) {
              case '1':
                return 'until campaign is active';
             /* case '2':
                return `${campaign.setting.referrerLinkValidityDays} ${(campaign.setting.referrerLinkValidityDays > 1 ? 'days' : 'day')} from link generation`*/
              case '2':
                return campaign.setting.referrerLinkValidityDate
            }
          }
          return 'Unknown'
        },
      },
    }
</script>
