{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}link-images{% endblock %}

{% block scripts %}
    <script>
        $('.edit-link').click(function () {
            $($(this).data('target')).toggle();
        })

        $('.btn-delete').click(function () {
            axios.delete($(this).data('url'))
                .then(function () {
                    window.location.reload();
                })
        })
    </script>
{% endblock %}
{% block tab_content %}
    <div class="row">
        {% if links|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Partner<br/>Id</th>
                        <th>First<br/>Name</th>
                        <th>Last<br/>Name</th>
                        <th>Email</th>
                        <th>Link</th>
                        <th>Card<br/>Image</th>
                        <th>MyStore<br/>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{ link.referrer.id }}</td>
                            <td>{{ link.referrer.name }}</td>
                            <td>{{ link.referrer.surname }}</td>
                            <td><a href="mailto:{{ link.referrer.email }}">{{ link.referrer.email }}</a></td>
                            <td>
                                {% if link.shop.urlName and link.nickname and link.slug %}
                                    <a href="{{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">[link]</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if link.card %}
                                    {{ link.card.adminImageUpdates }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if link.storeCard %}
                                    {{ link.storeCard.adminImageUpdates }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if
                                    (link.card and link.card.background.fileName is defined) or
                                    (link.storeCard and link.storeCard.image.fileName is defined) %}
                                    <button type="button" class="btn btn-primary edit-link"
                                            data-target="#card-{{ link.id }}">See<br/>Content
                                    </button>
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none;" id="card-{{ link.id }}">
                            <td colspan="8">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% if link.card and link.card.background.fileName is defined %}
                                            <div class="col-md-6">
                                                <h4>Card generator</h4>
                                                <img style="width:100%" src="/media/{{ link.card.background.fileName }}"/>
                                                <button class="btn btn-danger btn-delete mt-10"
                                                        data-url="{{ path('admin_referrer_link_card_image_delete', {referrerLink: link.id}) }}">
                                                    Delete
                                                </button>
                                            </div>
                                        {% endif %}

                                        {% if link.storeCard and link.storeCard.image.fileName is defined %}
                                            <div class="col-md-6">
                                                <h4>MyStore banner</h4>
                                                <img style="width:100%" src="/media/{{ link.storeCard.image.fileName }}"/>
                                                <button class="btn btn-danger btn-delete mt-10"
                                                        data-url="{{ path('admin_referrer_link_store_image_delete', {referrerLink: link.id}) }}">
                                                    Delete
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_pagination_render(links) }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no links to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
