<template>
  <div class="icon-editor">
    <div class="header">
      <nav class="left">
        <ul>
          <li>
            <button type="button" class="btn btn-outline-primary" @click="() => {
                previewMobile(false);
                centerBellIcon();
              }"
              :class="{active: !isPreviewMobile}"
            >
              <svg enable-background="new 0 0 512 512" :height="iconHeight" viewBox="0 0 512 512"><g><path d="m498.691 34.311h-485.381c-7.339 0-13.31 5.971-13.31 13.31v306.698c0 7.339 5.971 13.31 13.31 13.31h206.618c3.525 6.849 5.841 14.248 6.856 21.863h-74.459c-4.743 0-9.062 2.41-11.552 6.448l-26.099 42.317c-1.313 2.13-2.019 4.599-2.019 7.123v18.737c0 7.484 6.088 13.572 13.572 13.572h259.547c7.483 0 13.572-6.088 13.572-13.572v-18.737c0-2.535-.715-5.012-2.021-7.125l-26.098-42.314c-2.489-4.038-6.809-6.449-11.553-6.449h-74.459c1.015-7.614 3.331-15.013 6.856-21.863h134.126c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-411.197v-303.318h482v303.318h-35.802c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h37.492c7.339 0 13.31-5.971 13.31-13.31v-306.699c0-7.339-5.971-13.309-13.309-13.309zm-120.283 401.847h-168.784c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h174.722v11.531h-256.692v-11.531h46.969c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-41.032l19.53-31.666h74.251v10.239c0 4.891 3.293 9.215 8.007 10.516 13.545 3.737 27.803 3.707 41.239 0 4.715-1.3 8.008-5.625 8.008-10.516v-10.239h74.252zm-102.815-68.529c-3.925 9.732-5.966 20.167-5.966 30.732v13.175c-8.974 2.004-18.283 2.003-27.254 0v-13.175c0-10.565-2.041-21.001-5.965-30.732z"/><path d="m51.94 74.311c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-18.404c-4.707 0-8.536 3.829-8.536 8.536v266.246c0 4.707 3.829 8.536 8.536 8.536h444.928c4.707 0 8.536-3.829 8.536-8.536v-266.246c0-4.707-3.829-8.536-8.536-8.536h-391.524c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h385.06v253.318h-432v-253.318z"/></g></svg>
              &nbsp;&nbsp;
              <svg enable-background="new 0 0 512 512" :height="iconHeight" viewBox="0 0 512 512"><g><circle cx="286" cy="474.5" r="7.5"/><circle cx="316" cy="474.5" r="7.5"/><path d="m256 467h-60c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h60c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"/><path d="m421 0h-330c-20.678 0-37.5 16.822-37.5 37.5v437c0 20.678 16.822 37.5 37.5 37.5h330c20.678 0 37.5-16.822 37.5-37.5v-437c0-20.678-16.822-37.5-37.5-37.5zm22.5 474.5c0 12.406-10.093 22.5-22.5 22.5h-330c-12.407 0-22.5-10.094-22.5-22.5v-437c0-12.406 10.093-22.5 22.5-22.5h330c12.407 0 22.5 10.094 22.5 22.5z"/><path d="m256 75c12.407 0 22.5-10.094 22.5-22.5s-10.093-22.5-22.5-22.5-22.5 10.094-22.5 22.5 10.093 22.5 22.5 22.5zm0-30c4.136 0 7.5 3.364 7.5 7.5s-3.364 7.5-7.5 7.5-7.5-3.364-7.5-7.5 3.364-7.5 7.5-7.5z"/><path d="m421 60h-116.367c-1.988 0-3.896.79-5.302 2.195-10.516 10.511-16.843 16.818-16.843 16.818-7.091 7.086-16.498 10.987-26.488 10.987-9.983 0-19.405-3.905-26.517-10.984l-16.82-16.819c-1.406-1.407-3.313-2.197-5.303-2.197h-116.36c-4.142 0-7.5 3.357-7.5 7.5v173.5c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-166h105.754l14.635 14.635c9.955 9.908 23.134 15.365 37.111 15.365 13.994 0 27.167-5.46 37.09-15.375.425-.419 14.648-14.625 14.648-14.625h105.762v362h-315v-166c0-4.143-3.358-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v173.5c0 4.143 3.358 7.5 7.5 7.5h330c4.142 0 7.5-3.357 7.5-7.5v-377c0-4.143-3.358-7.5-7.5-7.5z"/></g></svg>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-outline-primary" @click="() => {
                previewMobile(true);
                centerBellIcon();
              }"
              :class="{active: isPreviewMobile}"
            >
                <svg viewBox="0 0 512 512" :height="iconHeight" style="enable-background:new 0 0 512 512;"><g><g><path d="M352,0H160c-22.08,0.026-39.974,17.92-40,40v432c0.026,22.08,17.92,39.974,40,40h192c22.08-0.026,39.974-17.92,40-40V40C391.974,17.92,374.08,0.026,352,0z M376,472c0,13.255-10.745,24-24,24H160c-13.255,0-24-10.745-24-24v-48h240V472z M376,408H136V88h240V408z M376,72H136V40c0-13.255,10.745-24,24-24h192c13.255,0,24,10.745,24,24V72z"/></g></g><g><g><path d="M256,432c-13.255,0-24,10.745-24,24s10.745,24,24,24s24-10.745,24-24S269.255,432,256,432z M256,464c-4.418,0-8-3.582-8-8s3.582-8,8-8s8,3.582,8,8S260.418,464,256,464z"/></g></g><g><g><path d="M288,40h-64c-4.418,0-8,3.582-8,8s3.582,8,8,8h64c4.418,0,8-3.582,8-8S292.418,40,288,40z"/></g></g><g><g><path d="M352,376h-8c-4.418,0-8,3.582-8,8s3.582,8,8,8h8c4.418,0,8-3.582,8-8S356.418,376,352,376z"/></g></g><g><g><path d="M320,376h-8c-4.418,0-8,3.582-8,8s3.582,8,8,8h8c4.418,0,8-3.582,8-8S324.418,376,320,376z"/></g></g><g><g><path d="M288,376h-8c-4.418,0-8,3.582-8,8s3.582,8,8,8h8c4.418,0,8-3.582,8-8S292.418,376,288,376z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </button>
          </li>
        </ul>
      </nav>
      <nav class="right" 
        :class="{active: isMobileMenuOpen}"
      >
        <ul>
          <li class="with-range">
            <div>
              <div class="icons-dropdown">
                <button type="button" class="btn btn-outline-primary m-0" @click="openIconsDropdown">
                  Select&nbsp;icons
                </button>
                <div 
                  :class="{active: isIconsDropdownOpen}"
                  class="icons-dropdown__content"
                >
                  <ul>
                    <li v-for="iconKey in iconsCount" :key="iconKey">
                      <button type="button" @click="selectIcon(iconKey)">
                        <img :src="getImgUrl(iconKey)" :alt="`icon ${iconKey}`" />
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div>
                <label for="iconSize">Icon&nbsp;Size&nbsp;<small><b>({{ iconSizeValue }}px)</b></small></label>
                <input type="range" id="iconSize" @change="changeRangeInput"
                  :min="iconSize.min"
                  :max="iconSize.max"
                  v-model="iconSizeValue"    
                >
              </div>
            </div>
            <div>
              <div class="background-dropdown">
                <button type="button" class="btn btn-outline-primary m-0" @click="openBgDropdown">
                  Choose&nbsp;Color
                </button>
                <div 
                  :class="{active: isBgDropdownOpen}"
                  class="background-dropdown__content"
                >
                  <p class="title">Choose Referral Widget Background Color</p>
                  <button type="button" class="ml-0 btn btn-light" @click="() => closeBgDropdown(null, true)">
                    X
                  </button>
                  <div class="colors-row">
                    <div class="color-preview" :style="{background: colors.hex8 || colors}"></div>
                    <div class="buttons">
                      <button type="button" class="ml-0 btn btn-outline-primary" @click="openColorPicker">
                        Choose&nbsp;color
                      </button>
                      <div class="color-picker-container"
                        :class="{active: isColorPickerOpen}"
                      >
                        <color-picker id="colorPicker" v-model="colors"/>
                      </div>
                      <switch-button v-model="isOutline" color="#007bff" @toggle="changeSwitchButton">Outline</switch-button>
                      <switch-button v-model="isBackground" color="#007bff" @toggle="changeSwitchButton">Background</switch-button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label for="bgSize">Background&nbsp;Size&nbsp;<small><b>({{ bgSizeValue }}px)</b></small></label>
                <input type="range" id="bgSize" @change="changeRangeInput"
                  :min="parseFloat(iconSizeValue) + gutter"
                  :max="iconSize.max + 20"
                  v-model="bgSizeValue"
                >
              </div>
            </div>
          </li>
          <li>
            <switch-button v-model="sonarEffect" color="#007bff" @toggle="changeSwitchButton">Sonar&nbsp;Effect</switch-button>
          </li>
        </ul>
      </nav>
      <h3 class="mobile-menu-label">
        Settings
      </h3>
      <button type="button" class="mobile-menu-btn" @click="openMobileMenu">
        <svg viewBox="0 0 100 70" width="30" height="30">
            <rect width="100" height="10" rx="8"></rect>
            <rect y="30" width="100" height="10" rx="8"></rect>
            <rect y="60" width="100" height="10" rx="8"></rect>
        </svg>
      </button>
    </div>
    <div class="content">
      <h3 class="text-center error-content" v-if="iframeLoadError">
        {{ iframeLoadError }}
      </h3>
      <iframe v-else
        id="iconContentIframe"
        :class="{mobile: isPreviewMobile}"
        :src="previewUrl"
        frameborder="0"
      >
        <slot></slot>
      </iframe>
      <div class="iframe-layer" v-if="!iframeLoadError"
        :class="{mobile: isPreviewMobile, dragging: isDragging}"
      >
        <button type="button" class="bell-button sonar-emitter"
          :style="{
            padding: ((bgSizeValue - iconSizeValue) || 43) + 'px',
            background: (isBackground) ? (colors.hex8 || colors) : 'transparent',
            border: isOutline ? `4px solid ${colors.hex8 || colors}` : '0',
          }"
        >
          <div class="sonar-wave" v-if="sonarEffect"
            :style="{
              borderColor: colors.hex8 || colors,
              background: (isBackground) ? (colors.hex8 || colors) : 'transparent'
            }"
          ></div>
          <img 
            :src="getImgUrl(selectedIcon)" :alt="`icon ${selectedIcon}`"
            :style="{
              width: `${iconSizeValue || 40}px`
            }"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Chrome } from 'vue-color'
import SwitchButton from './components/SwitchButton/SwitchButton.vue';

export default {
  name: 'IconEditor',
  props: {
    debugMode: {
      type: Boolean,
      default: false
    },
    iconsCount: {
      type: Number,
      default: 0,
    },
    previewUrl: {
      type: String,
      default: 'http://www.example.com/default.htm',
    },
    iconUpdateUrl: {
      type: String,
      required: true,
    },
    initialData: {
      type: Object,
    }
  },
  data: () => ({
    toastConf: {
      "positionClass": "toast-top-center",
      "containerId": "uiwefuienrf123",
      "timeOut": 2000
    },
    iconHeight: 20,
    gutter: 3,
    selectedIcon: 1,
    iconSize: { // in pixels
      min: 20,
      max: 120,
    },
    iconCoords: {
      mobile: {top: null, right: null, bottom: null, left: null},
      desktop: {top: null, right: null, bottom: null, left: null}
    },
    currentCoordType: 'desktop',
    iconSizeValue: null,
    bgSizeValue: 70,
    bellIcon: null,
    iconPosX: 0,
    iconPosY: 0,
    sonarEffect: true,
    isIconsDropdownOpen: false,
    isBgDropdownOpen: false,
    isColorPickerOpen: false,
    isPreviewMobile: false,
    isMobileMenuOpen: false,
    isOutline: false,
    isBackground: true,
    isDragging: false,
    colors: '#1976d2',
    dragProcessFlag: false,
    iframeLoadError: null,
  }),
  methods: {
    changeRangeInput() {
      this.sendRequest();
    },
    changeSwitchButton() {
      this.sendRequest();
    },
    getImgUrl(pic) {
        return `/images/widget/image${pic}.png`;
    },
    checkPreviewUrl() {
      axios(this.previewUrl)
      .then(() => {
        this.iframeLoadError = null;
      })
      .catch((error) => {
        this.iframeLoadError = `${error.message} (Code: ${error.response.status || 'Unknown'})`;
      });
    },
    previewMobile(flag) {
      this.isPreviewMobile = flag;
      this.currentCoordType = flag ? 'mobile' : 'desktop';
    },
    openIconsDropdown() {
      if (this.isIconsDropdownOpen) {
        this.isIconsDropdownOpen = false;
        window.removeEventListener('click', this.closeIconsDropdown);
      } else {
        this.isIconsDropdownOpen = true;
        setTimeout(() => {
          window.addEventListener('click', this.closeIconsDropdown);
        }, 0);
      }
    },
    closeIconsDropdown(e) {
      const dropdownItem = document.querySelector('.icon-editor .icons-dropdown__content');
      if (e.target && e.target !== dropdownItem && !dropdownItem.contains(e.target)) {
        this.isIconsDropdownOpen = false;
        window.removeEventListener('click', this.closeIconsDropdown);
      }
    },
    openBgDropdown() {
      if (this.isBgDropdownOpen) {
        this.isBgDropdownOpen = false;
        window.removeEventListener('click', this.closeBgDropdown);
      } else {
        this.isBgDropdownOpen = true;
        setTimeout(() => {
          window.addEventListener('click', this.closeBgDropdown);
        }, 0);
      }
    },
    closeBgDropdown(e, force = false) {
      const dropdownItem = document.querySelector('.icon-editor .background-dropdown__content');
      if (force || (e.target && e.target !== dropdownItem && !dropdownItem.contains(e.target))) {
        this.isBgDropdownOpen = false;
        window.removeEventListener('click', this.closeBgDropdown);
      }
    },
    openColorPicker() {
      if (this.isColorPickerOpen) {
        this.isColorPickerOpen = false;
        window.removeEventListener('click', this.closeColorPicker);
      } else {
        this.isColorPickerOpen = true;
        setTimeout(() => {
          window.addEventListener('click', this.closeColorPicker);
        }, 0);
      }
    },
    closeColorPicker(e) {
      const dropdownItem = document.querySelector('.icon-editor .color-picker-container');
      if (e.target && e.target !== dropdownItem && !dropdownItem.contains(e.target)) {
        this.isColorPickerOpen = false;
        window.removeEventListener('click', this.closeColorPicker);
      }
    },
    openMobileMenu() {
      if (this.isMobileMenuOpen) {
        this.isMobileMenuOpen = false;
        window.removeEventListener('click', this.closeMobileMenu);
      } else {
        this.isMobileMenuOpen = true;
        setTimeout(() => {
          window.addEventListener('click', this.closeMobileMenu);
        }, 0);
      }
    },
    closeMobileMenu(e) {
      const dropdownItem = document.querySelector('.icon-editor nav.right');
      if (e && e.target && e.target !== dropdownItem && !dropdownItem.contains(e.target)) {
        this.isMobileMenuOpen = false;
        window.removeEventListener('click', this.closeMobileMenu);
      }
    },
    selectIcon(key) {
      this.selectedIcon = key || 1;
      this.isIconsDropdownOpen = false;
      window.removeEventListener('click', this.closeIconsDropdown);
      this.sendRequest();
    },

    colorDrag(e) {
      if (!this.dragProcessFlag) {
        this.dragProcessFlag = true;
        setTimeout(() => {
          e = e || window.event;
          e.preventDefault();
          this.dragProcessFlag = false;
        },100)
      }
    },

    closeDragColor() {
      document.onmouseup = null;
      document.ontouchend = null;
      document.onmousemove = null;
      document.ontouchmove = null;
      this.sendRequest();
      this.isDragging = false;
    },

    elementDrag(e) {
      if (!this.dragProcessFlag) {
        this.dragProcessFlag = true;
        setTimeout(() => {
          e = e || window.event;
          e.preventDefault();

          const mClientX = (e.touches && e.touches[0]) ? e.touches[0].clientX : e.clientX;
          const mClientY = (e.touches && e.touches[0]) ? e.touches[0].clientY : e.clientY;
          
          let posX = this.iconPosX - mClientX;
          let posY = this.iconPosY - mClientY;
          this.iconPosX = mClientX;
          this.iconPosY = mClientY;
          
          const iframeGutter = 5; // distance between icon and edge
          
          const mIframe = document.querySelector('.icon-editor iframe');
          
          if (Math.abs(posX) > 2) {
            if ((this.bellIcon.offsetLeft + (this.bellIcon.offsetWidth/2)) > (mIframe.offsetWidth / 2)) {
              const mVal = (mIframe.offsetWidth - this.bellIcon.offsetLeft - this.bellIcon.offsetWidth + posX);
              this.bellIcon.style.right = (mVal >= iframeGutter ? mVal : iframeGutter) + 'px';
              this.bellIcon.style.left = 'auto';
            } else {
              const mVal = (this.bellIcon.offsetLeft - posX);
              this.bellIcon.style.left = (mVal >= iframeGutter ? mVal : iframeGutter) + 'px';
              this.bellIcon.style.right = 'auto';
            }
          }

          if (Math.abs(posY) > 2) {
            if ((this.bellIcon.offsetTop + (this.bellIcon.offsetHeight/2)) > (mIframe.offsetHeight / 2)) {
              const mVal = (mIframe.offsetHeight - this.bellIcon.offsetTop - this.bellIcon.offsetHeight + posY);
              this.bellIcon.style.bottom = (mVal >= iframeGutter ? mVal : iframeGutter) + 'px';
              this.bellIcon.style.top = 'auto';
            } else {
              const mVal = (this.bellIcon.offsetTop - posY);
              this.bellIcon.style.top = (mVal >= iframeGutter ? mVal : iframeGutter) + 'px';
              this.bellIcon.style.bottom = 'auto';
            }
          }
          this.updateCoordsByStyle();
          this.dragProcessFlag = false;
        }, 100);
      }
    },
    closeDragElement() {
      document.onmouseup = null;
      document.ontouchend = null;
      document.onmousemove = null;
      document.ontouchmove = null;
      this.sendRequest();
      this.isDragging = false;
    },
    centerBellIcon() {
      setTimeout(() => {
        if (this.bellIcon) {
          const defaultTop = '17%';
          const mIframe = document.querySelector('.icon-editor iframe');
        
          if(this.iconCoords[this.currentCoordType] && this.iconCoords[this.currentCoordType].top !== defaultTop) {
            Object.assign(this.bellIcon.style, this.iconCoords[this.currentCoordType]);
          } else {
            this.bellIcon.style.top = defaultTop;
            this.bellIcon.style.left = (mIframe.offsetWidth - this.bellIcon.offsetWidth) / 2 + 'px';
            this.bellIcon.style.bottom = 'auto';
            this.bellIcon.style.right = 'auto';
          }

          this.updateCoordsByStyle();
        }
      }, 500);
    },
    updateCoordsByStyle() {
      if (this.iconCoords[this.currentCoordType]) {
        this.iconCoords[this.currentCoordType] = {
          top: this.bellIcon.style.top,
          right: this.bellIcon.style.right,
          bottom: this.bellIcon.style.bottom,
          left: this.bellIcon.style.left,
        };
      } else {
        console.error('Icon coords type not found!');
      }
    },
    transPxToInt(val) {
      return (val && val.substr(-2) === 'px') ? parseInt(val.slice(0, -2), 10) : null;
    },
    transformPos() {
      return {
        pTop: this.transPxToInt(this.iconCoords.desktop.top),
        pRight: this.transPxToInt(this.iconCoords.desktop.right),
        pBottom: this.transPxToInt(this.iconCoords.desktop.bottom),
        pLeft: this.transPxToInt(this.iconCoords.desktop.left),
        mpTop: this.transPxToInt(this.iconCoords.mobile.top),
        mpRight: this.transPxToInt(this.iconCoords.mobile.right),
        mpBottom: this.transPxToInt(this.iconCoords.mobile.bottom),
        mpLeft: this.transPxToInt(this.iconCoords.mobile.left),
      }
    },
    sendRequest() {
      const nextStepBtn = document.querySelector('.nextStepButton');
      nextStepBtn && nextStepBtn.classList.add('disabled')
      if (this.debugMode) {
        console.log(`
          Wybrana ikona (index): ${this.selectedIcon}
          Pozycja: 
            top: ${this.bellIcon.style.top}
            bottom: ${this.bellIcon.style.bottom}
            left: ${this.bellIcon.style.left}
            right: ${this.bellIcon.style.right}

          Rozmiar:
            ikona: ${this.iconSizeValue}
            tlo: ${this.bgSizeValue}
        `);
        nextStepBtn && nextStepBtn.classList.remove('disabled')
      } else {
        axios.post(this.iconUpdateUrl, {
          position: 1,
          icon: this.selectedIcon,
          iconSize: this.iconSizeValue,
          backgroundSize: this.bgSizeValue,
          hideBackgroundColor: this.isOutline,
          backgroundColor: (this.colors && this.colors.hex8) ? this.colors.hex8 : this.colors,
          textColor: '#000',
          blinkEffect: this.sonarEffect,
          showNumberOfReferrals: (document.querySelector('[name="widget_button[showNumberOfReferrals]"]') &&
                  document.querySelector('[name="widget_button[showNumberOfReferrals]"]').value) || 0,
          ...this.transformPos()
        })
        .then((response) => {
          if (response.data.message) {
            toastr.options = this.toastConf;
            toastr.success(response.data.message);
          } else {
            toastr.options = this.toastConf;
            toastr.error('Unknown error');
          }
          nextStepBtn && nextStepBtn.classList.remove('disabled')
        })
        .catch((error) => {
          toastr.options = this.toastConf;
          toastr.error(error.message || error);
          console.error(error);
          nextStepBtn && nextStepBtn.classList.remove('disabled')
        });
      }
    },
    loadInitialData() {
      if (this.initialData && Object.keys(this.initialData).length > 0) {
        if(this.initialData.icon) {
          this.selectedIcon = this.initialData.icon;
        }
        if (this.initialData.iconCoords.mobile) {
          this.iconCoords.mobile = this.initialData.iconCoords.mobile;
          this.iconCoords.mobile.bottom = !this.iconCoords.mobile.top ? this.iconCoords.mobile.bottom : 'auto';
          this.iconCoords.mobile.left = !this.iconCoords.mobile.right ? this.iconCoords.mobile.left : 'auto';
        }
        if (this.initialData.iconCoords.desktop) {
          this.iconCoords.desktop = this.initialData.iconCoords.desktop;
          this.iconCoords.desktop.bottom = !this.iconCoords.desktop.top ? this.iconCoords.desktop.bottom : 'auto';
          this.iconCoords.desktop.left = !this.iconCoords.desktop.right ? this.iconCoords.desktop.left : 'auto';
        }

        if (this.initialData.iconSizeValue && 
          this.initialData.iconSizeValue >= this.iconSize.min &&
          this.initialData.iconSizeValue <= this.iconSize.max
        ) {
          this.iconSizeValue = this.initialData.iconSizeValue
        } else {
          this.iconSizeValue = 60;
        }

        if (this.initialData.bgSizeValue && 
          this.initialData.bgSizeValue >= (this.iconSizeValue + this.gutter) &&
          this.initialData.bgSizeValue <= (this.iconSize.max + 20)
        ) {
          this.bgSizeValue = this.initialData.bgSizeValue
        } else {
          this.bgSizeValue = this.iconSizeValue + this.gutter;
        }

        (this.initialData.sonarEffect || this.initialData.sonarEffect === false) && 
          (this.sonarEffect = this.initialData.sonarEffect === true);
        (this.initialData.isOutline || this.initialData.isOutline === false) && 
          (this.isOutline = this.initialData.isOutline === true);
        (this.initialData.isBackground || this.initialData.isBackground === false) && 
          (this.isBackground = this.initialData.isBackground === true);
        this.initialData.colors && 
          (this.colors = this.initialData.colors);
        
      }
    },
    setFirstConf() {
      if (window.matchMedia( '(max-width: 768px)' ).matches) {
        this.previewMobile(false);
        this.currentCoordType = 'mobile';
        this.closeMobileMenu();
      } else if (!this.isPreviewMobile) {
        this.currentCoordType = 'desktop';
      }
      this.centerBellIcon();
    },
  },
  mounted() {
    this.setFirstConf();
    window.addEventListener('resize', () => {
      this.setFirstConf();
    });

    //Draggable bell icon
    this.bellIcon = document.querySelector('.iframe-layer .bell-button');
    if (this.bellIcon) {
      this.centerBellIcon();
      ['mousedown', 'touchstart'].forEach(event =>
        this.bellIcon.addEventListener(event, e => {
          e = e || window.event;
          e.preventDefault();

          this.isDragging = true;
          this.iconPosX = e.clientX;
          this.iconPosY = e.clientY;

          document.onmouseup = this.closeDragElement;
          document.ontouchend = this.closeDragElement;
          document.onmousemove = this.elementDrag;
          document.ontouchmove = this.elementDrag;
        })
      );
    }

    this.colorPointer = document.querySelector('.vc-saturation');
    if ( this.colorPointer ) {
      ['mousedown', 'touchstart'].forEach(event =>
          this.colorPointer.addEventListener(event, e => {
            e = e || window.event;
            e.preventDefault();

            this.isDragging = true;
            this.iconPosX = e.clientX;
            this.iconPosY = e.clientY;
            document.onmouseup = this.closeDragColor;
            document.ontouchend = this.closeDragColor;
            document.onmousemove = this.colorDrag;
            document.onmouseover = this.colorDrag;
            document.ontouchmove = this.colorDrag;
          })
      );
    }


    this.loadInitialData();
    // this.checkPreviewUrl();
  },
  watch: {
    iconSizeValue(newVal, oldVal) {
      const newValNum = parseFloat(newVal);

      if (parseFloat(oldVal) - newValNum > 0) {
        this.bgSizeValue = this.bgSizeValue - (oldVal - newVal);
      }

      if ((newValNum + this.gutter) > this.bgSizeValue) {
        this.bgSizeValue = newValNum + this.gutter;
      }
    },
    isOutline(newVal) {
      this.isBackground = !newVal;
    },
    isBackground(newVal) {
      this.isOutline = !newVal;
    },
    colors(newVal) {
      const htmlInput = document.querySelector('[name="widget_button[backgroundColor]"]');
      if (htmlInput) htmlInput.value = (newVal && newVal.hex8) ? newVal.hex8 : newVal;
    },
    sonarEffect(newVal) {
      const htmlInput = document.querySelector('[name="widget_button[blinkEffect]"]');
      if (htmlInput) htmlInput.value = (newVal && newVal.hex8) ? newVal.hex8 : newVal;
    }
  },
  components: {
    'switch-button': SwitchButton,
    'color-picker': Chrome,
  }
}
</script>
