{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}main_offer{% endblock %}

{% block tab_content %}
{{ form_start(form) }}
    {{ form_row(form.commission) }}
    {{ form_row(form.commission_type) }}
    <div class="text-right">
        <input type="submit" class="btn btn-third" value="Save">
    </div>
{{ form_end(form) }}
{% endblock %}