<div class="calendar-view col-md-12">
    <div class="calendar-content" style="padding: 20px 0px;">
        <div class="calendar-i-prev" id="calendarPrev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="calendar-month"></div>
        <div class="calendar-i-next" id="calendarNext"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    </div>
    <div class="calendar-income-info">
        <div style="text-align: center;"><strong style="display: block">Total sale generated (Feb): </strong>CPS: 400$
            CPL: 50$</div>
        <div style="text-align: center;"><strong style="display: block">Revenue: </strong>250$</div>
        <div style="text-align: center;"><strong style="display: block">ValueLink Provision: </strong>100$</div>
    </div>
    <div id="calendar" class="company__calendar"></div>
    <div class="calendar-show">
        <div class="btn btn-primary">Click to see Calendar</div>
    </div>
    <div class="calendar-event-info">
        <table class="table table-condensed" style="max-width: 500px;margin: 0 auto;text-align: center;">
            <thead>
                <th>Reward Name</th>
                <th>Include for Calculation</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="badge badge-pill event-blue">Apple iMacs</div>
                    </td>
                    <td>
                        <label class="switch switch_small">
                            <input type="checkbox" id="event0">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge badge-pill event-purple">Apple Watchs</div>
                    </td>
                    <td>
                        <label class="switch switch_small">
                            <input type="checkbox" id="event0" checked>
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge badge-pill event-orange">Nike snickers</div>
                    </td>
                    <td>
                        <label class="switch switch_small">
                            <input type="checkbox" id="event0">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="badge badge-pill event-red">Adidas hoodie</div>
                    </td>
                    <td>
                        <label class="switch switch_small">
                            <input type="checkbox" id="event0">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="calendar-detailed-view col-md-12">
    <h4>By Referrer:</h4>
    <div class="table-responsive">
        <table class="table table-hover table-condensed" style="font-size: 12px;text-align: center;" table-event-id="1">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>SUM:</th>
                    <th>40</th>
                    <th>40</th>
                    <th>40</th>
                    <th>400$</th>
                    <th>400$</th>
                </tr>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Last Purchase Date</th>
                    <th>Last SignUp Date</th>
                    <th>Total Num. of Sales</th>
                    <th>Total Num. of SignUps</th>
                    <th>Total Num. of Clicks</th>
                    <th>Total Referrer Income Generated</th>
                    <th>ValueLink Provision</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="btn btn-primary btn-xs">Source Traffic</div>
                    </td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>johndoe@gmail.com</td>
                    <td><span class="mobile_table_header">Last Purchase Date: </span> 10-12-19, 14:00</td>
                    <td><span class="mobile_table_header">Last SignUp Date: </span> 10-12-19, 14:00</td>
                    <td><span class="mobile_table_header">Total Num. of Sales: </span> 10</td>
                    <td><span class="mobile_table_header">Total Num. of SignUps: </span> 10</td>
                    <td><span class="mobile_table_header">Total Num. of Clicks: </span> 10</td>
                    <td><span class="mobile_table_header">Total Referrer Income Generated: </span> 100$</td>
                    <td><span class="mobile_table_header">ValueLink Provision: </span> 100$</td>
                </tr>
                <tr>
                    <td>
                        <div class="btn btn-primary btn-xs" id="table-level-1">Source Traffic</div>
                    </td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>johndoe@gmail.com</td>
                    <td>10-12-19, 14:00</td>
                    <td>10-12-19, 14:00</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>100$</td>
                    <td>100$</td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <th class="noborder"></th>
                    <th colspan="3">Ref.Link Name</th>
                    <th>Num of. Clicks</th>
                    <th>Num of. SignUps</th>
                    <th>SignUps Value</th>
                    <th>Num of. Purchase</th>
                    <th>Purchase Value</th>
                    <th>Referrer Reward</th>
                    <th>Action</th>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td class="noborder"></td>
                    <td colspan="3" class="table-word-break">www.apple.com/ValueLink/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td>
                        <div class="btn btn-primary btn-xs">Payout details</div>
                    </td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td class="noborder"></td>
                    <td colspan="3" class="table-word-break">www.apple.com/ValueLink/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td>
                        <div class="btn btn-primary btn-xs">Payout details</div>
                    </td>
                </tr>
                <tr class="row-hidden table-lvl1-content">
                    <td class="noborder"></td>
                    <td colspan="3" class="table-word-break">www.apple.com/ValueLink/Referrer1/iphone</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50$</td>
                    <td>5</td>
                    <td>40$</td>
                    <td>5$</td>
                    <td>
                        <div class="btn btn-primary btn-xs" id="table-level-2">Payout
                            details</div>
                    </td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <th class="noborder"></th>
                    <th class="noborder"></th>
                    <th colspan="2">Income</th>
                    <th colspan="2">Reward Value</th>
                    <th colspan="2">Purchase Value</th>
                    <th colspan="1">Number of Purchase</th>
                    <th colspan="3">Source Links</th>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td colspan="2" class="table-word-break">10*15=150$</td>
                    <td colspan="2">CPS 10%</td>
                    <td colspan="2">100$</td>
                    <td colspan="1">15</td>
                    <td colspan="3" class="table-word-break">www.apple.com/shop/watch/apple-watch-hermes</td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td colspan="2" class="table-word-break">40*5=200$</td>
                    <td colspan="2">CPS 20%</td>
                    <td colspan="2">200$</td>
                    <td colspan="1">5</td>
                    <td colspan="3" class="table-word-break">www.apple.com/shop/product/MMEF2/airpods?fnode=90</td>
                </tr>
                <tr class="row-hidden table-lvl2-content">
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                    <td colspan="2" class="table-word-break">6*20=120$</td>
                    <td colspan="2">CPL 6$</td>
                    <td colspan="2">-</td>
                    <td colspan="1">20</td>
                    <td colspan="3" class="table-word-break">SignUp generated</td>
                </tr>
                <tr>
                    <td>
                        <div class="btn btn-primary btn-xs">Source Traffic</div>
                    </td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>johndoe@gmail.com</td>
                    <td>10-12-19, 14:00</td>
                    <td>10-12-19, 14:00</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>100$</td>
                    <td>100$</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(".calendar-show > div").click(function () {
        $("#calendar").toggle();
        $("#calendar").fullCalendar('render');
    });

    $("#income2tabview").click(function () {
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    })

    $(".calendar-i-next").click(function () {
        $('#calendar').fullCalendar('next');
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    });

    $(".calendar-i-prev").click(function () {
        $('#calendar').fullCalendar('prev');
        $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());
    });
</script>