<div class="col-md-9 col-xs-12">
    <div class="page-content">
        <form action="">
            <div class="form-group flex noborder">
                <label>Company Name</label>
                <input type="text" name="Name" class="form-control" placeholder="Company or Brand" />
                <span>This name will be displayed on top of Marketplace offer, next to your
                                            company's logo</span>
            </div>
            <div class="form-group flex noborder">
                <label>URL</label>
                <input type="text" name="Name" class="form-control" placeholder="e.g. www.companyname.com" />
                <span>Absolute URL of your company that referrers may use as destination URL.</span>
            </div>
            <div class="form-group flex noborder">
                <label>Phone no</label>
                <input id="phone" type="text" name="Name" class="form-control" />
                <span>Lorem ipsum dolor site amte</span>
            </div>
            <div class="form-group flex noborder">
                <label>Logo</label>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="fileupload-preview thumbnail"></div>
                    <br>
                    <span class="btn btn-primary btn-file">
                                                <span class="fileupload-new">Select File</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file">
                                            </span>
                    <a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
                <span>Logo will be visible next to your Company's Name on top of Marketplace
                                            offer.</span>
            </div>
            <div class="form-group flex noborder">
                <label>Choose Background Color</label>
                <div class="color-picker"></div>
                <span>Choose your main color</span>
            </div>
            <div class="form-group flex noborder">
                <label>Company Description</label>
                <textarea class="form-control" style="height: 120px;" placeholder="e.g. XYZ Company is a new company that offers..."></textarea>
                <span>200 characters max. Short description of your business. Will be displayed
                                            on referral page.</span>
            </div>

            <div class="form-group flex noborder">
                <label>Product / Service Categories</label>
                <textarea class="form-control" style="height: 120px;" placeholder="Sport Wear Clothes, Sport Equipment"></textarea>
                <span>5 items max. Will be displayed on Marketplace tile.</span>
            </div>

            <div class="text-right" style="width: 50%;">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div><!-- end col -->
