{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}links{% endblock %}

{% block tab_content %}
    <div class="row">
        {% if links|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Company<br/>Name</th>
                        <th>Offer<br/>Name</th>
                        <th>Partner<br/>ID</th>
                        <th>Partner<br/>Name</th>
                        <th>Partner<br/>Surname</th>
                        <th>Email</th>
                        <th>Shareable<br/>Link</th>
                        <th>Destination<br/>Link</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{ link.shop.name }}</td>
                            <td>
                                {% if link.product %}
                                    {{ link.product.name }}
                                {% else %}
                                    Main Offer
                                {% endif %}
                            </td>
                            <td>{{ link.referrer.id }}</td>
                            <td>{{ link.referrer.name }}</td>
                            <td>{{ link.referrer.surname }}</td>
                            <td><a href="mailto:{{ link.referrer.email }}">{{ link.referrer.email }}</a></td>
                            <td>
                                {% if link.shop.urlName and link.nickname and link.slug %}
                                    <a href="{{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">[link]</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ link.destinationUrl }}">[link]</a></td>
                            <td>
                                <form action="{{ path('admin_referrer_link_delete', {referrerLink: link.id}) }}" method="POST">
                                    <input type="hidden" value="DELETE" name="_method">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        {{ knp_pagination_render(links) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no links to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
