<template>
    <div class="page-entry-bg wizard-title" v-if="isVisible">
        <div class="container">
            <div class="page-title public-profile-title">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ title }}</h3>
                        <p class="wspace-pre">{{ content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                default: ''
            },
            content: {
                type: String,
                default: ''
            },
            isVisible: {
                type: Boolean,
                default: false,
            }
        }
    }
</script>