<template>
    <div
        class="alert"
        :class="{
            'alert-success': isSuccess,
            'alert-danger': isError,
            'alert-warning': isWarning,
            'alert-info': isDefault
        }"
        style="position: relative"
        v-if="!closed && messageList && messageList.length"
    >
        <i
            v-if="!isHidden"
            class="fa fa-close"
            style="position: absolute;top: 5px;right: 10px; cursor: pointer"
            @click="close"
        ></i>
        <span v-if="showAll"
              v-for="(message, index) in messageList"
              v-html="message"
              :key="index"
              class="show"
        ></span>
        <span v-else v-html="lastMessage"></span>
    </div>
</template>

<script>
    export default {
        props: {
          showAll: {
            type: Boolean,
            default: false
          },
          messageList: {
            type: Array,
            default: [],
          },
          type: {
            type: String,
            default: 'info'
          },
          isHidden: {
            type: Boolean,
            default: false
          }
        },
        data() {
            return {
                closed: false
            }
        },
        methods: {
            close() {
                this.closed = true;
            }
        },
        computed: {
            isSuccess() {
                return this.type === 'success'
            },
            isError() {
                return this.type === 'danger'
            },
            isWarning() {
                return this.type === 'warning'
            },
            isDefault() {
                return !this.isSuccess && !this.isError && !this.isWarning
            },
            lastMessage() {
              const copy = [...this.messageList]
              return copy &&
                  typeof copy.pop === 'function' &&
                  copy.pop()
            }
        }
    }
</script>
