<template>
	<div class="boxes box is-small">
		<a v-if="email && email.length > 0"
			:href="'mailto:' + email + '?subject=' + partnerNumber + '%2C%20help%20with%20integration&amp;body=hi%2C%20this%20is%20%7Byour%20name%7D%20from%20' + shopName + '.%20im%20trying%20to%20figure%20out%20how%20to%20implement%20this%20snippet...%0A'"
			class="btn btn-primary btn-primary-outline"
			:id="button.id"
		>
			{{ button.text }}
		</a>
		<div v-else class="btn btn-primary btn-primary-outline" :id="button.id">{{ button.text }}</div>
		<div class="text-center">
			<small class="mt-10 display-block">
				{{ boxContent }}
			</small>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            email: {
                type:  String,
                default: ''
            },
            partnerNumber: {
                type:  String,
                default: ''
            },
            shopName: {
                type:  String,
                default: ''
            },
			button: {
                text: {
                    type:  String,
                    required: true
                },
                id: {
                    type:  String,
                    required: true
                },
			},
			boxContent: {
                type: String,
				default: null
			}
		}
    }
</script>

<style scoped>

</style>