<template>
	<div class="modal-siteam" :class="mIsOpen ? 'open' : ''">
		<div class="modal-siteam__overlay"></div>
		<div class="modal-siteam__box" :style="`${fullWidth ? 'width: 92vw;height: calc(100vh - 100px);top: 50px;' : ''}`">
			<button class="btn modal-siteam__close" @click="closeModal">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div :class="`${fullWidth ? '' : 'widget'}`">
						<div class="widget-title">
							<h4>{{ title }}</h4>
						</div>
						<slot></slot>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  props: {
    title: {
        type: String,
        required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    fullWidth: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.mIsOpen = this.isOpen
  },
  watch: {
    isOpen(val) {
      this.mIsOpen = val
      if (!val) {
        this.closeModal()
      }
    }
  },
  data() {
    return {
      mIsOpen: false
    }
  },
  methods: {
    closeModal() {
      this.mIsOpen = false
      this.$emit('close-modal')
    }
  }
}
</script>