<template>
    <div class="progress-bar-container" v-if="this.completionPercent < 100">
        <div class="container">
            <div class="content-before">
                <div class="row">
                    <div class="col-md-12 col-xs-12 cen-xs">
                        <div>
                            <div class="progress">
                                <div class="progress-bar wizard" role="progressbar"
                                   :data-transitiongoal="completionPercent"
                                   :style="{
                                       width: `${completionPercent}%`
                                   }"
                                >
                                    <span class="speech-bubble-ds">
                                        {{ fixedProgress }}%
                                        <div class="speech-bubble-ds-arrow"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            completionPercent: {
                type: Number,
                default: 0,
            }
        },
        computed: {
            fixedProgress() {
               return this.completionPercent.toFixed(1);
            }
        }
    }
</script>
