<template>
  <div>
    <label for="linkFilter">Filter link: </label>
    <select name="filter_by" id="linkFilter" v-model="filterBy" @change="handleChange">
      <option value="">All</option>
      <option value="affiliate">Affiliate</option>
      <option value="referral">Referral</option>
    </select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterBy: ''
    }
  },
  mounted() {
    const splitArr = window.location.href
        .split('/').pop()
        .split('?').pop().split('=');
    this.filterBy = (splitArr.length > 1) ?
        splitArr.pop() : (window.localStorage.getItem('referrerIncomeFilter') || '');
  },
  methods: {
    handleChange() {
      var url = window.location.href;
      if (this.filterBy) {
        if (url.indexOf('?') > -1) {
          url = url.substr(0, url.indexOf('?'))+'?filter_by='+this.filterBy
        }else {
          url += '?filter_by='+this.filterBy
        }
      } else {
        url = location.protocol + '//' + location.host + location.pathname;
      }

      window.localStorage.setItem('referrerIncomeFilter', this.filterBy)

      window.location.href = url;
    }
  },
}
</script>
