<template>
    <div class="section-title-entry" v-if="title">
        <h3>{{ title }}</h3>
        <p v-if="desc && desc.length > 0">{{ desc }}</p>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                default: null,
            },
            desc: {
                type: String,
                default: null,
            }
        },
    }
</script>
