<template>
	<div class="text-center submit-wizard-section">
		<a v-if="href && href.length > 0" :href="href" type="submit" class="btn btn-success" :class="buttonClass && buttonClass">{{ value }}</a>
		<button v-else type="submit" class="btn btn-success" v-html="value"></button>
	</div>
</template>

<script>
    export default {
      props: {
        value: {
            type: String,
            required: true
        },
        href: {
          type: String,
          default: null
        },
        buttonClass: {
          type: String,
          default: null
        }
      }
    }
</script>
