<footer class="footer">
    <div class="container">
        <div class="row" style="display: flex;align-items: center">
            <div class="col-md-5 col-lg-5">
                <div class="media cen-xs">
                    <p>
                        ValueLink © 2020<br>
                    </p>
                </div>
            </div>
            <div class="col-md-7 col-lg-7">
                <ul class="list-inline text-right cen-xs" style="margin-bottom: 0">
                    <li><a href="/documents/Terms & Conditions.pdf" target="_blank">Terms & Conditions</a></li>
                    <li><a href="/documents/Privacy Policy.pdf" target="_blank">Privacy Policy</a></li>
                    <li><a href="/documents/Cookies Policy.pdf" target="_blank">Cookies Policy</a></li>
                    <li><a href="/documents/Data Protection Act.pdf" target="_blank">ValueLink Data Protection Act</a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
