<ul class="shop-details__menu is-creating" style="background: #d9edf7; padding: 0 15px;">
    <li class="shop-details__menu__item {{ '/account/company/post-order/activation' in app.request.pathinfo ? 'active' : '' }}"><a href="/account/company/post-order/activation">PopUp Activation</a></li>
</ul>