{% extends '_global.jinja' %}

{% block global %}
    {% include "partials/global/js.nunjucks" %}
    {% include "partials/global/header.nunjucks" %}
    <section class="section single-wrap rl-section">
        <div class="container">
            <div class="content boxs">
                <div class="row">
                    <div class="col-md-6 col-sm-12 register-left">
                        <div class="sign-text">
                            <h1>Super Interface</h1>
                            <h2>Boost your sales!</h2>
                            <div class="register-divider"></div>
                            {% block sidebarContent %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="page-content">
                            {% block content %}{% endblock %}
                        </div>
                    </div><!-- end col -->
                </div>
            </div>
        </div>
    </section>
    {% include "partials/global/modals.nunjucks" %}
    {% include "partials/sign/footer.nunjucks" %}
{% endblock %}
