{% extends '_global.jinja' %}

{% block global %}
    {% include "partials/global/js.nunjucks" %}
    {% block content %} {% endblock %}
    {% include "partials/global/modals.nunjucks" %}
    {% include "partials/global/footer.nunjucks" %}
{% endblock %}
