{% extends '_base-layout.jinja' %}

{% block content %}
<section class="section single-wrap">
    <div class="page-entry-bg">
        <div class="container">
            {% include './partials/wizard/header.nunjucks' %}
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="container">
            <div class="content-before">
                <div class="row">
                    <div class="col-md-12 col-xs-12 cen-xs">
                        <div>
                            {% block wizardProgress %}{% endblock %}
                        </div>
                    </div>
                </div><!-- end row -->
            </div>
        </div>
    </div>
    <div class="wizard-content-fullwidth">
        <div class="container">
            <div class="content wizard">
                <div class="row">
                    {% block wizardSidebar %}{% endblock %}
                    <div class="col-md-9 col-xs-12">
                        <div class="page-content">
                            {% block wizardContent %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}