{% extends '_base-layout.jinja' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css" />

<section class="section single-wrap">
    <div class="page-entry-bg">
        <div class="container">
            <div class="page-title public-profile-title income-title" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>Apple</h3>
                    </div>
                    <div class="col-xs-12 company-stats">
                        <div class="col-md-15 col-sm-6 col-xs-12">
                            <div class="btn btn-default btn-block">
                                <img src="images/income1.svg">
                                <div class="stats-content">
                                    <div class="stats-title">Total Program Income</div>
                                    <div>254$</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-15 col-sm-6 col-xs-12">
                            <div class="btn btn-default btn-block">
                                <img src="images/income2.svg">
                                <div class="stats-content">
                                    <div class="stats-title">Total Sale Generated</div>
                                    <div>10</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-15 col-sm-6 col-xs-12">
                            <div class="btn btn-default btn-block">
                                <img src="images/income3.svg">
                                <div class="stats-content">
                                    <div class="stats-title">Total Number of Sales</div>
                                    <div>1264</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-15 col-sm-6 col-xs-12">
                            <div class="btn btn-default btn-block">
                                <img src="images/income4.svg">
                                <div class="stats-content">
                                    <div class="stats-title">Total Number of SignUps</div>
                                    <div>12</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-15 col-sm-6 col-xs-12">
                            <div class="btn btn-default btn-block">
                                <img src="images/income5.svg">
                                <div class="stats-content">
                                    <div class="stats-title">Total Number of Clicks</div>
                                    <div>12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="publicprofile">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="company-settings.html">My Settings</a></li>
                <li><a href="company-income.html">My
                        Income</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content nopadtop">
            <div class="row">
                <div class="col-md-12">
                    <div class="publicprofile">

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="following">
                                <div class="row wizard">

                                    {% set currentStep = 0 %}
                                    {% include './partials/wizard/sidebar.nunjucks' %}

                                    {% include './partials/company/settings.nunjucks' %}

                                </div><!-- end row -->

                            </div>
                            {# <div role="tabpanel" class="tab-pane active" id="income">
                                {% include './partials/company/income.nunjucks' %}

                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>

<script>
    var firstClick = true;
    $('#calendar').fullCalendar({
        lang: 'en',
        eventLimitText: "more",
        events: [{
                id: 1,
                title: 'Apple iPads',
                start: '2018-10-19',
                color: 'orange',
                className: 'event-orange'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-21',
                end: '2018-10-24',
                color: 'red',
                className: 'event-red'
            },
            {
                id: 1,
                title: 'Apple iPads',
                start: '2018-10-21',
                end: '2018-10-26',
                color: 'orange',
                className: 'event-orange'
            },
            {
                id: 2,
                title: 'Apple iMacs',
                start: '2018-10-30',
                end: '2018-11-4',
                color: 'red',
                className: 'event-red'
            }
        ],
        eventClick: function (calEvent, jsEvent, view) {


            // var allev = calEvent.source.eventDefs;
            // if (firstClick != true) {
            //     allev.forEach(function (index) {
            //         if (index.id != calEvent.id) {
            //             index.className.push("deselected-event");
            //             firstClick = true;
            //         } else {
            //             calEvent.className = calEvent.className.filter(item => item !==
            //                 "deselected-event");
            //         }
            //     });
            // } else {
            //     //
            // }

            // $('#calendar').fullCalendar('updateEvent', calEvent);
        },

        eventRender: function (event, element) {
            element.find('.fc-content').attr("id", "event-" + event.id);
        },

        aspectRatio: 1.35,
        themeSystem: 'bootstrap3',
        eventLimit: 4, // for all non-agenda views
        views: {
            agenda: {
                eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
            }
        }
    });

    $("#income2tabview").click(function () {
        setTimeout(function () {
            $('#calendar').fullCalendar('render');
        }, 100)
    });

    $("#event0, #event1").click(function () {
        if (firstClick === true) {
            $('.fc-content').parent().addClass("deselected-event");
            firstClick = false;
        }
    });

    $("#event0").click(function () {

        var eventId = 2;
        var events = $('#calendar').fullCalendar('clientEvents', eventId);
        $('.fc-content[id=event-' + eventId + ']').parent().toggleClass("deselected-event");
    });

    $("#event1").click(function () {

        var eventId = 1;
        var events = $('#calendar').fullCalendar('clientEvents', eventId);
        $('.fc-content[id=event-' + eventId + ']').parent().toggleClass("deselected-event");
    });

    $("#detEvent-1").click(function () {
        $(".calendar-detailed-view table").hide();
        $("table[table-event-id='1']").show();
    });

    $("#detEvent-0").click(function () {
        $(".calendar-detailed-view table").hide();
        $("table[table-event-id='0']").show();
    });

    $("#table-level-1").click(function () {
        $(".table-lvl1-content").each(function () {
            $(this).css("display", "table-row");
        })
    });

    $("#table-level-2").click(function () {
        $(".table-lvl2-content").each(function () {
            $(this).css("display", "table-row");
        })
    });

            $(".calendar-month").html($(".fc-toolbar > .fc-left > h2").html());

</script>


{% endblock %}