{% extends '_base-layout.jinja' %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />


<section class="section single-wrap">
    <div class="page-entry-bg">
        <div class="container">
            <div class="page-title public-profile-title income-title" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>John Doe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-top" style="margin-top: -80px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                </div>

                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">John Doe Profile</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
    </div>

    <div class="publicprofile">
        <div class="container">
            <ul class="nav nav-tabs">
                <li><a href="referrer-settings.html">Settings</a></li>
                <li><a href="referrer-my-programs.html">Programs</a></li>
                <li class="active"><a href="referrer-my-store-settings.html">My Store</a></li>
                <li><a href="referrer-income.html">Income</a></li>
            </ul>
        </div>
    </div>

    <div class="content nopadtop">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="publicprofile">

                        <div class="tab-content">
                            {# <div role="tabpanel" class="tab-pane active" id="following">

                                {% include "./partials/referrer/landing.nunjucks" %}

                            </div> #}

                            {# <div role="tabpanel" class="tab-pane active" id="income2">

                                {% include "./partials/referrer/income.nunjucks" %}

                            </div> #}

                            <div role="tabpanel" class="tab-pane active" id="income">

                                {% include './partials/referrer/settings.nunjucks' %}

                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div><!-- end row -->
    </div><!-- end content -->

    </div><!-- end container -->
</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script>


            $('#calendar').fullCalendar({
                lang: 'en',
                eventLimitText: "more",
                events: [{
                        id: 1,
                        title: 'Apple iPads',
                        start: '2018-10-19',
                        color: 'orange',
                        className: 'event-orange'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-21',
                        end: '2018-10-24',
                        color: 'red',
                        className: 'event-red'
                    },
                    {
                        id: 1,
                        title: 'Apple iPads',
                        start: '2018-10-21',
                        end: '2018-10-26',
                        color: 'orange',
                        className: 'event-orange'
                    },
                    {
                        id: 2,
                        title: 'Apple iMacs',
                        start: '2018-10-30',
                        end: '2018-11-4',
                        color: 'red',
                        className: 'event-red'
                    }
                ],
                eventClick: function (calEvent, jsEvent, view) {


                    // var allev = calEvent.source.eventDefs;
                    // if (firstClick != true) {
                    //     allev.forEach(function (index) {
                    //         if (index.id != calEvent.id) {
                    //             index.className.push("deselected-event");
                    //             firstClick = true;
                    //         } else {
                    //             calEvent.className = calEvent.className.filter(item => item !==
                    //                 "deselected-event");
                    //         }
                    //     });
                    // } else {
                    //     //
                    // }

                    // $('#calendar').fullCalendar('updateEvent', calEvent);
                },

                eventRender: function (event, element) {
                    element.find('.fc-content').attr("id", "event-" + event.id);
                },

                aspectRatio: 1.35,
                themeSystem: 'bootstrap3',
                eventLimit: 4, // for all non-agenda views
                views: {
                    agenda: {
                        eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
                    }
                }
            });

            $("#income2tabview").click(function () {
                setTimeout(function () {
                    $('#calendar').fullCalendar('render');
                }, 100)
            });

            $("#event0, #event1").click(function () {
                if (firstClick === true) {
                    $('.fc-content').parent().addClass("deselected-event");
                    firstClick = false;
                }
            });

            $("#event0").click(function () {

                var eventId = 2;
                var events = $('#calendar').fullCalendar('clientEvents', eventId);
                $('.fc-content[id=event-' + eventId + ']').parent().toggleClass("deselected-event");
            });

            $("#event1").click(function () {

                var eventId = 1;
                var events = $('#calendar').fullCalendar('clientEvents', eventId);
                $('.fc-content[id=event-' + eventId + ']').parent().toggleClass("deselected-event");
            });

            $("#detEvent-1").click(function () {
                $(".calendar-detailed-view table").hide();
                $("table[table-event-id='1']").show();
            });

            $("#detEvent-0").click(function () {
                $(".calendar-detailed-view table").hide();
                $("table[table-event-id='0']").show();
            });


    </script>

{% endblock %}
