{% extends '_base-layout.jinja' %}

{% block content %}

<section class="section single-wrap">
    <div class="page-entry-bg">
        <div class="container">
            <div class="page-title public-profile-title income-title" style="margin-bottom: 100px;">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>John Doe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-top" style="margin-top: -80px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                </div>

                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">John Doe Profile</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
    </div>

    <div class="publicprofile">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="referrer-settings.html">Settings</a></li>
                <li><a href="referrer-my-programs.html">Programs</a></li>
                <li><a href="referrer-my-store-settings.html">My Store</a></li>
                <li><a href="referrer-income.html">Income</a></li>
            </ul>
        </div>
    </div>

    <div class="content nopadtop">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="publicprofile">

                        <div class="tab-content">
                            {# <div role="tabpanel" class="tab-pane active" id="following">

                                {% include "./partials/referrer/landing.nunjucks" %}

                            </div> #}

                            {# <div role="tabpanel" class="tab-pane active" id="income2">

                                {% include "./partials/referrer/income.nunjucks" %}

                            </div> #}

                            <div role="tabpanel" class="tab-pane active" id="income">

                                                                <form style="width: 50%; margin:0 auto">
                                    <div class="form-group flex noborder">
                                        <label>Bank account</label>
                                        <input type="text" name="Name" class="form-control" placeholder="IBAN number">
                                        <span>Your bank account number</span>
                                    </div>
                                    <div class="form-group flex noborder">
                                        <label>SWIFT number</label>
                                        <input type="text" name="Name" class="form-control" placeholder="SWIFT number">
                                        <span>Your bank SWIFT number</span>
                                    </div>
                                    <div class="form-group flex noborder">
                                        <label>PayPal account</label>
                                        <input type="text" name="Name" class="form-control" placeholder="PayPal email">
                                        <span>Your PayPal email</span>
                                    </div>
                                    <div style="text-align: center;">
                                        <input type="submit" class="btn btn-primary" value="Save">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div><!-- end row -->
    </div><!-- end content -->

    </div><!-- end container -->
</section>
{% endblock %}