{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
        <div class="page-entry-bg">
            <div class="container" style="padding-left:0; padding-right:0;">
                <div class="page-title public-profile-title income-title" style="margin-bottom: 59px;">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>ValueLink - Administrator</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="publicprofile">
            <div class="container">
                <ul class="nav nav-tabs admin-tabs" role="tablist">
                    <li class="{{ block('tab_name') == 'submissions' ? 'active' : '' }}"><a href="{{ path('admin_submission_index') }}">Company<br/>Subscriptions</a></li>
                    <li class="{{ block('tab_name') == 'shop-budget' ? 'active' : '' }}"><a href="{{ path('admin_shop_budget_index') }}">Company<br/>Budget</a></li>
                    <li class="{{ block('tab_name') == 'inactive-companies' ? 'active' : '' }}"><a href="{{ path('admin_shop_inactive_index') }}">Inactive<br/>Companies</a></li>
                    <li class="{{ block('tab_name') == 'active-companies' ? 'active' : '' }}"><a href="{{ path('admin_shop_index') }}">Active<br/>Companies</a></li>
                    <li class="{{ block('tab_name') == 'conversion-verification' ? 'active' : '' }}"><a href="{{ path('admin_conversion_verification_index') }}">Conversion<br/>Verification</a></li>
                    <li class="{{ block('tab_name') == 'links' ? 'active' : '' }}"><a href="{{ path('admin_referrer_link_index') }}">Link<br/>List</a></li>
                    <li class="{{ block('tab_name') == 'link-content' ? 'active' : '' }}"><a href="{{ path('admin_referrer_link_content_index') }}">Links<br/>Content</a></li>
                    <li class="{{ block('tab_name') == 'link-images' ? 'active' : '' }}"><a href="{{ path('admin_referrer_link_images_index') }}">Links<br/>Images</a></li>
                    <li class="{{ block('tab_name') == 'users' ? 'active' : '' }}"><a href="{{ path('admin_user_index') }}">User<br/>List</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="content nopadtop">
                <div class="row">
                    <div class="col-md-12">
                        <div class="publicprofile">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="income">
                                    {% block tab_content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
