{% if completionPercent | number_format != 100 %}
       <div class="progress-bar-container">
        <div class="container">
            <div class="content-before">
                <div class="row">
                    <div class="col-md-12 col-xs-12 cen-xs">
                        <div>
                            <div class="progress" style="z-index:1">
                                <div class="progress-bar wizard" role="progressbar"
                                     data-transitiongoal="{{ completionPercent | number_format }}"
                                     style="width: {{ completionPercent | number_format }}%">
                                                <span class="speech-bubble-ds">{{ completionPercent | number_format }}
                                                    %<div class="speech-bubble-ds-arrow"></div></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div>
        </div>
    </div>
{% endif %}