{% if messageList %}
    {% for message in messageList %}
        {% if loop.last %}
            <div class="alert alert-success" style="position: relative"><i class="fa fa-close" style="position: absolute;top: 5px;right: 10px; cursor: pointer" onclick="this.parentNode.style.display = 'none'"></i>{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}