<template>
    <div id="menuSideBarCompany" class="col-md-3 col-xs-12 shopDetailsMenu">
        <div class="sidebar-content" v-if="sections && sections.length">
            <div class="sidebar-content" v-for="(section, index) in sectionsWithSteps" :key="index">
                <p>{{ section.title }}</p>
                <ul class="shop-details__menu is-creating" v-if="section.items">
                    <li v-for="(item, index) in section.items" :key="index"
                        :data-step="item.step"
                        class="shop-details__menu__item"
                        :class="{
                            'is-filled': isFilled(item),
                            active: isActive(item)
                        }"
                    >
                        <a
                            :href="item.href"
                            v-if="completionResults[item.resultName] !== undefined"
                        >
                            <span class="badge">{{ item.step }}</span>
                            {{ item.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pathinfo: {
                type: String,
                default: ''
            },
            completionResults: {
                type: Object,
                default: {}
            }
        },
        data() {
            return {
                sections: [
                    {
                        title: 'Company Settings',
                        items: [
                            {
                                title: 'Company Details',
                                href: '/account/company/edit',
                                resultName: 'BasicData'
                            }
                        ]
                    },
                    {
                        title: 'Rewards',
                        items: [
                            {
                                title: 'Choose Rewards',
                                href: '/account/company/edit/offer',
                                resultName: 'MainOffer'
                            },
                            {
                                title: 'Special Offers',
                                href: '/account/company/edit/products',
                                secondHref: '/account/company/product/create',
                                resultName: 'OptionalOffer'
                            },
                            {
                                title: 'Set Budget',
                                href: '/account/company/budget',
                                resultName: 'Budget'
                            }
                        ]
                    },
                    {
                        title: 'Affiliate Landing Page',
                        items: [
                            {
                                title: 'Preview Page',
                                href: '/account/company/edit/preview',
                                resultName: 'Preview'
                            }
                        ]
                    },
                    {
                        title: 'Technical Settings',
                        items: [
                            {
                                title: 'Cookie lifespan',
                                href: '/account/company/edit/cookie',
                                resultName: 'CookieLifespan'
                            },
                            {
                                title: 'Snippet settings',
                                href: '/account/company/edit/snipset',
                                resultName: 'Snipset'
                            },
                            {
                                title: 'Test connection',
                                href: '/account/company/edit/test-connection',
                                resultName: 'TestConnection'
                            },
                            {
                                title: 'Create subdomain',
                                href: '/account/company/edit/subdomain',
                                resultName: 'Subdomain'
                            },
                            {
                                title: 'Offer ID settings',
                                href: '/account/company/edit/product-number',
                                resultName: 'ProductNumber'
                            },
                            {
                                title: 'Finish',
                                href: '/account/company/edit/finish',
                                resultName: 'Finish'
                            }
                        ]
                    }
                ],
            };
        },
        computed: {
            sectionsWithSteps() {
                const res = this.sections;
                let step = 1;

                this.sections.forEach((section, index) => {
                    section.items.forEach((item, key) => {
                        if (this.completionResults[item.resultName] !== undefined) {
                            res[index].items[key].step = step;
                            step += 1;
                        }
                    })
                });

                return res;
            }
        },
        methods: {
            isActive(item) {
                return (item.href && this.pathinfo === item.href) || (item.secondHref && this.pathinfo === item.secondHref)
            },
            isFilled(item) {
                return (!this.isActive(item) && (parseInt(this.completionResults[item.resultName]) >= 100))
            }
        },
    }
</script>
