<!--
<div class="page-title public-profile-title">
    <div class="row">
        <div class="col-sx-12 text-center">
            <h3>Register your Company</h3>
            <p>Registration process consists of {{ sidebar.length }} required steps which can be taken in random order.<br>
                Information provided in each section will be stored separately so you could edit it
                later when you join our program.<br>
                Once you fill in the form, it will be reviewed by our team.</p>
        </div>
    </div>
</div>
-->
