<div class="progress">
    <div class="progress-bar wizard" role="progressbar" data-transitiongoal="{{ progresWizard }}" style="width: {{ progresWizard }}%">
        <span class="speech-bubble-ds">{{ progresWizard }}%<div class="speech-bubble-ds-arrow"></div></span>
    </div>
</div>
