<!--
<div id="sidebar" class="col-md-3 col-xs-12">
    <div class="sidebar-content">
        <p>Non-Technical</p>
        <ul class="shop-details__menu{% if isCreating %} is-creating{% endif %}">
            {% for item in sidebar %}
            {% if not item.notWizard and isCreating or not isCreating or not item.nonTechnical %}
            {% if item.nonTechnical %}
            <li class="shop-details__menu__item{% if item.badge === currentStep  %} active{% endif %}{% if item.badge < currentStep  %} is-filled{% endif %}">
                <a href="{{ item.file }}">{% if isCreating %}<span class="badge">{{ item.badge }}</span>{% endif %}{{
                    item.name }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-content">
        <p>Technical</p>
        <ul class="shop-details__menu{% if isCreating %} is-creating{% endif %}">
            {% for item in sidebar %}
            {% if not item.notWizard and isCreating or not isCreating or item.nonTechnical %}
            {% if not item.nonTechnical %}
            <li class="shop-details__menu__item{% if item.badge === currentStep  %} active{% endif %}{% if item.badge < currentStep  %} is-filled{% endif %}">
                <a href="{{ item.file }}">{% if isCreating %}<span class="badge">{{ item.badge }}</span>{% endif %}{{
                    item.name }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>&lt;!&ndash; end col &ndash;&gt;-->
