<div class="modal-offer">
    <div class="modal-offer__overlay"></div>
    <div class="modal-offer__box">
        <button class="btn modal-offer__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h3>Main Offer</h3>
        {% if shop.cpsOffer %}
        <p>Recommend our products and get {{ shop.cpsOffer.isCommissionFiexed() ? '€' : '' }}{{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{ shop.cpsOffer.isCommissionFiexed() ? '' : '%' }} from every sale.
            {% if shop.getCplOffer() %}<br>Generate a lead to the {{ shop.name }} page get €{{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{% if not shop.cplOffer.isCommissionFiexed() == '$' %}%{% endif %} from every Sign Up.</p>{% endif %}
        {% endif %}
        {% if shop.products | length %}
        <h3>Special Offer</h3>
        <table class="table table-striped table-offer" style="width: 100%">
            <thead>
            <tr>
                <th scope="colgroup" style="border:none;">Offer Name</th>
                <th scope="colgroup" style="border:none;">Offer Description</th>
                <th colspan="2" scope="colgroup" style="width: 120px; border-bottom: 0;">Offer
                    CPS</th>
            </tr>
            </thead>
            <tbody>
            {% for product in shop.products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>

                {% if (product.cpsOffer.commissionType == 'fixed') %}
                <td>
                        €{{ product.cpsOffer.commission }}
                </td>
                {% endif %}
                {% if (product.cpsOffer.commissionType == 'percent') %}
                <td>
                    {{ product.cpsOffer.commission }}%
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
