<div class="col-md-3 col-sm-6">
    <div class="item-box">
        <div class="item-media entry" style="background-image: url('{{ shop.logo ? shop.logo : 'upload/item_01.jpg'  }}');">
            <div class="magnifier">
            </div>
        </div><!-- end item-media -->
        <div class="item-box__content">
            <div>
                <h4><a href="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">{{ shop.name }}</a></h4>
                <small>{{ shop.service }}</small>
                <div class="item-box__offer">
                    {% if shop.cpsOffer %}
                    <div class="item-box__offer__single">
                        <span class="item-box__offer__single__value">
                            {{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{ shop.cpsOffer.isCommissionFiexed() ? '$' : '%' }}
                        </span>
                        for every<br>sale made
                    </div>
                    {% endif %}
                    {% if shop.getCplOffer() %}
                    <div class="item-box__offer__single">
                        <span class="item-box__offer__single__value">
                            {{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{ shop.cplOffer.isCommissionFiexed() ? '$' : '%' }}
                        </span>
                        for every<br>signup made
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="item-box__actions">
                <a href="{{ path('shop_show', {id: shop.id}) }}" class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
    </div>
</div>