<template>
    <form @submit.prevent="save" method="POST">
        <div id="card_content">
            <div class="form-group" v-bind:class="{'has-error': validationErrors.currency}">
                <label class="control-label required">Currency</label>
                <select :disabled="!enabled" class="form-control" v-model="formData.currency">
                    <option value="1">EUR</option>
                </select>
                <span class="help-block" v-if="validationErrors.currency">
                    <ul class="list-unstyled">
                        <li v-for="error in validationErrors.currency"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                    </ul>
                </span>
            </div>
            <div class="form-group" v-bind:class="{'has-error': validationErrors.amount}">
                <label class="control-label">Amount</label>
                <input :disabled="!enabled" v-model="formData.amount" type="text" maxlength="128" class="form-control">
                <span class="help-block" v-if="validationErrors.amount">
                    <ul class="list-unstyled">
                        <li v-for="error in validationErrors.amount"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                    </ul>
                </span>
            </div>
            <div class="text-right">
                <button :disabled="!enabled" v-if="processing === false" class="btn btn-success" type="submit">
                    Process
                    <small v-if="!enabled" style="display: block;">(coupon codes)</small>
                </button>
                <button v-else class="btn btn-primary" type="submit" disabled>Processing...</button>
            </div>
        </div>
    </form>
</template>

<script>
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['user', 'csrf', 'enabled'],
        data() {
            return {
                formData: {
                    currency: 1,
                    amount: 0
                },
                validationErrors: {},
                processing: false
            }
        },
        mounted() {
        },
        methods: {
            save() {
                this.processing = true;
                this.validationErrors = {};
                let params = Object.assign(this.formData, {'_token': this.csrf});
                this.makeRequest('post', `/admin/user/${this.user}/transaction`, params)
                    .then(response => {
                        location.reload();
                    })
                    .catch(error => {
                        this.processing = false;
                        this.validationErrors = error.response.data;
                    })
            }
        }
    }
</script>