<template>
    <div>
        <button v-if="currentStatus !== rejectedStatus && rejectedStatus" @click="makeRejected" class="btn btn-danger">{{ rejectText }}</button>
        <button v-if="currentStatus !== acceptStatus && canActive" @click="makeActive" class="btn btn-success">{{ acceptText }}</button>
        <button v-else class="btn btn-success" disabled style="opacity: 0.7">{{ acceptText }}</button>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: {
            shop: Number,
            acceptStatus: Number,
            rejectedStatus: Number,
            currentStatus: Number,
            rejectText: {
                type: String,
                default: 'Reject'
            },
            acceptText: {
                type: String,
                default: 'Accept'
            },
            canActive: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {

            }
        },
        methods: {
            makeRejected() {
                Swal.fire({
                    title: 'Are you sure you want ' + String(this.rejectText).toLocaleLowerCase() + ' company?',
                    showCancelButton: true,
                    type: 'error',
                    confirmButtonText: 'Yes'
                })
                    .then((result) => {
                        if (result.value !== undefined) {
                            this.changeShopStatus(this.rejectedStatus);
                        }
                    })
            },
            makeActive() {
                Swal.fire({
                    title: 'Are you sure you want ' + String(this.acceptText).toLocaleLowerCase() + ' company?',
                    showCancelButton: true,
                    type: 'success',
                    confirmButtonText: 'Yes'
                })
                    .then((result) => {
                        if (result.value !== undefined) {
                            this.changeShopStatus(this.acceptStatus);
                        }
                    })
            },
            changeShopStatus(status) {

                this.makeRequest('post', `/admin/company/${this.shop}/status`, {'status': status})
                    .then(response => {
                        location.reload()
                    })
            }
        }
    }
</script>
