<template>
  <span
    class="form__extra-info"
    :class="additionalClass"
    v-html="content"
  >
  </span>
</template>

<script>
export default {
  props: {
    additionalClass: {
      type: String,
      default: null
    },
    content: {
      type: String,
      required: true
    }
  }
}
</script>
