<template>
  <b>
    <span v-if="top">{{ top }}</span>
    <span>
      {{ rewardValue }}
      {{ data.reward_type !== 'percent' ? '€ OFF' : ''}}
      {{ data.reward_type === 'percent' ? '% OFF' : ''}}
      <template v-if="bottom && !haveBR">
        {{ bottom }}
      </template>
    </span>
    <template v-if="haveBR && bottom">
      <br/>
      <span>{{ bottom }}</span>
    </template>
  </b>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    bottom: {
      default: null
    },
    top: {
      default: null
    },
    haveBR: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    rewardValue () {
      return this.data.reward_value.replace('.00', '')
    }
  }
}
</script>
