<head>
    <base target="_parent">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ card.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/override.css">
    <link rel="stylesheet" type="text/css" href="/css/card-builder.css">
    <link href="https://fonts.googleapis.com/css?family=Laila:400,700|Lato:400,400i,700,700i|Montserrat:400,400i,700,700i|Open+Sans:400,400i,700,700i|Oswald:400,700|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i|Srisakdi:400,700&amp;subset=latin-ext" rel="stylesheet">
    <style>
        a#iframe_cover_link {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
        }
        .social-icons.show {
            display: block;
        }
    </style>
</head>
<body>

<div class="card-editor-preview" style="border: 1px solid lightgray; border-radius: 10px;outline: none;padding: 0 15px;width: 800px;">

    {% if card.background is defined and card.background is not null %}
        {% if card.background.fileName is defined %}
            {% set backgroundImageUrl = '/media/'~card.background.fileName %}
        {% else %}
            {% set backgroundImageUrl = '/media/'~card.background %}
        {% endif %}
        <img src="{{ backgroundImageUrl }}" class="background-image">
    {% endif %}

    {% if card.socialMedia %}
    <div class="social-icons show">
        <div class="social-icon facebook" style="margin-right: 15px;">
            <a target="_blank" href="{{ app_socials.share.facebook }}{{ absolute_url(reflinkUrl) }}">
                <i style="line-height: 1.3;font-size: 30px;display: flex;align-items: center;justify-content: center;" class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="social-icon twitter" style="margin-right: 15px;">
            <a target="_blank" href="{{ app_socials.share.twitter }}{{ absolute_url(reflinkUrl) }}">
                <i style="line-height: 1.3;font-size: 30px;display: flex;align-items: center;justify-content: center;" class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="social-icon linkedin" style="margin-right: 15px;">
            <a target="_blank" href="{{ app_socials.share.linkedin }}{{ absolute_url(reflinkUrl) }}">
                <i style="line-height: 1.3;font-size: 30px;display: flex;align-items: center;justify-content: center;" class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="social-icon whatsapp" style="margin-right: 15px;">
            <a target="_blank" href="{{ app_socials.share.whatsapp }}{{ absolute_url(reflinkUrl) }}" class="whatsapp-redirect" whatsapp_reflink="{{ absolute_url(reflinkUrl) }}" data-action="share/whatsapp/share">
                <i style="line-height: 1.3;font-size: 30px;display: flex;align-items: center;justify-content: center;" class="fa fa-whatsapp"></i>
            </a>
        </div>
    </div>
    {% endif %}

    {% if card.referrerLink.shop.logo is defined and card.showShopLogo %}
    <div class="shop-logo">
        <img class="shop-logo" src="{{ card.referrerLink.shop.logo }}">
    </div>
    {% endif %}
    {% if card.title %}
    <p class="bigger-slogan">
        {{ card.title|nl2br }}
    </p>
    {% endif %}
    {% if card.subtitle %}
    <p class="smaller-slogan" style="">{{ card.subtitle|nl2br }}</p>
    {% endif %}
    <a href="{{ reflinkUrl }}" target="_blank" id="iframe_cover_link"></a>

    <p style="position: absolute;right: 10px;bottom: -10px;font-size: 10px;z-index: 101">Powered by <a href="http://www.valuelink.io/"><strong>ValueLink</strong></a></p>

    <script>
        let whatsAppRedirectHandle = () => {
            document.querySelectorAll('.whatsapp-redirect').forEach((el) => {
                el.addEventListener('click', (e) => {
                    e.preventDefault()
                    const whatsAppReflink = el.getAttribute('whatsapp_reflink')
                    if (screen.width < 768) {
                        window.open(`whatsapp://send?text=${whatsAppReflink}`, '_blank')
                    } else {
                        window.open(` https://web.whatsapp.com/send?text=${whatsAppReflink}`, '_blank')
                    }
                })
            })
        }
        whatsAppRedirectHandle()
    </script>
</div>
</body>
