<template>
  <button @click="clickHandler" class="btn btn-link delete-btn">
    <img src="/images/icons/delete.svg">
  </button>
</template>

<script>
export default {
  methods: {
    clickHandler() {
      this.$emit('delete-click')
    },
  }
}
</script>