<template>
  <button @click="clickHandler" class="btn btn-link save-btn" :disabled="isDisabled">
    <img src="/images/icons/checkmark.svg" />
  </button>
</template>

<script>
export default {
  props: {
    isDisabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clickHandler() {
      this.$emit('save-click')
    },
  }
}
</script>