{% for error in errors %}
    {% if couponTypeName in error.message %}
        <div class="alert alert-danger">
            {{ (error.messageTemplate|trans(error.messageParameters, 'validators')~'')|trim(couponTypeName) }}
        </div>
    {% endif %}
{% endfor %}
{% for message in app.flashes('error') %}
    {% if couponTypeName in message %}
        <div class="alert alert-danger">
            {{ message|trim(couponTypeName) }}
        </div>
    {% endif %}
{% endfor %}