<div class="rTableRow" {% if active %} style="background: #dff0d8;" {% endif %}>
    <div style="font-size:16px; color:dodgerblue" class="text-center rTableCell">{{ package.discountType.name == 'fixed' ? '€' : '' }}{{ package.discount|number_format(2, '.', '')|replace({'.00': ''}) }}{{ package.discountType.name == 'fixed' ? '' : '%' }}</div>
    {% if package.coupons|length %}
        {% for coupon in package.coupons %}
            <div style="font-size:16px; color:dodgerblue" class="text-center rTableCell">{{ coupon.code }}</div>
        {% endfor %}
    {% endif %}
    <div class="text-center rTableCell">
        {% if active %}
            <div style="font-size:16px; color:dodgerblue">Active</div>
        {% else %}
            <i style="font-size:20px; color:dodgerblue;" class="fa fa-check"><span style="font-size:20px;"></span></i>
            <button type="button" data-url="{{ path('delete_widiget_package', {id: package.id}) }}" class="btn btn-outline-primary btn-coupon-remove">
                <i class="fa fa-thumbs-up"></i>
            </button>
        {% endif %}
    </div>
</div>
