{% if packages | length > 0 %}
    <div class="table-responsive" style="margin-top:0px; border-radius:10px 10px 0 0;">
        <div class="rTable" style="font-size: 14px; text-align: center; margin-bottom:0; max-height: 146px; overflow-y: auto;">
            {% set activePackages = packages|filter(package => package.isActive) %}
            {% set inactivePackages = packages|filter(package => not package.isActive)  %}

            {% for package in activePackages %}
                {% include 'account/shop/widget/parts/coupon_packages_table_row.html.twig' with {package: package, active: true} %}
            {% endfor %}

            {% for package in inactivePackages %}
                {% include 'account/shop/widget/parts/coupon_packages_table_row.html.twig' with {package: package, active: false} %}
            {% endfor %}
        </div>
    </div>
{% endif %}



