{#<div class="page-entry-bg wizard-title" style="padding-bottom:55px;">#}
{#    <div class="container">#}
{#        <div class="page-title public-profile-title">#}
{#            <div class="row">#}
{#                <div class="col-xs-12">#}
{#                    <h3>Configure Your Referral Widget</h3>#}
{#                    <p>Widget configuration requires: Company Details & Rewards information<br>#}
{#                        Insert our snippet code to Your site and start configuring Your referral widget.<br>#}
{#                        Choose widget layout, upload coupons, display Your rewards on widget and start referring</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% include 'account/shop/edit_base-menu.html.twig' with {active: 'widget'} %}#}
