<!--
<div id="sidebar" class="col-md-3 col-xs-12 shopDetailsMenu">
    <div class="sidebar-content">
        <div class="sidebar-content">
            <p>Widget Settings</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('LayoutData').getScore() }}"
                        data-step="1"
                        class="shop-details__menu__item {{ '/account/shop/widget/header' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/header">
                        <span class="badge">1</span>
                        Configure Layout
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-content">
            <p>Widget Coupons</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('CouponsData').getScore() }}"
                        data-step="2"
                        class="shop-details__menu__item {{ '/account/shop/widget/coupons' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/coupons">
                        <span class="badge">2</span>
                        Widget Coupons
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-content">
            <p>Widget Rewards</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('RewardsData').getScore() }}"
                        data-step="3"
                        class="shop-details__menu__item {{ '/account/shop/widget/rewards' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/rewards">
                        <span class="badge">3</span>
                        Widget Rewards
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-content">
            <p>Widget Email</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('EmailData').getScore() }}"
                        data-step="4"
                        class="shop-details__menu__item {{ '/account/shop/widget/email' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/email">
                        <span class="badge">4</span>
                        Widget Email
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-content">
            <p>Widget Icon</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('IconData').getScore() }}"
                        data-step="5"
                        class="shop-details__menu__item {{ '/account/shop/widget/icon' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/icon">
                        <span class="badge">5</span>
                        Widget Icon
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-content">
            <p>Refferal Page Activation</p>
            <ul class="shop-details__menu is-creating">
                <li
                        data-score="{{ shop.widgetSetting.completion.getResult('ActivateRefferalData').getScore() }}"
                        data-step="7"
                        class="shop-details__menu__item {{ '/account/shop/widget/refferal' in app.request.pathinfo ? 'active' : '' }}">
                    <a href="/account/shop/widget/refferal">
                        <span class="badge">7</span>
                        Activate Refferal Page
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
