<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="section-title-entry">
                {% if backLink %}
                    <a href="{{ backLink }}">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve"><g><path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z" /></g></svg>
                    </a>
                {% endif %}
                {{ (title) ? title : 'Unknown title' }}
            </h1>
        </div>
    </div>
</div>