{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">

        <company-sidebar
                v-bind="{
                activeElement: 'Income'
            }"
        ></company-sidebar>

        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50 pl-0 pr-0">
                <div class="page-title income-title">
                    <div class="row">
                        <shop-income min-date="{{ app.user.createdAt | date('Y-m-d') }}"></shop-income>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
