<template>
    <table class="table table-nothbg" style="">
        <thead>
        <tr>
            <th>Include for Calculation</th>
            <th>Offer name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label>
                    <input type="checkbox" v-model="includeMainOffer" @change="filtersChanged" />
                    <span v-if="includeMainOffer"> Included</span>
                    <span v-else> Not included</span>
                </label>
            </td>
            <td>
                Main Offer
            </td>
        </tr>
        <tr v-for="item in products">
            <td>
                <label>
                    <input type="checkbox" v-model="includedProducts" :value="item.id" @change="filtersChanged" />
                    <span v-if="includedProducts.includes(item.id)"> Included</span>
                    <span v-else> Not included</span>
                </label>
            </td>
            <td>
                {{ item.name }}
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import {userFactory} from "../../../Objects/User";

    export default {
        mixins: [Request],
        data() {
            return {
                products: [],
                includedProducts: [],
                loaded: false,
                includeMainOffer: true
            }
        },
        mounted() {
            this.getPartners();
        },
        methods: {

            getPartners() {
                this.makeRequest('GET', `/ajax/company/products`)
                    .then(response => {
                        this.products = response.data;
                        this.includedProducts = _.pluck(this.products, 'id');
                        this.loaded = true;
                        this.filtersChanged();
                    });
            },

            filtersChanged() {
                if (this.loaded) {
                    this.$emit('filters-changed', {
                        products: this.includedProducts,
                        mainOffer: this.includeMainOffer
                    });
                }
            }

        }
    }
</script>
