<template>
    <div class="rTable" style="font-size: 14px;text-align: center;">
        <div class="rTableHeading">
            <div class="rTableRow">
                <div class="rTableHead oneof9 height-pc-smaller-68">Payout Request<br>Date</div>
                <div class="rTableHead oneof9 height-pc-smaller-68">Referral Partner<br>Name</div>
                <div class="rTableHead oneof9 height-pc-smaller-68">Referral Partner<br>Email</div>
                <div class="rTableHead oneof9 height-pc-smaller-68">Payout<br>Amount</div>
                <div class="rTableHead oneof9 height-pc-smaller-68">Payout<br>Status</div>
            </div>
        </div>
        <div class="rTableBody">
            <div class="rTableRow">
                <div class="alert alert-info" style="width: 100%;margin-top: 15px;text-align: left">There are no payout requests for this period</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {moneyFactory} from "../../../Objects/Money";
    import Request from "../../../Mixins/Request";
    import SummaryHelper from './Helpers/SummaryHelper.js';
    import Sort from './Helpers/Sort.js';

    export default {
        mixins: [Request],
        props: ['start', 'end', 'products', 'includeMainOffer'],
        data() {
            return {
                promoted: [
                    'https://facebook.com',
                    'https://twitter.com'
                ],
                host: null,
                protocol: null,
                items: [],
                firstLevelSort: null,
                secondLevelSort: {},
                thirdLevelSort: {}
            }
        },
        watch: {
            start: function () {
                this.loadItems();
            },
            products: function () {
                this.loadItems();
            },
            summary: function (newVal) {
                this.$emit('summary-changed', newVal)
            },
            includeMainOffer: function() {
                this.loadItems();
            }
        },
        mounted() {
            this.promoted.push(window.location.origin);
            this.loadItems();
            this.host = window.location.host;
            this.protocol = window.location.protocol;
        },
        methods: {
            linkStyles(link) {
                if (this.promoted.includes(link.document_referrer.referrer)) {
                    return {fontWeight: 700};
                }

                return {};
            },
            sortFirstLevel(field) {
                if (!this.firstLevelSort) {
                    this.firstLevelSort = new Sort();
                }

                this.items = this.firstLevelSort.sort(this.items, field);
            },
            sortSecondLevel(identifier, data, field) {
                if (this.secondLevelSort[identifier] === undefined) {
                    this.secondLevelSort[identifier] = new Sort();
                }
                this.items[identifier].links =this.secondLevelSort[identifier].sort(data, field);
            },
            sortThirdLevel(itemIndex, linkIndex, data, field) {
                let id = [itemIndex, linkIndex].join('.');
                if (this.thirdLevelSort[id] === undefined) {
                    this.thirdLevelSort[id] = new Sort();
                }
                this.items[itemIndex]['links'][linkIndex].details = this.thirdLevelSort[id].sort(data, field);
            },
            convertDateTimeToDisplay(dateTime) {
                let dtObject = new Date(String(dateTime).replace(/ /g,"T"));
                let dateString = '';
                let currMonth = (dtObject.getMonth()+1).toString().length == 1 ? '0' + (dtObject.getMonth()+1) : (dtObject.getMonth()+1);
                let currDay = dtObject.getDate().toString().length == 1 ? '0' + dtObject.getDate() : dtObject.getDate();
                let currHour = dtObject.getHours().toString().length == 1 ? '0' + dtObject.getHours() : dtObject.getHours();
                let currMin = dtObject.getMinutes().toString().length == 1 ? '0' + dtObject.getMinutes() : dtObject.getMinutes();

                dateString = dtObject.getFullYear().toString() + '-' + currMonth + '-' + currDay;
                dateString += '<br/>';
                dateString += currHour + ':' + currMin;
                return dateString;
            },
            checkReferrerDetails(item) {
                let $this = this;

                this.items.forEach(function(value, index){
                    if(value.id != item.id){
                        $this.items[index].links = [];
                    }
                });

                this.makeRequest('GET', `/ajax/company/income/traffic-source/${item.document_referrer.id}`, this.getFilters())
                    .then(response => {
                        item.links = _.map(response.data, function (link) {
                            link.purchase_total = moneyFactory('EUR', link.purchase_total);
                            link.sign_up_referrer_profit = moneyFactory('EUR', link.sign_up_referrer_profit);
                            link.referrer_profit = moneyFactory('EUR', link.purchase_referrer_profit).add(link.sign_up_referrer_profit);
                            link.details = [];
                            return link;
                        })
                    })
            },
            closeReferrerDetails(item) {
                item.links = [];
            },
            checkPayoutDetails(link) {
                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}`, this.getFilters())
                    .then(response => {
                        link.details = _.map(response.data, function (detail) {
                            detail.purchases_price = moneyFactory('EUR', detail.purchases_price);
                            detail.referrer_profit = moneyFactory('EUR', detail.referrer_profit);
                            if (detail.commission_type === 'fixed') {
                                detail.commission = moneyFactory('EUR', detail.commission);
                            }
                            detail.exchange_rates = [];
                            return detail;
                        });
                    })
            },
            closePayoutDetails(link) {
                link.details = [];
            },
            closeConversionDetails(detail) {
                detail.exchange_rates = [];
            },
            checkConversionDetails(link, target) {

                let filters = this.getFilters();
                filters.offer_type = target.offer_type;
                filters.commission = target.commission;
                filters.commission_type = target.commission_type;
                filters.purchase_price = target.purchases_price.amount;
                filters.source_link = target.source_link;

                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}/exchange-rates`, filters)
                    .then(response => {
                        target.exchange_rates = _.map(response.data, (detail) => {
                            if (detail.purchasesPrice !== null) {
                                detail.purchases_price = moneyFactory('EUR', detail.purchasesPrice);
                            }
                            if (detail.originalPrice !== null) {
                                detail.original_price = moneyFactory(detail.originalCurrency, detail.originalPrice);
                            }
                            if (detail.exchangeRate !== null) {
                                detail.exchange_rate = moneyFactory(detail.originalCurrency, detail.exchangeRate);
                            }
                            detail.createdAt = this.convertDateTimeToDisplay(detail.createdAt.date);
                            return detail;
                        });
                    })
            },
            loadItems() {
                this.makeRequest('GET', '/ajax/company/income/traffic-source', this.getFilters())
                    .then(response => {
                        this.items = _.map(response.data, function (item) {
                            item.id = item.document_referrer.id;
                            item.system_commission = moneyFactory('EUR', item.system_commission);
                            item.sign_up_referrer_profit = moneyFactory('EUR', item.sign_up_referrer_profit);
                            item.total_referrer_income = moneyFactory('EUR', item.purchase_referrer_profit).add(item.sign_up_referrer_profit)
                            item.purchase_total = moneyFactory('EUR', item.purchase_total);
                            item.links = [];

                            return item;
                        });
                    });
            },
            getFilters() {
                return {
                    products: this.products,
                    include_main_offer: this.includeMainOffer,
                    start_at: this.start,
                    end_at: this.end
                };
            },
            lastPurchaseDateFormat (item) {
                if(item.last_purchase_date){
                    return this.convertDateTimeToDisplay(item.last_purchase_date);
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            },
            lastSignUpDateFormat (item) {
                if(item.last_sign_up_date){
                    let lastSignUpDate = new Date(item.last_sign_up_date.replace(/ /g,"T"));
                    let lastSignUpContent = null;

                    let currMonth = (lastSignUpDate.getMonth()+1).toString().length == 1 ? '0' + (lastSignUpDate.getMonth()+1) : (lastSignUpDate.getMonth()+1);
                    let currDay = lastSignUpDate.getDate().toString().length == 1 ? '0' + lastSignUpDate.getDate() : lastSignUpDate.getDate();
                    let currHour = lastSignUpDate.getHours().toString().length == 1 ? '0' + lastSignUpDate.getHours() : lastSignUpDate.getHours();
                    let currMin = lastSignUpDate.getMinutes().toString().length == 1 ? '0' + lastSignUpDate.getMinutes() : lastSignUpDate.getMinutes();
                    let currSec = lastSignUpDate.getSeconds().toString().length == 1 ? '0' + lastSignUpDate.getSeconds() : lastSignUpDate.getSeconds();

                    lastSignUpContent = currMonth + '-' + currDay + '-' + lastSignUpDate.getFullYear().toString().substr(-2);
                    lastSignUpContent += '<br/>';
                    lastSignUpContent += currHour + ':' + currMin + ':' + currSec;

                    return lastSignUpContent;
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            }
        },
        computed: {
            summary() {
                return (new SummaryHelper(this.items)).getAll();
            }
        }

    }
</script>
