<template>
    <div class="calendar-income-info">
        <div style="text-align: center;">
            <strong style="display: block">Sales based on referral links:</strong>
            <strong style="display: block;">€450</strong>
        </div>
        <div v-if="!isReferrer" style="text-align: center;">
            <strong style="display: block">Discount based on used coupons:</strong>
            <strong>€100</strong>
        </div>
        <div v-if="isReferrer" style="text-align: center">
            <strong style="display: block">Coupons received</strong>
            <strong>50</strong>
        </div>
        <div style="text-align: center;">
            <strong style="display: block">Cash payed out due to referrals:</strong>
            <strong>€50</strong>
        </div>
        <div style="text-align: center;">
            <strong style="display: block">Revenue based on<br>referrals:</strong>
            <strong>€300</strong>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['stats', 'isReferrer'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {}
    }
</script>
