<template>
  <div class="col-md-6 col-12 mb-25">
    <div class="stats-block">
      <h3>{{ title }}</h3>
      <slot></slot>
    </div>
  </div>
</template>

<script>
    export default {
        props: {
          title: {
            type: String,
            required: true
          },
        },
        data() {
          return {}
        },
        methods: {}
    }
</script>
