<template>
  <div class="stats-block-container mb-40">
    <div class="row">
      <block :title="'Revenue based on referrals'">
        <div>
          <p>{{ month }} revenue</p>
          <p class="value">{{ monthlyMoneyVal }}</p>
          <br>
          <p>Total referral revenue since {{ shopCreatedAt }}</p>
          <p class="value">{{ totalMoneyVal }}</p>
        </div>
        <br>
      </block>
      <block :title="'Sales based on referrals'">
        <br>
        <chart :data="valuesChart.data" :options="valuesChart.options" :width="600" :height="220"></chart>
        <br>
      </block>
      <block :title="'Numbers of referred purchase'">
        <table class="mb-15">
          <tbody>
          <tr>
            <td>Purchase number in {{ month }}</td>
            <td><strong>{{ summary.purchase_count }}</strong></td>
          </tr>
          <tr>
            <td>Total purchase number since {{ shopCreatedAt }}</td>
            <td><strong>{{ generalSummary.purchase_count }}</strong></td>
          </tr>
          </tbody>
        </table>
        <chart :data="salesChart.data" :options="salesChart.options" :width="600" :height="160"></chart>
      </block>
      <block :title="'Report'">
        <table class="full-height">
          <tbody>
          <tr v-for="(report, index) in reportData" :key="index" v-if="canDisplayReport(report)">
            <td v-html="report.label"></td>
            <td v-html="report.value"></td>
          </tr>
          </tbody>
        </table>
        <br>
      </block>
    </div>
  </div>
</template>

<script>
    import { moneyFactory } from "../../../../Objects/Money";
    import Chart from "../../../Chart/Bar"
    import Block from "./Block"

    export default {
      components: {
        Chart,
        Block
      },
      props: {
        startDate: {
          type: Object,
          required: true
        },
        shopCreatedAt: {
          type: String,
          required: true
        },
        summary: {
          type: Object,
          default: {}
        },
        generalSummary: {
          type: Object,
          default: {}
        },
        dailyItems: {
          type: Array,
          default: []
        },
        isReferrer: {
          type: Boolean,
          default: false
        },
        inviteCoupons: {
          type: Number,
          default: 0
        },
        referrerCoupons: {
          type: Number,
          default: 0
        }
      },
      data() {
        return {}
      },
      computed: {
        monthlyMoneyVal() {
          if (this.isReferrer) {
            const val = (this.summary && this.summary.totalReferrerProfit) || moneyFactory('EUR', 0)
            return (val && val.human_amount) || val
          } else {
            const val = (this.summary && this.summary.revenue) || moneyFactory('EUR', 0)
            return (val && val.human_amount) || val
          }
        },
        totalMoneyVal() {
          if (this.isReferrer) {
            const val = (this.generalSummary && this.generalSummary.totalReferrerProfit) || moneyFactory('EUR', 0)
            return (val && val.human_amount) || val
          } else {
            const val = (this.generalSummary && this.generalSummary.revenue) || moneyFactory('EUR', 0)
            return (val && val.human_amount) || val
          }
        },
        month() {
          return this.startDate && this.startDate.monthName()
        },
        daysInMonth() {
          return new Date(this.startDate.year(), this.startDate.month(), 0).getDate();
        },
        maxDailySales() {
          return this.generalSummary ? Math.ceil(this.generalSummary.purchase_count) : 0
        },
        maxDailyValues() {
          if (this.isReferrer) {
            return this.generalSummary ? Math.ceil(this.generalSummary.totalCps.amount) : 0
          } else {
            return this.generalSummary ? Math.ceil(this.generalSummary.purchase_total.amount) : 0
          }
        },
        dailySales() {
          return new Array(this.daysInMonth).fill(null).map((item, key) => {
            const mItem = this.dailyItems[key+1];
            return (mItem && mItem.purchase_count) || 0
          })
        },
        dailyValues() {
          return new Array(this.daysInMonth).fill(null).map((item, key) => {
            const mItem = this.dailyItems[key+1];
            if (this.isReferrer) {
              return (mItem && mItem.totalCps.amount) || 0.00;
            } else {
              return (mItem && mItem.purchase_total.amount) || 0.00;
            }
          })
        },
        couponsUserRows() {
          return this.isReferrer ? [
            {
              label: '<strong>COUPONS RECEIVED</strong>',
              value: `<strong>${this.referrerCoupons}</strong>`
            },
            {
              label: '<strong>INVITEE COUPONS</strong>',
              value: `<strong>${this.inviteCoupons}</strong>`
            }
          ] : [
            {
              label: '<strong>COUPONS USED</strong>',
              value: `<strong>${this.summary.used_coupons_count}</strong>`
            }
          ]
        },
        reportData() {
          return [
            ...this.couponsUserRows,
            {
              label: `${this.month} Clicks`,
              value: this.summary.views_count
            },
            {
              label: `${this.month} Email Sent`,
              value: this.summary.invite_friend_emails_count
            },
            {
              label: `Total Clicks Since ${this.shopCreatedAt}`,
              value: this.generalSummary.views_count
            },
            {
              label: `Total Email Sent Since ${this.shopCreatedAt}`,
              value: this.generalSummary.invite_friend_emails_count
            }
          ]
        },
        salesChart() {
          return {
            data: {
              labels: new Array(this.daysInMonth).fill(null).map((item, key) => `Day ${key+1}`),
              datasets: [{
                label: 'Sales',
                data: this.dailySales,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    display:false
                  },
                  ticks: {
                    min: 0,
                    max: this.maxDailySales,
                    stepSize: this.maxDailySales > 0 ? Math.round(this.maxDailySales / 3) : 0,
                    reverse: false,
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  gridLines: {
                    display:false
                  },
                  ticks: {
                    min: 0,
                    max: this.daysInMonth,
                    stepSize: 10,
                    reverse: false,
                    beginAtZero: true,
                    callback: value => ['Day 1', 'Day 10', 'Day 20', 'Day 30'].indexOf(value) >= 0 ? value.replace('Day ', '') : ''
                  }
                }]
              },
              responsive: true,
              maintainAspectRatio: false,
              aspectRatio: 3
            }
          }
        },
        valuesChart() {
          return {
            data: {
              labels: new Array(this.daysInMonth).fill(null).map((item, key) => `Day ${key+1}`),
              datasets: [{
                label: 'Amount',
                data: this.dailyValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    display:false
                  },
                  ticks: {
                    min: 0,
                    max: this.maxDailyValues,
                    stepSize: Math.round(this.maxDailyValues/3),
                    reverse: false,
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  gridLines: {
                    display:false
                  },
                  ticks: {
                    min: 0,
                    max: this.daysInMonth,
                    stepSize: 10,
                    reverse: false,
                    beginAtZero: true,
                    callback: value => ['Day 1', 'Day 10', 'Day 20', 'Day 30'].indexOf(value) >= 0 ? value.replace('Day ', '') : ''
                  }
                }]
              },
              responsive: true,
              maintainAspectRatio: false,
              aspectRatio: 3
            }
          }
        }
      },
      mounted() {},
      methods: {
        canDisplayReport(report) {
          return report && report.label
        }
      }
    }
</script>
