<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Super Interface Widget</title>
  </head>
  <body>
  {% if hasActiveCampaign is defined %}
    <breadcrumb></breadcrumb>
    <div id="app"></div>
    <script>
      window.companyId = "{{ company_id }}";
      {% if paypalEmail is defined %}
        window.paypalEmail = "{{ paypalEmail }}";
      {% endif %}
    </script>
  {% else %}
    <p style="text-align: center; margin: 5px; color: red;">This widget doesn't have any active campaigns.</p>
  {% endif %}
    <!-- built files will be auto injected -->
  </body>
</html>
