<template>
    <button v-on:click="save" class="btn btn-success btn-small" style="font-size: 17px; padding: 6px 10px; float:right; margin-top:0;"><i class="fa fa-save"></i></button>
</template>

<script>
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['amount', 'uuid'],
        methods: {
            save() {
                this.validationErrors = {};

                if(isNaN(this.amount)){
                    toastr.error('Value is not a number. Please change and try again');
                    return false;
                }

                this.makeRequest('put', `transaction/${this.uuid}`, { amount: this.amount })
                    .then(response => {
                        toastr.success('Value was saved successfully');
                        this.$parent.valueChanged = false;
                        this.$parent.initialAmountVal = this.$parent.amountVal;
                    })
                    .catch(error => {
                        this.validationErrors = error.response.data;
                        toastr.error('Save error, please try again');
                    })
            }
        }
    }
</script>