<template>
    <button v-on:click="reset" class="btn btn-danger btn-small" style="font-size: 17px; padding: 6px 10px; float:right; margin-top:0;"><i class="fa fa-remove"></i></button>
</template>

<script>
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['amount', 'uuid'],
        methods: {
            reset() {
                this.$parent.amountVal = this.$parent.initialAmountVal;
                this.$parent.valueChanged = false;
            }
        }
    }
</script>