<template>
    <div style="position:relative;">
        <span id="amountEditionSpan" @click="enableAmountEdition" :class="{ 'green': amountVal > 0, 'red': amountVal < 0 }" v-if="(amountVal || amountVal == 0) && !amountEdition" v-show="!amountEdition">{{amountVal <= 0 ? '- €' + (amountVal * -1) : '€' + amountVal}}</span>
        <input ref="amountInput"
               id="amountEditionInput"
                  @focusout="amountEdition = false"
                  @input="valueChanged = true"
                  v-if="amountEdition"
                  v-model="amountVal"
                  type="text"
                  class="form-control"
                  maxlength="10"
        />
        <div id="amountEditionButtons">
            <ButtonResetAmount v-if="valueChanged && amountVal != initialAmountVal"/>
            <ButtonSaveAmount :amount="amountVal" :uuid="uuid" v-if="valueChanged && amountVal != initialAmountVal"/>
        </div>
    </div>
</template>

<script>
    import ButtonSaveAmount from './ButtonSaveAmount';
    import ButtonResetAmount from './ButtonResetAmount';

    export default {
        props: ['amount', 'uuid'],
        components: {
            ButtonSaveAmount,
            ButtonResetAmount
        },
        data() {
            return {
                amountEdition: false,
                initialAmountVal: this.amount,
                amountVal: this.amount,
                valueChanged: false
            }
        },
        methods: {
            enableAmountEdition() {
                this.amountEdition = true;
                setTimeout(() => {
                    this.changeFocus(this.$refs.amountInput);

                    var event = new Event('input', {
                        'bubbles': true,
                        'cancelable': true
                    });

                    this.$refs.amountInput.dispatchEvent(event);
                }, 50);
            },
            changeFocus(elemnet) {
                this.$nextTick(function () {
                    elemnet.focus();
                })
            }
        }
    }
</script>
