<template>
    <form name="card_content" @submit.prevent="save" method="POST">
        <div id="card_content">
            <label class="control-label required col-md-3">Title</label>
            <div class="form-group col-md-9" v-bind:class="{'has-error': validationErrors.title}">
                <input v-model="formData.title" type="text" required="required" maxlength="128" class="form-control user-success">
                <span class="help-block" v-if="validationErrors.title">
                    <ul class="list-unstyled">
                        <li v-for="error in validationErrors.title"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                    </ul>
                </span>
            </div>
            <label class="control-label col-md-3">Subtitle</label>
            <div class="form-group col-md-9" v-bind:class="{'has-error': validationErrors.subtitle}">
                <input v-model="formData.subtitle" type="text" maxlength="128" class="form-control">
                <span class="help-block" v-if="validationErrors.subtitle">
                    <ul class="list-unstyled">
                        <li v-for="error in validationErrors.subtitle"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</li>
                    </ul>
                </span>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</template>

<script>
    import Request from '../../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['linkId', 'title', 'subtitle', 'csrf'],
        data() {
            return {
                formData: {
                    'title': '',
                    'subtitle': ''
                },
                validationErrors: {}
            }
        },
        mounted() {
            this.formData.title = this.title;
            this.formData.subtitle = this.subtitle;
        },
        methods: {
            save(status) {
                this.validationErrors = {};
                let params = Object.assign(this.formData, {'_token': this.csrf});
                this.makeRequest('post', `/admin/referrer-links/${this.linkId}/card-content`, params)
                    .then(response => {
                        toastr.success(response.data.message);
                    })
                    .catch(error => {
                        this.validationErrors = error.response.data;
                    })
            }
        }
    }
</script>