<template>
    <sidebar
            :activeElement="activeElement"
            v-bind="{
            elements: [
                {
                    name: 'Home',
                    url: '/account/company'
                },
                {
                    name: 'Analytics',
                    url: '#analytics',
                    childrens: [
                        {
                            name: 'Income',
                            url: '/account/company/income'
                        },
                        {
                            name: 'Referral Sales',
                            url: '/account/company/purchases'
                        }
                    ],
                },
                {
                    name: 'Billing',
                    url: '#billing',
                    childrens: [
                        {
                            name: 'Invoicing',
                            url: '#'
                        },
                        {
                            name: 'Payouts',
                            url: '/account/company/payout'
                        }
                    ]
                },
                {
                    name: 'Validation',
                    url: '#validation',
                    childrens: [
                        {
                            name: 'Transactions',
                            url: '/account/company/transactions'
                        },
                        {
                            name: 'Partners',
                            url: '/account/company/partner'
                        }
                    ]
                },
                {
                    name: 'Coupons',
                    url: '/account/company/coupon'
                }
            ]
        }"
    >

    </sidebar>
</template>

<script>
    import Sidebar from "../Sidebar";
    export default {
        components: {Sidebar},
        props: {
            activeElement: {
                type: String,
                required: true
            }
        }
    }
</script>