{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}products{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>

    <script>
        $(document).ready(function () {

            $('.form-cps-cpl input[type=text]').each(function () {
                $(this).parent().find('input[type=radio]').attr("checked", $(this).val() !== 0 && $(this).val() !== '');
            });

            const formBeforeLeave = new FormBeforeLeave(new Form($('form')), '.page-content');
            formBeforeLeave.attachTo($('.shop-details__menu__item a'));
            formBeforeLeave.init();

        });
    </script>
{% endblock %}

{% block tab_content %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}

    {% include 'account/shop/product/form.html.twig' with {form: form} %}

    <div class="row">
        <div class="col-md-6">
            <div class="text-left submit-wizard-section">
                <a href="{{ path('account_shop_edit_budget') }}" class="btn btn-default">Skip</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center submit-wizard-section">
                <button type="submit" class="btn btn-success">
                    Add Product Category
                </button>
            </div>
        </div>
    </div>


    {{ form_end(form, {render_rest: false}) }}
{% endblock %}