
{% extends 'account/shop/edit_base.html.twig' %}

{% block tab_name %}products{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% include 'account/shop/product/scripts.html.twig' %}
{% endblock %}

{% block tab_content %}
    {{ form_start(form) }}

    {% if joinedUsersCount > 0 %}
        {% include 'account/shop/product/referrals-confirmation.html.twig' with {'joinedUsersCount': joinedUsersCount} %}
    {% endif %}

    {% include 'account/shop/product/form.html.twig' with {form: form} %}

    <div class="text-center submit-wizard-section">
        <button type="submit" class="btn btn-success">
            Save Product Category
        </button>
    </div>

    {{ form_end(form, {render_rest: false}) }}
{% endblock %}