{{ form_errors(form) }}
{{ form_row(form._token) }}

<div class="form-group flex noborder">
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
    <span>This name will be displayed on top of Marketplace offer, next to your company's logo</span>
</div>

<div class="form-group flex noborder">
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    <span>Describe your offer. 250 chars maximum.</span>
</div>

<div class="form-group flex noborder" style="border: 0;">
    <label>Offer CPS</label>
    <div class="form-cps-cpl">

        <div class="radio">
            <label><input type="radio" name="optradio" checked>Fixed value</label>
            <input type="text" name="product[cpsOffer][fixed_commission]" class="form-control cps" placeholder="" value="{{ form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType.name == 'fixed' ? form.vars.value.cpsOffer.commission : '' }}"/><span>€</span>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Percentage amount</label>
            <input type="text" name="product[cpsOffer][percent_commission]" class="form-control cps" placeholder="" value="{{ form.vars.value.cpsOffer and form.vars.value.cpsOffer.commissionType.name == 'percent' ? form.vars.value.cpsOffer.commission : '' }}"/><span>%</span>
        </div>
    </div>
    {{ form_errors(form.cpsOffer.commission) }}
    <span>Lorem ipsum dolor sit amet</span>
</div>

<div class="form-group flex noborder">
    <label>Offer URL</label>
    <div class="input-group">
        <span class="input-group-addon">ValueLink.com/{{ shop.urlName }}/</span>
        {{ form_widget(form.website) }}
    </div>
    <span>Lorem ipsum dolor sit amet</span>
</div>