<div class="alert alert-warning referrals-confirmation" style="display: none;">
    All Your {{ joinedUsersCount }} Referal Partners will be notified about the reward value. Are You sure You to change reward?
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <button class="btn btn-primary save-changes">Yes</button>
            <button class="btn btn-secondary leave-changes">No</button>
        </div>
    </div>
</div>