<script src="{{ absolute_url('/js/form-beforeleave.js') }}"></script>

<script>
    $(document).ready(function () {

        $('.cpl-switch').on('change', function () {
            $('.cpl-content').toggleClass('open');
        });

        if ($("input[name='shop_offer[cplOffer][fixed_commission]']").val() != '') {
            $(".cpl-content").addClass("open");
            $(".cpl-switch").attr("checked", true)
        }

        $('.form-cps-cpl input[type=text]').each(function () {
            $(this).parent().find('input[type=radio]').attr("checked", $(this).val() !== 0 && $(this).val() !== '');
        });

        $('form[name=shop_offer]').submit(function (e) {
            if (!$(".cpl-switch").is(':checked')) {
                $(".cpl-content input").val('')
            }
        });

        var form = new Form($('form'));

        if ($('.referrals-confirmation').length) {
            let $confirmationAlert = $('.referrals-confirmation');
            $('form button').click(function (e) {
                if (form.changed()) {
                    e.preventDefault();
                    $confirmationAlert.show();
                }
            });
            $confirmationAlert.find('.save-changes').click(function () {
                $('form').submit();
            });
            $confirmationAlert.find('.leave-changes').click(function () {
                $confirmationAlert.hide();
            });
        }

        const formBeforeLeave = new FormBeforeLeave(form, '.page-content');
        formBeforeLeave.attachTo($('.shop-details__menu__item a'));
        formBeforeLeave.init();
    });
</script>