<template>
  <div class="col-md-6 widget__header__box">
    <div id="app2">
      <section class="ps-container scroll-area ps ps--active-y">
        <div class="widget2">
          <div id="tippyTrigger">
            <template v-if="logoSrc">
              <img :src="logoSrc" alt="logo">
            </template>
            <template v-else>
              <div class="no-logo">Upload<br>your<br>logo</div>
            </template>
            <slot></slot>
          </div>

          <div class="account-widget__header">
            <div>
              <WidgetHeader
                  :img="header.image"
                  :isdefault="header.isDefault"
              />
            </div>
            <span style="display: none" id="widgetHeaderImageInput" v-html="header.welcomePicture"/>
          </div>

          <div class="account-widget__customer-text">
            <textarea :name="textarea.name">{{ textarea.text }}</textarea>
            {{ textarea.errors }}
          </div>

          <div class="account-widget__send-get">
            <p>{{ sendGiftText }}</p>
            <p>{{ getRewardsText }}</p>
          </div>

          <div class="account-widget__footer">
            <div>
              ValueLink <a href="http://www.valuelink.io/"><strong>{{ termConditions }}</strong></a><br>
              <a href="/documents/Data Administrator.pdf" target="_blank"><strong>{{ dataAdmin }}</strong></a>
            </div>
          <div>
              {{ poweredBy }} <a href="http://www.valuelink.eu/"><strong>ValueLink</strong></a>
            </div>
          </div>
          <div class="green__button" style="display:none;">
            <input type="text" :value="greenButton.value" :name="greenButton.name"/>
            {{ greenButton.errors }}
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import WidgetHeader from "./Header";

export default {
  components: {
    WidgetHeader
  },
  props: {
    logoSrc: {
      type: String,
      default: ''
    },
    header: {
      image: {
        type: String,
        default: ''
      },
      isDefault: {
        type: Boolean,
        default: true
      },
      welcomePicture: {
        default: ''
      }
    },
    textarea: {
      name: {
        type: String,
        default: ''
      },
      text: {
        type: String,
        default: ''
      },
      errors: {
        default: ''
      }
    },
    greenButton: {
      name: {
        type: String,
        default: ''
      },
      value: {
        default: ''
      },
      errors: {
        default: ''
      }
    },
    sendGiftText: {
      type: String,
      default: ''
    },
    getRewardsText: {
      type: String,
      default: ''
    },
    poweredBy: {
      type: String,
      default: ''
    },
    termConditions: {
      type: String,
      default: ''
    },
    dataAdmin: {
      type: String,
      default: ''
    },
  }
}
</script>