<template>
  <div class="account-widget__coupon" :id="couponToHide && couponToHide">

    <div class="widget__coupons__block">
      <h3 class="widget__coupons__header">{{ title }}</h3>
<!--      <p :class="pClass">{{ desc }}</p>-->
      <div class="form-group" :class="discountClass" v-html="discountType + discount"></div>
    </div>
    <div class="account-widget__coupon-errors" v-html="errors"></div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    },
    errors: {
      default: ''
    },
    discountType: {
      default: ''
    },
    discountClass: {
      default: ''
    },
    discount: {
      default: ''
    },
    pClass: {
      type: String,
      default: ''
    },
    couponToHide: {
      default: ''
    }
  }
}
</script>