<template>
  <div class="widget__email">
    <div class="widget__email__title">
      <h5 v-html="title"></h5>
    </div>
    <div class="widget__email__content" v-html="content">
    </div>
  </div>
</template>

<script>
export default {
 props: {
   title: {
     type: String,
     default: ''
   },
   content: {
     type: String,
     default: ''
   },
 }
}
</script>