<template>
  <div>
    <h3 v-if="title" class="widget__email__header">{{title }}</h3>
    <h4 v-if="subtitle" class="widget__email__subheader">Rewards E-mail</h4>
  </div>
</template>

<script>
export default {
 props: {
   title: {
     type: String,
     default: ''
   },
   subTitle: {
     type: String,
     default: ''
   }
 }
}
</script>