<template>
    <div style="height: 440px;overflow: hidden;position: relative;border-top: 1px dashed lightgray;border-bottom: 1px dashed lightgray;">
        <a href="#changeImg" @click="imageInput.click()" style="position: absolute;z-index: 1;right: 15px;top: 15px;width: 40px;height: 40px;background: white;border-radius: 5px;align-items: center;display: flex;justify-content: center;border: 1px solid lightgrey">
            <i class="fas fa-image" style="font-size: 20px;"></i>
        </a>
        <FreeTransform :x="card.posLeft"
                       :y="card.posTop"
                       :scale-x="1"
                       :scale-y="1"
                       :width="card.imgWidth"
                       :height="card.imgHeight"
                       :angle="0"
                       :offset-x="0"
                       :offset-y="0"
                       :disable-scale="false"
                       @update="onPositionChange"
                       @click="isdefault === 'true' && imageInput.click()"
                       @dblclick=""
        >
            <div class="img-container"
                 :style="{ 'width': card.imgWidth + 'px', 'height': card.imgHeight + 'px', 'position': 'absolute', 'pointer-events': 'none', 'left': card.posLeft }">
                <img style="width: 100%; height: 100%" class="card-img-top" :src="card.url">
            </div>
        </FreeTransform>
        <!--        <div class="img-container sample_img" v-else :style="{ 'width': card.imgWidth + 'px', 'height': card.imgHeight + 'px' }">-->
        <!--            <img class="card-img-top" :src="card.img" :alt="card.name">-->
        <!--        </div>-->
        <vue-slider v-show="isdefault === 'false'" :min="10" :max="1200" v-model="card.imgWidth" @change="onSizeChange"></vue-slider>
<!--        <input style="display: none" ref="fileInput" type="file" @change="fileSelected"-->
<!--               enctype="multipart/form-data">-->
    </div>
</template>

<script>
    import FreeTransform from 'vue-free-transform'
    import VueSlider from 'vue-slider-component';

    export default {
      props: ['img', 'isdefault'],
      name: "WidgetHeader",
      components: {
          FreeTransform,
          VueSlider
      },
      methods: {
          onPositionChange(val) {
              if (this.isdefault === 'true') {
                  return
              }
              this.card.posLeft = val.x;
              this.card.posTop = val.y;
              document.querySelector('#widget_header_welcomePicturePosX').value = val.x.toString();
              document.querySelector('#widget_header_welcomePicturePosY').value = val.y.toString();
          },
          onSizeChange(width) {
              this.card.imgHeight = width / this.card.imgRatio;
              document.querySelector('#widget_header_welcomePictureWidth').value = width.toString()
              document.querySelector('#widget_header_welcomePictureHeight').value = this.card.imgHeight.toString()
              document.querySelector('#widget_header_welcomePictureRatio').value = this.card.imgRatio
          },
          fileSelected(e) {
              this.card.url = URL.createObjectURL(e)

              let $this = this;

              let reader = new FileReader();
              let base64data;
              reader.readAsDataURL(e);
              reader.onloadend = function () {
                  base64data = reader.result;

                  let i = new Image()
                  i.onload = function () {
                      $this.card.img = i.src;
                      $this.card.imgWidth = i.width <= 1200 ? i.width : 1200;
                      $this.card.posLeft = 0;
                      $this.card.posTop = 0;
                      $this.card.imgRatio = i.width / i.height;
                      $this.card.imgHeight = i.width / $this.card.imgRatio;
                      document.querySelector('#widget_header_welcomePictureRatio').value = $this.card.imgRatio
                      /*$this.card.imageUploaded = $this.$refs.fileInput.files[0]*/
                      $this.onSizeChange($this.card.imgWidth)
                  };

                  i.src = base64data;
                  document.querySelector('#widgetHeaderImageInput input').files = $this.imageInput.files
              }
          },
      },
      data: function () {
          return {
              card: {
                  posLeft: parseInt(document.querySelector('#widget_header_welcomePicturePosX').value),
                  posTop: parseInt(document.querySelector('#widget_header_welcomePicturePosY').value),
                  imgWidth: parseInt(document.querySelector('#widget_header_welcomePictureWidth').value),
                  imgHeight: parseInt(document.querySelector('#widget_header_welcomePictureHeight').value),
                  imgRatio: parseFloat(document.querySelector('#widget_header_welcomePictureRatio').value),
                  url: this.img
              },
              imageInput: document.querySelector('#widgetHeaderImageInput input')
          }
      },
      computed: {

      },
      mounted() {
        const interval = setInterval(() => {
          if (this.imageInput) {
           this.imageInput.addEventListener('change', (e) => {
             if (e.path) {
               this.fileSelected(e.path[0].files[0])
             } else {
               this.fileSelected(e.target.files[0])
             }
             this.isdefault = "false"
           })
           clearInterval(interval)
          } else {
            this.imageInput = document.querySelector('#widgetHeaderImageInput input');
          }
        }, 200)
      }
    }
</script>
