<template>
  <div class="col-md-6 account-widget__topbar">
    <div class="closeWrapper">
      <span>
        {{ title }}
      </span>
      <span>x</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>