{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">

        <company-sidebar
                v-bind="{
                activeElement: 'Partners'
            }"
        ></company-sidebar>
        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50 pl-0 pr-0">
                <div class="page-title income-title">
                    <div class="row">
                        {% if partners|length > 0 %}
                            <div class="table-responsive">
                                <table class="table table-hover"
                                       style="font-size: 14px; text-align: center;">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Youtube</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for partner in partners %}
                                        <tr>
                                            <td><span class="mobile_table_header">Email: </span>€{{ partner.user.email }}</td>
                                            <td><span class="mobile_table_header">Youtube: </span>{{ partner.user.youtube }}</td>
                                            <td><span class="mobile_table_header">Status: </span>{{ partner.activated == true ? "YES" : "NO" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                There are no transactions to show.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
