{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}submissions{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.modal-offer__close').on('click touch', function (e) {
            e.preventDefault();
            $(this).closest('.modal-offer').toggleClass('open');
        });

        $('.offer-details-btn').on('click touch', function (e) {
            e.preventDefault();
            $(this).parent().find('.modal-offer').toggleClass('open');
        });
    </script>
{% endblock %}

{% block tab_content %}
    <div class="row">
        <div class="text-right" style="margin-bottom: 20px">
            <a href="{{ path('admin_submission_index') }}" class="btn {{ app.request.get('status') is null ? 'btn-primary' : 'btn-default' }}">New</a>
            <a href="{{ path('admin_submission_index', {'status': 'accepted-active-suspended'}) }}" class="btn {{ app.request.get('status') == 'accepted-active-suspended' ? 'btn-primary' : 'btn-default' }}">Accepted</a>
            <a href="{{ path('admin_submission_index', {'status': 'rejected'}) }}" class="btn {{ app.request.get('status') == 'rejected' ? 'btn-primary' : 'btn-default' }}">Rejected</a>
        </div>
        {% if shops|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Action</th>
                    <th style="width: 88px;">Created<br/>At</th>
                    <th>Company<br/>Name</th>
                    <th>Company<br/>URL</th>
                    <th>Phone<br/>number</th>
                    <th>Email</th>
                    <th>Company<br/>Desc.</th>
                    <th>Product<br/>category</th>
                    <th>Main<br/>Offer</th>
                    <th>Global<br/>CPL</th>
                    <th>Special<br/>Offers</th>
                    <th>Budget</th>
                </tr>
                </thead>
                <tbody>
                    {% for shop in shops %}
                    <tr>
                        <td>
                            <admin-shop-change-status
                                    :current-status="{{ shop.status.id }}"
                                    :shop="{{ shop.id }}"
                                    :accept-status="5"
                                    :rejected-status="3"
                                    :can-active="{{ app.request.get('status') == 'accepted-active-suspended' ? 'false' : 'true' }}"
                            ></admin-shop-change-status>
                        </td>
                        <td>
                            <span style="display: block">{{ shop.user.createdAt|date('Y-m-d') }}</span>
                            <span>{{ shop.user.createdAt|date('H:i') }}</span>
                        </td>
                        <td>
                            {{ shop.name }}
                            {% if shop.getRewardsModeName %}
                                <span style="color: #6c757d; display: block">{{ shop.getRewardsModeName }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if shop.website %}
                                <a target="_blank" href="{{ shop.website }}">[link]</a>
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td style="word-break: break-all;">
                            {% if shop.user.phone %}
                                <a href="tel:{{ shop.user.phone }}">{{ shop.user.phone }}</a>
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td style="word-break: break-all;">
                            {% if shop.user.email %}
                                <a href="mailto:{{ shop.user.email }}">{{ shop.user.email }}</a>
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if shop.description %}
                            <admin-commons-description-modal desc="{{ shop.description }}">Show<br/>Descr.</admin-commons-description-modal>
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if shop.service %}
                            <admin-commons-description-modal desc="{{ shop.service }}">See<br/>Cat.</admin-commons-description-modal>
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if shop.cpsOffer %}
                            {{ shop.cpsOffer.isCommissionFiexed() ? '€' : '' }}{{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{ shop.cpsOffer.isCommissionFiexed() ? '' : '%' }}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if shop.cplOffer %}
                                {{  shop.cpsOffer.isCommissionFiexed() ? '€' : '' }}{{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{ shop.cplOffer.isCommissionFiexed() ? '' : '%' }}
                            {% endif %}
                        </td>
                        <td>
                            {% include 'shop/common/offer-modal.html.twig' with {'shop': shop} %}
                            <button class="btn btn-primary offer-details-btn">Check<br/>Details</button>
                        </td>
                        <td>
                            {% if shop.budgets|length > 0 %}
                                {% for budget in shop.budgets %}
                                    €{{ budget.amount }}
                                {% endfor %}
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_pagination_render(shops) }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no subscriptions to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
