{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Payouts{% endblock %}
{% set settlement_date = 'now'|date('Y-m') ~ "-"~settlement_month_day %}

{% block tab_content %}
    <div class="payouts__info">
        <div class="referrer-balance">
            {% if app.user.pendingPayoutAmount > 0 %}
                <span style="display: inline-block">
                        <i class="fas fa-wallet"></i> Pending Payout: €{{ app.user.pendingPayoutAmount | number_format(2,'.',',') | replace({'.00' : ''}) }}
                    </span>
            {% endif %}
            <span>
                        <i class="fas fa-wallet"></i>
                        <strong>Balance:</strong> €{{ app.user.currencyBalance('EUR')|split(' EUR')[0]| replace({'.00' : ''}) ?: '0' }}
                </span>
        </div>
        <p>
            Your Payout History.<br>
            Payout starts from <b>minimum €{{ app_min_referrer_payout }}</b>
        </p>
        <p>
            Money will be available on Your bank <br>
            account by 21st of next month<br>
            based on payout request date
        </p>
    </div>
    <div role="tabpanel" class="tab-pane active" id="payout">
        <table class="table table-striped table-offer " style="table-layout: fixed;">
            <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Payout Amount in €</th>
                <th>Payout Requested On</th>
                <th>Payout Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center;">
                    {#                        {% if payouts[0] is defined %}#}
                    {#                            {{ payouts[0].id + 1 }}#}
                    {#                        {% else %}#}
                    {#                            1#}
                    {#                        {% endif %}#}
                    {{ payouts|length + 1 }}
                </td>
                <td style="text-align: center;">
                    {% set userBalance = app.user.getCurrencyBalance('EUR') %}

                    {% if userBalance %}
                        {% if userBalance.amount >= 0 %}
                            €{{ userBalance.amount }}
                        {% else %}
                            - €{{ userBalance.amount * -1 }}
                        {% endif %}
                    {% else %}
                        €0.00
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    <i class="fa fa-times-circle"></i>
                </td>
                <td style="text-align: center;">
                    Not Requested
                </td>
                <td style="text-align: center;">
                    <form method="post" action="{{ path('account_referrer_request_payout') }}" data-amount=" {% if userBalance %}{{ userBalance.amount }}{% endif %}">
                        {% if userBalance and userBalance.amount >= app_min_referrer_payout %}
                            <button type="submit" class="btn btn-primary button">Payout</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary button" disabled>Payout <span class="tooltiptext">Minimum amount €{{ app_min_referrer_payout }} not reached</span> </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% for payout in payouts %}
                <tr>
                    <td style="text-align: center;">{{ loop.revindex}}</td>
                    <td style="text-align: center;">
                        {% if payout.amount %}
                            {% if payout.amount > 0 %}
                                €{{ payout.amount }}
                            {% else %}
                                - €{{ payout.amount * -1 }}
                            {% endif %}
                        {% else %}
                            €0
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {{ payout.createdAt | date('Y-m-d') }}<br/>
                        {{ payout.createdAt | date('H:i') }}
                    </td>
                    <td style="text-align: center;">
                        {% if payout.isPending %}
                            Pending
                        {% elseif payout.acceptedAt|date("Y-m-d") < settlement_date %}
                            Ready since<br/>
                            {{ payout.acceptedAt | date('Y-m') ~ "-"~settlement_month_day }}
                        {% else %}
                            Processing
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-primary" disabled>Payout</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $("button[type='submit']").click(function(e){
            e.preventDefault();
            var form = $(this).parents('form');
            var currentAmount = $(form).attr('data-amount');

            swal({
                title: "Are you sure to payout €"+currentAmount+"?",
                icon: "warning",
                buttons: {
                    cancel: "No",
                    confirm: "Yes"
                }
            })
                .then((willPayout) => {
                    if (willPayout) {
                        form.submit();
                    }
                });
        });
    </script>
{% endblock %}
