<template>
    <div>
        <AlertBag />
    </div>
    <label class="radio__label">
        <input type="radio"
               name="shop_offer[rewardsMode]"
               class="additionalClass"
        >
        <span>{{ desc }}</span>
    </label>
</template>


<script>
    export default {
        props: {
            desc: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            additionalClass: {
                type: String,
                default: ''
            }
        }
    }
</script>