{% extends 'layouts/base.html.twig' %}

{% block header %}
    {% include 'layouts/partials/global/new-heading.html.twig' %}
    <header class="header marketplace {% if app.user == null %}new-heading header--not-logged{% endif %} {% if app.user is defined and app.user is not null and app.user.isAdmin() %}header--admin{% endif %}{% if app.user is defined and app.user is not null and app.user.isReferrer() %}header--referrer{% endif %}">
        <nav class="navbar navbar-default yamm marketplace-header-request {% if app.user is defined and app.user is not null %}visible-phone{% else %}not-logged-navbar{% endif %}" style="display: inline-block;
    max-width: 70%;
    vertical-align: middle;
    position: absolute;
    left: 0;
     min-height:59px;">
            <div class="container">
                <div class="navbar-table">
                    <div class="navbar-cell stretch" style="margin-top: 16px;">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <div class="navbar-cell"
                                 style="display: flex; align-items: center;">
                                <a href="/" class="navbar-brand" style="padding-top:6px;"><i class="fa fa-hashtag"></i>ValueLink</a>

                                {% if app.user == null %}
                                    <span class="signin-phone visible-phone">
                                            <a href="{{ path('login') }}" id="login">Sign in</a>
                                        </span>
                                {% endif %}

                                {% if app.user == null or (app.user and app.user.isReferrer()) %}
                                    <ul class="nav navbar-nav navbar-right text-center">
                                        <li style="float: none; float: none;margin: 0 auto;">
                                            <a class="active"  style="padding-top:0px !important" title="">
                                                <span style="display:inline-block !important; vertical-align:top; margin-right:15px;">If you can't find <br/> your brand, let us know:</span><span id="requestNewBrand" class="btn btn-primary" style="padding: 5px 15px;">Request New</span>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                                {% if app.user == null %}
                                    <span class="hidden-phone">
                                            <a href="{{ path('login') }}" id="login">Sign in</a>
                                        </span>
                                {% endif %}
                            </div><!-- end navbar-cell -->
                        </div><!-- /.navbar-collapse -->
                    </div><!-- end navbar cell -->
                </div><!-- end navbar-table -->
            </div><!-- end container fluid -->
        </nav><!-- end navbar -->
        <div class="row marketplace--tabs-section {% if app.user is not defined or app.user is null %}not-logged{% endif %}">
            <div class="container">
                <div class="text-right">
                    <a href="{{ path('shop_index') }}" class="{{ shopType is null ? 'text-primary' : 'text-black' }}">All</a> /
                    <a href="{{ path('shop_index_typed', {'type': 'saas'}) }}" class="{{ shopType is not null and shopType.name == 'saas' ? 'text-primary' : 'text-black' }}">SaaS</a> /
                    <a href="{{ path('shop_index_typed', {'type': 'ecommerce'}) }}" class="{{ shopType is not null and shopType.name == 'ecommerce' ? 'text-primary' : 'text-black' }}">E-Commerce</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="section single-wrap marketplace {% if app.user == null or app.user.isAdmin %}has-smaller-header{% endif %}">
        <div class="container">
            <div class="content marketplace--content {% if app.user == null %}marketplace--content-not-logged{% endif %}">
                {% if shops|length > 0 %}
                    <div class="row flex-box-grid" style="flex-wrap: wrap;">
                        {% for shop in shops %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="item-box">
                                    {% include 'shop/common/offer-modal.html.twig' with {'shop': shop} %}
                                    <div class="item-media entry marketplace__item" style="padding-top: 20px!important;">
                                        <span class="marketplace__item__color" style="background-color: {{ shop.color }};"></span>
                                        <a href="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}"><img style="max-height: 100%;width: auto; max-width:100%;" src="{{ shop.logo ? shop.logo : 'upload/item_01.jpg'  }}"></a>
                                    </div><!-- end item-media -->
                                    <div class="item-box__content">
                                        <div>
                                            <h4><a href="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">{{ shop.name }}</a></h4>
                                            <small>{{ shop.service }}</small>
                                            <div class="item-box__offer">
                                                {% if shop.cpsOffer %}
                                                    <div class="item-box__offer__single">
                                                    <span class="item-box__offer__single__value">
                                                    {% if shop.cpsOffer.isCommissionFiexed() == '€' or shop.cpsOffer.isCommissionFiexed() == '$' %}€{% endif %}{{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{% if not shop.cpsOffer.isCommissionFiexed() == '$' %}%{% endif %}
                                                    </span>
                                                        for every<br>sale made
                                                    </div>
                                                {% endif %}
                                                {% if shop.getCplOffer() %}
                                                    <div class="item-box__offer__single">
                                                    <span class="item-box__offer__single__value">
                                                        €{{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}
                                                    </span>
                                                        for every<br>signup made
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="item-box__actions">

                                            {% if not(shop.isSaas() == 1) and shop.cpsOffer and shop.products | length > 0 %}
                                                <button class="btn btn-outline-primary mb-5 item-box__offer__button">
                                                    Offer details
                                                </button>
                                            {% endif %}
                                            <br>

                                            <a href="{{ path('subdomain_shop_show', {subdomain: shop.urlName}) }}?from-marketplace=true" title="" class="btn btn-outline-third">Join Program</a>
                                        </div>
                                    </div>
                                </div><!-- end item-box -->
                            </div><!-- end col -->
                        {% endfor %}

                    </div><!-- end row -->
                {% else %}
                    <div role="alert" class="alert alert-info">There are no items to show.</div>
                {% endif %}
            </div><!-- end content -->
            {% if knp_pagination_render(shops) %}
                <div class="content-after text-center boxs">
                    <div class="row">
                        <div class="col-md-12">
                            {{ knp_pagination_render(shops) }}
                        </div>
                    </div><!-- end row -->
                </div>
            {% endif %}<!-- end content after -->
        </div><!-- end container -->
    </section>
    <div class="modal-newbrand">
        <div class="modal-newbrand__overlay"></div>
        <div class="modal-newbrand__box">
            <button class="btn modal-newbrand__close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget" style="max-width: 520px">
                        <div class="widget-title">
                            <h4>Request new brand</h4>
                        </div><!-- end widget-title -->
                        <div class="login-form">
                            {{ form_start(brandRequestForm, {'attr': {'role': 'login', 'style': 'max-width: 460px'}}) }}
                                <div>
                                    <div class="form-group">
                                        {{ form_label(brandRequestForm.name) }}
                                        {{ form_widget(brandRequestForm.name) }}
                                        <span class="fa fa-user"></span>
                                        {{ form_errors(brandRequestForm.name) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="brand_request_surname" class="control-label required">Last name</label>
                                        {{ form_widget(brandRequestForm.surname) }}
                                        <span class="fa fa-user"></span>
                                        {{ form_errors(brandRequestForm.surname) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(brandRequestForm.email) }}
                                        {{ form_widget(brandRequestForm.email) }}
                                        <span class="fa fa-user"></span>
                                        {{ form_errors(brandRequestForm.email) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="brand_request_companyName" class="control-label required">Requested company name</label>
                                        {{ form_widget(brandRequestForm.companyName) }}
                                        <span class="fa fa-lock"></span>
                                        {{ form_errors(brandRequestForm.companyName) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(brandRequestForm.message) }}
                                        {{ form_widget(brandRequestForm.message, {'attr': {'style': 'min-height: 100px'}}) }}
                                        {{ form_errors(brandRequestForm.message) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Send your request</button>
                                </div>
                            {{ form_end(brandRequestForm) }}
                        </div><!-- end login-form -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.modal-offer__close').on('click touch', function (e) {
                e.preventDefault();
                $(this).closest('.modal-offer').toggleClass('open');
            });

            $('.item-box__offer__button').on('click touch', function (e) {
                e.preventDefault();
                $(this).closest('.item-box').find('.modal-offer').toggleClass('open');
            });

            $('#requestNewBrand, .modal-newbrand__overlay, .modal-newbrand__close, #requestNewBrandSend').on('click touch', function (e) {
                e.preventDefault();
                $('.modal-newbrand').toggleClass('open');
            });

            if ($('.modal-newbrand').find('.glyphicon-exclamation-sign').length) {
                $('.modal-newbrand').toggleClass('open')
            }
        });
    </script>
{% endblock %}
