<section class="section single-wrap marketplace__details-page--single-wrap">
    {% if settings.backUrlInfo is defined and settings.backUrl is defined %}
        <div class="content-top" style="background: #1976d1b3;padding: 1px 10px;margin-top: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bread marketplace-bread">
                            <ol class="breadcrumb">
                                <li class="back-icon">
                                    <a href="{{ settings.backUrl }}">{{ settings.backUrlInfo }}</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end content top -->
        </div>
    {% endif %}
    <div class="container marketplace__details-page--container">
        <div class="page-title marketplace__details-page" style="overflow: visible">
            <div class="row flex-box-grid">
                <div id="singlewrapper" class="col-md-12">

                    <div class="content nopad" style="background:none;border-bottom: 0">
                        <div class="item-single-wrapper">
                            <div class="item-box">
                                <div class="item-desc text-center marketplace-heading">
                                    <div style="    margin-right: 30px;">

                                        {% if settings.isJoinEnabled %}
                                            {% if shop.isActive and shop.hasOwnerActiveSubscription %}
                                                {% if is_granted('ROLE_REFERRER') %}
                                                    <form method="POST" action="{{ path('shop_user_store', {'shop_id': shop.id}) }}" >
                                                        <button class="btn-join btn btn-outline-third btn-block" type="submit" style="width: auto;">Join<br>Program</button>
                                                    </form>
                                                {% elseif is_granted('ROLE_SHOP') %}
                                                    <form id="shop-logout-form" action="{{ path('remember_and_logout') }}" method="POST">
                                                        <input type="hidden" value="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" name="target_path">
                                                        <button class="btn-join btn btn-outline-third btn-block" type="button" style="width: auto;">Join<br>Program</button>
                                                    </form>
                                                {% else %}
                                                    <form method="POST" action="{{ path('remember_and_login') }}">
                                                        <input type="hidden" value="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" name="target_path">
                                                        <button class="btn-join btn btn-outline-third btn-block" type="submit" style="width: auto;">Join<br>Program</button>
                                                    </form>
                                                {% endif %}
                                            {% else %}
                                                <a class="btn btn-join btn-outline-third btn-block" href="{{ path("signup") }}" style="width: auto;">Join<br>Program</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="btn btn-join btn-outline-third btn-block" href="{{ path("signup") }}" style="width: auto;">Join<br>Program</a>
                                        {% endif %}
                                    </div>
                                    <div style="margin-left: 30px;">
                                        <h4 style="line-height: 1.5;">{{ shop.name }}<br>Partner Program</h4>
                                        {% if shop.logo and shop.logo %}
                                            <img src="{{ shop.logo }}">
                                        {% endif %}
                                    </div>

                                </div><!-- end item-desc -->
                            </div><!-- end item-box -->
                        </div><!-- end item-single-wrapper -->
                    </div><!-- end content -->

                </div><!-- end singlewrapper -->
            </div>
            <div class="row flex-box-grid">
                <div class="{% if not shop.logo %}col-md-6{% else %}col-md-6{% endif %} col-sm-12 col-xs-12">
                    <div class="boxes boxs" style="height:100%; text-align:center; display: flex;flex-direction: column;align-items: center;">
                        <h3 style="color:#000; font-size:25px !important; margin-top:10px; text-align:center;    margin-bottom: 25px;">Rewards</h3>

                        <div>
                            {% if shop.cpsOffer %}
                                <p class="mystore-details__rewards-description">
                                    <span class="item-box__offer__single__value">{{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}%</span>
                                    for every<br/>sale made</p>
                            {% endif %}

                            {% if shop.cplOffer %}
                                <p class="mystore-details__rewards-description">
                                    <span class="item-box__offer__single__value">€{{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{% if not shop.cpsOffer.isCommissionFiexed() == '$' %}{% endif %}</span>
                                    for every<br/>signup made</p>
                            {% endif %}
                        </div>

                        {% if not(shop.isSaas() == 1) and shop.cpsOffer and shop.products | length > 0 %}
                            <p id="singleOfferDetails" class="btn btn-outline-primary item-box__offer__button" style="width:100%; max-width:190px;margin-bottom: 15px;
                            {% if settings.isJoinEnabled %}
                                   margin-top: 0;
                                   {% if shop.isActive and shop.hasOwnerActiveSubscription %}
                                      margin-top: 0;
                                   {% else %}
                                      margin-top: auto;
                                   {% endif %}
                            {% else %}
                               margin-top: auto;
                            {% endif %}">
                                Offer Details</p>
                        {% endif %}

                        {% if settings.isJoinEnabled %}
                            {% if shop.isActive and shop.hasOwnerActiveSubscription %}
                                {% if is_granted('ROLE_REFERRER') %}
                                    <form class="join-program" method="POST" action="{{ path('shop_user_store', {'shop_id': shop.id}) }}"
                                          style="margin-bottom:10px; position: absolute!important;left: 30px;width: 200px;margin: auto;bottom: 35px;left: 50%;transform: TranslateX(-50%);">
                                        <button class="btn btn-join btn-outline-third btn-block" type="submit" style="width:100%; max-width:190px; margin-left:0;">Start Earning</button>
                                    </form>
                                {% elseif is_granted('ROLE_SHOP') %}
                                    <form class="join-program" id="shop-logout-form" action="{{ path('remember_and_logout') }}" method="POST" style="margin-bottom:10px; position: absolute!important;width: 200px;margin: auto;bottom: 35px;left: 50%;transform: TranslateX(-50%);">
                                        <input type="hidden" value="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" name="target_path">
                                        <button class="btn btn-join btn-outline-third btn-block" type="submit" style="width:100%; max-width:190px; margin-left:0;">Start Earning</button>
                                    </form>
                                {% else %}
                                    <form class="join-program" method="POST" action="{{ path('remember_and_login') }}" style="margin-bottom:10px; position: absolute!important;width: 200px;margin: auto;bottom: 35px;left: 50%;transform: TranslateX(-50%);">
                                        <input type="hidden" value="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}" name="target_path">
                                        <button class="btn-join btn btn-outline-third btn-block" type="submit" style="width:100%; max-width:190px; margin-left:0;">Start Earning</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a class="btn btn-join btn-outline-third btn-block" href="{{ path("signup") }}" style="position: absolute!important;width: 100%; max-width:190px; margin: auto;bottom: 35px; left: 50%;transform: TranslateX(-50%);">Start Earning</a>
                            {% endif %}
                        {% else %}
                            <a class="btn-join btn btn-outline-third btn-block" href="{{ path("signup") }}" type="button" style="width:100%; max-width:190px; margin-left:0;margin-top: auto;">Start Earning</a>
                        {% endif %}
                    </div>
                </div>
                <div class="{% if not shop.logo %}col-md-6{% else %}col-md-6{% endif %} col-sm-12 col-xs-12">
                    <div class="boxes boxs" style="height:100%;display: flex;flex-direction: column;align-items: center;">
                        <div class="item-price text-center" style="width: 100%;">
                            <div class="company-desc">
                                <div class="company-name" style="margin-bottom: 25px;">{{ shop.name }}</div>
                                <div class="company-short-desc">{{ shop.description }}</div>
                            </div>
                            {#                            {% if shop.isActive and shop.hasOwnerActiveSubscription %}#}
                            {% if shop.website %}
                                <a href="{{ shop.website }}" target="_blank" class="btn btn-outline-secondary btn-block" style="margin: auto; position: absolute!important;  width: 100%; max-width: 190px; bottom: 35px;left: calc(50%);transform: translateX(-50%);">Visit
                                    website</a>
                            {% endif %}
                            {#                            {% endif %}#}
                        </div><!-- end xprice -->
                    </div><!-- end boxes -->
                </div>
            </div>
        </div>

        <div class="content-top" style="display: none;">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                </div>

                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="{{ path('home_index') }}">Home</a></li>
                            <li><a href="{{ path('shop_index') }}">Catalog</a></li>
                            <li class="active">{{ shop.name ?: 'Shop' }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->

        <div class="row">
            <div id="sidebar" class="col-md-4" style="display: none;">
                <div class="boxes boxs">
                    <div class="item-price text-center">
                        <a href="#" class="btn btn-outline-danger btn-block">Join Program</a>
                        <a href="http://apple.com" target="_blank" class="btn btn-outline-primary btn-block">Visit
                            website</a>
                    </div><!-- end price -->
                </div><!-- end boxes -->

                <div class="boxes boxs">
                    <div class="item-details">
                        <table>
                            <tr>
                                <td>Company description:</td>
                                <td>
                                    <div class="product-tags">
                                        <a href="#">Electronic Devices</a>
                                        <a href="#">Software</a>
                                        <a href="#">Fame</a>
                                        <a href="#">Expensive</a>
                                    </div><!-- en tags -->
                                </td>
                            </tr>

                        </table>
                    </div><!-- end item-details -->
                </div><!-- end boxes -->
            </div><!-- end sidebar -->
        </div><!-- end row -->

        <div class="content-message boxs m-t-0 m-b-40" style="margin-bottom:0;">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="step">
                        <h4>Join now!</h4>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p style="border:none;">Join {{ shop.name }} Partner Program and get Your referral tools:</p>
                        <p><span>Links</span></p>
                        <p><span>Cards & Set of Cards</span></p>
                        <p><span>Personalized Store</span></p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="step">
                        <h4>Share Your Link and Cards</h4>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <p>Share Your personalized links on social media & blog<br>
                        <p>Share Your Referral Cards and Set of Cards on Your blog<br>
                        <p>Create Your own product store with Affiliate Links best for Instagram, Facebook, Twitter<br>
                        <p>Give Coupon discounts to Your audience<br>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="step">
                        <h4>Get Paid!</h4>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p>Get Your cash rewards with {{ shop.name }} Partner Program</p>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content message -->

        <div class="content-message boxs faq-content" style="margin-top:0;">
            <div class="row" style="text-align: center">
                <h3 class="text-center">Frequently Asked Questions</h3>
                <div class="col-md-12 text-center">
                    <div class="panel-group" id="faqAccordion">
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle question-toggle collapsed"
                                 data-toggle="collapse"
                                 data-parent="#faqAccordion" data-target="#question0">
                                <h4 class="panel-title">
                                    <span style="cursor:pointer;" class="ing">How and When do I Get Paid</span>
                                </h4>

                            </div>
                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only
                                        five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and
                                        more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>

                            <div class="panel-heading accordion-toggle question-toggle collapsed"
                                 data-toggle="collapse"
                                 data-parent="#faqAccordion" data-target="#question1">
                                <h4 class="panel-title">
                                    <span style="cursor:pointer;" class="ing">Cookies Validity</span>
                                </h4>

                            </div>
                            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">

                                    <p>
                                        ValueLink uses Cookies for tracking Your affiliate
                                        products.
                                        At ValueLink Cookies validity date is defined for links
                                        and graphical banners like: Cards & SetOfCards.<br>
                                        This program has following Cookies validity time frame:<br>
                                        <strong>
                                            Links: 30 days<br>
                                            Cards & SetOfCards: 90 days<br>
                                        </strong>
                                    </p>
                                </div>
                            </div>

                            <div class="panel-heading accordion-toggle question-toggle collapsed"
                                 data-toggle="collapse"
                                 data-parent="#faqAccordion" data-target="#question2">
                                <h4 class="panel-title">
                                    <span style="cursor:pointer;" class="ing">Commission Validity</span>
                                </h4>

                            </div>
                            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only
                                        five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and
                                        more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% if shop.isSuspended or not settings.isJoinEnabled %}
                        <a href="{{ path("signup") }}" style="pointer-events: all!important;" class="btn btn-third <!--btn-ready-to-start-->">Ready To Start? Join Now</a>
                    {% else %}
                        <a href="{{ path("signup") }}" class="btn btn-third <!--btn-ready-to-start-->">Ready To Start? Join Now</a>
                    {% endif %}
                </div>
            </div><!-- end row -->
        </div><!-- end content message -->
    </div><!-- end container -->
</section>
<script>
    import SignUp from "../../assets/js/Vue/CR_Referrer/SignUp";
    export default {
        components: {SignUp}
    }
</script>