<template>
    <div>
        <a href="#" class="btn btn-third pricing--plan--try-button" @click.prevent="cancel">Cancel Subscription</a>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Request from "../../Mixins/Request";

    export default {
        mixins: [Request],
        props: ['plan'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {
            cancel() {
                Swal.fire({
                    html: `Are you sure you want to cancel subscription plan?`,
                    title: 'Cancel Subscription',
                    showCancelButton: true,
                    type: 'error',
                    confirmButtonText: 'Yes, cancel subscription'
                })
                    .then((result) => {
                        if (result.value !== undefined) {
                            this.cancelSubscription(result.value)
                        }
                    })
            },
            cancelSubscription()
            {
                this.makeRequest('post', `/subscription/${this.plan}/cancel`)
                    .catch((error) => {
                        // error
                    })
                    .then(() => window.location.reload());
            }
        }
    }
</script>
