<template>
    <div>
        <a href="#" class="btn btn-primary btn-xs" @click.prevent="wantContinue">Want continue</a>
        <a href="#" class="btn btn-danger btn-xs" @click.prevent="doesNotWantContinue">Does not want coninue</a>

    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Request from "../../Mixins/Request";

    export default {
        mixins: [Request],
        props: ['plan'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {
            doesNotWantContinue() {
                Swal.fire({
                    html: `Are you sure you don't want continue?`,
                    title: 'Are you sure?',
                    showCancelButton: true,
                    type: 'error',
                    confirmButtonText: 'Yes'
                })
                    .then((result) => {
                        if (result.value !== undefined) {
                            this.saveDecision(false)
                        }
                    })
            },
            wantContinue() {
                this.saveDecision(true)
            },
            saveDecision(decision)
            {
                this.makeRequest('post', `/subscription/continuation/${decision ? 1 : 0}`)
                    .catch((error) => {
                        // error
                    })
                    .then(() => window.location.reload());
            }
        }
    }
</script>
