<template>
    <div>
        <input type="hidden" name="_target" v-model="targetPath">
        <button class="btn btn-primary pricing--plan--try-button" v-if="hasOtherPlans && !confirmed" type="button" @click.prevent="showConfirmationWindow">
            {{ buttonText ? buttonText : 'Try for free' }}
        </button>
        <div v-else>
            <button type="submit" ref="submitButton" style="display: none;">submit</button>
            <button type="button" class="btn btn-primary pricing--plan--try-button" v-if="auth" @click="submitForm">
                {{ buttonText ? buttonText : 'Try for free' }}
            </button>
            <button type="button" class="btn btn-primary pricing--plan--try-button" v-if="!auth" @click="showLoginModal">
                {{ buttonText ? buttonText : 'Try for free' }}
            </button>
        </div>
        <v-dialog/>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';

    export default {
        props: ['plan', 'hasOtherPlans', 'buttonText', 'auth', 'titleText'],
        data() {
            return {
                confirmed: false,
                targetPath: '/register/company?source=pricing'
            }
        },
        mounted() {
        },
        methods: {
            submitForm() {
                this.$nextTick(function () {
                    this.$refs.submitButton.click();
                });
            },
            showLoginModal() {
                Swal.fire({
                    title: this.titleText,
                    showCancelButton: true,
                    type: 'info',
                    confirmButtonText: 'Create Account',
                    cancelButtonText: 'Have an Account',
                    confirmButtonClass: 'swalEqualWidthButtons',
                    cancelButtonClass: 'pricingCancelButton swalEqualWidthButtons'
                })
                    .then((result) => {
                        if (result.dismiss === 'cancel') {
                            this.targetPath = '/login';
                            this.submitForm();
                        } else if (result.value) {
                            this.targetPath = '/register/company?source=pricing';
                            this.submitForm();
                        }
                    })
            },
            showConfirmationWindow() {
                Swal.fire({
                    html: `Are you sure you want to change subscription plan?`,
                    title: 'Change Subscription',
                    showCancelButton: true,
                    type: 'error',
                    confirmButtonText: 'Yes, change plan'
                })
                    .then((result) => {
                        this.confirmed = result.value;

                        if (this.confirmed) {
                            this.$nextTick(function () {
                                this.$refs.submitButton.click();
                            });
                        }
                    })
            }
        }
    }
</script>
