<template>
    <div class="col-xs-12 company-stats shop-stats" v-if="items.length > 0">
        <div class="row" style="display: flex; justify-content: center;flex-wrap: wrap;">
            <block :title="items[0].title" :icon="items[0].icon" :value="items[0].value"></block>
            <block :title="items[1].title" :icon="items[1].icon" :value="items[1].value"></block>
            <block :title="items[2].title" :icon="items[2].icon" :value="items[2].value"></block>
            <block :title="items[3].title" :icon="items[3].icon" :value="items[3].value"></block>
            <block :title="items[4].title" :icon="items[4].icon" :value="items[4].value"></block>
            <block :title="items[5].title" :icon="items[5].icon" :value="items[5].value"></block>
        </div>
    </div>
</template>

<script>
    import StatsSummary from '../../StatsSummary';
    import Request from '../../../Mixins/Request';
    import {moneyFactory} from "../../../Objects/Money";

    export default {
        mixins: [Request],
        extends: StatsSummary,
        mounted() {
            this.getItems();
            document.querySelector('body').style.overflowX = 'hidden'
        },
        methods: {
            getItems() {
                this.makeRequest('get', '/ajax/company/income/summary')
                    .then(response => {
                        this.items.push({
                            icon: '/images/income1.svg',
                            title: 'Total sale<br/>generated',
                            value: moneyFactory('EUR', response.data.purchase_total).human_amount
                        });
                        this.items.push({
                            icon: '/images/income5.svg',
                            title: 'Total<br/>Revenue',
                            value: moneyFactory('EUR', response.data.purchase_total)
                                .sub(moneyFactory('EUR', response.data.system_commission))
                                .sub(moneyFactory('EUR', response.data.referrer_profit))
                                .human_amount
                        });
                        this.items.push({
                            icon: '/images/income2.svg',
                            title: 'Total InterFace<br/>Provision',
                            value: moneyFactory('EUR', response.data.system_commission).human_amount
                        });
                        this.items.push({
                            icon: '/images/income3.svg',
                            title: 'Total number of sale<br class="hidden-phone"/> & Total Partner Payout',
                            value: parseInt(response.data.purchase_count) + '; ' + moneyFactory('EUR', response.data.purchase_referrer_profit).human_amount
                        });
                        this.items.push({
                            icon: '/images/income4.svg',
                            title: 'Total number of signups<br class="hidden-phone"/> & Total Partner Payout',
                            value: parseInt(response.data.sign_up_count) + '; ' + moneyFactory('EUR', response.data.sign_up_referrer_profit).human_amount
                        });
                        this.items.push({
                            icon: '/images/income5.svg',
                            title: 'Total number<br/>of clicks',
                            value: parseInt(response.data.views_count)
                        });
                    })
            }
        }
    }
</script>
