<template>
    <label class="switch" style="margin: 0; vertical-align: middle">
        <input v-model="couponRewardsActive" type="checkbox" :name="name" :value="value || 'on'" :onChange="onchange" novalidate>
        <div></div>
    </label>
</template>

<script>
    export default {
        props: ['name', 'value', 'onchange'],
        data() {
            return {
                couponRewardsActive: false
            }
        },
    }
</script>
