<template>
    <div role="alert" class="alert alert-warning">
        <span @click="enableTextEdition" v-show="!textEdition"><span id="span-text" style="line-height:20px;">{{ txt || 'Your custom text edit here' }}</span></span>
        <textarea ref="textInput"
                  @focusout="textEdition = false"
                  @change="txt = txt.trim()"
                  v-show="textEdition"
                  v-model="txt"
                  type="text"
                  class="form-control" style="line-height:28px; margin-left: -8px; text-align:center; margin-top: -6px; width: calc(100% + 20px); word-break:initial; overflow:hidden; border:none !important; outline:none !important; box-shadow:none !important; letter-spacing:0.2px; margin-bottom: -6px; font-size:14.2px;"
                  @input="resizeTextarea" name="widget_header[customText]"
        ></textarea>
    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";

    export default {
        mixins: [Request],
        props: ['headerText'],
        data() {
            return {
                textEdition: false,
                txt: ''
            }
        },
        mounted: function () {
            this.txt = this.headerText
        },
        methods: {
            enableTextEdition () {
                this.textEdition = true;
                this.changeFocus(this.$refs.textInput);
                setTimeout(() => {
                    var event = new Event('input', {
                        'bubbles': true,
                        'cancelable': true
                    });

                    this.$refs.textInput.dispatchEvent(event);
                }, 50);
            },
            changeFocus(elemnet) {
                this.$nextTick(function () {
                    elemnet.focus();
                })
            },
            resizeTextarea () {
                var $el = this.$refs.textInput;

                if ($el.innerHeight < $el.scrollHeight) {
                    $el.style.height = $el.scrollHeight + 'px';
                } else {
                    $el.style.height = 1 + 'px';
                    $el.style.height = $el.scrollHeight + 'px';
                }
            }
        }
    }
</script>
