<template>
    <div class="form-group flex">
        <label>{{ mainLabel }}</label>
        <div class="form-cps-cpl" :class="isRadio ? 'pl-20' : ''">
            <div v-for="input in inputs" class="radio">
                <label>
                    <input
                        v-if="isRadio"
                        type="radio"
                        name="optradio"
                        :checked="input.checked"
                    >
                    {{ input.label }}
                </label>
                <input
                    type="text"
                    :name="input.inputName"
                    class="form-control cps"
                    :placeholder="input.inputPlaceholder"
                    :value="input.inputValue"
                />
                <span>{{ input.currency ? input.currency : '€'}}</span>
            </div>
        </div>
        <span class="form-info" v-html="desc"></span>
      <span v-html="errors"></span>
    </div>

</template>

<script>
    export default {
        mounted() {
          console.log('moufsuefsuyefgues uysfegfuse')
        },
        props: {
            isRadio: {
              type: Boolean,
              default: false
            },
            mainLabel: {
                type: String,
                default: null
            },
            desc: {
                type: String,
                default: ''
            },
            errors: {
                default: null
            },
            inputs: {
                type: Array,
                default: [
                    {
                        label: {
                            type: String,
                            default: ''
                        },
                        inputName: {
                            type: String,
                            default: ''
                        },
                        inputPlaceholder: {
                            type: String,
                            default: ''
                        },
                        inputValue: {
                            required: true
                        },
                        currency: {
                            type: String,
                            default: '€'
                        },
                        checked: {
                            type: Boolean,
                            default: false
                        }
                    }
                ],
                required: true,
            },
        }
    }
</script>