<template>
    <div class="form-group flex-box-grid ">
        <label class="w100p">{{ label }}</label>
        <div class="radio col-md-3 col-sm-12 col-xs-12 pl-0">
            <label v-for="choice in itemsToChoose">
                <input
                    type="radio"
                    :name="inputsName.first"
                    :value="choice"
                    :checked="cookiesLifeTime == choice"
                >
                {{ choice }} days
            </label>
            <label v-if="itemsToChoose">
                <input type="radio" :name="inputsName.first" value="0">
                <input class="form-control cps" type="text" :name="inputsName.second" value=""> days
            </label>
            <label v-else>
            <input type="radio" :name="inputsName.first" value="0" checked>
            <input class="form-control cps" type="text" :name="inputsName.second" :value="cookiesLifetime"> days
        </label>
        </div>
        <span class="form-info col-md-9">Lorem ipsum dolor sit amet, nec id decore homero invenire, in utamur impetus est, ei omittantur instructior pro.<br>Minim singulis adipisci cu mea. Ea vero commune sed, vim imperdiet percipitur id, in stet aperiri nominavi his. Tantas vulputate democritum vix id. Quas legimus disputationi qui id.</span>
        {{ errors }}
    </div>
</template>

<script>
    export default {
        props: {
            label: {
                type: String,
                default: ''
            },
           itemsToChoose: {
                type: Array,
                required: true,
            },

         cookiesLifeTime: {
               required: false
           },

           inputsName: {
               first: {
                   type: String,
                   default: ''
               },
               second: {
                   type: String,
                   default: ''
               },
           },
           errors: ''
        }
    }
</script>
