<template>
    <div class="form-group flex noborder">
        <div
            class="form-group flex noborder custom__input-container"
            v-html="label + additionalCode + widget + errors + '<span>'+ description + '</span>'"
        >
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            description: {
                type: String,
                default: ''
            },
            label: {
                type: String,
                required: true
            },
            widget: {
                type: String,
                required: true
            },
            errors: {
                type: String,
                required: true
            },
            additionalCode: {
                type: String,
                required: true
            }
        }
    }
</script>
