<template>
	<div class="form-group flex cpl-content" v-bind:class="{
	  full: fullWidth
	}">
		<div class="form-cps-cpl">
			<div>
				<label>{{ label }}</label>
				<div v-bind:class="bindedExtraClasses">
					<input
							readonly="readonly"
							type="text"
							:id="input.id"
							:name="input.name"
							class="form-control"
							:placeholder="input.placeholder"
							:value="input.value"
					>
					<span :id="ibanID" style="display:none;">{{ input.value }}</span>
					<button
							type="button"
							:id="button.id"
							class="btn btn-outline-primary button"
							@click="() => { clipboard(button.event[0], button.event[1]); return false; }"
					>
						Copy to clipboard
						<span class="tooltiptext" :id="spanID">Clipboard Empty</span>
					</button>
				</div>
			</div>
		</div>
		<span class="form-info" v-if="formInfo && formInfo.length > 0">{{ formInfo }}</span>
	</div>
</template>

<script>
    export default {
        props: {
            fullWidth: {
              type: Boolean,
              default: false
            },
            extraClass: {
              type: String,
              default: null
            },
            label: {
                type: String,
                default: null
            },
			      input: {
                id: {
                    type: String,
                    required: true
                },
                name: {
                    type: String,
                    required: true
                },
                placeholder: {
                    type: String,
                    default: null
                },
                value: {
                    type: String,
                    required: true
                }
            },
            ibanID: {
                type: String,
                required: true
            },
            button: {
                id: {
                    type: String,
                    required: true
                },
                event: {
                    type: Array,
                    required: true
                }
            },
            spanID: {
                type: String,
                required: true
            },
            formInfo: {
                type: String,
                default: ''
            }
        },
        data() {
          return {
            a: []
          }
        },
        methods: {
          clipboard ( id, tool ) {
            var firstArrayItem = this.a[0];
            if (firstArrayItem == null) {
              var copyText = document.getElementById(id);
              var textArea = document.createElement("textarea");
              textArea.value = copyText.textContent;
              document.body.appendChild(textArea);
              textArea.select();
              document.execCommand("Copy");
              var tooltip = document.getElementById( tool );
              tooltip.innerHTML = "Copied: " + textArea.value;
              textArea.remove();
              this.a.push(tool);
            } else {
              var copyText = document.getElementById(id);
              var textArea = document.createElement("textarea");
              textArea.value = copyText.textContent;
              document.body.appendChild(textArea);
              textArea.select();
              document.execCommand("Copy");

              var tooltip = document.getElementById( firstArrayItem );
              tooltip.innerHTML = "Clipboard Empty"

              var tooltip = document.getElementById( tool );
              tooltip.innerHTML = "Copied: " + textArea.value;
              textArea.remove();
              this.a.splice(0,1);
              this.a.push(tool);
            }

          }
        },
        computed: {
            bindedExtraClasses() {
                const res = {}
                if (this.extraClass) {
                    res[this.extraClass] = true
                }
                return res
            }
        }
    }
</script>