<template>
    <div class="form-group flex noborder">
        <div
            class="form-group flex noborder custom__input-container"
            v-html="innerHtml"
        >
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            description: {
                type: String,
                default: ''
            },
            label: {
                type: String,
                required: true
            },
            widget: {
                type: String,
                required: true
            },
            errors: {
                type: String,
                default: ''
            },
            additionalCode: {
                type: String,
                default: '',
            }
        },
        computed: {
            innerHtml() {
                return this.additionalCode ?
                    this.label + '<div class=\'flex flex--col\'>' + this.additionalCode + this.widget + this.errors + '</div>' + '<span>'+ this.description + '</span>' :
                    this.label + '<div class=\'flex\'>' + this.widget + (this.errors && this.errors) + '</div>' + '<span>'+ this.description + '</span>';
            }
        }
    }
</script>
