<template>
    <div class="form-switch-wrapper">
        <label v-if="label && label.length">{{ label }}</label>
        <label class="switch">
            <input :id="id" :name="name"  type="checkbox" class="cpl-switch" :checked="isChecked"  />
            <div></div>
        </label>
      {{ errors }}
    </div>
</template>

<script>
  export default {
    props: {
      label: {
          type: String,
          default: null
      },
      isChecked: {
          default: false
      },
      id: {
        type: String,
        default: null
      },
      name: {
        type: String,
        default: ''
      },
      errors: {
        default: ''
      }
    }
  }
</script>