<template>
    <label class="radio__label">
        <input type="radio"
               :name="inputName"
               :class="additionalClass"
               :value="inputValue"
        >
        <span>{{ desc }}</span>
    </label>
</template>

<script>
    export default {
        props: {
            desc: {
                type: String,
                required: true
            },
            inputName: {
                type: String,
                required: true
            },
            inputValue: {
                required: true
            },
            additionalClass: {
                type: String,
                default: ''
            }
        }
    }
</script>
