{% extends 'layouts/base.html.twig' %}
{% block content %}
    {{ parent() }}
    <sign-up csrf_token="{{ token }}" company_logo={{ logo }} company_name="Company Name" form_action="{{ path("register_referrer") }}"></sign-up>
{% endblock %}