{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}ValueLink Summary{% endblock %}

{% block tab_content %}
    <div class="col-xs-12 text-center">
        <h3>{{ item.userShop.shop.name }}</h3>
    </div>
        <div class="col-xs-12 company-stats shop-stats">
            <div class="row" style="display: flex; justify-content: center; margin: 0">
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income1.svg">
                        <div class="stats-content">
                            <div class="title">€{{ (item.shopPurchaseProfit + item.shopSignUpProfit) |number_format }}
                            </div>
                            <div class="stats-title">Total Program Income</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income2.svg">
                        <div class="stats-content">
                            <div class="title">€{{ item.shopPurchaseTotal | number_format }}</div>
                            <div class="stats-title">Total Sale Generated</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income3.svg">
                        <div class="stats-content">
                            <div class="title">{{ item.shopPurchaseCount | number_format }}</div>
                            <div class="stats-title">Total Number of Sales</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income4.svg">
                        <div class="stats-content">
                            <div class="title">{{ item.shopSignUpCount | number_format }}</div>
                            <div class="stats-title">Total Number of SignUps</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 col-sm-6 col-xs-12">
                    <div class="btn btn-default btn-block">
                        <img src="/images/income5.svg">
                        <div class="stats-content">
                            <div class="title">{{ item.viewsCount | number_format }}</div>
                            <div class="stats-title">Total Number of Clicks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-link').click(function (e) {
                e.preventDefault();
                axios.delete($(e.currentTarget).attr('href')).then(response => {
                    location.reload();
                })
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script>
        (function () {
            $('[data-toggle="tooltip"]').tooltip()

            new ClipboardJS('.rewardlink .btn');

            $('.website-url').keyup(function () {
                let url = $(this).val().replace('http://', '').replace('https://', '');
                $(this).val(url);
            });

            new ClipboardJS('.copy-to-clipboard');
          document.querySelectorAll('.copy-to-clipboard').forEach((el) => {
              el.addEventListener('click', () => {
                  el.innerHTML = 'Copied to clipboard';
                  toastr.success('Link copied to clipboard!');
              })
          })

            const linkGenerator = $("#linkgenerator").clone().prop('outerHTML');

            $("#showCreateForm").click(function () {
                $(this).find('.fa, span').toggle();
                $('#linkgenerator').toggle();
            })

            var link = $('.companylink__entry a').text().split('/');
            link = link[0] + '//' + link[2] + '<br/>' + '/' + link[3];

            $('.companylink__entry a').html(link);

            document.querySelector('#referrer-coupon-value').addEventListener('change', e => {
                if (document.querySelector('#referrer_coupon_valueType').value === '1') {
                    e.target.value[e.target.value.length-1] = '%'
                } else {
                    e.target.value[e.target.value.length-1] = '€'
                }
                let couponValue = parseFloat(e.target.value);

                document.querySelector('#referrer_coupon_value').value = isNaN(couponValue) ? 0 : couponValue;
                let couponType = String(e.target.value).includes('%') ? '{{ constant('App\\Entity\\CommissionType::PERCENT_ID') }}' : '{{ constant('App\\Entity\\CommissionType::FIXED_ID') }}';
                document.querySelector('#referrer_coupon_valueType').value = e.target.value[e.target.value.length-1] === '%' ? '1' : '2'

            });
            document.querySelector('#referrer-coupon-value').dispatchEvent(new Event('change'));

            document.querySelector('#showCouponCreate').addEventListener('click', () => {
                document.querySelector('.couponCreateWrapper').style.display = document.querySelector('.couponCreateWrapper').style.display === 'block' ? 'none' : 'block';
                if (document.querySelector('#showCouponCreate .fa').classList.contains('fa-plus')) {
                    document.querySelector('#couponCodeInput input').style.width = document.querySelector('#btnWebsite').clientWidth + 'px'
                    document.querySelector('#showCouponCreate .fa').classList.remove('fa-plus')
                    document.querySelector('#showCouponCreate .fa').classList.add('fa-minus')
                } else {
                    document.querySelector('#showCouponCreate .fa').classList.remove('fa-minus')
                    document.querySelector('#showCouponCreate .fa').classList.add('fa-plus')
                }
            })

            document.querySelector('#couponCodeInput input').addEventListener('click', () => {
                document.querySelector('#couponCodeInput input').style.filter = null
            })

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let showCouponCreate = document.querySelector('#showCouponCreate');

            let openShowCouponCreateFormAndScroll = () => {
                showCouponCreate.click()
                window.scroll({
                    top: document.querySelector('.couponCreateWrapper').offsetTop + document.querySelector('.couponCreateWrapper').scrollHeight - 150,
                    left: 0,
                    behavior: 'smooth'
                });
            }

            if (urlParams.get('isReffered') === '1') {
                openShowCouponCreateFormAndScroll();
            }

            if (showCouponCreate.dataset.open === '1') {
                openShowCouponCreateFormAndScroll();
            }

            document.querySelectorAll('.couponCreateWrapper .cpl-switch').forEach((el) => {
                el.addEventListener('change', () => {
                    document.querySelector('.couponCreateWrapper button[type="submit"]').click()
                })
            })

            const rewardUrl = document.querySelector('.rewardlink div').getAttribute('data-clipboard-text').replace('http://', '').replace('https://', '')

            document.querySelectorAll('.destlink').forEach(el => {
                el.addEventListener('input', () => {
                    if (el.value.indexOf(rewardUrl) < 0) {
                        el.parentNode.parentNode.querySelector('button').style.pointerEvents = 'none'
                        el.nextElementSibling.innerHTML = 'Copy & Paste Reward URL <span style="color: #ff0000">Invalid URL!</span>'
                    } else {
                        el.parentNode.parentNode.querySelector('button').style.pointerEvents = 'all'
                        el.nextElementSibling.innerHTML = 'Copy & Paste Reward URL'
                    }
                })
            })

        })();
    </script>
{% endblock %}
