{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Partner Programs{% endblock %}
{% block tab_content %}
    {% if userShops|length > 0 %}
        <div class="custom__grid">
            {% for row in userShops %}
                <div class="program">
                    <div class="program-image">
                        {% if (row.userShop.shop.logo) %}
                            <img style="max-width: 100%;height: auto" src="{{ row.userShop.shop.logo }}">
                        {% else %}
                            <img style="max-width: 100%;height: auto" src="https://picsum.photos/300/200/?random">
                        {% endif %}
                        <span class="program-image-color" style="background-color: {{ row.userShop.shop.color }};"></span>
                    </div>

                    <div class="program-main-info">
                        <h2>{{ row.userShop.shop.name }}</h2>
                        <div style="margin-bottom: 10px;">
                            <div class="ps-row">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <span>€{{ (row.shopPurchaseProfit + row.shopSignUpProfit) |number_format }} Total Referrer
                                Income</span>
                            </div>
                            <div class="ps-row">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>€{{ row.shopPurchaseTotal | number_format }} Total Sale Generated</span>
                            </div>
                            <div class="ps-row">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span>{{ row.shopPurchaseCount | number_format }} Total Number of Sales</span>
                            </div>
                            <div class="ps-row">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>{{ row.shopSignUpCount | number_format }} Total Number of SignUps</span>
                            </div>
                            <div class="ps-row">
                                <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                                <span>{{ row.viewsCount | number_format }} Total Number of Clicks</span>
                            </div>
                        </div>
                        <div class="program-tags">
                            <p>{{ row.userShop.shop.service }}</p>
                        </div>

                        {#                    {% if row.userShop.activated %}#}
                        <div class="program-actions" style="justify-content: left; margin-top:25px;">
                            <a href="{{ path('account_referrer_shop_link_show', {shop: row.userShop.shop.id}) }}">
                                <div class="btn btn-success">Program Details A</div>
                            </a>
                        </div>
                        {#                    {% else %}
                                                <div class="program-actions" style="justify-content: left; margin-top:25px;">
                                                    <div class="btn btn-warning" disabled> Profile awaiting approval</div>
                                                </div>
                                            {% endif %}#}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            There are no programs to show.
        </div>
    {% endif %}
{% endblock %}
