{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}cards-set{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="following">
            <a href="{{ path('account_referrer_shop_card_set_show', {shop: shop.id}) }}" class="setcards_page--back-button btn btn-primary"><i class="fa fa-angle-left"></i> Back to the list</a>
            <set-cards/>
        </div>
    </div>
{% endblock %}