{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}settings{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="card">
            <div class="text-center">
                Your Personal Store:<br>
                www.ValueLink.com/JohnDoe
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b>Non Refferable Links (2 max)</b>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="boxes boxs">
                                <form action="">
                                    <div class="form-group">
                                        <label>Shareable Link</label>
                                        <input type="url" name="Name" class="form-control"
                                               placeholder="https://www.ValueLink/Apple/JohnDoe">
                                    </div>
                                    <div class="form-group">
                                        <label>Destination URL</label>
                                        <input type="url" name="Name" class="form-control"
                                               placeholder="e.g. https://www.apple.com">
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn-primary" value="Save">
                                        <button class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="boxes boxs">
                                <form action="">
                                    <div class="form-group">
                                        <label>Shareable Link</label>
                                        <input type="url" name="Name" class="form-control"
                                               placeholder="https://www.ValueLink/Apple/JohnDoe">
                                    </div>
                                    <div class="form-group">
                                        <label>Destination URL</label>
                                        <input type="url" name="Name" class="form-control"
                                               placeholder="e.g. https://www.apple.com">
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn-primary" value="Save">
                                        <button class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <b>Referrable Links</b>
                    <div class="referrable-links">
                        <div class="referrable-links__header">
                            <div class="referrable-links__row">
                                <div class="referrable-links__row__link">
                                    Link
                                </div>
                                <div class="referrable-links__row__dap">
                                    Display as picture
                                </div>
                            </div>
                        </div>
                        <div class="referrable-links__body">

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox" checked>
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                                <div class="referrable-links__builder">
                                    <div class="referrable-links__builder__preview col-md-8">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <img src="https://via.placeholder.com/300x200.png?text=Image"
                                                     alt="">
                                            </div>
                                            <div class="col-md-5">
                                                <h4>Mac Book Pro Retina 15'</h4>
                                                <p>Description of some sort</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="referrable-links__builder__form col-md-4">
                                        <div class="mb-30">
                                            <label>Image</label>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="radio" name="image"> Image
                                                            1
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="radio" name="image"> Image
                                                            2
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            or<br>
                                            <button class="btn btn-primary btn-sm">Upload your own
                                            </button>
                                        </div>
                                        <div>
                                            <label>Title</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       value="Mac Book Pro Retina 15'"/>
                                            </div>
                                        </div>
                                        <div style="position: relative;">
                                            <label>Description</label>
                                            <div class="form-group">
                                                                    <textarea class="form-control"
                                                                              style="width: 100%; min-height: 100px;">Description of some sort</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                            <div class="referrable-links__row--wrapper">
                                <div class="referrable-links__row">
                                    <div class="referrable-links__row__link">
                                        www.apple/ValueLink/johndoe/macbookpro
                                    </div>
                                    <div class="referrable-links__row__dap">
                                        OFF
                                        <label class="switch"
                                               style="margin: 0; vertical-align: middle"><input
                                                    type="checkbox">
                                            <div></div>
                                        </label>
                                        ON
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}