{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">
        <my-store-sidebar
                v-bind="{
                    activeElement: '{% block tab_name %}{% endblock %}',
                    shopID: '{{ item.userShop.shop.id }}'
                }"
        ></my-store-sidebar>

        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50">
                <div class="row">
                    <div class="page-title income-title">
                        <div class="col-md-12">
                            {% block tab_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.delete-link').click(function (e) {
                e.preventDefault();
                axios.delete($(e.currentTarget).attr('href')).then(response => {
                    location.reload();
                })
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script>
        (function () {
            new ClipboardJS('.rewardlink .btn');

            const linkGenerator = $("#linkgenerator").clone().prop('outerHTML');

            $(".newLinkBtn").each(function () {
                $(this).click(function () {
                    $(this).parent().parent().find(".linkgenerator-cont").prepend(linkGenerator);
                });
            });

        })();
    </script>
{% endblock %}
