{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}income{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="following">
            <div  class="calendar-view col-md-12">
                <div class="calendar-content" style="padding: 20px 0px;">
                    <div class="calendar-i-prev" id="calendarPrev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span>Previous month</span>
                    </div>
                    <div class="calendar-month"><span class="current-month"></span> <span class="current-year"></span></div>
                    <div class="calendar-i-next" id="calendarNext">
                        <span>Next month</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="calendar-income-info">
                    <div style="text-align: center;">
                        <strong style="display: block">Total sale generated (Feb):</strong>
                        <strong style="display: block;">CPS: <span class="total-cps">0</span>$ CPL: <span class="total-cpl">0</span>$</strong>
                    </div>
                    <div style="text-align: center;"><strong style="display: block">Revenue:</strong><strong><span class="total-referrer-profit">0</span>$</strong></div>
                    <div style="text-align: center;"><strong style="display: block">ValueLink Provision:</strong><strong><span class="total-si-profit">0</span>$</strong></div>
                </div>
            </div>
            <div class="calendar-detailed-view col-md-12">
                <h4>DETAILED VIEW</h4>
                <div class="table-responsive">
                    <table id="stats-table" class="table table-hover table-condensed"
                           style="font-size: 12px;text-align: center;"
                           table-event-id="1">
                        <thead>
                        <th colspan="1">Action</th>
                        <th colspan="3">Company<br/>Name</th>
                        <th colspan="3">Total Purchase</br>Value</th>
                        <th colspan="3">Total SignUp</br>Value</th>
                        <th colspan="3">Total Click Count</th>
                        <th colspan="3">Total Income</th>
                        </thead>
                        <tbody>
                        <tr class="loading-row">
                            <td colspan="16">
                                Loading...
                            </td>
                        </tr>
                        <tr class="row-hidden no-data-row">
                            <td colspan="16">
                                There are no statistics yet.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="/js/referrer-campaign-income.js"></script>

    <script>
        const startDate = moment().startOf('month');
        const endDate = moment().endOf('month');
        const referrerCampaignIncome = new ReferrerCampaignIncome();

        var renderShopList = function (startDate, endDate) {
            referrerCampaignIncome.renderShopsList('{{ item.userShop.shop.id }}', startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'))
        };

        var showDateDetails = function (date) {
            $('.current-month').html(startDate.format('MMMM'))
            $('.current-year').html(startDate.format('YYYY'))
        }

        $('#calendarPrev').click(function (e) {
            e.preventDefault();
            startDate.add(-1, 'month');
            endDate.add(-1, 'month');
            showDateDetails(startDate);
            renderShopList(startDate, endDate);
        });

        $('#calendarNext').click(function (e) {
            e.preventDefault();
            startDate.add(1, 'month');
            endDate.add(1, 'month');
            showDateDetails(startDate);
            renderShopList(startDate, endDate);
        });

        showDateDetails(startDate);
        renderShopList(startDate, endDate);
    </script>
{% endblock %}
