{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}ValueLink Cards{% endblock %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/card-builder.css">
{% endblock %}

{% block tab_content %}
    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('account_referrer_card_index') }}">
            Go to my cards
        </a>
    </div>
    <div class="calendar-content" style="padding: 20px 0;" id="stats">

        {% set now = currentPeriod.start.copy() %}
        {% set prev = currentPeriod.start.copy().subDay() %}
        {% set next = currentPeriod.end.copy().addDay() %}
        <a class="calendar-i-prev {% if prev < app.user.createdAt %}inactive-element{% endif %}"
           href="{{ path('account_referrer_shop_card_show', {shop: shop.id, year: prev.year, month: prev.month}) }}#stats">
            <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
        </a>
        <div class="calendar-month">
            <span class="current-month">{{ now.format('F') }}</span> <span
                    class="current-year">{{ now.year }}</span>
        </div>
        <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}"
           href="{{ path('account_referrer_shop_card_show', {shop: shop.id, year: next.year, month: next.month}) }}#stats">
            <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
        </a>
    </div>
    <referrer-shop v-bind="{
        customLinks: {{ customLinks|json_encode }}
    }"></referrer-shop>
    {% if referrerLinks|length > 0 %}
        <table class="table table-classic cards-links-list-page">
            <thead>
                <tr>
                    <th>AFFILIATE LINK</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
            {% for referrerLink in referrerLinks %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ url('home_reflink_card', { 'shopName': referrerLink.shop.urlName, 'nickname': referrerLink.nickname, 'reflinkSlug': referrerLink.slug }) }}">
                            {{ url('home_reflink', { 'shopName': referrerLink.shop.urlName, 'nickname': referrerLink.nickname, 'reflinkSlug': referrerLink.slug }) }}
                        </a>
                    </td>
                    <td class="actions">
                        <button type="button" class="btn btn-four card-edit-button preview">Preview</button>
                        <a class="btn btn-four card-edit-button" href="{{ path('account_referrer_shop_card_edit', {shop: referrerLink.shop.id, referrerLink: referrerLink.id}) }}">Edit</a>
                    </td>
                </tr>
                <tr class="preview-card-dropdown">
                    <td colspan="2">
                        <div class="card-list-card-preview"
                             data-url="{{ path('referrer_link_card', {referrerLink: referrerLink.id}) }}"></div>
                    </td>
                </tr>
                {% if form is defined and editedReferrerLink == referrerLink %}
                    <tr>
                        <td colspan="3">
                            {% include 'account/referrer/card/form.html.twig' with {
                                form: form,
                                referrerLink: referrerLink,
                                ogImage: ogImage
                            } %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            There are no Cards to show.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script src="/js/farbtastic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>new ClipboardJS('.clipboard-copy');</script>
    <script>
        $('.card-edit-button.preview').each(function () {
            var $item = $(this)
            $item.click(function(e) {
                e.preventDefault()
                var prevContainer = $item.parent().parent().next()
                if (prevContainer.hasClass('show')) {
                    prevContainer.removeClass('show')
                    $item.removeClass('red').text('Preview')
                } else {
                    prevContainer.addClass('show')
                    $item.addClass('red').text('Close')
                }
                return false;
            })
        })
        $('.card-list-card-preview').each(function () {
            var $item = $(this);
            var iframe = document.createElement('iframe');
            iframe.src = $item.data('url');
            iframe.onload = function (e) {
                html2canvas(iframe.contentDocument.documentElement).then(function (canvas) {
                    document.body.removeChild(iframe);
                    canvas.style.width = '100%'
                    canvas.style.height = 'auto'
                    canvas.style.objectFit = 'contain'
                    $item.append(canvas)
                });
            };
            iframe.style.cssText = 'position: absolute; opacity:0; z-index: -9999; width: 100%;';
            document.body.appendChild(iframe);
        });
    </script>
    <script>
        $("#referrer_link_card_background").change(function () {

            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    $('.card-background-item--upload').css('background-image', 'url(' + e.target.result + ')');
                    $('.card-background-item--upload').parent().show();
                    $('.card-background-item--upload').click();
                };

            }
        });

        $('.position-inputs input').each(function () {
            $(this).removeAttr('required');
        });

        $('form[name=referrer_link_card]').submit(function (e) {
            let $banner = $('.card-editor-preview');
            let $logo = $banner.find('.shop-logo');
            let $title = $banner.find('.bigger-slogan');
            let $subtitle = $banner.find('.smaller-slogan');
            let $socials = $banner.find('.social-icons');

            if ($('.card-background-item-og').hasClass('active') === false) {
                $('#referrer_link_card_backgroundUrl').remove();
            }

            let cors = {
                getX: function (item) {
                    if (item && item.css('left')) {
                        return parseInt(item.css('left').slice(0, -2))
                    }
                },
                getY: function (item) {
                    if (item && item.css('top')) {
                        return parseInt(item.css('top').slice(0, -2))
                    }
                }
            };

            if ($title.data('color-hex')) {
                $('#referrer_link_card_titleColor').val($title.data('color-hex'));
            }
            if ($subtitle.data('color-hex')) {
                $('#referrer_link_card_subtitleColor').val($subtitle.data('color-hex'));
            }

            if ($title.attr('data-font-size')) {
                $('#referrer_link_card_titleSize').val(parseInt($title.attr('data-font-size')));
            }
            if ($subtitle.attr('data-font-size')) {
                $('#referrer_link_card_subtitleSize').val(parseInt($subtitle.attr('data-font-size')));
            }

            $('#referrer_link_card_logoPosition_x').val(cors.getX($logo));
            $('#referrer_link_card_logoPosition_y').val(cors.getY($logo));
            $('#referrer_link_card_titlePosition_x').val(cors.getX($title));
            $('#referrer_link_card_titlePosition_y').val(cors.getY($title));
            $('#referrer_link_card_subtitlePosition_x').val(cors.getX($subtitle));
            $('#referrer_link_card_subtitlePosition_y').val(cors.getY($subtitle));
            $('#referrer_link_card_socialMediaPosition_x').val(cors.getX($socials));
            $('#referrer_link_card_socialMediaPosition_y').val(cors.getY($socials));
        });
    </script>
{% endblock %}
