{% extends 'account/referrer/shop/show_base.html.twig' %}

{% block tab_name %}ValueLink Links{% endblock %}

{% block tab_content %}
    <div class="companylinks">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked"
                style="display: flex;flex-direction: column;text-align: left">
                <li class="active"><a data-toggle="pill" href="#home">Basic {{ item.userShop.shop.name }}
                        Rewards</a></li>
                {% if item.userShop.shop.products | length > 0 %}
                    <li><a data-toggle="pill" href="#menu1">Specific {{ item.userShop.shop.name }}Reward</a>
                    </li>
                {% endif %}
            </ul>

            {% set profileUrl = absolute_url(path('referrer_show', {'nickname': app.user.nickname})) %}

            <div class="companylink__entry" style="border-top: 0"><h3>Your Personal Store</h3><a
                        target="_blank" href="{{ profileUrl }}">{{ profileUrl }}</a></div>
        </div>
        <div class="col-md-9 link-list-content">
            <div class="tab-content" style="overflow: hidden;">
                <div id="home" class="tab-pane fade in active" style="border-radius: 10px;
    overflow: hidden;">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-striped  table-rewards">
                                <thead>
                                <tr>
                                    <th rowspan="2" scope="colgroup">Reward<br/>Name</th>
                                    <th rowspan="2" scope="colgroup" style="width:150px">Reward<br/>Description
                                    </th>
                                    <th rowspan="2" scope="colgroup" style="width: 400px;">Reward<br/>URL
                                    </th>
                                    <th scope="colgroup"
                                        style="width: 95px;">Reward<br/>CPS
                                    </th>
                                    <th scope="colgroup"
                                        style="padding-left: 0; width: 85px;">Reward<br/>CPL
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-rewards-mobile-fix">
                                    <td>
                                        <span class="mobile_table_header">Reward<br/>Name: </span> Basic
                                        reward
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward<br/>Description: </span> {{ item.userShop.shop.description }}
                                    </td>
                                    <td width="30%" class="rewardlink">
                                        <span class="mobile_table_header">Reward<br/>Url: </span><span> {{ item.userShop.shop.website }}</span>
                                        <div class="btn btn-primary btn-xs"
                                             data-clipboard-text="{{ item.userShop.shop.website }}">Copy
                                        </div>
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward<br/>CPS: </span>
                                        {% if item.userShop.shop.cpsOffer %}
                                            {% if item.userShop.shop.cpsOffer.isCommissionFiexed() %}
                                                €{{ item.userShop.shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}
                                            {% else %}
                                                {{ item.userShop.shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}%
                                            {% endif %}
                                        {% else %}
                                            <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="mobile_table_header">Reward<br/>CPL: </span>
                                        {% if item.userShop.shop.cplOffer and item.userShop.shop.cplOffer.isCommissionFiexed() %}
                                            €{{ item.userShop.shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}
                                        {% else %}
                                            <i class="fa fa-times-circle"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if item.userShop.shop.products | length > 0 %}
                    <div id="menu1" class="tab-pane fade" style="border-radius: 10px; overflow: hidden;">
                        <div>
                            <table class="table table-striped table-rewards" style="table-layout: fixed;">
                                <thead>
                                <tr>
                                    <th rowspan="2" scope="colgroup">Reward<br/>Name</th>
                                    <th rowspan="2" scope="colgroup" style="width:150px;">Reward<br/>Description
                                    </th>
                                    <th rowspan="2" scope="colgroup" style="width: 400px;">Reward<br/>URL
                                    </th>
                                    <th colspan="2" scope="colgroup" style=" width: 150px;">
                                        Reward<br/>CPS
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in item.userShop.shop.products %}
                                    <tr>
                                        <td>
                                            <span class="mobile_table_header">Reward Name: </span> {{ product.name }}
                                        </td>
                                        <td>
                                            <span class="mobile_table_header">Reward Description: </span> {{ product.description ? product.description : '-' }}
                                        </td>
                                        <td width="30%" class="rewardlink">
                                            <span class="mobile_table_header">Reward Url: </span><span> {{ product.fullUrl }}</span>
                                            <div class="btn btn-primary btn-xs"
                                                 data-clipboard-text="{{ product.fullUrl }}">Copy
                                            </div>
                                        </td>
                                        {% if product.cpsOffer and product.cpsOffer.isCommissionFiexed() %}
                                            <td colspan="2">
                                                <span class="mobile_table_header">Reward CPS: </span>
                                                €{{ product.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}
                                            </td>
                                        {% endif %}
                                        {% if product.cpsOffer and not product.cpsOffer.isCommissionFiexed() %}
                                            <td colspan="2">
                                                <span class="mobile_table_header">Reward CPS: </span>
                                                {{ product.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}
                                                %
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="showCreateForm" data-toggle="tooltip" data-placement="top" title="Generate Link"
                 style="margin: 0 auto; margin-top:15px; border-radius: 10px;" class="btn btn-secondary">
                <span>
                    <i class="fa fa-plus"></i> Create Link</span>
            </div>
            <div data-open="{{ createCouponFormSubmitted ? 1 : 0 }}" id="showCouponCreate" class="btn btn-secondary"
                 style="margin-left: 15px; margin-top: 15px;">
                <span><i class="fa fa-plus"></i> Create Coupon</span>
            </div>
            <div class="linkgenerator-cont">
                {{ form_start(referrerCouponForm, {attr: {novalidate: 'novalidate'}}) }}
                {{ form_row(referrerCouponForm._token) }}
                <div class="couponCreateWrapper" style="display: none; margin-bottom: 30px">
                    <div>
                        <p style="margin-bottom: 0; text-align: center;">Your audience will see Your discount code after visiting:</p>
                        <div style="display: flex; margin-bottom: 15px; flex-direction: column; justify-content: center; align-items: center;">
                            <div class="form-switch-wrapper" style="width: 200px;">
                                <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                    <input name="referrer_coupon[linksEnabled]" type="checkbox" value="1" class="cpl-switch" {% if referrerCouponForm.linksEnabled.vars.checked %}checked{% endif %}>
                                    <div></div>
                                </label>
                                <label style="font-weight: 400">Widget links</label>
                            </div>
                            <div class="form-switch-wrapper" style="width: 200px;">
                                <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                    <input name="referrer_coupon[setOfCardsEnabled]" type="checkbox" value="1" class="cpl-switch" {% if referrerCouponForm.setOfCardsEnabled.vars.checked %}checked{% endif %}>
                                    <div></div>
                                </label>
                                <label style="font-weight: 400">Card&SetOfCards</label>
                            </div>
                            <div class="form-switch-wrapper" style="width: 200px;">
                                <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                    <input name="referrer_coupon[myStoreEnabled]" type="checkbox" value="1" class="cpl-switch" {% if referrerCouponForm.myStoreEnabled.vars.checked %}checked{% endif %}>
                                    <div></div>
                                </label>
                                <label style="font-weight: 400">MyStore</label>
                            </div>
                        </div>
                    </div>
                    <div class="couponCompany" style="position: relative">
                        <div>
                            <p style="font-weight: 500;font-size: 22px;text-align: center;color: grey;">Get
                                Your Discount</p>
                        </div>
                        <div>
                            <div style="position: relative; font-size: 20px">
                                <input id="referrer-coupon-value" maxlength="3" minlength="2" type="text"
                                       value="{{ referrerCouponForm.value.vars.value }}{{ referrerCouponForm.valueType.vars.value == constant('App\\Entity\\CommissionType::FIXED_ID') ? '€' : '%' }}"
                                       style="width: 120px;margin: 0 auto;background: #5cb85c;border-radius: 10px;font-weight: 500;margin-top: 10px;text-align: left;padding-left: 15px;color: white"/>
                                {{ form_widget(referrerCouponForm.value, {attr: {style: 'display: none'}}) }}
                                {{ form_widget(referrerCouponForm.valueType, {attr: {style: 'display: none'}}) }}
                                <span style="position: absolute;top: 0;left: calc(50% + 5px);font-weight: 500;color: white;">OFF</span>
                            </div>
                        </div>
                        <div style="display: flex;align-items: center;justify-content: center;margin-top: 35px;line-height: 1.5">
                                        <span style="width: 100%; text-align: center; font-size: 12px; color: grey;">Here is a gift from <span
                                                    style="width: auto;text-align: left;margin-left: 5px;color: goldenrod;font-weight: bold;">{{ app.user.name }}</span></span>
                        </div>
                        <div style="line-height: 1.5">
                            <p style="text-align: center; font-size: 12px; color: grey;">Get <span
                                        id="couponValueSpan">{{ referrerCouponForm.value.vars.value }}{{ referrerCouponForm.valueType.vars.value == constant('App\\Entity\\CommissionType::FIXED_ID') ? '€' : '%' }}</span> OFF for any product at<br>
                                <span style="font-weight: bold; color: #1976D2 !important">{{ item.userShop.shop.name }}</span>
                        </div>
                        <div id="couponCodeInput" style="position: relative;margin-top: 35px;">
                            {{ form_widget(referrerCouponForm.code, {attr: {style: 'width: 150px;margin: 0 auto;border-radius: 10px;font-weight: 500;margin-top: 10px; border:1px solid lightgray; cursor: pointer'}}) }}
                        </div>
                        <div style="text-align: center; margin-top: 10px">
                            <div class="btn btn-primary" id="btnWebsite">Visit {{ item.userShop.shop.name }}</div>
                        </div>
                        <div style="display: flex;align-items: center;justify-content: center;margin-top: 15px;font-size: 10px;margin-bottom: -10px;color: lightgray; flex-wrap: wrap;">
                            <span>*According to terms and Conditions offer Valid till:</span>
                            <input type="date" name="referrer_coupon[expiresAt]"
                                   placeholder="dd.mm.yy"
                                   value="{{ referrerCouponForm.expiresAt.vars.value ? referrerCouponForm.expiresAt.vars.value : 'dd.mm.rrrr' }}"
                                   style="outline: none;width: auto;text-align: left;margin-left: 5px;margin-right: -50px;color: green"/>
                        </div>
                        <div class="absoluteCouponInfe" style="color: red;position: absolute;top: 32px;right: 190px;font-size: 10px">
                            Enter coupon value
                        </div>
                        <div class="absoluteCouponInfe" style="color: red;position: absolute;top: 180px;right: 190px;font-size: 10px">
                            Enter coupon code
                        </div>
                        <div class="absoluteCouponInfe" style="color: red;position: absolute;top: 285px;right: 92px;font-size: 10px">
                            Enter date
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 15px">
                        <button class="btn btn-primary" type="submit">Save coupon</button>
                    </div>
                    {{ form_errors(referrerCouponForm.value) }}
                    {{ form_errors(referrerCouponForm.valueType) }}
                    {{ form_errors(referrerCouponForm.code) }}
                    {{ form_errors(referrerCouponForm.expiresAt) }}
                </div>
                {{ form_end(referrerCouponForm, {render_rest: false}) }}
                <div id="linkgenerator" class="linkgenerator" style="display: none; margin-bottom: 30px">
                    <form name="referrer_link" method="POST"
                          action="{{ path('account_referrer_shop_referrer_link_store', {shop: item.userShop.shop.id}) }}">
                        {{ form_row(createForm._token) }}

                        <div class="form-group">
                            <label>Shareable link</label>
                            <div class="input-group is-long">
                                <span class="input-group-addon">{{ app.request.scheme }}://{{ item.userShop.shop.urlName }}.{{ app.request.httpHost }}/{{ item.userShop.user.nickname }}/</span>
                                {{ form_widget(createForm.slug, {'attr': {class: 'sharelink', placeholder: 'Super-iPhone-6'}}) }}
                            </div>
                            <span style="margin-left: auto; text-align: right; margin-top: 5px;">Create your own link pattern</span>
                        </div>
                        <div class="form-group flex noborder">
                            <label>Destination URL</label>
                            <div class="input-group is-long">
                                <div class="selectProtocol">
                                    {{ form_widget(createForm.destinationUrl.protocol) }}
                                </div>
                                {{ form_widget(createForm.destinationUrl.url, {'attr': {class: 'destlink website-url', placeholder: 'Reward URL'}}) }}
                            </div>
                            <span style="margin-left: auto; text-align: right; margin-top: 5px;">Copy & Paste Reward URL</span>
                        </div>
                        <div class="linkgenerator__buttons">
                            <div>
                                <button class="btn btn-success" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% for link in referrerLinks %}
                    <div class="linkgenerator">

                        <form name="referrer_link" method="post"
                              action="{{ path('account_referrer_shop_referrer_link_update', {shop: item.userShop.shop.id, referrerLink: link.id}) }}">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" name="referrer_link[_token]"
                                   value="{{ csrf_token('referrer_link') }}">
                            <div class="form-group">
                                <div style="margin: 0 auto; position:relative; left:6px;"
                                     class="btn btn-outline-secondary copy-to-clipboard"
                                     value="Copy to Clipboard"
                                     data-clipboard-text='{{ url('home_reflink', { 'shopName': link.shopUrlName, 'nickname': link.nickname, 'reflinkSlug': link.slug}) }}'>
                                    Copy to clipboard
                                </div>
                                <label>Shareable link</label>
                                <div class="input-group is-long">
                                    <span class="input-group-addon">{{ app.request.scheme }}://{{ link.shopUrlName }}.{{ app.request.httpHost }}/{{ link.nickname }}/</span>
                                    <input value="{{ link.slug }}" type="text" name="referrer_link[slug]"
                                           required="required" class="sharelink form-control"
                                           placeholder="Super-iPhone-6">
                                </div>
                                <span style="margin-left: auto;text-align: right;margin-top: 5px;">Create your own link pattern</span>
                            </div>

                            <div class="form-group flex noborder">
                                <label>Destination URL</label>
                                {% set destinationUrl = link.destinationUrl|split('://') %}
                                <div class="selectProtocol">
                                    <select name="referrer_link[destinationUrl][protocol]"
                                            class="form-control user-success">
                                        <option value="http"
                                                {% if destinationUrl[0] == 'http' %}selected{% endif %}>http
                                        </option>
                                        <option value="https"
                                                {% if destinationUrl[0] == 'https' %}selected{% endif %}>
                                            https
                                        </option>
                                    </select>
                                </div>
                                <input value="{{ destinationUrl[1] }}" type="text"
                                       name="referrer_link[destinationUrl][url]" required="required"
                                       class="destlink form-control" placeholder="Reward URL">
                                <span style="margin-left: auto;text-align: right;margin-top: 5px;">Copy & paste reward URL</span>
                            </div>

                            <div class="linkgenerator__buttons">
                                <div>
                                    <button class="btn btn-outline-success" type="submit">Save</button>
                                    <a class="btn btn-danger delete-link"
                                       href="{{ path('account_referrer_shop_referrer_link_delete', {shop: item.userShop.shop.id, referrerLink: link.id}) }}">Delete</a>
                                </div>
                                <div>
                                    <add-link-button
                                            joined="{{ link.showInMyStore }}"
                                            referrer-link="{{ link.id }}"
                                            shop="{{ link.shop.id }}"
                                            csrf="{{ csrf_token('referrer_link_my_store') }}"
                                    ></add-link-button>
                                </div>
                                <div class="linkgenerator__social">
                                    <div>
                                        <a target="_blank"
                                           href="http://www.facebook.com/sharer.php?u={{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                            <i style="color: #1778f2" class="fa fa-facebook-square"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <a target="_blank"
                                           href="https://twitter.com/share?url={{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                            <i style="color: #1da1f2" class="fa fa-twitter-square"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <a target="_blank"
                                           href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">
                                            <i style="color: #3b5998" class="fa fa-linkedin-square"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <a target="_blank"
                                           href="whatsapp://send?text={{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}"
                                           whatsapp_reflink="{{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}"
                                           class="pin-it-button whatsapp-redirect" count-layout="horizontal">
                                            <i style="color: #25D366" class="fa fa-whatsapp"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-link').click(function (e) {
                e.preventDefault();
                axios.delete($(e.currentTarget).attr('href')).then(response => {
                    location.reload();
                })
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script>
        (function () {
            $('[data-toggle="tooltip"]').tooltip()

            new ClipboardJS('.rewardlink .btn');

            $('.website-url').keyup(function () {
                let url = $(this).val().replace('http://', '').replace('https://', '');
                $(this).val(url);
            });

            new ClipboardJS('.copy-to-clipboard');
          document.querySelectorAll('.copy-to-clipboard').forEach((el) => {
              el.addEventListener('click', () => {
                  el.innerHTML = 'Copied to clipboard';
                  toastr.success('Link copied to clipboard!');
              })
          })

            const linkGenerator = $("#linkgenerator").clone().prop('outerHTML');

            $("#showCreateForm").click(function () {
                $(this).find('span .fa').toggleClass('fa-plus').toggleClass('fa-minus');
                $('#linkgenerator').toggle();
            })

            var link = $('.companylink__entry a').text().split('/');
            link = link[0] + '//' + link[2] + '<br/>' + '/' + link[3];

            $('.companylink__entry a').html(link);

            document.querySelector('#referrer-coupon-value').addEventListener('change', e => {
                if (document.querySelector('#referrer_coupon_valueType').value === '1') {
                    e.target.value[e.target.value.length-1] = '%'
                } else {
                    e.target.value[e.target.value.length-1] = '€'
                }
                let couponValue = parseFloat(e.target.value);

                document.querySelector('#referrer_coupon_value').value = isNaN(couponValue) ? 0 : couponValue;
                let couponType = String(e.target.value).includes('%') ? '{{ constant('App\\Entity\\CommissionType::PERCENT_ID') }}' : '{{ constant('App\\Entity\\CommissionType::FIXED_ID') }}';
                document.querySelector('#referrer_coupon_valueType').value = e.target.value[e.target.value.length-1] === '%' ? '1' : '2'

            });
            document.querySelector('#referrer-coupon-value').dispatchEvent(new Event('change'));

            document.querySelector('#showCouponCreate').addEventListener('click', () => {
                document.querySelector('.couponCreateWrapper').style.display = document.querySelector('.couponCreateWrapper').style.display === 'block' ? 'none' : 'block';
                if (document.querySelector('#showCouponCreate .fa').classList.contains('fa-plus')) {
                    document.querySelector('#couponCodeInput input').style.width = document.querySelector('#btnWebsite').clientWidth + 'px'
                    document.querySelector('#showCouponCreate .fa').classList.remove('fa-plus')
                    document.querySelector('#showCouponCreate .fa').classList.add('fa-minus')
                } else {
                    document.querySelector('#showCouponCreate .fa').classList.remove('fa-minus')
                    document.querySelector('#showCouponCreate .fa').classList.add('fa-plus')
                }
            })

            document.querySelector('#couponCodeInput input').addEventListener('click', () => {
                document.querySelector('#couponCodeInput input').style.filter = null
            })

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let showCouponCreate = document.querySelector('#showCouponCreate');

            let openShowCouponCreateFormAndScroll = () => {
                showCouponCreate.click()
                window.scroll({
                    top: document.querySelector('.couponCreateWrapper').offsetTop + document.querySelector('.couponCreateWrapper').scrollHeight - 150,
                    left: 0,
                    behavior: 'smooth'
                });
            }

            if (urlParams.get('isReffered') === '1') {
                openShowCouponCreateFormAndScroll();
            }

            if (showCouponCreate.dataset.open === '1') {
                openShowCouponCreateFormAndScroll();
            }

            document.querySelectorAll('.couponCreateWrapper .cpl-switch').forEach((el) => {
                el.addEventListener('change', () => {
                    document.querySelector('.couponCreateWrapper button[type="submit"]').click()
                })
            })

            const rewardUrl = document.querySelector('.rewardlink div').getAttribute('data-clipboard-text').replace('http://', '').replace('https://', '')

            document.querySelectorAll('.destlink').forEach(el => {
                el.addEventListener('input', () => {
                    if (el.value.indexOf(rewardUrl) < 0) {
                        el.parentNode.parentNode.querySelector('button').style.pointerEvents = 'none'
                        el.nextElementSibling.innerHTML = 'Copy & Paste Reward URL <span style="color: #ff0000">Invalid URL!</span>'
                    } else {
                        el.parentNode.parentNode.querySelector('button').style.pointerEvents = 'all'
                        el.nextElementSibling.innerHTML = 'Copy & Paste Reward URL'
                    }
                })
            })

        })();
    </script>
{% endblock %}
