{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap with-sidebar">

        <company-sidebar
                v-bind="{
                activeElement: 'Coupons'
            }"
        ></company-sidebar>
        <div class="header-with-global-stats">
            <sidebar-button></sidebar-button>
            <div class="container pt-50 pl-0 pr-0">
                <div class="page-title income-title">
                    <div class="row">
                        {%  if userCoupons | length %}
                            {% set direction = userCoupons.getDirection() %}
                            <table class="table table-hover table-condensed" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Coupon Code</th>
                                    <th>Coupon Type</th>
                                    {#                                                    <th>Purchase Value</th>#}
                                    <th>Date&Time</th>
                                    <th>Coupon Status</th>
                                    <th>
                                        {{ knp_pagination_sortable(userCoupons, 'Referrer', 'us.email') }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for userCoupon in userCoupons %}
                                    <tr>
                                        <td>{{ userCoupon.coupon.code }}</td>
                                        <td>{% if userCoupon.coupon.package.discountType.name == 'fixed' %}€{% endif %}{{ userCoupon.coupon.package.discount }}{% if userCoupon.coupon.package.discountType.name == 'percent' %}%{% endif %}</td>
                                        <td>{{ userCoupon.receivedAt | date("Y-m-d H:i:s") }}</td>
                                        <td>Not used <i class="fa fa-times-circle"></i></td>
                                        <td>{{ userCoupon.user.email }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ knp_pagination_render(userCoupons) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="rTableRow no-data-row">
                                <div class="alert alert-info" style="width: 100%">There are no coupons.</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
