<h3>{{ translation['hi'] }},</h3>

<p>{{ translation['invite_friend_email_text'] }}</p>

<strong><a href="{{ link }}">LINK</a></strong>

<p>{{ translation['regards'] }},</p>

<p>{% if referrer.name %}{{ referrer.name }}{% else %}{{ translation['your_friend'] }}{% endif %}</p>