<p>{{ translation.thank_you_for_recommending_our_company }}: <strong>{{ shop.name }}</strong>.</p>
<p>{{ translation.emial_offer_friends_text }}</p>
<br/>
<p>{{ translation.regards }}</p>
{{ shop.name }} & ValueLink