<p>{{ translation.thank_you_for_recommending_our_company }}: <strong>{{ shop.name }}</strong>. {{ translation.we_are_sending_you_a_coupon_code_as_a_thank_you }}</p>
<p><strong style="color:orange;">{{ translation.coupon_code }}: {{ coupon.code }} {{ coupon.package.discountLabel }}</strong></p>
<br/>
<p>{{ translation.regards }}</p>
{{ shop.name }} & ValueLink