<h1>Hello</h1>

<p>Your Campaign Budget has been fully used = 0. Please provide new budget to re-activate again Your affiliate campaign.</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
