<h1>Hello</h1>
<h3>Shop {{ shop.name }} changed offer.</h3>

{% if shop.urlName %}
<p><a href="{{ asset(url('subdomain_shop_show', {subdomain: shop.urlName}), null, 1) }}">Check details</a></p>
{% endif %}

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>