<h1>Welcome to ValueLink!</h1>

<p>Your budget is running out very quickly, please consider increasing it.</p>

<p>Your remaining balance is {{ balance.amount }} {{ balance.currency.name }}</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
