<h1>Dear {{ shop.name }}</h1>

<p>Here is the payment request for Your referral Partners and ValueLink.</p>

<table>
    <thead>
        <th>Name</th>
        <th>Surname</th>
        <th>E-mail</th>
        <th>Payout</th>
    </thead>
    <tbody>
        {% for payout in payouts %}
        <tr>
            <td>{{ payout.referrerName }}</td>
            <td>{{ payout.referrerSurname }}</td>
            <td>{{ payout.referrerEmail }}</td>
            <td>{{ payout.amount }} EUR</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Total: {{ payouts.total }} EUR</strong></p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
