<h1>Welcome to ValueLink!</h1>


{% set userBalance = user.getCurrencyBalance('EUR') %}

<p>
    {% if user.currentPlan %}
    Your {{ user.currentPlan.plan.name }} Account has been activated and will be active till {{ user.currentPlan.expiryDate | date("d-m-Y") }}.
    {% endif %}
    {% if userBalance and userBalance.amount > 0 %}
    Your Budget is {{ userBalance.amount }} Eur.
    {% else %}
    Please provide Campaign Budget
    {% endif %}
</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
