<h1>Welcome to ValueLink!</h1>

<p>We are sorry, your submission has been rejected. Please contact ValueLink Team in case of questions.</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
