<h1>Welcome to ValueLink!</h1>

<p>We are sorry, your subscription plan already expired. Please contact ValueLink Team in case of questions.</p>

{% set userBalance = subscription.user.getCurrencyBalance('EUR') %}

<p>
    Your {{ subscription.plan.name }} Account has expired.
    {% if userBalance and userBalance.amount > 0 %}
    Remaining Campaign Budget = {{ userBalance.amount }} Eur. Your Affiliate Links will be active until Your budget will be fully used.
    {% else %}
    Remaining Campaign Budget = 0 Eur. Choose now Your new plan and continue with ValueLink
    {% endif %}
</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
