<h1>Welcome to ValueLink!</h1>
<p>
    All coupons have been used up for {{ coupon.package.allocationName }}.
</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
