{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
       <page-title
                title="Back to main view"
                v-bind="{
                backLink: '/account'
            }"
        ></page-title>

        <account-header-banner
                title='Configure Your Referral Widget'
                v-bind="{
                    content: 'Widget configuration requires: Company Details & Rewards information\nInsert our snippet code to Your site and start configuring Your referral widget.\nChoose widget layout, upload coupons, display Your rewards on widget and start referring'
                }"
        ></account-header-banner>

        <progress-bar v-bind="{
            completionPercent: {{ shop.widgetSetting.completion.completionPercent|default(0) }}
        }"></progress-bar>

        <div class="container">
            <div class="content shop-content wizard widget" style="padding-left:0; padding-right:0;">
                <div class="row">

                    <shop-sidebar-menu v-bind="{
                            pathinfo: '{{ app.request.pathinfo }}',
                            completionResults: {
                            LayoutData: {{ shop.widgetSetting.completion.getResult('LayoutData').getScore() ? shop.widgetSetting.completion.getResult('LayoutData').getScore() : 0   }},
                            CouponsData: {{ shop.widgetSetting.completion.getResult('CouponsData').getScore() ? shop.widgetSetting.completion.getResult('CouponsData').getScore() : 0 }},
                            RewardsData: {{ shop.widgetSetting.completion.getResult('RewardsData').getScore() ? shop.widgetSetting.completion.getResult('RewardsData').getScore() : 0  }},
                            EmailData: {{ shop.widgetSetting.completion.getResult('EmailData').getScore() ? shop.widgetSetting.completion.getResult('EmailData').getScore() : 0 }},
                            IconData: {{ shop.widgetSetting.completion.getResult('IconData').getScore() ? shop.widgetSetting.completion.getResult('IconData').getScore() : 0 }},
                            ActivateRefferalData: {{ shop.widgetSetting.completion.getResult('ActivateRefferalData').getScore() ? shop.widgetSetting.completion.getResult('ActivateRefferalData').getScore() : 0 }},
                            FinishData: {{ shop.widgetSetting.completion.getResult('FinishData').getScore() ? shop.widgetSetting.completion.getResult('FinishData').getScore() : 0 }}
                            }
                            }">

                    </shop-sidebar-menu>


                    <div class="col-md-9 col-xs-12">
                        <alert-bag v-bind="{
                                type: 'success',
                                messageList: {{ app.flashes('success')|json_encode }}
                                }"></alert-bag>

                        {% block tab_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
