{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    <section-title title="Upload Your Coupons"></section-title>
    <div class="publicprofile">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <span class="account-widget__coupons">
            <widget-coupon
                    title="Referral Coupons"
                    desc="Configure coupon type for upload"
                    v-bind="{
                        errors: '{{ form_errors(form.referrerCouponDiscount)|e('js')|e('html_attr')}}',
                        discountType: '{{ form_widget(form.referrerCouponDiscountType)|escape }}',
                        discount: '{{ form_widget(form.referrerCouponDiscount)|escape }}'
                    }"
            >
                <div class="row coupons-row account-widget__referrer-coupon">
                    {% include 'account/shop/widget/parts/coupons_global_error.html.twig' with {couponTypeName: "referrer", errors: form.vars.errors } %}
                    {{ form_row(form._token) }}
                    <div class="col-md-6 coupons-section with-border">
                        <div class="coupons-one-time">
                            {{ form_row(form.referrerCouponType[0]) }}
                            <div class="button-wrap">
                                <label class="btn btn-outline-primary" for="coupon_package_referrerOneTimeCoupons_csv">Choose file (CSV or TXT)</label>
                                <div>
                                {{ form_widget(form.referrerOneTimeCoupons.csv, {
                                    attr: {
                                        'class': 'switch-coupon-type',
                                        'data-target': '#coupon_package_referrerCouponType_0'
                                    }
                                }) }}
                                </div>
                            </div>
                            {{ form_errors(form.referrerOneTimeCoupons.csv) }}
                        </div>
                        <div  id="referralModal" id="#couponsModal">
                            <coupon-modal coupons-for="referral" ></coupon-modal>
                        </div>
                        <div id="showCouponsModal" class="btn btn-outline-primary">Coupons preview</div>
                    </div>
                    <div class="col-md-6 coupons-section referrerMultiplePackage small-margin-fg">
                        <div>
                            {{ form_row(form.referrerCouponType[1]) }}
                            {{ form_widget(form.referrerMultipleUsageCouponCode, {
                                attr: {
                                    'class': 'switch-coupon-type',
                                    'data-target': '#coupon_package_referrerCouponType_1'
                                }
                            }) }}
                            {{ form_errors(form.referrerMultipleUsageCouponCode) }}
                        </div>
                        {% include 'account/shop/widget/parts/coupon_packages_table.html.twig' with {packages: multipleReferrerCoupons} %}
                    </div>
                </div>
            </widget-coupon>
            <div class="form-group invite">
                {{ form_widget(form.sameCouponsForInvitee) }}
            </div>
            <widget-coupon
                title="Invitee Coupons"
                desc="Configure coupon type for upload"
                v-bind="{
                    errors: '{{ form_errors(form.inviteeCouponDiscount)|e('js')|e('html_attr') }}',
                    discountType: '{{ form_widget(form.inviteeCouponDiscountType)|escape }}',
                    discount: '{{ form_widget(form.inviteeCouponDiscount)|escape }}',
                    pClass: 'couponTypeForUploadInvitee',
                    discountClass: 'couponTypeForUploadInvitee',
                    couponToHide: 'coupon-to-hide'
                }"
            >
                <div class="row coupons-row coupons-for-invitee">
                    {% include 'account/shop/widget/parts/coupons_global_error.html.twig' with {couponTypeName: "invitee", errors: form.vars.errors } %}
                    <div class="col-md-6 coupons-section with-border">
                        <div style="min-height: 10px;" class="coupons-one-time">
                            {{ form_row(form.inviteeCouponType[0]) }}
                            <div class="button-wrap" style="position: relative">
                                <label class="btn btn-outline-primary" for="coupon_package_inviteeOneTimeCoupons_csv" style="z-index: 2;position: relative;">Choose file (CSV or TXT)</label>
                             {{ form_widget(form.inviteeOneTimeCoupons.csv, {
                                    attr: {
                                        'class': 'switch-coupon-type',
                                        'data-target': '#coupon_package_inviteeCouponType_0'
                                    }
                                }) }}
                            </div>
                            {{ form_errors(form.inviteeOneTimeCoupons.csv) }}
                        </div>
                        <div  id="inviteeModal" id="#couponsModal">
                            <coupon-modal coupons-for="invitee" ></coupon-modal>
                        </div>
                        <div id="showInviteeCouponsModal" class="btn btn-outline-primary" style="margin-top: 15px">Coupons preview</div>
                    </div>
                    <div class="col-md-6 coupons-section small-margin-fg">
                        <div style="min-height: 90px;">
                            {{ form_row(form.inviteeCouponType[1]) }}
                            {{ form_widget(form.inviteeMultipleUsageCouponCode, {
                                attr: {
                                    'class': 'switch-coupon-type',
                                    'data-target': '#coupon_package_inviteeCouponType_1'
                                }
                            }) }}
                            {{ form_errors(form.inviteeMultipleUsageCouponCode) }}
                        </div>
                        {% include 'account/shop/widget/parts/coupon_packages_table.html.twig' with {packages: multipleInviteeCoupons} %}
                    </div>
                </div>
            </widget-coupon>

            <submit-button id="submit" value="Save Coupon Settings" />
            {{ form_errors(form)}}
        </div>
        {{ form_end(form, {render_rest: false}) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <style>
        form[name='coupon_package'] .list-unstyled li .glyphicon{
            position: static;
            right: unset
        }
    </style>

    <script>
        $('#coupon_package_sameCouponsForInvitee').on('change', function () {
            if ($(this).is(':checked')) {
                $('.content.shop-content.wizard').addClass('hidden-invitee-coupons');
                document.querySelector('#coupon-to-hide').style.display = 'none';
                document.querySelectorAll('.couponTypeForUploadInvitee').forEach((el) => {
                    el.style.display = 'none'
                })
            } else {
                $('.content.shop-content.wizard').removeClass('hidden-invitee-coupons');
                document.querySelector('#coupon-to-hide').removeAttribute('style');
                document.querySelectorAll('.couponTypeForUploadInvitee').forEach((el) => {
                    el.style.display = 'flex'
                })
            }
        });
        $('#coupon_package_sameCouponsForInvitee').change();

        $('.btn-coupon-remove').on('click', function (e) {
            e.preventDefault();
            axios({url: $(this).data('url'), method: 'delete'})
                .then(() => window.location.reload())
                .catch(() => window.location.reload());
        })

        $('.switch-coupon-type').on('click', function () {
            $($(this).data('target')).prop('checked', true);
        })

        // $('#coupon_package_referrerMultipleUsageCouponCode').on('focus', function () {
        //   $(this).closest('input[type=radio]').prop('checked', true)
        // })

        let elCM = document.querySelector('#showCouponsModal')
            if (elCM){
                elCM.addEventListener('click', () => {
            document.querySelector('#referralModal #couponsModal').classList.add('open')
        })
        }

        let elIC = document.querySelector('#showInviteeCouponsModal')
        if (elIC) {
            elIC = document.querySelector('#showInviteeCouponsModal').addEventListener('click', () => {
                document.querySelector('#inviteeModal #couponsModal').classList.add('open')
            })
        }

        let is_safari = navigator.userAgent.indexOf("Safari") > -1;
        if (is_safari) {
            document.querySelectorAll('.coupons-section input[type="file"]').forEach((el) => {
                el.style.left = "115x"
            })
        }

    </script>

{% endblock %}
