{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    <section-title title="E-mail preview"></section-title>

    <div class="publicprofile" style="margin-bottom: 35px;">
        {% set language = (shop.widgetSetting and shop.widgetSetting.language ? shop.widgetSetting.language.name : 'English') %}
<!--        <alert-bag
            v-bind="{
                messageList: ['Your Widget language is {{ language }}. You can change Your language in Widget Header']
            }"
        ></alert-bag>
        <alert-bag
            v-bind="{
                messageList: ['Please preview email templates for Referral Partner and Invitee']
            }"
        ></alert-bag>-->
    </div>

    <widget-email-title title="Referral Partner E-mail" subtitle="Rewards E-mail"></widget-email-title>

    <widget-email
        v-bind="{
            title: '{{ translation['thank_you_for_recommendation'] }} <span >{{ translation['referral_partner_name'] }}</span>',
            content: '{{ translation['thank_you_for_recommendation_our_company'] }}: <span>{{ app.user.shop.name }}.</span><br>{{ translation['we_are_sending_you_a_coupon_code_as_a_thank_you'] }}<br/> <strong>{{ translation['coupon_code'] }}: {{ translation['discount'] }} €25</strong><br/><br/>{{ translation['regards'] }}<br/><span>{{ app.user.shop.name }}</span> & ValueLink'
        }"
    ></widget-email>

    {% if shop.hasCouponRewards and shop.widgetSetting and shop.widgetSetting.referrerRewardCouponDiscountMinPurchase > 0 %}
        <widget-email-title subtitle="Information E-mail"></widget-email-title>

        <widget-email
            v-bind="{
                title: '{{ translation['thank_you_for_recommendation'] }} <span> &quot;{{ translation['referral_partner_name'] }}&quot;</span>',
                content: '{{ translation['thank_you_for_recommendation_our_company'] }}: <span>{{ app.user.shop.name }}.<br/>{{ translation['emial_offer_friends_text']|raw }}<br/><br/>{{ translation['regards'] }}<br/><span>{{ app.user.shop.name }}</span> & ValueLink'
            }"
        ></widget-email>
    {% endif %}

    <widget-email-title title="Invitee E-mail"></widget-email-title>

    <widget-email
            v-bind="{
                    title: '{{ translation['from_name'] }}: {{ translation['check_offer'] }} <span>{{ app.user.shop.name }}</span>. {{ translation['i_send_you_discount'] }}',
                    content: '{{ translation['invitee_email_text']|raw }}<strong>Link</strong><br/><br/>{{ translation['regards'] }},<br/><span>&quot;{{ translation['referral_partner_name'] }}&quot;</span>'
            }"
    ></widget-email>

    <submit-button
        value="Go to Referral Page"
        href="{{ path('account_shop_widget_refferal') }}"
    ></submit-button>
{% endblock %}
