{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    <section-title title="Activate Refferal Page"></section-title>
    <div class="text-center" style=" float: none; margin-bottom: 25px;">
        <h4 class="text-center">Congratulation!</h4>
        <p class="text-center" style="line-height: 1.2">You've configured your widget!</p>
    </div>
{% endblock %}
