{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    <section-title title="Widget Header"></section-title>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {# Disable Widget Translations
    {{ form_row(form.language, { 'attr': {'style': 'width: 200px; display:none'} }) }}
    #}

    <custom-input
            id="widgetProductUrl"
            style="display: none"
            v-bind="{
            label: `<label class='control-label' for='product-url'>Product URL</label>`,
            widget: `<input type='text' id='product-url'>`,
        }"
    ></custom-input>
    <widget-top-bar
            title="{{ translation['reffer_get_rewards'] }}"
    ></widget-top-bar>
    <div class="col-md-12 account-widget__header__pre-box"></div>
        {% if  camp != null %}
            {% set hasCouponRewardConfigured = camp.widgetShopSetting and camp.widgetShopSetting.referrerRewardCouponEnabled and camp.widgetShopSetting.referrerRewardCouponPackage %}
            {% set hasCashRewardConfigured = camp.widgetShopSetting and camp.shop.cpsOffer in not null %}
            {% set hasInviteeRewardConfigured = camp.widgetShopSetting and camp.widgetShopSetting.inviteeRewardCouponPackage %}
            {% set hasCouponRewardConfigured = camp.widgetShopSetting and camp.widgetShopSetting.referrerRewardCouponEnabled and camp.widgetShopSetting.referrerRewardCouponPackage %}
        {% else %}
            {% set hasCouponRewardConfigured = shop.widgetSetting and shop.widgetSetting.referrerRewardCouponEnabled and shop.widgetSetting.referrerRewardCouponPackage %}
            {% set hasCashRewardConfigured = shop.widgetSetting and shop.cpsOffer in not null %}
            {% set hasInviteeRewardConfigured = shop.widgetSetting and shop.widgetSetting.inviteeRewardCouponPackage %}
            {% set hasCouponRewardConfigured = shop.widgetSetting and shop.widgetSetting.referrerRewardCouponEnabled and shop.widgetSetting.referrerRewardCouponPackage %}
        {% endif %}
    <widget-content
        v-bind="{
            logoSrc: '{{ shop.logo ? shop.logo : null }}',
            header: {
            image: '{{ shop.widgetSetting.welcomePicture.content is defined ? shop.widgetSetting.welcomePicture.content : asset('images/welcomeWidgetHeader.png') }}',
                      isDefault: {% if shop.widgetSetting.welcomePicture.publicUrl is not defined %} true {% else %} false {% endif %},
                      welcomePicture: '{{ form_row(form.welcomePicture)|escape }}'
            },
            textarea: {
                name: 'widget_header[customText]',
                text: {% if form.vars.value.customText|e('js')|e('html_attr')  %}'{{ form.vars.value.customText|e('js')|e('html_attr')  }}'{% else %}'{{ translation['prompt_text_for_coupon_value']|e('js')|e('html_attr')  }}'{% endif %},
                errors: '{{ form_errors(form.customText)|e('js')|e('html_attr') }}'
            },
            sendGiftText: '{{ translation['send_gift'] }}',
            getRewardsText: '{{ translation['get_rewards'] }}',
            termConditions: '{{ translation['terms_conditions'] }}',
            dataAdmin: '{{ translation['data_administrator'] }}',
            poweredBy: '{{ translation['powered_by'] }}',
            greenButton: {
                value: '{{ form.vars.value.customBarText|escape }}',
                name: 'widget_header[customBarText]',
                errors: '{{ form_errors(form.customBarText)|e('js')|e('html_attr')}}'
            }
        }"
    >
        {% if (hasCouponRewardConfigured or hasCashRewardConfigured) and hasInviteeRewardConfigured %}
            <div class="account-widget__rewards-info">

                <b>
                    {% if (hasCouponRewardConfigured and hasCashRewardConfigured and camp !=null) %}
                        {{ translation['get'] }} {{ shop.cpsOffer.shortLabel }} {{ translation['widget_header_commission'] }} {{  translation['or'] }} <br/>
                        {{ translation['get'] }} {{ camp.widgetShopSetting.referrerRewardCouponPackage.shortDiscountLabel }} {{ translation['widget_header_coupon_code'] }}
                    {% elseif hasCouponRewardConfigured and camp !=null %}
                        {{ translation['get'] }} {{ camp.widgetShopSetting.referrerRewardCouponPackage.shortDiscountLabel }} {{ translation['widget_header_coupon_code'] }}
                    {% elseif hasCashRewardConfigured and camp !=null %}
                        {{ translation['get'] }} {{ shop.cpsOffer.shortLabel }} {{ translation['widget_header_commission']  }}
                    {% endif %}
                </b><br>
                {% if camp !=null %}
                    <b> {{ translation['widget_header_give'] }} {{ camp.widgetShopSetting.inviteeRewardCouponPackage.shortDiscountLabel }} {{ translation['widget_header_coupon_code'] }}</b>
                {% else %}
                    <b> Create & Activate <br> Campaign</b>
                {% endif %}
            </div>
        {% else %}
            <div class="account-widget__rewards-info">
                <b>
                    {{ translation['get'] }} *** {{ translation['widget_header_commission'] }} {{ translation['or'] }} <br/>
                    {{ translation['get'] }} *** {{ translation['widget_header_coupon_code'] }}
                </b>
                <br>
                <b>{{ translation['widget_header_give'] }} *** {{ translation['coupon_code'] }}</b>
            </div>
        {% endif %}
    </widget-content>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <submit-button value="Save Widget Header" v-bind="{buttonClass: 'btn-primary'}"/>
            </div>
        </div>
    </div>


    {{ form_row(form.welcomePicture) }}
    {{ form_row(form.welcomePictureWidth) }}
    {{ form_row(form.welcomePictureHeight) }}
    {{ form_row(form.welcomePicturePosX) }}
    {{ form_row(form.welcomePicturePosY) }}
    {{ form_row(form.welcomePictureRatio) }}

    {{ form_errors(form.welcomePictureWidth) }}
    {{ form_errors(form.welcomePictureHeight) }}
    {{ form_errors(form.welcomePicturePosX) }}
    {{ form_errors(form.welcomePicturePosY) }}
    {{ form_errors(form.welcomePictureRatio) }}

    {{ form_end(form, {render_rest: false}) }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>

      // od usuniecia po przeniesieniu rewards na wlasciwa podstrone
        if (window.location.search.indexOf('rewards=true') > -1) {
            $('.section.single-wrap').hide();
            $('.section.single-wrap.rewards').show();
        }

        // js dla rewards
        $('input.widget__rewards__coupon--reward_condition').on('change', function () {
            if ($(this).val() == 0) {
                $('.widget__rewards__coupon_min_order_sub').show();
            } else {
                $('.widget__rewards__coupon_min_order_sub').hide();
            }
        });

        $('input.widget__rewards__coupon--type').on('change', function () {
            if ($(this).val() == 0) {
                $('select.widget__rewards__coupon--percentage_reward').show();
                $('select.widget__rewards__coupon--fixed_reward').hide();
            } else {
                $('select.widget__rewards__coupon--fixed_reward').show();
                $('select.widget__rewards__coupon--percentage_reward').hide();
            }
        });

        $('input.widget__rewards__coupon--type:checked').change()

        $('input.widget_rewards--invitee__coupon--type').on('change', function () {
            if ($(this).val() == 0) {
                $('select.widget__rewards--invitee__coupon--percentage_reward').show();
                $('select.widget__rewards--invitee__coupon--fixed_reward').hide();
            } else {
                $('select.widget__rewards--invitee__coupon--fixed_reward').show();
                $('select.widget__rewards--invitee__coupon--percentage_reward').hide();
            }
        });

        $('input.widget_rewards--invitee__coupon--type:checked').change()

        document.querySelector('#coupon_rewards_switch input') && document.querySelector('#coupon_rewards_switch input').addEventListener('change', (e) => {
            document.querySelector('#cash_rewards_switch input').checked = false
        })

        document.querySelector('#cash_rewards_switch input') && document.querySelector('#cash_rewards_switch input').addEventListener('change', (e) => {
            document.querySelector('#coupon_rewards_switch input').checked = false
        })

        tippy('#tippyTrigger', {
            content: '<p>Create campaign & <br>configure Your widget rewards. <br> <a href="/account/shop/widget/rewards" style="color: lightseagreen"> Go to Campaign</a> </p>',
            arrow: true,
            interactive: true
        });

        document.querySelector('#widgetSpecify') && document.querySelector('#widgetSpecify').addEventListener('change', () => {
            if (document.querySelector('#widgetSpecify').value === '2') {
                document.querySelector('#widgetProductUrl').style.display = 'block'
            } else {
                document.querySelector('#widgetProductUrl').style.display = 'none'
            }
        })

     /*   let autoGrowInput = document.querySelector('textarea[name="widget_header[customText]"]')
        autoGrowInput.addEventListener('input', () => {
            autoGrowInput.style.height = (autoGrowInput.scrollHeight)+"px";
        })*/
    </script>

{% endblock %}
