{% extends 'account/shop/widget/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.css"/>

    <style>
        .pickr {
            margin-right: 15px;
        }

        .pickr .pcr-button{
            width: 100%;
            height: 100px;
        }
    </style>
{% endblock %}

{% block tab_content %}
    <section-title title="Customize Your Referral Widget"></section-title>

    <div class="publicprofile">
        <div class="tab-content" style="padding-top:0; margin:0;">

            <div class="widget-icon">
<!--                {% if shop.widgetSetting %}
                    <div class="alert alert-info" role="alert">Your Widget language is {{ shop.widgetSetting.language }}. You can
                        change Your language in Widget Header
                    </div>
                {% endif %}-->

                {{ form_start(form) }}

                {{ form_row(form._token) }}
                {{ form_errors(form) }}

                <div class="col-12">
                    <icon-editor
                            v-bind="{
                                    debugMode: false,
                                    iconsCount: {{ form.icon.children|length|default(0) }},
                                    previewUrl: '{{ shop.website }}',
                                    iconUpdateUrl: '{{ path('account_shop_icon_update') }}',
                                    initialData: {
                                    icon: {{ form.vars.value.icon.id }},
                                    iconCoords: {
                                    mobile: {
                                    top: {{ form.vars.value.mpTop ? '\''~form.vars.value.mpTop~'px\'' : 'null' }},
                                    right: {{ form.vars.value.mpRight ? '\''~form.vars.value.mpRight~'px\'' : 'null' }},
                                    bottom: {{ form.vars.value.mpBottom ? '\''~form.vars.value.mpBottom~'px\'' : 'null' }},
                                    left: {{ form.vars.value.mpLeft ? '\''~form.vars.value.mpLeft~'px\'' : 'null' }}
                                    },
                                    desktop: {
                                    top: {{ form.vars.value.pTop ? '\''~form.vars.value.pTop~'px\'' : 'null' }},
                                    right: {{ form.vars.value.pRight ? '\''~form.vars.value.pRight~'px\'' : 'null' }},
                                    bottom: {{ form.vars.value.pBottom ? '\''~form.vars.value.pBottom~'px\'' : 'null' }},
                                    left: {{ form.vars.value.pLeft ? '\''~form.vars.value.pLeft~'px\'' : 'null' }}
                                    }
                                    },
                                    iconSizeValue: {{ form.vars.value.iconSize }},
                                    bgSizeValue: {{ form.vars.value.backgroundSize }},
                                    sonarEffect: {{ (form.blinkEffect.vars.checked) ? 'true' : 'false' }},
                                    isOutline: {{ (form.vars.value.hideBackgroundColor) ? 'true' : 'false' }},
                                    isBackground: {{ (form.vars.value.hideBackgroundColor) ? 'false' : 'true' }},
                                    colors: '{{ form.vars.value.backgroundColor }}'
                                    }
                                    }"
                    >
                        <div class="form-group col-md-12">
                            <label class="control-label required">Choose Refferal Widget Icon</label>
                            <div id="widget_button_icon" style="display: flex;">
                                {% for key, iconItem in form.icon.children %}
                                    <label for="widget_button_icon_{{ key }}" class="required" style="border: 1px solid transparent; cursor: pointer">
                                        <input type="radio" id="widget_button_icon_{{ key }}" value="{{ iconItem.vars.value }}" {% if iconItem.vars.checked %}checked{% endif %} name="widget_button[icon]" style="display: none">
                                        <span>
                                                            <img src="/images/widget/{{ iconItem.vars.label }}" alt="Icon {{ key }}" style="width: 150px;"/>
                                                        </span>
                                    </label>
                                {% endfor %}
                            </div>
                            {{ form_errors(form.icon) }}
                        </div>
                        <div class="form-group col-md-6" style="display: none">
                            <label for="widget_button_textColor" class="control-label required" style="display: none">{{ form_label(form.textColor) }}</label>
                            <span id="widget-button-textColor-trigger"><i class="fas fa-palette"></i></span>
                            <div class="widget-textColor-picker"></div>
                            <div style="display: none">
                                {{ form_widget(form.textColor) }}
                                {{ form_errors(form.textColor) }}
                            </div>

                            <div style="display: flex">
                                <div class="color-picker2"></div>
                                <div class="color-picker-right">
                                    <div class="btn btn-outline-primary" id="choose-color2">Choose color</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="widget_button_backgroundColor" class="control-label required">Choose Referral Widget Background Color</label>

                            <span id="widget-button-backgroundColor-trigger" style="top: 42px; bottom: 0"><i class="fas fa-palette"></i></span>
                            <div style="display: none">
                                <div class="widget-backgroundColor-picker"></div>
                                {{ form_widget(form.backgroundColor) }}
                                {{ form_errors(form.backgroundColor) }}
                            </div>

                            <div style="display: flex; align-items: center;">
                                <div class="color-picker"></div>
                                <div class="color-picker-right">
                                    <span>Choose your main color</span>
                                    <div class="btn btn-outline-primary" id="choose-color">Choose color</div>
                                    <div style="margin-top: 15px">
                                        <div class="form-switch-wrapper">
                                            <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                                <input name="widget_button[hideBackgroundColor]" type="checkbox" value="1" class="cpl-switch" {% if form.hideBackgroundColor.vars.checked %}checked{% endif %}/>
                                                <div></div>
                                            </label>
                                            <label style="font-weight: 400">Hide background color</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Choose Referral Widget Position</label>
                            <div role="alert" class="alert alert-info">On mobile devices widget will be displayed on bottom corners only</div>
                            {{ form_widget(form.position) }}

                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.pTop) }}
                                    {{ form_row(form.pRight) }}
                                    {{ form_row(form.pBottom) }}
                                    {{ form_row(form.pLeft) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.mpTop) }}
                                    {{ form_row(form.mpRight) }}
                                    {{ form_row(form.mpBottom) }}
                                    {{ form_row(form.mpLeft) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Icon size (<span id="iconSizePx">{{ form.vars.value.iconSize }}</span> px)</label>
                            {{ form_widget(form.iconSize) }}
                            {{ form_errors(form.iconSize) }}
                        </div>
                        <div class="form-group col-md-12">
                            <label>Background size (<span id="backgroundSizePx">{{ form.vars.value.backgroundSize }}</span> px)</label>
                            {{ form_widget(form.backgroundSize) }}
                            {{ form_errors(form.backgroundSize) }}
                        </div>
                        <div class="form-group options-checkboxes" style="float: left">
                            <div class="col-md-12">
                                <label>Choose Referral Widget Effects</label>
                                <div class="form-switch-wrapper">
                                    <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                        <input name="widget_button[blinkEffect]" type="checkbox" value="1" class="cpl-switch" {% if form.blinkEffect.vars.checked %}checked{% endif %}/>
                                        <div></div>
                                    </label>
                                    <label style="font-weight: 400">Activate Sonar Effect</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center submit-wizard-section">
                                    <button type="submit" class="btn btn-success text-white">
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none">
                                <div style="display: none">{{ form_row(form.showNumberOfReferrals) }}</div>
                            </div>
                        </div>
                    </icon-editor>
                </div>

                <div class="col-md-12">
                    <div class="text-center submit-wizard-section">
                        <a href="{{ path('account_shop_coupons') }}"
                           class="btn btn-success nextStepButton text-white">
                            Save Icon Settings
                        </a>
                    </div>
                </div>

                {{ form_end(form, {render_rest: false}) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/pickr-widget/dist/pickr.min.js"></script>

    <script>

        $('input[name="widget_button[icon]"]:checked').parent().parent().parent().parent().click();

        $("#choose-color").click(function () {
            $(this).parent().parent().find('.pcr-button').click();
        })
        // $("#choose-color2").click(function () {
        //     $(this).parent().parent().find('.pcr-button').click();
        // })
        const $colorInput = $('[name="widget_button[backgroundColor]"]');
        const pickr = Pickr.create({
            el: '.color-picker',
            useAsButton: false,
            default: $colorInput.val(),
            onSave(hsva) {
                $colorInput.val(hsva.toHEX().toString());
            },
            components: {
                preview: true,
                opacity: true,
                hue: true,
                interaction: {
                    hex: true,
                    rgba: true,
                    cmyk: true,
                    input: true,
                    clear: true,
                    save: true
                }
            }
        });

        const $colorInput2 = $('[name="widget_button[textColor]"]');
        const pickr2 = Pickr.create({
            el: '.color-picker2',
            useAsButton: false,
            default: $colorInput2.val(),
            onSave(hsva) {
                $colorInput2.val(hsva.toHEX().toString());
            },
            components: {
                preview: true,
                opacity: true,
                hue: true,
                interaction: {
                    hex: true,
                    rgba: true,
                    cmyk: true,
                    input: true,
                    clear: true,
                    save: true
                }
            }
        });

        const iconSizeEl = document.getElementById('widget_button_iconSize');
        const bgSizeEl = document.getElementById('widget_button_backgroundSize');
        const iconSizePx = document.getElementById('iconSizePx');
        const bgSizePx = document.getElementById('backgroundSizePx');
        if (iconSizeEl && bgSizeEl && iconSizePx && bgSizePx) {
            iconSizeEl.addEventListener('change', () => {
                if ((parseInt(iconSizeEl.value) + 3) > parseInt(bgSizeEl.value)) {
                    bgSizeEl.value = parseInt(iconSizeEl.value) + 3
                }
                updatePxSpan();
            });
            bgSizeEl.addEventListener('change', () => {
                if (parseInt(bgSizeEl.value) < (parseInt(iconSizeEl.value) + 3)) {
                    iconSizeEl.value = parseInt(bgSizeEl.value) - 3
                }
                updatePxSpan();
            });

            function updatePxSpan() {
                iconSizePx.innerHTML = iconSizeEl.value;
                bgSizePx.innerHTML = bgSizeEl.value;
            }
        } else {
            console.error('Not found required elements for icon and background size!');
        }

        document.querySelectorAll('#widget_button_icon label').forEach((label) => {
            if (label.querySelector('input').checked) {
                label.style.border = '1px solid #1976D2'
            }

            label.addEventListener('click', () => {
                document.querySelectorAll('#widget_button_icon label').forEach((otherLabel) => {
                    otherLabel.style.border = '1px solid transparent'
                })
                label.style.border = '1px solid #1976D2'
            })
        })
    </script>

{% endblock %}
