{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    <section-title title="Preview" desc="Fill in your widget details"></section-title>
    <copy-input
        label="Your link"
        v-bind="{
            input: {
                id: 'edit_shop_preview_shopURL',
                name: 'edit_shop_preview_shopURL',
                value: '{{ url('subdomain_widget_show', {subdomain: shop.urlName})|escape('js') }}',
            },
            button: {
                id: 'copy_shopUrl_to_clipboard',
                event: ['shopUrlToCopyVal', 'shopUrlToCopy'],
            },
            spanID: 'shopUrlToCopy',
            ibanID: 'shopUrlToCopyVal',
            extraClass: 'inlineClipboard',
            fullWidth: true
        }"
    ></copy-input>
    <div class="wizard-preview-page-buttons" style="text-align: center">
        <h4>Click button to preview your referral page</h4>
        <a href="{{ path('account_shop_referral_preview_show') }}"
           class="btn btn-primary btn-primary-outline"
           style="margin-top: 10px">Preview your referral page</a>
    </div>
    <submit-button value="Go to Finish" href="{{ path('account_shop_widget_finish') }}"></submit-button>
{% endblock %}
