{% extends 'account/shop/widget/base.html.twig' %}

{% block tab_content %}
    {% set referrerLinkValidityModes = [] %}
    {% set referrerGetCouponRewardFlags = [] %}
    {% set referrerRewardCouponPackages = [] %}
    {% set inviteeRewardCouponPackages = [] %}
    {% for key, item in form.referrerLinkValidityMode.children %}
        {% set referrerLinkValidityModes = referrerLinkValidityModes|merge([{
            value: item.vars.value
        }]) %}
    {% endfor %}
    {% for key, item in form.referrerGetCouponRewardFlag.children %}
        {% set referrerGetCouponRewardFlags = referrerGetCouponRewardFlags|merge([{
            value: item.vars.name
        }]) %}
    {% endfor %}
    {% for key, item in form.referrerRewardCouponPackage.vars.choices %}
        {% set referrerRewardCouponPackages = referrerRewardCouponPackages|merge([{
            label: item.label,
            value: item.value
        }]) %}
    {% endfor %}
    {% for key, item in form.inviteeRewardCouponPackage.vars.choices %}
        {% set inviteeRewardCouponPackages = inviteeRewardCouponPackages|merge([{
            label: item.label,
            value: item.value
        }]) %}
    {% endfor %}

    <widget-rewards v-bind="{
        csrfToken: '{{ csrf_token('widgetRewards') }}',
        campaigns: {{ campaigns|json_encode }},
        referrerLinkValidityModes: {{ referrerLinkValidityModes|json_encode }},
        referrerGetCouponRewardFlags: {{ referrerGetCouponRewardFlags|json_encode }},
        referrerRewardCouponPackages: {{ referrerRewardCouponPackages|json_encode }},
        inviteeRewardCouponPackages: {{ inviteeRewardCouponPackages|json_encode }},

        shop: {{ {name: shop.name, rewardsMode: shop.rewardsMode, balance: balance.amount }|json_encode }},
    }"></widget-rewards>
{% endblock %}
