{% extends 'layouts/base.html.twig' %}

{% block content %}
<div class="error-404">
    <div class="error-404__bg-effect">
        <div class="error-404__bg-effect__block--90"></div>
        <div class="error-404__bg-effect__block--60"></div>
        <div class="error-404__bg-effect__block--blank"></div>
        <div class="error-404__bg-effect__block--blank"></div>
        <div class="error-404__bg-effect__block--10"></div>
        <div class="error-404__bg-effect__block--80"></div>
        <div class="error-404__bg-effect__block--blank"></div>
        <div class="error-404__bg-effect__block--70"></div>
        <div class="error-404__bg-effect__block--20"></div>
    </div>
    <h1>
        <i class="fa fa-angle-left"></i>
        404
        <i class="fa fa-angle-right"></i>
    </h1>
    <h2>Page not found</h2>

    <div class="error-404__buttons">
        <a href="/" class="btn btn-primary">Go to main page</a>
    </div>
</div>
{% endblock %}