<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Valuelink redirecting....</title>
    <meta name="author" content="Valuelink">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Redirecting to <b>{{ destinationUrl }}</b>...</p>

    {% if pixels.facebook %}
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ pixels.facebook }}');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id={{ pixels.facebook }}&ev=PageView&noscript=1"
            />
        </noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}

    {% if pixels.twitter %}
        <!-- Twitter universal website tag code -->
        <script>
            !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
            },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
                a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
            // Insert Twitter Pixel ID and Standard Event data below
            twq('init','{{ pixels.twitter }}');
            twq('track','PageView');
        </script>
        <!-- End Twitter universal website tag code -->
    {% endif %}

    {% if pixels.pinterest %}
        <!-- Pinterest Tag -->
        <script>
            !function(e){if(!window.pintrk){window.pintrk = function () {
                window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
                n=window.pintrk;n.queue=[],n.version="3.0";var
                t=document.createElement("script");t.async=!0,t.src=e;var
                r=document.getElementsByTagName("script")[0];
                r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
            pintrk('load', '{{ pixels.pinterest }}', {em: '{{ pixels.referrerEmail.text }}'});
            pintrk('page');

            pintrk('track', 'pagevisit');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt=""
                 src="https://ct.pinterest.com/v3/?event=init&tid={{ pixels.pinterest }}&pd[em]={{ pixels.referrerEmail.hash }}&noscript=1" />
        </noscript>
        <!-- end Pinterest Tag -->
    {% endif %}

    {% if pixels.linkedin %}
        <script type="text/javascript">
            _linkedin_partner_id = "{{ pixels.linkedin }}";
            window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
            window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script><script type="text/javascript">
            (function(){var s = document.getElementsByTagName("script")[0];
                var b = document.createElement("script");
                b.type = "text/javascript";b.async = true;
                b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
                s.parentNode.insertBefore(b, s);})();
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid={{ pixels.linkedin }}&fmt=gif" />
        </noscript>
    {% endif %}

    {% if pixels.google %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ pixels.google }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ pixels.google }}');
        </script>
    {% endif %}

    {% if pixels.quora %}
        <!-- DO NOT MODIFY -->
        <!-- Quora Pixel Code (JS Helper) -->
        <script>
            !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
            qp('init', '{{ pixels.quora }}');
            qp('track', 'ViewContent');
            qp('track', 'Generic');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/{{ pixels.quora }}/pixel?tag=ViewContent&noscript=1"/>
        </noscript>
        <!-- End of Quora Pixel Code -->
    {% endif %}

    <script>
        window.addEventListener('load', function() {
            window.location.href = '{{ destinationUrl }}';
        });
    </script>
</body>
</html>