<div class="sortable-link">
    {% set orderBy = app.request.get('orderBy') %}
    {% if field in orderBy %}
        {% if '-' in orderBy %}
            <i data-order-by="{{ field }}" class="fa fa-sort-desc"></i>
        {% else %}
            <i data-order-by="-{{ field }}" class="fa fa-sort-asc"></i>
        {% endif %}
    {% else %}
        <i data-order-by="{{ field }}" class="fa fa-sort"></i>
    {% endif %}
</div>