<template>
  <div id="app" :class="widgetFooterHelpClass">
      <Main
        :parentMeta="parentMeta"
        :data="data"
        :goToSummary="goToSummary"
        :lang="lang"
        :step="step"
        @update-step="updateStep"
        :isPreviewOrSingle=isPreviewOrSingle
        v-if="!loading && data && !summary && !isPaypalView && !isPreviewOrSingle"
      />
    <MainRefPage
      :parentMeta="parentMeta"
      :data="data"
      :goToSummary="goToSummary"
      :lang="lang"
      :step="step"
      @update-step="updateStep"
      :isPreviewOrSingle=isPreviewOrSingle
      v-if="!loading && data && !summary && !isPaypalView && isPreviewOrSingle"
    />
      <div class="text-center" v-if="loading">
        <Spinner />
      </div>
      <Summary
        :link="link"
        :metaUrl="metaUrl"
        :data="data"
        :lang="lang"
        :step="step"
        :isPreviewOrSingle="isPreviewOrSingle"
        :isPaypalView="isPaypalView"
        @update-step="updateStep"
        @update-links="updateLinks"
        v-if="summary" :chosenReward="chosenReward"
      />

<!--      <div class="ads-container">
        <a href="#" class="banner banner-left" v-if="isSingleView">
          <img src="//marfil-app.local/images/referral/banner-left.png" alt="banner" />
        </a>
        <a href="#" class="banner banner-right" v-if="isSingleView">
          <img src="//marfil-app.local/images/referral/banner-right.png" alt="banner" />
        </a>
      </div>-->



<!--    <div class="widget-footer"
         :class="widgetFooterHelpClass"
         :style="{
           paddingBottom: widgetFooterHelpClass === 'X' && !isIpad() ? '65px!important' : '10px',
           paddingTop: widgetFooterHelpClass === 'X' ? '20px' : '0',
           marginBottom: widgetFooterHelpClass === 'X' || windowScreen(811) ? '55px!important' : '0!important'
         }"
    >
      <div>
        ValueLink <a
        href="documents/Terms%20&%20Conditions.pdf"
        target="_blank"
      >
        <strong>
          {{ lang.terms_conditions }}
        </strong>
      </a>
        <br>
        <a
          href="/documents/Data%20Administrator.pdf"
          target="_blank"
        >
          <strong>
            {{ lang.data_administrator }}
          </strong>
        </a>
      </div>
      <div>
        {{ lang.powered_by }}
        <a href="http://www.valuelink.io/" target="_blank">
          <strong> ValueLink</strong>
        </a>
      </div>
    </div>-->
  </div>
</template>

<script>
import MainRefPage from './components/MainRefPage'
import Main from './components/Main'
import Summary from './components/Summary'
import FetchApi from './FetchApi'
import Spinner from './components/Spinner'
import {langConfig} from './translations'

export default {
  name: 'App',
  components: {
    MainRefPage,
    Main,
    Spinner,
    Summary
  },
  data () {
    return {
      step: null,
      data: null,
      loading: true,
      summary: false,
      link: null,
      metaUrl: null,
      currentEnv: process.env.NODE_ENV,
      chosenReward: null,
      lang: null,
      widgetFooterHelpClass: 'none',
      bodyWidth: document.body.offsetWidth,
      referreremail: null,
      isSingleView: false,
      parentMeta: {}
    }
  },
  beforeMount () {
    this.lang = langConfig
    let request = new FetchApi()
    request.getTranslation()
      .then(resp => {
        try {
          this.lang = resp.data
        } catch (e) {
          console.log(e)
        }
      })
      .catch((err) => {
        console.log(err)
      })

    window.addEventListener('message', (event) => {
      if (event && event.data) {
        this.parentMeta = {
          image: event.data.image,
          description: event.data.description
        }
      }
    })
  },
  async mounted () {
    this.step = localStorage.getItem('step')
    if (document.body.id === 'single') {
      this.isSingleView = true
    }

    if (this.isPaypalView) {
      this.goToSummary('cash', window.paypalEmail)
    }

    window.addEventListener('load', () => {
      if (document.hasStorageAccess) {
        document.hasStorageAccess().then(r => console.log('hasStorageAccess', r)).catch(r => console.log('hasStorageAccessError', r))
      }
    })

    await this.getData()
    if (this.isIphone()) {
      this.widgetFooterHelpClass = this.iPhoneVersion()
    }
    window.addEventListener('resize', () => {
      this.bodyWidth = document.body.offsetWidth
    })
    if (navigator.userAgent.indexOf('iPad') > -1) {
      document.querySelector('.scroll-area').style.height = 'calc(100vh - 9px)'
      document.querySelector('.widget-footer').style.marginBottom = '50px!important'
    }
    this.chosenReward = localStorage.getItem('chosenReward')
    this.referreremail = localStorage.getItem('referreremail')
    this.link = localStorage.getItem('link')
    this.metaUrl = localStorage.getItem('metaUrl')
    if (this.step === '3' && this.chosenReward && this.referreremail && this.link) {
      this.summary = true
    }
  },
  computed: {
    isPaypalView () {
      return window.paypalEmail
    },
    isPreviewOrSingle () {
      return document.body.classList.contains('preview') || document.body.getAttribute('id') === 'single'
    }
  },
  methods: {
    updateStep (step) {
      this.step = step || '1'
      localStorage.setItem('currentStep', this.step)
      if (this.step !== '3') this.summary = false
      this.loading = false
    },
    windowScreen (val) {
      return window.screen.width < val
    },
    updateLinks (link, metaUrl) {
      this.link = link
      this.metaUrl = metaUrl || link
      localStorage.setItem('link', this.link)
      localStorage.setItem('metaUrl', this.metaUrl)
    },
    goToSummary (chosenReward, registerEmail) {
      this.chosenReward = chosenReward
      let request = new FetchApi()
      request.generateLink(chosenReward, null, registerEmail, this.parentMeta).then(resp => {
        top.postMessage(`${resp.data.cookie.key}=${resp.data.cookie.value.toString()}`, '*')
        localStorage.setItem(resp.data.cookie.key, resp.data.cookie.value.toString())
        this.updateLinks(resp.data.link, resp.data.metaUrl)
        document.cookie = `${resp.data.cookie.key}=${resp.data.cookie.value.toString()}; path=/`
        this.summary = true
        this.updateStep('3')
      }).catch((err) => {
        console.log(err)
        this.$toasted.show((err && err.data) ? err.data : this.lang.invalid_credentials)
      })
    },
    async getData () {
      let request = new FetchApi()
      await request.getWidgetConfig().then((resp) => {
        this.data = resp.data
        console.log('TEST', this.data)
        this.loading = false
      })
    },
    iPhoneVersion () {
      var iHeight = window.screen.height
      var iWidth = window.screen.width
      if (iWidth === 414 && iHeight === 896) {
        document.querySelector('#app').parentElement.classList.add('X')
        return 'X'
      } else if (iWidth === 375 && iHeight === 812) {
        document.querySelector('#app').parentElement.classList.add('X')
        return 'X'
      } else if (iWidth === 375 && iHeight === 667) {
        document.querySelector('#app').parentElement.classList.add('X')
        return 'X'
      } else if (iWidth === 414 && iHeight === 736) {
        document.querySelector('#app').parentElement.classList.add('X')
        return 'X'
      }
      return 'X'
    },

    isIphone () {
      return !!navigator.userAgent.match(/iPhone/i) || !!navigator.userAgent.match(/iPad/i)
    },
    isIpad () {
      return !!navigator.userAgent.match(/iPad/i)
    }
  }
}
</script>

<style lang="scss" src="./style.scss"></style>
