@import url(./css/bootstrap.css);
@import url(./css/style.css);
@import url(./css/responsive.css);
@import url(./css/custom.css);
@import url(./css/override.css);
@import url(./css/font-awesome.css);


$box-padding: 7px 12px;
$width-element: 360px;
$width-md-element: 600px;
$width-md-input: 500px;

html, body{
  overflow: hidden;
  margin: 0;
  @media screen and (max-width: 590px) {
    height: 100%;
  }
}
.green__button{
  @media screen and (max-width: 590px) {
    margin-bottom: 120px!important;
  }
}
#app{
  overflow-y: auto;
  overflow: hidden;
  @media screen and (max-width: 590px) {
    height: 100%;
  }
}
.X {
  .toasted-container{
    bottom: 110px!important;
    z-index: 999999;
    & > * {
      z-index: 999999;
    }
  }
}
.widget-footer{
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.2;
  padding: 15px 15px 5px;
  color: grey;
  font-size: 10px;
  bottom: 0;
  left: 0;
  right: 0 ;
  margin-top: auto!important;
  padding-top: 20px !important;

  strong, a {
    color: gray;
  }

  > div {
    > strong, a {
      color: grey;
    }
  }

  @media screen and (max-width: 490px) {
    margin-bottom: 50px!important;
    &.X {
      margin-bottom: 75px!important;
    }
  }
}

.scroll-area{
  width: 400px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 0 auto;
  //@media screen and (max-width: 590px) {
  //  max-height: calc(100% - 0px);
  //}
  //@media screen and (max-width: 398px) {
  //  max-height: calc(100% - 50px);
  //}
  &.dev{
    border: 1px solid #dadada;
    margin: 0 auto;
  }
}

.widget{
  height: 93.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  background-color: #fff;
  @media (max-width: 767px) {
    min-width: 100%;
  }
  //@media screen and (max-width: 590px) {
  //  height: calc(100vh + 45px);
  //}

  .glyphicon-exclamation-sign {
    position: relative !important;
  }

  .or {
    font-weight: bold;
    color: grey;
  }

  p {
    text-align: center;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > button {
      cursor: pointer;

      > span {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.4;

        > span {
          text-transform: capitalize;
        }

        &:last-child {
          font-size: 16px;
        }
      }

      &:first-child {
        margin-bottom: 0;
      }

      &:last-child {
        margin-top: 25px;
        background: #6ad300;
        color: white;
        cursor: default;
      }
    }
  }

  .btn{
    &-same-width{
      width: $width-element;
      > span {
        display: block;
      }
    }

    &-offer-details{
      &:focus, &:active{
        outline: 0;
      }
    }

    &.active {
      background-color: #FFC107 !important;
      border-color: #FFC107 !important;
      color: #ffffff !important;
    }
  }
  &__desc {
    .form__extra-info {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
      color: grey;
      max-width: 300px;
    }
  }
  &__share-buttons{
    margin-top: 8px;
    margin-bottom: 15px;

    a{
      font-size: 36px;
      width: 36px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      &:not(:last-of-type){
        margin-right: 15px;
      }
    }

    .fa-facebook-square{ color: #1778F2; }

    .fa-twitter-square{ color: #1da1f2; }

    .fa-linkedin-square{ color: #0077b5; }

    .fa-whatsapp{ color: #25d366; }
  }

  &__title{
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
  }

  &__customer{
    &__text{
      background-color: #ffff8d6b;
      padding: $box-padding;
    }
  }

  &__friend{
    &__title{
      font-size: 16px;
      font-weight: bold;
      margin: 15px 0;
    }

    &__text{
      padding: $box-padding;
      color: #1976d2;
      border: 1px solid #1976d2;
      font-weight: 500;
      margin-bottom: 20px;
      width: $width-element;
      text-align: center;
    }
  }

  &__form {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;

    &--active {
      overflow: vi;
      padding-top: 0;
      padding-bottom: 20px;
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 65px);
      &.showMeta {
        top: 160px;
        height: calc(100% - 185px)
      }
      .widget__form--back {
        margin-left: 20px;
      }
    }

    &--active-refpage {
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 20px;
      position: absolute;
      top: 225px;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 65px);
      &.showMeta {
        top: 160px;
        height: calc(100% - 185px)
      }
      .widget__form--back {
        margin-left: 20px;
      }
    }

    &--back{
      margin: 0 auto 0 0;
      display: block;
      cursor: pointer;
      color: grey;
      font-weight: bold;
      font-size: 11px;
      background: none;
      border: 0;

      @media screen and (max-width: 500px) {
        display: block
      }
    }
  }

  &__thanks {
    h3 {
      text-align: center;
      font-size: 18px;
      color: grey;
      margin: 5px 0 5px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    > img {
      width: auto;
      max-width: 85px;
      height: 65px;
      border-radius: 5px;
      margin-top: 0;
      display: block;
    }

    > div {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      font-size: 2.1rem;
      text-align: center;

      > b {
        > span {
          &:first-child,
          & > span {
            text-transform: capitalize;
          }
        }
        &:first-child {
          color: #1976D2;
        }
        &:last-child {
          color: #5cb85c;
          white-space: nowrap;
        }
      }
    }
  }

  &__content-refpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    > img {
      width: auto;
      max-width: 110px;
      height: auto;
      border-radius: 5px;
      margin-top: 20px;
      display: block;
    }

    > div {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      font-size: 2.1rem;
      text-align: center;

      > b {
        > span {
          &:first-child,
          & > span {
            text-transform: capitalize;
          }
        }
        &:first-child {
          color: #1976D2;
        }
        &:last-child {
          color: #5cb85c;
          white-space: nowrap;
        }
      }
    }
  }

  &__welcome-header {
    width: calc(100% + 40px);
    height: 440px;
    overflow: hidden;
    position: relative;

    > img {
      user-select: none;
      pointer-events: none;
      margin: 0px -20px;
      max-width: unset;
      position: absolute;
    }
  }

  &__customer-text {
    & > h3 {
      text-align: center;
      margin-bottom: 5px;
      font-size: 16px;
      color: grey;
      margin-top: 15px;
      line-height: 1.1;
    }

    &--else {
      width: auto;
      text-align: center;
      background-color: #FFC107;
      color: white;
      cursor: pointer;
      margin-top: 30px;
      padding: 5px 25px;
      border-radius: 5px;


      > p {
        margin: 0;
        line-height: 1.2;

        &:first-child {
          font-size: 26px;
          font-weight: bold;
        }

        &:last-child {
          font-size: 14px;
        }
      }
    }
  }

  &__login-buttons {
    width: 100%;
    text-align: center;
    background-color: #FFC107;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 25px;
    border-radius: 5px;
    flex-direction: column;
    border: 0;

    &.paypal {
      padding: 20px;
    }

    > p {
      margin: 0;
      line-height: 1.2;

      &:first-child {
        font-size: 26px;
        font-weight: bold;
      }

      &:last-child {
        font-size: 14px;
      }
    }
  }

  &--summary {
    height: calc(100% - 57px);
    .widget__form--back {
      margin-left: 0;
      margin-top: -8px;
      color: grey;
      font-weight: bold;
      font-size: 11px;
      padding: 0;
      background-color: #fff;
      border: 0;
    }

    .widget__share {
      line-height: 1.2;
      color: grey;
      font-weight: bold;
      margin-top: 10px;
    }

    .widget__share-form {
      width: 100%;
      margin-top: 5px;
      position: relative;

      .clickAndCopy {
        text-align: center;
        width: 100%;
        display: block;
        font-size: 11px;
        margin-bottom: -3px
      }

      .input-overlay {
        position: absolute;
        bottom: 68px;
        left: 0;
        right: 77px;
        z-index: 999;
        height: 40px;
      }

      .product-link {
        > input {
          padding-right: 85px;
          box-sizing: border-box;
        }

        > button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      .friend-email {
        margin-top: 18px;

        > span {
          text-align: center;
          width: 100%;
          display: block;
          font-size: 11px;
          margin-bottom: -3px;
        }
      }
    }

    .form-switch-wrapper {
      margin-left: 0;
      margin-right: 10px;
      > label {
        color: grey;
        font-size: 11px;
      }
    }

    .recomended-product-text {
      width: auto;
      text-align: center;
      background-color: #FFC107;
      color: white;
      cursor: pointer;
      padding: 5px 25px;
      border-radius: 5px;

      > p {
        margin: 0;
        line-height: 1.2;
        font-size: 14px;

        &:first-child {
          font-size: 26px;
          font-weight: bold;
        }
      }
    }

    .cash-reward {
      color: grey;
      font-size: 11px;
      line-height: 1.2;
      margin-top: 20px;
      font-weight: 600;
    }

    .selected-product {
      width: 100%;

      .switch {
        margin-left: 0;
        margin-right: 10px;
      }

      .recomended-product {
        padding: 5px 15px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 15px;

        > span {
          margin-top: 0;
        }

        > div {

          &:not(:last-child) {
            line-height: 1.5;
            text-align: center;
            color: green;
            font-size: 11px;

            &:first-child {
              line-height: 1.3;
            }
          }

          &:last-child {
            .form-group {
              display: flex;

              > input {
                width: 100%;
                text-align: center;
              }
            }

            > div:last-child {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }

    .special-offer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000050;
      z-index: 9;

      .special-x {
        position: absolute;
        right: 15px;
        top: 15px;
        background: white;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }

      > table {
        z-index: 9;
        width: calc(100% - 40px);
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        thead {
          tr {
            th {
              &:not(:last-child) {
                border: 0;
              }

              &:last-child {
                width: 120px;
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.form{
  width: $width-element;
  margin-top: 35px;
  &__extra-info{
    line-height: normal;
    text-align: center;
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 15px;
    color: grey;

    &:last-child:not(:first-child) {
      margin-top: 15px;
    }
  }
  &-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.is-center{
      justify-content: center;
    }

    > button {
      background-color: #FFC107;
      border: 1px solid #FFC107 ;
    }
    .btn{
      &:focus, &:active{
        outline: 0;
      }
    }
  }
  &-group{
    margin-bottom: 10px;

    > input {
      width: 100%;
      border: 1px solid #1976d2;
      text-align: center
    }
  }
  &__cash {
  }

  &-register {
    margin-top: 25px;
  }
}

.help-block {
  & > .list-unstyled {
    li {
      font-size: 10px;
      line-height: 1.2;
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  &:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #1976d2;
    border-color: #1976d2 transparent #1976d2 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.howItWorks {
  width: calc(100% - 60px);
  background: #fff;
  position: relative;
  border-top: 1px solid #d6d9dc;
  margin: 10% auto;
  @media (max-width: 768px) {
    max-width: 260px;
  }

  h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
    color: #999;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .btn {
      width: auto;
      margin: 0 10px;
      @media (max-width: 768px) {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
}

#single {
  #app {
    height: 100vh;
  }
  .widget{
    height: calc(100% - 126px);
  }
  &.preview {
    .scroll-area {
      height: calc(100vh - 31px);
    }
  }
  .scroll-area {
    width: 100%;
    @media (min-width: 768px) {
      width: 100%;
      max-width: 1000px;
    }
  }
  .btn-same-width {
    @media (min-width: 830px) {
      max-width: $width-md-element;
      width: calc(100vw - 340px);
      > span {
        display: inline-block;
        font-size: 18px !important;
        &:last-child {
          font-size: 20px !important;
        }
      }
    }
  }

  .ads-container {
    .banner {
      position: absolute;
      top: 220px;
      transform: translateY(-50%);
      &-left {
        left: 20px;
      }
      &-right {
        right: 20px;
      }

      img {
        margin: 0;
        width: 140px;
        object-fit: contain;
        transition-duration: .5s;
      }
    }

    @media (max-width: 640px) {
      .banner {
        margin:0;
        padding: 0;
        &-left {
          position: absolute;
          top: 5px;
          left: calc(50% - 225px);
          transform: none;
          img {
            width: 80px;
            height: 65px;
          }
        }
        &-right {
          display: none;
        }
      }
    }

    @media (max-width: 460px) {
      .banner {
        &-left {
          left: calc(50% - 145px);
        }
      }
    }
  }

  @media (min-width: 768px) {
    .form {
      width: $width-md-input;
      .form__extra-info {
        font-size: 14px !important;
        margin: 10px auto;
      }

      .form-group {
        .form-control {
          height: 50px;
          font-size: 16px;
        }
      }

      .form-actions {
        .btn {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .widget {
      min-height: 680px;
    }
  }
}

.showMeta, .widget--meta {
  width: 100%;
  img {
    width: 100%;
    max-width: 140px;
    height: 90px;
    border-radius: 5px;
    display: block;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
  }
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
    margin: 5px 0;
  }
}
.widget--meta {
  cursor: pointer;
}
