        <footer class="footer">
            <div class="container">
                <div class="row footer__row">
                    {% if showShortenedFooter is defined and showShortenedFooter %}
                        <div class="col-md-4">
                            <ul class="list-inline cen-xs" style="margin-bottom: 0;padding-top: 5px;">
                                <li><a href="/documents/Privacy Policy.pdf" target="_blank">Privacy Policy</a></li>
                                <li><a href="/documents/Terms & Conditions.pdf" target="_blank">Terms of Service</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <p style="line-height: 1.4;">Powered by <br>&copy; ValueLink 2021</p>
                        </div>
                        <div class="col-md-4">
                        </div>
                    {% else %}
                        <div class="col-md-5 col-lg-5">
                            <div class="media cen-xs footer-mobile-margin" style="padding: 10px 0;">
                                <p>
                                    ValueLink © 2021 All rights reserved<br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <ul class="list-inline text-right cen-xs" style="margin-bottom: 0px;display: flex;text-align: left;">
                                <div style="margin-right: 10px" class="mobile_flex">
                                    <li><a href="{{ path('subdomain_shop_show', {subdomain: app_internal_shop}) }}" class="su-landing-footer__link">Affiliate program</a></li>
                                    <li><a href="{{ path('subdomain_widget_show', {subdomain: app_internal_shop}) }}" class="su-landing-footer__link">Referral program</a></li>

                                </div>

                                <Div style="margin-right: 10px">
                                    <li><a href="{{ path('shop_index') }}" class="su-landing-footer__link">Market Place</a></li>
                                    <li><a href="/#pricing" class="su-landing-footer__link">Pricing</a></li>

                                </Div>

                                <div style="margin-right: 10px">
                                    <li><a href="#" rel="nofollow" class="su-landing-footer__link">Features</a></li>
                                    <li><a href="#" rel="nofollow" class="su-landing-footer__link">Contact</a></li>

                                </div>

                                <div style="margin-right: 10px">
                                    <li><a href="#" rel="nofollow" class="su-landing-footer__link">FAQ</a></li>
                                    <li><a href="{{ asset('documents/Terms & Conditions.pdf') }}" class="su-landing-footer__link" hreflang="en" target="_blank">Terms & Conditions</a></li>
                                </div>
                            </ul>
                        </div>
                    {% endif %}

                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
