<header class="header {% if app.user == null %}new-heading header--not-logged{% endif %} {% if app.user is defined and app.user is not null and app.user.isAdmin() %}header--admin{% endif %}">
    {% include 'layouts/partials/global/new-heading.html.twig' %}
        <div class="container-menu {% if app.user is defined and app.user is not null and app.user.isAdmin() %}new-heading{% endif %} {% if app.user == null or app.user.isAdmin %}smaller-header{% endif %} {% if not app.user == null and not app.user.isAdmin() %}hidden-bar{% endif %}">
            {% if app.user == null or (not app.user == null and app.user.isAdmin()) %}
            <nav class="navbar navbar-default yamm">
                <div class="container">
                    <div class="navbar-table">
                        <div class="navbar-cell">
                            <div class="navbar-header">
                                {% if not app.user or app.user.isAdmin() %}
                                    <a class="navbar-brand" href="{{ path('home_index') }}"><i class="fa fa-hashtag"></i>ValueLink</a>
                                {% endif %}
                                <div class="open-menu">
                                    {% if hideRightNavbar is not defined or hideRightNavbar == false %}
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-2">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="fa fa-bars"></span>
                                        </button>
                                    {% endif %}
                                </div>
                            </div><!-- end navbar-header -->
                        </div><!-- end navbar-cell -->
                        <div class="navbar-cell stretch">
                            <div class="collapse navbar-collapse {% if shops is not defined or (shops is defined and not shops|length > 0) %}marketplace-navbar{% endif %}" id="bs-example-navbar-collapse-2">
                                <div class="navbar-cell">
                                    {% if app.user and not app.user.isAdmin %}
                                        <div class="col-md-6 pull-left new-heading__plan-expiry-date-container mobile">
                                            {% if app.user.currentPlan %}
                                                <div class="new-heading__plan-expiry-date">
                                                    <strong>Plan expiry date: </strong>
                                                    <span>25.10.2019</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="new-heading--account-details mobile">
                                            {% if app.user %}
                                                <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span> {{ app.user.email }} </span>
                    </span>
                                            {% endif %}
                                            <span>
                    <i class="fas fa-id-badge"></i>
                    <strong>Account:</strong> SaaS
                </span>
                                            <span>
                    <i class="fas fa-file-contract"></i>
                    <strong>Plan:</strong> SaaS monthly
                </span>
                                            <span>
                    <i class="fas fa-wallet"></i>
                    <strong>Balance:</strong> 200$
                </span>
                                        </div>
                                    {% endif %}
                                    <ul class="nav navbar-nav navbar-center"></ul>
                                    {% if hideRightNavbar is not defined or hideRightNavbar == false %}
                                    <ul class="nav navbar-nav navbar-right">
                                        {% if shops is defined or (shops is defined and shops|length > 0) %}<li><a href="{{ path('subdomain_shop_show', {subdomain: app_internal_shop}) }}">Affliate Program</a></li>{% endif %}
                                        {% if shops is defined or (shops is defined and shops|length > 0) %}<li><a href="{{ path('home_index') }}" title="">Referral Widget</a></li> {% endif %}
                                        <li><a href="{{ path('shop_index') }}" title="">Market Place</a></li>
                                        <li><a href="{{ path('home_pricing') }}" title="">Pricing</a></li>
                                        <li>
                                            <a href="{{ path('home_index') }}" title="">Features</a>
                                            <ul>
                                                <li class="light-green"><a href="{{ path('home_index') }}" title="">Referral Widget</a></li>
                                                <li class="light-green"><a href="{{ path('home_index') }}" title="">Customised Landing Page</a></li>
                                                <li class="light-blue"><a href="{{ path('home_index') }}" title="">Personalized Affiliate Links</a></li>
                                                <li class="light-blue"><a href="{{ path('home_index') }}" title="">Personalized Affiliate Store</a></li>
                                                <li class="light-blue"><a href="{{ path('home_index') }}" title="">Affiliate Cards Creator</a></li>
                                            </ul>
                                        </li>
                                        {% if app.user == null %}
                                            <li><a href="{{ path('login') }}" title="">Login</a></li>
                                            <li><a href="{{ path('register_referrer') }}" title="">Signup</a></li>
                                        {% elseif app.user is defined %}
                                            <li><a href="{{ path('logout') }}">Logout</a></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div><!-- end navbar-cell -->
                            </div><!-- /.navbar-collapse -->
                        </div><!-- end navbar cell -->
                    </div><!-- end navbar-table -->
                </div><!-- end container fluid -->
            </nav><!-- end navbar -->
            {% endif %}
        </div><!-- end container -->
</header>
