
<div class="modal-offer">
    <div class="modal-offer__overlay"></div>
    <div class="modal-offer__box">
        <button class="btn modal-offer__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h3>Main Offer</h3>
        <p>Recommend our products and get {% verbatim %}{% or value}{% endverbatim %} from every sale.<br>Generate a lead to the {Company Name}
            page get €{% verbatim %}{% or value}{% endverbatim %} from every Sign Up.</p>
        <h3>Special Offer</h3>
        <table class="table table-striped table-offer" style="width: 100%">
            <thead>
            <tr>
                <th rowspan="2" scope="colgroup">Offer Name</th>
                <th rowspan="2" scope="colgroup">Offer Description</th>
                <th colspan="2" scope="colgroup" style="width: 120px; border-bottom: 0;">Offer
                    CPS</th>
            </tr>
            <tr>
                <th colspan="1" scope="col" style="border-top: 0;border-right: 0;padding-top: 0;padding-bottom: 0;">€</th>
                <th colspan="1" scope="col" style="border-top: 0;border-left: 0;padding-top: 0;padding-bottom: 0;">%</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Offer 1</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Offer 2</td>
                <td>Lorem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Offer 3</td>
                <td>Lorem ipsum dolor sit amet orem ipsum dolor sit amet orem ipsum dolor sit amet</td>
                <td>10</td>
                <td>20</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>