{% if app.user %}
    <div class="new-heading {% if app.user is defined and app.user is not null and app.user.isReferrer() %}header--referrer{% endif %} {% if app.user.currentPlan and app.user.currentPlan.isEnded %}large-header{% endif %}">
        <div class="container" style="position:relative;">
            {% if app.user and not app.user.isAdmin %}

                {% if shops is not defined or (shops is defined and not shops|length > 0) %}
                    <div class="navbar-header {% if app.user.currentPlan %}logo-up{% endif %}">
                        <a class="navbar-brand" href="{{ path('home_index') }}"><i class="fa fa-hashtag"></i>ValueLink</a>
                    </div>

                {% else %}

                    <div class="navbar-header {% if app.user.currentPlan %}logo-up{% endif %} visible-phone">
                        <a style="padding-left:15px;" class="navbar-brand" href="{{ path('home_index') }}"><i class="fa fa-hashtag"></i>ValueLink</a>
                    </div>

                    <nav class="navbar navbar-default yamm marketplace-header-request" style="display: inline-block;
    max-width: 70%;
    vertical-align: middle;
    position: absolute;
    left: 0;">
                        <div class="container">
                            <div class="navbar-table">
                                <div class="navbar-cell stretch" style="margin-top: 10px;">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                        <div class="navbar-cell"
                                             style="display: flex; align-items: center;">
                                            <a href="/" class="navbar-brand" style="padding-top:6px;"><i class="fa fa-hashtag"></i>ValueLink</a>
                                            {% if app.user == null or (app.user and app.user.isReferrer()) %}
                                                <ul class="nav navbar-nav navbar-right text-center">
                                                    <li style="float: none; float: none;margin: 0 auto;">
                                                        <a class="active"  style="padding-top:6px !important" title="">
                                                            <span style="display:inline-block; margin-right:15px;">If you can't find <br/> your brand, let us know:</span><br/><span id="requestNewBrand" class="btn btn-primary" style="padding: 5px 15px;">Request New</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                            {% if app.user == null %}
                                                <span>
                                            <a href="{{ path('login') }}" id="login">Sign in</a>
                                        </span>
                                            {% endif %}
                                        </div><!-- end navbar-cell -->
                                    </div><!-- /.navbar-collapse -->
                                </div><!-- end navbar cell -->
                            </div><!-- end navbar-table -->
                        </div><!-- end container fluid -->
                    </nav><!-- end navbar -->

                {% endif %}

                <div class="new-heading--account-details">
                    <span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span> {{ app.user.email }} </span>
                    </span>
                    {% if app.user.shop %}
                        <span>
                            <i class="fas fa-id-badge"></i>
                            <strong>Account:</strong> {% if app.user.shop.type == 'saas' %}SaaS{% elseif app.user.shop.type == 'ecommerce' %}E-Commerce{% else %}{{ app.user.shop.type ?? 'None' }}{% endif %}
                        </span>
                        <span>
                            <i class="fas fa-file-contract"></i>
                            <strong>Plan:</strong> {% if app.user.currentPlan %}{{ app.user.currentPlan.plan.name }}{% else %}Free{% endif %}
                        </span>
                    {% endif %}
                    {% if app.user.pendingPayoutAmount > 0 %}
                        <span style="display: inline-block">
                            <i class="fas fa-wallet"></i> Pending Payout: €{{ app.user.pendingPayoutAmount | number_format(2,'.',',') | replace({'.00' : ''}) }}
                        </span>
                    {% endif %}
                    <span>
                        <i class="fas fa-wallet"></i>
                        <strong>Balance:</strong> €{{ app.user.currencyBalance('EUR')|split(' EUR')[0]| replace({'.00' : ''}) ?: '0' }}
                    </span>
                </div>
            {% endif %}
            <div class="row new-heading__settings-links-section {% if app.user and app.user.isAdmin() %}smallbar{% endif %}">
                {% if app.user and app.user.isAdmin %}
                    <div class="col-md-4 col-sm-5 col-xs-6 pull-left" style="margin-left:-44px;">
                        <p class="text-left">
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span> {{ app.user.email }} </span>
                            </span>
                        </p>
                    </div>
                {% endif %}
                <div class="col-md-6 col-sm-7 {% if app.user.isReferrer() %}col-xs-12{% else %}col-xs-6{% endif %} pull-right"
                     style="padding-right:0;">
                    <p class="text-right user-actions">
                        {% if app.user %}
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a style="color: darkred;"
                                   href="{{ path('admin_user_index', {'_switch_user': '_exit'}) }}">(Exit
                                    impersonation)</a>
                            {% endif %}
                            {% if app.user.shop %}
                                <a href="{{ path('account_shop_home') }}">Dashboard</a>
                                <a href="{{ path('account_shop_edit') }}">Account</a>
                                <a href="{{ path('logout') }}">Logout</a>
                            {% elseif app.user.isReferrer() %}
                                <a href="{{ path('account_referrer_home_index') }}">Dashboard</a>
                                <a href="{{ path('account_referrer_settings') }}">Account</a>
                                <a href="{{ path('shop_index') }}" title="">MarketPlace</a>
                                <a href="{{ path('logout') }}">Logout</a>
                            {% elseif app.user.isAdmin() %}
                                <a href="{{ path('admin_submission_index') }}">Dashboard</a>
                                <a href="{{ path('logout') }}">Logout</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('login') }}" id="login">Sign in</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
