<script src="https://underscorejs.org/underscore-min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"></script>
{{ encore_entry_script_tags('js/app') }}
<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<script>
    webshim.activeLang('en');
    webshims.polyfill('forms');
    webshims.cfg.no$Switch = true;
</script>

<script>
    if ($(".form-cps-cpl").length > 0) {
        $(".radio").each(function () {
            $(this).click(function () {
                $(this).find("input[type='radio']").prop("checked", true)
                $(this).siblings().find("input[type='text']").val("");
            });
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('.sortable-link i').click(function (e) {
            e.preventDefault();
            let url = new URL(window.location.href);
            url.searchParams.delete('orderBy');
            url.searchParams.set('orderBy', $(this).data('order-by'));
            window.location.href = url.href;
        })
    });
</script>
