<div class="form-group">
    <div class="DPA--wrapper">
        <div class="DPA-info DPA">
            <div><b>Data Protection Act</b></div>
            <div>The controller of your personal data is ValueLink, with a
                registered office at {City}.<br>Please see more comprehensive
                information <span id="openDPA">here</span></div>
        </div>
        <div class="DPA-content DPA">
            <div><b>Data Protection Act</b></div>
            <div>Lorem Ipsum is simply dummy text of the printing and
                typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text
                ever since the 1500s, when an unknown printer took a galley of
                type
                and scrambled it to make a type specimen book. It has survived
                not
                only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the
                1960s
                with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software
                like
                Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
    <div class="checkbox" style="margin-top: 20px;">
        <label class="register">
            <input name="register_referrer[termsAndCondition]" type="checkbox" id="acceptDPA">
            I hereby agree to <span><a href="#" style="color:#1976D2; white-space: pre;">Terms &amp; Conditions</a></span> <br>
            and Data Protection Act of ValueLink
        </label>
    </div>
</div>