<div class="form-group {{ form.email.vars.errors | length ? 'has-error' : '' }}">
    <label>Email</label>
    {{ form_widget(form.email) }}
    <span class="fa fa-envelope"></span>
    {{ form_errors(form.email) }}
</div>