<div class="form-group {{ form.name.vars.errors | length ? 'has-error' : '' }}">
    <label>First Name</label>
    {{ form_widget(form.name) }}
    <span class="fa fa-user"></span>
    {{ form_errors(form.name) }}
</div>
<div class="form-group {{ form.surname.vars.errors | length ? 'has-error' : '' }}">
    <label>Last Name</label>
    {{ form_widget(form.surname) }}
    <span class="fa fa-unlock-alt"></span>
    {{ form_errors(form.surname) }}
</div>