<div class="form-group {{ form.plainPassword.first.vars.errors | length ? 'has-error' : '' }}">
    <label>Password</label>
    {{ form_widget(form.plainPassword.first) }}
    <span class="fa fa-lock"></span>
    {{ form_errors(form.plainPassword.first) }}
</div>
<div class="form-group {{ form.plainPassword.second.vars.errors | length ? 'has-error' : '' }}">
    <label>Confirm Password</label>
    {{ form_widget(form.plainPassword.second) }}
    <span class="fa fa-lock"></span>
    {{ form_errors(form.plainPassword.second) }}
</div>