{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Coupons{% endblock %}

{% block tab_content %}
    <div class="text-right" style="margin-bottom: 20px">
        <a href="{{ path('account_referrer_coupons_index', {type: 'referrer'}) }}" class="btn {{ type == 'referrer' ? 'btn-primary' : 'btn-default' }}">{{ app.user.name }} coupons</a>
        <a href="{{ path('account_referrer_coupons_index', {type: 'invitee'}) }}" class="btn {{ type == 'invitee' ? 'btn-primary' : 'btn-default' }}">Invitee coupons</a>
    </div>
    <div class="table-responsive table-admin-users">
        {%  if userCoupons | length %}
            <table class="table table-hover table-condensed" style="width: 100%">
                <thead>
                <tr>
                    <th>Shop</th>
                    <th>Coupon Code</th>
                    <th>Coupon Type</th>
                    <th>Purchase Value</th>
                    <th>Date&Time</th>
                    <th>Coupon Status</th>
                </tr>
                </thead>
                <tbody>
                {% for userCoupon in userCoupons %}
                    <tr>
                        <td>{{ userCoupon.coupon.package.shop }}</td>
                        <td>{{ userCoupon.coupon.code }}</td>
                        <td>{% if userCoupon.coupon.package.discountType.name == 'fixed' %}€{% endif %}{{ userCoupon.coupon.package.discount }}{% if userCoupon.coupon.package.discountType.name == 'percent' %}%{% endif %}</td>
                        <td>
                            {% if (userCoupon.coupon.conversionValue) %}
                                {{ userCoupon.coupon.conversionValue }} EUR
                            {% else %}
                                <i class="fa fa-times-circle"></i>
                            {% endif %}
                        </td>
                        <td>{{ userCoupon.receivedAt | date("Y-m-d H:i:s") }}</td>
                        <td>Not used <i class="fa fa-times-circle"></i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_pagination_render(userCoupons) }}
                </div>
            </div>
        {% else %}
            <div class="rTableRow no-data-row">
                <div class="alert alert-info" style="width: 100%">There are no coupons.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}