<template>
  <div class="widget" v-if="loaded">
    <back-button v-show="showMeta && !isPreviewOrSingle"
                 :text="lang.back_text"
                 :click="() => { toggleForm() }"
    />
    <div class="widget__content" :class="{showMeta: showMeta}">
      <img :src="(this.showMeta && parentMeta.image) || data.logo_url" alt="logo" :title="parentMeta.description">
      <p v-show="this.showMeta && parentMeta.description" :title="parentMeta.description">
        {{ parentMeta.description }}
      </p>
      <div v-show="FORM_VERIFY !== currentForm">
        <b>
          <rewards-info
            v-if="data.cash_reward_enabled === true"
            :top="lang.get"
            :data="data.referrer_cash_reward"
            :bottom="lang.widget_header_commission"
          />

          <span v-show="data.cash_reward_enabled === true && data.coupon_reward_enabled === true">{{lang.or}}</span>
          <br v-show="data.cash_reward_enabled === true && data.coupon_reward_enabled === true">

          <rewards-info
            v-if="data.coupon_reward_enabled === true"
            :top="lang.get"
            :data="data.referrer_coupon_reward"
            :bottom="lang.widget_header_coupon_code"
          />
        </b>

        <rewards-info
          :top="lang.widget_header_give"
          :data="data.invitee_reward"
          :bottom="lang.widget_header_coupon_code"
        />
      </div>
    </div>

    <div class="widget__welcome-header">
      <img
        :style="{
          width: data.welcome_image.width + 'px',
          height: data.welcome_image.height + 'px',
          left: data.welcome_image.pos_x + 'px',
          top: data.welcome_image.pos_y + 'px',
          transform: 'matrix(1, 0, 0, 1, '+ (parseInt(data.welcome_image.pos_x) + 20 + data.welcome_image.pos_y) + ')',
        }"

        :src="data.welcome_image.url">
    </div>

    <div v-if="bodyWidth < 401" class="widget__customer-text">
      <h3>{{data.customer_text}}</h3>
    </div>

    <form-actions
      v-show="!isLoading"
      id="loginFormsButton"
      additionalClass="widget__login-buttons"
      :boxClick="() => { toggleForm() }"
      :buttons="[
          {
            name: lang.send_gift
          },
          {
            name: lang.get_rewards
          }
        ]"
    />

    <div :class="['widget__form', {
      'widget__form--active': FORM_SHOW,
      showMeta: showMeta
    }]">
      <back-button v-show="!showMeta && !isPreviewOrSingle"
        :text="lang.back_text"
        :click="() => { toggleForm() }"
      />
      <div class="form" v-if="storageAccessError">
        <h4 class="text-center alert-danger pt-5 pb-5"><strong>{{ lang.security_alert }}</strong></h4>
        <p>{{ lang.storage_access_error }}</p>
      </div>
      <div v-show="FORM_VERIFY !== currentForm" class="widget__buttons" v-if="!storageAccessError">
        <rewards-button
          v-show="data.cash_reward_enabled === true"
          :isActive="FORM_CASH === currentForm"
          :data="data.referrer_cash_reward"
          :classes="'btn btn-outline-primary btn-same-width mb-12'"
          :click="() => { setActiveForm(FORM_CASH); }"
          :top="lang.get"
          :bottom="lang.widget_header_commission"
        />

        <span v-show="data.coupon_reward_enabled === true && data.cash_reward_enabled === true" class="or">{{lang.or}}</span>

        <rewards-button
          v-show="data.coupon_reward_enabled === true"
          :isActive="FORM_COUPON === currentForm"
          :data="data.referrer_coupon_reward"
          :classes="'btn btn-outline-primary btn-same-width'"
          :click="() => { setActiveForm(FORM_COUPON); }"
          :top="lang.get"
          :additional="lang.widget_header_discount"
          :bottom="lang.widget_header_get_percent_coupon"
        />

        <rewards-button
          :data="data.invitee_reward"
          :classes="'btn btn-outline-third btn-same-width'"
          :top="lang.offer_your_friends"
          :additional="lang.widget_header_discount"
          :bottom="lang.widget_header_coupon"
        />
      </div>

      <form-cash :data="(FORM_CASH === currentForm && data.referrer_cash_reward) ? data.referrer_cash_reward : data.invitee_reward" :chosenReward="chosenReward" :lang="lang" :goToSummary="goToSummary" :goToVerify="goToVerify" v-if="currentForm === FORM_CASH && !storageAccessError" />

      <form-coupon :chosenReward="chosenReward" :lang="lang" :goToSummary="goToSummary" v-if="currentForm === FORM_COUPON && !storageAccessError" />

      <register-verify :chosenReward="chosenReward" :goToSummary="goToSummary" :lang="lang" v-if="currentForm === FORM_VERIFY" :registerEmail="register_email"/>
    </div>
  </div>
</template>

<script>
import FormCoupon from './Form/Coupon'
import FormCash from './Form/Cash'
import RegisterVerify from './Form/RegisterVerify'
import RewardsInfo from './Info/Rewards'
import RewardsButton from './Buttons/Rewards'
import BackButton from './Buttons/Back'
import FormActions from './Form/partials/Actions'

const FORM_CASH = 'FORM_CASH'
const FORM_COUPON = 'FORM_COUPON'
const FORM_VERIFY = 'FORM_VERIFY'

export default {
  name: 'Main',
  props: ['data', 'goToSummary', 'lang', 'parentMeta', 'step', 'isPreviewOrSingle'],
  components: {
    FormCash,
    FormCoupon,
    RegisterVerify,
    RewardsInfo,
    RewardsButton,
    BackButton,
    FormActions
  },
  computed: {
    showMeta () {
      return this.step === '2' && this.parentMeta && (this.parentMeta.image || this.parentMeta.description)
    }
  },
  data () {
    return {
      FORM_CASH: FORM_CASH,
      FORM_COUPON: FORM_COUPON,
      FORM_VERIFY: FORM_VERIFY,
      currentForm: this.data.cash_reward_enabled ? FORM_CASH : FORM_COUPON,
      register_email: null,
      loaded: true,
      FORM_SHOW: false,
      chosenReward: this.data.cash_reward_enabled ? 'cash' : 'coupon',
      bodyWidth: document.body.offsetWidth,
      isSingleView: false,
      isLoading: false,
      storageAccessError: null
    }
  },
  methods: {
    setActiveForm (active) {
      this.currentForm = active
      if (active === FORM_CASH) {
        this.chosenReward = 'cash'
      } else {
        this.chosenReward = 'coupon'
      }
    },
    goToVerify (email) {
      this.register_email = email
      this.setActiveForm(FORM_VERIFY)
    },
    toggleForm () {
      if (document.requestStorageAccess) {
        document.requestStorageAccess().then(r => console.log('requestStorageAccess', r)).catch(r => console.log('requestStorageAccessError', r))
      }
      if (document.hasStorageAccess) {
        document.hasStorageAccess().then(r => {
          console.log('hasStorageAccess', r)
        }).catch(r => console.log('hasStorageAccessError', r))
      }
      this.FORM_SHOW = !this.FORM_SHOW
      this.$emit('update-step', this.FORM_SHOW ? '2' : '1')
    }
  },
  mounted () {
    try {
      localStorage.getItem('accessTest')
    } catch (e) {
      this.storageAccessError = e
    }

    if (document.body.id === 'single') {
      this.isSingleView = true
    }

    if (this.step === '2' || this.isSingleView) {
      this.FORM_SHOW = true
    } else {
      this.FORM_SHOW = false
    }
    window.addEventListener('resize', () => {
      this.bodyWidth = document.body.offsetWidth
    })
  }
}
</script>
