<template>
  <div class="widget widget--summary">
    <back-button
      v-show="!isPaypalView && !isPreviewOrSingle"
      :text="lang.back_text"
      :click="() => { back() }"
    />
    <div class="widget--meta" v-if="currentMeta"
      v-bind:class="{
        'mt-20': isPaypalView
      }"
    >
      <img v-if="currentMeta.image" :src="currentMeta.image" alt="og image" v-bind:title="currentMeta.description">
      <p v-show="currentMeta.description" v-bind:title="currentMeta.description">
        {{ currentMeta.description }}
      </p>
    </div>
    <div class="widget--meta" v-else
     v-bind:class="{
      'mt-20': isPaypalView
     }"
    >
      <img :src="data.logo_url" alt="logo">
    </div>
    <span class="widget__share">
      {{lang.share_your_unique_reflink}}
    </span>
    <share-buttons
      :buttons="[
        {
          url: 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURI(link),
          iconClass: 'fa-facebook-square'
        },
        {
          url: 'https://twitter.com/share?url=' + encodeURI(link),
          iconClass: 'fa-twitter-square'
        },
        {
          url: 'https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURI(link),
          iconClass: 'fa-linkedin-square'
        },
        {
          url: whatsappLink,
          iconClass: 'fa-whatsapp'
        }
      ]"
    />
    <div class="widget__share-form">
      <span class="clickAndCopy">{{lang.click_and_copy}}</span>
      <div class="input-overlay"></div>

      <div class="form-group product-link">
      <input
        ref="inputLink"
        type="text"
        class="form-control"
        :value="productLink ? productLink : link"
        readonly="readonly"
      />
      <button v-on:click="copyLink()" class="btn btn-outline-primary">{{lang.copy}}</button>
    </div>

      <widget-input
        class="friend-email"
        inputType="email"
        v-model="email"
        :placeHolder="lang.enter_your_friends_email"
      />
    </div>

    <div class="selected-product" v-show="isHome || !hasMeta">
      <widget-switch
        id="recommend_product"
        name="recommend_product"
        :change="recommendProductChange"
        :label="lang.recommend_selected_product"
      />

      <div class="recomended-product" v-if="recommend_product">
        <extra-info
          v-show="!linkForSelectedProduct"
          :content="lang.selected_product_is_not_provided + '<br>' + lang.your_invitee_will_be_redirected + '<br>' + data.company_name"
        />

        <div v-show="linkForSelectedProduct">
          {{lang.your_invitee_will_be_now_redirected_to_the_link}}
        </div>

        <div>
         <div class="form-group flex noborder">
            <input class="form-control" type="text" v-model="linkForSelectedProduct" @change="checkLink" :placeholder="lang.widget_enter_product_link"/>
          </div>

          <div>
            <button class="btn btn-outline-primary"
                v-bind:class="{
                  'center-block': !hasSpecialOffer
                }"
                @click="generateLink">{{lang.save}}</button>
            <button class="btn btn-outline-primary" @click="showSpecialOffer" v-if="hasSpecialOffer">{{lang.special_offer}}</button>
          </div>
        </div>
      </div>
    </div>
    <form-actions
      additionalClass="widget__login-buttons"
      :boxClick="sendEmail"
      :buttons="[
        {
          name: lang.send_gift
        },
        {
          name: lang.get_rewards
        }
      ]"
    />
    <div class="cash-reward" v-if="chosenReward === 'cash'">
      <p>{{lang.note}}:<br>
        {{lang.you_will_be_rewarded_maximum_3_times_for_any}}<br>
        {{lang.purchase_action_based_on_your_referral_link}}.<br>
        {{lang.you_have_currently_3_of_of_3_conversions_left}}.</p>
    </div>
    <div class="special-offer" v-if="specialOffer">
      <div @click="hideSpecialOffer" class="special-x">X</div>
      <table class="table table-striped table-offer">
        <thead>
        <tr>
          <th scope="colgroup">Offer Name</th>
          <th scope="colgroup">Offer Description</th>
          <th colspan="2" scope="colgroup">Offer CPS</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(offer, index) in specialOfferArray" :key="index">
          <td>{{offer.name}}</td>
          <td>{{offer.description}}</td>
          <td>{{offer.offer}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import FetchApi from '../FetchApi'
import BackButton from './Buttons/Back'
import ShareButtons from './Buttons/Share'
import WidgetInput from './Form/partials/Input'
import WidgetSwitch from './Buttons/Switch'
import ExtraInfo from './Info/Extra'
import FormActions from './Form/partials/Actions'

export default {
  name: 'Summary',
  components: {
    BackButton,
    ShareButtons,
    WidgetInput,
    WidgetSwitch,
    ExtraInfo,
    FormActions
  },
  props: ['metaUrl', 'link', 'chosenReward', 'data', 'lang', 'step', 'isPaypalView', 'isPreviewOrSingle'],
  data () {
    return {
      email: null,
      whatsappLink: null,
      linkForSelectedProduct: '',
      recommend_product: false,
      productLink: null,
      protocolSelectedProduct: 'https',
      specialOffer: false,
      specialOfferArray: [],
      currentMeta: {},
      hasSpecialOffer: false
    }
  },
  watch: {
    metaUrl () {
      this.loadMeta(this.metaUrl)
    }
  },
  mounted () {
    this.loadMeta(this.metaUrl)
    this.checkHasSpecialOffer()

    const isMobile = () => {
      let check = false;
      // eslint-disable-next-line no-useless-escape
      (function (a) { if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true })(navigator.userAgent || navigator.vendor || window.opera)
      return check
    }

    if (isMobile()) {
      this.whatsappLink = 'whatsapp://send?text=' + this.link
    } else {
      this.whatsappLink = 'https://web.whatsapp.com/send?text' + this.link
    }
  },
  computed: {
    isHome () {
      if (window.location) {
        const windowHref = (window.location.href.substr(-1) === '/') ? window.location.href.substr(0, window.location.href.length - 2) : window.location.href
        return window.location.origin === windowHref
      }
      return false
    },
    hasMeta () {
      return this.currentMeta && (this.currentMeta.image || this.currentMeta.description)
    }
  },
  methods: {
    loadMeta (link) {
      let request = new FetchApi()
      request.getMeta(link).then(resp => {
        this.currentMeta = resp && resp.data
      }).catch((err) => {
        console.log(err)
        this.$toasted.show(this.lang.invalid_url)
      })
    },
    checkLink () {
      // this.linkForSelectedProduct.replace('http://', '')
      // this.linkForSelectedProduct.replace('https://', '')
    },
    copyLink () {
      const input = this.$refs.inputLink
      input.select()
      document.execCommand('copy')
      this.$toasted.show(this.lang.copied_clipboard)
      document.querySelector('.clickAndCopy').textContent = this.lang.link_copied_to_clipboard
      document.querySelector('.clickAndCopy').style.color = 'green'
    },
    sendEmail () {
      let request = new FetchApi()
      request.sendEmail(this.email, this.link, localStorage.referreremail).then(resp => {
        this.$toasted.show(`${this.email} ${this.lang.invited}`)
        this.email = null
      }).catch((err) => {
        console.log(err)
        this.$toasted.show(this.lang.enter_your_friends_email)
      })
    },
    back () {
      this.$emit('update-step', '2')
    },

    recommendProductChange () {
      this.recommend_product = !this.recommend_product
    },
    generateLink () {
      let request = new FetchApi()

      if (!this.linkForSelectedProduct) {
        this.$toasted.show(this.lang.invalid_link)
        return
      }

      if (this.linkForSelectedProduct && !this.linkForSelectedProduct.includes(' ')) {
        request.getMeta(this.linkForSelectedProduct).then(resp => {
          this.currentMeta = resp && resp.data
          request.generateLink(this.chosenReward, this.linkForSelectedProduct, localStorage.referreremail, this.currentMeta).then(resp => {
            document.cookie = `${resp.data.cookie.key}=${resp.data.cookie.value.toString()}; path=/`
            top.postMessage(`${resp.data.cookie.key}=${resp.data.cookie.value.toString()}`, '*')
            localStorage.setItem(resp.data.cookie.key, resp.data.cookie.value.toString())
            this.$emit('update-links', resp.data.link, resp.data.metaUrl)

            this.$toasted.show(this.lang.saved_link)
          }).catch((err) => {
            this.currentMeta = {}
            if (err && err.data && err.data.url) {
              this.$toasted.show(err.data.url)
            } else {
              this.$toasted.show(this.lang.invalid_url)
            }
          })
        }).catch((err) => {
          if (err && err.data && err.data.link) {
            this.$toasted.show(err.data.link)
          } else {
            this.$toasted.show(this.lang.invalid_url)
          }
        })
      } else {
        this.$toasted.show(this.lang.invalid_product)
      }
    },
    checkHasSpecialOffer () {
      let request = new FetchApi()
      request.getSpecialOffer().then(resp => {
        this.specialOfferArray = resp.data
        if (this.specialOfferArray.length > 0) {
          this.hasSpecialOffer = true
        } else {
          this.hasSpecialOffer = false
          this.specialOffer = false
        }
      }).catch(() => {
        this.$toasted.show(this.lang.try_again)
      })
    },
    showSpecialOffer () {
      let request = new FetchApi()
      request.getSpecialOffer().then(resp => {
        this.specialOfferArray = resp.data
        if (this.specialOfferArray.length > 0) {
          this.specialOffer = true
          this.hasSpecialOffer = true
        } else {
          this.$toasted.show(this.lang.no_special_offer)
          this.specialOffer = false
          this.hasSpecialOffer = false
        }
      }).catch(() => {
        this.$toasted.show(this.lang.try_again)
      })
    },

    hideSpecialOffer () {
      this.specialOffer = false
    }
  }
}
</script>
