{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="pricing-page">
        <div class="container">
            <h1>Pricing & Plan</h1>
            <div class="pricing-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a>Your subscription</a></li>
                </ul>
            </div>

            <div class="pricing active subscription-expired">
                <span class="subscription-expired--icon">
                    <i class="fa fa-times"></i>
                </span>
                <div class="subscription-expired--content">
                    <h2 class="subscription-expired--header">Your subscription has expired</h2>
                    <p class="subscription-expired--description">Pay your subscription to be able to continue using the functions of the portal.</p>
                    <div class="form-group flex cpl-content">
                        <div class="form-cps-cpl">
                            <div>
                                <label>Transfer title</label>
                                <input readonly="readonly" type="text" id="edit_shop_budget_companyNameId" name="edit_shop_budget[companyNameId]" class="form-control " placeholder=""
                                       value="Lorem ipsum dolor sit amet"><button id="copy_companyName_to_clipboard" class="btn btn-outline-primary">Copy to clipboard</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group flex cpl-content">
                        <div class="form-cps-cpl">
                            <div>
                                <label>Bank account number</label>
                                <input readonly="readonly" type="text" id="edit_shop_budget_bankAccountNumber" name="edit_shop_budget[edit_shop_budget_]" class="form-control " placeholder=""
                                       value="PLkkAAAAAAAABBBBBBBBBBBBBBBB"><button id="copy_accountNumber_to_clipboard" class="btn btn-outline-primary">Copy to clipboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <body class="front">
{% endblock %}
