{% extends 'layouts/sign.html.twig' %}

{% block sidebarContent %}
  <h4>Welcome back, your rewards are waiting for you!</h4>
  <p>Login to <span style="color:#1976D2"><strong>ValueLink</strong></span> and get exclusive
    rewards.</p>
  <p>Register at ValueLink and get <strong><span style="color:#1976D2">exclusive</span></strong>
    rewards</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
    scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus
    pharetra nulla ac diam. Quisque semper justo at risus.</p>
{% endblock %}

{% block content %}
  <div class="login-form">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <form method="post" action="" role="login" novalidate>
      <div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
          <span class="fa fa-user"></span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password" name="_password" />
          <span class="fa fa-lock"></span>
        </div>
        {% if targetPath %}
        <input type="hidden" name="_target_path" value="{{ targetPath }}" />
        {% endif %}
        <a href="{{ path('auth_password_reminder') }}" style="display: block; font-size: 12px;
                margin-bottom: 15px;"
           class="text-right">Forgot
          Password?</a>
        <button type="submit" class="btn btn-third btn-block">Login</button>
        <span class="modal-form-bottom" style="
                margin: 10px 0;
                color: #121212;
                display: block;
                line-height: 1;
                font-size: 14px;
                margin-bottom: 10px;
                width: 100%;
                font-weight: 400;
                margin-top: 10px;
                text-align: center;
                line-height:25px;">Don't have an account yet?<br>Register as <a href="{{ path('register_referrer') }}" id="fromLoginToRegister2"><b>Referral Partner</b></a>
            <span style="white-space: pre;">or <a href="{{ path('register_shop') }}" id="fromLoginToRegister"><b>Company</b></a></span></span>
      </div>
    </form>
  </div><!-- end login-form -->
{% endblock %}

{% block scripts %}
    {% for info in app.flashes('registeredUserEmail') %}
        <script>
            document.getElementById('username').value = '{{ info }}';
            document.getElementById('password').focus();
        </script>
    {% endfor %}
  <script>
      $(document).ready(function () {
          $("input[name='registerOptions']").change(function () {
              if ($(this).val() == "option1") {
                  $("#modalCompanyName").show();
                  $(".modalReferrer").hide();
              } else {
                  $("#modalCompanyName").hide();
                  $(".modalReferrer").show();
              };
          });

          $(".modalReferrer").hide();
          $("#modalCompanyName").hide();

          $("#acceptDPA").click(function () {
              $(".btn.register-btn").toggleClass("disabled");
          });

          $("#openDPA").click(function () {
              $(".DPA-info").hide();
              $(".DPA-content").show();
          });

          window.localStorage.removeItem('globalNotification')
      });
  </script>
{% endblock %}
{% block body %}
<body class="no-bg">
{% endblock %}
