{% extends 'layouts/sign.html.twig' %}

{% block sidebarContent %}
    <h4>Register at ValueLink and get exclusive rewards.</h4>
    <p>Register at <span style="color:#1976D2"><strong>ValueLink</strong></span> and get exclusive
        rewards.</p>
    <p>Join our programs now.</p>
    <ul>
        <li>Key <span style="color:#1976D2">feature</span> number one!</li>
        <li>Key feature <span style="color:#1976D2">number</span> two!</li>
        <li>Key <span style="color:#1976D2">feature</span> number three!</li>
    </ul>
    <p>Register at ValueLink and get <strong><span style="color:#1976D2">exclusive</span></strong>
        rewards</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus
        pharetra nulla ac diam. Quisque semper justo at risus.</p>
{% endblock %}

{% block content %}
    <div class="register-box">
        <div class="register-box__types">
            {% if app.request.get('source') != 'pricing' %}
            <div data-changeType="referrer" class="register-box__types__single"><a href="{{ path('register_referrer') }}">Referral Partner</a></div>
            {% endif %}
            <div data-changeType="company" class="register-box__types__single active"><a href="{{ path('register_shop') }}">Company</a></div>
        </div>
        <div class="login-form register-page">

            {% if not subscriptionChosen %}

                <div class="text-center">
                    <p style="margin-bottom: 35px;">Try ValueLink for 30 days trial period<br/>for any subscription plan</p>
                    <a href="{{ path('home_index') }}#pricing"><strong style="color: #1976D1;">Check ValueLink<br>subscription plans</strong></a>
                    <span class="modal-form-bottom" style="
                    margin: 10px 0 0;
                    color: #121212;
                    display: block;
                    font-size: 14px;
                    width: 100%;
                    font-weight: 400;
                    margin-top: 35px;
                    text-align: center;">
                    Already have an account?<br/><a href="{{ path('login') }}" id="hasAccLogin"><b>Log in</b></a>
                    now!</span>
                </div>
            {% else %}

            {{ form_start(form, {'attr': {'role': 'login', 'novalidate': 'novalidate'}}) }}

                {{ form_errors(form) }}
                {{ form_row(form._token) }}
                <div>
                    <div class="register-page__regType open">
                        <div class="form-group {{ form.shop.name.vars.errors | length ? 'has-error' : '' }}">
                            <label>Company name</label>
                            {{ form_widget(form.shop.name) }}
                            <span class="fa fa-briefcase"></span>
                            {{ form_errors(form.shop.name) }}
                        </div>
                    </div>
                    {% include 'auth/partials/email.html.twig' %}
                    {% include 'auth/partials/password.html.twig' %}
                    {% include 'auth/partials/agreements.html.twig' %}
                </div>

                <button class="btn btn-primary register-btn disabled" disabled type="submit" style="width: 100%;">Register Now</button>
                <span class="modal-form-bottom" style="
                margin: 10px 0;
                color: #121212;
                display: block;
                line-height: 1;
                font-size: 14px;
                margin-bottom: 10px;
                width: 100%;
                font-weight: 400;
                margin-top: 35px;
                text-align: center;">
                Already have an account? <a href="{{ path('login') }}" id="hasAccLogin"><b>Log in</b></a>
                now!</span>
            {{ form_end(form, {render_rest: false}) }}

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('form').submit(function(){
                $('button[type=submit]').attr('disabled', 'disabled');
            });

            if (document.querySelector("input[type='text']")) {
                document.querySelector("input[type='text']").focus();
            }
            $("#acceptDPA").click(function () {
                $(".btn.register-btn").toggleClass("disabled");
                if ($(".btn.register-btn").attr('disabled')) {
                    $(".btn.register-btn").removeAttr('disabled');
                } else {
                    $(".btn.register-btn").attr('disabled', true);
                }
            });

            $("#openDPA").click(function () {
                $(".DPA-info").hide();
                $(".DPA-content").show();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <body class="no-bg">
{% endblock %}