{% extends 'layouts/sign.html.twig' %}

{% block content %}
    <div class="login-form" style="padding: 15px;">
        <div class="alert alert-success text-center" role="alert">
            <h4>A verification link has been sent to <strong>{{ email }}</strong></h4>
            <p style="font-size:13px;">
                Please click on the link that has just been sent to your email account to verify your email and continue
                the registration process.<br/>
                Click <a href="{{ path('register_email_verification_resend') }}"
                         onclick="event.preventDefault();document.getElementById('resend-form').submit();">here</a> to
                re-send the email. In case any trouble please contact us directly.
            </p>
        </div>

        <form method="post" action="{{ path('register_email_verification_resend') }}" id="resend-form"
              style="display: none">
            <button type="submit" class="btn btn-third btn-block">E-mail didn't arrive?</button>
        </form>
    </div><!-- end login-form -->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(".content.boxs > .row").addClass("remindContainer");
        });
    </script>
{% endblock %}

{% block body %}
<body class="no-bg">
{% endblock %}

{% block navbarRight %}
{% endblock %}

{% block notifications %}
{% endblock %}