<template>
    <div class="col-md-15 col-sm-6 col-xs-12">
        <div class="btn btn-default btn-block">
            <img :src="icon">
            <div class="stats-content">
                <div class="title">{{ value }}</div>
                <div class="stats-title" v-html="title" style="color:#9a9a9a;"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'icon', 'value']
    }
</script>
