<template>
    <div class="col-sm-8 col-xs-12 company-stats">
        <block v-for="item in items" :title="item.title" :icon="item.icon" :value="item.value" :key="item.value"></block>
    </div>
</template>

<script>
    import Block from './Block';

    export default {
        components: {
            Block
        },
        data() {
            return {
                items: []
            }
        }
    }
</script>
