<template>
  <!--		Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>-->
  <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       :width="mWidth + 'px'" viewBox="0 0 986.8 986.8" style="enable-background:new 0 0 986.8 986.8;" xml:space="preserve"
  >
<g>
	<path d="M876.3,164.649H587c-22.1,0-40,17.9-40,40c0,22.1,17.9,40,40,40h289.3c22.101,0,40-17.9,40-40
		C916.3,182.55,898.4,164.649,876.3,164.649z"/>
  <path d="M587,530.849h193.3c22.101,0,40-17.9,40-40c0-22.1-17.899-40-40-40H587c-22.1,0-40,17.9-40,40
		C547,512.949,564.9,530.849,587,530.849z"/>
  <path d="M946.8,307.75H587c-22.1,0-40,17.9-40,40s17.9,40,40,40h359.8c22.101,0,40-17.9,40-40S968.9,307.75,946.8,307.75z"/>
  <path d="M946.8,594.05H587c-22.1,0-40,17.898-40,40c0,22.1,17.9,40,40,40h359.8c22.101,0,40-17.9,40-40
		C986.8,611.949,968.9,594.05,946.8,594.05z"/>
  <path d="M946.8,737.15H587c-22.1,0-40,17.9-40,40s17.9,40,40,40h359.8c22.101,0,40-17.9,40-40S968.9,737.15,946.8,737.15z"/>
  <path d="M414.4,160.25H60c-33.1,0-60,26.9-60,60V766.55c0,33.1,26.9,60,60,60h354.4c33.1,0,60-26.9,60-60V220.25
		C474.4,187.05,447.601,160.25,414.4,160.25z"/>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
</svg>
</template>

<script>
export default {
  props: {
    mWidth: {
      type: Number,
      default: 50
    }
  }
}
</script>