<template>
  <!--		Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>-->
  <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       :width="mWidth + 'px'" viewBox="0 0 333 333" style="enable-background:new 0 0 333 333;" xml:space="preserve">
    <g>
      <g>
        <path d="M323,31.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h313c5.5,0,10-4.5,10-10S328.5,31.5,323,31.5z"/>
      </g>
    </g>
        <g>
      <g>
        <path d="M230,114.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h220c5.5,0,10-4.5,10-10S235.5,114.5,230,114.5z"/>
      </g>
    </g>
        <g>
      <g>
        <path d="M323,198.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h313c5.5,0,10-4.5,10-10S328.5,198.5,323,198.5z"/>
      </g>
    </g>
        <g>
      <g>
        <path d="M151,281.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h141c5.5,0,10-4.5,10-10S156.5,281.5,151,281.5z"/>
      </g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
        <g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    mWidth: {
      type: Number,
      default: 50
    }
  }
}
</script>