<template>
  <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <!--		Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>-->
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       :width="mWidth + 'px'" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve">
<g>
	<path d="M972,579V60c0-33.1-26.9-60-60-60H72C38.9,0,12,26.9,12,60v519c0,33.1,26.9,60,60,60h840C945.2,639,972,612.2,972,579z"/>
  <path d="M63,806h716c28.2,0,51-22.8,51-51s-22.8-51-51-51H63c-28.2,0-51,22.8-51,51C12,783.1,34.8,806,63,806z"/>
  <path d="M63,984h590.2c28.199,0,51-22.8,51-51s-22.801-51-51-51H63c-28.2,0-51,22.8-51,51S34.8,984,63,984z"/>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
</svg>
</template>

<script>
export default {
  props: {
    mWidth: {
      type: Number,
      default: 50
    }
  }
}
</script>