<template>
  <div>
    <div class="calendar-view col-md-12">
      <div class="calendar-content" style="padding: 20px 0px;">
        <div class="calendar-i-prev" id="calendarPrev" @click="prevMonth" v-bind:class="{'inactive-element': minDate >= startDateString}">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span>Previous month</span>
        </div>
        <div class="calendar-month" v-if="startDate">
          {{ startDate.monthName() }} {{ startDate.year() }}
        </div>
        <div class="calendar-i-next" id="calendarNext" @click="nextMonth" v-bind:class="{'inactive-element': calendarNextDisabled}">
          <span>Next month</span>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
      <total-summary v-if="summaryStats" :stats="summaryStats"></total-summary>
      <div id="calendar" class="company__calendar"></div>
      <div class="calendar-event-info">
        <shops-table :shops="shops" @filters-changed="offerFiltersChanged"></shops-table>
      </div>
    </div>

    <div class="calendar-detailed-view col-md-12" v-if="shops !== undefined">
      <div class="table-responsive" v-if="startDate && endDate">
        <div class="calendar-view col-md-12 mb-10">
          <referral-link-filter></referral-link-filter>
        </div>
        <stats-table-company
          @summary-changed="summaryChanged"
          :start="startDateString"
          :end="endDateString"
          :shops="shops"
          :filterBy="filterBy"
        ></stats-table-company>
      </div>
    </div>

  </div>
</template>

<script>
import { dateTimeFactory } from "../../../Objects/DateTime";
import StatsTableCompany from './StatsTableCompany.vue'
import TotalSummary from './TotalSummary.vue';
import ShopsTable from './ShopsTable.vue';
import ReferralLinkFilter from '../../Account/ReferralLinkFilter';

export default {
  props: [
    'minDate',
    'shops'
  ],
  components: {
    StatsTableCompany,
    TotalSummary,
    ShopsTable,
    ReferralLinkFilter
  },
  data() {
    return {
      startDate: undefined,
      endDate: undefined,
      startDateString: undefined,
      endDateString: undefined,
      summaryStats: {},
      calendarNextDisabled: false,
      selectedShops: [],
      filterBy: null
    }
  },
  mounted() {
    this.filterBy = this.getFilterByFromLS();
    this.startDate = dateTimeFactory().startOfMonth();
    this.endDate = dateTimeFactory().endOfMonth();
    this.updateDateTimeString();
  },
  methods: {
    getFilterByFromLS() {
      return window.localStorage.getItem('referrerIncomeFilter') || null
    },
    updateDateTimeString() {
      this.startDateString = this.startDate.toDateTimeString();
      this.endDateString = this.endDate.toDateTimeString();
      this.updateCalendarNextDisabled();
    },
    prevMonth() {
      this.startDate = this.startDate.subMonths(1);
      this.endDate = this.endDate.subMonths(1);
      this.updateDateTimeString();
    },
    nextMonth() {
      this.startDate = this.startDate.addMonths(1);
      this.endDate = this.endDate.addMonths(1);
      this.updateDateTimeString();
    },
    offerFiltersChanged(data) {
      this.selectedShops = data.shops;
    },
    summaryChanged(val) {
      this.summaryStats = val;
    },
    updateCalendarNextDisabled() {
      if (this.endDate) {
        this.calendarNextDisabled = this.endDate.format('YYYY-MM-DD') >= dateTimeFactory().format('YYYY-MM-DD');
      }
    }
  }
}
</script>