<template>
    <table class="table table-nothbg" id="shops-list">
        <thead>
        <tr>
          <th>Include for Calculation</th>
          <th>Logo</th>
          <th>Company name</th>
          <th>Company description</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in shops">
            <td>
                <label>
                    <input type="checkbox" v-model="includedShops" :value="item.id" style="margin-right:5px;" @change="filtersChanged" />
                    <span v-if="includedShops.includes(item.id)"> Included</span>
                    <span v-else> Not included</span>
                </label>
            </td>
            <td>
              <img style="width: 50px" v-if="item.logo" :src="item.logo" />
              <span v-else>-</span></td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import Request from "../../../Mixins/Request";

    export default {
        mixins: [Request],
        props: [ 'shops' ],
        data() {
            return {
                includedShops: [],
                loaded: false
            }
        },
        mounted() {
          this.includedShops = _.pluck(this.shops, 'id');
          this.loaded = true;
          this.filtersChanged();
        },
        methods: {
            filtersChanged() {
                if (this.loaded) {
                    this.$emit('filters-changed', {
                        shops: this.includedShops
                    });
                }
            }
        }
    }
</script>
