<template>
  <table class="custom__table">
    <thead>
      <tr>
        <th colspan="3">
          Company<br/>Name
        </th>
        <th>Total Purchase<br/>Value</th>
        <th>Total Click<br/>Count</th>
        <th>Total<br/>Income</th>
        <th class="empty"></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="items.length === 0">
        <td colspan="8">There are no statistics for this period.</td>
      </tr>
      <template v-for="(item, itemIndex) in items">
        <tr>
          <td colspan="3">
            <span class="mLabel">Company Name:</span>
            {{ item.name }}
          </td>
          <td>
            <span class="mLabel">Total Purchase Value:</span>
            {{ item.total_purchase_value_generated.human_amount }}
          </td>
          <td>
            <span class="mLabel">Total Click Count:</span>
            {{ item.total_number_of_views }}
          </td>
          <td>
            <span class="mLabel">Total Income:</span>
            {{ item.profit.human_amount }}
          </td>
          <td class="empty"></td>
          <td class="custom__table-actions">
            <template v-if="item.total_purchase_value_generated || item.total_sign_ups_value_generated || item.total_number_of_views">
              <button v-if="item.links.length === 0"
                class="table-link active btn btn-third"
                @click="checkReferrerDetails(item)"
                >
                Check<br/><span></span>Details
              </button>
              <button v-else class="table-link active btn btn-danger" @click.prevent="closeReferrerDetails(item)">Close<br/><span></span>Details
              </button>
            </template>
            <button v-else class="btn">
              <i class="fa fa-times-circle"></i>
            </button>
          </td>
        </tr>
        <tr v-if="item.links && item.links.length > 0">
          <td colspan="8" class="clear">
            <table class="custom__table custom__table--lvl1">
              <thead>
                <tr>
                  <th colspan="3">Affiliate<br/>Link</th>
                  <th>Last<br/>Purchase Date</th>
                  <th>Purchase<br/>Value</th>
                  <th>Click<br/>Count</th>
                  <th>My<br/>PayOut</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(link, linkIndex) in item.links">
                  <tr>
                    <td colspan="3">
                      <span class="mLabel">Affiliate Link:</span>
                      <input :value="protocol + '//' + link.referrer_link.shop_url_name + '.' + host + '/' + link.referrer_link.nickname + '/' + link.referrer_link.slug" readonly />
                    </td>
                    <td>
                      <span class="mLabel">Last Purchase Date:</span>
                      <span v-if="link.lastPurchaseContent" v-html="link.lastPurchaseContent"></span>
                      <i v-else class="fa fa-times-circle"></i>
                    </td>
                    <td>
                      <span class="mLabel">Purchase Value:</span>
                      {{ link.purchase_total.human_amount }}
                    </td>
                    <td>
                      <span class="mLabel">Click Count:</span>
                      {{ link.views_count }}
                    </td>
                    <td>
                      <span class="mLabel">My PayOut:</span>
                      {{ link.total_referrer_profit.human_amount }}
                    </td>
                    <td class="custom__table-actions">
                      <button type="button" v-if="(link.details.length === 0 || activePayout != link) && (link.sign_up_count > 0 || link.purchase_count > 0)" class="table-link btn btn-third"
                              @click.prevent="checkPayoutDetails(link)">Payout<br/><span></span>details</button>
                      <button type="button" v-else-if="link.details.length > 0 && (activePayout && activePayout === link)" class="table-link active btn btn-danger" @click.prevent="closePayoutDetails(link)">Close<br/><span></span>payout</button>
                      <button type="button" v-else>
                        <i class="fa fa-times-circle"></i>
                      </button>
                    </td>
                  </tr>
                  <tr v-if="link.details.length > 0 && activePayout === link">
                    <td colspan="8" class="clear">
                      <table class="custom__table custom__table--lvl1">
                        <thead>
                          <tr>
                            <th colspan="3">Source<br/>Links</th>
                            <th>Income<br/>Generated</th>
                            <th>Reward<br/>Value</th>
                            <th>Purchase<br/>Value</th>
                            <th>Purchase</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-for="detail in link.details">
                            <tr>
                              <td colspan="3">
                                <span class="mLabel">Source Links:</span>
                                <input v-if="detail.source_link" :value="detail.source_link" readonly />
                                <i class="fa fa-times-circle" v-else></i>
                              </td>
                              <td>
                                <span class="mLabel">Income Generated:</span>
                                {{ detail.referrer_profit && detail.referrer_profit.human_amount }}{{ detail.profit_tooltip }}
                              </td>
                              <td>
                                <span class="mLabel">Reward Value:</span>
                                {{ detail.offer_type }} {{ detail.commission }}{{ detail.commission_type === 'percent' ? '%' : '€' }}
                              </td>
                              <td>
                                <span class="mLabel">Purchase Value:</span>
                                {{ detail.purchases_price && detail.purchases_price.human_amount }}<i v-if="!detail.purchases_price" class="fa fa-times-circle"></i>
                              </td>
                              <td>
                                <span class="mLabel">Purchase:</span>
                                {{ detail.offer_type == 'CPS' ? detail.purchases_amount : detail.transactions_count }}
                              </td>
                              <td class="custom__table-actions">
                                <button v-if="(detail.exchange_rates.length === 0 || activePayoutDetails != detail.exchange_rates) && (link.sign_up_count > 0 || link.purchase_count > 0) && detail.has_exchanges"
                                        class="table-link btn btn-third"
                                        @click.prevent="checkConversionDetails(link, detail)">eX.Rate<br>Details</button>
                                <button v-else-if="detail.exchange_rates.length > 0 && (activePayoutDetails && activePayoutDetails === detail.exchange_rates)" class="table-link active btn btn-danger" @click="closeConversionDetails(detail)">Close<br />Details</button>
                                <button v-else>
                                  <i class="fa fa-times-circle"></i>
                                </button>
                              </td>
                            </tr>
                            <tr v-if="detail.exchange_rates.length > 0 && activePayout === link">
                              <td colspan="8" class="clear">
                                <table class="custom__table custom__table--lvl1">
                                  <thead>
                                    <tr>
                                      <th colspan="3">Transaction<br />ID</th>
                                      <th>Source<br/>Currency</th>
                                      <th>Exchange<br/>Rate</th>
                                      <th>Transition<br/>Date & Time</th>
                                      <th>Value<br/>in Euro</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="(rate, i) in detail.exchange_rates">
                                      <td colspan="3">
                                        <span class="mLabel">Transaction ID:</span>
                                        {{ detail.exchange_rates.length - i }}
                                      </td>
                                      <td>
                                        <span class="mLabel">Source Currency:</span>
                                        <span v-if="rate.originalPrice">
                                          {{ rate.originalPrice.human_amount }}
                                        </span>
                                        <i v-else class="fa fa-times-circle"></i>
                                      </td>
                                      <td>
                                        <span class="mLabel">Exchange Rate:</span>
                                        <span v-if="rate.exchangeRate">
                                          {{ rate.exchangeRate.human_amount }}
                                        </span>
                                        <i v-else class="fa fa-times-circle"></i>
                                      </td>
                                      <td>
                                        <span class="mLabel">Transition Date & Time:</span>
                                        <span v-html="rate.createdAt"></span>
                                      </td>
                                      <td>
                                        <span class="mLabel">Value<br/>in Euro:</span>
                                        <span v-if="rate.purchasesPrice">
                                          {{ rate.purchasesPrice.human_amount }}
                                        </span>
                                        <i v-else class="fa fa-times-circle"></i>
                                      </td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import Request from "../../../Mixins/Request";
import {userFactory} from "../../../Objects/User";
import {moneyFactory} from "../../../Objects/Money";
import SummaryHelper from "../../Referrer/Income/Helpers/SummaryHelper";
export default {
  mixins: [Request],
  props: {
    start: '',
    end: '',
    shops: '',
    filterBy: null
  },
  data() {
    return {
      host: null,
      protocol: null,
      items: [],
      loading: true,
      activePartner: null,
      activePayout: null,
      activePayoutDetails: null
    }
  },
  watch: {
    start: function () {
      this.loadItems();
    },
    shops: function () {
      this.loadItems();
    },
    summary: function (newVal) {
      this.$emit('summary-changed', newVal)
    }
  },
  mounted() {
    this.loadItems();
    this.host = window.location.host;
    this.protocol = window.location.protocol;
  },
  methods: {
    loadItems() {
      this.makeRequest('GET', '/ajax/referrer/income/companies', this.getFilters())
          .then(response => {
            this.items = _.map(response.data, function (item) {
              item.profit = moneyFactory('EUR', parseFloat(item.purchase_referrer_profit) + parseFloat(item.sign_up_referrer_profit));
              item.id = item.shop.id;
              item.name = item.shop.name;
              item.purchase_referrer_profit = moneyFactory('EUR', item.purchase_referrer_profit);
              item.sign_up_referrer_profit = moneyFactory('EUR', item.sign_up_referrer_profit);
              item.total_number_of_views = item.total_number_of_views;
              item.total_purchase_value_generated = moneyFactory('EUR', item.total_purchase_value_generated);
              item.total_sign_ups_value_generated = moneyFactory('EUR', item.total_sign_ups_value_generated);
              item.links = [];
              return item;
            });

            this.loading = false;
          });
    },
    getFilters() {
      return {
        shops: this.shops.map(item => item.id),
        start_at: this.start,
        end_at: this.end,
        filterBy: this.filterBy
      };
    },
    checkReferrerDetails(item) {
      this.closeReferrerDetails(item)

      this.makeRequest('GET', `/ajax/referrer/income/company/${item.shop.id}`, this.getFilters())
          .then(response => {
            item.links = _.map(response.data, function (link) {
              const mLink = link;
              var lastPurchaseDate = null ;
              var lastPurchaseContent = null;

              const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
              ];

              if(link.last_purchase_date) {
                lastPurchaseDate = new Date(link.last_purchase_date.replace(/ /g,"T"));

                if(lastPurchaseDate != 'Invalid Date'){
                  var currMonth = monthNames[lastPurchaseDate.getMonth()];

                  lastPurchaseContent =  lastPurchaseDate.getDate() + ' ' + currMonth + ' ' + lastPurchaseDate.getFullYear();
                  lastPurchaseContent += '<br/>';
                  lastPurchaseContent += (lastPurchaseDate.getHours().toString().length == 1 ? '0' + lastPurchaseDate.getHours() : lastPurchaseDate.getHours()) + ':' + (lastPurchaseDate.getMinutes().toString().length == 1 ? '0' + lastPurchaseDate.getMinutes() : lastPurchaseDate.getMinutes()) + ':' + (lastPurchaseDate.getSeconds().toString().length == 1 ? '0' + lastPurchaseDate.getSeconds() : lastPurchaseDate.getSeconds());
                } else {
                  lastPurchaseContent = item.last_purchase_date;
                }
              }

              mLink.lastPurchaseContent = lastPurchaseContent;
              mLink.purchase_total = moneyFactory('EUR', link.purchase_total);
              mLink.total_referrer_profit = moneyFactory('EUR', link.total_referrer_profit);
              mLink.details = [];
              return link;
            })
            this.activePartner = item;
          })
    },
    closeReferrerDetails(item) {
      item.links = [];
      this.items.forEach((value, index) => {
        this.items[index].links = [];
      });

      this.activePartner = null;
      this.activePayout = null;
      this.activePayoutDetails = null;
    },
    checkPayoutDetails(link) {
      this.closePayoutDetails(link)

      this.makeRequest('GET', `/ajax/referrer/income/referrer-link/${link.referrer_link.id}`, this.getFilters())
      .then(response => {
        link.details = _.map(response.data, function (detail) {
          let profit_tooltip = '';
          if(detail.original_currency_referrer_profit && detail.original_currency != 'EUR'){
            profit_tooltip = '<span class="shop-table-tooltip-elem" data-tippy-content="'+detail.original_currency_referrer_profit+' '+detail.original_currency+'"><i class="fa fa-question-circle"></i></span>';
          }
          detail.profit_tooltip = profit_tooltip;

          detail.purchases_price = moneyFactory('EUR', detail.purchases_price);
          detail.referrer_profit = moneyFactory('EUR', detail.referrer_profit);
          detail.exchange_rates = [];

          return detail;
        });
        this.activePayout = link;
      })
    },
    closePayoutDetails(link) {
      link.details = [];
      this.activePartner.links.forEach(mLink => mLink.details = [])

      this.activePayout = null;
      this.activePayoutDetails = null;
    },
    checkConversionDetails(link, target) {
      this.closeConversionDetails(target)
      let filters = this.getFilters();
      filters.offer_type = target.offer_type;
      filters.commission = target.commission;
      filters.commission_type = target.commission_type;
      filters.purchase_price = target.purchases_price.amount;
      filters.source_link = target.source_link;

      this.makeRequest('GET', `/ajax/referrer/income/referrer-link/${link.referrer_link.id}/exchange-rates`, filters)
          .then(response => {
            target.exchange_rates = _.map(response.data, (detail) => {
              if (detail.purchasesPrice !== null) {
                detail.purchasesPrice = moneyFactory('EUR', detail.purchasesPrice);
              }
              if (detail.originalPrice !== null) {
                detail.originalPrice = moneyFactory(detail.originalCurrency, detail.originalPrice);
              }
              if (detail.exchangeRate !== null) {
                detail.exchangeRate = moneyFactory(detail.originalCurrency, detail.exchangeRate);
              }
              detail.createdAt = this.convertDateTimeToDisplay(detail.createdAt.date);
              return detail;
            });

            this.activePayoutDetails = target.exchange_rates;
          })
    },
    closeConversionDetails(detail) {
      detail.exchange_rates = [];
      this.activePayout.details.forEach(item => item.exchange_rates = [])
      this.activePayoutDetails = null;
    },
    convertDateTimeToDisplay(dateTime) {
      let dtObject = new Date(String(dateTime).replace(/ /g,"T"));
      let dateString = '';
      let currMonth = (dtObject.getMonth()+1).toString().length == 1 ? '0' + (dtObject.getMonth()+1) : (dtObject.getMonth()+1);
      let currDay = dtObject.getDate().toString().length == 1 ? '0' + dtObject.getDate() : dtObject.getDate();
      let currHour = dtObject.getHours().toString().length == 1 ? '0' + dtObject.getHours() : dtObject.getHours();
      let currMin = dtObject.getMinutes().toString().length == 1 ? '0' + dtObject.getMinutes() : dtObject.getMinutes();

      dateString = dtObject.getFullYear().toString() + '-' + currMonth + '-' + currDay;
      dateString += '<br/>';
      dateString += currHour + ':' + currMin;
      return dateString;
    }
  },
  computed: {
    summary () {
      return (new SummaryHelper(this.items)).getAll();
    }
  }
}

</script>
