<template>
  <div class="calendar-income-info" v-if="stats">
    <div style="text-align: center;">
      <strong style="display: block">Total sale generated:</strong>
      <strong style="display: flex; flex-wrap: wrap;align-items: center;justify-content: center;">
        <span style="padding: 0 5px">CPS: {{ stats.totalCps && stats.totalCps.human_amount }}</span> <span style="padding: 0 5px">CPL: {{ stats.totalCpl && stats.totalCpl.human_amount }}</span></strong>
    </div>
    <div style="text-align: center;"><strong style="display: block">Revenue:</strong><strong>{{ stats.totalReferrerProfit && stats.totalReferrerProfit.human_amount }}</strong></div>
  </div>
</template>

<script>
    export default {
        props: ['stats'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {}
    }
</script>
