<template>
    <div>
        <div class="calendar-view col-md-12">
            <div class="calendar-content" style="padding: 20px 0px;">
                <div class="calendar-i-prev" id="calendarPrev" @click="prevMonth" v-bind:class="{'inactive-element': minDate >= startDateString}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span>Previous month</span>
                </div>
                <div class="calendar-month" v-if="startDate">
                    {{ startDate.monthName() }} {{ startDate.year() }}
                </div>
                <div class="calendar-i-next" id="calendarNext" @click="nextMonth" v-bind:class="{'inactive-element': calendarNextDisabled}">
                    <span>Next month</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
            <total-summary v-if="summaryStats" :stats="summaryStats"></total-summary>
            <div id="calendar" class="company__calendar"></div>
            <div class="calendar-event-info">
                <products-table @filters-changed="offerFiltersChanged"></products-table>
            </div>
        </div>
        <div class="calendar-detailed-view col-md-12" v-if="products !== undefined">

            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px">
                    <a
                        class="btn"
                        @click.prevent="changeTableTab('byReferrer')"
                        v-bind:class="{'btn-default': tableTab !== 'byReferrer', 'btn-primary': tableTab === 'byReferrer' }"
                    >
                        By Referral Partner
                    </a>
                    <a
                        class="btn"
                        @click.prevent="changeTableTab('byTrafficSource')"
                        v-bind:class="{'btn-default': tableTab !== 'byTrafficSource', 'btn-primary': tableTab === 'byTrafficSource' }"
                    >
                        By Traffic Source
                    </a>
                </div>

            </div>
            <div class="table-responsive" v-if="startDate && endDate && tableTab === 'byReferrer'">
              <div class="calendar-view col-md-12 mb-10">
                <referral-link-filter></referral-link-filter>
              </div>
              <stats-table-referrer
                v-if="startDate && endDate && tableTab === 'byReferrer'"
                @summary-changed="summaryChanged"
                :start="startDateString"
                :end="endDateString"
                :products="products"
                :filterBy="filterBy"
                :include-main-offer="includeMainOffer">
              </stats-table-referrer>
            </div>
            <div class="table-responsive" v-if="startDate && endDate && tableTab === 'byTrafficSource'">
              <stats-table-source-traffic
                  @summary-changed="summaryChanged"
                  :start="startDateString"
                  :end="endDateString"
                  :products="products"
                  :include-main-offer="includeMainOffer">
              </stats-table-source-traffic>
            </div>
        </div>

    </div>
</template>

<script>
    import ProductsTable from './ProductsTable.vue';
    import StatsTableReferrer from './StatsTableReferrer.vue';
    import TotalSummary from './TotalSummary.vue';
    import StatsTableSourceTraffic from './StatsTableSourceTraffic.vue';
    import ReferralLinkFilter from '../../Account/ReferralLinkFilter';
    import { dateTimeFactory } from "../../../Objects/DateTime";

    export default {
        props: [
            'minDate',
        ],
        components: {
            ProductsTable,
            StatsTableReferrer,
            TotalSummary,
            StatsTableSourceTraffic,
            ReferralLinkFilter
        },
        data() {
            return {
                startDate: undefined,
                endDate: undefined,
                startDateString: undefined,
                endDateString: undefined,
                products: undefined,
                summaryStats: {},
                includeMainOffer: undefined,
                tableTab: 'byReferrer',
                calendarNextDisabled: false,
                filterBy: null
            }
        },
        mounted() {
            this.filterBy = this.getFilterByFromLS();
            this.startDate = dateTimeFactory().startOfMonth();
            this.endDate = dateTimeFactory().endOfMonth();
            this.updateDateTimeString();
        },
        methods: {
            getFilterByFromLS() {
              return window.localStorage.getItem('referrerIncomeFilter') || null
            },
            changeTableTab(tableTab) {
                this.tableTab = tableTab;
            },
            updateDateTimeString() {
                this.startDateString = this.startDate.toDateTimeString();
                this.endDateString = this.endDate.toDateTimeString();
                this.updateCalendarNextDisabled();
            },
            prevMonth() {
                this.startDate = this.startDate.subMonths(1);
                this.endDate = this.endDate.subMonths(1);
                this.updateDateTimeString();
            },
            nextMonth() {
                this.startDate = this.startDate.addMonths(1);
                this.endDate = this.endDate.addMonths(1);
                this.updateDateTimeString();
            },
            offerFiltersChanged(data) {
                this.products = data.products;
                this.includeMainOffer = data.mainOffer;
            },
            summaryChanged(val) {
                this.summaryStats = val;
            },
            updateCalendarNextDisabled() {
                if (this.endDate) {
                    this.calendarNextDisabled = this.endDate.format('YYYY-MM-DD') >= dateTimeFactory().format('YYYY-MM-DD');
                }
            }
        }
    }
</script>
