<template>
  <table class="custom__table">
    <thead>
    <tr class="custom__table-summary" v-if="summary">
      <th colspan="4"></th>
      <th>Monthly summary:</th>
      <th>{{ summary.purchase_count }}</th>
      <th>{{ summary.sign_up_count }}</th>
      <th>{{ summary.views_count }}</th>
      <th>{{ summary.total_referrer_income.human_amount.replace('$', '€') }}</th>
      <th>{{ summary.system_commission.human_amount.replace('$', '€') }}</th>
      <th></th>
    </tr>
    <tr>
      <th colspan="3">
        <button type="button" @click="sortFirstLevel('document_referrer.referrer')">Traffic<br/>source</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('last_purchase_date')">Last<br/>Purchase</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('last_sign_up_date')">Last<br/>SignUp</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('purchase_count')">Sales<br/>Count</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('sign_up_count')">SignUp<br/>Count</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('views_count')">Click<br/>Count</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('total_referrer_income.amount')">Partner<br/>Payout</button>
      </th>
      <th>
        <button type="button" @click="sortFirstLevel('system_commission.amount')">ValueLink<br/>Provision</button>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr v-if="items.length === 0">
        <td colspan="12">There are no statistics for this period.</td>
      </tr>
      <template v-for="(item, itemIndex) in items">
      <tr>
        <td colspan="3" class="traffic-source-col">
          <span v-bind:style="linkStyles(item)">
            <div v-if="item.document_referrer.referrer === 'https://facebook.com'">
              <i class="fa fa-facebook"></i><span>Facebook</span>
            </div>
            <div v-else-if="item.document_referrer.referrer === 'https://twitter.com'">
              <i class="fa fa-twitter"></i><span>Twitter</span>
            </div>
            <div v-else-if="item.document_referrer.referrer !== 'https://facebook.com' && item.document_referrer.referrer !== 'https://twitter.com' && item.document_referrer.referrer !== 'Others'">
              <i class="fa fa-hashtag"></i><span>ValueLink - Personal Store</span>
            </div>
            <div v-else>
              <i class="fas fa-blog"></i><span>Blog, WhatsApp, etc.</span>
            </div>
          </span>
        </td>
        <td><span v-html="lastPurchaseDateFormat(item)"></span></td>
        <td><span v-html="lastSignUpDateFormat(item)"></span></td>
        <td>{{ item.purchase_count }}</td>
        <td>{{ item.sign_up_count }}</td>
        <td>{{ item.views_count }}</td>
        <td>{{ item.total_referrer_income.human_amount }}</td>
        <td>{{ item.system_commission.human_amount }}</td>
        <td class="custom__table-actions">
          <template v-if="item.purchase_count || item.sign_up_count">
            <button v-if="item.links.length === 0" class="table-link active btn btn-third"
                    @click.prevent="checkReferrerDetails(item)">Check<br/><span></span>Details
            </button>
            <button v-else class="table-link active btn btn-danger" @click.prevent="closeReferrerDetails(item)">Close<br/><span></span>Details
            </button>
          </template>
          <button v-else class="btn">
            <i class="fa fa-times-circle"></i>
          </button>
        </td>
      </tr>
      <tr v-if="item.links.length > 0">
        <td colspan="12">
          <table class="custom__table custom__table--lvl1">
            <thead>
            <tr v-if="item.links.length > 0">
              <th colspan="5">
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'reflink.link')">Affiliate<br/>Link</button>
              </th>
              <th>
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'views_count')">Click<br/>Count</button>
              </th>
              <th>
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'sign_up_count')">SignUp<br/>Count</button>
              </th>
              <th>
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'purchase_count')">Purchase<br/>Count</button>
              </th>
              <th>
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'purchase_total.amount')">Purchase<br/>Value</button>
              </th>
              <th>
                <button type="button" @click="sortSecondLevel(itemIndex, item.links, 'referrer_profit.amount')">Referrer<br/>Reward</button>
              </th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(link, linkIndex) in item.links">
              <tr>
                <td colspan="5">
                  <input :value="protocol + '//' + link.reflink.shop_url_name + '.' + host + '/' + link.reflink.nickname + '/' + link.reflink.slug" readonly />
                </td>
                <td>{{ link.views_count }}</td>
                <td>{{ link.sign_up_count }}</td>
                <td>{{ link.purchase_count }}</td>
                <td>{{ link.purchase_total.human_amount }}</td>
                <td>{{ link.referrer_profit.human_amount }}</td>
                <td class="custom__table-actions">
                  <button type="button" v-if="link.details.length === 0" class="table-link btn btn-third"
                          @click.prevent="checkPayoutDetails(link)">Payout<br/><span></span>details</button>
                  <button type="button" v-else-if="link.details.length > 0" class="table-link active btn btn-danger" @click.prevent="closePayoutDetails(link)">Close<br/><span></span>payout</button>
                  <button type="button" v-else>
                    <i class="fa fa-times-circle"></i>
                  </button>
                </td>
              </tr>
              <tr v-if="link.details.length > 0">
                <td colspan="12">
                  <table class="custom__table custom__table--lvl2">
                    <thead>
                    <tr v-if="link.details.length > 0">
                      <th colspan="5">
                        <button @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'source_link')">Conversion<br/>Link</button>
                      </th>
                      <th></th>
                      <th>
                        <button @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'referrer_profit.amount')">Income<br/>Generated</button>
                      </th>
                      <th>
                        <button>Reward<br/>Value</button>
                      </th>
                      <th>
                        <button @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'purchases_price.amount')">Purchase<br/>Value</button>
                      </th>
                      <th>
                        <button @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'purchases_amount')">Purchase<br/>Count</button>
                      </th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="detail in link.details">
                      <tr>
                        <td colspan="5"><input readonly :value="detail.source_link"/></td>
                        <td></td>
                        <td>{{ detail.referrer_profit.human_amount }}</td>
                        <td>
                          {{ detail.offer_type }}
                          <span v-if="detail.commission_type === 'fixed'">{{ detail.commission.human_amount }}</span>
                          <span v-else>{{ detail.commission }}%</span>
                        </td>
                        <td>
                          <span>{{ detail.purchases_price.amount > 0 ? detail.purchases_price.human_amount : '' }}</span>
                          <i v-if="detail.purchases_price.amount === 0" class="fa fa-times-circle"></i>
                        </td>
                        <td>{{ detail.offer_type === 'CPS' ? detail.purchases_amount : detail.transactions_count }}</td>
                        <td class="custom__table-actions">
                          <button v-if="detail.exchange_rates.length === 0 && (link.sign_up_count > 0 || link.purchase_count > 0) && detail.has_exchanges"
                                  class="table-link btn btn-third"
                                  @click.prevent="checkConversionDetails(link, detail)">eX.Rate<br>Details</button>
                          <button v-else-if="detail.exchange_rates.length > 0" class="table-link active btn btn-danger" @click="closeConversionDetails(detail)">Close</button>
                          <button v-else>
                            <i class="fa fa-times-circle"></i>
                          </button>
                        </td>
                      </tr>
                      <tr v-if="detail.exchange_rates.length > 0">
                      <td colspan="12">
                        <table class="custom__table custom__table--lvl3">
                          <thead>
                          <tr v-if="link.details.length > 0">
                            <th>Transaction ID</th>
                            <th>Source<br/>Currency</th>
                            <th>Exchange<br/>Rate</th>
                            <th>Transaction<br/>Date & Time</th>
                            <th>Value in<br/>Euro</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr v-for="(rate, i) in detail.exchange_rates">
                            <td>{{ i + 1 }}</td>
                            <td>
                              <span v-if="rate.original_price">{{ rate.original_price.amount }} {{ rate.original_price.currency }}</span>
                              <span v-else><i class="fa fa-times-circle"></i></span>
                            </td>
                            <td>
                              <span v-if="rate.exchange_rate">{{ rate.exchange_rate.amount }} {{ rate.exchange_rate.currency }}</span>
                              <span v-else><i class="fa fa-times-circle"></i></span>
                            </td>
                            <td>
                              <span v-html="rate.createdAt"></span>
                            </td>
                            <td>
                              <span>{{ detail.purchases_price.amount > 0 ? detail.purchases_price.human_amount : '' }}</span>
                              <i v-if="detail.purchases_price.amount === 0" class="fa fa-times-circle"></i>
                            </td>
                            <td>
                              <span v-if="rate.purchases_price">{{ rate.purchases_price.amount }} {{ rate.purchases_price.currency }}</span>
                              <span v-else><i class="fa fa-times-circle"></i></span>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </template>
                    </tbody>
                  </table>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</template>

<script>
    import {userFactory} from "../../../Objects/User";
    import {moneyFactory} from "../../../Objects/Money";
    import Request from "../../../Mixins/Request";
    import SummaryHelper from './Helpers/SummaryHelper.js';
    import Sort from './Helpers/Sort.js';

    export default {
        mixins: [Request],
        props: ['start', 'end', 'products', 'includeMainOffer'],
        data() {
            return {
                promoted: [
                    'https://facebook.com',
                    'https://twitter.com'
                ],
                host: null,
                protocol: null,
                items: [],
                firstLevelSort: null,
                secondLevelSort: {},
                thirdLevelSort: {}
            }
        },
        watch: {
            start: function () {
                this.loadItems();
            },
            products: function () {
                this.loadItems();
            },
            summary: function (newVal) {
                this.$emit('summary-changed', newVal)
            },
            includeMainOffer: function() {
                this.loadItems();
            }
        },
        mounted() {
            this.promoted.push(window.location.origin);
            this.loadItems();
            this.host = window.location.host;
            this.protocol = window.location.protocol;
        },
        methods: {
            linkStyles(link) {
                if (this.promoted.includes(link.document_referrer.referrer)) {
                    return {fontWeight: 700};
                }

                return {};
            },
            sortFirstLevel(field) {
                if (!this.firstLevelSort) {
                    this.firstLevelSort = new Sort();
                }

                this.items = this.firstLevelSort.sort(this.items, field);
            },
            sortSecondLevel(identifier, data, field) {
                if (this.secondLevelSort[identifier] === undefined) {
                    this.secondLevelSort[identifier] = new Sort();
                }
                this.items[identifier].links =this.secondLevelSort[identifier].sort(data, field);
            },
            sortThirdLevel(itemIndex, linkIndex, data, field) {
                let id = [itemIndex, linkIndex].join('.');
                if (this.thirdLevelSort[id] === undefined) {
                    this.thirdLevelSort[id] = new Sort();
                }
                this.items[itemIndex]['links'][linkIndex].details = this.thirdLevelSort[id].sort(data, field);
            },
            convertDateTimeToDisplay(dateTime) {
                let dtObject = new Date(String(dateTime).replace(/ /g,"T"));
                let dateString = '';
                let currMonth = (dtObject.getMonth()+1).toString().length == 1 ? '0' + (dtObject.getMonth()+1) : (dtObject.getMonth()+1);
                let currDay = dtObject.getDate().toString().length == 1 ? '0' + dtObject.getDate() : dtObject.getDate();
                let currHour = dtObject.getHours().toString().length == 1 ? '0' + dtObject.getHours() : dtObject.getHours();
                let currMin = dtObject.getMinutes().toString().length == 1 ? '0' + dtObject.getMinutes() : dtObject.getMinutes();

                dateString = dtObject.getFullYear().toString() + '-' + currMonth + '-' + currDay;
                dateString += '<br/>';
                dateString += currHour + ':' + currMin;
                return dateString;
            },
            checkReferrerDetails(item) {
                let $this = this;

                this.items.forEach(function(value, index){
                    if(value.id != item.id){
                        $this.items[index].links = [];
                    }
                });

                this.makeRequest('GET', `/ajax/company/income/traffic-source/${item.document_referrer.id}`, this.getFilters())
                    .then(response => {
                        item.links = _.map(response.data, function (link) {
                            link.purchase_total = moneyFactory('EUR', link.purchase_total);
                            link.sign_up_referrer_profit = moneyFactory('EUR', link.sign_up_referrer_profit);
                            link.referrer_profit = moneyFactory('EUR', link.purchase_referrer_profit).add(link.sign_up_referrer_profit);
                            link.details = [];
                            return link;
                        })
                    })
            },
            closeReferrerDetails(item) {
                item.links = [];
            },
            checkPayoutDetails(link) {
                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}`, this.getFilters())
                    .then(response => {
                        link.details = _.map(response.data, function (detail) {
                            detail.purchases_price = moneyFactory('EUR', detail.purchases_price);
                            detail.referrer_profit = moneyFactory('EUR', detail.referrer_profit);
                            if (detail.commission_type === 'fixed') {
                                detail.commission = moneyFactory('EUR', detail.commission);
                            }
                            detail.exchange_rates = [];
                            return detail;
                        });
                    })
            },
            closePayoutDetails(link) {
                link.details = [];
            },
            closeConversionDetails(detail) {
                detail.exchange_rates = [];
            },
            checkConversionDetails(link, target) {

                let filters = this.getFilters();
                filters.offer_type = target.offer_type;
                filters.commission = target.commission;
                filters.commission_type = target.commission_type;
                filters.purchase_price = target.purchases_price.amount;
                filters.source_link = target.source_link;

                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}/exchange-rates`, filters)
                    .then(response => {
                        target.exchange_rates = _.map(response.data, (detail) => {
                            if (detail.purchasesPrice !== null) {
                                detail.purchases_price = moneyFactory('EUR', detail.purchasesPrice);
                            }
                            if (detail.originalPrice !== null) {
                                detail.original_price = moneyFactory(detail.originalCurrency, detail.originalPrice);
                            }
                            if (detail.exchangeRate !== null) {
                                detail.exchange_rate = moneyFactory(detail.originalCurrency, detail.exchangeRate);
                            }
                            detail.createdAt = this.convertDateTimeToDisplay(detail.createdAt.date);
                            return detail;
                        });
                    })
            },
            loadItems() {
                this.makeRequest('GET', '/ajax/company/income/traffic-source', this.getFilters())
                    .then(response => {
                        this.items = _.map(response.data, function (item) {
                            item.id = item.document_referrer.id;
                            item.system_commission = moneyFactory('EUR', item.system_commission);
                            item.sign_up_referrer_profit = moneyFactory('EUR', item.sign_up_referrer_profit);
                            item.total_referrer_income = moneyFactory('EUR', item.purchase_referrer_profit).add(item.sign_up_referrer_profit)
                            item.purchase_total = moneyFactory('EUR', item.purchase_total);
                            item.links = [];

                            return item;
                        });
                    });
            },
            getFilters() {
                return {
                    products: this.products,
                    include_main_offer: this.includeMainOffer,
                    start_at: this.start,
                    end_at: this.end
                };
            },
            lastPurchaseDateFormat (item) {
                if(item.last_purchase_date){
                    return this.convertDateTimeToDisplay(item.last_purchase_date);
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            },
            lastSignUpDateFormat (item) {
                if(item.last_sign_up_date){
                    let lastSignUpDate = new Date(item.last_sign_up_date.replace(/ /g,"T"));
                    let lastSignUpContent = null;

                    let currMonth = (lastSignUpDate.getMonth()+1).toString().length == 1 ? '0' + (lastSignUpDate.getMonth()+1) : (lastSignUpDate.getMonth()+1);
                    let currDay = lastSignUpDate.getDate().toString().length == 1 ? '0' + lastSignUpDate.getDate() : lastSignUpDate.getDate();
                    let currHour = lastSignUpDate.getHours().toString().length == 1 ? '0' + lastSignUpDate.getHours() : lastSignUpDate.getHours();
                    let currMin = lastSignUpDate.getMinutes().toString().length == 1 ? '0' + lastSignUpDate.getMinutes() : lastSignUpDate.getMinutes();
                    let currSec = lastSignUpDate.getSeconds().toString().length == 1 ? '0' + lastSignUpDate.getSeconds() : lastSignUpDate.getSeconds();

                    lastSignUpContent = currMonth + '-' + currDay + '-' + lastSignUpDate.getFullYear().toString().substr(-2);
                    lastSignUpContent += '<br/>';
                    lastSignUpContent += currHour + ':' + currMin + ':' + currSec;

                    return lastSignUpContent;
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            }
        },
        computed: {
            summary() {
                return (new SummaryHelper(this.items)).getAll();
            }
        }

    }
</script>
