<template>
    <div class="calendar-income-info">
        <div style="text-align: center;" v-if="stats.purchase_total && stats.sign_up_referrer_profit">
            <strong style="display: block">Total sale generated:</strong>
            <strong style="display: block;">{{ stats.purchase_total.human_amount.replace(/\$/g, '€') }}</strong>
<!--            <div class="form-switch-wrapper" style="margin-top:10px">-->
<!--                <label class="switch" style="margin-left: 0;margin-right: 15px;">-->
<!--                    <input name="widget_button[hideBackgroundColor]" type="checkbox" value="1" class="cpl-switch" checked/>-->
<!--                    <div></div>-->
<!--                </label>-->
<!--                <label style="text-transform: initial;font-weight: 600;">Include affiliate links</label>-->
<!--            </div>-->
<!--            <div class="form-switch-wrapper">-->
<!--                <label class="switch" style="margin-left: 0;margin-right: 15px;">-->
<!--                    <input name="widget_button[hideBackgroundColor]" type="checkbox" value="1" class="cpl-switch" checked/>-->
<!--                    <div></div>-->
<!--                </label>-->
<!--                <label style="text-transform: initial;font-weight: 600;">Include referral links</label>-->
<!--            </div>-->
        </div>
        <div style="text-align: center;" v-if="stats.purchase_total && stats.system_commission && stats.sign_up_referrer_profit">
            <strong style="display: block">Revenue:</strong>
            <strong>{{ stats.revenue.human_amount }}</strong>
            <span class="smaller">CPS: {{ stats.purchase_referrer_profit.human_amount }}; CPL: {{ stats.sign_up_referrer_profit.human_amount }}</span>
        </div>
        <div style="text-align: center;" v-if="stats.system_commission">
            <strong style="display: block">ValueLink Provision:</strong>
            <strong>{{ stats.system_commission.human_amount }}</strong>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['stats'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {}
    }
</script>
