{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}conversion-verification{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block tab_content %}
    <div class="row" id="stats">
        <div class="calendar-content" style="padding: 20px 0px;" id="stats">
            {% set now = currentPeriod.start.copy() %}
            {% set prev = currentPeriod.start.copy().subDay() %}
            {% set next = currentPeriod.end.copy().addDay() %}
            <a class="calendar-i-prev"
               href="{{ path('admin_conversion_verification_index', {year: prev.year, month: prev.month, orderBy: app.request.get('orderBy')}) }}#stats">
                <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
            </a>
            <div class="calendar-month">
                <span class="current-month">{{ now.format('F') }}</span> <span
                        class="current-year">{{ now.year }}</span>
            </div>
            <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}"
               href="{{ path('admin_conversion_verification_index', {year: next.year, month: next.month, orderBy: app.request.get('orderBy')}) }}#stats">
                <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
        </div>
        {% if conversions|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Referral<br/>Partner</th>
                        <th>
                            SignUp/Purchase<br/>Date
                            {% include 'sort.html.twig' with {field: 'createdAt'} %}
                        </th>
                        <th>
                            Purchase<br/>Value
                            {% include 'sort.html.twig' with {field: 'purchaseValue'} %}
                        </th>
                        <th>Reward</th>
                        <th>
                            Partner<br/>Profit
                            {% include 'sort.html.twig' with {field: 'referrerProfit'} %}
                        </th>
                        <th>Status</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for conversion in conversions %}
                        <tr>
                            <td>{{ conversion.referrer.name }} {{ conversion.referrer.surname }}</td>
                            <td>{{ conversion.createdAt|date('Y-m-d H:i') }}</td>
                            <td>
                                {% if conversion.total is defined and conversion.total %}
                                    €{{ conversion.total }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>{{ conversion.commissionType.name == 'percent' ? '' : ' €' }}{{ conversion.commission }}{{ conversion.commissionType.name == 'percent' ? '%' : ' ' }} ({{ conversion.offerType.name }})</td>
                            <td>€{{ conversion.referrerProfit }}</td>
                            <td>
                                {{ conversion.status.name|capitalize }}
                                {% if conversion.statusChanges | length %}
                                    {% set changes = conversion.statusChanges | reverse %}
                                    <span style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="{{ changes[0].reason }}">
                                        <i aria-hidden="true" class="fa fa-question-circle"></i>
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if conversion.status.name == 'unverified' %}
                                    <shop-transactions-reject
                                            id="{{ conversion.id }}"
                                            created-at="{{ conversion.createdAt|date('Y-m-d H:i') }}"
                                            purchase-value="{{ conversion.total is defined ? conversion.total : 0 }}"
                                            referrer-profit="{{ conversion.referrerProfit }}"
                                    ></shop-transactions-reject>
                                {% endif %}
                                {% if conversion.status.name == 'unverified' or conversion.status.name == 'rejected' %}
                                    <shop-transactions-accept
                                            id="{{ conversion.id }}"
                                            created-at="{{ conversion.createdAt|date('Y-m-d H:i') }}"
                                            purchase-value="{{ conversion.total is defined ? conversion.total : 0 }}"
                                            referrer-profit="{{ conversion.referrerProfit }}"
                                    ></shop-transactions-accept>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no conversions to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
