<template>
    <div v-if="!isConfBox" class="modal-offer" id="couponsModal">
        <div class="modal-offer__overlay"></div>
        <div class="modal-offer__box">
            <button class="btn modal-offer__close" @click="closeModal" style="right: 5px;top: -5px;">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <div v-show="!loading">
                <div class="coupons-modal-header">
                    <div style="width: 100%">
                        <p>{{couponsFor.toUpperCase()}} Coupons Preview</p>
                        <div v-show="showAlert" class="alert alert-success">This Coupon Set is currently active</div>
                    </div>


                    <div class="coupons-modal-buttons">
                        <select @change="valueChange" v-model="couponValue">
                          <option selected disabled value="select">Choose</option>
                          <option v-for="option in options" :value="option.id">
                            {{option.discount.replace('.00', '')}}{{option.discount_type === 'fixed' ? '%' : '€'}}
                          </option>
                        </select>

                        <div class="btn btn-primary coupons-uploaded">
                            Uploaded {{uploadedCount}}
                        </div>
                        <div class="btn btn-primary coupons-uploaded">
                            Active {{activeCount}}
                        </div>
                        <div class="btn btn-primary coupons-uploaded">
                            Used {{usedCount}}
                        </div>
                        <div class="btn btn-danger" @click="deleteAll">
                          Delete All
                        </div>
                    </div>

                </div>
                <div class="coupon-modal-table">
                    <div class="coupon-modal-row" v-for="(coupon, index) in coupons">
                        <div>{{coupon.code}}</div>
                        <div class="btn btn-danger" @click="deleteCoupon(coupon.id, index)">Delete Single</div>
                    </div>
                </div>
            </div>
            <div v-show="loading">
                <div class="lds-dual-ring"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Request from "../../Mixins/Request";
    import Swal from 'sweetalert2';

    export default {
        mixins: [Request],
        name: "CouponsModal",
        props: ['couponsFor'],
        data: function () {
            return {
                isConfBox: false,
                uploadedCount: 0,
                activeCount: 0,
                usedCount: 0,
                couponValue: "select",
                coupons: [],
                options: [],
                loading: true,
                activeOption: null,
                showAlert: false
            }
        },
        methods: {
            closeModal(e) {
                document.querySelectorAll('#couponsModal').forEach((el) => {
                    el.classList.remove('open')
                })
              e.preventDefault();
            },

            showError() {
                Swal.fire(
                    'Error',
                    'Something went wrong',
                    'error'
                )
            },

            deleteAll() {
                this.isConfBox = true;
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You will permanetly delete Your - Coupon Set",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.loading = true
                        this.makeRequest('delete', `/account/shop/widget/coupon-package/${this.couponValue}`)
                            .then(() => {
                               this.isConfBox = false;
                                this.coupons = []
                                this.getOptions()
                            })
                            .catch(() => {
                               this.isConfBox = false;
                                Swal.fire(
                                    'Error',
                                    'This coupon set is currently used in active campaign and can not be deleted',
                                    'error'
                                )
                            })
                            .then(() => {
                                this.loading = false
                            })
                    }else{
                      this.isConfBox = false;
                    }
                })

            },

            valueChange() {
                this.loading = true
                this.showAlert = this.activeOption == this.couponValue;
                this.makeRequest('get', `/account/shop/widget/coupon-package/${this.couponValue}/coupons`)
                    .then((response) => {
                        this.coupons = response.data
                        this.uploadedCount = response.data.length
                        this.activeCount = 0
                        this.usedCount = 0
                        response.data.forEach((el) => {
                            if (el.conversion_value > 0) {
                                this.usedCount += 1
                            } else {
                                this.activeCount += 1
                            }
                        })
                    })
                    .catch(() => {
                        this.showError()
                    })
                    .then(() => {
                        this.loading = false
                    })
            },

            getOptions(first = true) {
                this.options = []
                this.makeRequest('get', `/account/shop/widget/coupon-package/?allocation=${this.couponsFor.toLowerCase() === 'referral' ? 'referrer' : 'invitee'}`)
                    .then((response) => {
                        response.data.forEach(el => {
                            if (!el.multiple) {
                                this.options.push(el)

                                if (el.active === true) {
                                    this.activeOption = el.id.toString()
                                }
                            }
                        })
                        if (first) {
                            this.options.forEach(option => {
                                if (option.active === true) {
                                    this.couponValue = option.id.toString()
                                    this.valueChange()
                                    this.activeOption = option.id.toString()
                                }
                            })
                        }
                        this.loading = false
                    })
                    .catch(() => {
                        this.loading = true
                    })
            },

            deleteCoupon(couponId, index) {
                this.loading = true
                this.makeRequest('delete', `/account/shop/widget/coupon-package/${this.couponValue}/coupons/${couponId}`)
                    .then(() => {
                        this.valueChange()
                        this.coupons.splice(index, 1)
                        if (this.coupons.length === 0) {
                            this.getOptions()
                        }
                    })
                    .catch(() => {
                        Swal.fire(
                            'Error',
                            'This coupon is currently used and can not be deleted',
                            'error'
                        )
                    })
                    .then(() => {
                        this.loading = false
                    })
            }
        },
        mounted() {
            this.getOptions(true)
        }
    }
</script>
