{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}link-content{% endblock %}

{% block scripts %}
    <script>
        $('.edit-link').click(function () {
            $($(this).data('target')).toggle();
        })
    </script>
{% endblock %}
{% block tab_content %}
    <div class="row">
        {% if links|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Partner<br/>Id</th>
                        <th>First<br/>Name</th>
                        <th>Last<br/>Name</th>
                        <th>Email</th>
                        <th>Link</th>
                        <th>Card<br/>Content</th>
                        <th>MyStore<br/>Content</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{ link.referrer.id }}</td>
                            <td>{{ link.referrer.name }}</td>
                            <td>{{ link.referrer.surname }}</td>
                            <td><a href="mailto:{{ link.referrer.email }}">{{ link.referrer.email }}</a></td>
                            <td>
                                {% if link.shop.urlName and link.nickname and link.slug %}
                                <a href="{{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}">[link]</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if link.card %}
                                    {{ link.card.adminContentUpdates }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if link.storeCard %}
                                    {{ link.storeCard.adminContentUpdates }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if link.card or link.storeCard %}
                                    <button type="button" class="btn btn-primary edit-link"
                                            data-target="#card-{{ link.id }}">See<br/>Content
                                    </button>
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none;" id="card-{{ link.id }}">
                            <td colspan="8">
                                <div class="col-md-12">
                                    {% if link.card %}
                                        <h4>Card generator</h4>
                                        <admin-referrer-link-content-card
                                                link-id="{{ link.id }}"
                                                csrf="{{ csrf_token('card_content') }}"
                                                title="{{ link.card.title }}"
                                                subtitle="{{ link.card.subtitle }}"
                                        >
                                        </admin-referrer-link-content-card>
                                    {% endif %}
                                    {% if link.storeCard %}
                                        <h4>MyStore banner</h4>
                                        <admin-referrer-link-content-store-card
                                                link-id="{{ link.id }}"
                                                csrf="{{ csrf_token('store_card_content') }}"
                                                title="{{ link.storeCard.title }}"
                                                description="{{ link.storeCard.description }}"
                                        >
                                        </admin-referrer-link-content-store-card>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ knp_pagination_render(links) }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no links to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
