<template>
  <div class="login-form">
    <form action="/login" method="post" novalidate="novalidate" role="login">
      <div>
        <div class="form-group">
          <label>Email</label>
          <input id="username" class="form-control" name="_username" type="text" value="">
          <span class="fa fa-user"></span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input id="password" class="form-control" name="_password" type="password">
          <span class="fa fa-lock"></span>
        </div>
        <button class="btn btn-third btn-block" type="submit">Login</button>
        <span class="modal-form-bottom"
              style="margin: 10px 0; color: rgb(18, 18, 18); display: block; line-height: 25px; font-size: 14px; width: 100%; font-weight: 400; text-align: center;">
              Don't have an account yet?<br/>
              <button class="btn btn-four" type="button" @click="referrerClick"><b>Referral Partner</b></button>
            </span>
      </div>
      <div v-if="redirectTo !== ''">
        <input :value="`${redirectTo}?success=login`" name="_target_path" type="hidden">
        <input :value="`${redirectTo}?error=${errorMessage}`" name="_failure_path" type="hidden">
      </div>
    </form>
  </div>
</template>

<script>
export default {
    props: {
      redirectTo: {
        type: String,
        default: ''
      }
    },
    data:() => ({
      errorMessage: 'Failed login attempt. Try again.'
    }),
    methods: {
      referrerClick() {
        this.$emit('referrer-click')
      }
    },
}
</script>
