<template>
  <div class="login-form register-page">
    <form method="post" name="register_referrer" novalidate="novalidate" role="login" action="/register/referrer">
      <input id="register_referrer__token" name="register_referrer[_token]" type="hidden"
             :value="token">
      <input :value="redirectTo" name="_target_path" type="hidden">
      <div>
        <div class="form-group ">
          <label>First Name</label>
          <input id="register_referrer_name" aria-invalid="true" class="form-control user-error" name="register_referrer[name]" required="required" type="text">
          <span class="fa fa-user"></span>
        </div>
        <div class="form-group ">
          <label>Last Name</label>
          <input id="register_referrer_surname" class="form-control" name="register_referrer[surname]" required="required" type="text">
          <span class="fa fa-unlock-alt"></span>
        </div>
        <div class="form-group ">
          <label>Email</label>
          <input id="register_referrer_email" class="form-control" name="register_referrer[email]" required="required" type="email">
          <span class="fa fa-envelope"></span>
        </div>
        <div class="form-group ">
          <label>Password</label>
          <input id="register_referrer_plainPassword_first" class="form-control" name="register_referrer[plainPassword][first]" required="required" type="password">
          <span class="fa fa-lock"></span>
        </div>
        <div class="form-group ">
          <label>Confirm Password</label>
          <input id="register_referrer_plainPassword_second" class="form-control" name="register_referrer[plainPassword][second]" required="required" type="password">
          <span class="fa fa-lock"></span>
        </div>
        <div class="form-group">
          <div class="DPA--wrapper">
            <div class="DPA-info DPA" v-if="!more">
              <div><b>Data Protection Act</b></div>
              <div>The controller of your personal data is ValueLink, with a
                registered office at {City}.<br>Please see more comprehensive
                information <span id="openDPA" @click="showMore">here</span></div>
            </div>
            <div class="DPA-content DPA show" v-if="more">
              <div><b>Data Protection Act</b></div>
              <div>Lorem Ipsum is simply dummy text of the printing and
                typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text
                ever since the 1500s, when an unknown printer took a galley of
                type
                and scrambled it to make a type specimen book. It has survived
                not
                only five centuries, but also the leap into electronic
                typesetting,
                remaining essentially unchanged. It was popularised in the
                1960s
                with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software
                like
                Aldus PageMaker including versions of Lorem Ipsum.
              </div>
            </div>
          </div>
          <div class="checkbox" style="margin-top: 20px;">
            <label>
              <input id="acceptDPA" name="register_referrer[termsAndCondition]" type="checkbox" @change="changeTerms">
              I hereby agree to
              <a href="#" style="color: rgb(25, 118, 210); white-space: pre;">Terms &amp; Conditions</a>
              and Data Protection Act of ValueLink
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn-primary register-btn" :class="{
        disabled: !accepted
      }" :disabled="!accepted" style="width: 100%;" type="submit">
        Register Now
      </button>
      <span class="modal-form-bottom"
            style="margin: 35px 0px 10px; color: rgb(18, 18, 18); display: block; line-height: 1; font-size: 14px; width: 100%; font-weight: 400; text-align: center;">
                Already have an account? <a id="hasAccLogin" href="#" @click="loginClick"><b>Log in</b></a>
                now!
          </span>
    </form>
  </div>
</template>

<script>
export default {
    props: {
      token: {
        type: String,
        required: true
      },
      redirectTo: {
        type: String,
        default: ''
      }
    },
    data: () => ({
      accepted: false,
      more: false,
    }),
    methods: {
      loginClick() {
        this.$emit('login-click', 'login')
      },
      showMore() {
        this.more = true
      },
      changeTerms() {
        if (document.getElementById('acceptDPA').checked) {
          this.accepted = true
        } else {
          this.accepted = false
        }
      }
    },
}
</script>
