<template>
    <sidebar
        :activeElement="activeElement"
        v-bind="{
            elements: [
                {
                    name: 'Home',
                    url: '/account/referrer',
                },
                {
                    name: 'Analitycs',
                    url: '#analitycs',
                    childrens: [
                        {
                            name: 'Income',
                            url: '/account/referrer/income'
                        },
                        {
                            name: 'Referral Sales',
                            url: '/account/referrer/purchases'
                        },
                    ]
                },
                {
                    name: 'Partner Programs',
                    url: '/account/referrer/programs'
                },
                {
                    name: 'Tools',
                    url: '#tools',
                    childrens: [
                        {
                            name: 'My Store',
                            url: '/store/me'
                        },
                        {
                            name: 'Cards',
                            url: '/account/referrer/card'
                        },
                        {
                            name: 'Set of Cards',
                            url: '/account/referrer/cards-set'
                        },
                        {
                            name: 'Retargeting',
                            url: '/account/referrer/short-links'
                        },
                    ]
                },
                {
                    name: 'Coupons',
                    url: '/account/referrer/coupons'
                },
                {
                    name: 'Billing',
                    url: '#billing',
                    childrens: [
                        {
                            name: 'Payouts',
                            url: '/account/referrer/payouts'
                        },
                        {
                            name: 'Pending Rewards',
                            url: '#'
                        },
                        {
                            name: 'Decilned Rewards',
                            url: '#'
                        },
                    ]
                }
            ]
        }"
    >

    </sidebar>
</template>

<script>
    import Sidebar from "../Sidebar";
    export default {
        components: {Sidebar},
        props: {
            activeElement: {
                type: String,
                required: true
            }
        }
    }
</script>