{{ form_start(form) }}
    {{ form_errors(form) }}
<link href="https://fonts.googleapis.com/css?family=Laila:400,700|Lato:400,400i,700,700i|Montserrat:400,400i,700,700i|Open+Sans:400,400i,700,700i|Oswald:400,700|Raleway:400,400i,700,700i|Roboto:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i|Srisakdi:400,700&amp;subset=latin-ext" rel="stylesheet">

{% if referrerLink is defined and referrerLink.destinationUrl is defined %}
    {% set clipboardText %}
        {% include 'account/referrer/card/iframe.html.twig' with {referrerLink: referrerLink} %}
    {% endset %}

    <referrer-edit-card
        v-bind="{
            referrerLink: {{ referrerLink.id }},
            link: '{{ referrerLink.destinationUrl }}',
            discountURL: '{{ path('account_referrer_shop_link_show', {'shop': item.userShop.shop.id, 'isReffered': '1' }) }}',
            discount: '{{ form.vars.value.subtitle }}',
            referrerLinkCard: {{ referrerLinkCard|json_encode }},
            clipboard: {{ clipboardText|json_encode }},
            token: '{{ csrf_token('referrer_link_card') }}'
        }"
    ></referrer-edit-card>
    {{ form_end(form, {render_rest: false}) }}
{% else %}
    <div class="mt-15">
        <alert-bag
            v-bind="{
                messageList: ['Not found destination URL for this link.'],
                type: 'danger'
            }"
        ></alert-bag>
    </div>
{% endif %}