<div style="position: relative; overflow: hidden;">
    {#<p>{{ referrerLink.id }}</p>#}
    <iframe id="marfilCard-{{ referrerLink.id }}" style="transform-origin:0 0;" scrolling="no" frameBorder="0" width="{{ referrerLink.card.width }}" src="{{ asset(url('referrer_link_card', {referrerLink: referrerLink.id}), null, 1) }}"></iframe>
    <script data-iframeid="marfilCard-{{ referrerLink.id }}" src="{{ url('home_index') }}js/card/card.js"></script>
</div>
