{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}Cards{% endblock %}

{% block head %}
    <style>
        .card-list-card-preview {
            padding:5px;
            position:relative;
            overflow:hidden;
            height:150px;
        }

        .card-list-card-preview canvas {
            width: 100% !important;
            height: auto !important;
        }
    </style>
{% endblock %}

{% block tab_content %}
    <div class="calendar-content" style="padding: 20px 0;" id="stats">
        {% set now = currentPeriod.start.copy() %}
        {% set prev = currentPeriod.start.copy().subDay() %}
        {% set next = currentPeriod.end.copy().addDay() %}
        <a class="calendar-i-prev {% if prev < app.user.createdAt %}inactive-element{% endif %}"
           href="{{ path('account_referrer_card_index', {year: prev.year, month: prev.month}) }}">
            <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
        </a>
        <div class="calendar-month">
            <span class="current-month">{{ now.format('F') }}</span> <span
                    class="current-year">{{ now.year }}</span>
        </div>
        <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}"
           href="{{ path('account_referrer_card_index', {year: next.year, month: next.month}) }}">
            <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
        </a>
    </div>
    <referrer-shop v-bind="{
        customLinks: {{ customLinks|json_encode }}
    }"></referrer-shop>
    {% if referrerLinks|length > 0 %}
        <table class="table table-classic cards-links-list-page">
            <thead>
            <tr>
                <th>AFFILIATE LINK</th>
                <th class="actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for referrerLink in referrerLinks %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ url('home_reflink_card', { 'shopName': referrerLink.shop.urlName, 'nickname': referrerLink.nickname, 'reflinkSlug': referrerLink.slug }) }}">
                            {{ url('home_reflink', { 'shopName': referrerLink.shop.urlName, 'nickname': referrerLink.nickname, 'reflinkSlug': referrerLink.slug }) }}
                        </a>
                    </td>
                    <td class="actions">
                        <button type="button" class="btn btn-four card-edit-button preview">Preview</button>
                        <a class="btn btn-four card-edit-button" href="{{ path('account_referrer_shop_card_edit', {shop: referrerLink.shop.id, referrerLink: referrerLink.id}) }}">Edit</a>
                    </td>
                </tr>
                <tr class="preview-card-dropdown">
                    <td colspan="2">
                        <div class="card-list-card-preview"
                             data-url="{{ path('referrer_link_card', {referrerLink: referrerLink.id}) }}"></div>
                    </td>
                </tr>
                {% if form is defined and editedReferrerLink == referrerLink %}
                    <tr>
                        <td colspan="3">
                            {% include 'account/referrer/card/form.html.twig' with {
                                form: form,
                                referrerLink: referrerLink,
                                ogImage: ogImage
                            } %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            There are no Cards to show.
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.card-edit-button.preview').each(function () {
            var $item = $(this)
            $item.click(function(e) {
                e.preventDefault()
                var prevContainer = $item.parent().parent().next()
                if (prevContainer.hasClass('show')) {
                    prevContainer.removeClass('show')
                    $item.removeClass('red').text('Preview')
                } else {
                    prevContainer.addClass('show')
                    $item.addClass('red').text('Close')
                }
                return false;
            })
        })
        $('.card-list-card-preview').each(function () {
            var $item = $(this);
            var iframe = document.createElement('iframe');
            iframe.src = $item.data('url');
            iframe.onload = function (e) {
                html2canvas(iframe.contentDocument.documentElement).then(function (canvas) {
                    document.body.removeChild(iframe);
                    canvas.style.width = '100%'
                    canvas.style.height = 'auto'
                    canvas.style.objectFit = 'contain'
                    $item.append(canvas)
                });
            };
            iframe.style.cssText = 'position: absolute; opacity:0; z-index: -9999; width: 100%;';
            document.body.appendChild(iframe);
        });
    </script>
{% endblock %}
