{% extends 'layouts/global.html.twig' %}

{% block global %}
    <referrer-preview-card
        v-bind="{
            referrerLink: {{ referrerLink.id }},
            link: '{{ referrerLink.destinationUrl }}',
            discount: '{{ discount }}',
            referrerLinkCard: {{ referrerLinkCard|json_encode }},
        }"
    ></referrer-preview-card>
{% endblock %}