.btn{
  &[disabled], &.disabled{
    opacity: 1;
    &.btn-primary{
      background-color: #6AA6E2 !important;
      border-color: #6AA6E2 !important;
      &:hover{
        background-color: #6AA6E2 !important;
      }
    }
  }
}
