.tab-pane {
  table {
    @media (max-width:767px){
      table-layout:fixed;
    }

    thead {
      @media (max-width:767px){
        display:none;
      }
    }
    td {
        @media (max-width:767px){
          display:block;
        }
      }
  }

  .calendar-view .calendar-event-info {
    thead {
      @media (max-width:767px){
        display:table-header-group;
      }
    }
    td {
      @media (max-width:767px){
        display:table-cell;
      }
    }
  }
}

@media (max-width:767px){
  #shops-list {
    td {
      display: table-cell !important;

      &:last-child {
        display:none !important;
      }
      &:nth-last-child(2) {
        min-width: 100px;
      }
    }
    th:last-child {
      display: none;
    }
    tr:first-child {
      display:table-row !important;
    }
    thead {
      display:table-header-group !important;
    }
  }
}


.card-preview {
  background-color: #fff;
  height: 200px;
  max-width: 100%;
  overflow: auto;
  .card-body {
    border: 1px solid black;
    transform-origin: 0 0;
    width: 500px;
    *{
      cursor: move;
      user-select: none;
    }
  }
}

.card-body{
  background: #fff;
  position: relative;
  height: 100%;
  margin: 0;
  h1{
    font-size: 30px;
  }
  *{
    display: inline-block;
    position: relative;
    margin: 0;
  }
}

.referrer-cards__cookies{
  position: absolute;
  right: 0;
  top: 15px;
  font-weight: bold;
}


.card-list-card-preview{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.table-cards{
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  .btn-primary{
    background: transparent!important;
    color: #1976D2!important;
  }
}

.table-classic{
  thead{
    background: transparent;
    th{
      color: #9a9a9a!important;
    }
  }
  tbody{
    background: transparent;
    border: none;
    td{
      color: #1976D1;
      a{
        text-decoration: underline!important;
        color: #1976D1;
      }
    }
  }
}

.subsection-entry{
  margin-top: 35px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  h4{
    margin: 0;
  }
  &:before{
    content: '';
    height: 2px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1976D1;
  }
}

.edit-card {
  //position:relative;

  .card-editor{
    background: #f8f8f8;
    width: 100%;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:auto;
    position:relative;

    &.zoomed {
      display:block;
    }
  }

  &-height {
    display:none;
  }

  &-aspect_ratio {
    &-block {
      input {
        display:none;

        &[checked] + span {
          background-color: #6ad300 !important;
          border-color: #6ad300 !important;
          color: #fff !important;
        }
      }
    }
  }
}

label.upload-image-placeholder, .background-color-picker {
  background: rgba(0,0,0, 0.1) !important;
  color: #fff;
  font-size: 90px;
  height: 150px;
  line-height: 150px;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 15px;
  display:block;
}

.card-editor-preview{
  margin:0 auto;
  position:relative;
  outline: 1px solid lightgrey;
  outline-offset:10px;
  overflow:hidden;

  &-container {
    position:relative;
    transform-origin: left top;
    position:absolute;
    left:0;
    top:0;
  }

  > *:hover {
    .card-editor-preview-toolbar {
      opacity:1;
      visibility:visible;
      top: initial !important;
      //top: -28px;
    }
  }

  &-toolbar {
    position: absolute;
    right: -99px;
    width: 102px;
    top:40px;
    background: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 9px 0px rgba(0,0,0,0.2);
    visibility:hidden;
    opacity:0;
    // transition:0.2s ease all;
    z-index:100;

    > * {
      display:block;
      font-size:22px;
      width:50%;
      height:33px;
      float:left;
      line-height:35px;

      &:first-child {
        margin-top:0;
      }

      &:last-child {
        margin-bottom:0;
      }
    }
  }

  img#cardBackgroundImage {
    z-index:0;

    &:hover {
      & + .background-image-toolbar {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .background-image-toolbar {
    right: 15px;
    bottom: 15px;
    top: inherit;
  }

  .background-image-toolbar:hover {
    opacity:1;
    visibility:visible;
  }

  .ui-draggable {
    cursor:pointer;
    position:absolute !important;
  }

  .bigger-slogan {
    color:#fff;
    font-size: 25px;
    line-height:35px;
    padding:10px;
    white-space:nowrap;
    z-index:1;
  }

  .smaller-slogan {
    color:#fff;
    font-size:25px;
    line-height:35px;
    padding:10px;
    white-space:nowrap;
    z-index:1;
  }

  .text1-slogan {
    color:#fff;
    font-size:20px;
    line-height:35px;
    padding:10px;
    white-space:nowrap;
    z-index:1;
  }

  .text2-slogan {
    color:#fff;
    font-size:15px;
    line-height:35px;
    padding:10px;
    white-space:nowrap;
    z-index:1;
  }

  .social-icons {
    white-space:nowrap;
    z-index:1;
    display:none;

    .card-editor-preview-toolbar {
      width:31px;
      right: -30px !important;
    }

    &:hover {
      .card-editor-preview-toolbar {
        //top:-3px;
      }
    }

    &.show {
      display:block;
    }

    &.wrap {
      white-space: pre-wrap;
      display:block;
    }

    .social-icon {
      display:inline-block;
      margin-bottom:10px;

      &:last-child {
        margin-right:0;
      }

      i {
        color:#fff;
        margin-top:0;
      }
    }
  }
}

.card-editor-actions{
  background: #dfdfdf;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (max-width:767px){
    flex-direction:column;
    flex-basis:100%;
  }

  .card-editor-zoom {
    a {
      @media (max-width:767px){
        width:100%;
        margin-bottom:10px;
      }
    }
  }

  .card-editor-reset {
    a {
      @media (max-width:767px){
        width:100%;
        margin-bottom:10px;
      }
    }
  }

  > div{
    flex-basis: 33.333333%;
    text-align: center;

    &:first-child {
      > * {
        display:none !important;
      }

      &.active > * {
        display: inline-block !important;
      }
    }

    @media (max-width:767px){
      width:100%;
      text-align:left;
    }

    &:first-child {
      @media(max-width:767px){
        display:none;
      }
    }

    &:last-child{
      text-align: right;
    }
  }
}

.social-icons{
  display: flex;
  align-items: center;

  @media (max-width:767px){
    display:block;
  }

  .facebook {
    a {
      background: #4267B2
    }
  }

  .twitter {
    a {
      background: #2AAAE0;
    }
  }

  .google-plus {
    a {
      background: #DC483C;
    }
  }

  .linkedin {
    a {
      background: #0077B5;
    }
  }

  .linkedin {
    a {
      background: #0077B5;
    }
  }

  .whatsapp {
    a {
      background: #25D366;
    }
  }

  .social-icon{
    margin-right: 15px;
    font-size:19px;

    @media (max-width:767px){
      display:inline-block;
    }

    a {
      font-size: 30px;
      padding: 5px;
      border-radius: 5px;
      width: 48px;
      display: inline-block;
      height: 48px;
      text-align: center;
      line-height: 39px;

      i {
        color:#fff;
      }
    }
  }
  .social-radio-group {
    display: inline-block;
    > div {
        > div {
          display: inline-block;
          margin-right: 13px;
          margin-top: 0;
          margin-bottom: 0;
        }
    }
  }
}

label.type_badge {
  background: #1976D2;
  color: #fff;
  padding: 5px;
  position: absolute;
  left: 18px;
  font-size: 13px !important;
  top: 4px !important;
  border-radius: 15px;
  width: 150px !important;
  text-align: center;
  height: 28px !important;
  line-height: 17px !important;
}

.edit-card-aspect_ratio-block span {
  width: 64px;
  padding:8px;
  @media screen and (max-width: 1024px) {
    width: 45px;
    padding: 4px;
  }
}

.card-background > p {
  line-height:18px;

  &:first-child {
    padding-left:0;
  }

  &:nth-child(2) {
    padding-left:10px;
  }

  &:nth-child(3) {
    padding-left:10px;
  }

  &:nth-child(4) {
    padding-left:10px;
  }
}

.card-background-list{
  padding:5px 0;
  clear:left;

  .divider {
    border-right:1px solid lightgray;
  }

  > div {
    @media (max-width:767px){
      margin-bottom:15px;
    }

    > * {
      border: 1px solid rgba(0,0,0,0.15) !important;
      box-shadow: 0px 22px 12px -18px rgba(0,0,0,0.2);
    }
  }

  .card-background-item {
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    cursor:pointer;
    background-size:cover;
    &.active{
      border: 2px solid #2ecc71 !important;
    }
    &.card-background-item--upload {
      label {
        width: 50px;
        position: absolute;
        right: 23px;
        z-index: 1;
        opacity: 1;
        font-size: 31px;
        height: 50px;
        line-height: 50px;
        top: 10px;
      }
    }
  }

  .card-background-item-own{
    background: #f6f6f6;
    border-color: lightgray;
  }

  #background-picker-container {
    position: absolute;
    top: 50px;
    left: -8px;
    background: #F8F8F8;
    opacity:0.4;
    transition:0.2s ease all;
    visibility:hidden;

    &.active {
      top: -22px;
      opacity:1;
      visibility:visible;
    }
  }
}

.card-edit-footer{
  margin-top: 15px;
  border-top: 1px solid lightgray;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-wrap: wrap;

    > div,
    > .btn {
      width: 100%;
    }

    > div {
      margin-bottom: 15px;
    }
  }
}

.customize-row{
  margin-bottom: 15px;

  > div {
    @media (max-width:767px){
      margin-top:15px;
    }
  }
}

body.dialog_open::after {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 9999;
  right: 0;
  bottom: 0;
}

span#zoomLvl {
  margin-left:10px;
  vertical-align:middle;
}

.card-dialog-content {
  display: none;
  text-align: center;
  min-height: 0 !important;
  z-index: 99999;
  background: #1976D2;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 12px 1px rgba(0,0,0,0.2);

  h4 {
    color:#fff;
  }

  .ui-dialog-titlebar {
    display:none;
  }
}

.changeColorContainer {
   width:196px;
   position:absolute;
   opacity:0;
   margin-top:50px;
   visibility:hidden;
   z-index:100;
   // transition:0.2s ease all;

    .config_content {
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 21px 1px rgba(0,0,0,0.5);
    }

    a[href="#close"]{
      background: #fff;
      box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.5);
      width: 25px;
      display: inline-block;
      height: 25px;
      border-radius: 100%;
      text-align: center;
      line-height: 25px;
    }

   &.show {
     opacity: 1;
     margin-top: 0;
     visibility: visible;
   }
 }

.changeSizeContainer {
  width:240px;
  position:absolute !important;
  opacity:0;
  margin-top:50px;
  visibility:hidden;
  background: #fff;
  padding: 15px;
  border-radius: 8px;

  .config_content {
    background: #fff;
  }

  a[href="#close"]{
    background: #fff;
    box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.5);
    width: 25px;
    display: inline-block;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    margin-bottom:25px;
    position: absolute;
    left: -10px;
    top: -10px;
  }

  &.show {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }
}

.changeFontFamilyContainer {
  width:240px;
  position:absolute !important;
  opacity:0;
  margin-top:50px;
  visibility:hidden;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  z-index:100;

  .ui-selectmenu-button.ui-button {
    width:100%;
  }

  a[href="#close"]{
    background: #fff;
    box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.5);
    width: 25px;
    display: inline-block;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    margin-bottom:25px;
    position: absolute;
    left: -10px;
    top: -10px;
  }

  &.show {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }
}

#changeBackgroundSize {
  position: static !important;
  margin: 0;
  visibility: visible;
  opacity: 1;
  display:inline-block;
  vertical-align: middle;
  width:140px;
  z-index:10;

  .config_content {
    box-shadow:none;
  }
}

a.removeBackgroundImg {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none !important;
}

img.shop-logo {
  display:none;
}

.card-editor-preview img.shop-logo {
  display:block;
}

.card-editor-preview div.shop-logo {
  .card-editor-preview-toolbar {
    width:31px;
    right: -31px !important;
  }

  &:hover {
    .card-editor-preview-toolbar {
      //top:0px;
    }
  }
}
