.companylinks{
    .tab-content{
        padding: 0;
        margin-left:0;
    }
    table{
        text-align: center;
        th{
            text-align: center;
        }
        .rewardlink{
            position: relative;
            .btn{
                display: none;
                width: auto;
                height: 20px;
                padding: 0;
            }
            &:hover{
                .btn{
                    display: inline-block;
                    padding: 0 15px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                span{
                    visibility: hidden;
                }
            }
        }
    }
    .companylink{
        &__entry{
            text-align: center;
            border-top: 1px solid lightgray;
            margin:15px 0;
            word-break: break-word;
            .btn{
                margin-top: 15px;
            }
        }
    }

    .linkgenerator{
        padding: 15px;
        border: 1px solid lightgray;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius:10px;
        .form-group{
            display: flex;
            flex-wrap: wrap;
            > input{
                width: 50%;
                border-left: none;
                border-radius: 0 10px 10px 0;
            }
            .input-group{
                width: 50%;
            }
            label{
                width: 100%;
            }
            span{
                font-size: 14px;
                align-self: center;
                padding: 0;
                margin-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &__buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            .btn{
                margin: 5px;
            }
            @media (max-width: 768px){
                flex-wrap: wrap;
            }
        }
        &__social{
            display: flex;
            font-size: 36px;
            div{
                margin:0 5px;
            }
        }
        @media (max-width: 768px){
            .input-group.is-long{
                display: block;
                width: 100%;
                span{
                    line-height: 34px;
                    display: block;
                    width: 100%;
                    border: 1px solid #ccc;
                    margin-bottom: 5px;
                    overflow: scroll
                }
            }
        }
        .input-group.is-long{
            width: 100%!important;
        }
    }
}

.couponCreateWrapper {
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    .checkbox{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.couponCompany{
    max-width: 475px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-top: 15px;
    input{
        border: 0;
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
}
