.company-stats{
  overflow: hidden;
  margin: 30px auto 0;
  float: none;

  &:before {
    position: absolute;
  }

  .page-title {
    h3 {
      color: #1976d2;
    }
  }

  .col-md-15{
    width: 100%;
    padding: 0;

    .btn{
      cursor: default;
      white-space: normal;
      display: flex;
      align-items: center;
      padding: 15px 10px;
      flex-direction: column;
      height: 100%;

      img{
        max-width: 35px;
      }
      .stats-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        @media screen and (max-width: 1112px) {
          justify-content: flex-start;
        }

        @media #{$small-and-down}{
          padding-left: 15px;
          text-align: center;
          width: auto;
          margin-right: 0;
          flex: 0;
          min-width: 172px;
          flex-direction: column;
          align-items: center;
        }

        div{
          font-size: 22px;
          &.title {
            color: #1976d2;
            margin: 10px 0;
            font-weight: bold;
            @media screen and (max-width: 768px) {
              font-size: 19px;
              min-height: auto;
            }
            @media #{$small-and-down}{
              margin: 0;
              text-align: center;
            }
          }
        }
        .stats-title{
          text-align: center;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase;
          width: 100%;
          color: #9a9a9a;

          @media #{$small-and-down}{
            text-align:center;
          }
        }
      }
    }
  }
}

.income-title{
  padding-left: 0!important;
  padding-right: 0!important;
}
