.discount-share {
  &__content {
    width: 500px;
    margin: 0 auto;
    background: #f8f8f8;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
    text-align:center;
    margin-top: 10%;

    @media #{$small-and-down}{
      width:90%;
    }

    h1 {
      margin-top: 0;
      font-size: 24px;
      font-weight: bold;
      margin-bottom:25px;
    }

    p {
      margin:0;
    }

    &__description {
      margin: 23px 0;
    }
  }
  &__marked {
    @mixin marked($color) {
      padding: 5px 25px;
      display: inline-block;
      font-size: 16px;
      border-radius: 10px;
      background-color:$color;

      //@media #{$small-and-down}{
      //  width:100%;
      //}
    }

    &--yellow {
      @include marked(#faebcc);
    }

    &--blue {
      @include marked(#d9edf7);
    }
  }
  &__text {
    &--bigger {
      font-size: 16px;
    }
  }
  &__input {
    width: 60%;
    text-align: center;
    margin-bottom: 35px;
    height: 38px;
    margin:0 auto;

    @media #{$small-and-down}{
      width:100%;
    }
  }

  a.btn {
    @media #{$small-and-down}{
      width:100%;
    }
  }
}