.custom-form{
  .form-group {
    margin-bottom: 0;
    .form-items {
      display: inherit;
      justify-content: center;
      position: relative;
    }

    label {
      color: #384a5e;
      font-size: 16px;
      font-weight: 500;
    }

    input, textarea {
      -moz-user-select: none;
      background: #f5f6f7;
      border: none;
      color: #555555;
      height: 48px;
      padding: 16px 20px;
      position: relative;
      text-align: left;
      width: 100%;
      border-radius: 0;
      &:focus { outline: none; }
      &::-webkit-input-placeholder { color: #555555; }
      &::-moz-input-placeholder { color: #555555; }
      &::-ms-input-placeholder { color: #555555; }
    }

    textarea{
      resize: none;
      height: 140px;
    }

    select {
      height: 52px;
      border-radius: 0px;
      background: #f5f6f7;
      border: none;
      position: relative;
      option {
        background: #f5f6f7;
        padding: 5px 15px;
      }
    }

    button[type=submit] {
      background: #3f77fa;
      border: medium none;
      color: #ffffff;
      font-size: 18px;
      height: 45px;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      padding: 0 20px;
      &:hover {
        background: #3f77fa;
        cursor: pointer;
      }
    }

    .form-single {
      position: relative;
      margin-bottom: 15px;
    }

    .down-icon {
      position: absolute;
      bottom: 22px;
      right: 28px;
      content: "";
      z-index: 99;
      font-size: 16px;
    }
  }
}
