@for $i from 1 through 50{
  .m-#{$i}{
    margin: #{$i}px;
  }
  .mt-#{$i}{
    margin-top: #{$i}px;
  }
  .mb-#{$i}{
    margin-bottom: #{$i}px;
  }
  .ml-#{$i}{
    margin-left: #{$i}px;
  }
  .mr-#{$i}{
    margin-right: #{$i}px;
  }
  .p-#{$i}{
    padding: #{$i}px;
  }
  .pl-#{$i}{
    padding-left: #{$i}px;
  }
  .pr-#{$i}{
    padding-right: #{$i}px;
  }
  .pt-#{$i}{
    padding-top: #{$i}px;
  }
  .pb-#{$i}{
    padding-bottom: #{$i}px;
  }
}

.display-block{
  display: block;
}

.display-flex{
  display: flex;
}

@each $background-color in ('white' #fff, 'black' #000, 'grey' #f8f8f8) {
  $name: nth($background-color, 1);
  $color: nth($background-color, 2);
  .bg-#{$name} {
    background-color: $color;
  }
}

.w100p {
  width: 100%;
}

.wspace-pre {
  white-space: pre;
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.lh-1x2 {
  line-height: 1.2;
}