/*
 * Widget icon editor
 */
$primaryColor: #fff;
$secondColor: #007bff;
$textColor: #336;
$gutter: 10px;
$mobileBreakPoint: 768px;
$tabletBreakPoint: 1199px;

.icon-editor {
  position: relative;
  width: auto;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  .header {
    position: relative;
    background-color: $primaryColor;
    color: $textColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: $gutter 0;
    border-bottom: 1px solid $secondColor;
    z-index: 9;

    @media (max-width: $mobileBreakPoint) {
      padding: $gutter;
    }

    nav {
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul {
        display: flex;
        align-items: center;

        li {
          &.with-range {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: $tabletBreakPoint) {
              flex-direction: column;
              & > div {
                margin-bottom: 10px;
                & > div:first-child {
                  margin-right: 5px;
                }
              }
            }

            & > div {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media (max-width: $tabletBreakPoint) {
                  align-items: flex-start;
                }
              }
            }

            label {
              font-size: .9rem;
              line-height: 1em;
              min-width: 160px;
              margin-bottom: 1px;
            }
          }

          button {
            margin: 1px 5px;
            outline: 0 !important;
            svg path {
              fill: $secondColor;
            }

            &:hover, &:active, &.active {
              background-color: $secondColor;
              svg path {
                fill: $primaryColor;
              }
            }
          }
        }
      }

      &.left {
        @media (max-width: $mobileBreakPoint) {
          display: none;
        }

        button {
          display: flex;
          svg {
            margin: 1px 3px;
          }
        }
      }

      &.right {
        ul {
          li {
            margin-left: 10px;

            &:last-child > div {
              flex-direction: column-reverse;
              margin: 0 5px;
            }

            button {
              padding: 5px 10px;
              margin: 1px 15px;
            }
          }
        }

        @media (max-width: $mobileBreakPoint) {
          display: none;
          position: absolute;
          right: 0;
          top: calc(100% + 1px);
          z-index: 10;
          background: $primaryColor;
          border-bottom: 1px solid $secondColor;
          opacity: 0;
          transition-duration: .5s;
          width: 100%;

          &.active {
            display: block;
            opacity: 1;
          }

          & > ul {
            flex-direction: column;
            li {
              box-sizing: border-box;
              width: 100%;
              margin: 0;
              padding: 10px 15px;
              justify-content: center;
              button {
                margin: 0 15px 0 0;
              }

              &:last-child {
                > div {
                  justify-content: center;
                  flex-direction: row;
                }
              }
            }
          }
        }

        @media (min-width: 1024px) {
          margin: auto 0 auto auto;
        }
      }
    }

    .mobile-menu-label, .mobile-menu-btn {
      display: none;
      margin: 0;
      @media (max-width: $mobileBreakPoint) {
        display: block;
      }
    }
    .mobile-menu-btn {
      border: 0;
      background: transparent;
      outline: 0;
      cursor: pointer;
      svg rect {
        fill: $textColor;
      }
    }

    .icons-dropdown, .background-dropdown{
      position: relative;
      .icons-dropdown__content, .background-dropdown__content{
        position: absolute;
        width: 100vw;
        max-width: 240px;
        background: #fefefe;
        color: #000;
        border: 1px solid #999;
        left: -20px;
        top: 120%;
        display: none;
        z-index: 10;

        &.active {
          display: block;
        }

        p{
          margin: 10px 5px 0;
        }

        ul {
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            box-sizing: border-box;
            width: calc(100% / 3);
            flex-basis: calc(100% / 3);
            padding: 0;
            margin: 0;
            button {
              margin: 0;
              padding: 10px;
              border: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              &:hover, &:active {
                background: #aaa;
              }
              img {
                width: 40px;
              }
            }
          }
        }

        .colors-row {
          display: flex;
          align-items: stretch;
          justify-content: center;
          padding: 10px;
          box-sizing: border-box;
          width: 100%;
          flex-direction: row;
          .color-preview {
            margin-right: 20px;
            max-width: 150px;
            width: 100%;
            min-height: 100px;
            height: auto;
          }
          .buttons {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            .color-picker-container {
              display: none;
              position: absolute;
              top: 40px;
              left: 0;
              z-index: 1;
              &.active {
                display: block;
              }

              @media (max-width: $mobileBreakPoint) {
                left: auto;
                right: 0;
              }
            }
            & > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: auto 0 0 0;
              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .background-dropdown {
      @media (max-width: $mobileBreakPoint) {
        position: static;
      }
      .background-dropdown__content {
        padding: 10px;
        max-width: 420px;

        @media (max-width: $mobileBreakPoint) {
          &.active {
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 98%;
          }
        }

        .title {
          margin: 0;
          text-align: left;
          padding: 5px 10px 0;

          @media (max-width: $mobileBreakPoint) {
            max-width: calc(100% - 34px);
          }
        }

        > button {
          margin: 0;
          display: none;

          @media (max-width: $mobileBreakPoint) {
            display: block;
          }
        }
      }
    }

  }

  .content {
    position: relative;
    width: 100%;
    flex: 1;
    background-color: #333;
    padding: 0;
    display: flex;

    .error-content {
      margin-top: 3em;
      color: $primaryColor;
    }

    iframe, .iframe-layer {
      width: 100%;
      height: auto;
      min-height: 100vh;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100vw;
      margin: 0 auto;
      transition-duration: .5s;
      z-index: 1;
      &.mobile {
        max-width: 420px;
      }
    }
    .iframe-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      touch-action: none;
      pointer-events: none;
      &.mobile {
        max-width: 420px;
        margin: 0 auto;
      }
      &.dragging {
        touch-action: inherit;
        pointer-events: inherit;
      }
    }
  }
}

/**
 * Icon styles
 */
.bell-button {
  position: absolute;
  z-index: 2;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 90px;
  padding: 3px;
  touch-action: auto;
  pointer-events: visible;
  img {
    width: 40px;
    height: auto;
  }
}

.sonar-emitter {
  border-radius: 9999px;
  background-color: inherit;
  .sonar-wave {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    height: 102%;
    border-radius: 9999px;
    background-color: transparent;
    border: 0 solid;
    z-index: -1;
    pointer-events: none;
    animation: sonarWave 2s linear infinite;
  }
}

@keyframes sonarWave {
  from {
    opacity: 1;
  }
  to {
    border-width: 32px;
    opacity: 0;
  }
}
/**
 * Icon styles - END
 */



.switch-button-control {
  display: flex;
  flex-direction: row;
  align-items: center;

  .switch-button {
    $switch-button-height: 1em;
    $switch-button-color: var(--color);
    $switch-button-border-thickness: 1px;
    $switch-transition: all 0.3s ease-in-out;
    $switch-is-rounded: true;

    font-size: 14px;
    height: $switch-button-height;
    width: calc(#{$switch-button-height} * 2);
    border: $switch-button-border-thickness solid $switch-button-color;
    box-shadow: inset 0px 0px $switch-button-border-thickness 0px
    rgba(0, 0, 0, 0.33);
    border-radius: if($switch-is-rounded, $switch-button-height, 0);

    transition: $switch-transition;

    $button-side-length: calc(
            #{$switch-button-height} - (2 * #{$switch-button-border-thickness})
    );

    cursor: pointer;

    .button {
      height: $button-side-length;
      width: $button-side-length;
      border: $switch-button-border-thickness solid $switch-button-color;
      border-radius: if($switch-is-rounded, $button-side-length, 0);
      background: $switch-button-color;

      transition: $switch-transition;
    }

    &.enabled {
      background-color: $switch-button-color;
      box-shadow: none;

      .button {
        background: white;
        transform: translateX(
                        calc(#{$button-side-length} + (2 *#{$switch-button-border-thickness}))
        );
      }
    }
  }

  .switch-button-label {
    margin-left: 5px;
    cursor: pointer;
    line-height: 1em;
    margin-bottom: 3px;
    font-size: 9px;
    font-weight: bold;
  }
}

.widget-icon form[name="widget_button"] {
  margin: 0;
}