.item-box{
  $this: &;
  $media-height: 140px;
  transition: .3s box-shadow ease-in-out;
  border-radius:10px;
  overflow: hidden;
  background:#f8f8f8;

  small {
    font-size: 13px;
    width: 100%;
    word-break: break-all;
  }

  .item-media{
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      padding-top:15px;
    }
  }
  &__content{
    padding: 20px;
    line-height: normal;
    border: 1px solid #e4e4e4;
    border-top: none;
    position: relative;
    height: calc( 100% - #{$media-height} );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media #{$small-and-down}{
      padding:20px 10px;
    }

    h4{
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 10px;
      word-break: break-all;
      a{
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  &__join{
    $size: 55px;

    line-height: $size;
    width: $size;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: -( $size / 2 );
    right: 10px;
    background-color: #1976D2;
    color: #fff;
    border-radius: $size;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    &:hover{
      color: #fff !important;
      background-color: #FFC107;
    }
  }
  &__actions{
    width:130px;
    margin:0 auto;
    margin-top: 15px;

    button, a {
      min-width:100%;
    }
  }
  &__offer{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: top;
    &__single{
      width: 50%;
      margin: 5px;
      font-size:14px;
      font-weight:bold;
      font-family: "Gill Sans";
      &__value{
        display: block;
        font-weight: bold;
        font-size:24px;
        color:rgba(0,0,0,0.6)!important;
      }
    }
  }
  &:hover{
    #{$this}{
      &__join{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

#singlewrapper .item-box {
  background:#fff;
  border:1px solid #ebeef1;
}
