.modal-login,
.modal-register,
.modal-offer,
.modal-forgot,
.modal-shareemail,
.modal-newbrand,
.modal-informdev,
.modal-signup,
.modal-siteam {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-in-out;

  .widget-title {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

    &:active {
      border: none;
    }
  }

  textarea {
    max-width:100%;;
  }

  &__box {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
    width: 85%;
    max-width: 100%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);

    @media #{$small-and-down}{
      top:50px;
    }

    .widget {
      margin-bottom: 0;
      padding-bottom: 0;
      max-width: 460px;
      margin: 0 auto;

      .login-form {
        background-color: #f4f9fd;
        .form-group {
          margin-bottom: 20px;
        }

        // height: 435px;
        >form {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          max-width: 360px;
          margin: 0 auto;

          .radio-inline {
            width: auto;
            display: inline-block;
            margin-right: 5px;

            input {
              position: static;
              height: auto;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .form-control + .fa {
      top: 36px !important;
    }
  }
}

.widget-title {
  padding:4px 0 15px 0;
  h4 {
    font-size:20px;
  }
}

.DPA{
  line-height: 1.2;
  padding: 0 30px;
  overflow: auto;
  max-height: 160px;


  &::-webkit-scrollbar-track{
    background-color: transparent !important;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 10px;
  }


  &--wrapper{
    padding: 15px 0;
    background: #dae9f9;
    //margin-right: -30px;
    //margin-left: -30px;
    max-height: 200px;
  }
}

.DPA-info{
  #openDPA{
    text-decoration: underline;
    cursor: pointer;
    color: #1976D2;
  }
}
.DPA-content{
  display: none;
}
#acceptDPA{
  top: 2px;
  height: auto;
  margin-top: 0;
  position: static;
  margin-right: 5px;
  padding:0;
}
.register-btn{
  &.disabled{
    background-color: lightgray!important;
    border: 1px solid lightgray!important;
    opacity: 1;
  }
}

.register-page{
  input[type="radio"]{
    margin-top: 0;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
  }
  &__regType{
    display: none;
    &.open{
      display: block;
    }
  }
  .radio-inline{
    width: auto;
  }
}

.modal-offer__close,
.modal-login__close,
.modal-register__close,
.modal-forgot__close,
.modal-shareemail__close,
.modal-newbrand__close,
.modal-informdev__close,
.modal-siteam__close {
  position: absolute;
  right: 35px;
  top: 5px;
  font-size: 28px;
  z-index: 99;
  padding: 5px;
  background-color: transparent;
}


.modal-login__box,
.modal-register__box,
.modal-forgot__box,
.modal-shareemail__box,
.modal-newbrand__box,
.modal-informdev__box,
.modal-siteam__box {
  width: 600px;
  // max-height: 685px;
  overflow-y: auto;

  @media #{$small-and-down}{
    max-height:100vh;
  }
}
