.btn-join {
  display: inline-block;
  width: 200px;
}
.item-desc {
  padding: 5px 40px;
}

.mystore-details__rewards-description {
  display: inline-block;
  width: 49%;
  padding: 0 10px;
  vertical-align: top;
  font-size: 14px;
  line-height: 17px;
  color:rgba(0,0,0,0.4)!important;
  margin-bottom:25px !important;
  font-weight:bold;
  font-family: "Gill Sans";

  .item-box__offer__single__value {
    margin-bottom:7px;
  }
}

_::-webkit-full-page-media, _:future, :root .marketplace__details-page .col-md-4 {
  width:33.3%;

  @media #{$medium-and-down}{
    width:100%;
  }
}

_::-webkit-full-page-media, _:future, :root .marketplace__details-page .flex-box-grid {
  @media #{$medium-and-down}{
    display:block;
  }
}

.marketplace{
  &__details-page {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top:35px;

    .btn {
      font-size:15px;
    }

    &--container {
      width:750px;

      @media #{$medium-and-down}{
        width:100%;
      }
    }

    &--single-wrap {
      background:#f8f8f8;

      > .content-top {
        display:none;
      }
    }

    h3 {
      margin-bottom:30px;
      color: rgba(0, 0, 0, 0.4) !important;
      font-size:30px !important;

      & + div {
        margin-bottom:10px;
        width: 100%;

        @media #{$medium-and-down}{
          margin-bottom:0;
        }
      }
    }

    .content.nopad h3 {
      color:rgba(0,0,0,0.6) !important;
    }

    #singleOfferDetails + div {
      margin-bottom:20px;
      display: flex;
    }
    .flex-box-grid {
      width:100%;

      @media not all and (min-resolution:.001dpcm)
      { @supports (-webkit-appearance:none) {

        .col-md-6 {
          width:49.9%;
        }

        @media #{$medium-and-down}{
          .col-md-6 {
            width:100%;
          }
        }

      }}
    }

    .btn, form {
      @media #{$medium-and-down}{
        position: static !important;
      }
    }

    .boxes.boxs {
      border-radius:10px;
      padding-bottom: 35px;
      min-height: 259px;
    }
  }

  &__item{
    position: relative;
    border-top-left-radius: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;
    &__color{
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 100%;
    }
  }
  &--content {
    background:#fff;
    padding: 10px 40px 0 40px;

    &-not-logged {
      margin-top:24px !important;
      margin-left:-15px;

      @media #{$medium-and-down}{
        margin-top:16px !important;
      }

      @media #{$small-and-down}{
        margin-top:0 !important;
        margin-left:0;
      }
    }

    .flex-box-grid {
      width:100%;

      @media not all and (min-resolution:.001dpcm)
      { @supports (-webkit-appearance:none) {

        .col-md-4 {
          width:33.29%;
        }

      }}

      @media not all and (min-resolution:.001dpcm)
      { @supports (-webkit-appearance:none) {

        @media #{$medium-and-down}{
          .col-md-4 {
            width:49.9%;
          }
        }

      }}

      @media not all and (min-resolution:.001dpcm) and (max-width:767px)
      { @supports (-webkit-appearance:none) {

        @media #{$small-and-down}{
          .col-md-4 {
            width:100%;
          }
        }

      }}

      @media #{$small-and-down}{
        display:block !important;
      }
    }
  }

  &__details-page {
    .content.nopad {
      margin: 0 -45px;
      @media screen and (max-width: 996px) {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    .item-desc.marketplace-heading{
      @media screen and (max-width: 996px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > div {
          margin: 0!important;
          margin-top: 10px!important;
        }
      }
    }
  }

  &.single-wrap > .container {
    padding: 0;
  }

  &--tabs-section {
    background:#f8f8f8;
    padding:10px 15px;
    margin: 83px 0 0 0;
    box-shadow:0 5px 10px -10px;

    & > .container {
      padding:0;
    }

    @media #{$medium-and-down}{
      margin-top:75px;
    }

    @media #{$small-and-down}{
      margin-top:0;
    }
  }

  &.header {
    .navbar-default .nav > li > a {
      padding-top:14px !important;
      padding-bottom:10px !important;
    }
  }
}

header.header--referrer {
  .marketplace {
    &--tabs-section {
      @media #{$medium-and-down}{
        margin-top: 83px;
      }

      @media #{$small-and-down}{
        margin-top:0;
      }
    }
  }

  & + .marketplace {
    @media #{$medium-and-down}{
      margin-top: 123px !important;
    }

    @media #{$small-and-down}{
      margin-top:0 !important;
    }
  }
}

.container-menu.smaller-header.admin-header {
  & + .marketplace--tabs-section {
    margin-top:0;
  }
}

.container-menu:not(.smaller-header):not(.admin-header) + .marketplace--tabs-section {
  margin-top: 0;
}

#singlewrapper {
  @media #{$medium-and-down}{
    width:100%;
  }

  h3 {
    text-align:center;
    color:#000;
    font-size:24px;
  }
}

.marketplace.header--not-logged .navbar-collapse {
  padding-right: 0;

  @media #{$small-and-down}{
    padding-left:0;
  }
}

.marketplace--content + .content-after {
  margin-left: -15px;
  width:calc(100% + 30px);
}

.marketplace__details-page .flex-box-grid:nth-child(2) {
  margin: 0 -45px;
  width: calc(100% + 90px);
  @media screen and (max-width: 996px) {
    width: 100%!important;
    margin: 0 auto!important;
  }
}

.marketplace__details-page .flex-box-grid > div:first-child .boxes.boxs {
  //margin-left: -15px;

  @media #{$medium-and-down}{
    margin-left:0;
  }
}

@media not all and (min-resolution:.001dpcm) and (max-width:992px)
{ @supports (-webkit-appearance:none) {

  @media #{$medium-and-down}{
    .marketplace__details-page .flex-box-grid > div:first-child .boxes.boxs {
      margin-left:-15px;
      min-height: 300px;
    }
  }

  @media #{$small-and-down}{
    .marketplace__details-page .flex-box-grid > div:first-child .boxes.boxs {
      margin-left:0;
    }
  }

}}

@media not all and (min-resolution:.001dpcm) and (max-width:992px)
{ @supports (-webkit-appearance:none) {

  @media #{$medium-and-down}{
    .marketplace__details-page .flex-box-grid > div .boxes.boxs {
      width:calc(100% + 30px);
      margin-left:-15px;
    }

  }

  @media #{$small-and-down}{
    .marketplace__details-page .flex-box-grid > div .boxes.boxs {
      width:100%;
      margin-left:0;
    }

  }

}}

.marketplace__details-page .flex-box-grid > div:last-child .boxes.boxs {
  margin-right: 0;
  padding-left:0;

  @media #{$medium-and-down}{
    margin-right:0;
  }
}

.modal-newbrand__box {
  max-height: calc(100vh - 200px);
}
