.box{
  &.is-small{
    padding: 20px;
    text-align: center;
    line-height: normal;
  }
}

.nonReferableLink {
  display: inline-block;
  margin: 0;
  font-size: 22px;
  font-family: "Gill Sans";
  margin-top: 0px;
  line-height: 25px;
  width:100%;

  @media #{$small-and-down}{
    font-size:23px;
  }

  a {
    color:#1976D2;
    font-size:17px;
  }
}

.your-personal-store__header {
  color: #1976D2;
  font-weight: bold;
  font-family: "Gill Sans";
  font-size: 22px;
  line-height: 40px;

  @media #{$small-and-down}{
    font-size:23px;
  }

  a {
    font-weight:normal;
    word-break: break-word;
  }
}

.nonrefferrablelinks-h {
  font-weight:bold;
  text-align:center;
  margin:15px 0;
}

.nonerefferablelink {
  .form-group {
    margin-bottom:10px;
  }
}

.mystore-edition-page {
  hr {
    margin-bottom:0;
  }
}

.mystore {
  &--referrer-header {
    padding:25px 0 10px 0;
    border-bottom:1px solid #eee;
    text-align:center;
    overflow:hidden;
    @media screen and (max-width: 776px) {
      padding-top: 0;
    }
    &__data {
      color: #1976D2;
      font-size: 22px;
      font-family: "Gill Sans";
      font-weight:bold;
      line-height:1.2;
      margin-bottom:0;

      @media #{$small-and-down}{
        position:static;
        max-width:100%;
      }
    }

    &__subheader {
      display:inline-block;
      margin-top:60px;
    }
  }
  &--shopname {
    padding:0;
  }

  &--referrable-links {
    &__header {
      padding: 15px 0 15px 0;
      font-size: 19px;
      line-height: 1;
      font-family: "Gill Sans";
      padding-top: 15px;

      @media #{$small-and-down}{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      h4 {
        font-size:15px;
      }
    }
    &__builder {
      &__preview {
        @media #{$medium-and-down}{
          //max-width:360px !important;
        }

        /*&__full-box-link {
          position:absolute;
          left:0;
          top:0;
          right:0;
          bottom:0;
          display:block;
          z-index:100;
        }*/

        &__content {
          h4 {
            font-weight:bold;
            margin-top:0;
            font-family: "Gill Sans";
            font-size: 21px;
            max-height:69px;
            overflow:hidden;
            line-height:22px;
            padding-top:5px;
            padding-bottom:5px;
            color:#000;
            margin-bottom:7px;
            word-break:initial;
            color: rgba(0, 0, 0, 0.4) !important;

            > span {
              overflow:visible;
              padding-top:8px;
            }

            @media #{$small-and-down}{
              max-height:initial;
              font-size:22px;
              margin-bottom:0;
              line-height:24px;
              padding-bottom: 0;
              margin-bottom: -7px;
            }
          }

          p {
            font-size:19px;
            max-height:169px;
            color:#000;
            font-family: "Gill Sans";
            line-height:21px;
            color:rgba(0,0,0,0.3);
            word-break:initial;
            overflow: hidden;
            margin: 0;
            padding-top: 3px;

            @media #{$small-and-down}{
              max-height:initial;
              font-size:24px;
              display:none;
            }
          }
        }

        &__img-container {
          &__change-img-button {
            width: 43px;
            height: 35px;
            position: absolute;
            right: 5px;
            top: 5px;
            background: #fff;
            border-radius: 5px;
            z-index: 1;
            text-align: center;
            visibility:hidden;
            opacity:0;
            font-size:35px;
          }
          .vue-slider {
            visibility:hidden;
            opacity:0;
            transition:0.2s ease all;
          }
          &:hover {
            > a {
              visibility:visible;
              opacity:1;
            }
            .vue-slider {
              visibility:visible;
              opacity:1;
            }
          }
        }
      }
    }
    &__row {
      &--container {
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
      }
      &--wrapper {
        @media #{$medium-and-down}{
          align-items:center;

          form {
            width:100%;
          }
        }
      }
    }
  }
}

.vue-slider {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 10px;
  width: calc(100% - 50px) !important;
  margin: auto;

  @media #{$small-and-down}{
    display:none !important;
  }

  &-rail {
    background: #fff;
    border: 1px solid #c5c5c5;
    height: 12px !important;
    border-radius: 5px;
  }

  &-dot {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;

    &-tooltip-top { display:none !important; }
  }
}

.nonrefferableLinks-btns {
  text-align:center;
}
