@mixin pricingPlan() {
  display: inline-block;
  position:relative;
  margin:0 10px;

  &.show_details {
    .back-content {
      visibility:visible;
      opacity:1;
    }
  }

  @media #{$small-and-down}{
    width:90%;
    margin:10px 0;
  }
}

.pricing-page {

  @media #{$small-and-down}{
    background-size:initial;
    background-position:top center;
  }

  .pricing, .pricing-tabs {
    margin: 0 -30px;
    padding-top: 25px;

    @media #{$small-and-down}{
      margin:0;
    }
  }

  h1 {
    color: black;
    text-align: center;
    margin: 45px 0;
    font-size: 45px;

    @media #{$small-and-down}{
      font-size:36px;
      margin:50px 0;
    }
  }
}

.pricing-tabs {
  margin-top:50px;
  text-align:center;

  .nav-tabs {
    li {
      float:none;
      display:inline-block;
      font-size:17px;
      &.active {
        a {
          color:#000;
        }
      }
      a {
        color: black;
      }
    }
  }
}

.pricing {
  text-align:center;
  padding:50px 0;
  background:#fff;
  background: #fff;
  border-top: none;
  border-bottom:none;
  display:none;

  &--header-description {
    display: block;
    margin-bottom: 30px;
  }

  .back-content {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    margin: auto;
    padding: 20px;
    opacity: 0;
    transition: 0.2s ease all;
  }

  &.active {
    display:block;
  }

  h2 {
    margin-top:0;
    margin-bottom:10px;
  }

  &--plan {
    @include pricingPlan();

    width: 200px;
    max-width: 100%;

    &--wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    &--sub {
      box-shadow:0 0 0 1px rgba(0,0,0,.1);
      padding:5px 20px;
      border-radius:20px;
      overflow:hidden;
      vertical-align:middle;
      transition:0.2s ease all;
    }

    &:hover {
      .pricing--plan--sub {
        @media screen and (min-width: 996px) {
          transform: scale(1.15);
          box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.3);
        }
      }
    }

    &:nth-of-type(3) {
      @media #{$small-and-down}{
        margin-top: 10px;
      }
    }

    &--name {
      padding: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      h3 {
        margin-top:10px;
        text-transform:uppercase;
      }
    }

    &--description {
      display:inline-block;
      width:90%;
      border:1px solid rgba(0,0,0,0.1);

      > *:not(a) {
        width:100%;
        display: flex;
        padding: 25px 25px 0 25px;
        margin-left:0;
        margin-right:0;


        @media #{$small-and-down}{
          flex-direction:column;
          margin-left:0;
          margin-right:0;
        }

        &.column {
          flex-direction:column;
          width:50%;
          margin:0 auto;

          @media #{$medium-and-down}{
            width:70%;
          }

          @media #{$small-and-down}{
            width:100%;
          }

          ul {
            background:none;
          }
        }

        > * {
          flex:1;
          padding:0 10px;

          @media #{$small-and-down}{
            margin-bottom:15px;
          }
        }
      }
    }

    &__popular {
      @include pricingPlan();

     background:#fff;

      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: -15px;
      margin-right: -15px;
      z-index: 1;
      position: relative;
      box-shadow:0 6px 20px rgba(0,0,0,0.25);

      @media #{$small-and-down}{
        padding-top:20px;
        padding-bottom:20px;
        margin-left:0;
        margin-right:0;
      }

      &__ribbon {
        background: #1976D2;
        color: #fff;
        position: absolute;
        display: block;
        top: 18px;
        right: -30px;
        width: 128px;
        padding: 9px 20px 8px;
        margin: 0;
        transform: rotate(45deg);
        height: 32px;
        z-index: 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
        line-height:15px;
        font-size:12px;
      }
    }

    &--description {
      margin-top:30px;
      &__first, &__second {
        ul {
          margin: 0;
          padding:10px;
          background:rgba(0,0,0,0.03);
          height:100%;

          li {
            list-style:none;
            padding:6px 20px;

            &:not(:last-child){
              border-bottom:1px solid rgba(0, 0, 0, 0.1);
            }

            /* &:nth-child(odd) {
              background:#EFEFF0;
            } */
          }
        }
      }
      .showdetails-button {
        display:block;
        width:40%;
        margin:0 auto;
        margin-top:25px;
        margin-bottom:25px;
      }
    }

    &--price {
      padding:20px 0 15px 0;
      border-bottom:1px solid rgba(0, 0, 0, 0.1);
      strong {
        font-size: 33px;
        font-weight: 100;

        small {
          display:block;
          font-size:17px;
        }
      }

      &--fee {
        display:block;
      }

      &--save {
        display: block;
        color: red;
        padding: 0;
        margin-bottom: 0px;
        min-height: 28px;
      }
    }

    &--try-button {
      margin:25px 0;
      &__details {
        background:#FFC107 !important;
        border-color:#FFC107 !important;
      }
    }

    &--payment-threshold {
      border-top: 1px solid #e3e6e9;
      padding-top: 15px;
      h4 {
        margin-bottom:25px;
      }
      &--step {
        text-align:left;
        margin-bottom:10px;
        > span {
          width:50%;
          padding-left:25px;
          @media #{$small-and-down}{
            width:100%;
            padding-left:0;
          }
        }
        &--sub {
          display:inline-block;
          width:50%;
          @media #{$small-and-down}{
            width:100%;
          }
          &--visual {
            &__full {
              width:100%;
              pointer-events:none;
            }
            &__fifty {
              width:50%;
              pointer-events:none;
              @media #{$small-and-down}{
                width:70%;
              }
            }
            &__twenty-five {
              width:25%;
              pointer-events:none;
              @media #{$small-and-down}{
                width:50%;
              }
            }
          }
        }
      }
    }
  }
}

#ecommerce_pricing {
  .pricing--plan {
    &--description {
      width:50%;
      display:block;
      margin:0 auto;
      margin-top:25px;

      @media #{$medium-and-down}{
        width:70%;
      }

      @media #{$small-and-down}{
        width:90%;
      }

      > *:not(a).column {
        width:100%;
        text-align:center;
        font-size:15px;

        > * {
          margin-top:0;
        }

        h3 {
          padding-left: 30px;
          font-size:22px;
        }
      }

      &__first, &__second {
        ul {
          margin:0;
          background:none;
        }
      }
    }
  }
}
