.program{
  display: flex;
  align-items: flex-start;

  @media (max-width: 479px) {
    flex-direction: column;
  }

  &-main-info{
    word-break: break-word;
    font-size: 12px;
    text-align: left;
    width: 100%;
    padding-left: 20px;

    @media (max-width: 479px) {
      text-align:center;
      padding: 20px 0 0;
    }


    @media (min-width: 992px) {
      width: calc(100% - 120px);
    }

    h2{
      margin-top: 0;
      word-break: break-word;
      font-size: 22px;
    }
  }

  &-tags{
    p{
      margin: 0;
      line-height: 1.2;
      font-size: 14px;
    }
  }

  &-stats{
    display: flex;
    align-items: center;
    .ps-row{
      i{
        margin-right: 10px;
        width: 18px;
        &:before{
          width: 18px;
        }
      }
      span{
        font-size: 14px;
      }
    }
  }

  &-actions{
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$medium-and-down}{
      margin-top:25px;
      width:100%;

      a {
        width: 100%;

        div {
          width:100%;
        }
      }
    }
  }

  &-image{
    position: relative;
    padding-top:20px;
    width: 100%;

    > img {
      width: 100%;
    }

    @media (min-width: 992px) {
      width: 120px;
    }

    &-color{
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      height: 20px;
    }
  }
}
