.referrer{
  &-cards{
    $padding-lr: 20px;
    $padding-tb: 20px;
    $this: &;
    &__header{
      border-bottom: 1px solid grey;
      #{$this}{
        &__row{
          font-weight: bold;
        }
      }
    }
    &__header, &__body{
      display: flex;
      flex-direction: column;
    }
    &__body{
      background-color: #F6F9FC;
    }
    &__row{
      display: flex;
      padding: $padding-tb $padding-lr;
      flex-direction: row;
      &--wrapper{
        display: flex;
        flex-direction: column;
      }
      &__url, &__offer-title{
        width: 40%;
      }
      &__url{
        word-break: break-all;
      }
      &__action{
        width: 20%;
        text-align: center;
        .referrer-cards__header & { text-align: center; }
      }
    }
    &__builder{
      padding: $padding-tb $padding-lr;
      background-color: #fff;
      .form-inline{
        .form-group{
          margin-right: 10px;
        }
      }
      &__customize{
        position: relative;
        &__social{
          span{
            width: 70px;
            display: inline-block;
            vertical-align: middle;
          }
          .switch{
            margin: 0;
            vertical-align: middle;
          }
        }
        &__zoom{
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          .btn{
            padding: 5px 10px;
            min-width: 15px;
            outline: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }
  &-balance{
    display: none;
    @media #{$small-and-down}{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.ov-scroll{
  height: 300px;
  overflow: auto;
}
