.mystore {
  &--edit-button {
    position: absolute;
    right: 15px;

    @media #{$medium-and-down}{
      position: static;
      float: right;
    }
  }

  &--referrer-header__data {
  /*  @media #{$medium-and-down}{
      width: 100%;
    }

    @media #{$small-and-down}{
      font-size: 26px;
    }*/
  }

  &--referrable-links {
    $padding-lr: 20px;
    $padding-tb: 20px;
    $this: &;

    &__header {
      #{$this} {
        &__row {
          font-weight: bold;
        }
      }
    }

    &__header, &__body {
      display: flex;
      flex-direction: column;
      color: rgba(0, 0, 0, 0.3);
    }

    &__row {
      display: flex;
      padding: $padding-tb $padding-lr;
      flex-direction: row;

      @media #{$medium-and-down}{
        width: 100%;
      }

      @media #{$small-and-down}{
        display: block;
        padding-left: 0;
        padding-right: 0;
      }

      &--wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        max-width: 350px;
        max-height: 350px;

        &:hover {
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
          .couponBox{
            background-color: #1976D2;
            color: white;
          }
          @media screen and (max-width: 768px) {
            box-shadow: none;
            .mystore--referrable-links__builder__preview__img-container {
              box-shadow: none;
            }
          }

        }
      }

      &__link {
        width: 70%;
        word-break: break-all;
        margin-right: 10%;
        @media #{$small-and-down}{
          width: 100%;
          margin-right: 0;
        }
      }

      &__dap {
        width: 50%;
        text-align: right;

        &--label {
          font-weight: bold;
          font-size: 18px;
          font-family: Arial;
          margin-bottom: 25px;

          @media #{$small-and-down}{
            margin-bottom: 10px;
            font-size: 15px;
            text-align: center;
          }
        }

        @media #{$small-and-down}{
          width: 100%;
          text-align: center;
          margin-top: 15px;
        }

        .referrable-links__header & {
          text-align: center;
        }
      }
    }

    &__builder {
      padding: 0;
      //background-color: #F6F9FC;
      position: relative;
      width: 100%;

      .vue-slider {
        position: relative !important;
        top: 0;
        left: 0;
        max-width: 400px;
        margin: 0 auto 12px;
      }

      &:not(.preview_page) {
        opacity: 0.3;

        &:hover {
          @media screen and (min-width: 768px) {
            background-color: #F6F9FC;
          }
        }

        &::before {
          display: block;
          content: '\f1ce';
          font-family: fontawesome;
          font-size: 60px;
          opacity: 0.7;
          width: 59px;
          height: 59px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index: 1;
          animation: fa-spin 2s infinite linear;
          text-align: center;
          line-height: 62px;
        }

        &.loaded {
          opacity: 1;

          &::before {
            display: none;
          }
        }
      }

      &__preview {
        border: 1px solid lightgrey;
        padding: 0;
        background-color: #fff;
        word-break: break-all;
        overflow: hidden;
        height: 300px;
        position: relative;

        @media #{$small-and-down}{
          width: 100%;
          height: auto;
          border: 0;
        }

        &:hover {
          h4, p, span {
            color: #FFC107 !important;
          }
        }

        .row {
          margin: 0;
        }

        &__img-container {
          height: 300px;
          overflow: hidden;
          padding: 0;
          float: left;

          width: 100%;
          border: 1px solid lightgray;
          > * {
            transform: scale(1);
            transform-origin: top left;
            height: 100%;
          }

          .placeholder {
            width: 100%;
            height: 100%;
          }
        }

        &__content {
          overflow: auto;
          float: left;
          text-align: left;
          padding: 5px 0 0 0;
          position: absolute;
          top: 5px;
          left: 10px;
          right: 10px;
          height: 100%;
          width: auto;
        }

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          &.ogImage {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: contain;
          }
        }

        &__footer {
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding: 0;
          line-height: 26px;
          font-family: "Gill Sans";
          font-size: 36px;
          width: calc(100% - 20px);
          max-height: initial;
          text-align: left;

          @media (max-width: $mobile-larger-screen) {
            overflow: hidden;
          }

          &__target-link {
            font-size: 17px;
            color: rgba(0, 0, 0, 0.3);
            font-family: "Gill Sans";
            display: inline-block;
            line-height: 1.2;
            max-width: calc(100% - 130px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: $mobile-larger-screen) {
              max-width: 100%;
              width: 100%;
            }
          }

          .badge {
            max-width: 40%;

            @media (max-width: $mobile-larger-screen) {
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }

    }
  }
}

.couponBox {
  position: absolute;
  border: 1px solid #1976D2;
  color: #1976D2;
  border-radius: 10px;
  padding: 0 15px;
  font-weight: bold;
  transition: all .33s ease;
  bottom: 20px;
  right: 0;
}

mystore--referrable-links__body {
  overflow: hidden;
}
.mystore--referrable-links__row--wrapper{
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto 10px;
  position: relative;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  border-radius: 10px;
  overflow: hidden;

  @media #{$medium-and-down}{
    max-width: 350px;
    max-height: 350px;
  }
}