.register-box{
  &__types{
    display: flex;
    flex-direction: row;
    &__single{
      height: 50px;
      background: #ededed;
      width: 100%;
      color: #000;
      border-top: 1px solid #ebeef1;
      border-left: 1px solid #ebeef1;
      border-right: 1px solid #ebeef1;
      border-bottom: none;
      margin-bottom: -1px;
      &:active, &:focus, &:hover{
        outline: 0;
      }
      &.active{
        border-color: #ebeef1;
        background-color: #f4f9fd;
      }
    }
  }
}
