.vld-overlay.is-active.is-full-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  z-index: 100;
  top: 0;

  .vld-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  overflow: hidden;

  h3 {
    font-weight: bold;
  }

  &.disabled {
    > * {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &-link {
    margin-top: 15px;
  }
}

.setcards_page {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 0 15px;

  h3 {
    font-weight: bold;
    width: 100%;
  }

  .options_section {
    margin: 5px 0 0 0;
  }

  &--back-button {
    margin-left: 5px;
    margin-bottom: 25px;

    i {
      margin-right: 10px;
    }
  }

  label {
    font-weight: normal;
  }

  .section {
    display: flex;
    margin: 15px 0;
    padding: 0;

    @media #{$small-and-down}{
      display: block;
    }

    &_header {
      font-size: 15px;
      font-weight: bold;
      color: grey;
    }
  }

  .footer_section {
    display: block;
    text-align: center;

    > div {
      &.form-group {
        position: relative;
        margin-bottom: 10px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        width: 60%;

        label {
          font-weight: bold;
        }
      }

      &:not(.form-group) {
        display: block;
        margin-left: 20px;
      }
    }

    @media #{$small-and-down}{
      display: block;
    }
  }

  .options_section {
    h4 {
      text-align: center;
      margin-top: 20px;
    }

    &_content {
      > * {
        border: none;
        border-radius: 0;
        height: 115px;
        text-align: center;
        margin-bottom: 0;

        @media #{$small-and-down}{
          height: auto;
        }

        &:last-child {
          border-right: none;
        }
      }

      .card {
        @media #{$small-and-down}{
          margin-bottom: 0;
        }
      }
    }
  }

  .card {
    border-width: 2px;

    &.disabled {
      border: 2px dashed rgba(0, 0, 0, 0.125);
    }

    &_size_slider {
      margin-top: 30px;
    }

    &_filtering {
      padding: 0 15px;
      text-align: left;

      &_content {
        margin-top: 15px;

        select {
          width: 300px;
          height: 30px;
        }
      }
    }

    &_picture_slider {
      width: 200px;
      margin: 15px 0;
    }

    &s_content {
      flex-wrap: wrap;
      max-width: 100%;
      padding-top: 10px;
    }

    &-body {
      padding: 15px;

      > * {
        display: block;
        text-align: center !important;
        margin-bottom: 10px;
      }
    }

    &_body {
      margin-bottom: 15px;
      text-align: center;

      &--shareable-link {
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        height: 30px;
        overflow: hidden;
        text-align: left;
      }

      input {
        width: 100%;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 0 15px;
        font-size: 20px;
      }

      .card.active {
        border-color: green;
      }

      .vue-slider {
        position: absolute !important;
        bottom: 5px;
        width: 90% !important;
        margin: 0 auto;
        display: none;
      }

      &:hover {
        .vue-slider {
          display: block;
        }
      }
    }

    &_box {
      height: 230px;
      overflow: hidden;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);

      .img-container {
        position: absolute;
        pointer-events: none;

        &.sample_img {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          max-width: 90%;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        .mystore--referrable-links__builder__preview__img-container__change-img-button {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-title {
      text-align: center;
      font-size: 15px;
      letter-spacing: normal;
      color: grey;
    }

    .card-link-name {
      margin-left: 50px;
      float: right;
      display: none;
    }

    p.card-link-name {
      background: rgba(0, 0, 0, 0.05);
      padding: 5px 15px;
      display: none;
    }

    &-save-button {
      margin-top: 10px;

      &.disabled {
        pointer-events: none;
      }
    }
  }

  .row_buttons {
    button {
      display: inline-block;
    }

    &_sub {
      margin-top: 15px;
    }
  }

  .ui-dialog {
    &-titlebar {
      display: none;
    }

    .ui-dialog-content {
      min-height: auto !important;
    }
  }

  .vue-slider {
    position: static !important;
    margin: 0;
    width: 100% !important;
    margin-top: 22px;
  }

  &--menu-bar {
    margin-top: 0 !important;
    background: #5C9DDD !important;
  }

  &--breadcrumbs {
    background: #71aef5;
    padding: 10px !important;
    margin-top: 0;
  }

  &--header {
    padding: 25px 0 90px 0;

    h1, p {
      color: #fff;
    }

    p {
      width: 600px;
      max-width: 100%;
      margin: 0 auto;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .header_section {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--card-name {
      width: 400px;
      display: inline-block;
      text-align: center;

      input {
        text-align: center;
      }

      @media #{$small-and-down}{
        width: 100%;
      }
    }

    &--date-generated {
      text-align: center;
      width: 100%;
      margin-top: 0;
    }
  }

  .filter-select-container {
    width: calc(33.333% - 23px);
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    @media #{$medium-and-down}{
      width: calc(33.333% - 23px);
    }

    @media #{$small-and-down}{
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    button {
      background: none;
      color: #000;
      border: 1px solid rgba(0, 0, 0, 0.125) !important;
      border-radius: 0;

      &.clear {
        display: none;
      }
    }

    .dropdown-menu {
      a {
        display: block;
        text-align: left;
      }
    }

    .v-select input[type=search], .v-select input[type=search]:focus {
      height: 30px;
    }
  }

  &--create-set-button {
    margin-bottom: 25px;

    @media #{$small-and-down}{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &--search {
    @media #{$small-and-down}{
      width: 100%;
      border-top: 1px solid #ddd;
      padding-top: 15px;

      button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;

      }
    }
  }
}

.filtering {
  &_section {
    overflow: visible;
    margin-bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    border-radius: 10px 10px 0 0;
    border-bottom-width: 1px !important;
    text-align: center;

    &--comment {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      line-height: 17px;
      float: right;
      color: #1976D2;
      margin-top: 20px;

      @media #{$medium-and-down}{
        width: 100%;
        margin-top: 15px;
      }

      @media #{$small-and-down}{
        width: 100%;
      }
    }

    .dropdown.open {
      /*.vs__selected-options {
        margin-top: -7px;
      }*/
      .vs__actions {
        margin-top: 10px;
      }
    }

    .dropdown-toggle {
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      border-radius: 0 !important;
    }

    .dropdown-menu {
      border: none !important;
    }
  }
}

.cards {
  &_section {
    padding-top: 0px !important;
    border-radius: 0 0 10px 10px;
    border-top: none;
    margin-top: 0 !important;
  }
}

.setCards_modal {
  z-index: 99999 !important;

  .v--modal-background-click {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .v--modal-box {
    max-width: 600px;
    text-align: center;
    max-height: 100px;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    right: 0;
    bottom: 0;
    margin: auto;

    h4 {
      line-height: 74px;
    }
  }
}

.set-of-cards-list--header {
  text-align: center;
  margin-bottom: 25px;
}

