@import 'variables';

.wizard.widget {
  .alert {
    a {
      color: #1976D2;
    }
  }

  li a {
    font-size:14px;
  }

  .widget {
    &__header {
      &__language {
        width: 40%;
        margin-bottom:25px;

        @media #{$medium-and-down}{
          width:100%;
        }

        &__select {
          &__container {
            width: 100%;
          }
        }
      }
      &__pre-box {
        height: 0;
        border: 0;
        min-height: 0;
      }
      &__box {
        text-align: center;
        border: 1px solid lightgray;
        padding: 15px 15px 25px 15px;
        border-radius:4px;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 430px;

        @media #{$medium-and-down}{
          margin-bottom:25px;
        }

        &__icon {
          border: 1px solid #000;
          width: 60px;
          height: 60px;
          text-align: center;
          line-height: 70px;
          border-radius: 100%;
          margin:0 auto;
          position:relative;
          margin-top:20px;
          margin-bottom:20px;

          &::before {
            content:'';
            position:absolute;
            width:70px;
            height:70px;
            left:-6px;
            top:-6px;
            border:1px solid #000;
            border-radius:100%;
          }

          i {
            font-size:35px;
          }
        }
        textarea {
          background:none;
        }
      }
      &__description {
        font-size:12px;
        display:none;

        @media #{$medium-and-down}{
          font-size: intial;
        }
      }
    }

    &__email {
      text-align:left;
      border: 1px solid lightgray;
      padding: 15px;
      margin-top: 5px;
      margin-bottom:20px;
      border-radius:4px;
      position: relative;
      &:before{
        content: 'Email header';
        position: absolute;
        top: 9px;
        right: 15px;
        color: grey;
        font-size: 12px;
      }
      &:after{
        content: 'Email body';
        position: absolute;
        bottom: 15px;
        right: 15px;
        color: grey;
        font-size: 12px;
      }

      &__header {
        text-align:left;
        margin-bottom:25px;
        font-weight: bold;
      }

      &__subheader {
        text-align:left;
        font-weight:bold;
        margin: 25px 0 5px 0;
        color: grey;
        font-size: 16px;
      }

      &__title {
        h5 {
          font-size: 14px;
          font-weight: 400;
          padding-right: 100px !important;
        }
      }
    }
  }
}

label[for="coupon_package_csv"] {
  text-transform: uppercase;
}

input[name="coupon_package[csv]"]{
  line-height:0;
}

.referral-mobile-no-margin {
  @media #{$small-and-down}{
    margin-bottom: 10px !important;
  }
}

