h3.widget__coupons__header {
  margin-top: 35px;
  margin-left: 25px;
  margin-right: auto;
  width: 350px;
  color: #1976D2;
  line-height: 25px;
}

.widget__coupons__block {
  width:250px;
  margin-left: auto;
  margin-right: auto;


  > p {
    margin-left: 5px;
  }
  > select, select.form-control {
    max-width: 160px;
    padding: 2px 2px 2px 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding: 2px 25px 2px 60px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 10px;
    color: #1976D2;
    display: inline-block;
    margin-right: 5px;
  }
}

.coupons-one-time{
  @media #{$small-and-down}{
    .form-group{
      margin-bottom: 0;
    }
  }
}

.small-margin-fg{
  @media #{$small-and-down}{
    .form-group{
      margin-bottom: 15px;
    }
  }
}

.coupons-row {
  &:not(:last-child){
    border-bottom: 1px solid lightgray;
  }

  input[type='checkbox'] {
    top: 3px;
  }
}

#coupon_package_inviteeCouponDiscount,
#coupon_package_referrerCouponDiscount{
  width: 59px;
  margin-right: 5px
}

.coupons-section {
  padding-bottom: 0;

  &.with-border{
    @media #{$small-and-down}{
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 40px;
      margin-bottom: 35px;
    }
  }

  > label {
    margin-bottom: 5px;
  }

  > .form-group {
    margin-bottom: 0
  }

  input[type='file'] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    left: 115px;
  }

  form[name="coupon_package"] {
    display:flex;
    // flex-direction:column;
    flex-wrap:wrap;

    > * {
      flex-basis:100%;
    }

    .form-control {
      border-radius:5px;
    }

    .form-group {
      margin-bottom: 10px;
    }

    button {
      order: 1;
    }

    input[name="coupon_package[discount]"] {
      width:100% !important;
    }

    .form-group:nth-of-type(1), .form-group:nth-of-type(2) {
      flex-basis:49%;

      @media #{$small-and-down}{
        flex-basis:100%;
      }
    }

    .form-group:nth-of-type(2) {
      margin-left:1%;

      @media #{$small-and-down}{
        margin-left:0;
      }
    }
  }

  &:first-child {
    padding-right: 15px;

    @media #{$medium-and-down}{
      padding-left:15px;
      padding-right:15px;
    }
  }

  &:last-child {
    padding-left: 35px;

    @media #{$medium-and-down}{
      padding-left:15px;
      padding-right:15px;
    }
  }

  .btn-coupon-remove {
    padding-top:5px;
    padding-bottom:5px;
    @media screen and (max-width: 769px) {
      margin-left: 0
    }
  }
}

.hidden-invitee-coupons {
  .coupons-row:not(:last-child) {
    border-bottom:none;
  }

  .coupons-for-invitee {
    display:none;
  }
}
