.shop-details{
  &__menu{
    $this: &;
    padding: 0;
    list-style-type: none;
    &__item{
      &:not(:last-of-type){
        border-bottom: 1px solid #e4e4e4;
      }
      a{
        display: flex;
        padding: 10px 10px 10px 0;
      }
      &.active{
        
        a{
          font-weight: bold;
        }
      }
    }
    &.is-creating{
      #{$this}{
        &__item{
          a{
            color: #afafaf;
            font-weight: bold;
          }
          &.active{
            a{
              color: #1976D2;
              .badge{
                background: #1976D2!important;
                border-color: #1976D2!important;
                color: white!important;
              }
            }
          }
          &.is-filled{
            a{
              color: #6ad300!important;
              position: relative;
              &:after{
                content: '\f058';
                font-family: FontAwesome;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #6ad300;
              }
              .badge{
                background: #6ad300!important;
                color: white!important;
              }
            }
          }
        }
      }
    }
  }
}