.step{
  h4{
    font-weight: bold;
    text-transform: uppercase;
    height:40px;
    color:rgba(0,0,0,0.4);
    @media screen and (max-width: 996px) {
      height: unset;
    }
  }
  i.fa{
    font-size: 100px;
    color: #FFC107;
    margin: 20px 0;
    @media screen and (max-width: 996px) {
      margin: 5px 0;
    }
  }
  p{
    width: 220px;
    margin: 0 auto;
    max-width: 100%;
  }
}