.subscription-expired {
  background:#fff;

  &--content {
    display:inline-block;
    margin-left:25px;
    text-align:left;
    vertical-align: top;
  }

  &--header {
    display:block;
  }

  &--description {
    color:#000 !important;
  }

  &--icon {
    color: #fff;
    display: inline-block;
    background: red;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    text-align: center;
    line-height: 193px;

    i {
      font-size:90px;
    }
  }

  .row {
    text-align:center;
  }

  &__alert {
    margin-top:25px;
    margin-bottom:-10px;
    display:inline-block;
    text-align:left;

    &__container {
      text-align:center;
    }

    .payment-details {
      margin-top: 25px;
    }

    h1 {
      margin-top:10px;
    }

    a.btn {
      margin:10px 0;
    }
  }
}
