.switch input {
  position: absolute !important;
  opacity: 0 !important;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  width: 40px;
  background: #BDB9A6;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  user-select: none;
  padding: 0 !important;
}

.switch div {
  height: 20px;
  width: 20px;
  transition: all 300ms;
  position: relative;
  z-index: 2;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 20px;
    width: 40px;
    right: 0;
    opacity: 0;
    background-color: #BDB9A6;
    z-index: 1;
    transition: all 300ms;
  }
  &:after{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: all 300ms;
    z-index: 2;
    position: relative;
  }
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  &:before{
    background-color: #1976D2;
    opacity: 1;
    border-radius: 25px;
  }
}

.form-switch-wrapper{
  width: 100%;
  > * {
    display: inline-block !important;
    vertical-align: middle;
  }
  .switch{
    margin-left: 20px;
  }
}
