.test-connection{
  &--wrapper{
    position: relative;

  }
  &-info{
    position: absolute !important;
    padding: 0 !important;
    margin: 0 !important;
    right: 0;
    width: auto !important;
    max-width: 30% !important;
    top: 13px;
  }
}
