// Media Query Ranges
$mobile-smaller-screen: 359px !default;
$mobile-larger-screen: 460px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 767px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$desktop-smaller-screen: 1199px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$smaller-mobile-and-down: "only screen and (max-width : #{$mobile-smaller-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$max-large-and-up: "only screen and (min-width : #{$large-screen})" !default;
$smaller-desktop-and-down: "only screen and (max-width: #{$desktop-smaller-screen})" !default;