.widget {
  &__rewards {
    &__reward {
      &__label {
        &--left, &--right {
          width:49%;
          display:inline-block;
          vertical-align:top;

          @media #{$small-and-down}{
            width:100%;
            text-align:left !important;
          }

          strong {
            display:inline-block;
            margin-right:15px;
            color:#1976D2;
          }
        }

        &--left {
          text-align:left;

          > .form-group {
            display:none;
          }
        }

        &--right {
          text-align:right;

          > .form-group {
            display:none;
          }
        }
      }
      &__container {
        border: 1px solid lightgray;
        overflow: hidden;
        padding: 15px 15px 5px 15px;
        margin: 10px 0 25px 0;

        @media #{$small-and-down}{
          padding-left: 10px;
          padding-right: 10px;
        }

        .form-group {
          margin-bottom: 10px;
          padding-left:0;
          padding-right: 0;
          @media screen and (max-width: 769px) {
            margin-bottom: 25px;
          }
        }
      }

      &--cash {
        .alert {
          margin:25px 0;
        }

        .widget__rewards__reward__container > span {
          color:#1976D2;

          a {
            color:#1976D2;
            font-weight:bold;
          }
        }
      }
      &--coupon {
        input[type="radio"] {
          vertical-align: top;
        }
      }
    }
    &__coupon {
      &_percentage_reward {
        display:inline-block;
      }
      &_min_order_sub {
        padding-left:50px;
        display:none;
      }
    }
    &__validity {
      label {
        min-height: 40px;
        line-height: normal;
        > * {
          display:inline-block;
          width:auto;
          vertical-align:top;
        }
      }
    }
  }
  &-rewards-referral-margin{
    @media #{$small-and-down} {
      margin-bottom: 10px !important;
    }
  }
}

select.widget__rewards__coupon--percentage_reward, select.widget__rewards__coupon--fixed_reward {
  display:none;
}

select.widget__rewards--invitee__coupon--percentage_reward, select.widget__rewards--invitee__coupon--fixed_reward {
  display:none;
}

input#widget_reward_settings_referrerRewardCouponDiscountMinPurchase {
  display: inline-block;
  width: 70px;
}

input#widget_reward_settings_referrerRewardCouponDiscountMinPurchase {
  margin-top:-10px;
  @media #{$small-and-down}{
    margin-top: 0;
  }
}

input#widget_reward_settings_referrerLinkValidityDays {
  width: 50px;
  vertical-align: middle;
}

label[for="widget_reward_settings_referrerLinkValidityMode_0"],
label[for="widget_reward_settings_referrerLinkValidityMode_1"],
label[for="widget_reward_settings_referrerLinkValidityMode_0"],
.widgetRewardsSettingLabel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  input[type=radio]{
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }
  select[disabled], .vdp-datepicker input[disabled] {
    opacity: .5;
    background-color: #eee !important;
    cursor: not-allowed;
  }
  .vdp-datepicker {
    margin-left: 10px;
    margin-right: 10px;
    input {
      background-color: #fff;
      border: 1px solid #d6d9dc;
      border-radius: 10px;
      padding: 5px 10px;
      width: 120px;
    }
  }
}
label[for="widget_reward_settings_referrerLinkValidityMode_2"]{
  line-height:38px;
}

select#widget_reward_settings_referrerLinkValidityDate_year {
  margin-right:5px;
}

select#widget_reward_settings_referrerLinkValidityDate_month {
  margin-right:5px;
}

.widgetRewardsCampaignName {
  label {
    font-size: 18px;
    font-weight: normal;
    color: #333e48;
  }
  input.form-control {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    height: 50px;
  }
}

.setRewardsButton {
  font-size: 20px;
  outline: 0 !important;
  &[disabled] {
    opacity: .5 !important;
  }
  i {
    font-size: 18px;
    margin-left: 10px;
  }
}