.widget-icon {
  .options-checkboxes {
    margin-bottom: 25px;
    overflow: hidden;

    .checkbox {
      margin-top: 0;
      line-height: 18px;
    }
  }

  .form-group input[type="text"] {
    width: 100%;
  }

  #widget-button-textColor-trigger, #widget-button-backgroundColor-trigger {
    position: absolute;
    left: 25px;
    width: auto;
    padding: 0;
    font-size: 20px;
    bottom: 7px;
  }

  form[name="widget_button"] {
    margin: 0 -15px;
  }

  input#widget_button_textColor, input#widget_button_backgroundColor {
    padding-left:40px;
  }

  .widget-textColor-picker, .widget-backgroundColor-picker {
    display:none;
    position: absolute;
    z-index: 1;
    top: -51px;
    right: 0;
    background: #fff;
    border-radius: 100%;

    &.open {
      display:block;
    }
  }

  #widget_button_icon {
    .radio {
      margin-top:0;
      width:100px;
      display:inline-block;
      vertical-align:top;

      @media #{$small-and-down}{
        width:32%;
      }

      label {
        padding-left:0;
      }

      img {
        max-width:100%;
        max-height:100%;
      }

      span {
        img {
          border:2px solid transparent;
        }
      }

      input:checked + span {
        img {
          border-color:#166ABD;
        }
      }
    }
  }
}

#widget_button_icon label.active img {
  border-color: #166ABD !important;
}