<h1>Hello!</h1>

<p>Shop <strong>{{ shop.name }}</strong> declared budget:</p>

<p>Budget: {{ budget.amount }} {{ budget.currency.name }}</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
