<h1>Welcome to ValueLink!</h1>

<p>Subscription plan already expired for user {{ subscription.user.email }}</p>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
