<template>
  <Modal
      :isHide="false"
      :isOpen="isOpen"
      title="Login or register to create the card"
      @close="closeModal"
  >
    <div class="mystore__modal-config">
      <login-form v-if="tab === 'login'"
        :redirect-to="redirectTo"
        @referrer-click="changeTab('register')"
      ></login-form>
      <register-form v-if="tab === 'register'"
        :token="registerToken"
        :redirectTo="redirectTo"
        @login-click="changeTab"
      ></register-form>
    </div>
  </Modal>
</template>

<script>
import Modal from "../../../Referrer/MyStore/Modal";
import Login from "../../../Form/Login";
import Register from "../../../Form/Register";

export default {
  components: {
    Modal,
    'login-form': Login,
    'register-form': Register
  },
  props: {
    registerToken: {
      type: String,
      required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    redirectTo: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    tab: 'login',
  }),
  mounted() {
  },
  methods: {
    changeTab(name) {
      this.tab = (name === 'register') ? name : 'login'
    },
    closeModal() {
      this.$emit('close-modal')
    },
  }
}
</script>