<template>
  <div class="edit-card">
    <div class="subsection-entry">
      <h4>Create your card</h4>
    </div>
    <div>
      <AlertBag v-if="success.length > 0 && success !== 'login'"
                :type="'success'"
                :is-hidden="true"
                :message-list="[success]"
      ></AlertBag>
      <AlertBag v-if="warnings.length > 0"
        :type="'warning'"
        :is-hidden="true"
        :message-list="warnings"
      ></AlertBag>
      <AlertBag v-if="errors.length > 0"
        :type="'danger'"
        :is-hidden="true"
        :message-list="errors"
      ></AlertBag>
    </div>
    <div class="form-group">

     <form class="create-card__activate-container mystore__btn-edit">
       <input
           placeholder="Enter link..."
           type="text"
           id="custom_link_input"
           v-model="link"
           class="form-control"
           :disabled="isLoading"
           v-on:keyup.enter="generateCard"
       />
       <button type="button" class="btn btn-primary btn-outline-primary"  v-on:click="generateCard" :disabled="isLoading" >
          <img src="/images/icons/publish.svg" alt="publish"/>
          <span>Create Card</span>
       </button>
      </form>
      <small class="card-input-helper" v-if="timeToLoad > 0">Update in {{ timeToLoad }} second(s)</small>
      <small class="card-input-helper" v-show="this.isLoading && timeToLoad === 0">Processing...</small>
      <div class="card__modal-your-link-preview" v-if="isLoading">
        <div class="loader">
          <img src="/images/loading.gif" alt="Loader" />
        </div>
      </div>
    </div>
    <template v-if="firstResponseEnd && link">
      <AlertBag
        v-if="infoMessage.length > 0"
        :show-all="true"
        :is-hidden="true"
        :message-list="infoMessage"
        :type="'warning'"
      ></AlertBag>
      <div class="my-card-editor">
        <div class="my-card-editor__preview-container">
          <a
              id="custom-banner"
              :href="link"
              class="my-card-editor__preview"
              :style="{
                maxWidth: `${bannerWidth}px`,
                boxShadow: boxShadowStyle
              }"
              @click="e => e.preventDefault()"
          >
            <div
                v-if="haveLogo || haveCompanyName || haveSocialLinks || previewTemplate === 'col'"
                class="my-card-editor__preview-header"
                :class="{
                  onlySocials: !haveLogo && !haveCompanyName && haveSocialLinks,
                  withoutSocials: !haveSocialLinks,
                  line: previewTemplate === 'line'
                }"
            >
              <div class="my-card-editor__preview-company" v-if="haveLogo || haveCompanyName">
                <img v-if="haveLogo" :src="dataFromLink.companyLogo" alt="" />
                <p v-if="haveCompanyName">{{ dataFromLink.company }}</p>
              </div>
              <div class="my-card-editor__socials" v-if="haveSocialLinks">
                <div class="social-icon facebook"><a :href="'https://www.facebook.com/sharer/sharer.php?u=' + dataFromLink.url"><i class="fa fa-facebook"></i></a></div>
                <div class="social-icon twitter"><a :href="'https://twitter.com/share?url=' + dataFromLink.url"><i class="fa fa-twitter"></i></a></div>
                <div class="social-icon linkedin"><a :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + dataFromLink.url"><i class="fa fa-linkedin"></i></a></div>
                <div class="social-icon whatsapp"><a :href="'https://web.whatsapp.com/send?text=' + dataFromLink.url"><i class="fa fa-whatsapp"></i></a></div>
              </div>
            </div>
            <div class="my-card-editor__preview-content " :class="previewTemplate">
              <div class="image-wrapper">
                <img v-if="(dataFromLink.image && !haveShowVideo) || !dataFromLink.iframe" :src='dataFromLink.image' alt=''/>
                <div class="my-card-editor__video" v-if="dataFromLink.iframe && ((dataFromLink.iframe.length > 0 && haveShowVideo) || !dataFromLink.image)" v-html="dataFromLink.iframe"></div>
              </div>
              <div class="my-card-editor__text">
                <h1>{{ dataFromLink.title }}</h1>
                <p v-if="!haveShowVideo">{{ dataFromLink.description }}</p>
              </div>
            </div>
            <div class="my-card-editor__footer" :class="previewTemplate">
              <p v-if="dataFromLink.company" class="my-card-editor__powered my-card-editor__powered--check">Check on {{ dataFromLink.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n\?\=]+)/im)[1] || dataFromLink.company }}</p>
              <p class="my-card-editor__powered">Powered by <a href="http://www.valuelink.io/">ValueLink</a></p>
            </div>
          </a>
        </div>
        <sidebar
            :data-from-link="dataFromLink"
            :banner-width="bannerWidth"
            :have-social-links="haveSocialLinks"
            :have-logo="haveLogo"
            :have-company-name="haveCompanyName"
            :have3-d-effect="have3DEffect"
            :have-show-video="haveShowVideo"
            :preview-template="previewTemplate"
            @change-template="templateHandler"
            @change-banner-width="changeBannerWidth"
            @change-have-social-links="changeHaveSocialLinks"
            @change-have-logo="changeHaveLogo"
            @change-have-company-name="changeHaveCompanyName"
            @change-have-3d-effect="changeHave3DEffect"
            @change-have-show-video="changeHaveShowVideo"
        ></sidebar>
      </div>
      <div class="card-edit-footer">
        <div></div>
        <button type="button" class="btn btn-primary" @click="saveReferrerLinkCard" :disabled="isLoading">Save card</button>
      </div>
    </template>

    <auth-modal
        :redirect-to="'/card'"
        :register-token="registerToken"
        :isOpen="authModalOpen"
        @close-modal="closeAuthModal"
    ></auth-modal>
  </div>
</template>

<script>
import Sidebar from "./Sidebar";
import AuthModal from "./AuthModal";
import AlertBag from "../../AlertBag";
import Request from "../../../../Mixins/Request";

export default {
  mixins: [Request],
  components: {
    Sidebar,
    AlertBag,
    AuthModal
  },
  props: {
    token: {
      type: String,
      required: true
    },
    registerToken: {
      type: String,
      required: true
    },
    warnings: {
      type: Array,
      required: true
    },
    errors: {
      type: Array,
      required: true
    },
    success: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    timeToLoad: 0,
    metaTimer: null,
    timeToUpdateMeta: 2,
    authModalOpen: false,
    link: null,
    isLoading: false,
    previewTemplate: 'col',
    rwdClass: '',
    haveSocialLinks: null,
    haveLogo: null,
    haveCompanyName: null,
    have3DEffect: null,
    haveShowVideo: null,
    bannerWidth: 800,
    firstResponseEnd: false,
    infoMessage: [],
    infoLabels: {
      title: 'title',
      description: 'description',
      image: 'image or iframe',
      url: 'url',
      company: 'provider company name',
      companyUrl: 'provider company url',
      companyLogo: 'provider company logo',
    },
    dataFromLink: {
      title: '',
      description: '',
      image: '',
      iframe: '',
      url: '',
      company: '',
      companyUrl: '',
      companyLogo: '',
    }
  }),
  computed: {
    hasBothMedia() {
      return this.dataFromLink && (
          this.dataFromLink.iframe && this.dataFromLink.image
      )
    },
    boxShadowStyle() {
      return (this.have3DEffect === true)
          ? 'inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45)'
          : 'none'
    }
  },
  watch: {},
  mounted() {
    if ( window.location.href.split('?').length >= 2 ) {
      window.history.pushState({}, document.title, window.location.pathname);
    }
    this.loadFromStorageObject()
    if (this.success === 'login' && this.firstResponseEnd) {
      this.saveReferrerLinkCard()
    }
  },
  methods: {
    loadStep(step) {
      this.hasMetaLoaded = false
      this.timeToLoad = step
      if (this.stepTimeout) clearTimeout(this.stepTimeout)
      this.stepTimeout = setTimeout(() => {
        if (this.timeToLoad > 0) this.loadStep(this.timeToLoad - 1)
      }, 1000)
    },

    resetDataFromLink() {
      this.haveShowVideo = false
      this.dataFromLink = {
        title: '',
        description: '',
        image: '',
        iframe: '',
        url: '',
        company: '',
        companyUrl: '',
        companyLogo: '',
      }
    },
    generateCard() {
      this.resetDataFromLink();
      if (!this.link) {
        this.$toasted.error('This value should not be blank.')
      } else if (this.link.substr(0 ,4) !== 'http') {
        this.link = `http://${this.link}`
      }
      this.loadStep(this.timeToUpdateMeta);
      clearTimeout(this.metaTimer);
      this.metaTimer = setTimeout(() => {
        this.isLoading = true
        this.makeRequest('get', '/api/v1/meta', {
          link: this.link
        })
            .then(response => {
              if (response && response.data) {
                const {
                  title,
                  description,
                  image,
                  iframe,
                  url,
                  company,
                  companyUrl,
                  companyLogo
                } = response.data

                /*this.resetDataFromLink()*/

                if (title) this.dataFromLink.title = title
                if (description) this.dataFromLink.description = description
                if (image) this.dataFromLink.image = image
                if (iframe) this.dataFromLink.iframe = iframe
                if (image && iframe) this.haveShowVideo = true
                if (url) this.dataFromLink.url = url
                if (company) {
                  this.dataFromLink.company = company
                  this.haveCompanyName = true
                 /* if (this.haveCompanyName === null) this.haveCompanyName = true*/
                }
                if (companyUrl) this.dataFromLink.companyUrl = companyUrl
                if (companyLogo) {
                  this.dataFromLink.companyLogo = companyLogo
                  this.haveLogo = true
                 /* if (this.haveLogo === null ) this.haveLogo = null*/
                }
              } else {
                this.$toasted.error('Unknown error.')
              }
              this.firstResponseEnd = true;
              this.isLoading = false;
              this.infoHandle()
              if (this.hasBothMedia && this.haveShowVideo) {
                return this.previewTemplate = 'col'
              }

              this.have3DEffect = true;
              this.haveSocialLinks = true;

            }, err => {
              if (err && err.response && err.response.data && err.response.data.errors) {
                this.errorsLoop(err.response.data.errors)
              } else {
                this.$toasted.error('Unknown error.')
              }
              console.error(err)
              this.firstResponseEnd = true
              this.isLoading = false
              this.infoHandle()
            })
      },  (this.timeToUpdateMeta * 1000))
    },
    saveToLocalStorage() {
      localStorage.setItem('newCard', JSON.stringify({
        width: this.bannerWidth,
        socialMedia: !!this.haveSocialLinks,
        showShopLogo: !!this.haveLogo,
        showCompanyName: !!this.haveCompanyName,
        show3DEffect: !!this.have3DEffect,
        showVideo: !!this.haveShowVideo,
        name: this.dataFromLink.company,
        url: this.dataFromLink.companyUrl,
        logo: this.dataFromLink.companyLogo,
        title: this.dataFromLink.title,
        description: this.dataFromLink.description,
        image: this.dataFromLink.image,
        iframe: this.dataFromLink.iframe,
        layout: this.previewTemplate,
      }));
    },
    loadFromStorageObject() {
      const newCard = localStorage.getItem('newCard')
          ? JSON.parse(localStorage.getItem('newCard'))
          : null
      if (newCard) {
        this.firstResponseEnd = true;
        this.link = newCard.url
        this.bannerWidth = newCard.width
        this.haveSocialLinks = !!newCard.socialMedia
        this.haveLogo = !!newCard.showShopLogo
        this.haveCompanyName = !!newCard.showCompanyName
        this.have3DEffect = !!newCard.show3DEffect
        this.haveShowVideo = !!newCard.showVideo
        this.dataFromLink.company = newCard.name
        this.dataFromLink.companyUrl = newCard.url
        this.dataFromLink.companyLogo = newCard.logo
        this.dataFromLink.title = newCard.title
        this.dataFromLink.description = newCard.description
        this.dataFromLink.image = newCard.image
        this.dataFromLink.iframe = newCard.iframe
        this.previewTemplate = newCard.layout
      }
      this.infoHandle()
    },
    saveReferrerLinkCard() {
      this.isLoading = true
      this.saveToLocalStorage()
      this.makeRequest('post', `/ajax/referrer-custom-link/card/create`, {
        '_token': this.token,
        width: this.bannerWidth,
        socialMedia: !!this.haveSocialLinks,
        showShopLogo: !!this.haveLogo,
        showCompanyName: !!this.haveCompanyName,
        show3DEffect: !!this.have3DEffect,
        showVideo: !!this.haveShowVideo,
        name: this.dataFromLink.company,
        url: this.dataFromLink.companyUrl,
        logo: this.dataFromLink.companyLogo,
        title: this.dataFromLink.title,
        description: this.dataFromLink.description,
        image: this.dataFromLink.image,
        iframe: this.dataFromLink.iframe,
        layout: this.previewTemplate,

      })
      .then(response => {
        if (response && response.data && response.data.success) {
          this.$toasted.success(response.data.message || 'Card saved.')
          setTimeout(() => {
            window.location.href = '/account/referrer/card'
          }, 1500)
        } else if (typeof response.data === 'string') {
          this.authModalOpen = true
        } else {
          this.$toasted.error('Unknown error.')
        }
        this.isLoading = false
      }, err => {
        if (err && err.response && err.response.data && err.response.data.errors) {
          this.errorsLoop(err.response.data.errors)
        }else if (err && err.response && err.response.data) {
          this.errorsLoop(err.response.data)
        } else {
          this.$toasted.error('Unknown error.')
        }
        console.error(err)
        this.isLoading = false
      })
    },
    closeAuthModal() {
      this.authModalOpen = false
    },
    errorsLoop(errors, parentName = null) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            if (parentName)
              this.$toasted.error(parentName + ': ' + errors[name])
            else
              this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name], parentName || name)
          }
        });
      }
    },
    templateHandler(template) {
      if (!this.dataFromLink.image || ( !this.hasBothMedia && this.dataFromLink.iframe && this.dataFromLink.iframe.length > 0 ) || ( this.hasBothMedia && this.haveShowVideo )) {
        return this.previewTemplate = 'col'
      }
      if( this.hasBothMedia && this.haveShowVideo ){
        return this.previewTemplate ='col'
      }
      return this.previewTemplate = template
    },
    changeBannerWidth(val) {
      this.bannerWidth = val
    },
    changeHaveSocialLinks(val) {
      this.haveSocialLinks = val
    },
    changeHaveLogo(val) {
      this.haveLogo = val
    },
    changeHaveCompanyName(val) {
      this.haveCompanyName = val
    },
    changeHave3DEffect(val) {
      this.have3DEffect = val
    },
    changeHaveShowVideo(val) {
      this.haveShowVideo = val
    },
    infoHandle() {
      this.infoMessage = []
      for (const [key, value] of Object.entries(this.dataFromLink)) {
        if ((['image', 'iframe'].indexOf(key) === -1) && (!value || value.length === 0) && this.infoLabels[key]) {
          this.infoMessage.push(`This link does not contain ${this.infoLabels[key]}.`)
        }
      }
      if (!this.dataFromLink.image && !this.dataFromLink.iframe) {
        this.infoMessage.push(`This link does not contain ${this.infoLabels.image}`)
      }
    }
  }
}
</script>