<template>
  <div class="edit-card">
    <div class="subsection-entry">
      <h4>Edit your card</h4>
    </div>
    <template v-if="responseEnd">
      <AlertBag
        v-if="infoMessage.length > 0"
        v-bind="{
          isHidden : true,
          messageList: infoMessage,
          type: 'warning',
          showAll: true
        }"
      ></AlertBag>
    </template>
    <div class="my-card-editor">
      <div class="my-card-editor__preview-container">
        <a
          id="custom-banner"
          :href="link"
          class="my-card-editor__preview"
          :style="{
            maxWidth: `${bannerWidth}px`,
            boxShadow: boxShadowStyle
          }"
          @click="e => e.preventDefault()"
        >
          <div
            v-if="haveLogo || haveCompanyName || haveSocialLinks || previewTemplate === 'col'"
            class="my-card-editor__preview-header"
            :class="{
              onlySocials: !haveLogo && !haveCompanyName && haveSocialLinks,
              withoutSocials: !haveSocialLinks,
              line: previewTemplate === 'line'
            }"
          >
            <div class="my-card-editor__preview-company" v-if="haveLogo || haveCompanyName">
              <img v-if="haveLogo" :src="dataFromLink.companyLogo" alt="" />
              <p v-if="haveCompanyName">{{ dataFromLink.company }}</p>
            </div>
            <div class="my-card-editor__socials" v-if="haveSocialLinks">
              <div class="social-icon facebook"><a :href="'https://www.facebook.com/sharer/sharer.php?u=' + dataFromLink.url"><i class="fa fa-facebook"></i></a></div>
              <div class="social-icon twitter"><a :href="'https://twitter.com/share?url=' + dataFromLink.url"><i class="fa fa-twitter"></i></a></div>
              <div class="social-icon linkedin"><a :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + dataFromLink.url"><i class="fa fa-linkedin"></i></a></div>
              <div class="social-icon whatsapp"><a :href="'https://web.whatsapp.com/send?text=' + dataFromLink.url"><i class="fa fa-whatsapp"></i></a></div>
            </div>
          </div>
          <div class="my-card-editor__preview-content " :class="previewTemplate">
            <div class="image-wrapper">
              <img v-if="(dataFromLink.image && !haveShowVideo) || !dataFromLink.iframe" :src='dataFromLink.image' alt=''/>
              <div class="my-card-editor__video" v-if="dataFromLink.iframe && ((dataFromLink.iframe.length > 0 && haveShowVideo) || !dataFromLink.image)" v-html="dataFromLink.iframe"></div>
            </div>
            <div class="my-card-editor__text">
              <h1>{{ dataFromLink.title }}</h1>
              <p v-if="!haveShowVideo">{{ dataFromLink.description }}</p>
            </div>
          </div>
          <div class="my-card-editor__footer" :class="previewTemplate">
            <p v-if="dataFromLink.company" class="my-card-editor__powered my-card-editor__powered--check">Check on {{ dataFromLink.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n\?\=]+)/im)[1] || dataFromLink.company }}</p>
            <p class="my-card-editor__powered">Powered by <a href="http://www.valuelink.io/">ValueLink</a></p>
          </div>
        </a>
      </div>
      <sidebar
          :data-from-link="dataFromLink"
          :banner-width="bannerWidth"
          :have-social-links="haveSocialLinks"
          :have-logo="haveLogo"
          :have-company-name="haveCompanyName"
          :have3-d-effect="have3DEffect"
          :have-show-video="haveShowVideo"
          :preview-template="previewTemplate"
          @change-template="templateHandler"
          @change-banner-width="changeBannerWidth"
          @change-have-social-links="changeHaveSocialLinks"
          @change-have-logo="changeHaveLogo"
          @change-have-company-name="changeHaveCompanyName"
          @change-have-3d-effect="changeHave3DEffect"
          @change-have-show-video="changeHaveShowVideo"
      ></sidebar>
    </div>
    <div class="card-edit-footer">
      <div v-if="referrerLink" class="btn btn-four clipboard-copy" :data-clipboard-text='clipboard'>Copy HTML code to clipboard</div>
      <button type="button" class="btn btn-primary" @click="saveReferrerLinkCard" :disabled="isLoading">Save card</button>
    </div>
  </div>
</template>

<script>
import Sidebar from "./Sidebar";
import AlertBag from "../../AlertBag";
import Request from "../../../../Mixins/Request";

export default {
  mixins: [Request],
  components: {
    Sidebar,
    AlertBag
  },
  props: {
    link: {
      type: String,
      required: true
    },
    referrerLink: {
      type: Number,
      default: 0
    },
    referrerLinkCard: {
      type: Object,
      default: {}
    },
    clipboard: {
      type: String,
      default: ''
    },
    token: {
      type: String,
      required: true
    }
  },
  data: () => ({
    isLoading: true,
    previewTemplate: 'col',
    rwdClass: '',
    haveSocialLinks: null,
    haveLogo: null,
    haveCompanyName: null,
    have3DEffect: null,
    haveShowVideo: null,
    bannerWidth: 800,
    responseEnd: false,
    infoMessage: [],
    infoLabels: {
      title: 'title',
      description: 'description',
      image: 'image or iframe',
      url: 'url',
      company: 'provider company name',
      companyUrl: 'provider company url',
      companyLogo: 'provider company logo',
    },
    dataFromLink: {
      title: '',
      description: '',
      image: '',
      iframe: '',
      url: '',
      company: '',
      companyUrl: '',
      companyLogo: '',
    }
  }),
  computed: {
    boxShadowStyle() {
      return (this.have3DEffect === true)
          ? 'inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45)'
          : 'none'
    }
  },
  watch: {
    dataFromLink() {
      this.infoHandle()
    }
  },
  mounted() {
    if (this.referrerLinkCard) {
      this.bannerWidth = this.referrerLinkCard.width
      this.haveSocialLinks = this.referrerLinkCard.socialMedia
      this.dataFromLink.company = this.referrerLinkCard.name
      this.dataFromLink.companyLogo = this.referrerLinkCard.logo
      this.dataFromLink.title = this.referrerLinkCard.title
      this.dataFromLink.description = this.referrerLinkCard.description
      this.dataFromLink.image = this.referrerLinkCard.image
      this.dataFromLink.iframe = this.referrerLinkCard.iframe
      this.dataFromLink.companyUrl = this.referrerLinkCard.url
      this.dataFromLink.url = this.link
      this.previewTemplate = this.referrerLinkCard.layout || 'col'
      this.haveLogo = this.referrerLinkCard.showShopLogo
      this.haveCompanyName = this.referrerLinkCard.showCompanyName
      this.have3DEffect = this.referrerLinkCard.show3DEffect
      this.haveShowVideo = this.referrerLinkCard.showVideo
    }

    this.makeRequest('get', '/api/v1/meta', {
      link: this.link
    })
    .then(response => {
      if (response && response.data) {
        const {
          title,
          description,
          image,
          iframe,
          url,
          company,
          companyUrl,
          companyLogo
        } = response.data

        this.resetDataFromLink()

        if (title) this.dataFromLink.title = title
        if (description) this.dataFromLink.description = description
        if (image) this.dataFromLink.image = image
        if (iframe) this.dataFromLink.iframe = iframe
        if (image && iframe) this.haveShowVideo = true
        if (url) this.dataFromLink.url = url
        if (company) {
          this.dataFromLink.company = company
          if (this.haveCompanyName === null) this.haveCompanyName = true
        }
        if (companyUrl) this.dataFromLink.companyUrl = companyUrl
        if (companyLogo) {
          this.dataFromLink.companyLogo = companyLogo
          if (this.haveLogo === null) this.haveLogo = true
        }
      } else {
        this.$toasted.error('Unknown error.')
      }

      this.responseEnd = true
      this.isLoading = false
      this.infoHandle()
    }, err => {
      if (err && err.response && err.response.data && err.response.data.errors) {
        this.errorsLoop(err.response.data.errors)
      } else {
        this.$toasted.error('Unknown error.')
      }
      console.error(err)
      this.responseEnd = true
      this.isLoading = false
      this.infoHandle()
    })
  },
  methods: {
    resetDataFromLink() {
      this.haveShowVideo = false
      this.dataFromLink = {
        title: '',
        description: '',
        image: '',
        iframe: '',
        url: '',
        company: '',
        companyUrl: '',
        companyLogo: '',
      }
    },
    saveReferrerLinkCard() {
      if (!this.referrerLink) {
        this.$toasted.error('Referrer link not found!')
        return false
      }

      this.isLoading = true
      this.makeRequest('post', `/ajax/referrer-custom-link/${this.referrerLink}/card`, {
        '_token': this.token,
        width: this.bannerWidth,
        socialMedia: !!this.haveSocialLinks,
        showShopLogo: !!this.haveLogo,
        showCompanyName: !!this.haveCompanyName,
        show3DEffect: !!this.have3DEffect,
        showVideo: !!this.haveShowVideo,
        name: this.dataFromLink.company,
        url: this.dataFromLink.companyUrl,
        logo: this.dataFromLink.companyLogo,
        title: this.dataFromLink.title,
        description: this.dataFromLink.description,
        image: this.dataFromLink.image,
        iframe: this.dataFromLink.iframe,
        layout: this.previewTemplate,
      })
      .then(response => {
        if (response && response.data && response.data.success) {
          this.$toasted.success(response.data.message || 'Card saved.')
        } else {
          this.$toasted.error('Unknown error.')
        }
        this.isLoading = false;
      }, err => {
        if (err && err.response && err.response.data && err.response.data.errors) {
          this.errorsLoop(err.response.data.errors)
        } else {
          this.$toasted.error('Unknown error.')
        }
        console.error(err)
        this.isLoading = false
      })
    },
    errorsLoop(errors) {
      if (typeof errors === 'object') {
        Object.keys(errors).forEach(name => {
          if (typeof errors[name] === 'string') {
            this.$toasted.error(errors[name])
          } else {
            this.errorsLoop(errors[name])
          }
        });
      }
    },
    templateHandler(template) {
      if (!this.dataFromLink.image || (this.dataFromLink.iframe && this.dataFromLink.iframe.length > 0) ) {
        return this.previewTemplate = 'col'
      }
      return this.previewTemplate = template
    },
    changeBannerWidth(val) {
      this.bannerWidth = val
    },
    changeHaveSocialLinks(val) {
      this.haveSocialLinks = val
    },
    changeHaveLogo(val) {
      this.haveLogo = val
    },
    changeHaveCompanyName(val) {
      this.haveCompanyName = val
    },
    changeHave3DEffect(val) {
      this.have3DEffect = val
    },
    changeHaveShowVideo(val) {
      this.haveShowVideo = val
    },
    infoHandle() {
      this.infoMessage = []
      for (const [key, value] of Object.entries(this.dataFromLink)) {
        if ((['image', 'iframe'].indexOf(key) === -1) && (!value || value.length === 0) && this.infoLabels[key]) {
          this.infoMessage.push(`This link hasn't ${this.infoLabels[key]}.`)
        }
      }
      if (!this.dataFromLink.image && !this.dataFromLink.iframe) {
        this.infoMessage.push(`This link hasn't ${this.infoLabels.image}`)
      }
    }
  }
}
</script>