<template>
  <div class="preview-card">
    <div class="my-card-editor">
      <div class="my-card-editor__preview-container">
        <a
          id="custom-banner"
          :href="link"
          class="my-card-editor__preview"
          :style="{
            maxWidth: `${bannerWidth}px`,
            boxShadow: boxShadowStyle
          }"
          @click="e => e.preventDefault()"
        >
          <div
            v-if="haveLogo || haveCompanyName || haveSocialLinks || previewTemplate === 'col'"
            class="my-card-editor__preview-header"
            :class="{
              onlySocials: !haveLogo && !haveCompanyName && haveSocialLinks,
              withoutSocials: !haveSocialLinks,
              line: previewTemplate === 'line'
            }"
          >
            <div class="my-card-editor__preview-company" v-if="haveLogo || haveCompanyName">
              <img v-if="haveLogo" :src="dataFromLink.companyLogo" alt="" />
              <p v-if="haveCompanyName">{{ dataFromLink.company }}</p>
            </div>
            <div class="my-card-editor__socials" v-if="haveSocialLinks">
              <div class="social-icon facebook"><a :href="'https://www.facebook.com/sharer/sharer.php?u=' + dataFromLink.url"><i class="fa fa-facebook"></i></a></div>
              <div class="social-icon twitter"><a :href="'https://twitter.com/share?url=' + dataFromLink.url"><i class="fa fa-twitter"></i></a></div>
              <div class="social-icon linkedin"><a :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + dataFromLink.url"><i class="fa fa-linkedin"></i></a></div>
              <div class="social-icon whatsapp"><a :href="'https://web.whatsapp.com/send?text=' + dataFromLink.url"><i class="fa fa-whatsapp"></i></a></div>
            </div>
            <div class="my-card-editor__discount" v-if="discount.length > 0 && previewTemplate === 'col'">
              <span>{{ discount }}</span>
            </div>
          </div>
          <div class="my-card-editor__preview-content" :class="previewTemplate">
            <div class="image-wrapper">
              <div class="my-card-editor__discount" v-if="discount.length > 0 && previewTemplate === 'line'">
                <span>{{ discount }}</span>
              </div>
              <img v-if="(dataFromLink.image && !haveShowVideo) || !dataFromLink.iframe" :src='dataFromLink.image' alt=''/>
              <div class="my-card-editor__video" v-if="dataFromLink.iframe && ((dataFromLink.iframe.length > 0 && haveShowVideo) || !dataFromLink.image)" v-html="dataFromLink.iframe"></div>
            </div>
            <div class="my-card-editor__text">
              <h1>{{ dataFromLink.title }}</h1>
              <p v-if="!haveShowVideo" >{{ dataFromLink.description }}</p>
            </div>
          </div>
          <div class="my-card-editor__footer" :class="previewTemplate">
            <p v-if="dataFromLink.company" class="my-card-editor__powered my-card-editor__powered--check">Check on {{ dataFromLink.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n\?\=]+)/im)[1] || dataFromLink.company }}</p>
            <p class="my-card-editor__powered">Powered by <a href="http://www.valuelink.io/">ValueLink</a></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      required: true
    },
    discount: {
      type: String,
      default: ''
    },
    referrerLinkCard: {
      type: Object,
      default: {}
    },
  },
  data: () => ({
    isLoading: true,
    previewTemplate: 'col',
    rwdClass: '',
    haveSocialLinks: null,
    haveLogo: null,
    haveCompanyName: null,
    have3DEffect: null,
    haveShowVideo: null,
    bannerWidth: 800,
    responseEnd: false,
    dataFromLink: {
      title: '',
      description: '',
      image: '',
      iframe: '',
      url: '',
      company: '',
      companyUrl: '',
      companyLogo: '',
    }
  }),
  computed: {
    boxShadowStyle() {
      return (this.have3DEffect === true)
          ? 'inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45)'
          : 'none'
    },
  },
  mounted() {
    if (this.referrerLinkCard) {
      this.bannerWidth = this.referrerLinkCard.width
      this.haveSocialLinks = this.referrerLinkCard.socialMedia
      this.dataFromLink.company = this.referrerLinkCard.name
      this.dataFromLink.companyLogo = this.referrerLinkCard.logo
      this.dataFromLink.title = this.referrerLinkCard.title
      this.dataFromLink.description = this.referrerLinkCard.description
      this.dataFromLink.image = this.referrerLinkCard.image
      this.dataFromLink.iframe = this.referrerLinkCard.iframe
      this.dataFromLink.companyUrl = this.referrerLinkCard.url
      this.dataFromLink.url = this.link
      this.previewTemplate = this.referrerLinkCard.layout || 'col'
      this.haveLogo = this.referrerLinkCard.showShopLogo
      this.haveCompanyName = this.referrerLinkCard.showCompanyName
      this.have3DEffect = this.referrerLinkCard.show3DEffect
      this.haveShowVideo = this.referrerLinkCard.showVideo
    }
  },
}
</script>