<template>
  <div class="my-card-editor__sidebar">
    <div class="my-card-editor__sidebar-item">
      <h5>Card template</h5>
      <div class="my-card-editor__sidebar-template">
        <button class="btn" :class="previewTemplate === 'col' && 'active'" @click="templateHandler('col')" type="button">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="984px" height="984px" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve">
                <!--		Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>-->
                <g>
                  <path d="M972,579V60c0-33.1-26.9-60-60-60H72C38.9,0,12,26.9,12,60v519c0,33.1,26.9,60,60,60h840C945.2,639,972,612.2,972,579z"/>
                  <path d="M63,806h716c28.2,0,51-22.8,51-51s-22.8-51-51-51H63c-28.2,0-51,22.8-51,51C12,783.1,34.8,806,63,806z"/>
                  <path d="M63,984h590.2c28.199,0,51-22.8,51-51s-22.801-51-51-51H63c-28.2,0-51,22.8-51,51S34.8,984,63,984z"/>
                </g>
              </svg>
        </button>
        <button
            class="btn"
            :class="{
               active: previewTemplate === 'line',
               disabled: !dataFromLink.image || ( !hasBothMedia && dataFromLink.iframe && dataFromLink.iframe.length > 0) ||( hasBothMedia && haveShowVideo )
              }"
            @click="templateHandler('line')"
            type="button"
            v-tooltip="!dataFromLink.image && 'This template requires an image.'"
        >
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="986.8px" height="986.8px" viewBox="0 0 986.8 986.8" style="enable-background:new 0 0 986.8 986.8;" xml:space="preserve"
          >
                <!--		Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>-->
                <g>
                <path d="M876.3,164.649H587c-22.1,0-40,17.9-40,40c0,22.1,17.9,40,40,40h289.3c22.101,0,40-17.9,40-40
                  C916.3,182.55,898.4,164.649,876.3,164.649z"/>
                  <path d="M587,530.849h193.3c22.101,0,40-17.9,40-40c0-22.1-17.899-40-40-40H587c-22.1,0-40,17.9-40,40
                  C547,512.949,564.9,530.849,587,530.849z"/>
                  <path d="M946.8,307.75H587c-22.1,0-40,17.9-40,40s17.9,40,40,40h359.8c22.101,0,40-17.9,40-40S968.9,307.75,946.8,307.75z"/>
                  <path d="M946.8,594.05H587c-22.1,0-40,17.898-40,40c0,22.1,17.9,40,40,40h359.8c22.101,0,40-17.9,40-40
                  C986.8,611.949,968.9,594.05,946.8,594.05z"/>
                  <path d="M946.8,737.15H587c-22.1,0-40,17.9-40,40s17.9,40,40,40h359.8c22.101,0,40-17.9,40-40S968.9,737.15,946.8,737.15z"/>
                  <path d="M414.4,160.25H60c-33.1,0-60,26.9-60,60V766.55c0,33.1,26.9,60,60,60h354.4c33.1,0,60-26.9,60-60V220.25
                  C474.4,187.05,447.601,160.25,414.4,160.25z"/>
              </g>
              </svg>
        </button>
      </div>
    </div>
    <div class="my-card-editor__sidebar-item">
      <h5>Options</h5>
      <div class="my-card-editor__sidebar-options">
        <div class="my-card-editor__slider">
          <label>Banner Size</label>
          <vue-slider :value="bannerWidth" @change="changeBannerWidth" :min="200" :max="1000" :tooltip="'active'" />
        </div>
        <div class="my-card-editor__checkbox">
          <input type="checkbox" id="addSocialLinks" :value="true" :checked="haveSocialLinks" @change="changeHaveSocialLinks">
          <label for="addSocialLinks">Add Social Buttons</label>
        </div>
        <div class="my-card-editor__checkbox">
          <input type="checkbox" id="addLogo" :value="true" :checked="haveLogo" @change="changeHaveLogo" :disabled="!isCompanyLogo">
          <label for="addLogo">Add Logo</label>
        </div>
        <div class="my-card-editor__checkbox">
          <input type="checkbox" id="addCompanyName" :value="true" :checked="haveCompanyName" @change="changeHaveCompanyName" :disabled="!isCompanyName">
          <label for="addCompanyName">Add Company Name</label>
        </div>
        <div class="my-card-editor__checkbox">
          <input type="checkbox" id="add3DEffect" :value="true" :checked="have3DEffect" @change="changeHave3DEffect">
          <label for="add3DEffect">3D Effect</label>
        </div>
        <div class="my-card-editor__checkbox alert alert-warning" v-if="hasBothMedia">
          <input type="checkbox" id="addShowVideo" :value="true" :checked="haveShowVideo" @change="changeHaveShowVideo">
          <label for="addShowVideo">Show video</label>
        </div>
      </div>
    </div>
<!--    <a
        class="btn btn-primary"
        :class="{
            disabled: dataFromLink.iframe && dataFromLink.iframe.length > 0
          }"
        @click="e => dataFromLink.iframe && dataFromLink.iframe.length > 0 && e.preventDefault()"
        :href="discountURL"
    >Set Discount</a>-->
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
  components: {
    VueSlider
  },
  props: {
    previewTemplate: {
      type: String,
      default: 'col'
    },
    dataFromLink: {
      type: Object,
      required: true
    },
    bannerWidth: {
      type: Number,
      default: 800
    },
    haveSocialLinks: {
      type: Boolean,
      default: false
    },
    haveLogo: {
      type: Boolean,
      default: false
    },
    haveCompanyName: {
      type: Boolean,
      default: false
    },
    have3DEffect: {
      type: Boolean,
      default: false
    },
    haveShowVideo: {
      type: Boolean,
      default: false
    },
    discountURL: {
      typ: String,
      default: ''
    }
  },
  computed: {
    hasBothMedia() {
      return this.dataFromLink && (
          this.dataFromLink.iframe && this.dataFromLink.image
      )
    },
    isCompanyLogo() {
      const val = this.dataFromLink && this.dataFromLink.companyLogo
      if ( !val ) this.changeHaveLogo(false)
      return val
    },
    isCompanyName() {
      const val = this.dataFromLink && this.dataFromLink.company
      if ( !val ) this.changeHaveCompanyName(false)
      return val
    },
  },
  methods: {
    getEventBoolVal(e) {
      return !!(e && e.target && e.target.checked)
    },
    templateHandler(template) {
      this.$emit('change-template', template)
    },
    changeBannerWidth(val) {
      this.$emit('change-banner-width', val)
    },
    changeHaveSocialLinks(e) {
      this.$emit('change-have-social-links', this.getEventBoolVal(e))
    },
    changeHaveLogo(e) {
      this.$emit('change-have-logo', this.getEventBoolVal(e))
    },
    changeHaveCompanyName(e) {
      this.$emit('change-have-company-name', this.getEventBoolVal(e))
    },
    changeHaveShowVideo(e, template) {
      this.$emit('change-have-show-video', this.getEventBoolVal(e))
      if (this.hasBothMedia && !this.haveShowVideo) {
        this.$emit('change-template', 'col')
      }
    },
    changeHave3DEffect(e) {
      this.$emit('change-have-3d-effect', this.getEventBoolVal(e))
    }
  }
}
</script>