<template>
    <div class="bootstrap-sidebar" :class="isOpen ? '' : 'active'">
        <nav id="bs-sidebar" :class="isOpen ? '' : 'active'">
            <ul class="list-unstyled components">
                <li v-for="element in elements" :class="activeElement === element.name ? 'active' : ''">
                    <a
                        :href="element.url"
                        :data-toggle="element.childrens ? 'collapse' : ''"
                        :aria-expanded="((element.childrens && activeChild(element)) || element.name === 'Tools') ? 'true' : 'false'"
                        :class="element.childrens ? 'dropdown-toggle' : ''"
                    >
                        {{ element.name }}
                    </a>
                    <template v-if="element.childrens">
                        <ul class="collapse list-unstyled" :id="element.name.replace(/\s/g, '').toLowerCase()" :class="activeChild(element) || element.name === 'Tools' ? 'in' : ''">
                            <li v-for="child in element.childrens"  :class="child.name === activeElement ? 'active' : ''">
                                <a :href="child.url">{{ child.name }}</a>
                            </li>
                        </ul>
                    </template>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        props: {
            activeElement: {
                type: String,
                required: true
            },
            elements: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                isOpen: true
            }
        },
        methods: {
            activeChild(element) {
                let conditional = false;
                element.childrens.forEach(el => {
                   if (el.name === this.activeElement) {
                       conditional = true;
                   }
                })

                return conditional;
            }
        },
        mounted() {
            this.$root.$on('menuBtnClick', data => {
                this.isOpen = data;
            });
        }
    }
</script>