<template>
    <div id="content">
        <button type="button" id="sidebarCollapse" :class="isOpen ? 'navbar-btn' : 'navbar-btn active'" @click="sidebarHandle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isOpen: true,
            }
        },
        methods: {
            sidebarHandle() {
                this.isOpen = !this.isOpen;
                this.$root.$emit('menuBtnClick', this.isOpen);
            }
        },
        mounted() {
            if (window.innerWidth < 768 || document.querySelector('.mystore__btn-edit')) {
                this.isOpen = false;
                this.$root.$emit('menuBtnClick', this.isOpen);
            }
        }
    }
</script>