<template>
    <div>
      <div class="form-group campaigns-stats-block">
        <label>Select Campaigns</label>
        <el-row :gutter="10">
          <el-col :span="24">
            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Check all</el-checkbox>
          </el-col>
        </el-row>
        <el-checkbox-group v-model="chosenCampaigns" @change="handleCheckedCampaignsChange">
          <el-row :gutter="10">
            <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" v-for="campaign in this.campaigns" v-bind:key="campaign.id">
              <el-checkbox v-bind:label="campaign.id" border>
                <span>{{ campaign.name }}</span>
                <span class="delete" v-show="campaign.deletedAt">Deleted: <b>{{ campaign.deletedAt }}</b></span>
              </el-checkbox>
            </el-col>
          </el-row>
        </el-checkbox-group>
      </div>
      <div class="calendar-view col-md-12">
            <div class="calendar-content" style="padding: 20px 0;">
                <div class="calendar-i-prev" id="calendarPrev" @click="prevMonth" v-bind:class="{'inactive-element': calendarPrevDisabled}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span>Previous month</span>
                </div>
                <div class="calendar-month" v-if="startDate">
                    {{ startDate.monthName() }} {{ startDate.year() }}
                </div>
                <div class="calendar-i-next" id="calendarNext" @click="nextMonth" v-bind:class="{'inactive-element': calendarNextDisabled}">
                    <span>Next month</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
            <stats-container v-if="canDisplayContainer"
                            :start-date="startDate"
                            :shop-created-at="minDate"
                            :is-referrer="isReferrer"
                            :summary="summary"
                            :generalSummary="generalSummary"
                            :invite-coupons="inviteCoupons"
                            :referrer-coupons="referrerCoupons"
                            :daily-items="dailyItems"></stats-container>
            <div class="text-center">
              <loading :active.sync="isLoading"
                       :can-cancel="false"
                       :loader="'bars'"
                       :width="200"
                       :height="60"
                       :color="'#1976d2'"
                       :is-full-page="false">
              </loading>
            </div>
        </div>

    </div>
</template>

<script>
    import Request from "../../../Mixins/Request";
    import TotalSummary from './TotalSummary.vue';
    import { dateTimeFactory } from '../../../Objects/DateTime';
    import StatsContainer from './Stats/Container';
    import { moneyFactory } from '../../../Objects/Money';
    import SummaryHelper from "../Income/Helpers/SummaryHelper";
    import ReferrerSummaryHelper from "../../Referrer/Income/Helpers/SummaryHelper";
    import Loading from 'vue-loading-overlay';

    export default {
        mixins: [ Request ],
        props: {
          campaigns: {
            type: Array,
            default: () => ([])
          },
          minDate: {
            type: String,
            required: true
          },
          isReferrer: {
            type: Boolean,
            default: false
          },
          inviteCoupons: {
            type: Number,
            default: 0
          },
          referrerCoupons: {
            type: Number,
            default: 0
          }
        },
        components: {
            TotalSummary,
            StatsContainer,
            Loading
        },
        data() {
            return {
                checkAll: false,
                isIndeterminate: true,
                isLoading: false,
                startDate: undefined,
                endDate: undefined,
                startDateString: undefined,
                endDateString: undefined,
                calendarNextDisabled: false,
                calendarPrevDisabled: false,
                items: [],
                allItems: [],
                dailyItems: [],
                chosenCampaigns: []
            }
        },
        mounted() {
            this.startDate = dateTimeFactory().startOfMonth();
            this.endDate = dateTimeFactory().endOfMonth();
            this.updateDateTimeString();
            this.chosenCampaigns = this.campaigns.map(item => item.id)
            this.loadItems(true)
            this.loadItems()
        },
        computed: {
          canDisplayContainer() {
            return (this.dailyItems && this.summary && this.generalSummary && this.startDate && !this.isLoading)
          },
          summary() {
            return this.isReferrer ? (new ReferrerSummaryHelper(this.items)).getAll() : (new SummaryHelper(this.items)).getAll();
          },
          generalSummary() {
            return this.isReferrer ? (new ReferrerSummaryHelper(this.allItems)).getAll() : (new SummaryHelper(this.allItems)).getAll();
          }
        },
        methods: {
            handleCheckedCampaignsChange(val) {
              this.checkAll = val.length === this.campaigns.length;
              this.isIndeterminate = val.length > 0 && val.length < this.campaigns.length;
              this.loadItems();
            },
            handleCheckAllChange(val) {
              this.chosenCampaigns = val ? this.campaigns.map(item => item.id) : [];
              this.isIndeterminate = false;
              this.loadItems();
            },
            convertItem(item) {
              return this.isReferrer ? {
                ...item,
                profit: moneyFactory('EUR', parseFloat(item.purchase_referrer_profit) + parseFloat(item.sign_up_referrer_profit)),
                id: item.shop.id,
                name: item.shop.name,
                purchase_referrer_profit: moneyFactory('EUR', item.purchase_referrer_profit),
                sign_up_referrer_profit: moneyFactory('EUR', item.sign_up_referrer_profit),
                total_number_of_views: item.total_number_of_views,
                total_purchase_value_generated: moneyFactory('EUR', item.total_purchase_value_generated),
                total_sign_ups_value_generated: moneyFactory('EUR', item.total_sign_ups_value_generated),
                links: []
              } : {
                ...item,
                system_commission: moneyFactory('EUR', item.system_commission),
                sign_up_referrer_profit: moneyFactory('EUR', item.sign_up_referrer_profit),
                total_referrer_income: moneyFactory('EUR', parseFloat(item.purchase_referrer_profit) + parseFloat(item.sign_up_referrer_profit)),
                purchase_total: moneyFactory('EUR', item.purchase_total),
                links: []
              }
            },
            loadItems(all) {
              this.isLoading = true
              this.makeRequest(
                  'GET',
                  this.isReferrer ? '/ajax/referrer/income/companies' : '/ajax/company/income/referrers',
                  this.getFilters(all)
              )
              .then(response => {
                if (response.data) {
                  const items = _.map(response.data, (item, key) => {
                    if (key !== 'daily') {
                      return this.convertItem(item);
                    }
                  });

                  if (all) {
                    this.allItems = items.filter(val => !!val)
                  } else {
                    this.items = items.filter(val => !!val)
                    if (response.data.daily) {
                      const dailyItems = [];
                      Object.keys(response.data.daily).forEach((day) => {
                        const dailyData = _.map(response.data.daily[day], (item) => {
                          return this.convertItem(item);
                        });
                        dailyItems[day] = (dailyData && dailyData.length > 0) ? (
                            this.isReferrer ? new ReferrerSummaryHelper(dailyData) : new SummaryHelper(dailyData)
                        ).getAll() : {};
                      });
                      this.dailyItems = dailyItems;
                    }
                  }
                } else {
                  this.$toasted.error('Invalid statistics response.')
                }
                this.isLoading = false
              }, err => {
                if (err && err.response && err.response.data && err.response.data.errors) {
                  this.errorsLoop(err.response.data.errors)
                } else {
                  this.$toasted.error('Unknown error.')
                }
                console.error(err);
                this.isLoading = false
              });
            },
            errorsLoop(errors) {
              if (typeof errors === 'object') {
                Object.keys(errors).forEach(name => {
                  if (typeof errors[name] === 'string') {
                    this.$toasted.error(errors[name]);
                  } else {
                    this.errorsLoop(errors[name])
                  }
                });
              }
            },
            getFilters(all) {
              const res = this.isReferrer ? {
                campaigns: this.chosenCampaigns,
                withDaily: false,
                allShops: true,
                filterBy: 'referral',
                start_at: this.minDate.split('.').reverse().join('-') + ' 00:00:00',
                end_at: dateTimeFactory().format('YYYY-MM-DD HH:mm:ss')
              } : {
                withDaily: false,
                filterBy: 'referral',
                include_main_offer: true,
                start_at: this.minDate.split('.').reverse().join('-') + ' 00:00:00',
                end_at: dateTimeFactory().format('YYYY-MM-DD HH:mm:ss')
              }

              return all ? res : {
                ...res,
                withDaily: true,
                start_at: this.startDateString,
                end_at: this.endDateString,
                campaigns: this.chosenCampaigns
              }
            },
            updateDateTimeString() {
                this.startDateString = this.startDate.toDateTimeString();
                this.endDateString = this.endDate.toDateTimeString();
                this.updateCalendarsDisabled();
            },
            prevMonth() {
                this.startDate = this.startDate.subMonths(1).startOfMonth();
                this.endDate = this.endDate.subMonths(1).endOfMonth();
                this.updateDateTimeString();
                this.loadItems()
            },
            nextMonth() {
                this.startDate = this.startDate.addMonths(1).startOfMonth();
                this.endDate = this.endDate.addMonths(1).endOfMonth();
                this.updateDateTimeString();
                this.loadItems()
            },
            updateCalendarsDisabled() {
                if (this.endDate) {
                    this.calendarNextDisabled = this.endDate.format('YYYY-MM-DD') >= dateTimeFactory().format('YYYY-MM-DD');
                }
                if (this.minDate && this.startDate) {
                    this.calendarPrevDisabled = this.startDate.format('YYYY-MM-DD') <= this.minDate.split('.').reverse().join('-')
                }
            }
        }
    }
</script>
