<template>
    <div>
        <div class="rTable" style="font-size: 14px;text-align: center;" v-if="items.length || loading">
            <div class="rTableHeading">
                <div class="rTableRow" v-if="summary">
                    <div class="rTableHead height-28 height-48-tablet"></div>
                    <div class="rTableHead height-28 height-48-tablet"></div>
                    <div class="rTableHead height-28 height-48-tablet"></div>
                    <div class="rTableHead height-28 width-9 height-48-tablet">Monthly summary:</div>
                    <div class="rTableHead height-28 height-48-tablet">{{ summary.purchase_count }}</div>
                    <div class="rTableHead height-28 height-48-tablet">{{ summary.sign_up_count }}</div>
                    <div class="rTableHead height-28 height-48-tablet">{{ summary.views_count }}</div>
                    <div class="rTableHead height-28 height-48-tablet">{{ summary.total_referrer_income.human_amount.replace('$', '€') }}</div>
                    <div class="rTableHead height-28 height-48-tablet">{{ summary.system_commission.human_amount.replace('$', '€') }}</div>
                    <div class="rTableHead height-28 height-48-tablet text-right"></div>
                </div>
                <div class="rTableRow">
                    <div class="rTableHead width-18" @click="sortFirstLevel('user.name')">Partner<br/>Name</div>
                    <div class="rTableHead" @click="sortFirstLevel('last_purchase_date')">Last<br/>Purchase</div>
                    <div class="rTableHead" @click="sortFirstLevel('last_sign_up_date')">Last<br/>SignUp</div>
                    <div class="rTableHead" @click="sortFirstLevel('purchase_count')">Sales<br/>Count</div>
                    <div class="rTableHead" @click="sortFirstLevel('sign_up_count')">SignUp<br/>Count</div>
                    <div class="rTableHead" @click="sortFirstLevel('views_count')">Click<br/>Count</div>
                    <div class="rTableHead" @click="sortFirstLevel('total_referrer_income.amount')">Partner<br/>Payout</div>
                    <div class="rTableHead" @click="sortFirstLevel('system_commission.amount')">ValueLink<br/>Provision</div>
                    <div class="rTableHead text-right">Actions</div>
                </div>
            </div>
            <div class="rTableBody">
                <template v-for="(item, itemIndex) in items">
                    <div class="rTableRow">
                        <div class="rTableCell width-18"><span class="table_mobile_label"></span>{{ item.user.name }} {{ item.user.surname }}<br/><a :href="'mailto:' + item.user.email">{{ item.user.email }}</a></div>
                        <div class="rTableCell"><span class="table_mobile_label">Last Purchase: </span><span v-html="lastPurchaseDateFormat(item)"></span></div>
                        <div class="rTableCell"><span class="table_mobile_label">Last Signup: </span><span v-html="lastSignUpDateFormat(item)"></span></div>
                        <div class="rTableCell"><span class="table_mobile_label">Sales Count: </span>{{ item.purchase_count }}</div>
                        <div class="rTableCell"><span class="table_mobile_label">SignUp Count: </span>{{ item.sign_up_count }}</div>
                        <div class="rTableCell"><span class="table_mobile_label">Click Count: </span>{{ item.views_count }}</div>
                        <div class="rTableCell"><span class="table_mobile_label">Partner Payout: </span>{{ item.total_referrer_income.human_amount }}</div>
                        <div class="rTableCell"><span class="table_mobile_label">ValueLink Provision: </span>{{ item.system_commission.human_amount }}</div>
                        <div class="rTableCell text-right" style="line-height:27px;">
                            <div v-if="item.purchase_count || item.sign_up_count">
                                <div v-if="item.links.length === 0" class="table-link active btn btn-third"
                                     @click.prevent="checkReferrerDetails(item)">Check<br/><span></span>Details
                                </div>
                                <div v-else class="table-link active btn btn-danger" @click.prevent="closeReferrerDetails(item)">Close<br/><span></span>Details
                                </div>
                            </div>
                            <div v-else>
                                <i class="fa fa-times-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="rTableSub" v-if="item.links.length > 0">
                        <div class="rTableHeading">
                            <div class="table-lvl1-content rTableRow" v-if="item.links.length > 0">
                                <div @click="sortSecondLevel(itemIndex, item.links, 'reflink.link')" colspan="3" class="text-left rTableHead oneof8 bigger-on-mobile width-38 width-tablet-18">Affiliate<br/>Link</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'views_count')">Click<br/>Count</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'sign_up_count')">SignUp<br/>Count</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'sign_up_referrer_profit.amount')">SignUp<br/>Value</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'purchase_count')">Purchase<br/>Count</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'purchase_total.amount')">Purchase<br/>Value</div>
                                <div class="rTableHead oneof8" @click="sortSecondLevel(itemIndex, item.links, 'referrer_profit.amount')">Referrer<br/>Reward</div>
                                <div class="rTableHead oneof8 text-right">Actions</div>
                            </div>
                        </div>
                        <template v-for="(link, linkIndex) in item.links">
                            <div class="table-lvl1-content rTableRow">
                                <div colspan="3" class="text-left rTableCell oneof8 bigger-on-mobile width-38 width-tablet-18">
                                    <input :value="protocol + '//' + link.reflink.shop_url_name + '.' + host + '/' + link.reflink.nickname + '/' + link.reflink.slug" readonly />
                                </div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">Click Count: </span>{{ link.views_count }}</div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">SignUp Count: </span>{{ link.sign_up_count }}</div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">SignUp Value: </span>{{ link.sign_up_referrer_profit.human_amount }}</div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">Purchase Count: </span>{{ link.purchase_count }}</div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">Puchase Value: </span>{{ link.purchase_total.human_amount }}</div>
                                <div class="rTableCell oneof8"><span class="table_mobile_label">Referrer Reward: </span>{{ link.referrer_profit.human_amount }}</div>
                                <div class="rTableCell oneof8 text-right" style="line-height:27px;">
                                    <div v-if="(link.details.length === 0 || activePayout != link) && (link.sign_up_count > 0 || link.purchase_count > 0)" class="table-link btn btn-third"
                                         @click.prevent="checkPayoutDetails(link)">Payout<br/><span></span>details</div>
                                    <div v-else-if="link.details.length > 0 && (activePayout && activePayout === link)" class="table-link active btn btn-danger" @click.prevent="closePayoutDetails(link)">Close<br/><span></span>payout</div>
                                    <div v-else>
                                        <i class="fa fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="rTableSub" v-if="link.details.length > 0 && activePayout === link">
                                <div class="rTableHeading">
                                    <div class="table-lvl2-content rTableRow" v-if="link.details.length > 0">
                                        <div @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'referrer_profit.amount')" class="text-left rTableHead col-md-2" colspan="1">Income<br/>Generated</div>
                                        <div class="rTableHead col-md-2" colspan="1">Reward<br/>Value</div>
                                        <div class="rTableHead col-md-2" @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'purchases_price.amount')" colspan="1">Purchase<br/>Value</div>
                                        <div class="rTableHead col-md-2" @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'purchases_amount')" colspan="1">Purchase<br/>Count</div>
                                        <div @click="sortThirdLevel(itemIndex, linkIndex, link.details, 'source_link')" colspan="3" class="text-left rTableHead col-md-2 width-46">Conversion<br/>Link</div>
                                        <div class="rTableHead oneof8 text-right">Actions</div>
                                    </div>
                                </div>
                                <template v-for="detail in link.details">
                                    <div class="table-lvl2-content rTableRow">
                                        <div colspan="1" class="text-left rTableCell col-md-2">
                                            <span class="table_mobile_label">Income Generated: </span>{{ detail.referrer_profit.human_amount }}
                                        </div>
                                        <div class="rTableCell col-md-2" colspan="1">
                                            <span class="table_mobile_label">Reward Value: </span>{{ detail.offer_type }}
                                            <span v-if="detail.commission_type === 'fixed'">{{ detail.commission.human_amount }}</span>
                                            <span v-else>{{ detail.commission }}%</span>
                                        </div>
                                        <div class="rTableCell col-md-2" colspan="1">
                                            <span class="table_mobile_label">Purchase Value: </span>
                                            <span>{{ detail.purchases_price.amount > 0 ? detail.purchases_price.human_amount : '' }}</span>
                                            <i v-if="detail.purchases_price.amount === 0" class="fa fa-times-circle"></i>
                                        </div>
                                        <div class="rTableCell col-md-2" colspan="1"><span class="table_mobile_label">Purchase Count: </span>{{ detail.offer_type == 'CPS' ? detail.purchases_amount : detail.transactions_count }}
                                        </div>
                                        <div colspan="4" class="text-left rTableCell col-md-2 bigger-on-mobile width-46"><input readonly :value="detail.source_link"/></div>
                                        <div class="rTableCell oneof8 text-right" style="line-height:27px;">
                                            <div v-if="(detail.exchange_rates.length === 0 || activePayoutDetails != detail.exchange_rates) && (link.sign_up_count > 0 || link.purchase_count > 0) && detail.has_exchanges"
                                                 class="table-link btn btn-third"
                                                 @click.prevent="checkConversionDetails(link, detail)">eX. Rate<br>Details</div>
                                            <div v-else-if="detail.exchange_rates.length > 0 && (activePayoutDetails && activePayoutDetails === detail.exchange_rates)" class="table-link active btn btn-danger" @click="closeConversionDetails(detail)">Close</div>
                                            <div v-else>
                                                <i class="fa fa-times-circle"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="rTableSub" v-if="detail.exchange_rates.length > 0 && activePayoutDetails === detail.exchange_rates">
                                        <div class="rTableHeading">
                                            <div class="table-lvl2-content rTableRow" v-if="link.details.length > 0">
                                                <div class="text-left rTableHead col-md-2" colspan="1" style="visibility: hidden">#</div>
                                                <div class="text-left rTableHead col-md-2" colspan="1">Transaction ID</div>
                                                <div class="text-left rTableHead col-md-2" colspan="1">Source<br/>Currency</div>
                                                <div class="rTableHead col-md-2" colspan="1">Exchange<br/>Rate</div>
                                                <div class="rTableHead col-md-2" colspan="1">Transaction<br/>Date & Time</div>
                                                <div class="rTableHead col-md-2" colspan="1">Value in<br/>Euro</div>
                                                <div class="text-left rTableHead col-md-2" colspan="1" style="visibility: hidden">#</div>
                                            </div>
                                        </div>
                                        <template v-for="(rate, i) in detail.exchange_rates">
                                            <div class="table-lvl2-content rTableRow" style="background: #e2e2e2;">
                                                <div colspan="1" class="text-left rTableCell col-md-2" style="visibility: hidden">
                                                    <span class="table_mobile_label">Number: </span>{{ i + 1 }}
                                                </div>
                                                <div colspan="1" class="text-left rTableCell col-md-2">
                                                    <span class="table_mobile_label">Number: </span>{{ i + 1 }}
                                                </div>
                                                <div class="rTableCell col-md-2" colspan="1">
                                                    <span class="table_mobile_label">Source Currency: </span>
                                                    <span v-if="rate.original_price">{{ rate.original_price.amount }} {{ rate.original_price.currency }}</span>
                                                    <span v-else><i class="fa fa-times-circle"></i></span>
                                                </div>
                                                <div class="rTableCell col-md-2" colspan="1">
                                                    <span class="table_mobile_label">Exchange Rate: </span>
                                                    <span v-if="rate.exchange_rate">{{ rate.exchange_rate.amount }} {{ rate.exchange_rate.currency }}</span>
                                                    <span v-else><i class="fa fa-times-circle"></i></span>
                                                </div>
                                                <div class="rTableCell col-md-2" colspan="1">
                                                    <span class="table_mobile_label">Transaction Date & Time: </span>
                                                    <span v-html="rate.createdAt"></span>
                                                </div>
                                                <div class="rTableCell col-md-2" colspan="1">
                                                    <span class="table_mobile_label">Value in Euro: </span>
                                                    <span v-if="rate.purchases_price">{{ rate.purchases_price.amount }} {{ rate.purchases_price.currency }}</span>
                                                    <span v-else><i class="fa fa-times-circle"></i></span>
                                                </div>
                                                <div colspan="1" class="text-left rTableCell col-md-2" style="visibility: hidden">
                                                    <span class="table_mobile_label">Number: </span>{{ i + 1 }}
                                                </div>
                                            </div>
                                        </template>
                                    </div>

                                </template>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <div v-if="!items.length && !loading">
            <div class="alert alert-info" role="alert">There are no statistics for this period.</div>
        </div>
    </div>
</template>

<script>
    import {userFactory} from "../../../Objects/User";
    import {moneyFactory} from "../../../Objects/Money";
    import Request from "../../../Mixins/Request";
    import SummaryHelper from './Helpers/SummaryHelper.js';
    import Sort from './Helpers/Sort.js';

    export default {
        mixins: [Request],
        props: ['start', 'end', 'products', 'includeMainOffer'],
        data() {
            return {
                host: null,
                protocol: null,
                items: [],
                firstLevelSort: null,
                secondLevelSort: {},
                thirdLevelSort: {},
                loading: true,
                activePartner: null,
                activePayout: null,
                activePayoutDetails: null
            }
        },
        watch: {
            start: function () {
                this.loadItems();
            },
            products: function () {
                this.loadItems();
            },
            summary: function (newVal) {
                this.$emit('summary-changed', newVal)
            },
            includeMainOffer: function() {
                this.loadItems();
            }
        },
        mounted() {
            this.loadItems();
            this.host = window.location.host;
            this.protocol = window.location.protocol;
        },
        methods: {
            sortFirstLevel(field) {
                if (!this.firstLevelSort) {
                    this.firstLevelSort = new Sort();
                }

                this.items = this.firstLevelSort.sort(this.items, field);
            },
            sortSecondLevel(identifier, data, field) {
                if (this.secondLevelSort[identifier] === undefined) {
                    this.secondLevelSort[identifier] = new Sort();
                }
                this.items[identifier].links =this.secondLevelSort[identifier].sort(data, field);
            },
            sortThirdLevel(itemIndex, linkIndex, data, field) {
                let id = [itemIndex, linkIndex].join('.');
                if (this.thirdLevelSort[id] === undefined) {
                    this.thirdLevelSort[id] = new Sort();
                }
                this.items[itemIndex]['links'][linkIndex].details = this.thirdLevelSort[id].sort(data, field);
            },
            checkReferrerDetails(item) {

                let $this = this;

                this.items.forEach(function(value, index){
                    if(value.id != item.id){
                        $this.items[index].links = [];
                    }
                });

                this.makeRequest('GET', `/ajax/company/income/referrer/${item.user.id}`, this.getFilters())
                    .then(response => {
                        item.links = _.map(response.data, function (link) {
                            link.purchase_total = moneyFactory('EUR', link.purchase_total);
                            link.sign_up_referrer_profit = moneyFactory('EUR', link.sign_up_referrer_profit);
                            link.referrer_profit = moneyFactory('EUR', link.purchase_referrer_profit).add(link.sign_up_referrer_profit);
                            link.details = [];
                            return link;
                        })
                        this.activePartner = item;
                    })
            },
            closeReferrerDetails(item) {
                item.links = [];

                this.activePartner = null;
                this.activePayout = null;
                this.activePayoutDetails = null;
            },
            checkPayoutDetails(link) {
                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}`, this.getFilters())
                    .then(response => {
                        link.details = _.map(response.data, function (detail) {
                            detail.purchases_price = moneyFactory('EUR', detail.purchases_price);
                            detail.referrer_profit = moneyFactory('EUR', detail.referrer_profit);
                            if (detail.commission_type === 'fixed') {
                                detail.commission = moneyFactory('EUR', detail.commission);
                            }
                            detail.exchange_rates = [];

                            return detail;
                        });
                        this.activePayout = link;
                    })
            },
            closePayoutDetails(link) {
                link.details = [];

                this.activePayout = null;
                this.activePayoutDetails = null;
            },
            closeConversionDetails(detail) {
                detail.exchange_rates = [];
                this.activePayoutDetails = null;
            },
            loadItems() {
                this.makeRequest('GET', '/ajax/company/income/referrers', this.getFilters())
                    .then(response => {
                        this.items = _.map(response.data, function (item) {
                            item.id = item.referrer.id;
                            item.user = userFactory(item.referrer);
                            item.system_commission = moneyFactory('EUR', item.system_commission);
                            item.sign_up_referrer_profit = moneyFactory('EUR', item.sign_up_referrer_profit);
                            item.total_referrer_income = moneyFactory('EUR', item.purchase_referrer_profit).add(item.sign_up_referrer_profit)
                            item.purchase_total = moneyFactory('EUR', item.purchase_total);

                            item.links = [];
                            return item;
                        });

                        this.loading = false;
                    });
            },
            getFilters() {
                return {
                    products: this.products,
                    include_main_offer: this.includeMainOffer,
                    start_at: this.start,
                    end_at: this.end
                };
            },
            convertDateTimeToDisplay(dateTime) {
                let dtObject = new Date(String(dateTime).replace(/ /g,"T"));
                let dateString = '';
                let currMonth = (dtObject.getMonth()+1).toString().length == 1 ? '0' + (dtObject.getMonth()+1) : (dtObject.getMonth()+1);
                let currDay = dtObject.getDate().toString().length == 1 ? '0' + dtObject.getDate() : dtObject.getDate();
                let currHour = dtObject.getHours().toString().length == 1 ? '0' + dtObject.getHours() : dtObject.getHours();
                let currMin = dtObject.getMinutes().toString().length == 1 ? '0' + dtObject.getMinutes() : dtObject.getMinutes();

                dateString = dtObject.getFullYear().toString() + '-' + currMonth + '-' + currDay;
                dateString += '<br/>';
                dateString += currHour + ':' + currMin;
                return dateString;
            },
            lastPurchaseDateFormat (item) {
                if(item.last_purchase_date){
                    return this.convertDateTimeToDisplay(item.last_purchase_date);
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            },
            lastSignUpDateFormat (item) {
                if(item.last_sign_up_date){
                    let lastSignUpDate = new Date(item.last_sign_up_date.replace(/ /g,"T"));
                    let lastSignUpContent = null;

                    let currMonth = (lastSignUpDate.getMonth()+1).toString().length == 1 ? '0' + (lastSignUpDate.getMonth()+1) : (lastSignUpDate.getMonth()+1);
                    let currDay = lastSignUpDate.getDate().toString().length == 1 ? '0' + lastSignUpDate.getDate() : lastSignUpDate.getDate();
                    let currHour = lastSignUpDate.getHours().toString().length == 1 ? '0' + lastSignUpDate.getHours() : lastSignUpDate.getHours();
                    let currMin = lastSignUpDate.getMinutes().toString().length == 1 ? '0' + lastSignUpDate.getMinutes() : lastSignUpDate.getMinutes();
                    let currSec = lastSignUpDate.getSeconds().toString().length == 1 ? '0' + lastSignUpDate.getSeconds() : lastSignUpDate.getSeconds();

                    lastSignUpContent = currMonth + '-' + currDay + '-' + lastSignUpDate.getFullYear().toString().substr(-2);
                    lastSignUpContent += '<br/>';
                    lastSignUpContent += currHour + ':' + currMin + ':' + currSec;

                    return lastSignUpContent;
                } else {
                    return '<i class="fa fa-times-circle"></i>';
                }
            },
            checkConversionDetails(link, target) {

                let filters = this.getFilters();
                filters.offer_type = target.offer_type;
                filters.commission = target.commission;
                filters.commission_type = target.commission_type;
                filters.purchase_price = target.purchases_price.amount;
                filters.source_link = target.source_link;

                this.makeRequest('GET', `/ajax/company/income/referrer-link/${link.reflink.id}/exchange-rates`, filters)
                    .then(response => {
                        target.exchange_rates = _.map(response.data, (detail) => {
                            if (detail.purchasesPrice !== null) {
                                detail.purchases_price = moneyFactory('EUR', detail.purchasesPrice);
                            }
                            if (detail.originalPrice !== null) {
                                detail.original_price = moneyFactory(detail.originalCurrency, detail.originalPrice);
                            }
                            if (detail.exchangeRate !== null) {
                                detail.exchange_rate = moneyFactory(detail.originalCurrency, detail.exchangeRate);
                            }
                            detail.createdAt = this.convertDateTimeToDisplay(detail.createdAt.date);
                            return detail;
                        });

                        this.activePayoutDetails = target.exchange_rates;
                    })
            }
        },
        computed: {
            summary () {
                return (new SummaryHelper(this.items)).getAll();
            }
        }

    }
</script>
