<template>
    <div class="calendar-income-info">
        <div style="text-align: center;">
            <strong style="display: block">Sales based on<br>referral links:</strong>
            <strong style="display: block;">€450</strong>
        </div>
        <div v-if="!isReferrer" style="text-align: center;">
            <strong style="display: block">Discount based on<br>used coupons:</strong>
            <strong>€100</strong>
        </div>
        <div v-if="isReferrer" style="text-align: center">
            <strong style="display: block">Coupons<br>received:</strong>
            <strong>15</strong>
        </div>
        <div style="text-align: center;">
            <strong style="display: block">Cash payed out due to referrals:</strong>
            <strong>€50</strong>
        </div>
        <div v-if="!isReferrer" style="text-align: center;">
            <strong style="display: block">Revenue based on<br>referrals:</strong>
            <strong>€300</strong>
        </div>
        <div v-if="isReferrer" style="text-align: center;position: relative">
            <strong style="display: block">Revenue based on<br>referrals*:</strong>
            <strong>€300</strong>
            <span style="position: absolute;font-size: 9px;bottom: -5px;left: 0;color: #1976d2;text-transform: initial;width: 100%;text-align: center">* Revenue = Sales - Cash payed out</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['stats', 'isReferrer'],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {}
    }
</script>
