<head>
    <base target="_parent">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/override.css">
    <link rel="stylesheet" type="text/css" href="/css/card-builder.css">
    <style>
        body {
            background: none;
        }

        .cards_section {
            background: none;
            border: none;
        }

        .card-body {
            height: auto !important;
        }

        .card_body:hover .couponBox {
            background-color: #1976D2;
            color: white;
        }

        .cards_content {
            max-width: 100%;
            padding: 0 !important;
            margin: 0 !important;
        }
        .card-link.btn { display:inline-block; width:40%; margin-left:30%; }
    </style>
</head>
<body>

<div class="setcards_page" style="border:none; padding: 0">
    <div data-v-35cce1f2="" class="col-md-12 cards_section section card" id="containerCardsHeight">
        <div data-v-35cce1f2="" class="col-md-12 cards_content section" style="overflow: hidden; width: {{ cardSet.cardsWidth }}px; border: 1px solid #eee;border-radius: 10px;padding-top: 15px!important;position: relative;padding-bottom:15px!important">
            <p style="position: absolute;right: 10px;bottom: -10px;font-size: 10px;">Powered by <a href="http://www.valuelink.io/"><strong>ValueLink</strong></a></p>
            {% for card in cardSet.cards %}

                <div data-v-c4b12c32="" data-v-35cce1f2="" class="card_body col-xs-12 {% if cardSet.columnsCount == 2 %}col-sm-6{% elseif cardSet.columnsCount == 3 %}col-sm-4{% endif %} ">
                    <a data-v-c4b12c32="" data-ref="40" class="card" href="{{ url('home_reflink_card', { 'shopName': card.referrerLink.shopUrlName, 'nickname': card.referrerLink.nickname, 'reflinkSlug': card.referrerLink.slug }) }}">
                        <div data-v-c4b12c32="" class="card_box">
                            {% set referrerCoupon = card.referrerLink.referrer.getReferrerCouponByShop(card.referrerLink.shop) %}

                            {% if referrerCoupon and referrerCoupon.setOfCardsEnabledAndNotExpired %}
                            <div class="couponBox" style="position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 999999;">
                                {{ referrerCoupon.valueWithType }} OFF
                            </div>
                            {% endif %}
                            <div data-v-c4b12c32="" class="tr-transform tr-transform--active">
                                <div data-v-c4b12c32="" class="img-container">
                                    {% if card.background and card.background.media.fileName is defined %}
                                        <img style="width: {{ card.background.width }}px; left: {{ card.background.positionLeft }}px; top: {{ card.background.positionTop }}px; height:auto; position: absolute;"
                                             data-v-c4b12c32="" src="{{ '/media/' ~ card.background.media.fileName }}"
                                             class="card-img-top">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {#<a data-v-c4b12c32="" target="_blank" href="{{ card.articleUrl }}"#}
                           {#class="card-link btn btn-outline-primary hidden-phone">Article</a>#}
                        <div data-v-c4b12c32="" class="card-body"><h3 readonly data-v-c4b12c32=""
                                                                      class="card-title user-success" style="height: auto;">{{ card.title }}</h3>
                            {#<p data-v-c4b12c32="" class="card-text">{{ card.description }}</p>#}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.card').forEach((card) => {
        card.style.height = card.parentNode.scrollHeight + 'px'
    })
    top.postMessage(document.querySelector('#containerCardsHeight').scrollHeight+'px', '*')
</script>

</body>
