{% extends 'layouts/global.html.twig' %}

{% block global %}
<section class="section single-wrap single-item" style="background: #1976D2;">
    <div class="content-top" style="background: #1976d1b3;padding: 1px 10px;margin-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li class="back-icon">
                                <a href="{{ path('account_shop_edit_preview', {shop: shop.id}) }}">Back to Marketplace</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
    </div>
    <div class="container">
        <div class="page-title">
            <div class="row flex-box-grid">
                <div class="col-md-4">
                    <div class="boxes boxs" style="height:100%">
                        <div class="item-price text-center" style="width: 100%;">
                            <form method="POST" action="{{ path('shop_user_store', {'shop_id': shop.id}) }}" style="margin-bottom:10px;">
                                <button class="btn btn-danger btn-block" type="submit">Join Program</button>
                            </form>
                            <a href="{{ redirectLink }}" class="btn btn-primary btn-block">Visit website</a>
                        </div><!-- end price -->
                    </div><!-- end boxes -->
                </div>

                <div class="col-md-4">
                    <div class="boxes boxs" style="height:100%">
                        <div class="company-logo">
                            {% if shop.logo %}
                            <img src="{{ shop.logo }}">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="boxes boxs" style="height:100%">
                        <div class="company-desc">
                            <div class="company-name">{{ shop.name }}</div>
                            <div class="company-short-desc">{{ shop.service }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-top" style="display: none;">
            <div class="row">
                <div class="col-sx-6 col-sm-6">
                </div>

                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="{{ path('home_index') }}">Home</a></li>
                            <li><a href="{{ path('shop_index') }}">Catalog</a></li>
                            <li class="active">{{ shop.name ?: 'Shop' }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->

        <div class="row">
            <div id="singlewrapper" class="col-md-12">

                <div class="content nopad" style="border-radius: 25px;">
                    <div class="item-single-wrapper">
                        <div class="item-box">
                            <div class="item-desc text-center">
                                <h3>Referral Program Reward</h3>

                                {% if shop.cpsOffer %}
                                <p>{{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{
                                    shop.cpsOffer.isCommissionFiexed() ? '$' : '%' }} for every Sale</p>
                                {% endif %}

                                {% if shop.cplOffer %}
                                <p>{{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{{
                                    shop.cplOffer.isCommissionFiexed() ? '$' : '%' }} for every SignUp</p>
                                {% endif %}

                                <p id="singleOfferDetails" class="btn btn-secondary item-box__offer__button">Offer
                                    Details</p>
                            </div><!-- end item-desc -->
                        </div><!-- end item-box -->
                    </div><!-- end item-single-wrapper -->
                </div><!-- end content -->

            </div><!-- end singlewrapper -->

            <div id="sidebar" class="col-md-4" style="display: none;">
                <div class="boxes boxs">
                    <div class="item-price text-center">
                        <form method="POST" action="{{ path('shop_user_store', {'shop_id': shop.id}) }}" style="margin-bottom:10px;">
                            <button class="btn btn-danger btn-block" type="submit">Join Program</button>
                        </form>
                        <a href="{{ redirectLink }}" class="btn btn-primary btn-block">Visit website</a>
                    </div><!-- end price -->
                </div><!-- end boxes -->

                <div class="boxes boxs">
                    <div class="item-details">
                        <table>
                            <tr>
                                <td>Company description:</td>
                                <td>
                                    <div class="product-tags">
                                        <a href="#">Electronic Devices</a>
                                        <a href="#">Software</a>
                                        <a href="#">Fame</a>
                                        <a href="#">Expensive</a>
                                    </div><!-- en tags -->
                                </td>
                            </tr>

                        </table>
                    </div><!-- end item-details -->
                </div><!-- end boxes -->
            </div><!-- end sidebar -->
        </div><!-- end row -->

        <div class="content-message boxs">
            <div class="row">
                <h3 class="text-center">Start Earning in 3 steps</h3>
                <div class="col-md-4 text-center">
                    <div class="step">
                        <small>Step one</small>
                        <h4>Join now!</h4>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>Join APPLE program and get Your referral links and cards</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="step">
                        <small>Step two</small>
                        <h4>Share your link or cards</h4>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <p>Share Your links on Social Media<br>
                            <small>Step two</small>
                            Share Your Cards on Blog<br>
                            Create, Customize and Share Your Own Referral Store
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="step">
                        <small>Step three</small>
                        <h4>Get Paid!</h4>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p>Join APPLE program and get Your referral links and cards</p>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content message -->

        <div class="content-message boxs faq-content">
            <div class="row" style="text-align: center">
                <h3 class="text-center">Frequently Asked Questions</h3>
                <div class="col-md-12 text-center">
                    <div class="panel-group" id="faqAccordion">
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                                data-parent="#faqAccordion" data-target="#question0">
                                <h4 class="panel-title">
                                    <a href="#" class="ing">How and When do I Get Paid</a>
                                </h4>

                            </div>
                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only
                                        five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and
                                        more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>

                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                                data-parent="#faqAccordion" data-target="#question1">
                                <h4 class="panel-title">
                                    <a href="#" class="ing">Cookies Validity</a>
                                </h4>

                            </div>
                            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only
                                        five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and
                                        more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>

                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                                data-parent="#faqAccordion" data-target="#question2">
                                <h4 class="panel-title">
                                    <a href="#" class="ing">Commission Validity</a>
                                </h4>

                            </div>
                            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only
                                        five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with
                                        the release of Letraset sheets containing Lorem Ipsum passages, and
                                        more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn btn-default"><a href="#">Ready To Start? Join Now</a></div>
            </div><!-- end row -->
        </div><!-- end content message -->
    </div><!-- end container -->
</section>
<div class="modal-offer">
    <div class="modal-offer__overlay"></div>
    <div class="modal-offer__box">
        <button class="btn modal-offer__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <h3>Main Offer</h3>
        <p>Recommend our products and get (% or value) from every sale.<br>Generate a lead to the {{ shop.name }} page
            get (% or value) from every Sign Up.</p>
        {% if shop.products %}
        <h3>Special Offer</h3>
        <table class="table table-striped table-offer" style="width: 100%">
            <thead>
                <tr>
                    <th rowspan="2" scope="colgroup">Offer Name</th>
                    <th rowspan="2" scope="colgroup">Offer Description</th>
                    <th colspan="2" scope="colgroup" style="width: 120px; border-bottom: 0;">Offer
                        CPS</th>
                </tr>
                <tr>
                    <th colspan="1" scope="col" style="border-top: 0;border-right: 0;padding-top: 0;padding-bottom: 0;">€</th>
                    <th colspan="1" scope="col" style="border-top: 0;border-left: 0;padding-top: 0;padding-bottom: 0;">%</th>
                </tr>
            </thead>
            <tbody>
                {% for product in shop.products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        {% if (product.cpsOffer.commissionType == 'fixed') %}
                        {{ product.cpsOffer.commission }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        {% if (product.cpsOffer.commissionType == 'percent') %}
                        {{ product.cpsOffer.commission }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}




{% block scripts %}
{{ parent() }}
<script>
    $('#singleOfferDetails, .modal-offer__overlay, .modal-offer__close').on('click touch', function (e) {
        e.preventDefault();
        $('.modal-offer').toggleClass('open');
    });
    {% if not app.user %}
    document.querySelector('.nav.navbar-nav.navbar-right').style.display = 'none'
    {% endif %}
    document.querySelector('.header').style.display = 'none'
</script>
{% endblock %}
