{% set profileUrl = absolute_url(path('referrer_show', {'nickname': app.user.nickname})) %}

<div class="text-center your-personal-store__header">
    Your Personal Store:<br>
    <a target="_blank" href="{{ profileUrl }}">{{ profileUrl }}</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">

            <h5 class="nonrefferrablelinks-h">Enter None-Refferable link You would like to mention (2 max)</h5>

            {% for key, form  in forms %}
                <div class="col-md-6 col-sm-12">
                    <div class="boxes boxs nonerefferablelink">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="form-group flex noborder">
                            <label>{% if key == 0 %}First{% elseif key == 1 %}Second{% endif %} Destination URL</label>
                            <div class="selectProtocol">
                                {{ form_widget(form.destinationUrl.protocol) }}
                            </div>
                            {{ form_widget(form.destinationUrl.url, {'attr': {class: 'destlink website-url', placeholder: 'Destination URL (optional)'}}) }}
                            <span>Copy & Paste URL</span>
                        </div>

                        <div class="nonrefferableLinks-btns">
                            <input type="submit" class="btn btn-primary" value="Save">
                            {% if form.vars.value.id is defined and form.vars.value.id %}
                                <button data-url="{{ path('account_referrer_store_destroy', {referrerStoreNonReferableLink: form.vars.value.id}) }}"
                                        class="btn btn-danger remove-link">Clear
                                </button>
                            {% endif %}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<div class="row mystore__row--mobile" style="margin: 0 -35px 0 -35px;">
    <div class="mystore--referrable-links__row--container">
        {% if myStoreReferrerLinks|length > 0 %}
            <div class="mystore--referrable-links">
                <div class="mystore--referrable-links__body">
                    {% for link in myStoreReferrerLinks %}
                        <my-store-referrable-link
                                checked="{{ link.showInMyStoreAsCard }}"
                                shop="{{ link.shop.id }}"
                                referrer-link="{{ link.id }}"
                                link-url="{{ url('home_reflink', { 'shopName': link.shop.urlName, 'nickname': link.nickname, 'reflinkSlug': link.slug }) }}"
                                csrf="{{ csrf_token('referrer_link_my_store') }}"
                        >
                        </my-store-referrable-link>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                There are no links.
            </div>
        {% endif %}
    </div>
</div>
