{% extends 'account/referrer/base.html.twig' %}

{% block tab_name %}store{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.remove-link').click(function (e) {
            e.preventDefault();
            axios.delete($(this).data('url')).then(() => location.reload());
        })
        $('.website-url').keyup(function () {
            let url = $(this).val().replace('http://', '').replace('https://', '');
            $(this).val(url);
        });
    </script>
{% endblock %}

{% block tab_content %}
<div class="tab-content" style="padding:20px 0 0;">
    <div role="tabpanel" class="tab-pane active mystore-edition-page" id="income">
        <a href="{{ absolute_url(path('referrer_show_me')) }}" class="setcards_page--back-button btn btn-primary"><i class="fa fa-angle-left"></i> Back to My Store</a>
        {% include 'account/referrer/store/form.html.twig' %}
    </div>
</div>
{% endblock %}
