{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="section single-wrap">
        <div class="page-entry-bg header-with-global-stats">
            <div class="container" style="padding-left:0; padding-right:0;">
                <div class="page-title income-title">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>{{ app.user.shop.name }}</h3>
                        </div>
{#                        <shop-stats-summary></shop-stats-summary>#}
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/shop/edit_base-menu.html.twig' with {active: 'post-order'} %}
        <div class="container">
            <div class="content shop-content wizard widget" style="padding-left:0; padding-right:0;">
                <div class="row">
                    <div id="sidebar" class="col-md-3 col-xs-12">
                        <div class="sidebar-content"><p>PopUp Activation</p>
                            {% include 'account/shop/post-order/parts/menu.html.twig' %}
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="section-title-entry">
                            <h3>PopUp Activation</h3>
                        </div>
                        {{ form_start(form) }}
                        <div style="padding: 5px 15px;border: 1px solid lightgray;border-radius: 15px;">
                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                <div class="form-switch-wrapper" style="width: auto;">
                                    <label style="font-weight: 400">Activate PosOrder PopUp</label>
                                    <label class="switch" style="margin-left: 0;margin-right: 15px;">
                                        <input name="activation_form[postOrderPopupEnabled]" type="checkbox" value="1" class="cpl-switch"
                                               {% if form.postOrderPopupEnabled.vars.checked %}checked{% endif %}
                                        />
                                        <div></div>
                                    </label>
                                </div>
                                <div style="text-align: center">Confirmation<br>when deactivated</div>
                            </div>
                            <div>
                                <div class="alert alert-danger" style="margin-bottom: 5px;">PopUp Header is not defined.</div>
                                <div class="alert alert-danger" style="margin-bottom: 5px;">PopUp display conditions are not defined</div>
                                <div class="alert alert-danger" style="margin-bottom: 5px;">PopUp Rewards are not defined.</div>
                                <div class="alert alert-success" style="margin-top: 25px">PostOrder PopUp ready for activation</div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin-top: 15px">Save</button>
                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
