{% include 'layouts/global.html.twig' %}

{% block og_tags %}
    <meta name="og:image" content="{{ widgetReferenceLink.image }}">
    <meta name="og:description" content="{{ widgetReferenceLink.description }}">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>

        let beFingerprint = [];
        {% for fingerprint in fingerprints %}
        beFingerprint.push('{{ fingerprint.content }}')
        {% endfor %}
        let isFingerprintValid = false
        if (window.requestIdleCallback) {
            requestIdleCallback(function () {
                Fingerprint2.get(function (components) {
                    const values = components.map(function (component) { return component.value })
                    const murmur = Fingerprint2.x64hash128(values.join(''), 31)
                    isFingerprintValid = beFingerprint.includes(murmur.toString())
                    console.log(murmur, isFingerprintValid)
                    selfReferringFunction()
                })
            })
        } else {
            setTimeout(function () {
                Fingerprint2.get(function (components) {
                    const values = components.map(function (component) { return component.value })
                    const murmur = Fingerprint2.x64hash128(values.join(''), 31)
                    isFingerprintValid = beFingerprint.includes(murmur.toString())
                    console.log(murmur, isFingerprintValid)
                    selfReferringFunction()
                })
            }, 500)
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1,c.length);
                }
                if (c.indexOf(nameEQ) === 0) {
                    return c.substring(nameEQ.length,c.length);
                }
            }
            return null;
        }

        function selfReferringFunction() {
            let sessionSelfReffering = !!localStorage.getItem('{{ selfReferringKey }}') || readCookie('{{ selfReferringKey }}') || isFingerprintValid

            if (sessionSelfReffering) {
                document.querySelector('#couponCodeInput input').value = "No self referrals"
                document.querySelector('#couponCodeInput input').style.fontSize = '12px'
                document.querySelector('#couponCodeInput input').style.color = 'grey'
                document.querySelector('#couponCodeInput input').style.cursor = 'pointer'
                document.querySelector('#couponCodeInput input').style.filter = 'blur(0px)'
            }

            new ClipboardJS('#coupon-clipboard-copy');
            if (document.querySelector('#toast-container')) {
                document.querySelector('#toast-container').style.display = 'none'
            }
            $(function () {
                if (document.querySelector('#toast-container')) {
                    document.querySelector('#toast-container').style.display = 'none'
                }

                el_btnVerify = document.querySelector('#btnVerify')
                if (el_btnVerify ){
                    el_btnVerify.addEventListener('click', (e) => {
                        const errContainer = document.querySelector('#validErrorToast');
                        if (document.getElementById('acceptTC').checked) {
                            const phoneNumber = document.querySelector('#numberToVerify');
                            errContainer.innerHTML = ''
                            fetch(`${window.location.protocol}//${window.location.host}/api/v1/verify-number?campaign=${ {{ campaign.id }} }&number=${phoneNumber && phoneNumber.value}`)
                                .then(response => response.json())
                                .then(data => {
                                    if(data && data.success) {
                                        document.getElementById('verifyBlock').style.display = 'none';
                                        document.getElementById('verifyCodeBlock').style.display = 'block';
                                    } else if (data && data.errors) {
                                        errContainer.innerHTML = `<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="${data.errors[0]}">${data.errors[0]}</p>`
                                    } else {
                                        errContainer.innerHTML = '<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="${data.errors[0]}">Unknown error!</p>'
                                    }
                                }).catch(err => {
                                console.error(err)
                            });
                        } else {
                            errContainer.innerHTML = `<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">You must agree to terms!</p>`
                        }
                    });
                }

                el_btnVerifyCode = document.querySelector('#btnVerifyCode')
                if (el_btnVerifyCode){
                    el_btnVerifyCode.addEventListener('click', (e) => {
                        const errContainer = document.querySelector('#validErrorCodeToast');
                        if (document.getElementById('acceptTC').checked) {
                            const phoneNumber = document.querySelector('#numberToVerify');
                            const phoneCode = document.querySelector('#codeToVerify');
                            errContainer.innerHTML = ''

                            if (!phoneCode || !phoneCode.value) {
                                errContainer.innerHTML = '<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">The code input can\'t be empty!</p>'
                                return false;
                            }

                            fetch(`${window.location.protocol}//${window.location.host}/api/v1/verify-number?campaign=${ {{ campaign.id }} }&number=${phoneNumber && phoneNumber.value}&code=${phoneCode && phoneCode.value}`)
                                .then(response => response.json())
                                .then(data => {
                                    if(data && data.success) {
                                        document.getElementById('verifyBlock').style.display = 'none';
                                        document.getElementById('verifyCodeBlock').style.display = 'none';
                                        document.getElementById('couponContainer').style.display = 'block';
                                    } else if (data && data.errors) {
                                        errContainer.innerHTML = `<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="${data.errors[0]}">${data.errors[0]}</p>`
                                    } else {
                                        errContainer.innerHTML = '<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="${data.errors[0]}">Unknown error!</p>'
                                    }
                                }).catch(err => {
                                console.error(err)
                            });
                        } else {
                            document.getElementById('verifyBlock').style.display = 'block';
                            document.getElementById('verifyCodeBlock').style.display = 'none';
                            document.querySelector('#validErrorToast').innerHTML = `<p style="width: 100%;max-width: 400px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">You must agree to terms!</p>`
                        }
                    });
                }

                el_codeInput = document.querySelector('#couponCodeInput')
                if (el_codeInput){
                    el_codeInput.addEventListener('click', (e) => {
                        {% if not selfReferring %}
                        /*                    const phoneNumber = document.querySelector('#numberToVerify');  && phoneNumber && phoneNumber.value*/
                        if (!sessionSelfReffering ) {
                            axios.post("{{ path('widget_share_coupon', {slug: widgetReferenceLink.slug}) }}")
                                .then(response => {
                                    document.querySelector('#couponCodeInput input').value = response.data.coupon
                                    let copyText = document.querySelector('#couponCodeInput input');
                                    copyText.style.filter = null;
                                    copyText.select();
                                    document.execCommand("copy");
                                    document.querySelector('#copiedToast').style.visibility = 'visible'
                                })
                                .catch(error => {
                                    document.querySelector('#errorToast').style.visibility = 'visible'
                                });
                        }
                        {% endif %}
                    });
                }

                {% if skipPhoneCode == true %}
                    let el = document.getElementById('couponContainer');
                    if (el){
                        el.style.display = 'block';
                    }
                {% endif %}
            });
        }

    </script>
    <style>
        body {
            background-color: #ebebeb;
            padding: 0 5px;
        }
        #couponCodeInput input {
            cursor: pointer;
        }
        #iframeButton{
            display: none!important;
        }
    </style>
{% endblock %}

{% block global %}
    <div class="couponCompany" style="position: relative;background: white;margin-top: 150px">
        <div id="getCouponBlock" style="position:relative;">
<!--GET YOUR DISCOUNT TEXT-->
            <div><p style="font-weight: 500; font-size: 20px; text-align: center;color: grey;">{{ translations.get_your_discount }}</p></div>
<!--DISCOUNT VALUE exaple 2E OFF-->
            <div>
                <div style="position: relative;font-size: 35px">
                    <input maxlength="3" minlength="2" type="text" value="{% if couponPackage is defined %}{{ couponPackage.shortDiscountLabel }}{% endif %}"
                           readonly
                           style="{{ translations.widget_header_discount == 'OFF' ? 'width: 185px;' : 'width: 200px;'}}margin: 10px auto 0px; line-height: 1.2; background: #5cb85c; border-radius: 5px; font-weight: 500; text-align: left; padding-left: 28px; color: white; height:50px"
                           class="user-success">
                    <span style="position: absolute; top: 10px; font-weight: 500; color: white; {{ translations.widget_header_discount == 'OFF' ? 'left: calc(50% + 5px);' : 'left: calc(50% - 5px)'}}"></span>
                </div>
            </div>
<!--GIFT FROM user.name-->
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 35px; font-size: 16px; line-height: 1.5; {% if user.name %} visibility: visible; {% else %} visibility: hidden; {% endif %}">
                <span style="width: 100%; text-align: center;font-size: 17px; color: grey;">{{ translations.here_is_a_gift_from }}
                    <span style="width: auto; text-align: left; margin-left: 5px; color: goldenrod; font-weight: bold;">{{ user.name }}</span>
                </span>
            </div>
<!--TEXT: Any product at company-->
            <div style="line-height: 1.5;">
                <p style="text-align: center;font-size: 17px; color: grey;">
                    {{ translations.get }} <span id="couponValueSpan">{% if couponPackage is defined %}{{ couponPackage.shortDiscountLabel }}{% endif %}</span> {{ translations.off_for_any_product_at }}<br>
                    <span style="font-weight: bold; color: #1976D2 !important">{{ shop.name }}</span>            </p>
            </div>



<!--GET CODE: Get phone number-->
            {% if skipPhoneCode == false %}
            <div id="verifyBlock">
                <div>
<!--                    <p style="font-weight: 700; font-size: 12px; text-align: center;color: grey;">{{ translations.user_can_receive_only_one_code }}</p>-->
                    <p style="text-align: center; color: grey; margin-top:30px; font-size:11px;"><i class="fas fa-user-check"></i> {{ translations.verify_your_phone_number }} <strong> <a href="https://signal.org/download/"><span style="color:grey">{{ translations.signal_app }}</span></a> </strong></p>
                </div>
                <div>

                    <div style="position: relative;font-size: 20px; margin-top: -20px">
                        <input type="text" placeholder="{{ translations.enter_phone_number }}" id="numberToVerify"
                               style="background-color: white;
                                      margin: 20px auto 10px;
                                      border-radius: 10px;
                                      font-weight: 500;
                                      border: 1px solid lightgray;
                                      line-height: 1.2;
                                      padding: 5px;
                                      font-size: 16px;
                                      height: 36px;
                                      width: 250px;
                                      margin-left: auto;
                                      margin-right: auto;" />
                    </div>
                    <div style="width: 100%;max-width:400px;margin: 10px auto;">
                        <div class="checkbox">
                            <label class="share">
                                    <input type="checkbox" id="acceptTC" style="width: auto;top: 3px;">
                                    I agree to <a href="/documents/Terms & Conditions.pdf" style="color: rgb(25, 118, 210); white-space: pre;">Terms &amp; Conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <button type="button" class="btn btn-primary" style="font-size: 20px;" id="btnVerify">{{ translations.send_code }}</button>
                </div>

                <div style="text-align: center; margin-top: 10px;">
                    <div id="validErrorToast"
                         style="text-align: center;visibility: visible;line-height: 1.2;font-size: 10px;color: red;margin-top: 25px; position: absolute;left: 50%;transform: translateX(-50%);top: 273px;">
                    </div>
                </div>
            </div>
<!--VERIFY CODE: Verify phone number-->
            <div id="verifyCodeBlock" style="display: none;">
                <div><p style="font-weight: 500; font-size: 12px; text-align: center;color: grey; margin-top: 60px"><i class="fas fa-user-check"></i> {{ translations.verification_code_text}}  <strong> <a href="https://signal.org/download/"><span style="color:grey">{{ translations.signal_app }}</span></a> </strong> </p></div>
                <div>
                    <div style="position: relative;font-size: 20px">
                        <input type="text" placeholder="{{ translations.verification_code }}" id="codeToVerify"
                               style="background-color: white; margin: -10px auto 10px; border-radius: 10px; border: 1px solid lightgray;line-height: 1.2;padding: 5px;font-size: 16px;height: 36px;width: 100%;max-width: 300px;" />
                    </div>
                </div>
<!--                <p id="demo"></p>-->
                <div style="text-align: center; margin-top: 10px;">
                    <button type="button" class="btn btn-primary" style="font-size: 20px; margin-top: 15px" id="btnVerifyCode">{{ translations.verify }}</button>
                </div>

                <div style="text-align: center; margin-top: 10px;">
                    <div id="validErrorCodeToast"
                         style="text-align: center;visibility: visible;line-height: 1.2;font-size: 10px;top: 25px; color: red; position: absolute;left: 50%;transform: translateX(-50%);margin-top: 303px;">
                    </div>
                </div>
            </div>
            {% endif %}

<!--COUPON CONTAINER: Display Coupon-->
            <div id="couponContainer" style="display: none">
                <div id="copiedToast"
                     style="text-align: center;visibility: hidden;line-height: 1.2;font-size: 10px;color: green;margin-top: 15px;">
                    {{ translations.coupon_copied_to_clipboard }}!
                </div>
                <div id="errorToast"
                     style="text-align: center;visibility: hidden;line-height: 1.2;font-size: 10px;color: red;margin-top: 15px; position: absolute;left: 50%;transform: translateX(-50%);top: 166px;">
                    {{ translations.coupon_get_error }}!
                </div>
                <div id="couponCodeInput" style="position: relative;">
                    <input type="text" readonly
                           value="{% if selfReferring %}No self referrals{% else %}QPON{% endif %}"
                           {% if referrerCoupon is defined %} data-proper="{{ referrerCoupon.code }}" {% endif %}
                           style="background-color: white;width: 100%; max-width: 300px; margin: 10px auto 0px; border-radius: 10px; font-weight: 500; border: 1px solid lightgray;line-height: 1.2;padding: 5px;{% if selfReferring %}font-size: 12px;
                                   color: grey;cursor: pointer;filter: blur(0px);{% else %}font-size: 16px;filter: blur(2px);{% endif %}height: 36px;">
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <a href="{{ url }}">
                        <div class="btn btn-primary" id="btnWebsite">{{ translations.visit }} {{ shop.name }}</div>
                    </a>
                </div>
            </div>
            <div style="display: flex;
                 align-items: center;
                 justify-content: center;
                 margin-top: 15px;
                 font-size: 10px;
                  margin-bottom: -20px;
                  color: grey;
                  white-space: nowrap;
                  background: none">
                <span>*{{ translations.according_to_terms_and_conditions_offer_valid_till }}: </span>
                {% if linkExpiresAt is defined and linkExpiresAt is not null%}
                    {% if linkExpiresAt %}
                        <input type="date" value="{{ linkExpiresAt.format('Y-m-d') }}"
                               readonly
                               disabled
                               style="opacity:1;
                                      width: auto;
                                      text-align: left;
                                      margin-left: 5px;
                                      margin-right: -50px;
                                      color: green;
                                      font-weight: bold;
                                      -webkit-text-fill-color:
                                      green;-webkit-appearance: none;
                                      -webkit-border-radius: 0;
                                      background: none;"
                               class="user-success">
                    {% endif %}
                {% elseif referrerCoupon is defined and referrerCoupon.expiresAt %}
                    <input type="date" value="{{ referrerCoupon.expiresAt | date('Y-m-d') }}"
                           readonly
                           disabled
                           style="opacity:1;
                           width: auto;
                           text-align: left;
                           margin-left: 5px;
                           margin-right: -50px;
                           color: green;
                           font-weight: bold;
                           -webkit-text-fill-color:
                           green;-webkit-appearance: none;
                           -webkit-border-radius: 0;
                           background: none"
                           class="user-success">
                {% else %}
                    <span style="color: green">{{ translations.no_due_date }}</span>
                {% endif %}
            </div>

        </div>
        <div style="font-size: 9px;margin-bottom: -15px;text-align: right;margin-top: 10px; color:grey">
            {{ translations.powered_by }} <strong> <a href="https://valuelink.io/"><span style="color:grey">ValueLink</span></a> </strong>
        </div>
    </div>
{% endblock %}
