<template>
    <form @submit.prevent="showDialog" method="POST">
        <div id="card_content" v-if="subscriptions.length">
            <div class="form-group">
                <label class="control-label required">Subscription</label>
                <select class="form-control" v-model="formData.subscription" @change="">
                    <option v-for="subscription in subscriptions" :value="subscription.id">
                        {{ subscription.plan_name }}
                    </option>
                </select>
            </div>
            <div class="text-right">
                <button :disabled="onTrial === 1" v-if="processing === false" class="btn btn-primary" type="submit">Process</button>
                <button v-else class="btn btn-primary" type="submit" disabled>Processing...</button>
            </div>
        </div>
        <v-dialog/>
    </form>
</template>

<script>
    import Request from '../../../Mixins/Request';

    export default {
        mixins: [Request],
        props: ['user', 'csrf', 'subscriptions', 'onTrial'],
        data() {
            return {
                formData: {
                    subscription: null
                },
                processing: false
            }
        },
        mounted() {
            if (this.subscriptions.length > 0) {
                this.formData.subscription = this.subscriptions[0].id
            }
        },
        methods: {
            save() {
                this.$modal.hide('dialog');
                this.processing = true;
                this.makeRequest('post', `/admin/subscription/${this.formData.subscription}/renew`, {'_token': this.csrf})
                    .then(() => {
                        location.reload();
                    })
                    .catch(error => {
                        this.processing = false;
                    })
            },
            showDialog() {
                this.$modal.show('dialog', {
                    title: 'Process Subscr. Fee',
                    text: 'Are You sure ?',
                    buttons: [
                        {
                            title: 'Yes',
                            handler: this.save
                        },
                        {
                            title: 'No',
                            default: true,
                            handler: () => { this.$modal.hide('dialog') }
                        }
                    ]
                })
            }
        }
    }
</script>