<h1>Hello</h1>
<h3>New contact request:</h3>

<ul>
    <li>Shop: #{{ contactRequest.shop.id }} ({{ contactRequest.shop.name }})</li>
    <li>Skype: {{ contactRequest.skype ?: '-' }}</li>
    <li>Date: {{ contactRequest.contactAt | date('Y-m-d H:i')  }}</li>
    <li>Requested at: {{ contactRequest.createdAt | date('Y-m-d H:i')  }}</li>
</ul>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
