<h1>Hello!</h1>

<p>Please click the button below to verify your email address.</p>

<a href="{{ absolute_url(path('register_email_verification', {token: token, user: user.id})) }}">Verify Email Address</a>

<p>If you did not create an account, no further action is required.</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
