<h1>{{ translation.hello }}!</h1>

<p>{{ translation.please_copy_below_code_verify_your_email_address }}.</p>

<p><strong>{{ token }}</strong></p>

<p>{{ translation.if_you_did_not_create_an_account_no_further_action_is_required }}.</p>

<p>{{ translation.regards }},</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
