<h1>Hello!</h1>

<p>You are receiving this email because we received a password reset request for your account.</p>

<a href="{{ absolute_url(path('auth_password_hash', {hash: hash})) }}">Reset Password</a>

<p>If you did not request a password reset, no further action is required.</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
