<h1>Hello!</h1>

<p>Please click the button below to set a password and activate your account.</p>

<a href="{{ absolute_url(path('set_auth_password_hash', {hash: hash})) }}">Set Password</a>

<p>If you did not create an account, no further action is required.</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
