<h1>Welcome to ValueLink!</h1>
<h3>Thank you for signing up</h3>

<p>Here are the 3 easy ways to get started with ValueLink:</p>

<ul>
    <li>Go to Account settings and fill in the details</li>
    <li>Check Getting Started document to get an in-depth introduction</li>
    <li>Visit Marketplace to see all Affiliate Programs</li>
</ul>

<a href="{{ absolute_url(path('home_index')) }}">Go to ValueLink</a>

<p>If you have any questions simply reply to this email.<br/>We are here to help you.</p>

<p>Regards,</p>

<p>The ValueLink Team <br/>https://www.valuelink.io</p>
