{% extends 'admin/base_tabs.html.twig' %}

{% block tab_name %}active-companies{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.modal-offer__close').on('click touch', function (e) {
            e.preventDefault();
            $(this).closest('.modal-offer').toggleClass('open');
        });

        $('.offer-details-btn').on('click touch', function (e) {
            e.preventDefault();
            $(this).parent().find('.modal-offer').toggleClass('open');
        });
    </script>
{% endblock %}

{% block tab_content %}
    <div class="row">
        {% set now = currentPeriod.start.copy() %}
        {% set prev = currentPeriod.start.copy().subDay() %}
        {% set next = currentPeriod.end.copy().addDay() %}
        <div class="text-right mb-20">
            <a target="_blank"
               href="{{ path('admin_report_referrer_payout_index_all', {year: now.year, month: now.month}) }}"
               class="btn btn-primary">Generate Monthly Installments</a>
        </div>

        <div class="calendar-content" style="padding: 20px 0px;" id="stats">

            <a class="calendar-i-prev" href="{{ path('admin_shop_index', {year: prev.year, month: prev.month}) }}#stats">
                <i aria-hidden="true" class="fa fa-angle-left"></i> <span>Previous month</span>
            </a>
            <div class="calendar-month">
                <span class="current-month">{{ now.format('F') }}</span> <span class="current-year">{{ now.year }}</span>
            </div>
            <a class="calendar-i-next {% if next > date() %}inactive-element{% endif %}" href="{{ path('admin_shop_index', {year: next.year, month: next.month}) }}#stats">
                <span>Next month</span> <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
        </div>
        {% if shops|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>Joined At</th>
                        <th>Company Status</th>
                        <th>Company Name</th>
                        <th>Subscription Type</th>
                        <th>Declared Budget</th>
                        <th>Used Budget</th>
                        <th>Remaining Budget</th>
                        <th>Company Website</th>
                        <th>Contact Details</th>
                        <th>Main Offer</th>
                        <th>Global CPL</th>
                        <th>Special Offers</th>
                        <th>Connection Tested</th>
                        <th>Monthly Installments<br>(previous month)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shop in shops %}
                        <tr>
                            <td>
                                {% set canActivate = shop.user.isSubscribed ? 'true' : 'false' %}
                                {% if shop.hasCashRewards %}
                                    {% if not (shop.user.currencyBalance('EUR') and shop.user.currencyBalance('EUR').amount > 0) %}
                                        {% set canActivate = 'false' %}
                                    {% endif %}
                                {% endif %}
                                <admin-shop-change-status
                                        :current-status="{{ shop.status.id }}"
                                        :shop="{{ shop.id }}"
                                        :accept-status="2"
                                        :rejected-status="4"
                                        reject-text="Suspend"
                                        accept-text="Activate"
                                        :can-active="{{ canActivate }}"
                                ></admin-shop-change-status>
                            </td>
                            <td>{{ shop.user.createdAt|date('Y-m-d H:i') }}</td>
                            <td>
                                {% if shop.user.currentPlan and shop.user.currentPlan.summaryName == 'Expired' %}
                                    Check Required
                                {% else %}
                                    {{ shop.status.name|capitalize }}
                                {% endif %}
                            </td>
                            <td>
                                {{ shop.name }}
                                {% if shop.getRewardsModeName %}
                                    <span style="color: #6c757d; display: block">{{ shop.getRewardsModeName }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if shop.user.currentPlan %}
                                    {{ shop.user.currentPlan.summaryName }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% set rowBudgets = [] %}
                                {% if shop.budgets|length > 0 %}
                                    {% for budget in shop.budgets %}
                                        {% set rowBudgets = rowBudgets|merge({(budget.currency.name): budget.amount}) %}
                                        €{{ budget.amount }}
                                    {% endfor %}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shop.user.balances|length > 0 %}
                                    {% for balance in shop.user.balances %}
                                        €{{ balance.negativeTransactionsSum }}
                                    {% endfor %}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shop.user.balances|length > 0 %}
                                    {% for balance in shop.user.balances %}

                                        {% set remainingPercent = 0 %}
                                        {% if rowBudgets[balance.currency.name] is defined and rowBudgets[balance.currency.name] %}
                                            {% set remainingPercent = (balance.amount * 100 / rowBudgets[balance.currency.name])  %}
                                        {% endif %}

                                        {% if remainingPercent >= 41 %}
                                            {% set color = 'green' %}
                                        {% elseif remainingPercent < 41 and remainingPercent >= 21 %}
                                            {% set color = '#abab1c' %}
                                        {% else %}
                                            {% set color = 'red' %}
                                        {% endif %}

                                        <span style="color: {{ color }}">
                                            €{{ balance.amount }}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shop.website %}
                                    <a target="_blank" href="{{ shop.website }}">[link]</a>
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                <admin-commons-description-modal
                                        desc="{{ shop.user.email }}<br/>{{ shop.user.phone }}"
                                >Check<br/>Details</admin-commons-description-modal>
                            </td>
                            <td>
                                {% if shop.cpsOffer %}
                                    {{ shop.cpsOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{% if not shop.cpsOffer.isCommissionFiexed() == '$' %}%{% endif %}
                                {% else %}
                                    <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if shop.cplOffer %}
                                    {{ shop.cplOffer.commission | number_format(2,'.',',') | replace({'.00' : ''}) }}{% if not shop.cpsOffer.isCommissionFiexed() == '$' %}%{% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% include 'shop/common/offer-modal.html.twig' with {'shop': shop} %}
                                <button class="btn btn-primary offer-details-btn">Check<br/>Details</button>
                            </td>
                            <td>{{ shop.snippetConnectedAt ? 'Yes' : 'No' }}</td>
                            <td>
                                <a target="_blank"
                                   href="{{ path('admin_report_referrer_payout_last_month_index', {shop: shop.id}) }}"
                                   class="btn btn-primary">Generate<br/>CSV</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                There are no companies to show.
            </div>
        {% endif %}
    </div>
{% endblock %}
